<html>
<body>
<script>

var submittedProject = [];
var submittedVersion =  [];
<%for(var i = 0 ;i<submittedProject.length;i++){%>
      submittedProject.push(<%=submittedProject[i].project%>);
<%}%>

<%for(var i = 0 ;i<submittedVersion.length;i++){%>
      submittedVersion.push(<%=submittedVersion[i].version%>);
<%}%>
var isManagerFlag = <%=isManagerFlag%> ; 

var calculateEndFlag = false; 
var someThingUpdated = 0
var submitted =  parseeIntForNan('<%=submitted%>');
var newVersionToBeCreated = parseeIntForNan('<%=newVersionToBeCreated%>');
var remarks = '';
var tempEffortInDays;
var effortIndays = [];
var optStringDep = '<%=optStringDD%>';
var userId      = parseeIntForNan('<%=userId%>');
var optionStr         = '<%=optionStr%>';
var startDateOriginal = '<%=prStartDate%>';
var endDateOriginal   = '<%=prEndDate%>';
var startDate         = startDateOriginal;
var endDate           = endDateOriginal;

var endDateInDatePicker ,startDateInDatePicker ;
var edateTime = '' ,sdateTime = '';
var saturdayOffFlag = 1;/*Take Diff from this Date and Satdurday found diff must be multiple of 14.

*/
var ultimateEndId = parseeIntForNan('<%=ultimateEndId%>');

var treeStructure = <%=JSON.stringify(treeStructure)%>;
var dependeArr   =  <%=JSON.stringify(dependeArr)%>;

var presentIdsArr = JSON.stringify(<%=presentIdsArr%>);

<%if(Tree==''){%>
 var Tree = '';

  <%}else{%>

	var Tree = '<%=Tree%>';
<%}%>
var projectId = parseeIntForNan('<%=prId%>') ;
var version = parseeIntForNan('<%=version%>'); 
function parseeIntForNan(data){
if(isNaN(data)){
  return 0;
}

else return parseInt(data);

}

</script>

<script src = '/js/proj_mngmt.js'></script>
</body>
</html>



