<html>

<head> 
    <% include ../partials/head %>
  
    <% include ../partials/adminheader %>

    <% include header %>

</head>
<title>task manaagement</title>
<script>
var otable = '';

$(document).ready(function(){




  $('.se-pre-con').fadeOut('slow');
$('.proj-img').addClass('active');

otable=$('#projSummary').dataTable({
    'iDisplayLength': 10,
    "order":[]
  });



});

</script>


<body style="overflow-x:none ">

<div class="se-pre-con"></div>

<div class="col-md-12" style="background-color: antiquewhite;margin-left: 0px;padding-left: 2%;margin-right:0px;padding-bottom: 2%;overflow:none;margin-top: 20px;overflow-x: scroll;">
	<div class = 'col-md-12' style = 'margin-top: 20px;padding-bottom: 10px;'>
	<table id = 'projSummary' class="table stripe cell-border hover">
<thead>
<tr>
  <th>Project Name</th>
  <th>Planned Start Date</th>
  <th>Planned End Date</th>
  <th>Planned Actual Start Date</th>
  <th>Planned Actual End Date</th>
  <th>Actual End Date</th>
  <th>Expected Completion</th>
  <th>Actual Completion</th>
  <th>Total Hours Booked</th>
  <th>Completion Based On hours Booked</th>

</tr>



</thead>
<tbody>
  <% console.log('projectDetails.length is',projectDetails.length)%>
  <%for(var i = 0;i<projectDetails.length;i++){%>
<tr><td><%=projectDetails[i].projectTitle%></td>
   <td><%=projectDetails[i].newPlannedStartDate%></td>
    <td><%=projectDetails[i].newPlannedEndDate%></td>

    <%if(false){%>
<td><%=projectTree[i].plActStartDate%></td>
<td><%=projectTree[i].plActEndDate%></td>
<td><%=projectTree[i].actEndDate%></td>
<%}else{%>
<td><%=projectDetails[i].newPlannedActualStartDate%></td>
<td><%=projectDetails[i].newPlannedActualEndDate%></td>
<td><%=actualEndDate[projectDetails[i].id]%></td>
<%}%>



<td><%=effProjectCalculations[projectDetails[i].id]%> %</td>  
<td><%=actProjectCalculations[projectDetails[i].id]%> %</td> 
<td><%=totalHoursBookedFromWbs[projectDetails[i].id]%></td>
  <td><%=calculatePercentageCompletedOnHoursBooked[projectDetails[i].id]%> %</td>

</tr>
<%}%>
</tbody>
	
</table>
</div>








</div>


 </body>

</html>
		
 <%include ../partials/footer %>	
 
