<head> 
<!--     $('.se-pre-con').fadeIn('slow');  -->
    <% include ../partials/head %>
  
    <% include ../partials/adminheader %>

    <% include header %>

</head>
<title>task manaagement</title>
<% 
//console.log('tc is',treeComponent);

/******************Mayur pls remove**********************
var ultimateEndId  = 1000;
var prId = 1;
var projectDetails = [{
                'id' :1,
      'projectTitle' :'Time1' }];
******************Mayur pls remove**********************/

var changedElementsFromDb = [];
for(var i =0;i<changedEleFromDb.length;i++){
    changedElementsFromDb.push([changedEleFromDb[i].projTreeId,changedEleFromDb[i].changedColumn]);
}
//console.log('***************************************************432323***',changedElementsFromDb);
  var newVersionToBeCreated  = verArr.length + 1; 
  var optStringDD = '<option value ="0">--Select</option>';
  var dependantsArr  = [];
   var dependeArr    = [];
var marginleftarr = [];
    marginleftarr[1] = 43;
    marginleftarr[2] = marginleftarr[1] + 19;
    marginleftarr[3] = marginleftarr[2] + 19;
    var treeStructure = [];
    var Tree = '';
    var startCounterTreeComponent;
    var countNumber = 0;
    var  dependantArr = [];

    //console.log('ultimateEndId is ',ultimateEndId);
  //console.log('ultimateEndId is ',ultimateEndId);

  for(var i = 0 ;(i<=ultimateEndId)&&(ultimateEndId!=0);i++){   //here i is table id 
   treeStructure.push([]);

for(var  k = 0 ; k < treeComponent.length; k++){  //here k is index number from array
  if(treeComponent[k].parentId == i){
   treeStructure[i].push(treeComponent[k].id);
      startCounterTreeComponent = k ;
  }
}


}

var newvar = treeStructure;
var submitted  = 0;
var effortArr = ['','Hrs','Days','Weeks','Months','Years'];
var Foldernames = [];
if(!treeComponent.length){
  submitted  = 0;
}

else{
         submitted = treeComponent[0].isSubmit;
    }
for(var i = 0 ;i<treeComponent.length;i++){
var resourceName = '';
for(var j = 0;j<Resources.length;j++){
if(Resources[j].id == treeComponent[i].resources){
resourceName = Resources[j].firstName+' '+Resources[j].lastName;
}

} 

  var newobj =  {      'name' :  treeComponent[i].name,
                    'startDate':  treeComponent[i].startDate,
                     'endDate': treeComponent[i].endDate,
                      'effort':treeComponent[i].effort,
                  'effortType':effortArr[treeComponent[i].effortType],
                  'perc'      : treeComponent[i].percCompleted + ' %',
                  'resc'      : resourceName,
              'plActStartDate':treeComponent[i].plActStartDate,
              'plActEndDate'  : treeComponent[i].plActEndDate,
              'actEndDate'   : treeComponent[i].actEndDate,
               'dependancy'  : treeComponent[i].dependancy,
                'isActive'   : treeComponent[i].isActive
                };
            if(newobj.isActive==-1){
              newobj.endDate  = newobj.endDate + '$$Kaspar0v';
            }    
   Foldernames[treeComponent[i].id] = newobj;
dependantsArr[treeComponent[i].id]  = treeComponent[i].dependancy;




}

var optionStr = '<select class = " ddResources"><option value = "0"> --Select </option>';

for(var i = 0;i<Resources.length;i++){

optionStr = optionStr +'<option value ="'+Resources[i].id+'" >'+Resources[i].firstName+' '+Resources[i].lastName+'</option>';
}
optionStr = optionStr + '</select>';
//console.log(optionStr);


createTree(treeStructure,0,-1);

var hideAddButtonClass = '';

function createTree(idarr,num,level){
      //console.log('loop',num,level);
      var level1 = level + 1;
       
for(var i=0;i<idarr[num].length;i++){
    //console.log('size',idarr[num].length,'inc',i);

//console.log('countNumber is',countNumber);
  countNumber++;
           


 if(level==-1){
      if(!treeStructure[idarr[num][i]].length){
         hideAddButtonClass = ' deleteCSS ';
        var buttonStr = '/img/project/grey_button1.jpg';    
       
      }

    else {
            hideAddButtonClass = '';
           var buttonStr = '/img/project/minus.png';

            
         }


//console.log('pl Act startDate is',Foldernames[idarr[num][i]].plActStartDate);


Tree = Tree + '<tr id = '+idarr[num][i]+'_rowid_'+num+' ><td><center><b style = "font-size:12px;">'+countNumber+'</b></center></td><td class="phase bold1"><img src="'+buttonStr+'" id = "'+idarr[num][i]+'_sign_'+num+'" onclick = "collapseExpand(this.id,1)" class="minus '+hideAddButtonClass+'" height="18px" title="Add Phase" width="18px" style="margin-right:5px;">'+Foldernames[idarr[num][i]].name+'</td><td class="images1 bold1"><img src="../img/bug/addbug.png" id = "'+idarr[num][i]+'_add_'+num+'"  class="shadow phaseImg" onclick = "addRow(this.id)"  height="18px"  title = "Add Phase"   width = "18px" ></td><td class="images1 bold1"><img src="../img/write.png" onclick = "editRow(this.id,0)" id = "'+idarr[num][i]+'_edit_'+num+'"    height="22px" class="shadow editRowClass" title="Add Phase" width="22px"></td><td class="dateCSS bold1">'+Foldernames[idarr[num][i]].startDate+'</td><td class="dateCSS bold1">'+Foldernames[idarr[num][i]].endDate+'</td><td class="dateCSS bold1">'+Foldernames[idarr[num][i]].plActStartDate+'</td><td class="dateCSS bold1">'+Foldernames[idarr[num][i]].plActEndDate+'</td><td class = "dateCSS bold1">'+Foldernames[idarr[num][i]].actEndDate+'</td><td class="effCSS bold1">'+Foldernames[idarr[num][i]].effort+' '+Foldernames[idarr[num][i]].effortType+'</td><td class = "bold1">'+Foldernames[idarr[num][i]].perc+'</td><td><select class = "ddDepClass" id = "'+idarr[num][i]+'_ddDep_'+num+'" ></select></td></td><td>'+Foldernames[idarr[num][i]].resc+'</td></tr>';
       }

 else if(level==0){
                            console.log('in level 0');
    if(!treeStructure[idarr[num][i]].length){
     // console.log('in  level 0 if',treeStructure[idarr[num][i]].length);
     
        var buttonStr = '../img/project/grey_button1.jpg';  
       
      }

    else {
     //  console.log('in  level 0 else',treeStructure[idarr[num][i]].length);
            hideAddButtonClass = '';
      var buttonStr = '../img/project/plus.png';

         }




         
 Tree = Tree + '<tr id = '+idarr[num][i]+'_rowid_'+num+' ><td><center style = "font-size:12px;">'+countNumber+'</center></td><td class="task"><img src="'+buttonStr+'" class="plus'+hideAddButtonClass+'" onclick = "collapseExpand(this.id,1)"  id = '+idarr[num][i]+'_sign_'+num+' height="18px" title="" width="18px" style="margin-right:5px;">'+Foldernames[idarr[num][i]].name+'</td><td class="images1 bold1"><img src="../img/bug/addbug.png" class="shadow " height="18px" onclick = "addRow(this.id)"  id = '+idarr[num][i]+'_add_'+num+' title="Add Child" width="18px"></td><td class="images1 bold1"><img src="../img/write.png" onclick = "editRow(this.id,0)" id = '+idarr[num][i]+'_edit_'+num+' height="22px" class="shadow editRowClass" title="Add Child" width="22px"></td><td class="dateCSS">'+Foldernames[idarr[num][i]].startDate+'</td><td class="dateCSS">'+Foldernames[idarr[num][i]].endDate+'</td><td class="dateCSS ">'+Foldernames[idarr[num][i]].plActStartDate+'</td><td class="dateCSS ">'+Foldernames[idarr[num][i]].plActEndDate+'</td><td class = "dateCSS ">'+Foldernames[idarr[num][i]].actEndDate+'</td><td class="effCSS">'+Foldernames[idarr[num][i]].effort+' '+Foldernames[idarr[num][i]].effortType+'</td><td>'+Foldernames[idarr[num][i]].perc+'</td><td><select class = "ddDepClass" id = "'+idarr[num][i]+ '_ddDep_'+num+'" ></select></td><td>'+Foldernames[idarr[num][i]].resc+'</td></tr>';
     

      } 




      else if(level==1){
     //   console.log('in level 1');
 Tree = Tree + '<tr id = "'+idarr[num][i] +'_rowid_' + num + '" class = " yomyfiriend hide"><td><center style = "font-size:12px;">' + countNumber + '</center></td> <td class = "subtask" ><img src = "../img/project/button.png" class = "shadow donthide" height = "18px" title = "" width = "18px" style = "margin-right:5px;" > '+Foldernames[idarr[num][i]].name+' </td><td class="images1 bold1"></td ><td class = "images1 bold1"><img src = "../img/write.png"  onclick = "editRow(this.id,0)" id = "'+idarr[num][i]+'_edit_'+num+'" height = "22px"  class = "shadow editRowClass"  title = "Add Child" width = "22px"></td><td class="dateCSS">'+Foldernames[idarr[num][i]].startDate+'</td ><td class = "dateCSS">'+Foldernames[idarr[num][i]].endDate+'</td><td class="dateCSS">'+Foldernames[idarr[num][i]].plActStartDate+'</td><td class = "dateCSS">'+Foldernames[idarr[num][i]].plActEndDate+'</td><td class = "dateCSS">'+Foldernames[idarr[num][i]].actEndDate+'</td><td class="effCSS ">'+Foldernames[idarr[num][i]].effort+' '+Foldernames[idarr[num][i]].effortType+'</td><td>'+Foldernames[idarr[num][i]].perc+'</td><td><select class = "ddDepClass" id = "'+idarr[num][i]+ '_ddDep_'+num+'"></select></td> <td>'+Foldernames[idarr[num][i]].resc+'</td></tr>';

      
}

   



  else{
    console.log('Error!!!!',i,num,idarr[num]);
      }

optStringDD = optStringDD + '<option value = "'+idarr[num][i]+'" class = "depDD_'+idarr[num][i]+'" ><span class = "spanDepDD_'+idarr[num][i]+'" >'+countNumber+' </span></option>';
  var depeeArr = [idarr[num][i],num,Foldernames[idarr[num][i]].dependancy]
dependeArr.push(depeeArr);
/*****************Enter code here*****************/

/************************************************/









  if(level<1){
  createTree(idarr,idarr[num][i],level1);
   }




//console.log('optStringDD is here******************',optStringDD);



}
//console.log('return',num);
return ;


}


 var newno = parseInt(version) + 1;

var presentIdsArr = [];
for(var i = 0 ;i<treeComponent.length;i++){
presentIdsArr.push(treeComponent[i].id);
}

console.log('dependeArr is',dependeArr);
%>

<html>
<body style="overflow-x:none ">
<div class="se-pre-con"></div>


<div class="row" style="margin-left: 0px;padding-left: 2%;margin-right: 0px;padding-bottom: 2%;overflow:none ">
  <div  style="padding-top: 17px;padding-bottom: 4px;width: 122%" class = 'col-md-12' >
  <!--  <label>Select Project</label> -->




  <div class = 'col-md-2' style = 'width: 11%;'>
      Status : <b id = 'statusSub'>Draft</b>       
    </div>
    <div id ='tbodyhidden123' class = 'hide'></div>
    <div class = 'col-md-1'>
    <span>Project :</span>
  </div>
      <div class = 'col-md-3' style = ' margin-left: -4%;margin-right:-5%;'>

    <select class="form-control" style="width: 300px;margin-top: -2%;" id ='proSel'>
      <%for(var i = 0;i<projectDetails.length;i++){%>
      <option value = '<%=projectDetails[i].id%>'><%=projectDetails[i].projectTitle%></option>
      <%}%>
    </select>
    </div>

<!--- Dev Code-->
 
 <div class = 'col-md-1'>
    <span style = 'margin-left:14%;'>Version :</span>
  </div>
      <div class = 'col-md-1' style = ' margin-left: -3%;'>

    <select class="form-control" style="width: 90px;margin-top: -10%;" id ='verSel'>
        <%for(var i = 0;i<verArr.length;i++){%>
      <option value = '<%=verArr[i]%>'><%=verArr[i]%></option>
      <%}%>
   
    </select>
    </div>

<!-- Dev Code-->

  <div class = 'col-md-2 ' style ='margin-left: -1%;width:15%;' >Start Date :<b><%=prStartDate%></b> </div>
    <div class = 'col-md-2' style = 'width: 14%;margin-left: -4%;'>End Date :<b><%=prEndDate%></b></div>
   <button type="button" class="btn btn-success hide" id="adMenu" style=";height: 30px;background-color: #f05f40;border-color: 
   #f05f40;margin-top:-0.4%;margin-left:-3%;" onclick="hideUnhideToggle()">Advanced Menu </button>
 </div>

 <div class="row toggleMe" id = "toggleId" style="
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 0%;
">
    <button class="btn btn-success buttonMenu"  style = "padding-right:8px" title = "expand all" onclick = "expandTree()"><span class="glyphicon glyphicon-plus spanMenu" ></span></button>
 <button class="btn btn-success buttonMenu" title = "collapse all" onclick = "collapseTree()"><span class="glyphicon glyphicon-minus spanMenu" ></span></button>
 <button class="btn btn-success buttonMenu" title = "download as excel" onclick = "downloadasExcel(0)"><span class="glyphicon glyphicon-download spanMenu" ></span></button> 
 <a class = "hide" style ="width:0;height:0" id = "downloadHere">sdsd</a>
  <button class="btn btn-success buttonMenu " title = "send project Excel to" onclick = "sendProjExcelTo()"><span class="glyphicon glyphicon-envelope spanMenu" ></span></button> 
  
  <select multiple="multiple" class="form-text-box hide mailClass" style="width:10%;" id ="sendMailTo" maxlength="50">
<%for(var i =0;i<usersAll.length;i++){%>
<option value = "<%=usersAll[i].userEmail%>"><%=usersAll[i].firstName%> <%=usersAll[i].lastName%></option>
<%}%>
    </select>
 <button class="btn btn-success hide mailClass" alt = "send project Excel to" onclick = "downloadasExcel(1)">Send Mail</button>

  <span style="
    margin-left: 2%;
"> Show : </span>
         <select class="form-control" style="width: auto;margin-top: -10%;display: INLINE;margin-right:2%" id="dueDate">
              <option value="1" >All</option>
              <option value="2" >Due Today</option>
              <option value="3">Due Tommorow</option>
              <option value="4">Due In next 7 Days</option>
         </select>
  <button class="btn btn-success buttonMenu " title = "send project Excel to" onclick = "hideUnhideCollaborbutton()"><span class="glyphicon glyphicon-user spanMenu" ></span></button> 

    <select multiple="multiple" onchange= "collOnChange()" class="form-text-box hide collaborateClass" style="width:10%;" id ="collaborateId" maxlength="50">
<%for(var i =0;i<usersAll.length;i++){%>
<option value = "<%=usersAll[i].id%>"><%=usersAll[i].firstName%> <%=usersAll[i].lastName%></option>
<%}%>
    </select>

<!--          <span style="margin-left: 1%;">Show Plan To :  </span>
   


    <span style="margin-left: 1%;" >Send mail  To :  </span>
    <select multiple="multiple" class="form-text-box" style="margin-top:26%;width:100%;
    margin-bottom: -56%;" id ="sendMailTo" maxlength="50">
        <option value="1" >All</option>
              <option value="2" >Due Today</option>
      <option value="3">Due Tommorow</option>
      <option value="4">Due In next 7 Days</option>
    </select>
    -->
  
      </div>




  <div class="col-md-12" id="taskBox" style="margin-top: 5px;margin-right: 1%;border: #f05f40 solid;background-color: white;padding-bottom: 2%;">
    <div class="wrapper1 col-md-12">
  <div class="div1"></div>
</div>
     <div class="addTask" id = "projTable2" style = 'position: relative;overflow-x: scroll;'id="projTable">
        <!--  Insert table here -->    

<table border='3' id = "projTable" >
  <div class="row showborders toggleMe " id = "toggleId" style=" margin-bottom: 5PX;margin-top:-1%">  

  </div>
    <thead>
        <tr id='0_rowid_-1'>
            <th style="min-width:25px;" id="th1">#
                <div id='th1-sizer'></div>
            </th>
            <th style="min-width:300px" id="th2">Name
                <div id='th2-sizer'></div>
            </th>
            <th style="" id = 'th3'><img src="../img/bug/addbug.png" class="shadow" id='0_add_-1' onclick="addRow(this.id)" height="18px" title="Add Phase" width="18px">
                <div style='font-size:8px;'>Add Phase</div>
                <div id='th3-sizer'></div>
            </th>
            <th style="min-width:61px;" id="th4">Action<div id='th4-sizer'></div></th>
            <th id="th5" style="min-width:90px;"><span class = "dateLabelHeaders">Pl. Start Date</span><input type="text"  id = "sDateFilter" class="form-control datePickerFilter"><div id='th5-sizer'></div></th>
            <th id="th6" style="min-width:90px;"> <span class = "dateLabelHeaders">Pl. End Date</span><input type="text"  id = "eDateFilter" class="form-control datePickerFilter"><div id='th6-sizer'><div id='th6-sizer'></div></th>
            <th id="th7" style="min-width:120px;"><span class = "dateLabelHeaders">Act. Pl. Start Date</span><input type="text" id = "pActSDateFilter"  class="form-control datePickerFilter"><div id='th7-sizer'></div></th>
            <th id="th8" style="min-width:114px;"><span class = "dateLabelHeaders">Act. Pl. End Date</span><input type="text" id = "pActEDateFilter" class="form-control datePickerFilter"><div id='th8-sizer'></div></th>
            <th id="th9" style="min-width:90px;"><span class = "dateLabelHeaders">Act. End Date</span><input type="text" id = "actEDateFilter"  class="form-control datePickerFilter"><div id='th9-sizer'> </div></th>
            <th id="th10" style="min-width:106px;">Effort<div id='th10-sizer'></div></th>
            <th id="th11" style="min-width:90px;"> % Completed<div id='th11-sizer'></div></th>
            <th id="th12" style="min-width:100px;">Dependencies<div id='th12-sizer'></div></th>
            <th id="th13" style="min-width:104px;"><div id='th13-sizer'></div></th>
        </tr>
    </thead>
    <tbody id='tbody123'> </tbody>
</table>

      </div>  
  </div>
  <!--  <div style = ''> -->
   <button type="button" class="btn btn-success" id = 'saveId' style=" margin-bottom: -6%;height: 30px;background-color: #f05f40;border-color: #f05f40;margin-top:1%;margin-left:85%;" onclick="savethis(0,1)">Save</button>
    <button type="button" class="btn btn-success"  id = 'submitId'  style=" margin-bottom: -1%;height: 30px;background-color: #f05f40;border-color: #f05f40;margin-top:1%;margin-left:91%;" onclick="savethis(1,1)">Submit</button>
<!--     <div>
 --></body>
</div>

    
 <% include ../partials/footer %> 
 

   <!------------------------------editTask/addSubTask---------------------------->
        <div class="modal fade" id="rejectModal" style="height:auto">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" id="express2">
                    <div class="modal-header" style="background-color:#f05f40;height:40px">
                       <center>
                   <h4 id="taskModalHeading" class="modal-title" style="color:white;font-size:14pt;margin-top: -8px">Reason for Rejection</h4>
                              <project/button type="project/button" class="close" data-dismiss="modal" style="float:right;margin-top: -28px">&times;</project/button>
                             </center>
                    </div>
                <div class="modal-body" id="iremarkdiv" style="margin:10px;height: 110px">
        <textarea style="float:left;width:100%;height:123%;width:102%" id="remarksId"  maxlength="10000" class='form-control description'></textarea>
       </div>
     <div class = 'modal-footer'>
   <button type="button" class="btn"  onclick = 'approvethis(0,1)' style="" data-dismiss = 'modal'>Submit</button>
    <button type="button" class="btn"  style="" data-dismiss = 'modal'>Cancel</button>
                            </div>
                       </div>
                         
                      </div>
                </div>
            </div>
        </div>


    <link  type="text/css"   href = '/stylesheets1/stylesheets/proj_css.css' rel="stylesheet" >
   <% include ../project/proj_mngmt_script.ejs %>

        </html>


        <!--  <div class="row" style="
    margin-bottom: 5PX;
">  <input type="text" style="
    margin-left: 36%;
    width: 7%;
    font-size: 10px;
    margin-right: 0px;
    display: inline;
    " class="form-control"> 
  <input type="text" style="
    margin-left: 0%;
    width: 7%;
    font-size: 10px;
    display: inline;
    " class="form-control">  <input type="text" style="
    margin-left: 0%;
    width: 10%;
    margin-right: 1%;
    font-size: 10px;
    display: inline;
    " class="form-control"><input type="text" style="
    margin-left: 0%;
    width: 9%;
    font-size: 10px;
    display: inline;
    " class="form-control"></div> -->
