
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color:white;font-family: Merriweather,'Helvetica Neue',Arial,sans-serif">
<div class="container-fluid">
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    <% if(logo){%> <a href="/portal" class="subheaderMaster">  <img src="/attach/<%=logo%>" class="subheaderMaster"  height="70px" width="70px" /></a>
      <%}else {%>
        <a href="/portal" class="subheaderMaster"> <img class="subheaderMaster" src="/images/brand_logo.gif" href="/portal" height="70px" width="70px" /></a>
        <%}%>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <%if(roleid==1){%>
        <li> <img src="../img/cart.png" class="hide subheaderMastersrc" id="cart" title="install new module" data-toggle="modal" data-target="#mymodel" style="width: 38px;margin-top: 18%;margin-right: 10px;"> </li>
        <%}%>
          <%if((roleid==1)||(assetrole== 1)){%>
            <li class="modulemenu active setting-tab">
              <a class="page-scroll " href="/portal"> <label class="header-title">Setting </label> </a>
            </li>
            <%}%>
              <%if(myModules.indexOf(1)>=0){%>
                <li id="noti_Container" class="modulemenu bug-tab">
                  <div id="noti_Counter" class = "notiClass"></div>
                  <a id="bugAdminHeader" class="page-scroll " href="/bugHome"> <label class="header-title">BUG </label> </a>
                </li>
                <%}%>
                  <%if(myModules.indexOf(6)>=0){%>
                    <li class="modulemenu document-tab">
                      <a class="page-scroll " onclick="return verifyCustomRole()"> <label class="header-title">DOCUMENT</label> </a>
                    </li>
                    <%}%>
                      <%if(myModules.indexOf(3)>=0){%>
                        <li class="modulemenu expense-tab"> <a class="page-scroll " href="/expense"><label class="header-title">EXPENSE  </label></a> </li>
                        <%}%>
                          <%if(myModules.indexOf(4)>=0){%>
                            <li class="modulemenu asset-tab">
                              <%if(assetrole== 1){%> <a class="page-scroll " href="/inventory"><label class="header-title">ASSET  </label></a>
                                <%} else{%> <a class="page-scroll " href="/AssignAsset"><label class="header-title">ASSET  </label></a>
                                  <%}%>
                            </li>
                            <%}%>
                              <%if(myModules.indexOf(2)>=0){%>
                                <li id="noti_Container_timesheet" class="modulemenu timesheet-tab">
                                  <div id="noti_Counter_timesheet" class = "notiClass"></div> <a class="page-scroll " href="/timesheet?flag=0"><label class="header-title">TIMESHEET  </label></a> </li>
                                <%}%>
                                  <%if(myModules.indexOf(7)>=0){%>
                                    <li class="modulemenu rms-tab"> <a class="page-scroll " href="/rms"><label class="header-title">RMS  </label></a> </li>
                                    <%}%>
                                      <%if(myModules.indexOf(5)>=0){%>
                                        <li class="modulemenu project-tab"> <a class="page-scroll " href="/task"><label class="header-title">Project</label></a> </li>
                                        <%}%>
                                          <li style=" float:right ;" title="Logout">
                                            <a class="imageInc" href="/logout"><img src="/img/logout.png" id="logout" width="25px" height="25px" style=" margin-top:-2px " /></a>
                                          </li>
                                          <!-- <li style=" float:right"title="Change Password">
                        <a data-toggle='modal' data-target='#changepass'>
                    <img class="imageInc" src="/img/change.png"  id="changepassimg" width="25px" height="25px" style="margin-top:-5px;float:right;"/>
                    </a>
                    </li> -->
                                          <li class="modulemenu">
                                            <a class="dropdown-toggle" id="dropdownToggleId" data-toggle="dropdown"> <label class="header-title" style="color:#f04050;">Hi, <%= user%> </label> <span class="caret"></span> </a>
                                            <ul class="dropdown-menu" style="text-align:center">
                                              <% if(!parseInt(isRetailer)){ %>
                                                <li><a style="cursor:pointer;font-size:12px" onclick="changeselectedsup()" data-toggle="modal" data-target="#changeSuper"><i class="fa fa-user-secret" style="float:left;margin-top:3px;margin-left:-9px" aria-hidden="true"></i>Change Supervisor</a></li>
                                                <%}%>
                                                  <li><a data-toggle='modal' data-target='#changepass' style="cursor:pointer;font-size:12px"><i class="fa fa-key" style="float:left;margin-top:3px;margin-left:-9px" aria-hidden="true"></i>Change Password</a></li>
                                            </ul>
                                          </li>
    </ul>
  </div>
  </div>
</nav>

<div class="modal fade" id="changeSuper" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" id="express2">
      <div class="modal-header" style="background-color:#f05f40;"> <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px">&times;</button>
        <center> <label id="head4" class="modal-title" style="color:white;"> Change Supervisor</label> </center>
      </div>
      <div class="modal-body">
        <div class="col-md-12 a">
          <div class="col-md-4"> <label class="form-Label">Choose Supervisor :</label> </div>
          <div class="col-md-8"> <select class="form-text-box" id="chngSuper">
                             <option value="0">select</option>
                             <%for(var i=0;i<allSuperVisors.length;i++){ console.log(allSuperVisors[i].id)%>
                              <option value="<%=allSuperVisors[i].id%>" <%if(allSuperVisors[i].id == mySupervisor) {%> selected <%}%> >
                <%=allSuperVisors[i].name%> </option>
                              <%}%>
                             </select> </div>
        </div>
        <div class="modal-footer" style="border-top:0px;padding:0px">
          <center style="padding-top:6%"> <button id="cancel" type="reset" data-dismiss="modal" class="btn btn-primary" onclick="resetSelect();">Cancel</button> <a onclick="return saveSupervisor()" class="btn btn-primary">Submit</a> </center>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <center> -->
  <div class="modal fade " id="changepass" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="express2">
        <div class="modal-header" style="background-color:#f05f40;"> <button type="button " class="close" data-dismiss="modal">&times;</button>
          <center><label id="head4" class="modal-title" style="color:white; "> Change Password </label></center>
        </div>
        <div id="err" class="col-lg-6 col-sm-offset-3"></div>
        <div class="modal-body">
          <div class="clearfix form-group">
            <div class="col-md-4"> <label>Old Password:</label> </div>
            <div class="col-md-8"> <input type="password" maxlength="45" class="form-control" id="oldpass" name="oldpass" /> </div>
          </div>
          <div class="clearfix form-group">
            <div class="col-md-4"> <label>New Password:</label> </div>
            <div class="col-md-8"> <input type="password" maxlength="45" class="form-control" id="newpass" name="newpass" /> </div>
          </div>
          <div class="clearfix form-group">
            <div class="col-md-4"> <label>Confirm Password:</label> </div>
            <div class="col-md-8"> <input type="password" maxlength="150" class="form-control" id="confpass" name="confpass" /> </div>
          </div>
          <div class="modal-footer" style="border-top:0px;padding:0px;padding-top:5px">
            <center style="padding-top:2%"> <button id="cancel" type="reset" data-dismiss="modal" class="btn btn-primary ">Cancel</button> <a onclick="return changePassword()" class="btn btn-primary">Submit</a> </center>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </center> -->
<div class="modal fade" id="mymodel" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" id="express2">
      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color:white">Choose New Module</h4>
      </div>
      <div class="modal-body"> <input type="hidden" value="" id='hmodules' name="hmodules">
        <div class="row">
          <div class="col-md-2"><label>Type :</label></div>
          <div class="col-md-5"><input type="radio" name="offer" checked="true"> Free</div>
          <div class="col-md-5"><input type="radio" name="offer">Paid</div>
        </div>
        <center>
          <table border="2" class="CSSTableGenerator">
            <tr style="font-size:15px;font-weight:2px;height:15px;color:black;text-align:center; ">
              <th style="text-align:center">Modules</th>
              <th style="text-align:center"> Duration</th>
              <th style="text-align:center"># Users</th>
              <th style="text-align:center">Action</th>
            </tr>
            <%if(myModules.indexOf(1)<0){%>
              <tr style="text-align:center" class="cellborder">
                <td style="text-align:center" style="width:50%">Bug Management</td>
                <td style="text-align:center">30 Days</td>
                <td style="text-align:center">10 Users</td>
                <td style="text-align:center"> <input type="checkbox" class=" chk" id="1" value="1" name="newusername" style=" "> </td>
              </tr>
              <%}%>
                <%if(myModules.indexOf(2)<0){%>
                  <tr>
                    <td style="text-align:left;padding-left:55px" > Timesheet Management</td>
                    <td style="text-align:center">30 Days</td>
                    <td style="text-align:center">10 Users</td>
                    <td style="text-align:center"> <input type="checkbox" class="chk" id="2" value="2" name="timecheck" style=" " align="center"> </td>
                  </tr>
                  <%}%>
                    <%if(myModules.indexOf(3)<0){%>
                      <tr>
                        <td style="text-align:left;padding-left:55px" > Expense Management</td>
                        <td style="text-align:center">30 Days</td>
                        <td style="text-align:center">20 Users</td>
                        <td style="text-align:center"> <input type="checkbox" class="chk" value="3" id="3" name="expensecheck" style="  " align="center"> </td>
                      </tr>
                      <%}%>
                        <%if(myModules.indexOf(4)<0){%>
                          <tr>
                            <td style="text-align:left;padding-left:55px"> Asset Management</td>
                            <td style="text-align:center">30 Days</td>
                            <td style="text-align:center">20 Users</td>
                            <td style="text-align:center"> <input type="checkbox" class="  chk" value="4" id="4" name="assetcheck" style=" " align="center"> </td>
                          </tr>
                          <%}%>
                            <%if(myModules.indexOf(7)<0){%>
                              <tr>
                                <td style="text-align:left;padding-left:55px">Recruitment Management System</td>
                                <td style="text-align:center">30 Days</td>
                                <td style="text-align:center">20 Users</td>
                                <td style="text-align:center"><input type="checkbox" class="chk" value="7" id="7" name="rmscheck" style=" " align="center"> </td>
                              </tr>
                              <%}%>
                                <%if(myModules.indexOf(5)<0){%>
                                  <tr>
                                    <td style="text-align:left;padding-left:55px">Project Management System</td>
                                    <td style="text-align:center">30 Days</td>
                                    <td style="text-align:center">20 Users</td>
                                    <td style="text-align:center"> <input type="checkbox" class="  chk" value="5" id="5" name="projectcheck" align="center"> </td>
                                  </tr>
                                  <%}%>
                                    <%if(myModules.indexOf(6)<0){%>
                                      <tr>
                                        <td style="text-align:left;padding-left:55px">Document Management</td>
                                        <td style="text-align:center">30 Days</td>
                                        <td style="text-align:center">5 Users</td>
                                        <td style="text-align:center"> <input type="checkbox" class=" chk" value="6" id="6" name="documentcheck" align="center"></td>
                                      </tr>
                                      <%}%>
          </table>
        </center>
        <div class="modal-footer" style="border-top:0px;">
          <center> <button onclick="installModule()" class="btn btn-default" style="margin-top:10px;background-color:#f05f40;color:white;padding-top: 4px; width:100px;height:30px;">Install</button>
            <!--   <div class="progress-bar" style="width: 100%;"> </div> -->
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var myModules = JSON.parse("[" + '<%=myModules%>' + "]");
  var totalModules = [1, 2, 3, 4, 5, 6, 7];
  var difference = [];
  jQuery.grep(totalModules, function(el) {
    if (jQuery.inArray(el, myModules) == -1) difference.push(el);
  });
  $(document).ready(function() {
   /* $("#chngSuper").tagger({
      "fieldWidth": "24em"
    });*/
    $('#cancel').click(function() {
      $('#newpass').val('');
      $('#confpass').val('');
      $('#oldpass').val('');
    });
    if ($('.portal-menu').hasClass('hide')) {
      $('setting-tab').removeClass('active');
    }
    $('#changepassimg').css('cursor', 'pointer');
    if (difference.length != 0) {
      $("#cart").removeClass("hide");
    }
    if ('<%=notification.time_notification%>' != 0) {
      $('#noti_Counter_timesheet').css({
        opacity: 0
      }).text('<%=notification.time_notification%>').css({
        top: '-10px'
      }).animate({
        top: '-2px',
        opacity: 1
      }, 500);
    }
    if ('<%=notification.bug_notification%>' != 0) {
      $('#noti_Counter').css({
        opacity: 0
      }).text('<%=notification.bug_notification%>').css({
        top: '-10px'
      }).animate({
        top: '-2px',
        opacity: 1
      }, 500);
    }
    if ($('.bug-tab').attr('class') == 'modulemenu bug-tab active') {
      //if( $('.viewbug-img').attr('class') == 'viewbug-img active' ){
      $('#noti_Counter').fadeOut('slow');
      $.ajax({
        url: '/updateNotification',
        type: 'post',
        data: {
          'moduleType': 'bug',
          "editNotification": 1
        },
        dataType: 'json',
        success: function(data) {}
      });
      return false;
      // }
    }
    if ($('.timesheet-tab').attr('class') == 'modulemenu timesheet-tab active') {
      $('#noti_Counter_timesheet').fadeOut('slow');
      $.ajax({
        url: '/updateNotification',
        type: 'post',
        data: {
          'moduleType': 'timesheet',
          "editNotification": 1
        },
        dataType: 'json',
        success: function(data) {}
      });
      return false;
    }

$(".notiClass").each(function(){
if($(this).text()==''){
  $(this).hide();
}
});


  });

  function changeselectedsup(){
    
    $('#chngSuper').val(<%=mySupervisor%>);
  }

  function installModule() {
    var tempCount = 0;
    var tempArray = [];
    for (i = 0; i < difference.length; i++) {
      if ($("#" + difference[i]).prop("checked") == true) {
        tempArray[tempArray.length] = difference[i];
      }
    }
    if (tempArray.length == 0) {
      alert("No  module selected");
      return false;
    }
    $.ajax({
      url: '/addNewModules',
      type: 'post',
      data: {
        "modules": tempArray.toString()
      },
      success: function(data) {
        alert("added successfully");
        window.location.reload();
      },
      error: function() {
        window.location.reload();
      },
      dataType: 'JSON',
    });
  }

  function saveSupervisor() {
    if (!parseInt($("#chngSuper").val())) {
      alert("select a Supervisor!");
      return false;
    }
    $.ajax({
      url: '/changeSupervisor',
      type: 'post',
      data: {
        "supervisorId": $("#chngSuper").val()
      },
      success: function(data) {
        alert("Supervisor changed successfully!");
        $("#changeSuper").hide();
        window.location.reload();
      }
    });
  }

  function verifyCustomRole() {
    var check = 1;
    $.ajax({
      url: '/verifyCustomRole',
      async: false,
      type: 'get',
      success: function(data) {
        if (data) {
          return true;
        } else {
          check = 0;
        }
      },
      error: function() {
        alert("error");
      },
      dataType: 'JSON',
    });
    if (check == 0) {
      alert("Error : you are not assigned any CustomRole , please contact admin ");
      window.location.href = "\portal";
      return false;
    } else {
      window.location.href = "\document";
      return true;
    }
  }

  function changePassword() {
    var oldbox = $('#oldpass').val();
    var newpass = $('#newpass').val();
    if (oldbox.trim() == '') {
      alert("Please enter valid Old Password!");
      return false;
    }
    if (newpass.trim() == '') {
      alert("Please enter valid New Password!");
      return false;
    }
    if (newpass != $('#confpass').val()) {
      alert("Confirm Password does not match!");
      return false;
    } else {
      $.ajax({
        url: '/changePassword',
        method: 'POST',
        data: {
          "pass": newpass,
          'oldpass': oldbox
        },
        success: function(data) {
          //alert(data[0].i);
          if (data == '1') {
            alert("Password Changed Successfully");
            window.location.reload();
          } else {
            alert("Old Password incorrect!");
          }
        },
        dataType: 'JSON',
      });
    }
  }

function resetSelect()
{
  
}
</script>