<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>

    <head>
        <style>
             .tagger {
                border: -1px steelblue !important;
                background-color: #fff !important;
                cursor: text;
                font-family: sans-serif;
                font-size: 10pt !important;
                padding: 10px 7px 3px 4px !important; 
                display: table-cell !important;
            }
             
            .marginAlign {
                margin-top: 2%;
            }
            
            .marginLeftLebel {
                margin-left: -8%;
            }
            
              
            sup {
                color: red;
            }
            
            textarea {
                resize: none;
            }
            
            form {
                display: inline;
            }
            
            #tech label input {
                position: absolute;
                top: -20px;
            }
            
            #tech label {
                position: relative;
                display: block;
                overflow: hidden;
            }
            
            .dialog {
                display: none;
            }
            
          /*  input[type=radio] {
                margin: 18px -1px 7px !important;
                margin-top: 1px\9;
                line-height: normal;
            }
            */
            

            body {
                overflow-x: hidden;
            }
            
            .panel-heading {
                padding: 0px 15px !important;
            }
        </style>


    </head>

    <body>
        <div>
            <% include ./partials/adminheader %>
        </div>


<div class="se-pre-con"></div>
      <div id="ModalAdd"></div> 
      <div id="ModalAddMesage"></div>

<div class="secondry-color" style=" padding-top:1%;">
<span title="Go To WBS List" onclick="document.location.href='/wbsDetails';" style="float:left;width: 25px;height: 30px;font-size: 20px;color:green;    padding-left: 13px;"  class="glyphicon glyphicon-arrow-left"></span>

  <span class="modal-title" style="padding-left:45%">WBS Details</span>
  <div class="row" style="padding-left: 50px;padding-right: 50px;padding-top: 1%">
 <!-- <form method="post" action="/addEditWbsDetails" method="post" class="login-form" id="form1" name="myForm"> -->
  <input type="text" name="wbshidden" class="hide" id="wbshidden" value='' />
          <input type="text" name="flaghide" class="hide" id="flaghide" <%if(flag==1 ){ console.log( 'Nae is ', name)%>value='  <%=flag%>' <%} else{%> value=0 <%}%> />
          <input type="text" name="wbsidhide" class="hide" id="idhide" <%if(flag==1 && typeof (name[0][0]) !='undefined' ){%>value=' <%=name[0][0].WBSId%>' <%} else{%> value=0 <%}%> />
    <table class="table"  style="width: 100%;margin-bottom: 0px" >
      <tr>
        <td>
          <td>
            <label class="form-Label">Project Name:<sup>*</sup>    </label>
           </td>
           <td style="width:200px">
            <%if(flag==1  && typeof (name[0][0]) != 'undefined'){%> 
              <input type="text" class="form-control form-text-box" style="" name="proname" id="proname" maxlength="50" value='<%=name[0][0].projectTitle%>' disabled="true">
              <%}%>
              <%if(flag==0) {%>
               <select class="  form-text-box"   onchange="getAllWbs($('#proname').val())" name="proname" id="proname" style="">
              <option value='0' disabled selected>Select</option>
              <% for(var i=0;i<allinfo.length;i++) {%>
              <option value="<%=allinfo[i].id%>"<%if(flag==1&&name[0][0].projectId==allinfo[i].id){%>
              selected<%}%>> <%=allinfo[i].projectTitle%> </option>
              <%}%> </select> <% } %>
              <div class="fLeft"><span class="error" id="errorProname"></span></div>
          </td>
          <td>
            <td>
            <label class="form-Label">WBS Name :<sup>*</sup></label>
            </td>
            <td>
            <input onblur="return allWbs();" onkeypress="return specialCharacter(event)" type="text" placeholder="Enter a WBS Name" class="  form-text-box" style="" name="wbsname" id="wbsname" maxlength="50" onblur="myFunction(); checkprofield();" <%if(flag==1 && typeof (name[0][0]) !='undefined' ){%>value=' <%=name[0][0].WBSName%>' <%}%> >
            <div class="fLeft"><span class="error" id="errorWbsname"></span></div>
          </td>
        </td>
        <td>
          <td>
          <label class="form-Label">WBS Code :   </label>
          </td>
           <td>
              <input type="text" placeholder="WBS Code" class=" form-text-box" style="" name="wbscode" id="wbscode" <%if(flag==1 && typeof (name[0][0]) !='undefined' ){%>value=' <%=name[0][0].WBSCode%>' <%}%> readonly>
          <td>
        </td>
        <td>
        <td>
          <label class="form-Label">WBS Owner:   </label>
          </td>
           <td>
          <select style="" class="form-text-box" id="wbsowner" name="wbsowner">
          <option disabled selected value=0>Select</option>
              <% for(var i=0;i<owner.length;i++) {%>
              <option value="<%=owner[i].id%>"<%if(flag==1&&name[0][0].WBSOwner==owner[i].id){%>
                selected<%}%>><%=owner[i].name%></option>
              <%}%>
              </select>
        </td>
        </td>
      </tr>
      <tr>
        <td>
          <td>
             <label class="form-Label">Planned Start Date: <sup>*</sup> </label>
           </td>
           <td>
             <input type="text" maxlength="20" placeholder="Select Date" class="form-text-box"  id="datepicker" style="background-color: rgb(255, 255, 255);" name="wbspsdate" <%if(flag==1 && typeof (name[0][0]) !='undefined'){%>value='<%=name[0][0].wplannedStartDate%>' <%}%> >
             <div class="fLeft"><span class="error" id="errorWbspsdate"></span></div> 
          </td>
          <td>
            <td>
              <label class="form-Label">Planned End Date: <sup>*</sup> </label>
            </td>
            <td>
            <input type="text" maxlength="20" placeholder="Select Date" name="wbspedate"  class="form-text-box" id="datepicker1" style="background-color: rgb(255, 255, 255);" <%if(flag==1 && typeof (name[0][0]) !='undefined' ){%>value='<%=name[0][0].wplannedEndDate%>' <%}%> >
            <div class="fLeft"><span class="error" id="errorWbspedate"></span></div> 
          </td>
        </td>
        <td>
          <td>
            <label class="form-Label">Actual Start Date:   </label>
          </td>
           <td>
          <input type="text" maxlength="20" class="form-text-box" id="datepicker2" placeholder="Select Date"  style="background-color: rgb(255, 255, 255);" name="wbsasdate" <%if(flag==1 && typeof (name[0][0]) !='undefined'  && name[0][0].wactualStartDate){ if(name[0][0].wactualStartDate != '00/00/00'){%>value='<%=name[0][0].wactualStartDate%>' <%} else{%> value='' <%}}%>   > 
           <div class="fLeft"><span class="error" id="errorDatepicker2"></span></div> 
          <td>
        </td>
        <td>
          <td>
           <label class="form-Label">Actual End Date:   </label>
          </td>
           <td>
           <input type="text" maxlength="20" placeholder="Select Date" class="form-text-box" id="datepicker3"  style="background-color: rgb(255, 255, 255);" name="wbsaedate" <%if(flag==1 && typeof (name[0][0]) !='undefined'  && name[0][0].wactualEndDate){ if(name[0][0].wactualEndDate != '00/00/00'){%>value='<%=name[0][0].wactualEndDate%>' <%} else{%> value='' <%}}%>  >
           <div class="fLeft"><span class="error" id="errordatepicker3"></span></div> 
        </td>
        </td>
      </tr>
      <tr>
        <td>
          <td>
             <label class="form-Label">Estimate Effort:</label> 
           </td>
           <td>
             <input type="number" style="width:44%;display:inline" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" placeholder="Effort" class="form-text-box"   name="wbseffort" id="wbseffort" maxlength="5" <%if(flag==1 && typeof (name[0][0]) !='undefined' ){%>value=' <%=name[0][0].estimateEffort%>' <%}%> >

             <select style="width:47%;float:right;margin-right:9%;padding:0px" id="wbseffort1" class="form-text-box" name="wbseffort1">
                            <option disabled selected   value=0>Select</option>
                            <option value=1>Man-Hours</option>
                            <option value=2>Man-Days</option>
                            <option value=3>Man-Weeks</option>
                            <option value=4>Man-Months</option>
                       </select>
            <div class="fLeft"><span class="error" id="errorWbseffort1"></span></div> 

          </td>
          <td>
            <td>
              <label class="form-Label">WBS Location: </label> 
            </td>
            <td>
           <select   class="form-text-box" id="wbslocation" name="wbslocation">
                   <option disabled selected value=0>Select</option> 

                   <% for(var i=0;i<location.length;i++) {%> <option value="<%=location[i].id%>" <%if(flag==1&&location[i].id==name[0][0].WBSLocation) {%>selected<%}%>><%=location[i].location%></option> <%}%> 

            </select>
          </td>
        </td>
        <td>
          <td>
            <label class="form-Label">Assign to All:   </label> 
          </td>
           <td>
             <select style="" id="assign" class="form-text-box" name="assign">
                  <option  disabled selected  value=2>Select</option>
                  <option value=1>Yes</option>
                  <option value=0  selected="true">No</option>
                </select>
          <td>
        </td>
        <td>
          <td>
           <label class="form-Label">Type :</label>
          </td>
           <td>
          
            <div style="width: 108%;float: left;padding-right: 14px">
              <select style="" id="typeValue" class="form-text-box" name="typeValue">
                <option disabled selected   value=0>Select</option>
                <option value=1>Time only</option>
                <option value=2>Time & Expence</option>
              </select>
            </div>
        </td>
        </td>
      </tr>
      <tr>
        <td >
          <td <%if(flag==0 ){%> class="hide"<%}%> ><label class="form-Label " style="padding-top: 13px">Status :</label></td>
          <td  <%if(flag==0 ){%> class="hide"<%}%> >
              <input type="radio" class="" name="wbsstatus" value=1 id="wbsstatus1" style="margin-top:10px;"> Active 
              <input type="radio" class="" name="wbsstatus" value=0 id="wbsstatus2" style="margin-top:10px;"> Inactive
          </td>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
         
      </tr>
    </table>
    <div class="text-center"><span class="success" id="successWbsDetails"></span></div>
     <div class="row " style="padding-bottom:20px;">
        <center> 
            <a href="/wbsDetails">
                <input type="button" name="cancel" value="Cancel" form="cancelform" class="btn btn-primary" style="background-color: #f05f40"></a>

            <input type="submit" value="Submit" onclick="return checkfield();" name="submit" class="btn btn-primary">
        </center>
    </div>
    <table class="table table-hover table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" id="wbstable">
                <thead>
                    <tr style="font-size:12px">
                        <th>WBS Name</th>
                        <th>WBS Code</th>
                        <th>Planned Start Date</th>
                        <th>Planned End Date</th>
                        <th>Actual Start Date</th>
                        <th>Actual End Date</th>
                    </tr>
                </thead>
                <tbody id="tb">
                </tbody>
            </table>
  </div>
</div>

        <footer>
            <% include ./partials/footer %>
        </footer>


        <script>
            var otable = '';
            $(document).ready(function() { 

              $('.se-pre-con').fadeOut('slow');


                $('#datepicker').click(function() {
                    if ($('#proname').val() < 1) {
                        alert("Please select a project first.");
                    }
                });
                $('#datepicker1').click(function() {
                    if ($('#proname').val() < 1) {
                        alert("Please select a project first.");
                    }
                });

                otable = $('#wbstable').dataTable({
                    'iDisplayLength': 10,
                    "order": [],
                    "bFilter": false,"bInfo": false,"bLengthChange": false
                });
                if (<%=flag%> == 1) {

                    $("#typeValue").val('<%=name[0][0].typeUnit%>');
                }

                $('.btn-primary').css("background-color", "#f05f40");

                $("#datepicker2").datetimepicker({
                    timepicker: false,
                    format: 'm/d/y',
                    scrollMouse: false,
                    scrollInput: false
                });
                $("#datepicker3").datetimepicker({
                    timepicker: false,
                    format: 'm/d/y',
                    scrollMouse: false,
                    scrollInput: false
                });



                if (<%=flag%> == 1) {

                    var pid = '<%=name[0][0].projectId%>';
                    getAllWbs(pid);
                    if ('<%=name[0][0].WBSLocation%>' == null) {
                        //$("#wbslocation").prop("selectedIndex", -1);
                        $('#wbslocation').val(0);
                    } else {
                        $('#wbslocation').val('<%=name[0][0].WBSLocation%>');
                    }

                    //$('#wbsowner').val('<%=name[0][0].WBSOwner%>');

                    if ('<%=name[0][0].WBSOwner%>' == null) {
                        $("#wbsowner").prop("selectedIndex", -1);
                    } else {
                        $('#wbsowner').val('<%=name[0][0].WBSOwner%>');
                    }
                    var $radios = $('input:radio[name=wbsstatus]');
                    if ($radios.is(':checked') === false) {
                        $radios.filter('[value="<%=name[0][0].WBSStatus%>"]').prop('checked', true);
                    }
                    if ('<%=name[0][0].WBSStatus%>' > 0) {
                        $("input[name=wbsstatus][value=<%=name[0][0].WBSStatus%>]").prop('checked', true);
                    } else {
                        $("input[name=wbsstatus]").prop("selectedIndex", -1);
                    }
                    if ('<%=name[0][0].typeUnit%>' > 0) {
                        //$("input[name=typeValue][value=<%=name[0][0].typeUnit%>]").prop('checked', true);
                        $('#typeValue').val('<%=name[0][0].typeUnit%>');
                    } else {
                        $("input[name=typeValue]").prop("selectedIndex", -1);
                    }
                    if ('<%=name[0][0].estimateEffort1%>' > 0) {
                        $('#wbseffort1').val('<%=name[0][0].estimateEffort1%>');
                    } else {
                        $("#wbseffort1").prop("selectedIndex", -1);
                    }
                    if ('<%=name[0][0].assignToAll%>' != 2) {
                        $('#assign').val('<%=name[0][0].assignToAll%>');
                    } else {
                        $("#assign").prop("selectedIndex", -1);
                    }

                    $('#wbseffort').val('<%=name[0][0].estimateEffort%>');



                }


                $('#wbsstatus1').prop('checked', true);
                $('.wbs-img').addClass('active');


                var pid = $('#proname').val();
                if (pid == null || pid <= 0) {
                    var tr = tr + '<tr style="text-align:center"><td colspan="6">No data available in table</td></tr>';

                    $('#tb').html(tr);
                }


                        $('#assign').on('change',function(){
                              if(<%=flag%> == 0 && $('#proname').val() !=null){
                                if( $(this).val()==="1"){
                                  checkUsers();
                                } 
                              }
                              if(<%=flag%> == 1){
                                 if( $(this).val()==="1"){
                                  checkUsers();
                                } 
                              }
                        });



            });


                function checkUsers(){
                        if(<%=flag%> == 0){ var pid = $('#proname').val(); }
                        else{ var pid = '<%=name[0][0].projectId%>'; }

                              $.ajax({
                                    url: '/checkUsersInProject',
                                    type: 'post',
                                    data: { "pid": pid},
                                    success: function(data) {
                                      if(data.length==0){
                                        alert('First assign users to the project !');
                                        $('#assign').val(0);
                                      }
                                    }

                                });
                      }



            
            var y = Math.floor((Math.random() * 1000) + 1);
            
            function myFunction() {
                var x = document.getElementById("wbsname");
                var x2 = document.getElementById("wbscode");
                if (x.value != '') {
                    var ss = x.value;
                    ss = ss.charAt(0);
                    var s1 = x.value;
                    s1 = s1.charAt(1);
                    ss = "".concat(ss, s1);

                    x2.value = ss + "_" + y;
                } else {
                    x2.value = "";
                }
            }

            function checkfield() {
              resetError();
              var errorProname = $('#errorProname');
              var errorWbsname = $('#errorWbsname');
              var errordatepicker = $('#errorWbspsdate');
              var errordatepicker1 = $('#errorWbspedate');
              var errordatepicker2 = $('#errorDatepicker2');
              var errordatepicker3 = $('#errordatepicker3');
              var errorWbseffort1 = $('#errorWbseffort1');

              if ($('#proname').val() == null || $('#proname').val() <= 0) {
                    errorProname.text("Required field");
                    $('#proname').focus();
                    return false;
                }

                if ($('#wbsname').val().trim().length <= 0 || $('#wbsname').val() == '') {
                    errorWbsname.text("Required field");
                    $('#wbsname').focus();
                    return false;
                }

                var text = $('#datepicker').val();
                var date = new Date(text);
                if (text == '') {
                    errordatepicker.text('Required field');
                    return false;
                } else {
                    if (date == 'Invalid Date') {
                        errordatepicker.text('Invalid  Planned Start Date');
                        return false;
                    }
                }
                var text = $('#datepicker1').val();
                var date = new Date(text);

                if (text1 == '') {
                    errordatepicker1.text('Required field');
                    return false;
                } else {
                    if (date == 'Invalid Date') {
                        errordatepicker1.text('Invalid  Planned End Date');
                        return false;
                    }
                }
                var text = $('#datepicker2').val();
                var date = new Date(text);
                if (text != '') {
                    if (date == 'Invalid Date') {
                        errordatepicker2.text('Invalid  Actual Start Date');
                        return false;
                    }
                }
                var text = $('#datepicker3').val();
                var date = new Date(text);
                if (text != '') {
                    if (date == 'Invalid Date') {
                        errordatepicker3.text('Invalid  Actual End Date');
                        return false;
                    }
                }

                /*var sdate = $('#datepicker').datetimepicker("getDate");*/
                var text = $('#datepicker').val();
                /*var edate = $('#datepicker1').datetimepicker("getDate");*/
                var text1 = $('#datepicker1').val();
                /*var asdate = $('#datepicker2').datetimepicker("getDate");*/
                var text2 = $('#datepicker2').val();
                /*var aedate = $('#datepicker3').datetimepicker("getDate");*/
                var text3 = $('#datepicker3').val();
                var sdate = new Date(text);
                var edate = new Date(text1);
                var asdate = new Date(text2);
                var aedate = new Date(text3);


                if (sdate > edate) {
                    errordatepicker1.text('Planned End Date can not be less than Planned Start Date');
                    return false;
                }

                if (text3 != '') {
                    if (text2 != '') {
                        if (asdate > aedate) {
                            errordatepicker3.text('Actual End Date can not be less than Actual Start Date');
                            return false;
                        }
                    } else {
                        errordatepicker2.text('Please Select Actual Start Date');
                        return false;
                    }
                }

                var wbseffort = $('#wbseffort').val();
                var wbseffort1 = $('#wbseffort1').val();
                if (wbseffort != '') {
                    if (wbseffort1 <= 0 ||  wbseffort1 == null) {
                        errorWbseffort1.text('Please Select WBS Effort Type');
                        $('#wbseffort1').focus();
                        return false;
                    }
                }
                else{
                  if(wbseffort1 > 0){
                    errorWbseffort1.text('Please enter WBS effort value');
                    $('#wbseffort1').focus();
                        return false;
                  }
                }

                //submitwbs();

                addWbs1();


            }

            function submitwbs() {
              resetError();
              var successWbsDetails = $('#successWbsDetails');
                var flag = $('#flaghide').val();
                //alert(flag);
                if (flag == 1) {
                    messageBox('WBS Updated Successfully');
                }
                if ('<%=flag%>' == '0') {
                    confirmBox3("submitwbsModal(1)","submitwbsModal(0)",9);
                    /*var r = confirm("Do you want to create more WBS ?");*/
                }
                if ('<%=flag%>' != '0') 
                addWbs12();
            }

            var submitwbsModal = function(flag) {
                    if(flag == 1) {
                        $('#wbshidden').val(1);
                    } else {
                        $('#wbshidden').val(0);
                    }
                  
                      addWbs12();
            
                    
            }

            function addWbs1() {

           
                  if($("#idhide").val() == 0){
                       submitwbs();
                }
                else{
                  
                   $.ajax({
                            url: '/checkProjectWbsDate',
                            type: 'post',
                            data: {"pid": $("#proname").val(), "wid":$("#idhide").val(), "psdate": '0', "pedate": '0',
                            "wpsdate":$("#datepicker").val(),"wpedate":$("#datepicker1").val(),flag:2
                                  },
                            success: function(data) {
                              
                                if(data[0][0].msg==0){
                                            //addWbs12();

                                            submitwbs();
                                }
                                else{
                                  messageBox('date validations of WBS are not according to Assignment');
                                }
                            }

                        });
                }
            

            }






            function addWbs12(){

              //alert('flag--'+$('#flaghide').val());
              //alert('wbshidden--'+$('#wbshidden').val());

                              $.ajax({
                                url: '/addEditWbsDetails',
                                method: 'POST',
                                data: {
                                  "assign": $('#assign').val(),
                                  "flaghide": $("#flaghide").val(),
                                  "wbsidhide": $("#idhide").val(),
                                  "wbsname": $("#wbsname").val(),
                                  "wbscode":$("#wbscode").val(),
                                  "proname": $("#proname").val(),
                                 "wbsowner": $("#wbsowner").val(),
                                   "wbspsdate": $("#datepicker").val(),
                                  "wbspedate": $('#datepicker1').val(),
                                  "wbsasdate": $("#datepicker2").val(),
                                   "wbsaedate": $('#datepicker3').val(),
                                   "wbsstatus": $('input:radio[name=wbsstatus]:checked').val(),
                                   "wbseffort": $('#wbseffort').val(),
                                   "wbseffort1": $('#wbseffort1').val(),
                                   "wbslocation": $('#wbslocation').val(),
                                   "typeValue": $('#typeValue').val(),
                                  },
                                  success: function(data) {
                                    console.log('success',data);
                                    
                                      if ('<%=flag%>' == '0') {
                                          if ($('#wbshidden').val() == 1) {
                                              window.location.href = "/addEditWbs?id=0&flag=0";
                                          } else {
                                              window.location.href = "/wbsDetails";
                                          }
                                      }
                                      else{
                                        window.location.href = "/wbsDetails";
                                      }

                                      $('.se-pre-con').fadeOut('slow');

                                  }
                            });
            }




            function allWbs() {
              resetError();
              var errorWbsname = $('#errorWbsname');
                var abc = 1;
                if ('<%=flag%>' == '0') {
                    <%if(allWbs.length>0){%>
                    <%  for(var j=0;j< allWbs.length; j++){%>
                    if ($('#wbsname').val() == '<%=allWbs[j].WBSName%>') {
                        errorWbsname.text('WBS Already Exists.Change the name of WBS');
                        abc = 0;
                        document.getElementById('wbsname').value = "";
                        document.getElementById('wbscode').value = "";
                        $('#wbsname').focus();
                        return false;
                    } else {
                        abc++;
                    }

                    <% } } %>

                    if (abc != 0) {
                        myFunction();
                        return true;
                    }
                }

            }

                

            function getAllWbs(pid) {

              if($('#assign').val() == 1){
                checkUsers();
              }
                $("#datepicker").datetimepicker("destroy");
                $("#datepicker1").datetimepicker("destroy");
                //alert('pid---'+pid);

                $.ajax({
                    url: '/getAllWbsForProject',
                    method: 'POST',
                    data: {
                        "pid": pid
                    },
                    success: function(data) {
                        console.log('success', data);
                        var log = '',
                            log1 = '',
                            log2 = '';

                        for (var i = data[0].length - 1; i >= 0; i--) {
                            if (data[0][i].WBSName == null) {
                                data[0][i].WBSName = '';
                            }
                            if (data[0][i].WBSCode == null) {
                                data[0][i].WBSCode = '';
                            }
                            if (data[0][i].wplannedStartDate == null) {
                                data[0][i].wplannedStartDate = '';
                            }
                            if (data[0][i].wplannedEndDate == null) {
                                data[0][i].wplannedEndDate = '';
                            }
                            if (data[0][i].wactualStartDate == null || data[0][i].wactualStartDate == '00/00/00') {
                                data[0][i].wactualStartDate = '';
                            }
                            if (data[0][i].wactualEndDate == null || data[0][i].wactualEndDate == '00/00/00') {
                                data[0][i].wactualEndDate = '';
                            }

                            log = log + '<tr style=height:20px;color:grey;font-size:12px;  id="abc_' + data[0][i].WBSId + '"><td>' + data[0][i].WBSName + '</td><td>' + data[0][i].WBSCode + '</td><td>' + data[0][i].wplannedStartDate + '</td><td>' + data[0][i].wplannedEndDate + '</td><td>' + data[0][i].wactualStartDate + '</td><td>' + data[0][i].wactualEndDate + '</td></tr>';


                        }
                        // console.log('log---',log);
                        otable.fnDestroy();
                        $('#tb').html(log);
                        otable = $('#wbstable').dataTable({
                            'iDisplayLength': 10,
                            "order": [],
                    "bFilter": false,"bInfo": false,"bLengthChange": false
                        });
                        if (<%=flag%> == 0) {
                            /*$('#datepicker').val('05/05/2015');*/
                            $('#datepicker').val(data[1][0].plannedStartDate);
                            $('#datepicker1').val(data[1][0].plannedEndDate);
                            var text = $('#datepicker').val();
                            var date = new Date(text);
                            var text1 = $('#datepicker1').val();
                            var date1 = new Date(text1);


                            var date = formatDate(date);
                            var date1 = formatDate(date1);
                            var date=new Date(date);
                            var date1=new Date(date1);

                            console.log('text----',text);
                            console.log('text1----',text1);
                            console.log('date----',date);
                            console.log('date1----',date1);

                            if (text != '' && text1 != '') {
                                $("#datepicker").datetimepicker({
                                    timepicker: false,
                                    minDate: date,
                                    maxDate: date1,
                                    format: 'm/d/y',
                                    scrollMouse: false,
                                    scrollInput: false
                                });
                                $("#datepicker1").datetimepicker({
                                    timepicker: false,
                                    minDate: date,
                                    maxDate: date1,
                                    format: 'm/d/y',
                                    scrollMouse: false,
                                    scrollInput: false
                                });
                            } else {
                                $("#datepicker").datetimepicker({
                                    timepicker: false,
                                    format: 'm/d/y',
                                    scrollMouse: false,
                                    scrollInput: false
                                });
                                $("#datepicker1").datetimepicker({
                                    timepicker: false,
                                    format: 'm/d/y',
                                    scrollMouse: false,
                                    scrollInput: false
                                });
                            }
                        } else {
                            /*$('#datepicker').val(data[1][0].plannedStartDate);
                            $('#datepicker1').val(data[1][0].plannedEndDate);*/
                            var text = data[1][0].plannedStartDate;
                            var text1 = data[1][0].plannedEndDate;
                            var date = new Date(text);
                            var date1 = new Date(text1);

                            var date = formatDate(date);
                            var date1 = formatDate(date1);
                            var date=new Date(date);
                            var date1=new Date(date1);

                            
                            $("#datepicker").datetimepicker({
                                timepicker: false,
                                minDate: date,
                                maxDate: date1,
                                format: 'm/d/y',
                                scrollMouse: false,
                                scrollInput: false
                            });


                            $("#datepicker1").datetimepicker({
                                timepicker: false,
                                minDate: date,
                                maxDate: date1,
                                format: 'm/d/y',
                                scrollMouse: false,
                                scrollInput: false
                            });

                        }
                    }

                });


            }


            function formatDate(date) {
                  date1=date.getFullYear();
                 if (date1 < 1970) {
                              date.setFullYear(date1 + 100);
                          } 

                    var d = new Date(date),
                        month = '' + (d.getMonth() + 1),
                        day = '' + d.getDate(),
                        year = d.getFullYear();
                       
                    if (month.length < 2) month = '0' + month;
                    if (day.length < 2) day = '0' + day;

                    return [year, month, day].join('-');
                }




            function specialCharacter(evt) {
                var charCode = (evt.which) ? evt.which : event.keyCode
                if ((charCode != 38 && charCode > 32 && charCode < 46) || (charCode > 57 && charCode < 64) || charCode == 126 || charCode == 96) {
                    alert("This special character or number is not allowed\n ");
                    return false;
                }
                return true;
            }
            
        </script>
