  <html lang="en">
 <% include ./partials/head %>
 <% include ./partials/adminheader %>

 <style type="text/css">
.class1{
        color:green;
        height:10px;
        margin-left:15px;
}   
.class2{
        color:red;
        height:10px;
        margin-left:15px; 
       }
</style>
<script>
var tabledel='';
var rowid='';
var stdat=[];
var eddat=[];
var time;
 $(document).ready(function() {
ShowAssignments();
 $('.assignment-img').addClass('active');

         $(".asdate").datetimepicker({
          timepicker:false,
          format:"m/d/y",
          scrollMouse: false,
          scrollInput: false
         });

          $(".aedate").datetimepicker({
            timepicker:false,
            format:"m/d/y",
            scrollMouse: false,
            scrollInput: false
          });
 });
 function validDate(i,id){

                      var date = new Date($('#ws_'+i).val());
                      var date1 = new Date($('#we_'+i).val());
                       $("#i_"+id).datetimepicker({ 
                                                          timepicker:false,
                                                          format:"m/d/y",
                                                           minDate: date,
                                                          maxDate: date1 ,
                                                          scrollMouse: false,
                                                          scrollInput: false});

                      $("#j_"+id).datetimepicker({     timepicker:false,
                                                       format:"m/d/y",
                                                       minDate: date,
                                                       maxDate: date1,
                                                       scrollMouse: false,
                                                       scrollInput: false  });
 }
function updateAssing(ldate,id,a,date,i){    
   if(a==1)
    {  
        checkTimeSheetDate(i,a);       
         setTimeout(function(){
          if(time)
          { 
               alert("You can not edit Assignment Start Date as User has been filled Timesheet for this FortNight");
                $('#i_'+id).val($('#ae_'+i).val());
               return false;
          }
        },300);        
          var dt="AssignmentDate";
          if(new Date($('#j_'+id).val())<new Date(date.value))
          {
          alert("Assignment start date sholud not greater than Assignment End Date");
          $('#i_'+id).val($('#ae_'+i).val()); 
          return false;
          }
    }
     else
    {  
          checkTimeSheetDate(i,a);
         
           setTimeout(function(){
         if(time)
           {  console.log(" can only forward this date");
             if(new Date($('#as_'+i).val())>new Date(date.value))
             {
             $('#j_'+id).val($('#as_'+i).val());
             alert("You can not select previous date as Timesheet has been filled for that FortNight");
             }
           }
         },300);
           
           var dt="AssignmentEndDate";
           if(new Date($('#i_'+id).val())> new Date(date.value))
           {
           alert("Assignment End Date should not lesser than Assignment Start Date");
           $('#j_'+id).val($('#as_'+i).val());
          return false;
           }  
   }
     $.ajax({   
                    url:'/submitAssignment',
                    type:'post',
                    data:{
                      "flag":a,
                      "assignmentId":id,
                      "procode":'1',
                      "wbs":'1',
                      "user":'1',
                      "status":'1',
                      "asdate":date.value,
                      "aedate":date.value,
                        "curdat":'',
                      "retailerid":''
                    },

                  success:function(data){

                   console.log(" hi iam in success");
                 }
                  });
     
}

function checkTimeSheetDate(i,b){
  if(b==1)
{var a=new Date($('#ae_'+i).val());
}
else
{
var a=new Date($('#as_'+i).val());
}
var a1=a.getDate();
var a2=a.getMonth();
var a3=a.getFullYear();
if(a1<=15){                     
                        checkdate = a3+'-'+(a2+1)+'-'+15;
          }
    else{
      checkdate = a3+'-'+(a2+1)+'-'+new Date(a3,(a2+1),0).getDate();
        }
         userId=$('#usid_'+i).val();   
                $.ajax({
                    url: 'checkUserTimesheet',
                    type: 'post',
                    data: {
                        "userId": userId,
                        "tdate": checkdate
                    },
                    success: function(data)
                                         {
                                            console.log(" from checkUserTimesheet is "+data[0].length);
                                            if(data[0].length!=0)
                                                    {time=1;
                                                     console.log("it should not change the value of assignmnet date")}
                                                        else
                                                          time=0;
                                          }                          
                });           
}

function ShowAssignments(){               
         $(".asdate").datetimepicker({
          timepicker:false,
          format:"m/d/y"
         });
         
          $(".aedate").datetimepicker({
            timepicker:false,
            format:"m/d/y"
          });

  $('#assigntable').dataTable().fnDestroy(); 
  var a='';
 <%console.log("-------Length-----------",allinfo1.length); for(var i=allinfo1[0].length-1;i>=0;i--) { %>
                 var abc=$("#stat").val();

                      var ae="AssignmentDate";
                      var as="AssignmentEndDate";
                 
                     if('<%=allinfo1[0][i].isActive%>'==abc || abc==2 ) 
                    {
                      console.log("this is allinfo---<%=allinfo1[0][i].assgisActive%> ");
                     a=a+'<tr id="row_<%=allinfo1[0][i].id%>"><td><%=allinfo1[0][i].projectTitle%><input type="hidden" id=usid_<%=i%> value="<%=allinfo1[0][i].userId%>"></td><td><%=allinfo1[0][i].WBSCode%></td><td><%=allinfo1[0][i].WBSName%><input type="hidden" id=wbs_<%=allinfo1[0][i].WBSId%>></input></td><td><%=allinfo1[0][i].firstName%></td><td><input type="hidden" id=ws_<%=i%> value="<%=allinfo1[0][i].wplannedStartDate%>"></input><input type="hidden" id=ae_<%=i%> value="<%=allinfo1[0][i].AssignmentDate%>"></input><input readonly="true" id="i_<%=allinfo1[0][i].id%>" class="asdate" style="text-align:center; border:0px" value="<%=allinfo1[0][i].AssignmentDate%>" onClick="validDate(<%=i%>,<%=allinfo1[0][i].id%>)" onChange="updateAssing(<%=allinfo1[0][i].AssignmentDate%>,<%=allinfo1[0][i].id%>,1,this,<%=i%>)"></input></td><td><input type="hidden" id=we_<%=i%> value="<%=allinfo1[0][i].wplannedEndDate%>"></input><input type="hidden" id=as_<%=i%> value="<%=allinfo1[0][i].AssignmentEndDate%>"></input><input  readonly="true" id="j_<%=allinfo1[0][i].id%>" class="aedate" style="text-align:center; border:0px"value="<%=allinfo1[0][i].AssignmentEndDate%>" onClick="validDate(<%=i%>,<%=allinfo1[0][i].id%>)"  onChange="updateAssing(<%=allinfo1[0][i].AssignmentEndDate%>,<%=allinfo1[0][i].id%>,2,this,<%=i%>)"></input></td><td><span onClick="inactive(<%=allinfo1[0][i].id%>,<%=allinfo1[0][i].isActive%>)" <%if(allinfo1[0][i].isActive==1){%>class="glyphicon  glyphicon-ok-circle class1"<%} else{%>class="glyphicon  glyphicon-remove-sign class2" <%}%> title="Deactivate Assignment"></span></td></tr>'
                }
                <%}%>

                $('#acttab').html(a);
                $('#assigntable').dataTable();

       }
function inactive(b,flag){;
  // alert("i am in inactivewith id ---"+b);     
  if(flag==1)
    var a="InActive";
    else
    var a="Active";
    
if(confirm("Do you want "+a+" this Assignment?"))
window.location.href = "/changeAssignmentStatus?assignmentId="+b+"& flag="+1;


}

</script>
    <div class="bug-background" id="accordions" > 
    <div style="padding:0 1%" >
      <div style="padding-top:1%">
    <a href="createassignment?flag=0&assignmentId=0"><img  src="./img/add.png" height="40px"
            width="40px" title="Create New" style="float:left;position:relative;left:2%;cursor:pointer"></a>
     <span class="modal-title" style="padding-left:40%"> Assignments</span>

 <select  id="stat" style="float:right;width:auto; margin-bottom:1%;" class="form-control" onChange="ShowAssignments()">
        
        <option value='1'>    Active         </option>
        <option value='0'>    InActive    </option>
        <option value='2'  >   All           </option>
      </select>

</div>
<div class=""  style="margin-top:1%;padding-bottom:1%">
      <table   id="assigntable" class="stripe hover cell-border">  
                 <thead>
                    <tr >
                        <th >Project Name</th>
                        <th >WBS Code</th>
                        <th >WBS Name</th>
                        <th >User Name</th>
                        <th >Assignment Start Date</th>
                        <th >Assignment End Date</th>
                        <th >Action</th>
                    </tr>
                </thead>                
                <tbody id="acttab">
              </tbody>
              </table>
    </div>
    </div>
    </div>
  <div>  
    <% include ./partials/footer %>     </div>