<html lang="en">
 <% include ./partials/head %>
 <% include ./partials/adminheader %>
<head> 
 <style type="text/css"> 

  input[type=search] {
    height: 29px !important;
    border-radius: 5px !important;
    border: 1px solid #669ECC !important;
}
.glyphicon{
color:black;
 width:auto;
 height:auto;
}
.ui-multiselect
{
  width:100% !important;
}

.asmnt-btn{
  margin-top:10px;
  padding-top: 4px;
  margin-bottom:10px;
  margin-top:15px;
}
.asmnt-label{
  style="font-size:14pt;color:#f05f40;"
}
</style>


</head>
<body class=" "  >
<div id="aa" >
 
<form id="addassignform"  method="post" onsubmit="" name="client" style="background-color:antiquewhite; margin-bottom: 0px;">

                            <input type="hidden" name="flag" id="hid">
                            <input type="hidden" name="ascode" id="ascodeid" value=''>
 <div class="" id="" role="dialog" style=" ">
    <div style="width:100%;padding-top:1%; ">  
      <center> 
       <%if(flag==0){%>
       <label id="" class=" " style="font-size:14pt;color:#f05f40;"><b>Create Assignment</b></label>  
         <%}else{%>
          <label id="" class=" " style="font-size:14pt;color:#f05f40;"><b>Edit Assignment</b></label>
         
          <%}%>           
     </center>
   </div>
    <input type="hidden" value=""id='pcount'name='pcount'>
<div class="row">
       <div class="col-md-6 a">
         <div class="col-md-5"> <label style="padding-top: 10px;">Project Name:<sup style="color:red;">*</sup></label></div>
          <div class="col-md-7">
            <select  <%if(flag==1){%>disabled <%}%> style="background-color:#FFFFFF;margin-top:3%;" class="form-control" name="pclient" id="procode" maxlength="50" onChange="getwbs();">
                          <option value=0>Select</option>
                              <% for(var i=0;i<allinfo[1].length;i++)
            {   %>    

                     <option <%if(flag==1){ 
                                  if(allinfo[2][0].ProjectId==allinfo[1][i].id){
                                    %>  selected <%}}%> value="<%=allinfo[1][i].id%>" ><%=allinfo[1][i].projectTitle%></option>');
                        
             <%}%>

    </select>
          </div>
        </div>

        <div class="col-md-6 a">
          <div class="col-md-5"><label style="padding-top: 10px;">WBS Name :<sup style="color:red;">*</sup></label></div>
          <div class="col-md-7">
        <select <%if(flag==1){%>disabled  <%}%> style="background-color:#FFFFFF;margin-top:3%;" class="form-control" name="wbs2" id="wbs2" maxlength="50" onchange="wbsDetail()";>
      
          <option value=0>Select</option>
          <%if(flag==1){%>
           <option selected value='<%=allinfo[2][0].WBSId%>'><%=allinfo[2][0].WBSName%></option>   <%}%> 
    </select>
          </div>
        </div>
</div>
<div class="row">
        <div class="col-md-6 a">
          <div class="col-md-5"><label style="padding-top: 10px;">Users:<sup style="color:red;">*</sup></label></div>
          <div class="col-md-7 " style="margin-top:8px;">
           <select class="form-control" name="asd" id="asd" multiple="multiple">
            
               
            </select>
          </div>
        </div>
 
        <div class="col-md-6 a">
          <div class="col-md-5"><label style="padding-top: 10px;">Assignment Status: </label></div>
          <div class="col-md-7">
            <div class="radio" id="rad">
              <input type="hidden" id="act" >
  <label><input type="radio"   name="status" id="active" value='1' checked >Active</label>
  <label><input type="radio"  name="status" id="inactive" value='0' >InActive</label>

</div>
          </div>
        </div>
        </div>
        <div class="row">

        <div class="col-md-6 a">
          <div class="col-md-5"><label style="padding-top: 10px;">Assignment Start Date:<sup style="color:red;">*</sup> </label></div>
          <div class="col-md-7">  
            <input type="text" name="Edate" class="form-control datepicker" id="datepicker" style="margin-top: 10px; cursor: pointer; background-color: rgb(255, 255, 255);" readonly="true" <%if(flag==1){%> value="<%=allinfo[2][0].AssignmentDate%>" <%}%> required>
          </div>
        </div>
        
        
        <div class="col-md-6 a">
          <div class="col-md-5"><label style="padding-top: 10px;">Assignment End Date:<sup style="color:red;">*</sup> </label></div>
          <div class="col-md-7">
           <input type="text" name="Edate" class="form-control datepicker" id="datepicker1" style="margin-top: 10px; cursor: pointer; background-color: rgb(255, 255, 255);" readonly="true" <%if(flag==1){%> value="<%=allinfo[2][0].AssignmentEndDate%>"<%}%> required>
          </div>
        </div>
       </div>
        </div>
          
   
       <center style="margin-top:2%"> 

       <a href="/assignment">
          <input type="button" name="cancel" value="Cancel" form="cancelform" class="btn btn-primary" style="background-color: #f05f40 !important">
          </a>

          <input type="button" value="Submit" onclick="submitdata(<%=flag%>,<%=assignmentId%>);" name="submit" class="btn btn-primary" style="background-color: #f05f40 !important;">
        

        </center>
        
    </form>

    <div class="bug-background" id="accordions"  style=" background-color:antiquewhite; "> 
            <table class="table table-hover table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" id="wbstable">  
                 <thead>
                    <tr style="font-size:12px">
                        <th >WBS Name</th>
                        <th >WBS Code</th>
                        <th >Planned Start Date</th>
                        <th >Planned End Date</th
                    </tr>
                </thead> 
                <tbody id="tb">
                </tbody>
            </table>
    </div>
    
    </div>
     
     </body>

      <% include ./partials/footer %>  
   

     </html>
   
  
<script>

$(document).ready(function(){
$("#asd").multiselect();
  $('.assignment-img').addClass('active');
   dtable=$("#wbstable").DataTable({
    'iDisplayLength':5,
    "bFilter": true
  });

  
  console.log("going");
  $("#datepicker").datepicker();
        $("#datepicker1").datepicker();
         $("#hid").val(<%=flag%>);



         if(<%=flag%>==1){
wbsDetail();
 }
 
});       


if(<%=flag%>==1){

      var pid=$('#procode').val();
     // alert("lennght of all info.lennght--"+<%=allinfo[4].length%>);                                                                  
   //  $('#asd').multiselect('destroy');
     <% for (var i = 0; i < allinfo[4].length; i++)
      { %>
            //   alert("hiiiiiiiiiiii");
               if(pid=='<%=allinfo[4][i].projectId%>')
                    { 
                      $('#asd').append('<option value="<%=allinfo[4][i].id%>"><%=allinfo[4][i].firstName%></option>');}
     <%}%>

            

             $("#asd").val([<%if(flag==1){for(var i=0;i<allinfo[3].length;i++){%>"<%=allinfo[3][i].id%>",<%}}%>]).prop("selected", false);
   $('#asd').multiselect();

   <%if(allinfo[2][0].isActive==0)
     { %>$('input:radio[id=inactive]').attr('checked', true);
    $("#inactive").prop("checked", true);
     <% }
      else
        {  %> $('input:radio[id=active]').attr('checked', true);
    $("#active").prop("checked", true);
     <% }%>
 }

  


   function submitdata(flag,assignmentId){
var alluser=[];
    var startDt=document.getElementById("datepicker").value;
var endDt=document.getElementById("datepicker1").value;


    var s = document.getElementById("asd");
  //  alert("length of s is"+s.options.length);
    for (var i = 0; i < s.options.length; i++) {
         if (s.options[i].selected == true) {
          //  var schoolid = s.options[i].value;
          // alert(s.options[i].value);
           var user = s.options[i].value;
        //   alert("user assigned for assignment"+user);
           alluser.push(user);
           
         }
        
    } 

    if($('#procode').val()==0)
     {
      alert("Please select a Project Title First"); 
      return false;}
    if($('#wbs2').val()==0)
     { alert("Please select a WBS First"); 
      return false;  }


 for (var i = 0; i < s.options.length; i++) {
         if (s.options[i].selected == true) {
          
           var user = s.options[i].value;
           var wb=$('#wbs2').val();
           console.log("selected user-----------",user);
        //  alert("i am"+user+"going for assignment for wbs -"+wb);
          <% for(var i=0;i<allinfo[5].length;i++){ %>

            if('<%=allinfo[5][i].userId%>'==user && '<%=allinfo[5][i].WBSId%>'==wb){
              alert('<%=allinfo[5][i].firstName%>'+" has been already asssigned a assignment on this document");
              return false;
            }
           <% } %>
           
         }
        
    } 

       if($('#datepicker').val()==null)
     { alert("Please select a StartDate"); 
      return false;  }
     if($('#datepicker1').val()==null)
     { alert("Please select a EndDate"); 
      return false;  }

    var r = document.getElementsByName("status")
    var c = -1;
    for(var i=0; i < r.length; i++){
     if(r[i].checked) {
      c = i; 
                     }
        }
   if (c == -1)
    { alert("please select status"); 
     return false;}


       if($('#asd').val()==null)
     { alert("Please select Users"); 
      return false;  }

      var psdate = $('#datepicker').datepicker("getDate"); var text = $('#datepicker').val();
            var pedate = $('#datepicker1').datepicker("getDate");var text1 = $('#datepicker1').val();
          
            if(text1 != ''){ if (text != ''){
            if(psdate>pedate){
              alert('Assignment End Date can not be less than Assignment Start Date');
               return false;
            }  }
            else{
              alert('Please Select Assignment Start Date');
               return false;
            }
          }
          if(text==''){
            alert('Please Select Assignment Start Date');
            return false;
          }
          if(text1==''){
              alert('Please Select Assignment End Date');
              return false;
            }
         /*   alert($('#sdate').text()+"----------"+new Date($('#sdate').text()));
            alert($('#edate').text()+"----------"+new Date($('#edate').text()));*/
       /* if(new Date(psdate)<new Date($('#sdate').text()))
        {
          alert("Assignment start Date can not be less then WBS Start date");
          return false;
        }
        if( new Date(pedate) < new Date($('#edate').text()))
        {
          alert("Assignment end Date can not be more  then WBS Start date");
          return false;
        }*/


    console.log("----------------------------------");  
    
var retailerid=<%=retailerId%>;
  //  alert("submit");
     $.ajax({        
                         url:'/submitAssignment',
                    type:'post',
                    data:{
                      "flag":flag,
                      "assignmentId":assignmentId,
                      "procode":$('#procode').val(),
                      "wbs":$('#wbs2').val(),
                      "user":alluser.toString(),
                      "status":$("input[type='radio'][name='status']:checked").val(),
                      "asdate":$('#datepicker').val(),
                      "aedate":$('#datepicker1').val(),
                      "retailerid":retailerid
                    },

                  success:function(data){
                    window.location.href="/assignment";    
                    }
                  });
}
function getwbs(){ 
  $('#asd').multiselect('destroy');
  var pid=$('#procode').val();
  $('#wbs2').html(''); 
   $('#asd').html('');             
  $('#wbs2').append('<option value=0>Select</option>');
  /*$('#asd').append('<option disabled value=0>Select</option>');*/
        <%  for(var i=0;i<allinfo[3].length;i++)
            {  
        %>                  
                     if(pid=='<%=allinfo[3][i].projectId%>')
                    { $('#wbs2').append('<option value="<%=allinfo[3][i].WBSId%>"><%=allinfo[3][i].WBSName%></option>');
                
              } 
 <%   }  %>

<% 

for (var i = 0; i < allinfo[2].length; i++) { %>
   if(pid=='<%=allinfo[2][i].projectId%>')
                    { 
                      

                      $('#asd').append('<option value="<%=allinfo[2][i].id%>"><%=allinfo[2][i].firstName%></option>');}
<%}%>
                
                 $('#asd').multiselect();
                  if($('#wbs2').val()>0)
                       wbsDetail();

}

function wbsDetail()
   {
         var wbsid=$('#wbs2').val();
     // alert(" i am in wbs");
      /*if(<%=flag%>==0){
       <% for (var i = 0; i < allinfo[4].length; i++) {
        %> 
         if($('#procode').val()==<%=allinfo[4][i].ProjectId%> && $('#wbs2').val()==<%=allinfo[4][i].WBSID%>){
          alert("Assignment on this WBS already exits");
          $('#wbs2').val(0);
          return false;
         }
        <% }%>
        }  
*/

         $('#tb').html('');                 
      if(wbsid>0)
        {
          if(<%=flag%>==1)
           {
             <%  for(var i=0;i<1;i++)
                  { %>                                        
                     if(wbsid=='<%=allinfo[3][i].WBSId%>')
                  {
                      var tr=tr+'<tr><td ><%=allinfo[3][i].WBSName%></td><td><%=allinfo[3][i].WBSCode%></td><td id="sdate"><%=allinfo[3][i].wplannedStartDate%></td><td id="edate"><%=allinfo[3][i].wplannedEndDate%></td></tr>';
                  }
                    
                        $('#tb').html(tr);    
               <%  }  %>
           }
          else
           {
             <%for(var i=0;i<allinfo[3].length;i++)
                  { %> 
                     
                    // alert('<%=allinfo[3][i].WBSId%>')
                     if(wbsid=='<%=allinfo[3][i].WBSId%>')
                  {
                      var tr=tr+'<tr><td><%=allinfo[3][i].WBSName%></td><td><%=allinfo[3][i].WBSCode%></td><td><%=allinfo[3][i].wplannedStartDate%></td><td><%=allinfo[3][i].wplannedEndDate%></td></tr>';
                  }
                    
                        $('#tb').html(tr);    
               <%  }  %>
           }
                 
      
      }   
    else
    {

      var tr=tr+'<tr style="text-align:center"><td colspan="4">No data available in table</td></tr>';

      $('#tb').html(tr); 
    }
}
 
 

/*$("#asd").val([<%if(flag==1){for(var i=0;i<allinfo[3].length;i++){%>"<%=allinfo[3][i].id%>",<%}}%>]).prop("selected", false);*/
</script>


<!--  Manupulating Username on Editing-->