<html lang="en">
<head>
   <% include ./partials/head %>



</head>
</head>
    <style type="text/css">
    .bgActive{background-color: #ff9866;}

    .glyphicon-folder-open{
        color:black!important;
    }
    .glyphicon-plus{
        color:black!important;
    }
    .glyphicon-minus{
        color:black!important;
    }
     .sol-selection-container {
      left: 269px !important;
     margin-top: -5%;
}
    #divcopyright{
  position:absolute;
margin-top:auto;
margin-left:30%;
margin-bottom: 5%;
}
.chzn-select{
  width: 300px;
}
.chosen-container{
  width: 301px !important;
}       
    thead{
          background-color: #808080;
          color:white;
          font-size: 12px;
        }

        tbody{
          color:#808080;
          font-size: 12px;
        }
    </style>
   



<script type="text/javascript">


/*-----------------------------Validate Role----------------------------------------------*/
 function validation() {

            var rolename = $('#rname').val();
            var indus = $('#industry').val();
            var bus = $('#business').val();
            var  doc=$('#doctype').val();
            var restrict=$('#Restriction').val();

            if ($('#rname').val().length==0){
                alert("Enter valid Role Name!");
                return false;
            }
            
            if(indus.length=='') {
                alert("Enter select Industry name! ");
                return false;
            }
            if (bus.length =='' ) {
                alert("Enter select Business name!");
                return false;
            }

            if (doc.length == 0) {
                alert("Please select Document Type!");
                return false;
            }
            
        alert("Role created successfully");
    }

/*-----------------------EDIT ROLE-------------------------*/
    function editrole(cid) {

                 console.log("user info : -----------",cid);
                    id=cid;
                    $('#editRoleId').val(cid);
         $.ajax({
            url: '/selectidRole',
            type: 'post',
            data: {'rid': id},
            dataType: 'json',
            success: function(data) { 
                    console.log("user info : ",data,data[0].length,data[0][0].description);
                  //  console.log("lom,",JSON.parse(JSON.stringify(data[4]))[0].technology);
                   // $('#editRoleId').val(cid);
                    $('#rl_name').val(data[0][0].description);
             

                    var arr1 = [];
                    for(var i=0;i<data[0].length;i++){
                       arr1=data[0][i].vvid.split(',');

                    /*--------------------------------------Industry----------------------------------------------*/

                       if(data[0][i].vertical_id==1){
                        $('#my-selectII').val(arr1).prop('selected', true);
                        $('#my-selectII').trigger('change');
                          $('#my-selectII').trigger('chosen:updated');
                          $('#my-selectII').prop('disabled', false).trigger("chosen:updated");
                       }
                  /*--------------------------------------Business----------------------------------------------*/
   
                         if(data[0][i].vertical_id==2){
                        $('#my-selectBB').val(arr1).prop('selected', true);
                        $('#my-selectBB').trigger('change');
                          $('#my-selectBB').trigger('chosen:updated');
                          $('#my-selectBB').prop('disabled', false).trigger("chosen:updated");
                       }
                  /*--------------------------------------Document----------------------------------------------*/

                       if(data[0][i].vertical_id==3){
                        $('#my-selectDD').val(arr1).prop('selected', true);
                        $('#my-selectDD').trigger('change');
                          $('#my-selectDD').trigger('chosen:updated');
                          $('#my-selectDD').prop('disabled', false).trigger("chosen:updated");
                       }
                  /*--------------------------------------Technology----------------------------------------------*/
                     
                     if(data[0][i].vertical_id==4){
                        $('#my-selectTT').val(arr1).prop('selected', true);
                        $('#my-selectTT').trigger('change');
                          $('#my-selectTT').trigger('chosen:updated');
                          $('#my-selectTT').prop('disabled', false).trigger("chosen:updated");
                       }
                 /*--------------------------------------Restriction----------------------------------------------*/

                       if(data[0][i].vertical_id==5){
                        $('#my-selectRR').val(arr1).prop('selected', true);
                        $('#my-selectRR').trigger('change');
                          $('#my-selectRR').trigger('chosen:updated');
                          $('#my-selectRR').prop('disabled', false).trigger("chosen:updated");
                       }

                  }
                                 
                }
        });
         }



/*-----------------------VIEW ROLE USER-------------------------*/

    function viewroleUser(cid){
       $.ajax({
            url: '/getRolesInfo',
            type: 'post',
            data: {
                c_id : cid
            },
            dataType: 'json',
            success: function(user) {
              user=user[0];

                console.log("List of All user",user);
                    var info=[];
                for(var i=0;i<user.length;i++) {
               
                    info.push($.map(user[i],function(k,v){return k;})); 
                }
                console.log('==============',info);
                 table= $('#roletable').DataTable({
                 "iDisplayLength": 10, /*used to display no of element  on page load or relaod*/
                 "showNEntries": true, /* for displaying showing 10 out of 50 entries at left bottom corner*/
                 "bFilter": true,        /*dispalying search box at top right corner*/
                 "bLengthChange": true,
                 "searching": true,
                 "bDestroy" : true,
                 data:info,
                 columns: [
                 {title:"User Name" }]
                });
                 table.destroy();
             }
        });
    }


  var roleInfo=[];
  $(document).ready(function() {
     var customusers = <%-JSON.stringify(customrole)%>;
            getCustomRoles(customusers);    
                //console.log(customusers);
     var allIndustry= <%-JSON.stringify(industry)%>
                //console.log(allIndustry,allIndustry[0],allIndustry[0][0].values);
    var allBusiness= <%-JSON.stringify(business)%>
                //console.log(allBusiness,allBusiness[0][0].values);
    var allTechnology=<%-JSON.stringify(technology)%>
    console.log(allTechnology);
   
    });
function getCustomRoles(customusers) {
                var info = [];
               //console.log("List of All Roles",customusers,customusers[0].id);
                var info=[];
                var c=1;
                
                for(var i=0;i<customusers.length;i++) {
                    var log='';
                 log = log + "<a style='padding-left:6px' onclick='viewroleUser(" + customusers[i].id + ")'><span data-toggle='modal' data-target='#viewrole' style='color:green;height:10px' class='glyphicon  glyphicon glyphicon-ok-sign'></span></a>";
                 log = log + "<a style='padding-left:6px' onclick='editrole(" + customusers[i].id + ")'><span '  data-toggle='modal' data-target='#editRole'  class='glyphicon glyphicon-pencil' style='color:red;height:10px'   title ='Edit Role' ></span></a>";
                    customusers[i].Action=log;
                    
                        //console.log("eeeeeeeeeee",info)
                    info.push($.map(customusers[i],function(k,v){return k;})); 
                 //console.log("eeeeeeeeeee",info) 
                }
               
                roleInfo.push(info);
                   // console.log(info);
                    $('#usertable').html('');
                table= $('#usertable').DataTable( {
                destroy:true,
                searching: true,
                data:info,
                "bLengthChange" : false ,
                 columns: [
                 {title:"Role Id" },
                 {title: "Role Name" },
                 {title: "Action"}]    
                });
               // console.log('aaaaaaaaaaaaa',table.row(0));
                table.column(0).visible(false);
           
          
            }
 
$(function() {

   $('.setting-img').addClass('active');
   $(".chzn-select").chosen();
    });
</script>
<div>
        <% include ./partials/adminheader %>
    </div>
    <div class="container-fluid user-list"  style="background-color:antiquewhite">
 <a>
        <button class="btn btn-danger" style="float:left;position:relative;left:2%;background-color:#f05f40;color:white" data-toggle='modal' data-target='#setting' >Create New Role</button>
    </a>
    <table class="table table-hover table-striped table-bordered rceDataTable" cellpadding="0" cellspacing="0" border="0" id="usertable"></table>
<!-- -----------------------------------CREATE ROLE------------------------------------------------------------------- -->
<form action="/customRolesEntry" method="post">
<div class="modal fade" id="setting" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="express2">
                <div class="modal-header" style="background-color:#f05f40;">
                    <center><label id="head4" class="modal-title" style="color:white;font-size:14pt;"><b>CREATE ROLE</b></label></center>
                </div>
                <div id="err" class="col-lg-6 col-sm-offset-3"></div>
                <div class="modal-body"></div>
                    <div class="col-md-12 a">
                        <div class="col-md-5">
                            <label style="line-height:42px !important;">Custom Roles:</label>
                        </div>
                        <div class="col-md-7">
                            <input placeholder="Enter Role Name Here"type="text" maxlength="45" style="width:100%" class="form-control" id="rolename1" name="rname" value =""/>
                        </div>
                    </div>
                    <div class="col-md-12 a">
                            <div class="col-md-5"><label style="line-height:42px !important;">Industry:</label>
                            </div>
                            <div class="col-md-7">
                                 <input type="hidden"id="<%=industry[0].id%>"required name="industryhide" value="<%=industry[0].id%>"></input>
                                <select class="chzn-select" multiple="true" id="my-selectI" required name="industry">
                                   <%for(var i=0;i<industry[0].length;i++){%>
                                                <option value="<%=industry[0][i].values_id%>"><%=industry[0][i].values%></option>
                                   <%}%>
                                </select>
                            </div>
                    </div>
                    <div class="col-md-12 a">
                        <div class="col-md-5"><label style="line-height:42px !important;">Business:</label></div>
                        <div class="col-md-7">
                              <input type="hidden"id="<%=business[0].id%>"required name="businesshide"value="<%=business[0].id%>"></input>
                            <select class="chzn-select" multiple="true" id="my-selectB" required name="business">
                                   <%for(var i=0;i<business[0].length;i++){%>
                                            <option value="<%=business[0][i].values_id%>"><%=business[0][i].values%></option>
                                            <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 a">
                        <div class="col-md-5"><label style="line-height:42px !important;">Document Type:</label></div>

                      <div class="col-md-7">
                          <input type="hidden"id="<%=document[0].id%>"required name="doctypehide"value="<%=document[0].id%>"></input>
                            <select class="chzn-select" multiple="true" id="my-selectD" required name="doctype">
                                  <%for(var i=0;i<document[0].length;i++){%>
                                            <option value="<%=document[0][i].values_id%>"><%=document[0][i].values%></option>
                                <%}%>
                            </select>
                        </div>
                    </div> 
                    <div class="col-md-12 a">
                        <div class="col-md-5"><label style="line-height:42px !important;">Technology:</label></div>
                      <div class="col-md-7">
                          <input type="hidden"id="<%=technology[0].id%>"required name="newTechide"value="<%=technology[0].id%>"></input>
                            <select class="chzn-select" multiple="true" id="my-selectT" required name="technology">
                                 <%for(var i=0;i<technology[0].length;i++){%>
                                            <option value="<%=technology[0][i].values_id%>"><%=technology[0][i].values%></option>
                                <%}%>
                                     
                            </select>
                     </div>
                  </div>
                   <div class="col-md-12 a">
                        <div class="col-md-5"><label style="line-height:42px !important;">Restriction Level:</label></div>
                          <div class="col-md-7">
                             <input type="hidden"id="<%=restriction[0].id%>" required name="rLevelhide"value="<%=restriction[0].id%>"></input>
                                <select class="chzn-select" multiple="true" id="my-selectR" required name="rLevel">
                                     <%for(var i=0;i<restriction[0].length;i++){%>
                                                <option value="<%=restriction[0][i].values_id%>"><%=restriction[0][i].values%></option>
                                    <%}%>
                                    
                                </select>
                            </div>
                    </div>
               <div class="modal-footer" style="border-top:0px;">
              <center>
                <button type="submit" class="btn btn-default" style="margin-top:10px;background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;color:white" >Submit</button>
                   <button id="cancel" type="reset" data-dismiss="modal" class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">Cancel</button>
             </center>
           </div>
        </div>
    </div>
</div>
</form>
</div>
<!-- ---------------------------------------------- EDIT ROLE------------------------------------------------------>
    <form action="/customRolesUpdate" method="post">
    <div class="modal fade" id="editRole" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="express2">
                <div class="modal-header" style="background-color:#f05f40;">
                    <center><label id="head4" class="modal-title" style="color:white;font-size:14pt;"><b>EDIT ROLES</b></label></center>
                </div>
                <div id="err" class="col-lg-6 col-sm-offset-3"></div>
                <div class="modal-body">
                </div>
            <div class="hide">
               <div class="col-md-5">
               <label style="line-height:42px !important;">Role ID:</label>
               </div>
               <div class="col-md-7">
                <input placeholder="Enter Role Name Here"type="text" maxlength="45" style="width:100%" class="form-control" id="editRoleId" name="editRoleId" />
               </div>
            </div>
            <div class="col-md-12 a">
               <div class="col-md-5">
               <label style="line-height:42px !important;">Custom Roles:</label>
               </div>
               <div class="col-md-7">
                <input placeholder="Enter Role Name Here"type="text" maxlength="45" style="width:100%" class="form-control" id="rl_name" name="rname" />
               </div>
            </div>
                    <div class="col-md-12 a">
                    <div class="col-md-5"><label style="line-height:42px !important;">Industry:</label></div>
                    <div class="col-md-7">
                        <select class="chzn-select" multiple="true" id="my-selectII" required name="i_name">
                        <%for(var i=0;i<industry[0].length;i++){%>
                                        <option value="<%=industry[0][i].values_id%>"><%=industry[0][i].values%></option>
                           <%}%>
                        </select> 
                    </div>
                   </div>
                <div class="col-md-12 a">
                    <div class="col-md-5"><label style="line-height:42px !important;">Business:</label></div>
                    <div class="col-md-7">
                        <select class="chzn-select" multiple="true" id="my-selectBB" required name="b_name">
                            <%for(var i=0;i<business[0].length;i++){%>
                                        <option value="<%=business[0][i].values_id%>"><%=business[0][i].values%></option>
                                        <%}%>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 a">
                    <div class="col-md-5"><label style="line-height:42px !important;">Document Type:</label></div>
                  <div class="col-md-7">
                        <select class="chzn-select" multiple="true" id="my-selectDD" required name="d_name">
                            <%for(var i=0;i<document[0].length;i++){%>
                                        <option value="<%=document[0][i].values_id%>"><%=document[0][i].values%></option>
                            <%}%>
                        </select>
                 </div>
              </div>
              <div class="col-md-12 a">
                    <div class="col-md-5"><label style="line-height:42px !important;">Technology:</label></div>
                  <div class="col-md-7">
                         <select class="chzn-select" multiple="true" id="my-selectTT" required name="t_name">
                         <%for(var i=0;i<technology[0].length;i++){%>
                                        <option value="<%=technology[0][i].values_id%>"><%=technology[0][i].values%></option>
                            <%}%>
                        </select> 
                 </div>
              </div>
             <div class="col-md-12 a">
                <div class="col-md-5"><label style="line-height:42px !important;">Restriction Level:</label></div>
                  <div class="col-md-7">
                        <select class="chzn-select" multiple="true" id="my-selectRR" required name="res_name">
                             <%for(var i=0;i<restriction[0].length;i++){%>
                                        <option value="<%=restriction[0][i].values_id%>"><%=restriction[0][i].values%></option>
                            <%}%>
                        </select>
                    </div>
            </div>
                <div class="modal-footer" style="border-top:0px;">
                <center>
                    <button class="btn btn-default" style="margin-top:10px;background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;color:white">Submit</button>
                    <button id="cancel" type="reset" data-dismiss="modal" class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">Cancel</button>
                </center>
              </div>
            </div>
            </div>
</div>
</form>

<!---------------------------------------VIEW ROLE INFO---------------------------------------------------------------->

  <div class="modal fade" id="viewrole" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="express2">
                <div class="modal-header" style="background-color:#f05f40;">
                    <center><label id="head4" class="modal-title" style="color:white;font-size:14pt;"><b>Roles Information</b></label></center>
                </div>
                <div id="err" class="col-lg-6 col-sm-offset-3"></div>
                <div class="modal-body">
                      <table class="table table-hover table-striped table-bordered rceDataTable" cellpadding="0" cellspacing="0" border="0" id="roletable"></table>

                </div>
             
              </div>
            </div>
            </div>

<footer>
        <% include ./partials/footer %>
    </footer>