<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
    <% include ./partials/adminheader %>
</head> 
<style>
 input[type=search] {
    height: 29px !important;
    border-radius: 5px !important;
    border: 1px solid #669ECC !important;

  }
   
 .glyphicon-ok-circle{
  color:green!important;
 }
 .ui-datepicker-div{
position: absolute;
top: 219px;
 }
</style>
  <script src="http://code.jquery.com/jquery.min.js"></script>

<script type="text/javascript">
var otable='';
$(document).ready(function() {
   $("#odate").datepicker();
   otable=$('#bugtable').dataTable({
    'iDisplayLength': 10,
    "order":[]
  });
});
</script>
<script type="text/javascript">
function verifyfile(classname)
{
  var fileExt ='';
  if ($('.'+classname).val() != '') {
    var file = $('.'+classname)[0].files[0];    
    var fileName = file.name;   
     fileExt = '.' + fileName.split('.').pop();
if(fileExt=='.xls' || fileExt=='.xlsx')
{
return true;
}
else
{
  alert("Please select an excel file.")
return false; 
}
  }
}

function editHoliday(id)
{  
   var cid=id==""?0:$('#editRoleId').val();
    $.ajax({
            url: '/selectidHoliday',
            type: 'post',
            data: {'id': id},
            dataType: 'json',
            success: function(data) { 
                              console.log('+++++++++++++++++++',data);      
                  $('#oid').val(data[0].id);                
                  $('#oname').val(data[0].holidayName);
                  $('#odate').val(data[0].holidayDate);
                                                                
                }
        });
 }

function  validation() {
    //  id =$('#oid').val();
    id =  $('#oid').val()==""?0:$('#oid').val();
      $.ajax({
           url: '/updateHoliday',
           type: 'post',
           data: {'id':id,
                  'hname': $('#oname').val(),
                  'hdate': $('#odate').val()
                },
           dataType: 'json',
           success: function(data){
            console.log('ttttttttttttttttttttttttt',data[0][0].flag);
                     $('#editHoliday').addClass('hide');
                     if(data[0][0].flag==1){
                        alert("Holiday Added successfully");
                     }
                     if(data[0][0].flag==2){
                      alert("Holiday Already Exist!! ");
                      return false;
                     }
                     if(data[0][0].flag==3)
                     {
                    alert("Holiday Updated successfully");
                     }
                    window.location.href="/holiday";
                 /*  alert("Holiday Updated successfully");*/
           }
      });
}
</script>  
<body style="background-color:antiquewhite;">
<div class="row">
  <div class="bug-background col-md-9" id="accordions"  style="margin-top:8%;padding-bottom:2%">  
 <a>
     <button class="btn btn-danger" id="newRole" style="float:left;position:relative;left:2%;background-color:#f05f40;color:white" data-toggle='modal' data-target='#editHoliday' >Add Holiday</button>
    </a>
<br><br>
<table class="table stripe cell-border hover" id="bugtable" width="">
    <thead>
       <tr  >
 <th  class="hide">Occasion ID</th>
 <th   >Occasion Name</th>
                <th   >Occasion Date</th>
                <th   >Edit Info</th>            
                </tr>
                  </thead>
                         <tbody id="wbsstatus">
                <% for(var i=allinfo.length-1;i>=0;i--) { %>
                                <tr   id="abc_<%=allinfo[i].WBSId%>">
                                <td class="hide"><%=allinfo[i].id%></td>
                                <td>
                                <%=allinfo[i].holidayName%>
                                </td>
                                <td>
                                <%=allinfo[i].holidayDate%>
                                </td>
                                <td>
              <span class="glyphicon glyphicon-pencil" style="margin-left:20px;color:red;height:10px" title="Edit Holiday" data-toggle='modal' data-target='#editHoliday' onclick="editHoliday(<%=allinfo[i].id%>)"></span>
                                </td>
                                </tr> 
                                <% } %> 
              </tbody>
            </table>
          </div>
  <div class="bug-background col-md-3" id="accordions"  style="border: 1px solid #f05f40;border-radius:20px;margin-top:12%;padding-bottom:2%">
     <form  action="/upload_holiday" id="formID" method="post" enctype="multipart/form-data"  onsubmit="return verifyfile('fileStyle')">
                <div class="col-md-10 col-md-offset-1 " id="lastfiveuploads7" style="margin-top:7%;">
                    <input type="file" class="fileStyle form-control" name='BuHrMap' style="font-size:11px;height:30px" required>
                    <input type="text" name="flag" class="hide"  value=0 />
                </div>
                <div class="col-md-10 col-md-offset-1" id="lastfiveuploads6" style="margin-top:7%;">
                    <input type="text" required name="title" placeholder="File Title" style="width:100%">
                </div>
                 <div class="col-md-6 col-md-offset-4 " id="lastfiveuploads6" style="margin-top:5%;">
                    <button type="submit" class="btn btn-success" style="background-color: #f05f40;border-color: #f05f40;">Submit</button>
                </div>
</form>
  </div>
  </div>
</body>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++Edit Holiday+++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <div class="modal fade" id="editHoliday" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" id="express2">
                <div class="modal-header" style="background-color:#f05f40;padding:0px">
                    <center><label id="head4" class="modal-title" style="color:white;font-size:14pt;"><b>Edit Holiday</b></label></center>
                </div>
                <div id="err" class="col-lg-6 col-sm-offset-3"></div>
                <div class="modal-body">
                </div>      
            <div class="hide">
                <input placeholder="id"type="text" maxlength="45" style="width:100%" class="form-control" id="oid" name="oid" />
               </div>
            <div class="col-md-12 a"> 
               <div class="col-md-5">
               <label style="line-height:42px !important;padding:0px">Occasion Name:<sup style="color:red">*</sup></label>
               </div>
               <div class="col-md-7">
                <input placeholder="Enter Occasion Name Here"type="text" maxlength="45" style="width:100%" class="form-control" id="oname" name="oname" />
               </div>
            </div>
                <div class="col-md-12 a"> 
               <div class="col-md-5">
               <label style="line-height:42px !important;padding:0px">Occasion Date:<sup style="color:red">*</sup></label>
               </div>
               <div class="col-md-7">
                <input placeholder="Enter Date Here"type="text" maxlength="45" style="width:100%" class="form-control" id="odate" name="odate" />
               </div>
            </div>
                <div class="modal-footer" style="border-top:0px;">
                <center>
           <button class="btn btn-default" style="margin-top:10px;background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;color:white" onclick="validation()">Submit</button>
                    <button id="cancel" type="reset" data-dismiss="modal" class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white" onclick="window.location.reload()">Cancel</button>
                </center>
              </div>
            </div>
            </div>
</div>

        <footer>
        <% include ./partials/footer %>
    </footer>