<!DOCTYPE html>
<html lang="en">
 


    <% include ./partials/head %>
    <% include ./partials/adminheader %>
    <% include ./partials/setting-header %>
    <style type="text/css">
/*.dataTables_filter, .dataTables_length {
     display: none;
    }*/
    </style>
 <script>
 
$(document).ready(function() {


        $('.portal-menu').removeClass('hide');
        otable = $("#data_tableModule").dataTable({
            "aLengthMenu": [[10,20,50,100,-1],["10", "20","50","100","all"]],
            "bDestroy": true,
            "iDisplayLength": 6,            "showNEntries": true, 
            "bFilter": true,        
            "bLengthChange": false,"aoColumnDefs": [{  }],
            "order": []  
         });
        $("#searchbox1").keyup(function() {
        otable.fnFilter(this.value);
      });
        otableNew = $("#data_tableUser").dataTable({
            "aLengthMenu": [[10,20,50,100,-1],["10", "20","50","100","all"]],
            "bDestroy": true,
            "iDisplayLength": 6,            "showNEntries": true, 
            "bFilter": true,        
            "bLengthChange": false,"aoColumnDefs": [{  }],
            "order": []         
            
         });
        $("#searchbox2").keyup(function() {
        otableNew.fnFilter(this.value);
      });

        
     });


     </script>

 

   
   <%if(roleid==1){%>
<div class="secondry-color">
        <div class="row" style="padding-bottom:20px">
                <div class="col-lg-6 col-md-6 table-responsive">
                <!-- <input class="form-control input-sm" type="text" placeholder="Search in this table" id="searchbox1" style="float:right;width: 160px;"> -->
                    <table id="data_tableModule" class="table stripe cell-border hover responsive" width="100%" style="text-align:center;padding-top: 10px " >
                        <thead>
                        <tr>
                                <th style="text-align:center;" >Module</th>
                                <th style="text-align:center;" >No Of Users</th>
                                <th style="text-align:center;" >Users LOGIN First Time</th>
                               </tr> 
                         </thead>
                        <tbody id="orderbody">
                      
                             <% if(module[1].length>0){
                              for(var i=0;i<module[1].length;i++){ 
                              if(module[1][i].totalUser==null)                              
                                var totalUserLen=0;
                                else
                                var totalUserLen=module[1][i].totalUser.split(',').length;
                                if(module[1][i].activeUser==null)                              
                                    var activeUserLen=0;
                                else    
                                var activeUserLen=module[1][i].activeUser.split(',').length;
                                %>
                      
                          <tr><td><%=module[1][i].name%></td><td><%=totalUserLen%></td><td><%=activeUserLen%></td></tr>
                            <%}}%>
                        </tbody>
                    </table>
               </div>
 
                <div class="col-lg-6 col-md-6 table-responsive">
                <!-- <input class="form-control input-sm" type="text" placeholder="Search in this table" id="searchbox2" style="float:right;width: 160px;"> -->
                <table id="data_tableUser" class="table stripe cell-border hover responsive" style="text-align:center;padding-top: 10px;" width="100%">
                        <thead>
                        <tr>
                                <th style="text-align:center;" >UserName</th>
                                <th style="text-align:center;" >Module Access</th>
                                <th style="text-align:center;" >IsValidated?</th>
                                </tr>
                         </thead>
                        <tbody id="orderbody">
                           <%if(module[0].length>0){
                            for(var i=0;i<module[0].length;i++){
                                  var isActive='';
                             if(module[0][i].isValidate==0)
                                    isActive="not validated"
                              else
                                     isActive="validated"      %>
                            <tr><td><%=module[0][i].name%></td><td><%=module[0][i].module%></td><td><%=isActive%></td></tr>
                            <%}}%>
                        </tbody>
                    </table>
               </div>

                </div>

        </div>
</div>


<%}%>
<%if(roleid!=1) {%>
             <img src="/img/welcome.jpg" height="400px" width="100%" class=""  alt="">
  <%}%>


    <footer style="height:100px" >
        <% include ./partials/footer %>
    </footer>

</body>
</html>
