<!DOCTYPE html>
<html lang="en">

<head>
<style>

.marginAlign{
  margin-top: 2%;
}

 input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
sup {color: red;}
div .ui-tagger-menu .ui-widget .ui-widget-content .ui-corner-all{}
.ui-tagger
{
  width:100% !important;
  background-color: #FFFFFF !important;
  margin-top: 15px !important;
}
.ui-tagger-menu 
{
width:24% !important;
}
   .form-table label {
          display: inline-block;
          margin: 0 0 -1px;
          padding: 5%;
          font-weight: 600;
          text-align: center;
          color: #524A4A;
          border: 1px solid transparent;
          font-size: 11px;
      }

      .modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
     background-color: #FFFFFF !important;
    height: 40px;
    }
</style>

<% include ./partials/head %>  

</head>
<body>
  <div>
    <% include ./partials/adminheader %>
  </div>
  <div class="container-fluid user-list secondry-color" style=" ">
    <div  style="margin-top:1%">
      <span class="modal-title" style="margin-left:42%"><%if(flag==0){%>Add Project Details<%} else{%>Edit Project Details.<%}%></span> </div>
      <main>
        
      <input type="hidden" id="tabDetail" name="tabDetail">
      <input type="hidden" id="pid" name="pid" <%if(flag==1){%>value='<%=name[0].id%>' <%} else{%> value=0 <%}%>>
      <input type="hidden" id="hdnId" name="hdnId" <%if(flag==1){ %>value='<%=flag%>' <%} else{%> value=0 <%}%>> 
      <input id="tab1" class="tabradio" type="radio" name="tabs" value="1" checked> <label for="tab1">Basic Details</label> 
       <input id="tab2" class="tabradio" type="radio" name="tabs" value="2" > 
       <label for="tab2">Project Data</label>
      <input id="tab5" class="tabradio"   type="radio" name="tabs" value="3" > 
      <label for="tab5">Billing</label>

      <section id="content1">
        <table class="table form-table">
          <tr>
            <td>
              <td><label  style="padding:2%;color: #524A4A;font-size: 11px"> Project Name: <sup>*</sup> </label></td>
              <td><input type="text"   placeholder=" -- Enter Project Name -- " class="form-text-box"  style="width:100%"  name="pname" id ="idpname" maxlength="50" onblur=" return allProjects(); " <%if(flag==1){%>value='<%=name[0].projectTitle%>' <%}%> required></td>
            </td>
            <td>
              <td><label style="padding:2%;color: #524A4A;font-size: 11px" >Project Code:</label></td>
              <td> <input type="text" style="width:107%" class="form-text-box" placeholder="Project Code" name="pcode" id ="pcode" onkeypress="return specialchar(event)" <%if(flag==1){%>value='<%=name[0].pcode%>' <%}%> required readonly> </td>
            </td>
            <td>
              <td><label style="padding:2%;color: #524A4A;font-size: 11px">Client: <sup>*</sup></label></td>
              <td>
              <select  class="form-text-box" style=""  name="pclient" id ="pclient" onchange="getSelectedOptions($('#pclient :selected').val())"> 
              <option value='0' disabled selected>Select</option>
                  <% for(var i=0;i<client.length;i++) {%>
                <option value="<%=client[i].id%>"><%=client[i].clientName%></option>
                 <%}%>
              </select> </td>
            </td>


            <td>
              <td class=""><label style="padding:2%;color: #524A4A;font-size: 11px">Client Contact Person:</label></td>
              <td class="">
              <div id="contactDiv">
               <select multiple="multiple" class="form-text-box" style=""  name="ccontact" id ="ccontact"> 
              </select> 
              </div>
              </td>

              </td> 
          </tr>
          <tr>

          <td>
              <td style="width:110px"><label style="padding:2%;color: #524A4A;font-size: 11px">Technology: <sup>*</sup></label></td>
              <td>
              <select multiple="multiple" class="form-text-box" style="" name="ptech" id ="ptech" maxlength="50" data-placeholder="Choose Project Technology..."> 
              <option  value='0' disabled selected>Select</option>
                <% for(var i=0;i<tech.length;i++) {%>
                <option value="<%=tech[i].id%>"><%=tech[i].description1%></option>
                      <%}%>
              </select> </td>
            </td>


            <td>
              <td><label style="padding:2%;color: #524A4A;font-size: 11px">Planned Start Date: <sup>*</sup></label></td>
              <td> <input type="text" maxlength="20" placeholder="Select Date"  style="width:107%"   class= "form-text-box" id="datepicker" name="psdate" <%if(flag==1){%>value='<%=name[0].plannedStartDate%>'<%}%>></td>
            </td>
            <td>
              <td><label style="padding:2%;color: #524A4A;font-size: 11px">Planned End Date: <sup>*</sup></label></td>
              <td><input type="text" style="width:100%"  maxlength="20" placeholder="Select Date" name="pedate"  class="form-text-box" id ="datepicker1" <%if(flag==1){%>value='<%=name[0].plannedEndDate%>'  <%}%> ></td>
            </td>
            <td>
              <td><label style="padding:2%;color: #524A4A;font-size: 11px">Complexity: </label></td>
              <td>
              <select style="" class="form-text-box" id ="pcomplexity" name="pcomplexity" >
                <option  value='0' disabled selected>Select</option>
                <option  value='simple'<%if(flag==1&&name[0].pcomplexity=='simple'){%>selected<%}%> > simple </option>
                <option  value='medium'<%if(flag==1&&name[0].pcomplexity=='medium'){%>selected<%}%> > medium </option>
                <option  value='complex'<%if(flag==1&&name[0].pcomplexity=='complex'){%>selected<%}%>> complex </option>
              </select></td>
            </td>
            
          </tr>
          <tr>

          <td>
              <td><label style="padding:2%;color: #524A4A;font-size: 11px"> Location:</label></td>
              <td><select class="form-text-box" id ="plocation" name="plocation" >
                <option value='0' disabled selected >Select</option>
                  <% for(var i=0;i<location.length;i++) {%>
                <option value="<%=location[i].id%>"<%if(flag==1&&name[0].locid==location[i].id){%>selected<%}%> ><%=location[i].location%></option>
                  <%}%>
              </select></td>
            </td>


          <td>
            <td><label style="padding:2%;color: #524A4A;font-size: 11px" >Description:</label></td>
            <td>  <textarea placeholder="Enter Project Description" id="DescriptionID" style="margin-top:-1%;max-height: 60px;width: 144px;height:60px;resize:none" class="form-text-box" row=2 name="pdescription" maxlength="250" onkeypress="return specialchar2(event)" <%if(flag==1){%>value="<%=name[0].description%><%}%>"><%if(flag==1){%><%=name[0].description%><%}%></textarea> 
              
          </td>
          <td>
            <td  <%if(flag==0 ){%> class="hide"<%}%> ><label style="padding:2%;color: #524A4A;font-size: 11px">Status</label></td>
            <td  <%if(flag==0 ){%> class="hide"<%}%> >
            <input type="radio" name="pstatus"  value= 1  id = "pstatus1" required  style="margin-top:3%" checkded="true"> Active
              <input type="radio" name="pstatus"  value= 0  id = "pstatus2" required  style="margin-top:3%;"> Inactive
            </td>
          </td>
          </td>
          <td>
            <td><label ></label></td>
            <td></td>
          </td>
          <td>
            <td><label ></label></td>
            <td></td>
          </td>
        </tr>
        </table>


<script>
  $("#pclient").val([<%if(flag==1){for(var i=0;i<name.length;i++){%>"<%=name[i].cname%>",<%}}%>]).prop("selected", false);
  $("#ptech").val([<%if(flag==1){for(var i=0;i<name.length;i++){%>"<%=name[i].technologyId%>",<%}}%>]).prop("selected", false);
</script> 
          <center  style="margin-bottom:1% "> 
        <a href="/projectDetails">
          <input type="button" name="cancel" value="Cancel" form="cancelform" class="btn btn-primary" style="background-color: #f05f40 !important">
          </a>
         
          <input type="submit"  id="createProject" value="Submit"  onclick="validBasicInfo1()" name="submit" class="btn btn-primary" style="background-color: #f05f40 !important;">

          <input type="button"  value="Next"  onclick="validDocInfo(2)" class="btn btn-primary" style="background-color: #f05f40 !important;">
        
           
          </center>
         
      </section>
      <section id="content2">
        
        <table class="table">
          <tr>
            <td>
              <td style="width: 100px"><label   style="padding:2%;color: #524A4A;font-size: 11px">Actual Start Date :</label></td>
              <td><input type="text"  maxlength="20" placeholder="Select Actual Start Date"  class= "form-text-box" id="datepicker2" style="margin-top:2%;background-color:white; background-color: rgb(255, 255, 255);width:96%" name="asdate" <%if(flag==1){if(name[0].actualStartDate !='00/00/00'){%>value='<%=name[0].actualStartDate%>' <%} else{%> value='' <%}}%> >
             </td>
            </td>
            <td>
              <td style="width: 100px"><label  style="padding:2%;color: #524A4A;font-size: 11px">Actual End Date :</label></td>
              <td> <input type="text"  maxlength="20" placeholder=" -- Select Actual End Date" class= "form-text-box" id="datepicker3" style="background-color:white;margin-top:2%; background-color: rgb(255, 255, 255);width:96%" name="aedate"  <%if(flag==1){if(name[0].actualEndDate !='00/00/00'){%>value='<%=name[0].actualEndDate%>' <%} else{%> value='' <%}}%> ></td>
            </td>
            <td>
              <td style="width: 100px"><label style="padding:2%;color: #524A4A;font-size: 11px">Comercial Head</label></td>
              <td><select style="" class="form-text-box" id="pcommercialhead" name="pcommercialhead" >
                <option   value='0' disabled selected>Select</option>
                <% for(var i=0;i<teamlead.length;i++) {%>
                <option value="<%=teamlead[i].id%>"<%if(flag==1&&name[0].commercialHead==teamlead[i].id){%>selected<%}%> ><%=teamlead[i].name%></option>
                  <%}%> 
              </select> 
             </td>
            </td>
            <td>
              <td style="width: 100px"><label style="padding:2%;color: #524A4A;font-size: 11px">Resources: <sup class="astrick">*</sup></label></td>
              <td> <select multiple="multiple" class="form-text-box" style="margin-top:3%;width:100%;"  name="presource" id ="presource" maxlength="50">
                <% for(var i=0;i<resource.length;i++) {%>
                <option value="<%=resource[i].id%>"><%=resource[i].name%></option>
                <%}%>
              </select>
              <%if(flag==1){for(var i=0;i<name.length;i++){%>
              <%console.log('gdgtdgdtfgdgd-----------',name[i].ccmid)%>
              <%}}%>
              <script type="text/javascript">
   $("#presource").val([<%if(flag==1){for(var i=0;i<name.length;i++){%>"<%=name[i].userId%>",<%}}%>]).prop("selected", false);
   $("#ccontact").val([<%if(flag==1){for(var i=0;i<name.length;i++){ %>"<%=name[i].ccmid%>",<%}}%>]).prop("selected",false);
</script>

              </td>
            </td>
          </tr>
          <tr>
            <td>
              <td><label style="padding:2%;color: #524A4A;font-size: 11px">Account Lead:</label></td>
              <td> <select class="form-text-box" id="paccounthead" name="paccounthead" >
                <option value='0' selected disabled >Select</option>
                <% for(var i=0;i<teamlead.length;i++) {%>
                <option value="<%=teamlead[i].id%>"<%if(flag==1&&name[0].accountHead==teamlead[i].id){%>selected<%}%> ><%=teamlead[i].name%></option>
        <%}%> </select>
             </td>
            </td>
            <td>
              <td><label style="padding:2%;color: #524A4A;font-size: 11px">Manager:</label></td>
              <td> <select class="form-text-box" id ="pmanager" name="pmanager" >
                <option value='0' selected disabled>Select</option>
                <% for(var i=0;i<manager.length;i++) {%>
                <option value="<%=manager[i].id%>"<%if(flag==1&&name[0].manager==manager[i].id){%>selected<%}%> ><%=manager[i].name%></option>
               <%}%>
              </select>
              </td>
            </td>
            <td>
              <td><label class="form-label"></label></td>
              <td></td>
            </td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td> 
           <td></td><td></td><td></td><td></td>
              <td></td><td></td><td></td><td></td> 
          </tr>
        </table> 
       
          <center style="margin-bottom: 1%">
          <a href="/projectDetails">
          <input type="button" name="cancel" value="Cancel" form="cancelform" class="btn btn-primary" style="background-color: #f05f40 !important">
          </a>
          <input type="submit"  id="createProject" value="Submit"  onclick="validBugInfo1()" name="submit" class="btn btn-primary" style="background-color: #f05f40 !important;">


          <input type="button"  value="Next"  onclick="validDocInfo(5)" class="btn btn-primary" style="background-color: #f05f40 !important;">


          </center>
        
      </section>
      <section id="content5">
        <table class="table form-table" >
          <tr>
            <td>
              <td><label style="padding:2%;color: #524A4A;font-size: 11px;width:107px">Billable:</label></td>
              <td>
               <input type="radio" name="isBillable"  value= 1  id = "isBillable1" required  style="margin-top:3%;"> Yes
              <input type="radio" name="isBillable"  value= 0  id = "isBillable2" required  style="margin-top:3%;"> No
              </td>
            </td>
            <td>
              <td><label style="padding:4%;color: #524A4A;font-size: 11px;width:107px">Project Type:</label></td>
              <td>
              <select style="width:145%" id="ptype1" class="form-text-box" name="ptype">
                  <option disabled selected value=0>Select</option>
              <% for(var i=0;i<allPtype.length;i++) {%>
              <option value="<%=allPtype[i].id%>"><%=allPtype[i].description1%></option>
              <%}%>
                </select>
              </td>
            </td>

            <td>
              <td><label style="padding:8%;color: #524A4A;font-size: 11px;width:107px;margin-top:-4%">Tax Code:</label></td>
              <td> <input type="text" placeholder="Enter Tax Code"  class= "form-text-box" id="taxCode" style="margin-top:%;" name="taxCode"  maxlength="20"  <%if(flag==1){%>value='<%=name[0].taxCode%>' <%}%>>
              </td>
            </td>
            <td>
              <td><label style="padding:6%;color: #524A4A;font-size: 11px;width:107px">PO Number:</label></td>
              <td style="width: 220px">
              <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength = "10" min = "1" max = "99999" placeholder=" -- Enter PO Number -- "class= "form-text-box" id="poNumber" style="margin-top:%;" name="poNumber" <%if(flag==1){%>value='<%=name[0].poNumber%>'<%}%> >
              </td>
            </td>
          </tr> 
          <tr>
            <td>
              <td><label style="padding:4%;color: #524A4A;font-size: 11px;width:107px">Project Category:</label></td>
              <td>
              <select style="width:145%" id="pcat" class="form-text-box" name="pcat">
                  <option selected disabled value=0>Select</option>
              <% for(var i=0;i<allPcat.length;i++) {%>
              <option value="<%=allPcat[i].id%>"><%=allPcat[i].description1%></option>
              <%}%>
                </select>
              </td>
            </td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td> 
           <td></td><td></td><td></td><td></td>
              <td></td><td></td><td></td><td></td> 
          </tr>
        </table>

            <center style="padding-bottom: 1%">
            <a href="/projectDetails">
          <input type="button" name="cancel" value="Cancel" form="cancelform" class="btn btn-primary" style="background-color: #f05f40 !important">
          </a>
         
          <input type="submit"  id="createProject" value="Submit"  onclick="validFinanceInfo1()" name="submit" class="btn btn-primary" style="background-color: #f05f40 !important;">
         
             </center>

      
        </section>
      </main>
    </div>
  <footer>
    <% include ./partials/footer %>
  </footer> 
</body>

</html>


<script>
  var tabDisable=0;
  var addedit=0;
  var pressButton=0;
  var abcd=0;
    $(document).ready(function() {

      $('#pclient').tagger({
        "fieldWidth":"13em"
      });  
      $('#ptech').tagger({
        "fieldWidth":"13em"
      }); 
      $('#presource').tagger({
        "fieldWidth":"13em"
      });
      $('#pcomplexity').tagger({
        "fieldWidth":"13em"
      });
      $('#pcommercialhead').tagger({
        "fieldWidth":"13em"
      });
      $('#paccounthead').tagger({
        "fieldWidth":"13em"
      });

      $('#pmanager').tagger({
        "fieldWidth":"13em"
      });

       $('#ccontact').tagger({
        "fieldWidth":"13em"
      });

  
  $('#plocation').tagger({
        "fieldWidth":"13em"
      });
/*
  $("#ptech").prop("selectedIndex", -1);
  $("#pclient").prop("selectedIndex", -1);*/

  $("input[name=pstatus][value=" + 1 + "]").prop('checked', true);
  $("input[name=isBillable][value=" + 1 + "]").prop('checked', true);
  $("input[name=ptype][value=" + 1 + "]").prop('checked', true);
  $("input[name=pclient][value=" + 0 + "]").prop('checked', true);
  $('.project-img').addClass('active');
  //$("#pcomplexity").prop("selectedIndex", -1);

if( '<%=flag%>'=='1'){
         <%if(name.length){%>
           //$("input[name=ptype][value=<%=name[0].ptype%>]").prop('checked', true);
           $("input[name=pstatus][value=<%=name[0].pstatus%>]").prop('checked', true);
           $("input[name=isBillable][value=<%=name[0].isBillable%>]").prop('checked', true);

           $('#pcomplexity').val('<%=name[0].pcomplexity%>');
 //$('#completed').val('<%=name[0].completed%>');



if('<%=name[0].projectTitle%>'=='DummyProject'){
        $('#idpname').attr('disabled',true);
      }


      if ('<%=name[0].ptype%>' == null) {
                        //$("#wbslocation").prop("selectedIndex", -1);
                        $('#ptype1').val(0);
                    } else {
                        $('#ptype1').val('<%=name[0].ptype%>');
                    }
      if ('<%=name[0].category%>' == null) {
          //$("#wbslocation").prop("selectedIndex", -1);
          $('#pcat').val(0);
      } else {
          $('#pcat').val('<%=name[0].category%>');
      }


    <%}%>

 }
  $("#datepicker").datetimepicker({timepicker:false,format:'m/d/y',scrollMouse: false,scrollInput: false});
  $("#datepicker1").datetimepicker({timepicker:false,format:'m/d/y',scrollMouse: false,scrollInput: false});
  $("#datepicker2").datetimepicker({timepicker:false,format:'m/d/y',scrollMouse: false,scrollInput: false});
  $("#datepicker3").datetimepicker({timepicker:false,format:'m/d/y',scrollMouse: false,scrollInput: false});
  /*$('#datepicker').datetimepicker({ timepicker: false, format: 'm/d/y' });
  $('#datepicker1').datetimepicker({ timepicker: false, format: 'm/d/y' });
  $('#datepicker2').datetimepicker({ timepicker: false, format: 'm/d/y' });
  $('#datepicker3').datetimepicker({ timepicker: false, format: 'm/d/y' });*/

if( '<%=flag%>'=='1'){
getSelectedOptions($('#pclient').val());

}


});


    $('#pclient').change(function() {
       alert('1');
    }); 

function getSelectedOptions(cid){//alert(cid);
  $.ajax({
                url: '/clientContactAccToClient',
                type: 'post',
                data: { "cid": cid},
                success: function(data) {
  
               $("#ccontact").val([<%if(flag==1){for(var i=0;i<name.length;i++){console.log(name[i].ccmid)%>"<%=name[i].ccmid%>",<%}}%>]).prop("selected",false);
               console.log('name id---<%=name.length%>','data id---',data[0].length);

                  var string1="<select multiple='multiple' id=\"ccontact\"><option value=0 disabled>Select </option>" ;
                  var temparr=[];

                   for(var i =0;i<data[0].length;i++){   
                
                        string1+="<option value="+data[0][i].id+" <%if(flag==1){for(var j=0;j<name.length;j++){%>";

                        console.log('name id---<%=name[j].ccmid%>','data id---',data[0][i].id);
                        if(data[0][i].id=='<%=name[j].ccmid%>' && temparr.indexOf('<%=name[j].ccmid%>')<0){
                          //console.log(i,'--j=<%=j%>');
                          string1+='selected';
                          temparr.push('<%=name[j].ccmid%>');

                        }

                        string1+="<%}}%>>"+data[0][i].Name+"</option>"  ;           
                        }
              string1+="</select>";
              console.log(string1);



              $("#contactDiv").html(string1);
                  
                   $('#ccontact').tagger({
                    "fieldWidth":"13em"
                      }); 
                }

            });
}

    var y = Math.floor((Math.random() * 1000) + 1);
    function myFunction() {
      var x = document.getElementById("idpname");
      var x2 = document.getElementById("pcode");
      if(x.value != ''){
        var ss=x.value;
        ss=ss.charAt(0);
        var s1=x.value;
        s1=s1.charAt(1);
        ss = "".concat(ss,s1);
        x2.value = ss + "_" + y;
      }
      else{
       x2.value="";
      }
    }
    
    function specialCharacter(evt) {
      var charCode = (evt.which) ? evt.which : event.keyCode
      if ((charCode != 38 && charCode > 32 && charCode < 46) || (charCode > 57 && charCode < 64) || charCode == 126 || charCode == 96) {
        alert("This special character or number is not allowed\n ");
        return false;
      }
      return true;
    }
    function allProjects() {
      var abc=1;
              if('<%=flag%>'=='0'){
                console.log('all project size---',<%=allProjects.length%>);
                <%if(allProjects.length>0){%>
               <%  for(var j=0;j< allProjects.length; j++){console.log("---------------",allProjects[j].projectTitle);%>
                    if($('#idpname').val()=='<%=allProjects[j].projectTitle%>'){
                    alert('Project Already Exists.\nChange the name of project');
                    abc=0;
                    document.getElementById('idpname').value = "";
                    document.getElementById('pcode').value = "";
                     $('#idpname').focus();
                    return false;
                   }
                   else{
                    abc++;
                   }

               <% } } %>
                   if(abc !=0){
                    myFunction();
                    return true;
                   }
                }
    }


    
    function resetUserForm() {
      $("#tab1").click();
      $(".modal input, textarea").val("");
      $(".modal select").val(0);
      $('input[type="radio":checked]').each(function() {
        $(this).checked = false;
      });
      $("#btnuser").text('Create User');
      $("#hdnId").val('0');
    }
            
    function validBasicInfo1() {
      pressButton=1;
      validBasicInfo();
    }
    
    function validBasicInfo() {

      var re="[a-zA-Z ]*$";
      
      if($('#idpname').val().trim().length<=0  || $('#idpname').val()==''){
        alert("Please select a project name First"); 
        return false;
      }
      /*if(!(re.test($("#idpname").val()))){
        alert('Only alphabets are allowed in project name');
        return false;
      }*/
      if($('#pclient').val()==null || $('#pclient').val()=='0')  
      {
        alert("Please select a project client First"); 
        return false;
      }
      if($('#ptech').val()==null || $('#ptech').val()=='0')
      {
        alert("Please select a project Technology First"); 
        return false;
      }

      var text = $('#datepicker').val();
        var date = new Date(text);
        if(text != ''){
        if(date == 'Invalid Date'){
               alert('Invalid  Planned Start Date');
                return false;
            }
          }

            var text = $('#datepicker1').val();
             var date = new Date(text);
             if(text != ''){
             if(date == 'Invalid Date'){
               alert('Invalid  Planned End Date');
                return false;
              }
            }

             /*var psdate = $('#datepicker').datepicker("getDate");*/ var text = $('#datepicker').val();
              /*var pedate = $('#datepicker1').datepicker("getDate");*/var text1 = $('#datepicker1').val();
              var psdate=new Date(text); var pedate=new Date(text1); 
            if(text == ''){
              alert('Please Select Planned Start Date');
              return false;
            }
            if(text1 == ''){
              alert('Please Select Planned End Date');
              return false;
            }
            if(psdate>pedate){
                  alert('Planned End Date can not be less than Planned Start Date');
                  return false;
                }


      
      if($('#hdnId').val() == 0){
        if(abcd==0)addedit=0;
      }
      else{
        addedit=1;
      }
      $('#tabDetail').val(1);
        tabDisable=1;
        if(pressButton==1){addProject();}
        else{return true;}
    }
    
    function validBugInfo1() {
      pressButton=2;
      validBugInfo();
    }
    
    function validBugInfo() {
      var abc=validBasicInfo();
      //alert('abc--'+abc);
      if(abc){
             var text = $('#datepicker2').val();
             var date = new Date(text);

             if(text != ''){
             if(date == 'Invalid Date'){
               alert('Invalid  Actual Start Date');
                return false;
            } }
            var text = $('#datepicker3').val();
             var date = new Date(text);
             if(text != ''){
             if(date == 'Invalid Date'){
               alert('Invalid  Actual End Date');
                return false;
            } }
             var text = $('#datepicker').val();
             var text1 = $('#datepicker1').val();
             var text2 = $('#datepicker2').val();
             var text3 = $('#datepicker3').val();

            var psdate=new Date(text); var pedate=new Date(text1); var asdate=new Date(text2); var aedate=new Date(text3);

            if(text3 != ''){  if (text2 != ''){
              if(asdate>aedate){
                alert('Actual End Date can not be less than Actual Start Date');
                return false;
              }
            }
            else{
              alert('Please Select Actual Start Date');
              return false;
            }
          }

          if($('#presource').val()==null || $('#presource').val()=='0')  
            {
              alert("Please select project resources First"); 
              return false;
            }
              abcd=1;
           if($('#hdnId').val() == 0){
              if(pressButton==2)addedit=1;
              else addedit=1;
           }
           else{
             addedit=1;
              }
              //$('#tabDetail').val(2);
              tabDisable=2;
              if(pressButton==2){$('#tabDetail').val(1);addProject();}
              else{$('#tabDetail').val(1);return true;}
            }
          }
          function validFinanceInfo1(){
              pressButton=3;
              validFinanceInfo();
          }
        
            function validFinanceInfo(){
              var abc=validBugInfo();
              if(abc){
                abcd=1;
                if($('#hdnId').val() == 0){
              }
              else{
                addedit=1;
              }
              tabDisable=3;
              if(pressButton==3){addProject();}
              else{return true;}
            }
          }
          function addProject() {

           
                  if($("#pid").val() == 0){
                       addProject1();
                }
                else{
                   $.ajax({
                            url: '/checkProjectWbsDate',
                            type: 'post',
                            data: {"pid": $("#pid").val(), "wid":0, "psdate": $("#datepicker").val(),
                            "pedate": $('#datepicker1').val(),"wpsdate":'0',"wpedate":'0',flag:1
                                  },
                            success: function(data) {
                              
                                if(data[0][0].msg==0){
                                            addProject1();
                                }
                                else{
                                  alert('date validations of project are not according to WBS');
                                }
                            }

                        });
                }
            

            }


            function addProject1(){
                            var pclient=$("#pclient").val().toString();
                              var ptech=$("#ptech").val().toString();
                              var presource=$("#presource").val()==null?'0':$("#presource").val().toString();
                              var ccontact=$("#ccontact").val()==null?'0':$("#ccontact").val().toString();
                              $.ajax({
                                url: '/projectAddEditDetailsWithFlag',
                                method: 'POST',
                                data: {
                                  "pname": $("#idpname").val(),
                                  "pclient": pclient,
                                  "presource": presource,
                                  "ccontact":ccontact,
                                  "ptech": ptech,
                                 "pcode": $("#pcode").val(),
                                   "ptype": $('#ptype1').val(),
                                   "pcat": $('#pcat').val(),
                                   "pdescription": $("#DescriptionID").val(),
                                   "psdate": $("#datepicker").val(),
                                  "pedate": $('#datepicker1').val(),
                                  "asdate": $("#datepicker2").val(),
                                   "aedate": $('#datepicker3').val(),
                                   "isBillable": $('input:radio[name=isBillable]:checked').val(),
                                   "taxCode": $('#taxCode').val(),
                                   "poNumber": $('#poNumber').val(),
                                   "pstatus": $('input:radio[name=pstatus]:checked').val(),
                                    "pcomplexity": $('#pcomplexity').val(),
                                    "plocation": $('#plocation').val(),
                                    "pcommercialhead": $('#pcommercialhead').val(),
                                   "paccounthead": $('#paccounthead').val(),
                                   "pmanager": $('#pmanager').val(),
                                    "hdnId": $("#hdnId").val(),
                                    "pid": $("#pid").val(),
                                   "tabDetail":$('#tabDetail').val()
                                  },
                                  success: function(data) {
                                    console.log('success',data);
                                   $("#pid").val(data[0][0].lid); 
                                     if(data[0][0].flag == 1){
                                      alert("Project added successfully.");
                                    }
                                     else {
                                      alert("Project updated successfully.");
                                     }

                                     var r = confirm("Do you want to create WBS ?");
                                      if (r == true) {
                                        window.location.href = "/projectWbs?pid="+data[0][0].lid;
                                      } else {
                                        window.location.href = "/projectDetails";
                                      }

                                  },
                                  dataType: 'JSON',
                                });
            }


            function validDocInfo(prevOrNext) {
              $("#tab" + prevOrNext).click();
             }
function specialCharacter(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode != 38 && charCode > 32 && charCode < 46) || (charCode > 57 && charCode < 64) || charCode == 126 || charCode == 96) {
            alert("This special character or number is not allowed\n ");
            return false;
        }
        return true;
    }
    
    </script>