<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
<style>
.dataTables_filter, .dataTables_length {
     display: none;
    }
.glyphicon-ok-circle{
  color:green!important;
 }

</style>
<script type="text/javascript">
var otable='';
$(document).ready(function() {

$('.se-pre-con').fadeOut('slow');
    var abc=$('#pstatus11').val();
    console.log('pstatus---',abc);
    projectStatus(abc);
 $('.project-img').addClass('active');

  otable=$('#bugtable').dataTable({
    'iDisplayLength': 10,
    "order":[],
    "bDestroy": true, 
    "info":false,
  });

   $('#bugtable')
          .on( 'page.dt',   function () { 
                    //otable.$('tr').click();
                    //otable.$('tr').addClass('hide');
                    otable.$('tr').removeClass('hide');

           } )
          .dataTable();

  wbstable=$('#wbsTable').dataTable({
    'iDisplayLength': 10,
    "order":[],
    "bDestroy": true, 
    "info":false,
  });

  assignmentTable=$('#assignmentTable').dataTable({
    'iDisplayLength': 10,
    "order":[],
    "bDestroy": true, 
    "info":false,
  });


   $("#searchbox").keyup(function() {
        otable.fnFilter(this.value);
      });
$(window).bind('resize', function () {
                otable.fnAdjustColumnSizing();
              } );

  $('#pstatus11').change(function() {
            console.log($(this).val());
            projectStatus($(this).val());
        });




});

function checkedit(){
/*  var r = confirm("Do you want to edit this project ?");
    if (r == true) {
        
        return true;
    } else {
        return false;
    }*/
    return true;
}
function checkactive(st){
    if(st){var r = confirm("Do you want to make this project inactive ?");}
    else{var r = confirm("Do you want to make this project active ?");}
  
    if (r == true) {
        
        return true;
    } else {
        return false;
    }
}

 function projectStatus(st){
    
 
    $.ajax({
                url: '/projectStatus',
                type: 'post',
                data: { "status": st },
                success: function(data) {
                    
                    console.log('sssssssssssssssssssss', data);
                    var log = '',log1='',log2='';
                    
                    for (var i = data[0].length-1; i >=0 ; i--) {

                        if(data[0][i].projectTitle==null){data[0][i].projectTitle='';}
                        if(data[0][i].pcode==null){data[0][i].pcode='';}
                        if(data[0][i].ptype==0){data[0][i].ptype='';}
                        if(data[0][i].ptype==2){data[0][i].ptype='Time';}
                        if(data[0][i].ptype==1){data[0][i].ptype='Time & Expense';}
                        if(data[0][i].description==null){data[0][i].description='';}
                        if(data[0][i].plannedStartDate==null){data[0][i].plannedStartDate='';}
                        if(data[0][i].plannedEndDate==null){data[0][i].plannedEndDate='';}
                        if(data[0][i].actualStartDate==null){data[0][i].actualStartDate='';}
                        if(data[0][i].actualEndDate==null){data[0][i].actualEndDate='';}
                        if(data[0][i].lastupdatedby==null){data[0][i].lastupdatedby='';}


                        log=log+ '<tr id="projectrow_'+data[0][i].id+'" class="rows" style=height:20px;color:grey;font-size:12px; onclick="allWBS('+data[0][i].id+');"><td><a href="/projectWbs?pid='+data[0][i].id+'">'+data[0][i].projectTitle+'</a></td><td>'+data[0][i].pcode+'</td><td>'+data[0][i].ptype+'</td><td>'+data[0][i].description+'</td><td><input type="text" readonly="true"  style="cursor: pointer;border:0px"   id="psdate_'+data[0][i].id+'" value="'+data[0][i].plannedStartDate+'" onchange="updateWbsAssignment('+data[0][i].id+',0,0,1)"></td><td><input type="text" readonly="true"  style="cursor: pointer;border:0px"   id="pedate_'+data[0][i].id+'" value="'+data[0][i].plannedEndDate+'" onchange="updateWbsAssignment('+data[0][i].id+',0,0,1)"></td><td><input type="text" readonly="true"  id="asdate_'+data[0][i].id+'" style="cursor: pointer;border:0px"   value="'+data[0][i].actualStartDate+'" onchange="updateWbsAssignment('+data[0][i].id+',0,0,1)"></td><td><input type="text" readonly="true"  style="cursor: pointer;border:0px"   id="aedate_'+data[0][i].id+'" value="'+data[0][i].actualEndDate+'" onchange="updateWbsAssignment('+data[0][i].id+',0,0,1)"></td><td>'+data[0][i].lastupdatedby+'</td><td><a href="/filterBug?status=1&pid='+data[0][i].id+'">'+data[0][i].openbug+'</a></td><td><a href="/filterBug?status=4&pid='+data[0][i].id+'">'+data[0][i].closedbug+'</a></td>';

                        $('body').on('focus',"#psdate_"+data[0][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false
                               });
                      });
                      $('body').on('focus',"#pedate_"+data[0][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false
                               });
                      });
                      $('body').on('focus',"#asdate_"+data[0][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false
                               });
                      });
                      $('body').on('focus',"#aedate_"+data[0][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false
                               });
                      });


                            if(data[0][i].isActive==1){

                              if(data[0][i].projectTitle != 'DummyProject'){
                            
                                log=log+'<td>   <a  onclick="projectAddEdit('+data[0][i].id+',1)"> <span class="glyphicon glyphicon-pencil" style="color:red;height:10px" title="Edit Project"></span></a>  <a  onclick=" actinact('+data[0][i].id+',1,0)"><span class="glyphicon glyphicon-ok-sign" style="color:green;height:10px;margin-left:20px;" title="click to inactive"></span></a> </td>  </tr>';
                            }
                            else{
                              log=log+'<td></td>';
                            }
                        }
                        else{
                            log=log+'<td>   <a onclick=" actinact('+data[0][i].id+',0,0)"> <span class="glyphicon glyphicon-remove-sign" style="color:red;width: 24px;height:10px;" title="Click to active"></span></a> </td>  </tr>';
                        }

                    }
                    otable.fnDestroy();
                    $('#pstatus').html(log);
                    otable=$('#bugtable').dataTable({
                        'iDisplayLength': 10,
                        "order":[]
                        });
                    otable.$('tr:first').click();
                    otable.$('tr').addClass('hide');
                    otable.$('tr:first').removeClass('hide');



                }
                //$('#bugtable').on('page', function () {alert('grsfs')} );



            });

  
 }

 function allWBS(pid){
$(".rows").removeClass('active-row');


            $("#projectrow_"+pid).addClass('active-row');

            otable.$("tr").addClass('hide');
$(".active-row").removeClass('hide');


    //$('#projectrow_'+pid).css('background-color', '#00ffff');
    $('#wbstable1').removeClass('hide');
    //alert(pid);

    $.ajax({
                url: '/AssignmentWBSForProject',
                type: 'post',
                data: { "pid": pid ,"wbsid":0,"flag":1},
                success: function(data) {



                    console.log('all wbs for project data------',data[0]);
                    var log = '',log1='',log2='';

                    for (var i = data[0].length - 1; i >= 0; i--) {
                            if (data[0][i].WBSName == null) {
                                data[0][i].WBSName = '';
                            }
                            if (data[0][i].WBSCode == null) {
                                data[0][i].WBSCode = '';
                            }
                            if (data[0][i].wplannedStartDate == null) {
                                data[0][i].wplannedStartDate = '';
                            }
                            if (data[0][i].wplannedEndDate == null) {
                                data[0][i].wplannedEndDate = '';
                            }
                            if (data[0][i].wactualStartDate == null) {
                                data[0][i].wactualStartDate = '';
                            }
                            if (data[0][i].wactualEndDate == null) {
                                data[0][i].wactualEndDate = '';
                            }
                            //example of onchange in string-------------------
                            //log=' onchange="updateWBS('+data[0][i].WBSId+',this.value,\'wpedate\',\'wasdate\',\'waedate\')"';

                            var sdate=data[0][i].plannedStartDate;
                      var edate=data[0][i].plannedEndDate;
                      var date = new Date(sdate);
                            var date1 = new Date(edate);




                            log = log + '<tr  id="wbsrow_'+data[0][i].WBSId+'" class="rows1"  style=height:20px;color:grey;font-size:12px onclick="allAssignmentForWBS('+data[0][i].WBSId+');"><td><input type="text"  style="cursor: pointer;border:0px"   readonly="true"  id="wbsname_'+data[0][i].WBSId+'" value="' + data[0][i].WBSName + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+',0,2)"></td><td><input type="text"  style="cursor: pointer;border:0px" class="wpsdate" readonly="true"  id="wpsdate_'+data[0][i].WBSId+'"  value="' + data[0][i].wplannedStartDate + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+',0,2)"></td><td><input type="text" readonly="true"   class="wpedate" id="wpedate_'+data[0][i].WBSId+'" style="cursor: pointer;border:0px" value="' + data[0][i].wplannedEndDate + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+',0,2)"></td><td><input type="text"  readonly="true" id="wasdate_'+data[0][i].WBSId+'" class="wasdate"  style="cursor: pointer;border:0px"  value="' + data[0][i].wactualStartDate + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+',0,2)"></td><td><input type="text" readonly="true"  id="waedate_'+data[0][i].WBSId+'" class="waedate"   style="cursor: pointer;border:0px"  value="' + data[0][i].wactualEndDate + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+',0,2)"></td></tr>';


                                $('body').on('focus',"#wpsdate_"+data[0][i].WBSId, function(){
                                    $(this).datetimepicker({
                                          timepicker:false,
                                          format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: date,
                                    maxDate: date1
                                         });
                                });
                                $('body').on('focus',"#wpedate_"+data[0][i].WBSId, function(){
                                    $(this).datetimepicker({
                                          timepicker:false,
                                          format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: date,
                                    maxDate: date1
                                         });
                                });
                                $('body').on('focus',"#wasdate_"+data[0][i].WBSId, function(){
                                    $(this).datetimepicker({
                                          timepicker:false,
                                          format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: date,
                                    maxDate: date1
                                         });
                                });
                                $('body').on('focus',"#waedate_"+data[0][i].WBSId, function(){
                                    $(this).datetimepicker({
                                          timepicker:false,
                                          format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: date,
                                    maxDate: date1
                                         });
                                });
                        }

       



                    wbstable.fnDestroy();
                    $('#wbsTableBody').html(log);           
                    /*wbstable=$('#wbsTable').dataTable({
                        'iDisplayLength': 10,
                        "order":[]
                        });*/

$('#wbsTable').dataTable();
 wbstable.$('tr:first').click();
                }
            });
 
 }

 function allAssignmentForWBS(wbsid){//alert(wbsid);

    $(".rows1").removeClass('active-row');
            $("#wbsrow_"+wbsid).addClass('active-row');

    //$('#wbsrow_'+wbsid).css('background-color', '#ffd700');
    $('#assignmenttable1').removeClass('hide');


    $.ajax({
                url: '/AssignmentWBSForProject',
                type: 'post',
                data: {"pid": 0 ,"wbsid":wbsid,"flag":2},
                success: function(data) {

                    var log = '',log1='',log2='';

                    for (var i = data[0].length - 1; i >= 0; i--) {

                        var sdate=data[0][i].wplannedStartDate;
                      var edate=data[0][i].wplannedEndDate;
                      var date = new Date(sdate);
                            var date1 = new Date(edate);
                            
                            log = log + '<tr  id="assignmentrow_'+data[0][i].id+'" onclick="abc('+data[0][i].id+');" class="rows2" style=height:20px;color:grey;font-size:12px><td><input type="text" style="cursor: pointer;border:0px"   readonly="true" value="' + data[0][i].projectTitle + '"></td><td><input type="text" style="cursor: pointer;border:0px"   readonly="true" id="asname_'+data[0][i].WBSId+'" value="' + data[0][i].WBSName + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+','+data[0][i].id+',3)"></td><td><input type="text" readonly="true"  id="asdate_'+data[0][i].WBSId+'"  style="cursor: pointer;border:0px"  value="' + data[0][i].AssignmentDate + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+','+data[0][i].id+',3)"></td><td><input type="text" readonly="true"  id="aedate_'+data[0][i].WBSId+'" style="cursor: pointer;border:0px"    value="' + data[0][i].AssignmentEndDate + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+','+data[0][i].id+',3)"></td></tr>';

                            $('body').on('focus',"#asdate_"+data[0][i].WBSId, function(){
                                $(this).datetimepicker({
                                      timepicker:false,
                                      format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: date,
                                    maxDate: date1
                                     });
                            });
                            $('body').on('focus',"#aedate_"+data[0][i].WBSId, function(){
                                $(this).datetimepicker({
                                      timepicker:false,
                                      format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: date,
                                    maxDate: date1
                                     });
                            });


                        }

                    assignmentTable.fnDestroy();
                    $('#assignmentTableBody').html(log);           
                    /*wbstable=$('#wbsTable').dataTable({
                        'iDisplayLength': 10,
                        "order":[]
                        });*/

                        $('#assignmentTable').dataTable();

                }

            });
 }

 function abc(wbsid){
    $(".rows2").removeClass('active-row');
            $("#assignmentrow_"+wbsid).addClass('active-row');
 }
 function checkWBS(wbsid){
                wbsname=$('#wbsname_'+wbsid).val();
               wpsdate=$('#wpsdate_'+wbsid).val();
               wpedate=$('#wpedate_'+wbsid).val();
                wasdate=$('#wasdate_'+wbsid).val();
                waedate=$('#waedate_'+wbsid).val();
                var sdate = new Date(wpsdate);
                var edate = new Date(wpedate);
                var asdate = new Date(wasdate);
                var aedate = new Date(waedate);
                //alert(wbsname);
                 /*if (wbsname.val().trim().length == 0 || wbsname == '') {
                    alert("Please Enter WBS Name First");
                    return false;
                }*/


                if (sdate > edate) {
                    alert('Planned End Date can not be less than Planned Start Date');
                    return false;
                }

                if (waedate != '') {
                    if (wasdate != '') {
                        if (asdate > aedate) {
                            alert('Actual End Date can not be less than Actual Start Date');
                            return false;
                        }
                    } else {
                        alert('Please Select Actual Start Date');
                        return false;
                    }
                }

                return true;
 }
 function checkAssignment(asid){
                asname=$('#asname_'+asid).val();
               asdate=$('#asdate_'+asid).val();
               aedate=$('#aedate_'+asid).val();
                var sdate = new Date(asdate);
                var edate = new Date(aedate);
                //alert(sdate+' '+edate);
                 /*if (asname.trim().length == 0 ||  asname == '') {
                    alert("Please Enter WBS Name First");
                    return false;
                }*/


                if (sdate > edate) {
                    alert('Planned End Date can not be less than Planned Start Date');
                    return false;
                }

                return true;
 }

 function checkProject(projectId){
  //var pname=$('#pname_'+projectId).val();
    var psdate=$('#psdate_'+projectId).val();//alert(psdate)
    var pedate=$('#pedate_'+projectId).val();//alert(pedate)
    var asdate=$('#asdate_'+projectId).val();
    var aedate=$('#aedate_'+projectId).val();

    var sdate = new Date(psdate);
                var edate = new Date(pedate);
                var asdate = new Date(asdate);
                var aedate = new Date(aedate);

                 /*if (pname.val().trim().length == 0 ||  pname == '') {
                    alert("Please Enter Project Name First");
                    return false;
                }
*/

                if (sdate > edate) {
                    alert('Planned End Date can not be less than Planned Start Date');
                    return false;
                }

                if (waedate != '') {
                    if (wasdate != '') {
                        if (asdate > aedate) {
                            alert('Actual End Date can not be less than Actual Start Date');
                            return false;
                        }
                    } else {
                        alert('Please Select Actual Start Date');
                        return false;
                    }
                }

                return true;
 }


 function updateWbsAssignment(pid,wbsid,asid,type){//alert(type);

var a=checkWBS(wbsid);
var b=checkAssignment(wbsid);

var c=checkProject(pid);

if(type==1){ //alert('bdbdbdbgd'); 
    //if(c==true){

        //var pname=$('#pname_'+pid).val();
    var psdate=$('#psdate_'+pid).val();//alert(psdate)
    var pedate=$('#pedate_'+pid).val();//alert(pedate)
    var asdate=$('#asdate_'+pid).val();
    var aedate=$('#aedate_'+pid).val();

         $.ajax({
                url: '/updateAssignmentWBSForProject',
                type: 'post',
                data: {"pid":pid,"psdate1":psdate,"pedate1":pedate,"asdate1":asdate,"aedate1":aedate,"assignmentid":0,"wbsid":0, "wbsname": "0","wpsdate":"0" ,"wpedate":"0", "wasdate":"0","waedate":"0","asdate":"0","aedate":"0","flag":1},
                success: function(data) {
                   $(".active-row").click();

                    //console.log(data[0][0].msg);
                    if(data[0][0].msg==1){
                        alert('Date validations of project are not according to WBS');
                    }

                    /*else{
                      alert('Project updated');
                    }*/
                }

            });
    
}
else if(type== 2){  //alert('fefe');
    if(a==true){
    wbsname=$('#wbsname_'+wbsid).val();
   wpsdate=$('#wpsdate_'+wbsid).val();
   wpedate=$('#wpedate_'+wbsid).val();
    wasdate=$('#wasdate_'+wbsid).val();
    waedate=$('#waedate_'+wbsid).val();

   $.ajax({
                url: '/updateAssignmentWBSForProject',
                type: 'post',
                data: {"pid":0,"psdate1":"0","pedate1":"0","asdate1":"0","aedate1":"0","assignmentid":0,"wbsid":wbsid, "wbsname": wbsname,"wpsdate":wpsdate ,"wpedate":wpedate, "wasdate":wasdate,"waedate":waedate,"asdate":"0","aedate":"0","flag":2},
                success: function(data) {
                   $(".active-row").click();

                    //console.log(data[0][0].msg);
                    if(data[0][0].msg==2){
                        alert('Date validations of WBS are not according to Assignment');
                    }

                    /*else{
                      alert('WBS updated');
                    }*/
                }

            });
        }
        else{
            return false;
        }
   }
   else{ //alert('raadadea');

    if(b==true){
    asname=$('#asname_'+wbsid).val();
   asdate=$('#asdate_'+wbsid).val();
   aedate=$('#aedate_'+wbsid).val();

    $.ajax({
                url: '/updateAssignmentWBSForProject',
                type: 'post',
                data: {"pid":0,"psdate1":"0","pedate1":"0","asdate1":"0","aedate1":"0","assignmentid":asid,"wbsid":0, "wbsname": "0","wpsdate":"0" ,"wpedate":"0", "wasdate":"0","waedate":"0","asdate":asdate,"aedate":aedate,"flag":3},
                success: function(data) {
                   
                }

            });

       }
       else{
            return false;
        }
   }
 }
 
 function actinact(pid,flag,allpro){//alert('allpro---'+allpro);

 var r=checkactive(flag);
 if(r){
  $.ajax({
                url: '/changeProjectStatus',
                type: 'post',
                data: { "pid": pid, "flag": flag },
                success: function(data) {
                    if(allpro==2)
                    projectStatus(allpro);
                else
                    projectStatus(flag);
                }

            });
   }
}

function projectAddEdit(projectId,flag) {
    if(flag){
    var r=checkedit();
    }

    if(flag==0) r=1;
    if(r){
                var form = document.createElement("form");
                form.action = '/projectAddEdit';
                form.method = "POST";
                form.style = "display: none";
                var hdnId = document.createElement("input");
                hdnId.type = "hidden";
                hdnId.name = "hdnId";
                hdnId.value = flag;
                var pid = document.createElement("input");
                pid.type = "hidden";
                pid.name = "pid";
                pid.value = projectId;
                form.appendChild(hdnId);
                form.appendChild(pid);
                document.body.appendChild(form);
                form.submit();
                document.body.removeChild(form);
         }
    }
  
</script>
<script src="http://alasql.org/console/alasql.min.js"></script>
    <script>
    function exportProject(type)
{
      var status=$("#pstatus11").val();
     $(".se-pre-con").fadeIn("slow");
var header=['Project Title','Code','Project Type','Description','Planned Start Date','Planned End Date','Actual Start Date','Actual End Date','Last Updated By','Open Bugs','Closed Bugs','Status'];

var url = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin + '/exportToCsv';
$.ajax({
url: url,
method: 'POST',
data : {"type":type,'status':status},
success: function(data) {
    console.log('bugdata',data)
data.unshift(header);
alasql("SELECT * INTO CSV('Project.csv') FROM ?",[data]);
/*$(".se-pre-con").fadeOut("slow");
$("#btnDownloadbug").prop('disabled', false);*/
},
dataType: 'JSON',
});   

$(".se-pre-con").fadeOut("slow");
}

function showAll()
{
    otable.$('tr').removeClass('hide');
    }

</script>



 <% include ./partials/adminheader %>
</head>
<body>

<div class="se-pre-con"></div>
  
  <div class="secondry-color" style="padding-bottom:2%;padding-left :2%;padding-right:2%; ">   

 <div class="row"   style="padding-top:1%; max-width: 103% "> 
                     <a onclick="projectAddEdit(0,0)">
                    <img    title="Create New"  class="addNewPlus">
                     </a>

                     <span class="modal-title" style="padding-left:35%">Projects Details</span>

                     <!-- <input type="button" onclick="showAll()" value='Show All'> -->
                   <!--   <img class="imageInc" src="../img/showAll.png" onclick="showAll()"  class="shadow" style="margin-left:10px " height="30px" title="Show All" width="30px">  -->
                   <span style="margin-left:10px" class="glyphicon glyphicon-fullscreen" onclick="showAll()" title="Show All" ></span>
                     <select style="float:left;width:auto; margin-bottom:1%;margin-left:10px;margin-top: 3px" class="form-text-box" id ="pstatus11" name="pstatus" > 
                       <option value=1>Active</option>
                       <option value=0>Inactive</option>
                       <option value=2>All</option>
                              
                    </select>

                    <span id="download" class="glyphicon glyphicon-download" onclick="exportProject('project')" style="margin-left:300px;cursor: pointer;font-size:19px" title="Download Projects List" ></span>


  <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%"> 
  </div>
   <div  class="row" style="max-width:103%;overflow-y:auto ">  
     <table class="table stripe cell-border hover" id="bugtable" style="width: 100%"  > 
               <thead> 
               <tr>
                <th   >Project title</th>
                <th   >Project Code</th>
                <th   >Project Type</th>
                <!-- <th   >Client</th>
                <th   >Project Technology</th> -->         
                <th>Description</th>  
                <th>Planned Start Date</th>
                 <th>Planned End Date</th>
                <th   >Actual Start Date</th>
                <th   >Actual End Date</th> 
                <th>Last Updated</th>
                <th>Open Bugs</th>
                <th>Closed Bugs</th>
                <th   >Action</th>
                </tr>   
                  </thead>
                  
               <tbody id="pstatus">
                <% for(var i=(allinfo.length)-1;i>=0;i--) { %>
                                <tr  >
                                    
                                    <td>
                                        <%=allinfo[i].projectTitle%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].pcode%>
                                    </td>
                                    <td>
                                    <%if(allinfo[i].ptype=='timeinmaterial'){%>
                                        <span>Time in Material</span>
                                    <%}else { %>
                                   <span>Fixed Cost</span>
                                     <%}%>
                                    </td>
                                    <!-- <td>
                                        <%=allinfo[i].clientId%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].ptech%>
                                    </td> -->
                                    <td>
                                        <%=allinfo[i].description%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].plannedStartDate%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].plannedEndDate%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].actualStartDate%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].actualEndDate%>
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                    
                                     <td>
                                        <a onclick="projectAddEdit(<%=allinfo[i].id%>,1,2)"> <span class="glyphicon glyphicon-pencil" style="color:red;height:10px" title="Edit Project"></span></a>

                                        <a onclick="actinact(<%=allinfo[i].id%>,1,2);" ><span class="glyphicon glyphicon-ok-sign" style="color:green;height:10px;margin-left:20px;" title="click to inactive"></span></a>


                                    </td>

                                </tr> 
                                <% } %> 
              </tbody>
            </table>
            </div>


          
          <div id="wbstable1" class="hide row" style="max-width:103%;overflow-y:auto ;margin-top:10px; ">
              <div style="margin-bottom:10px">
              <span class="modal-title" style="padding-left:45%;margin-top:10px">List of WBS for selected project</span>


              </div>

              <table class="table stripe cell-border hover" id="wbsTable"   style="width: 100%"> 
                   <thead> 
                   <tr>
                    <th   >WBS Name</th>
                <th   >Planned Start Date</th>
                <th   >Planned End Date</th>
                <th   >Actual Start Date</th>
                <th   >Actual End Date</th> 
                </tr>
                      </thead>
                      
                   <tbody id="wbsTableBody">
                    
                  </tbody>
                </table>
            </div>

            <div id="assignmenttable1" class="hide row" style="max-width:103%;overflow-y:auto  ">

            <div style="margin-bottom:10px">
          <span class="modal-title" style="padding-left:45%;margin-top:10px">List of Assignments for selected WBS</span>
          </div>


              <table class="table stripe cell-border hover" id="assignmentTable"  style="width: 100%" > 
                   <thead> 
                   <tr>
                   <th   >Project Name</th>
                    <th   >WBS Name</th>
                <th   >Assignment Start Date</th>
                <th   >Assignment End Date</th>
                </tr>
                      </thead>
                      
                   <tbody id="assignmentTableBody">
                    
                  </tbody>
                </table>
            </div>

</div>


 <footer>
        <% include ./partials/footer %>
    </footer>
</body>

</html>

