<!DOCTYPE html>
<html lang="en">

<head>
<style>

   .tagger {
    border: 2px steelblue !important;
    background-color: #fff !important;
    cursor: text;
    font-family: sans-serif;
    font-size: 10pt !important;
    padding: 10px 7px 3px 4px !important;
    min-height: 19px !important;
    display: table-cell !important;
}

.marginAlign{
  margin-top: 2%;
}

 input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
sup {color: red;}
div .ui-tagger-menu .ui-widget .ui-widget-content .ui-corner-all{}
.ui-tagger
{
  width:100% !important;
  background-color: #FFFFFF !important;
  margin-top: 15px !important;
}
.ui-tagger-menu 
{
width:24% !important;
}
</style>

<% include ./partials/head %> 

<script>
  var tabDisable=0;
  var addedit=0;
  var pressButton=0;
  var abcd=0;
    $(document).ready(function() {

             $("#idpname").focus(); 

      $('#pclient').tagger();  
      $('#ptech').tagger(); 
      $('#presource').tagger();
      $('#pcomplexity').tagger();
      $('#pcommercialhead').tagger();
      $('#paccounthead').tagger();

      $('#pmanager').tagger();


  $('#plocation').tagger();
/*
  $("#ptech").prop("selectedIndex", -1);
  $("#pclient").prop("selectedIndex", -1);*/

  $("input[name=pstatus][value=" + 1 + "]").prop('checked', true);
  $("input[name=isBillable][value=" + 1 + "]").prop('checked', true);
  $("input[name=ptype][value=" + 1 + "]").prop('checked', true);
  $('.project-img').addClass('active');
  //$("#pcomplexity").prop("selectedIndex", -1);

if( '<%=flag%>'=='1'){
         <%if(name.length){%>
           $("input[name=ptype][value=<%=name[0].ptype%>]").prop('checked', true);
           $("input[name=pstatus][value=<%=name[0].pstatus%>]").prop('checked', true);
           $("input[name=isBillable][value=<%=name[0].isBillable%>]").prop('checked', true);

           $('#pcomplexity').val('<%=name[0].pcomplexity%>');
 $('#completed').val('<%=name[0].completed%>');

    <%}%>

 }
  $("#datepicker").datetimepicker({timepicker:false,format:'m/d/y'});
  $("#datepicker1").datetimepicker({timepicker:false,format:'m/d/y'});
  $("#datepicker2").datetimepicker({timepicker:false,format:'m/d/y'});
  $("#datepicker3").datetimepicker({timepicker:false,format:'m/d/y'});
  /*$('#datepicker').datetimepicker({ timepicker: false, format: 'm/d/y' });
  $('#datepicker1').datetimepicker({ timepicker: false, format: 'm/d/y' });
  $('#datepicker2').datetimepicker({ timepicker: false, format: 'm/d/y' });
  $('#datepicker3').datetimepicker({ timepicker: false, format: 'm/d/y' });*/

});
    var y = Math.floor((Math.random() * 1000) + 1);
    function myFunction() {
      var x = document.getElementById("idpname");
      var x2 = document.getElementById("pcode");
      if(x.value != ''){
        var ss=x.value;
        ss=ss.charAt(0);
        var s1=x.value;
        s1=s1.charAt(1);
        ss = "".concat(ss,s1);
        x2.value = ss + "_" + y;
      }
      else{
       x2.value="";
      }
    }
    
    function specialCharacter(evt) {
      var charCode = (evt.which) ? evt.which : event.keyCode
      if ((charCode != 38 && charCode > 32 && charCode < 46) || (charCode > 57 && charCode < 64) || charCode == 126 || charCode == 96) {
        alert("This special character or number is not allowed\n ");
        return false;
      }
      return true;
    }
    function allProjects() {
      var abc=1;
              if('<%=flag%>'=='0'){
                console.log('all project size---',<%=allProjects.length%>);
                <%if(allProjects.length>0){%>
               <%  for(var j=0;j< allProjects.length; j++){console.log("---------------",allProjects[j].projectTitle);%>
                    if($('#idpname').val()=='<%=allProjects[j].projectTitle%>'){
                    alert('Project Already Exists.\nChange the name of project');
                    abc=0;
                    document.getElementById('idpname').value = "";
                    document.getElementById('pcode').value = "";
                     $('#idpname').focus();
                    return false;
                   }
                   else{
                    abc++;
                   }

               <% } } %>
                   if(abc !=0){
                    myFunction();
                    return true;
                   }
                }
    }

    function completed(){
      if($('#completed').val()<0  || $('#completed').val()>100){
        alert('completed value should be in between 0 - 100');
        document.getElementById('completed').value = 0;
        return false;
      }
      else{
        return true;
      }
    }
    
    function resetUserForm() {
      $("#tab1").click();
      $(".modal input, textarea").val("");
      $(".modal select").val(0);
      $('input[type="radio":checked]').each(function() {
        $(this).checked = false;
      });
      $("#btnuser").text('Create User');
      $("#hdnId").val('0');
    }
            
    function validBasicInfo1() {
      pressButton=1;
      validBasicInfo();
    }
    
    function validBasicInfo() {
      if($('#idpname').val()==''){
        alert("Please select a project name First"); 
        return false;
      }
      if($('#pclient').val()==null)  
      {
        alert("Please select a project client First"); 
        return false;
      }
      if($('#ptech').val()==null)
      {
        alert("Please select a project Technology First"); 
        return false;
      }

      var text = $('#datepicker').val();
        var date = new Date(text);
        if(date == 'Invalid Date'){
               alert('Invalid  Planned Start Date');
                return false;
            }

            var text = $('#datepicker1').val();
             var date = new Date(text);
             if(date == 'Invalid Date'){
               alert('Invalid  Planned End Date');
                return false;
            }



      /*var text = $('#datepicker').val();
        var comp = text.split('/');
        var m = parseInt(comp[0], 10);
        var d = parseInt(comp[1], 10);
        var y = parseInt(comp[2], 10);
        var date = new Date(y,m-1,d);
        if(text != ''){
          if (date.getFullYear() == y && date.getMonth() + 1 == m && date.getDate() == d) {
             } 
             else {
               alert('Invalid  Planned Start Date');
                return false;
              }
            }*/
            /*var text = $('#datepicker1').val();
             var comp = text.split('/');
             var m = parseInt(comp[0], 10);
             var d = parseInt(comp[1], 10);
             var y = parseInt(comp[2], 10);
             var date = new Date(y,m-1,d);
             if(text != ''){
               if(date.getFullYear() == y && date.getMonth() + 1 == m && date.getDate() == d) 
               {
                } else {
                  alert('Invalid  Planned End Date');
                   return false;
                 }
             }
*/
             var psdate = $('#datepicker').datepicker("getDate"); var text = $('#datepicker').val();
              var pedate = $('#datepicker1').datepicker("getDate");var text1 = $('#datepicker1').val();
            if(text == ''){
              alert('Please Select Planned Start Date');
              return false;
            }
            if(text1 == ''){
              alert('Please Select Planned End Date');
              return false;
            }
            if(psdate>pedate){
                  alert('Planned End Date can not be less than Planned Start Date');
                  return false;
                }


      
      if($('#hdnId').val() == 0){
        if(abcd==0)addedit=0;
      }
      else{
        addedit=1;
      }
      $('#tabDetail').val(1);
        tabDisable=1;
        if(pressButton==1){addProject();}
        else{return true;}
    }
    
    function validBugInfo1() {
      pressButton=2;
      validBugInfo();
    }
    
    function validBugInfo() {
      var abc=validBasicInfo();
      //alert('abc--'+abc);
      if(abc){
             var text = $('#datepicker2').val();
             var date = new Date(text);

             if(text != ''){
             if(date == 'Invalid Date'){
               alert('Invalid  Actual Start Date');
                return false;
            } }
            var text = $('#datepicker3').val();
             var date = new Date(text);
             if(text != ''){
             if(date == 'Invalid Date'){
               alert('Invalid  Actual End Date');
                return false;
            } }
              var psdate = $('#datepicker').datepicker("getDate"); var text = $('#datepicker').val();
              var pedate = $('#datepicker1').datepicker("getDate");var text1 = $('#datepicker1').val();
              var asdate = $('#datepicker2').datepicker("getDate");var text2 = $('#datepicker2').val();
            var aedate = $('#datepicker3').datepicker("getDate");var text3 = $('#datepicker3').val();

            /*if(text1 != ''){ 
              if (text != ''){
                if(psdate>pedate){
                  alert('Planned End Date can not be less than Planned Start Date');
                  return false;
                }
              }
              else{
                alert('Please Select Planned Start Date');
                 return false;
              }
            }*/
/*
            if(text == ''){
              alert('Please Select Planned Start Date');
              return false;
            }
            if(text1 == ''){
              alert('Please Select Planned End Date');
              return false;
            }
            if(psdate>pedate){
                  alert('Planned End Date can not be less than Planned Start Date');
                  return false;
                }
*/

            if(text3 != ''){  if (text2 != ''){
              if(asdate>aedate){
                alert('Actual End Date can not be less than Actual Start Date');
                return false;
              }
            }
            else{
              alert('Please Select Actual Start Date');
              return false;
            }
          }

          if($('#presource').val()==null)  
            {
              alert("Please select project resources First"); 
              return false;
            }
              abcd=1;
           if($('#hdnId').val() == 0){
              if(pressButton==2)addedit=1;
              else addedit=1;
           }
           else{
             addedit=1;
              }
              //$('#tabDetail').val(2);
              tabDisable=2;
              if(pressButton==2){$('#tabDetail').val(1);addProject();}
              else{$('#tabDetail').val(1);return true;}
            }
          }
          function validFinanceInfo1(){
              pressButton=3;
              validFinanceInfo();
          }
        
            function validFinanceInfo(){
              var abc=validBugInfo();
              if(abc){
             //$('#tabDetail').val(3);
                //addedit=1;
                //alert('hidden id in validFinanceInfo---'+$('#hdnId').val());
                abcd=1;
                if($('#hdnId').val() == 0){
                //addedit=0;
              }
              else{
                addedit=1;
              }
              tabDisable=3;
              //alert('tabDisable in validFinanceInfo1---'+tabDisable);
              if(pressButton==3){addProject();}
              else{return true;}
            }
          }
          function addProject() {
            var pclient=$("#pclient").val().toString();
            var ptech=$("#ptech").val().toString();
            var presource=$("#presource").val()==null?'0':$("#presource").val().toString();
            $.ajax({
              url: '/projectAddEditDetailsWithFlag',
              method: 'POST',
              data: {
                "pname": $("#idpname").val(),
                "pclient": pclient,
                "presource": presource,
                "ptech": ptech,
               "pcode": $("#pcode").val(),
                 "ptype": $('input:radio[name=ptype]:checked').val(),
                 "pdescription": $("#DescriptionID").val(),
                 "psdate": $("#datepicker").val(),
                "pedate": $('#datepicker1').val(),
                "asdate": $("#datepicker2").val(),
                 "aedate": $('#datepicker3').val(),
              "completed": $('#completed').val(),
                 "isBillable": $('input:radio[name=isBillable]:checked').val(),
                 "taxCode": $('#taxCode').val(),
                 "poNumber": $('#poNumber').val(),
                 "pstatus": $('input:radio[name=pstatus]:checked').val(),
                  "pcomplexity": $('#pcomplexity').val(),
                  "plocation": $('#plocation').val(),
                  "pcommercialhead": $('#pcommercialhead').val(),
                 "paccounthead": $('#paccounthead').val(),
                 "pmanager": $('#pmanager').val(),
                  "hdnId": $("#hdnId").val(),
                  "pid": $("#pid").val(),
                 "tabDetail":$('#tabDetail').val()
                },
                success: function(data) {
                  console.log('success',data);
                 $("#pid").val(data[0][0].lid); 
                    //alert('addedit---'+addedit)  ;                   
                  if(addedit == 1){
                    alert("Project updated successfully.");
                  }
                   else if(addedit==0){
                    alert("Project added successfully.");
                   }

                   var r = confirm("Do you want to create WBS ?");
                    if (r == true) {
                      window.location.href = "/projectWbs?pid="+data[0][0].lid;
                    } else {
                      window.location.href = "/projectDetails";
                    }


                   //alert('tabDisable---'+tabDisable);
                   //alert('hidden id ---'+$('#hdnId').val());
                  /*if(tabDisable==3 && $('#hdnId').val()==0) {
                    var r = confirm("Do you want to create WBS ?");
                    if (r == true) {
                      window.location.href = "/projectWbs?pid="+data[0][0].lid;
                    } else {
                      window.location.href = "/projectDetails";
                    }
                  }
                  else{
                    if(tabDisable==3){
                      window.location.href = "/projectDetails";
                    }
                  }*/
                },
                dataType: 'JSON',
              });
            }
            function validDocInfo(prevOrNext) {
              $("#tab" + prevOrNext).click();
             }

    </script>
</head>
<body>
  <div>
    <% include ./partials/adminheader %>
  </div>
  <div class="container-fluid user-list" style="background-color:antiquewhite">
    <div class="modal-header">
      <span class="modal-title" style="margin-left:42%"><%if(flag==0){%>Add Project Details<%} else{%>Edit Project Details.<%}%></span> </div>
      <main>
        <%=console.log('all Project is---',allProjects)%>
      <input type="hidden" id="tabDetail" name="tabDetail">
      <input type="hidden" id="pid" name="pid" <%if(flag==1){%>value='<%=name[0].id%>' <%} else{%> value=0 <%}%>>
      <input type="hidden" id="hdnId" name="hdnId" <%if(flag==1){ console.log("yfyvv");%>value='<%=flag%>' <%} else{%> value=0 <%}%>> <input id="tab1" class="tabradio" type="radio" name="tabs" checked> <label for="tab1">Basic Details</label> 
       <input id="tab2" class="tabradio" type="radio" name="tabs"> 
       <label for="tab2">Project Data</label>
      <input id="tab5" class="tabradio"   type="radio" name="tabs"> 
      <label for="tab5">Billing</label>
      <section id="content1">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-5"><label>Project Name: <sup>*</sup></label> </div>
            <div class="col-md-7" style="margin-top:10px;"><input type="text" placeholder=" -- Enter Project Name -- " class="form-control" style="" name="pname" id ="idpname" maxlength="20" onfocusout=" return allProjects(); " <%if(flag==1){%>value='<%=name[0].projectTitle%>' <%}%> required></div>
          </div>
          <div class="col-md-6">
            <div class="col-md-5"> <label >Project Code:</label> </div>
              <div class="col-md-7" style="margin-top:10px;"> 
                <input type="text" class="form-control" placeholder=" -- Project Code -- " name="pcode" id ="pcode" onkeypress="return specialchar(event)" <%if(flag==1){%>value='<%=name[0].pcode%>' <%}%> required readonly> 
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-5" style=""> <label>Client: <sup>*</sup></label> </div>
            <div class="col-md-7 " style="margin-top:10px;">
              <select  class="form-control" style="" data-placeholder="Choose Clients..." name="pclient" id ="pclient"> 
              <option  value='0' selected> -- select a Client -- </option>
                  <% for(var i=0;i<client.length;i++) {%>
                <option value="<%=client[i].id%>"><%=client[i].clientName%></option>
                 <%}%>
              </select> 
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-5" style=""> <label >Project Technology: <sup>*</sup></label> </div>
            <div class="col-md-7 " style="margin-top:10px;"> 
              <select multiple="multiple" class="form-control" style="" name="ptech" id ="ptech" maxlength="50" data-placeholder="Choose Project Technology..."> 
              <option  value='0' selected> -- select project Technology -- </option>
                <% for(var i=0;i<tech.length;i++) {%>
                <option value="<%=tech[i].id%>"><%=tech[i].description1%></option>
                      <%}%>
              </select> 
            </div>
          </div>                  
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-5"> <label >Planned Start Date: <sup>*</sup></label> </div>
            <div class="col-md-7"> <input type="text" maxlength="20" placeholder=" -- Select Planned Start Date -- "  class= "form-control" id="datepicker" style="background-color:white;margin-top:3%;" name="psdate" <%if(flag==1){%>value='<%=name[0].PlannedStartDate%>'<%}%>> </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-5"> <label >Planned End Date: <sup>*</sup></label> </div>
            <div class="col-md-7">  
              <input type="text"  maxlength="20" placeholder=" -- Select Planned End Date -- " name="pedate" class="form-control" id ="datepicker1" style="background-color:white;margin-top:3%;" <%if(flag==1){%>value='<%=name[0].PlannedEndDate%>'  <%}%> > 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-5"> <label style="">Complexity: </label> </div>
            <div class="col-md-7 " style="margin-top:10px;">
              <select style="" class="form-control" id ="pcomplexity" name="pcomplexity" >
                <option  value='0' selected> -- select project complexity -- </option>
                <option  value='simple'<%if(flag==1&&name[0].pcomplexity=='simple'){%>selected<%}%> > simple </option>
                <option  value='medium'<%if(flag==1&&name[0].pcomplexity=='medium'){%>selected<%}%> > medium </option>
                <option  value='complex'<%if(flag==1&&name[0].pcomplexity=='complex'){%>selected<%}%>> complex </option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-5"> <label >Location: </label> </div>
            <div class="col-md-7 " style="margin-top:10px;"> 
              <select class="form-control" id ="plocation" name="plocation" >
                <option value='0' selected> -- Select a location -- </option>
                  <% for(var i=0;i<location.length;i++) {%>
                <option value="<%=location[i].id%>"<%if(flag==1&&name[0].locid==location[i].id){%>selected<%}%> ><%=location[i].location%></option>
                  <%}%>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-5" style=""> <label >Description: </label> </div>
            <div class="col-md-7 " style="margin-top:10px;"> 
              <textarea placeholder=" -- Enter Project Description -- " id="DescriptionID" style="margin-top:-1%;max-height: 60px;max-width: 100%;" class="form-control" row=2 name="pdescription" maxlength="250" onkeypress="return specialchar2(event)"
               <%if(flag==1){%>value="<%=name[0].description%><%}%>"><%if(flag==1){%><%=name[0].description%><%}%></textarea> 
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-5"  style=""> <label >Status:</label> </div>
            <div class="col-md-7 "  style="margin-top:10px;">  
              <input type="radio" name="pstatus"  value= 1  id = "pstatus1" required  style="margin-top:3%" checkded="true"> Active
              <input type="radio" name="pstatus"  value= 0  id = "pstatus2" required  style="margin-top:3%;"> Inactive
            </div>
          </div>
        </div>
<script>
  $("#pclient").val([<%if(flag==1){for(var i=0;i<name.length;i++){%>"<%=name[i].cname%>",<%}}%>]).prop("selected", false);
  $("#ptech").val([<%if(flag==1){for(var i=0;i<name.length;i++){%>"<%=name[i].technologyId%>",<%}}%>]).prop("selected", false);
</script>
        <br/>
        <div class="col-md-12" style="margin-bottom:10px;">
          <center style="margin-top:2%"> 
        <a href="/projectDetails">
          <input type="button" name="cancel" value="Cancel" form="cancelform" class="btn btn-primary" style="background-color: #f05f40 !important">
          </a>
         
          <input type="submit"  id="createProject" value="Submit"  onclick="validBasicInfo1()" name="submit" class="btn btn-primary" style="background-color: #f05f40 !important;">

          <input type="button"  value="Next"  onclick="validDocInfo(2)" class="btn btn-primary" style="background-color: #f05f40 !important;">
        
           
          </center>
        </div>
      </section>
      <section id="content2">
        
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-5"> <label >Actual Start Date: </label> </div>
            <div class="col-md-7"> <input type="text"  maxlength="20" placeholder=" -- Select Actual Start Date -- "  class= "form-control" id="datepicker2" style="margin-top:2%;background-color:white;" name="asdate" <%if(flag==1){%>value='<%=name[0].ActualStartDate%>' <%}%> > </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-5"> <label >Actual End Date: </label> </div>
            <div class="col-md-7">  <input type="text"  maxlength="20" placeholder=" -- Select Actual End Date -- " class= "form-control" id="datepicker3" style="background-color:white;margin-top:2%;" name="aedate" <%if(flag==1){%>value='<%=name[0].ActualEndDate%>' <%}%>></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-5"> <label >Commercial Head: </label> </div>
            <div class="col-md-7 marginAlign" style="">
              <select style="" class="form-control" id="pcommercialhead" name="pcommercialhead" >
                <option   value='0' > -- select a commercial head -- </option>
                <% for(var i=0;i<teamlead.length;i++) {%>
                <option value="<%=teamlead[i].id%>"<%if(flag==1&&name[0].commercialHead==teamlead[i].id){%>selected<%}%> ><%=teamlead[i].name%></option>
                  <%}%> 
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-5"> <label >Resource: <sup>*</sup></label> </div>
            <div class="col-md-7 marginAlign" style="">  
              <select multiple="multiple" class="form-control" style="margin-top:3%;width:100%;"  name="presource" id ="presource" maxlength="50">
                <% for(var i=0;i<resource.length;i++) {%>
                <option value="<%=resource[i].id%>"><%=resource[i].name%></option>
                <%}%>
              </select>
<script type="text/javascript">
   $("#presource").val([<%if(flag==1){for(var i=0;i<name.length;i++){%>"<%=name[i].userId%>",<%}}%>]).prop("selected", false);
</script>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-5"> <label >Account Head : </label> </div>
            <div class="col-md-7 marginAlign" > 
              <select class="form-control" id="paccounthead" name="paccounthead" >
                <option value='0' > -- select an account head -- </option>
                <% for(var i=0;i<teamlead.length;i++) {%>
                <option value="<%=teamlead[i].id%>"<%if(flag==1&&name[0].accountHead==teamlead[i].id){%>selected<%}%> ><%=teamlead[i].name%></option>
        <%}%> </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-5"> <label >Manager : </label> </div>
            <div class="col-md-7 marginAlign"  >
              <select class="form-control" id ="pmanager" name="pmanager" >
                <option value='0' > -- select a manager  -- </option>
                <% for(var i=0;i<manager.length;i++) {%>
                <option value="<%=manager[i].id%>"<%if(flag==1&&name[0].manager==manager[i].id){%>selected<%}%> ><%=manager[i].name%></option>
               <%}%>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-5"> <label >Completed(%):</label> </div>
            <div class="col-md-7 marginAlign"> <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" placeholder="__%" name="completed" id="completed" class= "form-control" onfocusout="return completed();" style="margin-top:1.5%;"  min="1" max="100"  maxlength="3" >  </div>
          </div>
        </div>
        <br/>
        <div class="modal-footer" style="border-top:0px;">
          <center>
          <a href="/projectDetails">
          <input type="button" name="cancel" value="Cancel" form="cancelform" class="btn btn-primary" style="background-color: #f05f40 !important">
          </a>
          <input type="submit"  id="createProject" value="Submit"  onclick="validBugInfo1()" name="submit" class="btn btn-primary" style="background-color: #f05f40 !important;">


          <input type="button"  value="Next"  onclick="validDocInfo(5)" class="btn btn-primary" style="background-color: #f05f40 !important;">


          </center>
            </div>
      </section>
      <section id="content5">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-5"> <label >Billable: </label> </div>
            <div class="col-md-7" style="margin-top: 12px;">  
              <input type="radio" name="isBillable"  value= 1  id = "isBillable1" required  style="margin-top:3%;"> Yes
              <input type="radio" name="isBillable"  value= 0  id = "isBillable2" required  style="margin-top:3%;"> No
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-5"> <label >Project Type: </label> </div>
            <div class="col-md-7" style="margin-top: 3%;"> <input type="radio" name="ptype"  value= 1  id = "ptype1" required  style="margin-top:3%;"  > Time in Material
             &nbsp;&nbsp;&nbsp;
              <input type="radio" name="ptype"  value= 2  id = "ptype2" required  style="margin-top:3%;"  > Fixed Cost 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-5"> <label >Tax Code :</label> </div>
            <div class="col-md-7">  <input type="text" placeholder=" -- Enter Tax Code -- "  class= "form-control" id="taxCode" style="margin-top:3%;" name="taxCode"  maxlength="20"  <%if(flag==1){%>value='<%=name[0].taxCode%>' <%}%>></div>
          </div>
          <div class="col-md-6">
            <div class="col-md-5"> <label >PO Number :</label> </div>
              <div class="col-md-7"><input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength = "3" min = "1" max = "999" placeholder=" -- Enter PO Number -- "class= "form-control" id="poNumber" style="margin-top:3%;" name="poNumber" <%if(flag==1){%>value='<%=name[0].poNumber%>'<%}%> ></div>
            </div>
          </div>
          <div class="modal-footer" style="border-top:0px;">

            <center>
            <a href="/projectDetails">
          <input type="button" name="cancel" value="Cancel" form="cancelform" class="btn btn-primary" style="background-color: #f05f40 !important">
          </a>
         
          <input type="submit"  id="createProject" value="Submit"  onclick="validFinanceInfo1()" name="submit" class="btn btn-primary" style="background-color: #f05f40 !important;">
         
             </center>

          </div>
        </section>
      </main>
    </div>
  <footer>
    <% include ./partials/footer %>
  </footer> 
</body>

</html>
