<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
        <% include ./partials/adminheader %>
</head>
<style type="text/css">

    .dataTables_filter,
    .dataTables_length {
        display: none;
    }
    .marginLeftRight{
         margin-left: -31%;
    width: 123%;   
    }
     .marginLeftRight{      
         margin-left: -31%;     
    width: 123%;        
    } 
    textarea { resize: none }

      .dateLastHide{
        display: none!important;
      }

      i {
    cursor: move;
    width:73px;
    height:20px;
    z-index: 1;
    margin:2px;
    float:left;
}

.dt-button,.buttons-copy,.buttons-html5{
  margin-right: 40px !important;
}
.myClass
{       margin-top: -20px;
    margin-left: -4px;
    width: 131%;

}
.myClass2
{
      margin-left: 31px;
    margin-top: -18px;
}



</style>

<body >
<div class="se-pre-con"></div>
     <div class="container-fluid   secondry-color">
     <div class="droptarget" id="dragdropdiv" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondrop="drop(event)" ondragover="allowDrop(event)" style="margin-top: 5px;margin-left: 10px;margin-right: 10px; height:65px;width:98.33%;border: 1px solid;border-radius: 20px;    box-shadow: 2px 2px 4px 4px #ddd;z-index: 30;"><i ondragstart="dragStart(event)" draggable="true" id='2' jsp='1' style='background-color:#33B7A5;    color: rgb(255, 255, 255);width:120px;margin-left: 50px;
    border:2px solid #337ab7;height:25px;border-radius: 10px;text-align: center;'>Employee Code</i>
   <i ondragstart="dragStart(event)" draggable="true" id='4' jsp='1' style='background-color:#33B7A5;width:120px; margin-left: 50px;   color: rgb(255, 255, 255);
    border:2px solid #337ab7;height:25px;border-radius: 10px;text-align: center;'>Project Name</i><i ondragstart="dragStart(event)" draggable="true" id='9' jsp='1' style='background-color:#33B7A5; width: 120px;margin-left: 50px;   color: rgb(255, 255, 255);
    border:2px solid #337ab7;height:25px;border-radius: 10px;text-align: center;'>ThumbHours</i><i ondragstart="dragStart(event)" draggable="true" id='8' jsp='1' style='background-color:#33B7A5;width:120px; margin-left: 50px;   color: rgb(255, 255, 255);
    border:2px solid #337ab7;height:25px;border-radius: 10px;text-align: center;'>Billable</i><i ondragstart="dragStart(event)" draggable="true" id='10' jsp='1' style='background-color:#33B7A5; width:120px; margin-left: 50px;   color: rgb(255, 255, 255);
    border:2px solid #337ab7;height:25px;border-radius: 10px;text-align: center;'>Year-Month</i></div>
       <div id="" style="margin-top: 10px;margin-left: 10px;margin-right: 10px;">
         <div class="col-md-8">
           <button class="modal-title" class="btn btn-primary" title="Click to Set Column in Table" onclick="timesheetdragreport1()" style="font-size:10px;margin-left:-15px;margin-top:-1px">Set Column</button>
           <button class="modal-title" class="btn btn-primary" title="Click to Drag Column of Table" onclick="timesheetdragreport2()" style="font-size:10px;margin-left: 50px;margin-top:-1px">Drag Column</button>
           <span class="modal-title" style="color:red;margin-left: 300px">Time Sheet Report</span>
         </div>
        <div class="se-pre-con"></div>
          <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%">
           
            <table class=" table-striped display nowrap  table-hover table table-bordered" id="aTable" style="padding-top: 10px">
                <thead id="dropth" class="droptarget" ondrop="drop(event)" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondragover="allowDrop(event)">
                    <th   id="0" jsp="0">S.No.</th>
                    <th ondragstart="dragStart(event)" draggable="true" id="1" jsp="0">Employee Name</th>
                    <th ondragstart="dragStart(event)" draggable="true" id="2" jsp="0">Employee Code</th>
                    <th ondragstart="dragStart(event)" draggable="true" id="3" jsp="0">Wbs Name</th>
                    <th ondragstart="dragStart(event)" draggable="true" id="4" jsp="0">Project Name</th>
                    <th ondragstart="dragStart(event)" draggable="true" id="5" jsp="0">Hours</th>
                    <th ondragstart="dragStart(event)" draggable="true" id="9" jsp="0">ThumbHours</th>
                    <th ondragstart="dragStart(event)" draggable="true" id="6" jsp="0">Date</th>
                    <th ondragstart="dragStart(event)" draggable="true" id="7" jsp="0">FortNight Date</th>
                    <th ondragstart="dragStart(event)" draggable="true" id="8" jsp="0">Billable</th>
                   <th ondragstart="dragStart(event)" draggable="true" id="10" jsp="0">Year-Month</th>
                   
                </thead>
                 <tbody id="bodyi">
                 <% var k=1;
                 for(var i=0;i<reportinfo[0].length;i++,k++){%>
                   

                        <tr>
                            <td>
                                <%= k %>
                            </td>
                            <td>
                                <%=reportinfo[0][i].employeeName%>
                            </td>
                            <td>
                                <%=reportinfo[0][i].employeecode%>
                            </td>
                             <td>
                                <%=reportinfo[0][i].WbsName%>
                            </td>
                             <td>
                                <%=reportinfo[0][i].projectName%>
                            </td>
                            <td>
                                <%=reportinfo[0][i].hours%>
                            </td>
                            <td>
                                <%=reportinfo[0][i].Thumbhours%>
                            </td>
                            <td>
                                <%=reportinfo[0][i].DATEs%> 
                            </td>
                            <td>
                                <%=reportinfo[0][i].fortNightDate%> 
                            </td>
                            
                                <%if(reportinfo[0][i].billable==1){%>
                                <td>YES</td> 
                                <%}else {%>
                                <td>NO</td> 
                                <%}%>
                                <td>
                                <%=reportinfo[0][i].yearmonth%>
                            </td>
                            
                        </tr>
                        <%}%>
                </tbody>
            </table> 
       </div>
        </div>
  
</body>
<footer>
    <% include ./partials/footer %>
</footer>
<script src="https://cdn.datatables.net/colreorder/1.3.2/js/dataTables.colReorder.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js"></script>

<script type="text/javascript">
 var thumbdata=[];
         var timesheetdata=[];
          $(document).ready(function() {   

        $('.se-pre-con').fadeIn('slow');
        $('.assign-img').addClass("active");

        var oTable = $("#aTable").dataTable({
            colReorder: true,
            "bLengthChange": false,
            "binfo": false,
            colReorder: true
        });
          $("#searchbox").keyup(function() {
        oTable.fnFilter(this.value);

    });
           timesheetdragreport();
           $(oTable).bind('page.dt', function () {
           columncolor();
           
});
      $('.se-pre-con').fadeOut('slow');     
    });


 function hidecol(ides){

   var table = $('#aTable').DataTable();

  

    table.column(ides).visible( false );
   
}

 function showcol(ides){

   var table = $('#aTable').DataTable();

  

    table.column(ides).visible(true);
   
}

function addvalueofcolumn(){
  var dataArr = [];
    $.each($("#aTable tr"),function(){
        dataArr.push($(this).find('td').eq(0).text());    
    });
    var total = 0;
$("#aTable tr:contains('pk singh') td:nth-of-type(6)").each(function () {
    var pending = parseInt($(this).text());
    total += pending;
    
});

$("#aTable tr:last-of-type td:nth-of-type(6)").text(total);
$("#aTable tr:last-of-type").addClass('datelast');
$("#aTable tr").each(function(){
  if(!$(this).hasClass("datelast")){
      $(this).addClass("dateLastHide");
  }
});

}


 function getFilterData()
      {
   
        $.ajax({
            url: '/FilterDataForSelect',
            method: 'POST',
             
            success: function(data) {
             
               var row='';
                for(var i=0;i<data[0].length;i++)
                {
               row=row+"<option value='"+data[0][i].empid+"'>"+data[0][i].name+"</option>";
                }
             
            $('#EmpName1').append(row);

            var row='';
                for(var i=0;i<data[0].length;i++)
                {
               row=row+"<option value='"+data[0][i].empCode+"'>"+data[0][i].empCode+"</option>";
                }
            $('#empCode1').append(row);  

               var row='';
                for(var i=0;i<data[1].length;i++)
                {
               row=row+"<option value='"+data[1][i].WBSid+"'>"+data[1][i].WBSname+"</option>";
                }
            $('#wbsName1').append(row); 
              var row='';
                for(var i=0;i<data[2].length;i++)
                {
               row=row+"<option value='"+data[2][i].projectid+"'>"+data[2][i].projectName+"</option>";
                }
            $('#proName1').append(row); 

             var row='';
                for(var i=0;i<data[3].length;i++)
                {
               row=row+"<option value='"+data[3][i].fnDate+"'>"+data[3][i].fnDate+"</option>";
                }
            $('#fndate1').append(row);

            var row='';
            row=row+"<option value='3'>3</option>";
            row=row+"<option value='6'>6</option>";
            row=row+"<option value='9'>9</option>";
            $('#hours1').append(row);

            var row='';
            row=row+"<option value='Yes'>Yes</option>";
            row=row+"<option value='No'>No</option>";
            $('#Billable1').append(row);

            var row='';
            row=row+"<option value='9'>9</option>";
            row=row+"<option value='6'>6</option>";
            $('#thumbhours1').append(row);

               jQuery('#Date').datetimepicker({
                            timepicker: false,
                            format: 'Y/m/d',
                            scrollMonth : false,
        scrollInput : false
                        });

            $("#YearMonth1").datepicker({ dateFormat: 'yy-mm' });
            
            dataType: 'JSON'
                }
        });
     }


   


 


 function timesheetdragreport() {
debugger;
                        var dateflag=$("#6").attr("jsp");
                        var nameflag=$("#1").attr("jsp");
                        var codeflag=$("#2").attr("jsp");
                        var hoursflag=$("#5").attr("jsp");
                        var wbsflag=$("#3").attr("jsp");
                        var projflag=$("#4").attr("jsp");
                        var fortflag=$("#7").attr("jsp");
                        var blableflag=$("#8").attr("jsp");
                        var thumbflag=$("#9").attr("jsp");
                        var yearflag=$("#10").attr("jsp");
                       
                            $.ajax({
                                url: '/timesheetdragreport',
                                type: 'post',
                              data:{"wbs":$("#3").attr("jsp"),"project":$("#4").attr("jsp"),"date":$("#6").attr("jsp"),"fordate":$("#7").attr("jsp")},
                                dataType: 'json',

                                success: function(users1) {
                                    var users = users1[0];
                                    
                             debugger;

                                    var log = '';

                                   log = " <thead id='dropth' class='droptarget' ondrop='drop(event)' ondragenter='dragEnter(event)' ondragleave=dragLeave(event)' ondragover='allowDrop(event)'> <th id='ai' jsper='0' onfocus='myfunction()'><i   id='0' jsp='0'>S.No.<div class='hideme myClass2 '><input type='submit' value='filter' style='color: black;border: 2px solid #337ab7;border-radius: 60%;margin-left: 5px;' onclick='filterReport();'></div></i></th> <th><i ondragstart='dragStart(event)' draggable='true' id='1' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(2);' style = 'font-size: 11px;margin-left: -16px;' title='Filter'></span><span id='emp1' class='hideme'>Employee Name</span><div class='hideme2 myClass hide'><select class='' style='color: black' id='EmpName1' multiple='multiple' name='EmpName' data-placeholder='Emp-Name'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='2' jsp='1' style='background-color:#6D5D5D;'><span class='glyphicon glyphicon-filter' onclick='showhide(3);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Employee Code</span><div class='hideme3  myClass hide'><select style='color: black' id='empCode1' multiple='multiple' name='empCode' data-placeholder='Emp_Code'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='3' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(4);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Wbs Name</span><div class='hideme4 myClass hide'><select style='color: black' id='wbsName1' multiple='multiple' name='wbsName' data-placeholder='WBS Name'></select></div></i></th><th><i ondragstart='dragStart(event)'' draggable='true' id='4' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(5);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Project Name</span><div class='hideme5 myClass hide'><select style='color: black' id='proName1' multiple='multiple' name='projectName' data-placeholder='project'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='5' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(6);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Hours</span><div class='hideme6 myClass hide'><select style='color: black' id='hours1' multiple='multiple' name='hours' data-placeholder='Hours'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='9' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(7);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>ThumbHours</span><div class='hideme7 myClass hide'><select style='color: black' id='thumbhours1' multiple='multiple' name='thumbhours' data-placeholder='thumbhours'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='6' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(8);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Date</span><div class='hideme8 myClass hide'><input class='form-text-box' name='date' id='Date' style='border:none;color: black;' placeholder='Date'></div></i></th><th><i ondragstart='dragStart(event)'' draggable='true' id='7' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(9);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>FortNight Date</span><div class='hideme9 myClass hide'><select style='color: black' id='fndate1' multiple='multiple' name='fndate' data-placeholder='FortNight'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='8' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(10);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Billable</span><div class='hideme10 myClass hide'><select style='color: black' id='Billable1' multiple='multiple' name='Billable' data-placeholder='Billable'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='10' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(11);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Year-Month</span><div class='hideme11 myClass hide'><input class='form-text-box' name='YearMonth' id='YearMonth1' style='border:none;color: black;' placeholder='select any date'></div></i></th> </thead><tbody id='tablebody' >";

                                    for (var i = 0; i < users.length; i++) {
                                        var no1=i+1;
                                   
                                      var thumbarr=[];
                                      thumbarr=users[i].Thumbhours.toString().split(":");
                                      var  thurs=parseInt(thumbarr[0]);
                                      thumbdata[i]=thurs;
                                      timesheetdata[i]=parseInt(users[i].hours);
                                        log = log + "<tr style='height:20px;color:grey;font-size:12px;'  id='" + users[i].id + "><input type='hidden' value='" + no1 + "' id='l" + users[i].employeeName+ "'>" + "<td >" + no1 + "</td>" + "<td >" + users[i].employeeName + "</td>" + "<td >" + users[i].employeecode + "</td>"+ "<td >" + users[i].WbsName + "</td>"+ "<td >" + users[i].projectName + "</td>"+ "<td id='ho"+no1+"'>" + users[i].hours + "</td>"+ "<td >" + users[i].Thumbhours + "</td>"+ "<td >" + users[i].DATEs + "</td>"+ "<td >" + users[i].fortNightDate.toString().slice(0,10)+ "</td>"
                                         ;
                                         if(users[i].billable==1){
                                          log=log+"<td>YES</td>"
                                         }
                                         else {
                                          log=log+"<td>No</td>"
                                         }
                                      log=log+"<td >" + users[i].yearmonth + "</td>";

                                        log = log + "</tr>";
                                      

                                    }
                                    log = log + "</tbody>";

                                    $("#aTable").dataTable().fnDestroy();
                                    $("#aTable").html('');

                                    $("#aTable").html(log);
                                    $("#aTable").dataTable({
                                      "aLengthMenu": [[5,10,20,50,100,-1],["5","10", "20","50","100","all"]],
                                         'iDisplayLength': 10,
                                        "bLengthChange": true,
                                        "paging": true,
                                        "binfo": false,
                                        "bDestroy": true,
                                        "ordering": false,
                                            colReorder: false,
                                        "aoColumnDefs": [{
                                            "bSortable": false,
                                            "aTargets": [-1]
                                        }],
                                       
         dom: 'Bfrtip',
        buttons: [
        
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [ 0, ':visible' ],
                    filename: 'Report'
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
             {
                extend: 'csvHtml5',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
              {
                extend: 'print',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
            
        ],
                                        "autoWidth": false,
                                        "columns": [{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        }]
                                    });
                                    $("#searchboxhome").keyup(function() {
                                        $("#aTable").dataTable().fnFilter(this.value);
                                    });
                                   
                                    if(dateflag==1){
                                      $("#6").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(7).visible( false );}
                                     if(nameflag==1){
                                      $("#1").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(1).visible( false );}
                                     if(codeflag==1){
                                      $("#2").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(2).visible( false );}
                                    if(hoursflag==1){
                                      $("#5").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(5).visible( false );}
                                    if(wbsflag==1){
                                      $("#3").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(3).visible( false );}
                                     if(projflag==1){
                                  
                                      $("#4").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(4).visible( false );}
                                   if(fortflag==1){
                                      $("#7").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(8).visible( false );}
                                    if(blableflag==1){
                                      $("#8").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(9).visible( false );}
                                     if(dateflag==0){
                                      $("#6").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(7).visible( true );}
                                     if(nameflag==0){
                                      $("#1").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(1).visible( true );}
                                    if(codeflag==0){
                                      $("#2").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(2).visible( true );}
                                    if(hoursflag==0){
                                      $("#5").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(5).visible( true );}
                                    if(wbsflag==0){
                                      $("#3").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(3).visible( true );}
                                   if(projflag==0){
                                      $("#4").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(4).visible( true );}
                                    if(fortflag==0){
                                      $("#7").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(8).visible( true );}
                                    if(blableflag==0){
                                      $("#8").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(9).visible( true );}
                                    if(yearflag==0){
                                      $("#10").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(10).visible( true );}
                                    if(yearflag==1){
                                      $("#10").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(10).visible( false );}
                                    if(thumbflag==1){
                                      $("#9").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(6).visible( false );}
                                    if(thumbflag==0){
                                      $("#9").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(6).visible( true );}
                                  
                                }

                            });
                      settitle();
                      columncolor1();
                    }




function drawMultiSelect()
 {
    setTimeout(function() {
        $('#EmpName1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                });
        $('#wbsName1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                });
        $('#proName1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                });          
        $('#hours1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                }); 
        $('#thumbhours1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                });
        $('#date1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                });
        $('#fndate1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                }); 

        $('#empCode1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                });

        $('#Billable1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                }); 
                 }, 100);
 }

                    function timesheetdragreport1() {

                        var dateflag=$("#6").attr("jsp");
                        var nameflag=$("#1").attr("jsp");
                        var codeflag=$("#2").attr("jsp");
                        var hoursflag=$("#5").attr("jsp");
                        var wbsflag=$("#3").attr("jsp");
                        var projflag=$("#4").attr("jsp");
                        var fortflag=$("#7").attr("jsp");
                        var blableflag=$("#8").attr("jsp");
                        var thumbflag=$("#9").attr("jsp");
                        var yearflag=$("#10").attr("jsp");
                       
                            $.ajax({
                                url: '/timesheetdragreport',
                                type: 'post',
                              data:{"wbs":$("#3").attr("jsp"),"project":$("#4").attr("jsp"),"date":$("#6").attr("jsp"),"fordate":$("#7").attr("jsp")},
                                dataType: 'json',

                                success: function(users1) {
                                    var users = users1[0];
                                    
                             

                                    var log = '';

                                    log = " <thead id='dropth' class='droptarget' ondrop='drop(event)' ondragenter='dragEnter(event)' ondragleave=dragLeave(event)' ondragover='allowDrop(event)'> <th id='ai' jsper='0' onfocus='myfunction()'><i   id='0' jsp='0'>S.No.<div class='hideme myClass2 '><input type='submit' value='filter' style='color: black;border: 2px solid #337ab7;border-radius: 60%;margin-left: 5px;' onclick='filterReport();'></div></i></th> <th><i ondragstart='dragStart(event)' draggable='true' id='1' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(2);' style = 'font-size: 11px;margin-left: -16px;' title='Filter'></span><span id='emp1' class='hideme1'>Employee Name</span><div class='hideme2 myClass hide'><select class='' style='color: black' id='EmpName1' multiple='multiple' name='EmpName' data-placeholder='Emp-Name'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='2' jsp='1' style='background-color:#6D5D5D;'><span class='glyphicon glyphicon-filter' onclick='showhide(3);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Employee Code</span><div class='hideme3  myClass hide'><select style='color: black' id='empCode1' multiple='multiple' name='empCode' data-placeholder='Emp_Code'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='3' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(4);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Wbs Name</span><div class='hideme4 myClass hide'><select style='color: black' id='wbsName1' multiple='multiple' name='wbsName' data-placeholder='WBS Name'></select></div></i></th><th><i ondragstart='dragStart(event)'' draggable='true' id='4' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(5);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Project Name</span><div class='hideme5 myClass hide'><select style='color: black' id='proName1' multiple='multiple' name='projectName' data-placeholder='project'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='5' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(6);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Hours</span><div class='hideme6 myClass hide'><select style='color: black' id='hours1' multiple='multiple' name='hours' data-placeholder='Hours'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='9' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(7);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>ThumbHours</span><div class='hideme7 myClass hide'><select style='color: black' id='thumbhours1' multiple='multiple' name='thumbhours' data-placeholder='thumbhours'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='6' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(8);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Date</span><div class='hideme8 myClass hide'><input class='form-text-box' name='date' id='Date' style='border:none;color: black;' placeholder='Date'></div></i></th><th><i ondragstart='dragStart(event)'' draggable='true' id='7' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(9);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>FortNight Date</span><div class='hideme9 myClass hide'><select style='color: black' id='fndate1' multiple='multiple' name='fndate' data-placeholder='FortNight'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='8' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(10);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Billable</span><div class='hideme10 myClass hide'><select style='color: black' id='Billable1' multiple='multiple' name='Billable' data-placeholder='Billable'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='10' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(11);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Year-Month</span><div class='hideme11 myClass hide'><input class='form-text-box' name='YearMonth' id='YearMonth1' style='border:none;color: black;' placeholder='select any date'></div></i></th> </thead><tbody id='tablebody' >";

                                    for (var i = 0; i < users.length; i++) {
                                        var no1=i+1;
                                   
                                      var thumbarr=[];
                                      thumbarr=users[i].Thumbhours.toString().split(":");
                                      var  thurs=parseInt(thumbarr[0]);
                                      thumbdata[i]=thurs;
                                      timesheetdata[i]=parseInt(users[i].hours);
                                        log = log + "<tr style='height:20px;color:grey;font-size:12px;'  id='" + users[i].id + "><input type='hidden' value='" + no1 + "' id='l" + users[i].employeeName+ "'>" + "<td >" + no1 + "</td>" + "<td >" + users[i].employeeName + "</td>" + "<td >" + users[i].employeecode + "</td>"+ "<td >" + users[i].WbsName + "</td>"+ "<td >" + users[i].projectName + "</td>"+ "<td id='ho"+no1+"'>" + users[i].hours + "</td>"+ "<td >" + users[i].Thumbhours + "</td>"+ "<td >" + users[i].DATEs + "</td>"+ "<td >" + users[i].fortNightDate.toString().slice(0,10)+ "</td>"
                                         ;
                                         if(users[i].billable==1){
                                          log=log+"<td>YES</td>"
                                         }
                                         else {
                                          log=log+"<td>No</td>"
                                         }
                                      log=log+"<td >" + users[i].yearmonth + "</td>";

                                        log = log + "</tr>";
                                      

                                    }
                                    log = log + "</tbody>";

                                    $("#aTable").dataTable().fnDestroy();
                                    $("#aTable").html('');

                                    $("#aTable").html(log);
                                    $("#aTable").dataTable({
                                      "aLengthMenu": [[5,10,20,50,100,-1],["5","10", "20","50","100","all"]],
                                         'iDisplayLength': 10,
                                        "bLengthChange": true,
                                        "paging": true,
                                        "binfo": false,
                                        "bDestroy": true,
                                        "ordering": false,
                                            colReorder: true,
                                        "aoColumnDefs": [{
                                            "bSortable": false,
                                            "aTargets": [-1]
                                        }],
                                      
         dom: 'Bfrtip',
        buttons: [
        
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [ 0, ':visible' ],
                    filename: 'Report'
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
             {
                extend: 'csvHtml5',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
              {
                extend: 'print',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
            
        ],
                                        "autoWidth": false,
                                        "columns": [{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        }]
                                    });
                                    $("#searchboxhome").keyup(function() {
                                        $("#aTable").dataTable().fnFilter(this.value);
                                    });
                                   
                                    if(dateflag==1){
                                      $("#6").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(7).visible( false );}
                                     if(nameflag==1){
                                      $("#1").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(1).visible( false );}
                                     if(codeflag==1){
                                      $("#2").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(2).visible( false );}
                                    if(hoursflag==1){
                                      $("#5").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(5).visible( false );}
                                    if(wbsflag==1){
                                      $("#3").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(3).visible( false );}
                                     if(projflag==1){
                                  
                                      $("#4").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(4).visible( false );}
                                   if(fortflag==1){
                                      $("#7").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(8).visible( false );}
                                    if(blableflag==1){
                                      $("#8").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(9).visible( false );}
                                     if(dateflag==0){
                                      $("#6").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(7).visible( true );}
                                     if(nameflag==0){
                                      $("#1").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(1).visible( true );}
                                    if(codeflag==0){
                                      $("#2").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(2).visible( true );}
                                    if(hoursflag==0){
                                      $("#5").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(5).visible( true );}
                                    if(wbsflag==0){
                                      $("#3").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(3).visible( true );}
                                   if(projflag==0){
                                      $("#4").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(4).visible( true );}
                                    if(fortflag==0){
                                      $("#7").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(8).visible( true );}
                                    if(blableflag==0){
                                      $("#8").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(9).visible( true );}
                                    if(yearflag==0){
                                      $("#10").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(10).visible( true );}
                                    if(yearflag==1){
                                      $("#10").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(10).visible( false );}
                                    if(thumbflag==1){
                                      $("#9").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(6).visible( false );}
                                    if(thumbflag==0){
                                      $("#9").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(6).visible( true );}
                                  
                                }

                            });
                      settitle();
                      columncolor1();
                    }
                  
                    function timesheetdragreport2() {

                        var dateflag=$("#6").attr("jsp");
                        var nameflag=$("#1").attr("jsp");
                        var codeflag=$("#2").attr("jsp");
                        var hoursflag=$("#5").attr("jsp");
                        var wbsflag=$("#3").attr("jsp");
                        var projflag=$("#4").attr("jsp");
                        var fortflag=$("#7").attr("jsp");
                        var blableflag=$("#8").attr("jsp");
                        var thumbflag=$("#9").attr("jsp");
                        var yearflag=$("#10").attr("jsp");
                       
                            $.ajax({
                                url: '/timesheetdragreport',
                                type: 'post',
                              data:{"wbs":$("#3").attr("jsp"),"project":$("#4").attr("jsp"),"date":$("#6").attr("jsp"),"fordate":$("#7").attr("jsp")},
                                dataType: 'json',

                                success: function(users1) {
                                    var users = users1[0];
                                    
                             

                                    var log = '';

                                      log = " <thead id='dropth' class='droptarget' ondrop='drop(event)' ondragenter='dragEnter(event)' ondragleave=dragLeave(event)' ondragover='allowDrop(event)'> <th id='ai' jsper='0' onfocus='myfunction()'><i   id='0' jsp='0'>S.No.<div class='hideme myClass2 '><input type='submit' value='filter' style='color: black;border: 2px solid #337ab7;border-radius: 60%;margin-left: 5px;' onclick='filterReport();'></div></i></th> <th><i ondragstart='dragStart(event)' draggable='true' id='1' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(2);' style = 'font-size: 11px;margin-left: -16px;' title='Filter'></span><span id='emp1' class='hideme1'>Employee Name</span><div class='hideme2 myClass hide'><select class='' style='color: black' id='EmpName1' multiple='multiple' name='EmpName' data-placeholder='Emp-Name'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='2' jsp='1' style='background-color:#6D5D5D;'><span class='glyphicon glyphicon-filter' onclick='showhide(3);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Employee Code</span><div class='hideme3  myClass hide'><select style='color: black' id='empCode1' multiple='multiple' name='empCode' data-placeholder='Emp_Code'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='3' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(4);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Wbs Name</span><div class='hideme4 myClass hide'><select style='color: black' id='wbsName1' multiple='multiple' name='wbsName' data-placeholder='WBS Name'></select></div></i></th><th><i ondragstart='dragStart(event)'' draggable='true' id='4' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(5);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Project Name</span><div class='hideme5 myClass hide'><select style='color: black' id='proName1' multiple='multiple' name='projectName' data-placeholder='project'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='5' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(6);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Hours</span><div class='hideme6 myClass hide'><select style='color: black' id='hours1' multiple='multiple' name='hours' data-placeholder='Hours'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='9' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(7);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>ThumbHours</span><div class='hideme7 myClass hide'><select style='color: black' id='thumbhours1' multiple='multiple' name='thumbhours' data-placeholder='thumbhours'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='6' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(8);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Date</span><div class='hideme8 myClass hide'><input class='form-text-box' name='date' id='Date' style='border:none;color: black;' placeholder='Date'></div></i></th><th><i ondragstart='dragStart(event)'' draggable='true' id='7' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(9);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>FortNight Date</span><div class='hideme9 myClass hide'><select style='color: black' id='fndate1' multiple='multiple' name='fndate' data-placeholder='FortNight'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='8' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(10);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Billable</span><div class='hideme10 myClass hide'><select style='color: black' id='Billable1' multiple='multiple' name='Billable' data-placeholder='Billable'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='10' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(11);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Year-Month</span><div class='hideme11 myClass hide'><input class='form-text-box' name='YearMonth' id='YearMonth1' style='border:none;color: black;' placeholder='select any date'></div></i></th> </thead><tbody id='tablebody' >";


                                    for (var i = 0; i < users.length; i++) {
                                        var no1=i+1;
                                   
                                      var thumbarr=[];
                                      thumbarr=users[i].Thumbhours.toString().split(":");
                                      var  thurs=parseInt(thumbarr[0]);
                                      thumbdata[i]=thurs;
                                      timesheetdata[i]=parseInt(users[i].hours);
                                        log = log + "<tr style='height:20px;color:grey;font-size:12px;'  id='" + users[i].id + "><input type='hidden' value='" + no1 + "' id='l" + users[i].employeeName+ "'>" + "<td >" + no1 + "</td>" + "<td >" + users[i].employeeName + "</td>" + "<td >" + users[i].employeecode + "</td>"+ "<td >" + users[i].WbsName + "</td>"+ "<td >" + users[i].projectName + "</td>"+ "<td id='ho"+no1+"'>" + users[i].hours + "</td>"+ "<td >" + users[i].Thumbhours + "</td>"+ "<td >" + users[i].DATEs + "</td>"+ "<td >" + users[i].fortNightDate.toString().slice(0,10)+ "</td>"
                                         ;
                                         if(users[i].billable==1){
                                          log=log+"<td>YES</td>"
                                         }
                                         else {
                                          log=log+"<td>No</td>"
                                         }
                                      log=log+"<td >" + users[i].yearmonth + "</td>";

                                        log = log + "</tr>";
                                      

                                    }
                                    log = log + "</tbody>";

                                    $("#aTable").dataTable().fnDestroy();
                                    $("#aTable").html('');

                                    $("#aTable").html(log);
                                    $("#aTable").dataTable({
                                      "aLengthMenu": [[5,10,20,50,100,-1],["5","10", "20","50","100","all"]],
                                         'iDisplayLength': 10,
                                        "bLengthChange": true,
                                        "paging": true,
                                        "binfo": false,
                                        "bDestroy": true,
                                        "ordering": false,
                                            colReorder: false,
                                        "aoColumnDefs": [{
                                            "bSortable": false,
                                            "aTargets": [-1]
                                        }],
                                       
         dom: 'Bfrtip',
        buttons: [
        
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [ 0, ':visible' ],
                    filename: 'Report'
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
             {
                extend: 'csvHtml5',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
              {
                extend: 'print',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
            
        ],
                                        "autoWidth": false,
                                        "columns": [{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        }]
                                    });
                                    $("#searchboxhome").keyup(function() {
                                        $("#aTable").dataTable().fnFilter(this.value);
                                    });
                                   
                                    if(dateflag==1){
                                      $("#6").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(7).visible( false );}
                                     if(nameflag==1){
                                      $("#1").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(1).visible( false );}
                                     if(codeflag==1){
                                      $("#2").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(2).visible( false );}
                                    if(hoursflag==1){
                                      $("#5").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(5).visible( false );}
                                    if(wbsflag==1){
                                      $("#3").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(3).visible( false );}
                                     if(projflag==1){
                                  
                                      $("#4").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(4).visible( false );}
                                   if(fortflag==1){
                                      $("#7").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(8).visible( false );}
                                    if(blableflag==1){
                                      $("#8").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(9).visible( false );}
                                     if(dateflag==0){
                                      $("#6").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(7).visible( true );}
                                     if(nameflag==0){
                                      $("#1").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(1).visible( true );}
                                    if(codeflag==0){
                                      $("#2").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(2).visible( true );}
                                    if(hoursflag==0){
                                      $("#5").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(5).visible( true );}
                                    if(wbsflag==0){
                                      $("#3").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(3).visible( true );}
                                   if(projflag==0){
                                      $("#4").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(4).visible( true );}
                                    if(fortflag==0){
                                      $("#7").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(8).visible( true );}
                                    if(blableflag==0){
                                      $("#8").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(9).visible( true );}
                                    if(yearflag==0){
                                      $("#10").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(10).visible( true );}
                                    if(yearflag==1){
                                      $("#10").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(10).visible( false );}
                                    if(thumbflag==1){
                                      $("#9").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(6).visible( false );}
                                    if(thumbflag==0){
                                      $("#9").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(6).visible( true );}
                                  
                                }

                            });
                      settitle();
                      columncolor1();
                    }
                   

function showrow(){
  $("#aTable tr:last-of-type td:nth-of-type(4)").text(9);
$("#aTable tr:last-of-type").removeClass('datelast');
$("#aTable tr").each(function(){
  if(!$(this).hasClass("datelast")){
      $(this).removeClass("dateLastHide");
  }
});

}

 function dragStart(event) {
    event.dataTransfer.setData("Text", event.target.id);
}

function dragEnter(event) {
    if ( event.target.className == "droptarget" ) {
       
    }
}

function dragLeave(event) {
    if ( event.target.className == "droptarget" ) {
      
    }
}

function allowDrop(event) {
    event.preventDefault();
}

function drop(event) {
    event.preventDefault();
    var data = event.dataTransfer.getData("Text");
    event.target.style.border = "1px solid black";
  
    if($("#"+data).attr("jsp")==0){
       if(event.target.id=="dragdropdiv"){
        event.target.appendChild(document.getElementById(data));
      $("#"+data).attr("jsp","1") 
      $("#"+data).css("margin-left","50px");
      $("#"+data).css("width","120px");
      $("#"+data).css("height","25px");
      $("#"+data).css("border","2px solid #337ab7");
      $("#"+data).css("border-radius","10px");
      $("#"+data).css("background-color","#33B7A5");
      $("#"+data).css("text-align","center");
       $("#"+data).css("color","white");
     
    timesheetdragreport();
  }
  }
  else{
    if(event.target.id!="dragdropdiv"){
      event.target.appendChild(document.getElementById(data));
      methodforjsp0(data);
   $("#"+data).attr("jsp","0") 
   $("#"+data).css("margin-left"," ");
   showcol(data); 
      

     timesheetdragreport();
  }
  }


if($("#"+data).parent().hasClass("droptarget")){
      $("#"+data).children("span").removeClass("hide");
      $("#"+data).children("div").addClass("hide");
      $("#"+data).children().removeClass("hideme");

}
else{
        $("#"+data).children().addClass("hideme");  
}

}

function methodforjsp0(data1){
$("#"+data1).attr("jsp","0");
}

function columncolor(){
  setTimeout(function(){
  var no1=0;
  for(var i=0;i<thumbdata.length;i++){
    if(timesheetdata[i]>thumbdata[i]){
    no1=i+1; 
                                        
   $("#ho".concat(no1)).css("background-color","red");

     }
   } 
 }, 10);
}

function columncolor1(){
  setTimeout(function(){
  var no1=0;
  for(var i=0;i<thumbdata.length;i++){
    if(timesheetdata[i]>thumbdata[i]){
    no1=i+1; 
                                        
   $("#ho".concat(no1)).css("background-color","red");

     }
   } 
 }, 1000);
}
    
function settitle(){
  setTimeout(function(){
    
  $('.buttons-copy').prop('title', 'Copy Table Data');
  $('.buttons-excel').prop('title', 'Download Excel File');
  $('.buttons-csv').prop('title', 'Download CSV File');
  $('.buttons-print').prop('title', 'Print Report');
  $('.buttons-pdf').prop('title', 'Download PDF File'); }, 1000);


}

function myfunction(){
}

   function showhide(id) {

  $("#empCode1").html('');
  $("#EmpName1").html('');
  $("#wbsName1").html('');
  $("#hours1").html('');
  $("#proName1").html('');
  $("#thumbhours1").html('');
  $("#Billable1").html('');
  $("#fndate1").html('');
  $("#YearMonth1").html('');
  drawMultiSelect();
  getFilterData();

  if(id>1)
    {
      $(".hideme"+id+"").toggleClass("hide");
    }
 }

function filterReport()
{
      $(".se-pre-con").fadeIn("slow");

         var ecode=$("#empCode1").val();
      if(ecode==null)
       ecode='';
      else
        ecode=ecode.toString();

      var ename=$("#EmpName1").val();
      if(ename==null)
       ename='';
      else
        ename=ename.toString();

      var Wbs=$("#wbsName1").val();
      if(Wbs==null)
       Wbs='';
      else
        Wbs=Wbs.toString();

      var hour=$("#hours1").val();
      if(hour==null)
       hour='';
      else
        hour=hour.toString();

       var date=$("#Date").val();
      if(date==null)
      {
       date='0000-00-00';}
      else
        date=date.toString();

       var pro=$("#proName1").val();
      if(pro==null)
       pro='';
      else
        pro=pro.toString();

       var thumbhour=$("#thumbhours1").val();
      if(thumbhour==null)
       thumbhour='';
      else
        thumbhour=thumbhour.toString();

       var billable=$("#Billable1").val();
      if(billable==null)
       billable='';
      else
        billable=billable.toString();
      
             var fndate=$("#fndate1").val();
      if(fndate==null)
       fndate='';
      else
        fndate=fndate.toString();

            var Yrmonth=$("#YearMonth1").val();
      if(Yrmonth==null){
       Yrmonth='0';}
      else
        Yrmonth=Yrmonth.toString();


      $.ajax({
       url: '/filterTimeSheetReport',
       type: 'post',
       data: {
              "EmpName" : ename,
              "wbsName" : Wbs ,
              "hours" : hour,
              "fDate" : date,
              "Empcode" : ecode,
              "proName" : pro,
              "thumbhours" : thumbhour,
              "Billable" : billable,
              "fortNightDate" : fndate,
              "YearMonth" : Yrmonth,
            },
       success: function(users1) {
          $(".se-pre-con").fadeOut("slow");

                        var dateflag=$("#6").attr("jsp");
                        var nameflag=$("#1").attr("jsp");
                        var codeflag=$("#2").attr("jsp");
                        var hoursflag=$("#5").attr("jsp");
                        var wbsflag=$("#3").attr("jsp");
                        var projflag=$("#4").attr("jsp");
                        var fortflag=$("#7").attr("jsp");
                        var blableflag=$("#8").attr("jsp");
                        var thumbflag=$("#9").attr("jsp");
                        var yearflag=$("#10").attr("jsp");




                               var users = users1[0];
                                    

                                    var log = '';

                                   log = " <thead id='dropth' class='droptarget' ondrop='drop(event)' ondragenter='dragEnter(event)' ondragleave=dragLeave(event)' ondragover='allowDrop(event)'> <th id='ai' jsper='0' onfocus='myfunction()'><i   id='0' jsp='0'>S.No.<div class='hideme myClass2 '><input type='submit' value='filter' style='color: black;border: 2px solid #337ab7;border-radius: 60%;margin-left: 5px;' onclick='filterReport();'></div></i></th> <th><i ondragstart='dragStart(event)' draggable='true' id='1' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(2);' style = 'font-size: 11px;margin-left: -16px;' title='Filter'></span><span id='emp1' class='hideme1'>Employee Name</span><div class='hideme2 myClass hide'><select class='' style='color: black' id='EmpName1' multiple='multiple' name='EmpName' data-placeholder='Emp-Name'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='2' jsp='1' style='background-color:#6D5D5D;'><span class='glyphicon glyphicon-filter' onclick='showhide(3);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Employee Code</span><div class='hideme3  myClass hide'><select style='color: black' id='empCode1' multiple='multiple' name='empCode' data-placeholder='Emp_Code'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='3' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(4);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Wbs Name</span><div class='hideme4 myClass hide'><select style='color: black' id='wbsName1' multiple='multiple' name='wbsName' data-placeholder='WBS Name'></select></div></i></th><th><i ondragstart='dragStart(event)'' draggable='true' id='4' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(5);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Project Name</span><div class='hideme5 myClass hide'><select style='color: black' id='proName1' multiple='multiple' name='projectName' data-placeholder='project'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='5' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(6);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Hours</span><div class='hideme6 myClass hide'><select style='color: black' id='hours1' multiple='multiple' name='hours' data-placeholder='Hours'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='9' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(7);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>ThumbHours</span><div class='hideme7 myClass hide'><select style='color: black' id='thumbhours1' multiple='multiple' name='thumbhours' data-placeholder='thumbhours'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='6' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(8);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Date</span><div class='hideme8 myClass hide'><input class='form-text-box' name='date' id='Date' style='border:none;color: black;' placeholder='Date'></div></i></th><th><i ondragstart='dragStart(event)'' draggable='true' id='7' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(9);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>FortNight Date</span><div class='hideme9 myClass hide'><select style='color: black' id='fndate1' multiple='multiple' name='fndate' data-placeholder='FortNight'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='8' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(10);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Billable</span><div class='hideme10 myClass hide'><select style='color: black' id='Billable1' multiple='multiple' name='Billable' data-placeholder='Billable'></select></div></i></th><th><i ondragstart='dragStart(event)' draggable='true' id='10' jsp='0' style='background-color:#6D5D5D'><span class='glyphicon glyphicon-filter' onclick='showhide(11);' style = 'font-size:11px;margin-left: -16px;' title='Filter'></span><span class='hideme'>Year-Month</span><div class='hideme11 myClass hide'><input class='form-text-box' name='YearMonth' id='YearMonth1' style='border:none;color: black;' placeholder='select any date'></div></i></th> </thead><tbody id='tablebody' >";

                                    for (var i = 0; i < users.length; i++) {
                                        var no1=i+1;
                                   
                                      var thumbarr=[];
                                      thumbarr=users[i].Thumbhours.toString().split(":");
                                      var  thurs=parseInt(thumbarr[0]);
                                      thumbdata[i]=thurs;
                                      timesheetdata[i]=parseInt(users[i].hours);
                                        log = log + "<tr style='height:20px;color:grey;font-size:12px;'  id='" + users[i].id + "><input type='hidden' value='" + no1 + "' id='l" + users[i].employeeName+ "'>" + "<td >" + no1 + "</td>" + "<td >" + users[i].employeeName + "</td>" + "<td >" + users[i].employeecode + "</td>"+ "<td >" + users[i].WbsName + "</td>"+ "<td >" + users[i].projectName + "</td>"+ "<td id='ho"+no1+"'>" + users[i].hours + "</td>"+ "<td >" + users[i].Thumbhours + "</td>"+ "<td >" + users[i].DATEs + "</td>"+ "<td >" + users[i].fortNightDate.toString().slice(0,10)+ "</td>"
                                         ;
                                         if(users[i].billable==1){
                                          log=log+"<td>YES</td>"
                                         }
                                         else {
                                          log=log+"<td>No</td>"
                                         }
                                      log=log+"<td >" + users[i].yearmonth + "</td>";

                                        log = log + "</tr>";
                                      

                                    }
                                    log = log + "</tbody>";

                                    $("#aTable").dataTable().fnDestroy();
                                    $("#aTable").html('');

                                    $("#aTable").html(log);
                                    $("#aTable").dataTable({
                                      "aLengthMenu": [[5,10,20,50,100,-1],["5","10", "20","50","100","all"]],
                                         'iDisplayLength': 10,
                                        "bLengthChange": true,
                                        "paging": true,
                                        "binfo": false,
                                        "bDestroy": true,
                                        "ordering": false,
                                            colReorder: false,
                                        "aoColumnDefs": [{
                                            "bSortable": false,
                                            "aTargets": [-1]
                                        }],
                                       
         dom: 'Bfrtip',
        buttons: [
        
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [ 0, ':visible' ],
                    filename: 'Report'
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
             {
                extend: 'csvHtml5',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
              {
                extend: 'print',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: ':visible',
                    filename: 'Report'
                }
            },
            
        ],
                                        "autoWidth": false,
                                        "columns": [{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        },{
                                            "width": "5%"
                                        }]
                                    });
                                    $("#searchboxhome").keyup(function() {
                                        $("#aTable").dataTable().fnFilter(this.value);
                                    });
                                   
                                    if(dateflag==1){
                                      $("#6").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(7).visible( false );}
                                     if(nameflag==1){
                                      $("#1").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(1).visible( false );}
                                     if(codeflag==1){
                                      $("#2").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(2).visible( false );}
                                    if(hoursflag==1){
                                      $("#5").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(5).visible( false );}
                                    if(wbsflag==1){
                                      $("#3").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(3).visible( false );}
                                     if(projflag==1){
                                  
                                      $("#4").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(4).visible( false );}
                                   if(fortflag==1){
                                      $("#7").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(8).visible( false );}
                                    if(blableflag==1){
                                      $("#8").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(9).visible( false );}
                                     if(dateflag==0){
                                      $("#6").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(7).visible( true );}
                                     if(nameflag==0){
                                      $("#1").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(1).visible( true );}
                                    if(codeflag==0){
                                      $("#2").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(2).visible( true );}
                                    if(hoursflag==0){
                                      $("#5").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(5).visible( true );}
                                    if(wbsflag==0){
                                      $("#3").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(3).visible( true );}
                                   if(projflag==0){
                                      $("#4").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(4).visible( true );}
                                    if(fortflag==0){
                                      $("#7").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(8).visible( true );}
                                    if(blableflag==0){
                                      $("#8").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(9).visible( true );}
                                    if(yearflag==0){
                                      $("#10").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(10).visible( true );}
                                    if(yearflag==1){
                                      $("#10").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(10).visible( false );}
                                    if(thumbflag==1){
                                      $("#9").attr("jsp","1") 
                                    var at=$('#aTable').DataTable();
                                   at.column(6).visible( false );}
                                    if(thumbflag==0){
                                      $("#9").attr("jsp","0") 
                                    var at=$('#aTable').DataTable();
                                   at.column(6).visible( true );}
                                  
                                }

                            });
                      settitle();
                      columncolor1();
                    
                    }




</script>



