<<<<<<< HEAD

 <% include ./partials/head %>

<style>
 
 .dataTables_filter, .dataTables_length {
     display: none;
    }

=======
 <% include ./partials/head %>
  <% include ./partials/adminheader %>
        <% include ./partials/setting-header %>

<style>
 

#bugtable_filter input{
      width: 218px;
    }
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
 .glyphicon-ok-circle{
  color:green!important;
 }

 input{
  width:80px;
 }

 
</style>
<script type="text/javascript"> 
var otable='';
<<<<<<< HEAD
=======
var projectTable='';
var assignmentTable='';
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
$(document).ready(function() {

  $('.se-pre-con').fadeOut('slow');
  
  $('.wbs-img').addClass('active');

<<<<<<< HEAD
  otable=$('#bugtable').dataTable({
    'iDisplayLength': 10, 
    "info":false,
     "bFilter": true,
    "order":[]
  });

  $('#bugtable')
          .on( 'page.dt',   function () { 
                    //otable.$('tr').click();
                    //otable.$('tr').addClass('hide');
                    otable.$('tr').removeClass('hide');

           } )
          .dataTable();

  projectTable=$('#projectTable').dataTable({
=======
  otable = $('#bugtable').DataTable({
                "ajax": {
                    url: '/wbsStatus',
                    type: 'POST',
                    data: function(d){
                      d.status=$("#selectwbs").val();
                    }
                },
                "columns": [
                { "data": "WBSName" },
                { "data": "WBSCode" },
                { "data": "projectTitle" },
                { "data": "WBSOwner"},
                { "data": "wplannedStartDate" },
                { "data": "wplannedEndDate" },
                { "data": "wactualStartDate" },
                 { "data": "wactualEndDate" },
                { "data": "estimateEffort" },
                { "data": "WBSLocation"}
                ],
                "info":false,
                "autoWidth": true,
                "lengthMenu":[[5,10,20,-1],[5,10,20,"All"]],
                  "processing": true,
                  "serverSide": true,
             
"columnDefs": [ 
                   
                     {
                      "targets": 0,
                      "render":function(data,type,row){
                        if(row.WBSName==null)
                             var text='';
                            else
                            var text=row.WBSName;
                       var a=  "<input type='text' style='cursor: pointer;pointer-events:none;border:0px'readonly='true' id='wbsname_"+row.WBSId+"' value='"+text+"'>";
                         return a;      
                      }

                     },
                    {
                      "targets": 4,
                      "render":function(data,type,row){
                          if(row.wplannedStartDate==null)
                             var text='';
                            else
                            var text=row.wplannedStartDate;
                      
                     var a=  "<input style='cursor: pointer;border:0px'   type='text'  readonly='true' id='wpsdate_"+row.WBSId+"' value="+text+" onchange='changeProjectAssignment(0,"+row.WBSId+",0,1)'>";
                       return a;
                      }

                     },
                     {
                      "targets": 5,
                      "render":function(data,type,row){
                        if(row.wplannedEndDate==null)
                             var text='';
                            else
                            var text=row.wplannedEndDate;
                      
                     var a=  "<input style='cursor: pointer;border:0px'   type='text'  readonly='true' id='wpedate_"+row.WBSId+"' value="+text+" onchange='changeProjectAssignment(0,"+row.WBSId+",0,1)'>";
                       return a;
                      }

                     },
                     {
                      "targets": 6,
                    "render":function(data,type,row){
              
                      if(row.wactualStartDate==null || row.wactualStartDate=='00/00/00' )
                      {
                        var text=' '; 
                      }
                            
                            else
                            {
                              var text=row.wactualStartDate; 
                            }
                     var a=  "<input onchange='changeProjectAssignment(0,"+row.WBSId+",0,1)' style='cursor: pointer;border:0px'   type='text'  readonly='true' id='wasdate_"+row.WBSId+"' value="+text+" >";
                       return a;
                      }

                     },
                     {
                      "targets": 7,
                      "render":function(data,type,row){
                         if(row.wactualEndDate==null || row.wactualEndDate=='00/00/00')
                             var text='';
                            else
                            var text=row.wactualEndDate;
                     var a=  "<input style='cursor: pointer;border:0px'   type='text'  readonly='true' id='waedate_"+row.WBSId+"' onchange='changeProjectAssignment(0,"+row.WBSId+",0,1)' value="+text+" >";
                     
                      var sdate=row.plannedStartDate;
                      var edate=row.plannedEndDate;
                      var date = new Date(sdate);
                      var date1 = new Date(edate);
                            var date = formatDate(date);
                            var date1 = formatDate(date1);
                            var date=new Date(date);
                            var date1=new Date(date1);
                      setValidation(row.WBSId,date,date1,1);
                       return a;
                      }
                     },
                         {
                      "targets": 8,
                      "render":function(data,type,row){
                        
                        if(row.estimateEffort==''){row.estimateEffort='';}
                      if(row.estimateEffort1==1){row.estimateEffort1='Man-Hours';}
                      if(row.estimateEffort1==2){row.estimateEffort1='Man-Days';}
                      if(row.estimateEffort1==3){row.estimateEffort1='Man-Weeks';}
                      if(row.estimateEffort1==4){row.estimateEffort1='Man-Months';}
                      if(row.estimateEffort != ''){
                      row.estimateEffort = row.estimateEffort + ' ' + row.estimateEffort1;
                      var e=row.estimateEffort ;
                    
                      }
                      else
                        var e='';
                      var a="<label>"+e+"</label>";
                       return a;
                      }
                     },
                 {
                      "targets": 10,
                      "render":function(data,type,row){
                        var my_html;
                        if(row.projectTitle !='DummyProject'){
                            my_html='<a href="/addEditWbs?wbsid='+row.WBSId+'&flag=1"  onclick="return checkedit();"> <span class="glyphicon glyphicon-pencil" style="color:red;height:10px;margin-right:20px;" title="Edit WBS"></span></a><a onclick="actinact('+row.WBSId+',1);" ><span class="glyphicon glyphicon-ok-sign" style="color:green;height:10px;" title="click to inactive"></span></a>';
                        }
                        else
                        {
                          my_html='';
                        }
                         
                         return my_html;      
                      }

                     }
 ]

});


$('#bugtable tbody').on('click', 'tr', function () {
   ch=$(this).children();
  
   
  this.id="row_"+$(ch[0]).children()[0].id.split('_')[1];
  getProjectAssignment($(ch[0]).children()[0].id.split('_')[1]);
  
     } );



projectTable=$('#projectTable').dataTable({
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
    'iDisplayLength': 10,
    "order":[],"bFilter": false,"bInfo": false,"bLengthChange": false
  });

  assignmentTable=$('#assignmentTable').dataTable({
    'iDisplayLength': 10,
    "order":[],"bFilter": false,"bInfo": false,"bLengthChange": false
  });


<<<<<<< HEAD
   $("#searchbox").keyup(function() {
        otable.fnFilter(this.value);
      });
   $(window).bind('resize', function () {
                otable.fnAdjustColumnSizing();
              } );

 wbsStatus();
=======
  $('#bugtable')
          .on( 'page.dt',   function () { 
         
                    otable.$('tr').removeClass('hide');

           } )
          .DataTable();

  


 
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
});

function formatDate(date) {
                  date1=date.getFullYear();
                 if (date1 < 1970) {
                              date.setFullYear(date1 + 100);
                          } 

                    var d = new Date(date),
                        month = '' + (d.getMonth() + 1),
                        day = '' + d.getDate(),
                        year = d.getFullYear();
                       
                    if (month.length < 2) month = '0' + month;
                    if (day.length < 2) day = '0' + day;

                    return [year, month, day].join('-');
                }



<<<<<<< HEAD
function setValidation(id,date,date1,flag){//alert(flag)
=======
function setValidation(id,date,date1,flag){
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
  if(flag==1){

    $('body').on('focus',"#wpsdate_"+id, function(){
                              $(this).datetimepicker({timepicker: false,minDate: date,maxDate: date1,format: 'm/d/y',scrollMouse: false,scrollInput: false});
                          });
    $('body').on('focus',"#wpedate_"+id, function(){
                              $(this).datetimepicker({timepicker: false,minDate: date,maxDate: date1,format: 'm/d/y',scrollMouse: false,scrollInput: false});
                          });
    $('body').on('focus',"#wasdate_"+id, function(){
                              $(this).datetimepicker({timepicker: false,format: 'm/d/y',scrollMouse: false,scrollInput: false});
                          });
    $('body').on('focus',"#waedate_"+id, function(){
                              $(this).datetimepicker({timepicker: false,format: 'm/d/y',scrollMouse: false,scrollInput: false});
                          });

   }


}


<<<<<<< HEAD
 function wbsStatus(){
  var st=$("#selectwbs").val();
    $.ajax({
                url: '/wbsStatus',
                type: 'post',
                data: { "status": st },
                success: function(data) {
                    var log = '',log1='',log2='';
                    
                    for (var i = data[0].length-1; i >=0 ; i--) {
                      if(data[0][i].firstName==null){data[0][i].firstName='';}
                      if(data[0][i].location==null){data[0][i].location='';}
                      if(data[0][i].WBSName==null){data[0][i].WBSName='';}
                      if(data[0][i].WBSCode==null){data[0][i].WBSCode='';}
                      if(data[0][i].projectTitle==null){data[0][i].projectTitle='';}
                      if(data[0][i].WBSName==null){data[0][i].WBSName='';}
                      if(data[0][i].wplannedStartDate==null){data[0][i].wplannedStartDate='';}
                      if(data[0][i].wplannedEndDate==null){data[0][i].wplannedEndDate='';}
                      if(data[0][i].wactualStartDate==null){data[0][i].wactualStartDate='';}
                      if(data[0][i].wactualEndDate==null){data[0][i].wactualEndDate='';}
                      if(data[0][i].estimateEffort==''){data[0][i].estimateEffort='';}
                      if(data[0][i].estimateEffort1==0){data[0][i].estimateEffort1='';}
                      if(data[0][i].estimateEffort1==null){data[0][i].estimateEffort1='';}
                      if(data[0][i].estimateEffort1==1){data[0][i].estimateEffort1='Man-Hours';}
                      if(data[0][i].estimateEffort1==2){data[0][i].estimateEffort1='Man-Days';}
                      if(data[0][i].estimateEffort1==3){data[0][i].estimateEffort1='Man-Weeks';}
                      if(data[0][i].estimateEffort1==4){data[0][i].estimateEffort1='Man-Months';}
                      if(data[0][i].estimateEffort != ''){
                      data[0][i].estimateEffort = data[0][i].estimateEffort + ' ' + data[0][i].estimateEffort1;
                      }
                      console.log('-------',data[0][i].plannedStartDate,' ',data[0][i].plannedEndDate);
                      var sdate=data[0][i].plannedStartDate;
                      var edate=data[0][i].plannedEndDate;
                      var date = new Date(sdate);
                      var date1 = new Date(edate);
                            var date = formatDate(date);
                            var date1 = formatDate(date1);
                            var date=new Date(date);
                            var date1=new Date(date1);

                      if(data[0][i].wactualStartDate=='00/00/00'){data[0][i].wactualStartDate='';}
                      if(data[0][i].wactualEndDate=='00/00/00'){data[0][i].wactualEndDate='';}
                      //alert(date+' '+date1)
                          log=log+ '<tr style=height:20px;color:grey;font-size:12px; class="rows" id="abc_'+data[0][i].WBSId+'" onclick="getProjectAssignment('+data[0][i].WBSId+');"><td><input type="text" style="cursor: pointer;pointer-events:none;border:0px"   id="wbsname_'+data[0][i].WBSId+'" value="'+data[0][i].WBSName+'" onchange="changeProjectAssignment(0,'+data[0][i].WBSId+',0,1);"></td><td>'+data[0][i].WBSCode+'</td><td>'+data[0][i].projectTitle+'</td><td>'+data[0][i].firstName+'</td><td><input style="cursor: pointer;border:0px"   type="text"  readonly="true" id="wpsdate_'+data[0][i].WBSId+'" value="'+data[0][i].wplannedStartDate+'" onchange="changeProjectAssignment(0,'+data[0][i].WBSId+',0,1);"></td><td><input type="text" style="cursor: pointer;border:0px"   readonly="true"  id="wpedate_'+data[0][i].WBSId+'" value="'+data[0][i].wplannedEndDate+'" onchange="changeProjectAssignment(0,'+data[0][i].WBSId+',0,1);"></td><td><input type="text" readonly="true"  id="wasdate_'+data[0][i].WBSId+'" style="cursor: pointer;border:0px"   value="'+data[0][i].wactualStartDate+'" onchange="changeProjectAssignment(0,'+data[0][i].WBSId+',0,1);"><div class="fLeft col-sm-12"><span class="error" id="errorWBS_'+data[0][i].WBSId+'"></span></div></td><td><input type="text" style="cursor: pointer;border:0px" readonly="true"  id="waedate_'+data[0][i].WBSId+'" value="'+data[0][i].wactualEndDate+'" onchange="changeProjectAssignment(0,'+data[0][i].WBSId+',0,1);"><div class="col-sm-12 fLeft"><span class="error" id="errorWaedate_'+data[0][i].WBSId+'"></span></div></td><td>'+data[0][i].estimateEffort+'</td> <td>'+data[0][i].location+'</td>';

                            setValidation(data[0][i].WBSId,date,date1,1);


if(data[0][i].projectTitle!='DummyProject'){
  if(data[0][i].WBSStatus==1){
                        log=log+' <td>   <a href="/addEditWbs?wbsid='+data[0][i].WBSId+'&flag=1"  onclick="return checkedit();"> <span class="glyphicon glyphicon-pencil" style="color:red;height:10px;margin-left:10px;margin-right:10px;" title="Edit WBS"></span></a>    <a onclick=" actinact('+data[0][i].WBSId+',1)"><span class="glyphicon glyphicon-ok-sign" style="color:green;height:10px;margin-right:10px;" title="click to inactive"></span></a></td> ';


                           

                        }
                        else{
                          log=log+ '<td>   <a  onclick=" actinact('+data[0][i].WBSId+',0)"> <span class="glyphicon glyphicon-remove-sign" style="text-align:center;color:red;height:10px;margin-left:35px;" title="Check to active"></span></a> </td>';

                        }
                      }
                      else
                      {
                        log=log+'<td></td>';
                      }

                        log=log+'</tr>';
                        
                    }otable.fnDestroy();
                    $('#wbsstatus').html(log);
                    otable=$('#bugtable').dataTable({
                      'iDisplayLength': 10,
                      "order":[]
                      });

                    otable.$('tr:first').click();
                    otable.$('tr').addClass('hide');
                    otable.$('tr:first').removeClass('hide');

                    otable.$('tr').removeClass('hide');
                }

            });

 }
 function checkedit(){
 /* var r = confirm("Do you want to edit this WBS ?");
    if (r == true) {
        
        return true;
    } else {
        return false;
    }*/
=======
function wbsStatus(){
  otable.ajax.reload();


 }




 function checkedit(){
 
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
    return true;
}
function checkactive(st){
  if(st){var r = confirm("Do you want to make this WBS inactive ?");}
  else{var r = confirm("Do you want to make this WBS active ?");}
    if (r == true) {
        
        return true;
    } else {
        return false;
    }
}

function actinact(wbsid,flag){
<<<<<<< HEAD
 //if(confirm("are you sure you want to inactive the wbs ?")==true)
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
 var r=checkactive(flag);
 if(r){
  $.ajax({
                url: '/changeWbsStatus',
                type: 'post',
                data: { "wbsid": wbsid, "flag": flag },
                success: function(data) {
                   
                }

            });
   }
   wbsStatus();
}


function getProjectAssignment(wbsid){
<<<<<<< HEAD
  $(".rows").removeClass('active-row');
            $("#abc_"+wbsid).addClass('active-row');

          otable.$("tr").addClass('hide');
=======

    $('#bugtable').dataTable().$("tr").addClass('hide');
 
  $('#bugtable').dataTable().$("tr").removeClass('active-row');
 
  
            $("#row_"+wbsid).addClass('active-row');


>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
          $(".active-row").removeClass('hide');
             

  $('#assignmentDiv').removeClass('hide');
  $('#projectDiv').removeClass('hide');

 

  $.ajax({
                url: '/getProjectAssignment',
                type: 'post',
                data: { "wbsid": wbsid},
                success: function(data) {
                   var log='',log1='';
                   for (var i = 0; i < data[0].length ; i++) {

                    if(data[0][i].actualStartDate=='00/00/00'){data[0][i].actualStartDate='';}
                      if(data[0][i].actualEndDate=='00/00/00'){data[0][i].actualEndDate='';}


                      log=log+ '<tr style=height:20px;color:grey;font-size:12px; onclick="highlight('+data[0][i].id+',0,1)" class="rows1"  id="projectRow_'+data[0][i].id+'"><td><input type="text" readonly="true"  style="cursor: pointer;border:0px"   value="'+data[0][i].projectTitle+'" id="pname_'+data[0][i].id+'" onchange="changeProjectAssignment('+data[0][i].id+',0,0,2);"></td><td><input type="text" readonly="true"  style="cursor: pointer;border:0px"   id="psdate_'+data[0][i].id+'" value="'+data[0][i].plannedStartDate+'" onchange="changeProjectAssignment('+data[0][i].id+',0,0,2);"></td><td><input type="text" readonly="true"  style="cursor: pointer;border:0px"   id="pedate_'+data[0][i].id+'" value="'+data[0][i].plannedEndDate+'" onchange="changeProjectAssignment('+data[0][i].id+',0,0,2);"></td></tr>';

<<<<<<< HEAD
                      //setValidation(data[0][i].id,date,date1,2);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd

                      $('body').on('focus',"#psdate_"+data[0][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false
                               });
                      });
                      $('body').on('focus',"#pedate_"+data[0][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false
                               });
                      });


                   }


                   projectTable.fnDestroy();
                    $('#projectBody').html(log);
<<<<<<< HEAD
=======

>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                    projectTable=$('#projectTable').dataTable({
                      'iDisplayLength': 10,
                      "order":[],
                    "bFilter": false,"bInfo": false,"bLengthChange": false
                      });


                    for (var i = 0; i < data[1].length ; i++) {
<<<<<<< HEAD

                      console.log('*********',data[1][i].wplannedStartDate,' ',data[1][i].wplannedEndDate);

=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                      var sdate=data[1][i].wplannedStartDate;
                      var edate=data[1][i].wplannedEndDate;
                      var date = new Date(sdate);
                            var date1 = new Date(edate);
                            var date = formatDate(date);
                            var date1 = formatDate(date1);
                            var date=new Date(date);
                            var date1=new Date(date1);

<<<<<<< HEAD
                            //alert(sdate+' '+edate)
                       log1=log1+ '<tr style=height:20px;color:grey;font-size:12px; onclick="highlight(0,'+data[1][i].id+',2)" class="rows2"  id="assignmentRow_'+data[1][i].id+'"><td><input type="text"  readonly="true" style="cursor: pointer;border:0px"   value="'+data[1][i].projectTitle+'"></td><td><input type="text"  readonly="true" style="cursor: pointer;border:0px"   value="'+data[1][i].WBSName+'" id="assignname_'+data[1][i].id+'" onchange="changeProjectAssignment(0,0,'+data[1][i].id+',3);"></td><td><input type="text" style="cursor: pointer;border:0px"   readonly="true" value="' + data[1][i].firstName + '"></td><td><input type="text" style="cursor: pointer;border:0px"   readonly="true"  id="assigndate_'+data[1][i].id+'" value="'+data[1][i].AssignmentDate+'" onchange="changeProjectAssignment(0,0,'+data[1][i].id+',3);"></td><td><input type="text" readonly="true"  style="cursor: pointer;border:0px"   id="assignedate_'+data[1][i].id+'" value="'+data[1][i].AssignmentEndDate+'" onchange="changeProjectAssignment(0,0,'+data[1][i].id+',3);"></td></tr>';

                       //setValidation(data[1][i].id,date,date1,2);

                       $('body').on('focus',"#assigndate_"+data[1][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: date,
                                    maxDate: date1
                               });
                      });
                       $('body').on('focus',"#assignedate_"+data[1][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: date,
                                    maxDate: date1
                               });
                      });
=======

                            var adate=data[1][i].AssignmentDate;
                            var adate1=data[1][i].AssignmentEndDate;
                             adate=new Date(adate);
                             adate1=new Date(adate1);
                              adate = new Date(formatDate(adate));
                             adate1 = new Date(formatDate(adate1));
                            

                       log1=log1+ '<tr style=height:20px;color:grey;font-size:12px; onclick="highlight(0,'+data[1][i].id+',2)" class="rows2"  id="assignmentRow_'+data[1][i].id+'"><td><input type="text"  readonly="true" style="cursor: pointer;border:0px"   value="'+data[1][i].projectTitle+'"></td><td><input type="text"  readonly="true" style="cursor: pointer;border:0px"   value="'+data[1][i].WBSName+'" id="assignname_'+data[1][i].id+'" onchange="changeProjectAssignment(0,0,'+data[1][i].id+',3);"></td><td><input type="text" style="cursor: pointer;border:0px"   readonly="true" value="' + data[1][i].firstName + '"></td><td><input type="text" style="cursor: pointer;border:0px"   readonly="true"  id="assigndate_'+data[1][i].id+'" value="'+data[1][i].AssignmentDate+'" onchange="changeProjectAssignment(0,0,'+data[1][i].id+',3);"></td><td><input type="text" readonly="true"  style="cursor: pointer;border:0px"   id="assignedate_'+data[1][i].id+'" value="'+data[1][i].AssignmentEndDate+'" onchange="changeProjectAssignment(0,0,'+data[1][i].id+',3);"></td></tr>';





                               setdate(data[1][i].id,date,adate1,adate,date1);

             
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd



                   }


                   assignmentTable.fnDestroy();
                    $('#assignmentBody').html(log1);
                    assignmentTable=$('#assignmentTable').dataTable({
                      'iDisplayLength': 10,
                      "order":[],
                    "bFilter": false,"bInfo": false,"bLengthChange": false
                      });



                }

            });


}

<<<<<<< HEAD
=======

function setdate(id,a,b,c,d){


  $('body').on('focus',"#assigndate_"+id, function(){
                                $(this).datetimepicker({
                                      timepicker:false,
                                      format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: a,
                                    maxDate: b
                                     });
                            });
                            $('body').on('focus',"#assignedate_"+id, function(){
                                $(this).datetimepicker({
                                      timepicker:false,
                                      format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: c,
                                    maxDate: d
                                     });
                            });



 }

>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
function highlight(pid,aid,flag){
  if(flag==1){
    $(".rows1").removeClass('active-row');
            $("#projectRow_"+pid).addClass('active-row');
  }
  else{
    $(".rows2").removeClass('active-row');
            $("#assignmentRow_"+aid).addClass('active-row');
  }
}

 function checkWBS(wbsid){
                resetError();
                var errorstartWBS = $('#errorWBS_'+wbsid);
                var errorWaedate = $('#errorWaedate_'+wbsid);
                wbsname=$('#wbsname_'+wbsid).val();
                wpsdate=$('#wpsdate_'+wbsid).val();
                wpedate=$('#wpedate_'+wbsid).val();
                wasdate=$('#wasdate_'+wbsid).val();
                waedate=$('#waedate_'+wbsid).val();
                var sdate = new Date(wpsdate);
                var edate = new Date(wpedate);
                var asdate = new Date(wasdate);
                var aedate = new Date(waedate);
                if (sdate > edate) {
                    errorWaedate.text('Planned End Date can not be less than Planned Start Date');
                    return false;
                }

                if (waedate != '') {
                    if (wasdate != '') {
                        if (asdate > aedate) {
                            errorWaedate.text('Actual End Date can not be less than Actual Start Date');
                            return false;
                        }
                    } else {
                        errorstartWBS.text('Please Select Actual Start Date');
                        return false;
                    }
                }

                return true;
 }
 function checkAssignment(asid,wbsid){
          resetError();
          var errorstartWBS = $('#errorWBS_'+wbsid);
          var errorWaedate = $('#errorWaedate_'+wbsid);
          asname=$('#asname_'+asid).val();
          asdate=$('#assigndate_'+asid).val();
          aedate=$('#assignedate_'+asid).val();
          var sdate = new Date(asdate);
          var edate = new Date(aedate);
                if (sdate > edate) {
                    errorWaedate.text('Planned End Date can not be less than Planned Start Date');
                    return false;
                }

                return true;
 }

 function checkProject(projectId,wbsId){
  resetError();
<<<<<<< HEAD
  var errorstartWBS = $('#errorWBS_'+wbsid);
  var errorWaedate = $('#errorWaedate_'+wbsid);
=======
  var errorstartWBS = $('#errorWBS_'+wbsId);
  var errorWaedate = $('#errorWaedate_'+wbsId);
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
  var pname=$('#pname_'+projectId).val();
  var psdate=$('#psdate_'+projectId).val();
  var pedate=$('#pedate_'+projectId).val();
  var asdate=$('#asdate_'+projectId).val();
  var aedate=$('#aedate_'+projectId).val();
  var sdate = new Date(psdate);
  var edate = new Date(pedate);
  var pasdate = new Date(asdate);
  var paedate = new Date(aedate);
                if (sdate > edate) {
                    errorstartWBS.text('Planned End Date can not be less than Planned Start Date');
                    return false;
                }

                if (paedate != '') {
                    if (pasdate != '') {
                        if (asdate > aedate) {
                            errorWaedate.text('Actual End Date can not be less than Actual Start Date');
                            return false;
                        }
                    } else {
                        errorstartWBS.text('Please Select Actual Start Date');
                        return false;
                    }
                }

                return true;
 }



function changeProjectAssignment(projectId,wbsId,assignmentId,flag){
resetError();
<<<<<<< HEAD
var errorstartWBS = $('#errorWBS_'+wbsid);
var errorWaedate = $('#errorWaedate_'+wbsid);
=======
var errorstartWBS = $('#errorWBS_'+wbsId);
var errorWaedate = $('#errorWaedate_'+wbsId);
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
var a=checkWBS(wbsId);
var b=checkProject(projectId,wbsId);
var c=checkAssignment(assignmentId,wbsId);

  if(flag==1){

    if(a==true){
    var wbsname=$('#wbsname_'+wbsId).val();
<<<<<<< HEAD
    var wpsdate=$('#wpsdate_'+wbsId).val();//alert(wpsdate)
    var wpedate=$('#wpedate_'+wbsId).val();//alert(wpedate)
=======
    var wpsdate=$('#wpsdate_'+wbsId).val();
    var wpedate=$('#wpedate_'+wbsId).val();
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
    var wasdate=$('#wasdate_'+wbsId).val();
    var waedate=$('#waedate_'+wbsId).val();


    $.ajax({
                url: '/changeProjectAssignment',
                type: 'post',
                data: {"wid":wbsId,"wbsname":wbsname,"wpsdate":wpsdate,"wpedate":wpedate,"wasdate":wasdate,"waedate":waedate, "pid":0,"pname":"0","psdate":"0","pedate":"0","asdate":"0","aedate":"0","aid":0,"assignname":"0","assigndate":"0","assignedate":"0", "flag": flag },
                success: function(data) {
                   wbsStatus();
                }

            });
      }
      else{
        return false;
      }

  }

  else if(flag==2){

    if(b==true){
    var pname=$('#pname_'+projectId).val();
<<<<<<< HEAD
    var psdate=$('#psdate_'+projectId).val();//alert(psdate)
    var pedate=$('#pedate_'+projectId).val();//alert(pedate)
=======
    var psdate=$('#psdate_'+projectId).val();
    var pedate=$('#pedate_'+projectId).val();
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
    var asdate=$('#asdate_'+projectId).val();
    var aedate=$('#aedate_'+projectId).val();

    $.ajax({
                url: '/changeProjectAssignment',
                type: 'post',
                data: { "wid":0,"wbsname":"0","wpsdate":"0","wpedate":"0","wasdate":"0","waedate":"0", "pid":projectId,"pname":pname,"psdate":psdate,"pedate":pedate,"asdate":"0","aedate":"0","aid":0,"assignname":"0","assigndate":"0","assignedate":"0", "flag": flag },
                success: function(data) {
                   if(data[0][0].msg==1){
                        messageBox2('Date validations of project are not according to WBS','wbsStatus()');
                    }
                    if(data[0][0].msg!=1)
                    wbsStatus();
                }

            });
     }
     else{
      return false;
     }
  }


  else{

<<<<<<< HEAD
    //if(c==true){
      var assignname=$('#assignname_'+assignmentId).val();
      var assigndate=$('#assigndate_'+assignmentId).val();
      var assignedate=$('#assignedate_'+assignmentId).val();

=======
      var assignname=$('#assignname_'+assignmentId).val();
      var assigndate=$('#assigndate_'+assignmentId).val();
      var assignedate=$('#assignedate_'+assignmentId).val();
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
      $.ajax({
                url: '/changeProjectAssignment',
                type: 'post',
                data: {  "wid":0,"wbsname":"0","wpsdate":"0","wpedate":"0","wasdate":"0","waedate":"0","pid":0,"pname":"0","psdate":"0","pedate":"0","asdate":"0","aedate":"0","aid":assignmentId,"assignname":assignname,"assigndate":assigndate,"assignedate":assignedate, "flag": flag },
                success: function(data) {
<<<<<<< HEAD
                   
                   if(data[0][0].msg==2){
=======
                        if(data[0][0].msg==2){
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                        messageBox2('Date validations of Assignment are not according to WBS','wbsStatus()');
                    }
                     if(data[0][0].msg!=2)
                    wbsStatus();
<<<<<<< HEAD
                    /*else{
                      alert('assignment updated');
                    }*/
=======
                  
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                }

            });

<<<<<<< HEAD
        /*}
        else{
          return false;
        }*/
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
  }
}





</script>  

    <script>
    function exportWBS(type)
{
    var status=$("#selectwbs").val();
     $(".se-pre-con").fadeIn("slow");
var header=['WBS Name','WBS Code','Project Name','WBS Owner','Planned Start Date','Planned End Date','Actual Start Date','Actual End Date','Estimate Effort','WBS Location','Status'];

var url = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin + '/exportToCsv';
$.ajax({
url: url,
method: 'POST',
data : {"type":type,'status':status},
success: function(data) {
<<<<<<< HEAD
    console.log('bugdata',data)
data.unshift(header);
alasql("SELECT * INTO CSV('WBS.csv') FROM ?",[data]);
/*$(".se-pre-con").fadeOut("slow");
$("#btnDownloadbug").prop('disabled', false);*/
=======
data.unshift(header);
alasql("SELECT * INTO CSV('WBS.csv') FROM ?",[data]);

>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
},
dataType: 'JSON',
});   

$(".se-pre-con").fadeOut("slow");
}

function showAll()
{
    otable.$('tr').removeClass('hide');
    }


</script>


<div>
<<<<<<< HEAD
        <% include ./partials/adminheader %>
=======
       
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
    </div>

    <div class="se-pre-con"></div>
<div id="ModalAddMesage"></div>
<div id="ModalAdd"></div>

  <div class="secondry-color"  style="padding-bottom:2%;padding-left :2%;padding-right:2%;  ">  
 
  <div class="row" style="padding-top:1%;max-width: 103%">  
   <a href="/addEditWbs?wbsid=0&flag=0">
   <img    title="Create New"   class="addNewPlus">
    </a> 
    <span class="modal-title" style="padding-left:35%">WBS Details</span> 

<<<<<<< HEAD
    <!-- <input type="button" onclick="showAll()" value="Show All"> -->
<!--     <img class="imageInc" src="../img/showAll.png" onclick="showAll()"  class="shadow" style="margin-left:10px " height="30px" title="Show All" width="30px">  -->
=======
  
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
     <span style="margin-left:10px" class="glyphicon glyphicon-fullscreen" onclick="showAll()" title="Show All" ></span>
       <select class="form-text-box" style="float:left;width:auto; margin-bottom:1%;margin-left:10px;margin-top: 3px" id="selectwbs" onchange="wbsStatus()">
                 <option value="1">Active</option>
                 <option value="0">Inactive</option>
                 <option value="2">All</option>
                </select>

                 <span id="download" class="glyphicon glyphicon-download" onclick="exportWBS('wbs')" style="margin-left:320px;cursor: pointer;font-size:19px" title="Download WBS List" ></span>


<<<<<<< HEAD
         <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%">

=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
   </div>
    <div  class="row" style="max-width:103%;overflow-y:auto ">        
            <table class="table stripe cell-border hover" id="bugtable" >

               <thead>
                
                 <tr style='font-size:12px'>
                
                <th   >WBS Name</th>
                <th   >WBS Code</th>
                <th   >Project Name</th>
                <th   >WBS Owner</th>
                <th   >Planned Start Date</th>
                <th   >Planned End Date</th>
                <th   >Actual Start Date</th>
                <th   >Actual End Date</th>  
                <th   >Estimate Effort</th>
                <th   >WBS Location</th>  
                <th   >Action</th>            
                </tr>
                  </thead>
<<<<<<< HEAD
                 <%console.log('sssssssssssss');%> 
               <tbody id="wbsstatus">
                <% for(var i=allinfo.length-1;i>=0;i--) { %>
                                <tr  id="abc_<%=allinfo[i].WBSId%>">
                                    
                                    <td>
                                        <%=allinfo[i].WBSName%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].WBSCode%>
                                    </td>
                                    <td>
                                   
                                        <%=allinfo[i].projectTitle%>
                                    
                                    </td>

                                    <td>
                                        <%=allinfo[i].firstName%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].wplannedStartDate%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].wplannedEndDate%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].wactualStartDate%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].wactualEndDate%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].estimateEffort%>
                                    </td>
                                    
                                    <td>
                                        <%=allinfo[i].location%>
                                    </td>
                                    
                                    
                                     <td>
                                     <%if(allinfo[i].projectTitle !=='DummyProject'){%>
                                        <a href="/addEditWbs?wbsid=<%=allinfo[i].WBSId%>&flag=1"  onclick="return checkedit();"> <span class="glyphicon glyphicon-pencil" style="color:red;height:10px;margin-left:10px;margin-right:10px;" title="Edit WBS"></span></a>

                                        <a onclick="actinact(<%=allinfo[i].WBSId%>,1);" ><span class="glyphicon glyphicon-ok-sign" style="color:green;height:10px;margin-left:10px;margin-right:10px;" title="click to inactive"></span></a>

<%}%>

                                    </td>

                                </tr> 
                                <% } %> 
=======
                 
               <tbody id="wbsstatus">
                
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
              </tbody>
            </table>
</div>

          

          <div id="projectDiv" class="hide row" style="max-width:103%;overflow-y:auto;margin-top:10px;  ">

          <div style="margin-bottom:10px">
          <span class="modal-title" style="padding-left:45%;margin-top:10px">Project for selected WBS</span>
          </div>



            <table class="table stripe cell-border hover" id="projectTable"  >

               <thead>
                
                 <tr  >
                
                <th   >Project title</th>
                <th   >Planned Start Date</th>
                <th   >Planned End Date</th>
                </tr>
               </thead>
                  
               <tbody id="projectBody">
                
              </tbody>
            </table>
          </div>

          <div id="assignmentDiv" class="hide row" style="max-width:103%;overflow-y:auto  ">

          <div style="margin-bottom:10px">
          <span class="modal-title" style="padding-left:45%;margin-top:10px">List of Assignments for selected WBS</span>
          </div>


            <table class="table stripe cell-border hover" id="assignmentTable"  >

               <thead>
                
                 <tr  >
                <th   >Project Name</th>
                <th   >WBS Name</th>
                <th   >User Name</th>
                <th   >Assignment Start Date</th>
                <th   >Assignment End Date</th>
                </tr>
               </thead>
                  
               <tbody id="assignmentBody">
                
              </tbody>
            </table>
          </div>
</div>


  
 <footer>
        <% include ./partials/footer %>
<<<<<<< HEAD
    </footer>
=======
    </footer>
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
