<!-- wbs dwtails -->





 <% include ./partials/head %>

<style>
 
 .dataTables_filter, .dataTables_length {
     display: none;
    }

 .glyphicon-ok-circle{
  color:green!important;
 }

 input{
  width:80px;
 }

 
</style>
<script type="text/javascript"> 
var otable='';
$(document).ready(function() {

  $('.se-pre-con').fadeOut('slow');
  
  $('.wbs-img').addClass('active');

  otable=$('#bugtable').dataTable({
    'iDisplayLength': 10, 
    "info":false,
     "bFilter": true,
    "order":[]
  });

  projectTable=$('#projectTable').dataTable({
    'iDisplayLength': 10,
    "order":[],"bFilter": false,"bInfo": false,"bLengthChange": false
  });

  assignmentTable=$('#assignmentTable').dataTable({
    'iDisplayLength': 10,
    "order":[],"bFilter": false,"bInfo": false,"bLengthChange": false
  });


   $("#searchbox").keyup(function() {
        otable.fnFilter(this.value);
      });
   $(window).bind('resize', function () {
                otable.fnAdjustColumnSizing();
              } );

 wbsStatus();
});




 function wbsStatus(){
  var st=$("#selectwbs").val();
    $.ajax({
                url: '/wbsStatus',
                type: 'post',
                data: { "status": st },
                success: function(data) {
                    console.log('sssssssssssssssssssss', data);
                    var log = '',log1='',log2='';
                    
                    for (var i = data[0].length-1; i >=0 ; i--) {
                      if(data[0][i].firstName==null){data[0][i].firstName='';}
                      if(data[0][i].location==null){data[0][i].location='';}
                      if(data[0][i].WBSName==null){data[0][i].WBSName='';}
                      if(data[0][i].WBSCode==null){data[0][i].WBSCode='';}
                      if(data[0][i].projectTitle==null){data[0][i].projectTitle='';}
                      if(data[0][i].WBSName==null){data[0][i].WBSName='';}
                      if(data[0][i].wplannedStartDate==null){data[0][i].wplannedStartDate='';}
                      if(data[0][i].wplannedEndDate==null){data[0][i].wplannedEndDate='';}
                      if(data[0][i].wactualStartDate==null){data[0][i].wactualStartDate='';}
                      if(data[0][i].wactualEndDate==null){data[0][i].wactualEndDate='';}
                      if(data[0][i].estimateEffort==''){data[0][i].estimateEffort='';}
                      if(data[0][i].estimateEffort1==0){data[0][i].estimateEffort1='';}
                      if(data[0][i].estimateEffort1==null){data[0][i].estimateEffort1='';}
                      if(data[0][i].estimateEffort1==1){data[0][i].estimateEffort1='Man-Hours';}
                      if(data[0][i].estimateEffort1==2){data[0][i].estimateEffort1='Man-Days';}
                      if(data[0][i].estimateEffort1==3){data[0][i].estimateEffort1='Man-Weeks';}
                      if(data[0][i].estimateEffort1==4){data[0][i].estimateEffort1='Man-Months';}
                      if(data[0][i].estimateEffort != ''){
                      data[0][i].estimateEffort = data[0][i].estimateEffort + ' ' + data[0][i].estimateEffort1;
                      }

                      var sdate=data[0][i].plannedStartDate;
                      var edate=data[0][i].plannedEndDate;
                      var date = new Date(sdate);
                            var date1 = new Date(edate);
                      //alert(date+' '+date1)
                          log=log+ '<tr style=height:20px;color:grey;font-size:12px; class="rows" id="abc_'+data[0][i].WBSId+'" onclick="getProjectAssignment('+data[0][i].WBSId+');"><td><input type="text" style="cursor: pointer;border:0px"   id="wbsname_'+data[0][i].WBSId+'" value="'+data[0][i].WBSName+'" onchange="changeProjectAssignment(0,'+data[0][i].WBSId+',0,1);"></td><td>'+data[0][i].WBSCode+'</td><td>'+data[0][i].projectTitle+'</td><td>'+data[0][i].firstName+'</td><td><input style="cursor: pointer;border:0px"   type="text"  readonly="true" id="wpsdate_'+data[0][i].WBSId+'" value="'+data[0][i].wplannedStartDate+'" onchange="changeProjectAssignment(0,'+data[0][i].WBSId+',0,1);"></td><td><input type="text" style="cursor: pointer;border:0px"   readonly="true"  id="wpedate_'+data[0][i].WBSId+'" value="'+data[0][i].wplannedEndDate+'" onchange="changeProjectAssignment(0,'+data[0][i].WBSId+',0,1);"></td><td><input type="text" readonly="true"  id="wasdate_'+data[0][i].WBSId+'" style="cursor: pointer;border:0px"   value="'+data[0][i].wactualStartDate+'" onchange="changeProjectAssignment(0,'+data[0][i].WBSId+',0,1);"></td><td><input type="text" style="cursor: pointer;border:0px"   readonly="true"  id="waedate_'+data[0][i].WBSId+'" value="'+data[0][i].wactualEndDate+'" onchange="changeProjectAssignment(0,'+data[0][i].WBSId+',0,1);"></td><td>'+data[0][i].estimateEffort+'</td> <td>'+data[0][i].location+'</td>';

                          $('body').on('focus',"#wpsdate_"+data[0][i].WBSId, function(){
                              $(this).datetimepicker({
                                    timepicker: false,
                                    minDate: date,
                                    maxDate: date1,
                                    format: 'm/d/y',
                                    scrollMouse: false,
                                    scrollInput: false
                                   });
                          });
                          $('body').on('focus',"#wpedate_"+data[0][i].WBSId, function(){
                              $(this).datetimepicker({
                                    timepicker: false,
                                    minDate: date,
                                    maxDate: date1,
                                    format: 'm/d/y',
                                    scrollMouse: false,
                                    scrollInput: false
                                   });
                          });
                          $('body').on('focus',"#wasdate_"+data[0][i].WBSId, function(){
                              $(this).datetimepicker({
                                    timepicker: false,
                                    minDate: date,
                                    maxDate: date1,
                                    format: 'm/d/y',
                                    scrollMouse: false,
                                    scrollInput: false
                                   });
                          });
                          $('body').on('focus',"#waedate_"+data[0][i].WBSId, function(){
                              $(this).datetimepicker({
                                    timepicker: false,
                                    minDate: date,
                                    maxDate: date1,
                                    format: 'm/d/y',
                                    scrollMouse: false,
                                    scrollInput: false
                                   });
                          });


if(data[0][i].projectTitle!='DummyProject'){
  if(data[0][i].WBSStatus==1){
                        log=log+' <td>   <a href="/addEditWbs?wbsid='+data[0][i].WBSId+'&flag=1"  onclick="return checkedit();"> <span class="glyphicon glyphicon-pencil" style="color:red;height:10px;margin-left:10px;margin-right:10px;" title="Edit WBS"></span></a>    <a onclick=" actinact('+data[0][i].WBSId+',1)"><span class="glyphicon glyphicon-ok-sign" style="color:green;height:10px;margin-right:10px;" title="click to inactive"></span></a></td> ';


                           

                        }
                        else{
                          log=log+ '<td>   <a  onclick=" actinact('+data[0][i].WBSId+',0)"> <span class="glyphicon glyphicon-remove-sign" style="text-align:center;color:red;height:10px;margin-left:35px;" title="Check to active"></span></a> </td>';

                        }
                      }
                      else
                      {
                        log=log+'<td></td>';
                      }

                        log=log+'</tr>';
                        
                    }otable.fnDestroy();
                    $('#wbsstatus').html(log);
                    otable=$('#bugtable').dataTable({
                      'iDisplayLength': 10,
                      "order":[]
                      });

                    otable.$('tr:first').click();
                    otable.$('tr').addClass('hide');
                    otable.$('tr:first').removeClass('hide');
                }

            });

 }
 function checkedit(){
 /* var r = confirm("Do you want to edit this WBS ?");
    if (r == true) {
        
        return true;
    } else {
        return false;
    }*/
    return true;
}
function checkactive(st){
  if(st){var r = confirm("Do you want to make this WBS inactive ?");}
  else{var r = confirm("Do you want to make this WBS active ?");}
    if (r == true) {
        
        return true;
    } else {
        return false;
    }
}

function actinact(wbsid,flag){
 //if(confirm("are you sure you want to inactive the wbs ?")==true)
 var r=checkactive(flag);
 if(r){
  $.ajax({
                url: '/changeWbsStatus',
                type: 'post',
                data: { "wbsid": wbsid, "flag": flag },
                success: function(data) {
                   
                }

            });
   }
   wbsStatus();
}


function getProjectAssignment(wbsid){

  $(".rows").removeClass('active-row');
            $("#abc_"+wbsid).addClass('active-row');

          otable.$("tr").addClass('hide');
          $(".active-row").removeClass('hide');
             

  $('#assignmentDiv').removeClass('hide');
  $('#projectDiv').removeClass('hide');

 

  $.ajax({
                url: '/getProjectAssignment',
                type: 'post',
                data: { "wbsid": wbsid},
                success: function(data) {
                   var log='',log1='';
                   for (var i = 0; i < data[0].length ; i++) {
                      log=log+ '<tr style=height:20px;color:grey;font-size:12px; onclick="highlight('+data[0][i].id+',0,1)" class="rows1"  id="projectRow_'+data[0][i].id+'"><td><input type="text" readonly="true"  style="cursor: pointer;border:0px"   value="'+data[0][i].projectTitle+'" id="pname_'+data[0][i].id+'" onchange="changeProjectAssignment('+data[0][i].id+',0,0,2);"></td><td><input type="text" readonly="true"  style="cursor: pointer;border:0px"   id="psdate_'+data[0][i].id+'" value="'+data[0][i].plannedStartDate+'" onchange="changeProjectAssignment('+data[0][i].id+',0,0,2);"></td><td><input type="text" readonly="true"  style="cursor: pointer;border:0px"   id="pedate_'+data[0][i].id+'" value="'+data[0][i].plannedEndDate+'" onchange="changeProjectAssignment('+data[0][i].id+',0,0,2);"></td><td><input type="text" readonly="true"  id="asdate_'+data[0][i].id+'" style="cursor: pointer;border:0px"   value="'+data[0][i].actualStartDate+'" onchange="changeProjectAssignment('+data[0][i].id+',0,0,2);"></td><td><input type="text" readonly="true"  style="cursor: pointer;border:0px"   id="aedate_'+data[0][i].id+'" value="'+data[0][i].actualEndDate+'" onchange="changeProjectAssignment('+data[0][i].id+',0,0,2);"></td></tr>';

                      $('body').on('focus',"#psdate_"+data[0][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false
                               });
                      });
                      $('body').on('focus',"#pedate_"+data[0][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false
                               });
                      });
                      $('body').on('focus',"#asdate_"+data[0][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false
                               });
                      });
                      $('body').on('focus',"#aedate_"+data[0][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false
                               });
                      });


                   }


                   projectTable.fnDestroy();
                    $('#projectBody').html(log);
                    projectTable=$('#projectTable').dataTable({
                      'iDisplayLength': 10,
                      "order":[],
                    "bFilter": false,"bInfo": false,"bLengthChange": false
                      });


                    for (var i = 0; i < data[1].length ; i++) {
                      var sdate=data[1][i].wplannedStartDate;
                      var edate=data[1][i].wplannedEndDate;
                      var date = new Date(sdate);
                            var date1 = new Date(edate);

                            //alert(sdate+' '+edate)
                       log1=log1+ '<tr style=height:20px;color:grey;font-size:12px; onclick="highlight(0,'+data[1][i].id+',2)" class="rows2"  id="assignmentRow_'+data[1][i].id+'"><td><input type="text"  readonly="true" style="cursor: pointer;border:0px"   value="'+data[1][i].projectTitle+'"></td><td><input type="text"  readonly="true" style="cursor: pointer;border:0px"   value="'+data[1][i].WBSName+'" id="assignname_'+data[1][i].id+'" onchange="changeProjectAssignment(0,0,'+data[1][i].id+',3);"></td><td><input type="text" style="cursor: pointer;border:0px"   readonly="true"  id="assigndate_'+data[1][i].id+'" value="'+data[1][i].AssignmentDate+'" onchange="changeProjectAssignment(0,0,'+data[1][i].id+',3);"></td><td><input type="text" readonly="true"  style="cursor: pointer;border:0px"   id="assignedate_'+data[1][i].id+'" value="'+data[1][i].AssignmentEndDate+'" onchange="changeProjectAssignment(0,0,'+data[1][i].id+',3);"></td></tr>';

                       $('body').on('focus',"#assigndate_"+data[1][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: date,
                                    maxDate: date1
                               });
                      });
                       $('body').on('focus',"#assignedate_"+data[1][i].id, function(){
                          $(this).datetimepicker({
                                timepicker:false,
                                format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: date,
                                    maxDate: date1
                               });
                      });



                   }


                   assignmentTable.fnDestroy();
                    $('#assignmentBody').html(log1);
                    assignmentTable=$('#assignmentTable').dataTable({
                      'iDisplayLength': 10,
                      "order":[],
                    "bFilter": false,"bInfo": false,"bLengthChange": false
                      });



                }

            });


}

function highlight(pid,aid,flag){
  if(flag==1){
    $(".rows1").removeClass('active-row');
            $("#projectRow_"+pid).addClass('active-row');
  }
  else{
    $(".rows2").removeClass('active-row');
            $("#assignmentRow_"+aid).addClass('active-row');
  }
}

 function checkWBS(wbsid){
                wbsname=$('#wbsname_'+wbsid).val();
               wpsdate=$('#wpsdate_'+wbsid).val();
               wpedate=$('#wpedate_'+wbsid).val();
                wasdate=$('#wasdate_'+wbsid).val();
                waedate=$('#waedate_'+wbsid).val();
                var sdate = new Date(wpsdate);
                var edate = new Date(wpedate);
                var asdate = new Date(wasdate);
                var aedate = new Date(waedate);

                 /*if (wbsname.val().trim().length == 0 ||  wbsname == '') {
                    alert("Please Enter WBS Name First");
                    return false;
                }*/


                if (sdate > edate) {
                    alert('Planned End Date can not be less than Planned Start Date');
                    return false;
                }

                if (waedate != '') {
                    if (wasdate != '') {
                        if (asdate > aedate) {
                            alert('Actual End Date can not be less than Actual Start Date');
                            return false;
                        }
                    } else {
                        alert('Please Select Actual Start Date');
                        return false;
                    }
                }

                return true;
 }
 function checkAssignment(asid){
                asname=$('#asname_'+asid).val();
               asdate=$('#asdate_'+asid).val();
               aedate=$('#aedate_'+asid).val();
                var sdate = new Date(asdate);
                var edate = new Date(aedate);
                //alert(sdate+' '+edate);
                 /*if (asname.trim().length == 0 ||  asname == '') {
                    alert("Please Enter WBS Name First");
                    return false;
                }*/


                if (sdate > edate) {
                    alert('Planned End Date can not be less than Planned Start Date');
                    return false;
                }

                return true;
 }

 function checkProject(projectId){
  var pname=$('#pname_'+projectId).val();
    var psdate=$('#psdate_'+projectId).val();//alert(psdate)
    var pedate=$('#pedate_'+projectId).val();//alert(pedate)
    var asdate=$('#asdate_'+projectId).val();
    var aedate=$('#aedate_'+projectId).val();

    var sdate = new Date(psdate);
                var edate = new Date(pedate);
                var asdate = new Date(asdate);
                var aedate = new Date(aedate);

                 /*if (pname.val().trim().length == 0 ||  pname == '') {
                    alert("Please Enter Project Name First");
                    return false;
                }
*/

                if (sdate > edate) {
                    alert('Planned End Date can not be less than Planned Start Date');
                    return false;
                }

                if (waedate != '') {
                    if (wasdate != '') {
                        if (asdate > aedate) {
                            alert('Actual End Date can not be less than Actual Start Date');
                            return false;
                        }
                    } else {
                        alert('Please Select Actual Start Date');
                        return false;
                    }
                }

                return true;
 }



function changeProjectAssignment(projectId,wbsId,assignmentId,flag){ //alert(flag);
  var a=checkWBS(wbsId);
  var b=checkProject(projectId);
var c=checkAssignment(assignmentId);

  if(flag==1){

    if(a==true){
    var wbsname=$('#wbsname_'+wbsId).val();
    var wpsdate=$('#wpsdate_'+wbsId).val();//alert(wpsdate)
    var wpedate=$('#wpedate_'+wbsId).val();//alert(wpedate)
    var wasdate=$('#wasdate_'+wbsId).val();
    var waedate=$('#waedate_'+wbsId).val();


    $.ajax({
                url: '/changeProjectAssignment',
                type: 'post',
                data: {"wid":wbsId,"wbsname":wbsname,"wpsdate":wpsdate,"wpedate":wpedate,"wasdate":wasdate,"waedate":waedate, "pid":0,"pname":"0","psdate":"0","pedate":"0","asdate":"0","aedate":"0","aid":0,"assignname":"0","assigndate":"0","assignedate":"0", "flag": flag },
                success: function(data) {
                   
                }

            });
      }
      else{
        return false;
      }

  }

  else if(flag==2){

    if(b==true){
    var pname=$('#pname_'+projectId).val();
    var psdate=$('#psdate_'+projectId).val();//alert(psdate)
    var pedate=$('#pedate_'+projectId).val();//alert(pedate)
    var asdate=$('#asdate_'+projectId).val();
    var aedate=$('#aedate_'+projectId).val();

    $.ajax({
                url: '/changeProjectAssignment',
                type: 'post',
                data: { "wid":0,"wbsname":"0","wpsdate":"0","wpedate":"0","wasdate":"0","waedate":"0", "pid":projectId,"pname":pname,"psdate":psdate,"pedate":pedate,"asdate":asdate,"aedate":aedate,"aid":0,"assignname":"0","assigndate":"0","assignedate":"0", "flag": flag },
                success: function(data) {
                   
                }

            });
     }
     else{
      return false;
     }
  }


  else{

    //if(c==true){
      var assignname=$('#assignname_'+assignmentId).val();
      var assigndate=$('#assigndate_'+assignmentId).val();
      var assignedate=$('#assignedate_'+assignmentId).val();

      $.ajax({
                url: '/changeProjectAssignment',
                type: 'post',
                data: {  "wid":0,"wbsname":"0","wpsdate":"0","wpedate":"0","wasdate":"0","waedate":"0","pid":0,"pname":"0","psdate":"0","pedate":"0","asdate":"0","aedate":"0","aid":assignmentId,"assignname":assignname,"assigndate":assigndate,"assignedate":assignedate, "flag": flag },
                success: function(data) {
                   
                }

            });

        /*}
        else{
          return false;
        }*/
  }
}





</script>  

<script src="http://alasql.org/console/alasql.min.js"></script>
    <script>
    function exportWBS(type)
{
    var status=$("#selectwbs").val();
     $(".se-pre-con").fadeIn("slow");
var header=['WBS Name','WBS Code','Project Name','WBS Owner','Planned Start Date','Planned End Date','Actual Start Date','Actual End Date','Estimate Effort','WBS Location','Status'];

var url = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin + '/exportToCsv';
$.ajax({
url: url,
method: 'POST',
data : {"type":type,'status':status},
success: function(data) {
    console.log('bugdata',data)
data.unshift(header);
alasql("SELECT * INTO CSV('WBS.csv') FROM ?",[data]);
/*$(".se-pre-con").fadeOut("slow");
$("#btnDownloadbug").prop('disabled', false);*/
},
dataType: 'JSON',
});   

$(".se-pre-con").fadeOut("slow");
}

function showAll()
{
    otable.$('tr').removeClass('hide');
    }


</script>


<div>
        <% include ./partials/adminheader %>
    </div>

    <div class="se-pre-con"></div>


  <div class="secondry-color"  style="padding-bottom:2%;padding-left :2%;padding-right:2%;  ">  
 
  <div class="row" style="padding-top:1%;max-width: 103%">  
   <a href="/addEditWbs?wbsid=0&flag=0">
   <img    title="Create New"   class="addNewPlus">
    </a> 
    <span class="modal-title" style="padding-left:35%">WBS Details</span> 

    <input type="button" onclick="showAll()" value="Show All">
       <select class="form-text-box" style="float:left;width:auto; margin-bottom:1%;margin-left:10px;margin-top: 3px" id="selectwbs" onchange="wbsStatus()">
                 <option value="1">Active</option>
                 <option value="0">Inactive</option>
                 <option value="2">All</option>
                </select>

                 <span id="download" class="glyphicon glyphicon-download" onclick="exportWBS('wbs')" style="margin-left:320px;cursor: pointer;font-size:19px" title="Download WBS List" ></span>


         <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%">

   </div>
    <div  class="row" style="max-width:103%;overflow-y:auto ">        
            <table class="table stripe cell-border hover" id="bugtable" >

               <thead>
                
                 <tr style='font-size:12px'>
                
                <th   >WBS Name</th>
                <th   >WBS Code</th>
                <th   >Project Name</th>
                <th   >WBS Owner</th>
                <th   >Planned Start Date</th>
                <th   >Planned End Date</th>
                <th   >Actual Start Date</th>
                <th   >Actual End Date</th>  
                <th   >Estimate Effort</th>
                <th   >WBS Location</th>  
                <th   >Action</th>            
                </tr>
                  </thead>
                 <%console.log('sssssssssssss');%> 
               <tbody id="wbsstatus">
                <% for(var i=allinfo.length-1;i>=0;i--) { %>
                                <tr  id="abc_<%=allinfo[i].WBSId%>">
                                    
                                    <td>
                                        <%=allinfo[i].WBSName%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].WBSCode%>
                                    </td>
                                    <td>
                                   
                                        <%=allinfo[i].projectTitle%>
                                    
                                    </td>

                                    <td>
                                        <%=allinfo[i].firstName%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].wplannedStartDate%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].wplannedEndDate%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].wactualStartDate%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].wactualEndDate%>
                                    </td>
                                    <td>
                                        <%=allinfo[i].estimateEffort%>
                                    </td>
                                    
                                    <td>
                                        <%=allinfo[i].location%>
                                    </td>
                                    
                                    
                                     <td>
                                     <%if(allinfo[i].projectTitle !=='DummyProject'){%>
                                        <a href="/addEditWbs?wbsid=<%=allinfo[i].WBSId%>&flag=1"  onclick="return checkedit();"> <span class="glyphicon glyphicon-pencil" style="color:red;height:10px;margin-left:10px;margin-right:10px;" title="Edit WBS"></span></a>

                                        <a onclick="actinact(<%=allinfo[i].WBSId%>,1);" ><span class="glyphicon glyphicon-ok-sign" style="color:green;height:10px;margin-left:10px;margin-right:10px;" title="click to inactive"></span></a>

<%}%>

                                    </td>

                                </tr> 
                                <% } %> 
              </tbody>
            </table>
</div>

          

          <div id="projectDiv" class="hide row" style="max-width:103%;overflow-y:auto  ">

          <div style="margin-bottom:10px">
          <span class="modal-title" style="padding-left:45%;margin-top:10px">Project for selected WBS</span>
          </div>



            <table class="table stripe cell-border hover" id="projectTable"  >

               <thead>
                
                 <tr  >
                
                <th   >Project title</th>
                <th   >Planned Start Date</th>
                <th   >Planned End Date</th>
                <th   >Actual Start Date</th>
                <th   >Actual End Date</th>   
                </tr>
               </thead>
                  
               <tbody id="projectBody">
                
              </tbody>
            </table>
          </div>

          <div id="assignmentDiv" class="hide row" style="max-width:103%;overflow-y:auto  ">

          <div style="margin-bottom:10px">
          <span class="modal-title" style="padding-left:45%;margin-top:10px">List of Assignments for selected WBS</span>
          </div>


            <table class="table stripe cell-border hover" id="assignmentTable"  >

               <thead>
                
                 <tr  >
                <th   >Project Name</th>
                <th   >WBS Name</th>
                <th   >Assignment Start Date</th>
                <th   >Assignment End Date</th>
                </tr>
               </thead>
                  
               <tbody id="assignmentBody">
                
              </tbody>
            </table>
          </div>
</div>


  
 <footer>
        <% include ./partials/footer %>
    </footer>