  <!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>
  
    <% include ../partials/adminheader %>

    <% include header %>



<style>
	.row{margin-right:-5%;
		margin-left:-1%;}
</style>


	
	<title>Home</title>
	

		<div class="secondry-color">
		
			<div class="row "  style="padding-top:2%;padding-left:20px;padding-right:20px;margin-right:1px;padding-bottom: 2%">
				<div class="col-md-6" >		
					<div class="main-box " style="height:400px">
					<div class="horizontal-bar  " style="width:100%; font-weight: bold;padding-left:5px;padding-top:5px;height:30px">
					<span class="glyphicon glyphicon-user"></span>
					 <a href="/viewBug" style="color:white">Assinged to Me</a></div>
						<center style="margin-top:10px;">
							<div class="" style="height:320px;width:95%" >
								<div class="row" style="padding-left:10px;padding-top:5px;color:#707070;font-weight:bold;">
									<div class="col-md-2">Key</div>
									<div class="col-md-7" align="center">Summary</div>
									<div class="col-md-3" align="left">Priority</div>						
								</div>
								
								<div class="auto-scroll" style="width:100%;height:290px">
									
										<% var c=1;for(var i=0;i<bug.length;i++){ %>
											<a href="/viewbug">
												<div class="row inner-div-activity">
													<div class="col-md-2 " align="left">
														<%= c++ %>
													</div>
													<div class="col-md-7 " style="" align="left">
														<b>"<%=bug[i].bugTitle%>"</b> in <b><%=bug[i].projectName%></b>
														<div style="color:grey;font-size:12px;">On Date : <%=bug[i].createdDate%></div>
													</div>
													<div class="col-md-3 " align="right" >
														<%=bug[i].priority%>
													</div>
												</div>
											</a>
											<hr style="max-width:100%;border-width:2px;border-color:#EDEDED">
										<%}%>
								</div>
							</div>
						</center>
					</div> 
				</div>
				<div class="col-md-6">
					<div class="main-box " style="height:400px;">
						<div class="horizontal-bar" style="width:100%;padding-top:5px;padding-left:5px; font-weight: bold;height:30px">
						<span class="glyphicon glyphicon-flash"></span>
						   Recent Activity</div>
						<center style="margin-top:10px;">
							<div class="" style="height:320px;width:95%" >
								<div style="padding-left:20px;padding-top:10px;padding-right:20px">
								  <div class="auto-scroll" align="left" style="width:100%;height:320px;color:grey" >
								  <%if(activity.length==0){%><div style="color:grey;font-size:12px" align="center">You have no recent actvity</div><%}%>
								  <%for(var i=0;i<activity.length;i++){%>	
									
										<div class="row inner-div-activity" style=" ">								
											<%if(activity[i].flag=="bug"){%>											
											<span style=""><b>"<%=activity[i].bugTitle%>"</b> </span>is 
											   <%if(activity[i].createdDate>=activity[i].lastModifiedDate){%>
													created by - <b><%=activity[i].firstName%></b> for - <b><%=activity[i].projectName%></b> at:<%=activity[i].createdDate%>	
												<%}else{%>
													Modified by - <b><%=activity[i].firstName%></b> at <%=activity[i].createdDate%> for - <b><%=activity[i].projectName%></b> at <%=activity[i].lastModifiedDate%>	
												<%}}else if(activity[i].flag=="comment"){%>											
											   <b>"<%=activity[i].bugTitle%>"</b> has new comment by - <b><%=activity[i].firstName%></b> for - <b><%=activity[i].projectName%></b> at <%=activity[i].createdDate%>
											<%}else{%>											
											   <b>"<%=activity[i].bugTitle%>"</b> has new attachment by - <b><%=activity[i].firstName%></b> for - <b><%=activity[i].projectName%></b> at <%=activity[i].createdDate%>	
											<%}%>
										</div>
										<hr style="max-width:100%;border-width:2px;border-color:#EDEDED;">
										<%}%>
									</div>
								</div>	
							</div>	  
						</center>
						
					</div>
				</div>
			</div>
		</div>	
		
 <% include ../partials/footer %>	

<script>
$(document).ready(function() {
  $('.bughome-img').addClass('active');


  });
</script>

	</body>
</html>
