
<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<% include header.ejs %>
 <% include ../partials/adminheader %>
    <title>Raise Bug</title>

<link href="/css/jquery.filer.css" type="text/css" rel="stylesheet" />
<link href="/css/jquery.filer-dragdropbox-theme.css" type="text/css" rel="stylesheet" />
 
        <style> 
        
            #raise {
                border-radius: 10px;
            }

          
            .glyphicon:hover {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
                cursor: default;
            }
            .list-inline.pull-left{
                display: none;
            }
            label{
                font-size: 12px;
            }
            .main-box-raisebug>div{
                margin: 5px 0;
            }
            /*.main-box-raisebug .form-control input-sm{
                height: 30px;
                padding: 4px 12px;
            }*/
            .main-box-raisebug hr{
                max-width: 100%;
                border-width: 2px;
                border-color: #EDEDED;
            }
        </style>

    <div class="se-pre-con"></div>
 
    <div class="secondry-color" style=" padding-top:1%;padding-bottom:2%"> 
        <center>
            <form onsubmit="return validateForm()" action="/addBug" method="post"  enctype="multipart/form-data" name="rbug" >

                 <input type="text" name="flagNotification" class="hide" id="flagNotification" value=2 />
            <input type="text" name="editNotification" class="hide" id="editNotification" value=0 />
            <input type="text" name="moduleType" class="hide" id="moduleType" value='bug' />

            
                <div class="row" style="width:95%;">
                    <div class="col-md-3" style="margin-bottom:20px;">
                        <center>
                            <div class="main-box-raisebug box-size">
                                <div class="row " >
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div><b>Reported By</b></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <span class="label label-info"><b><%=user%></b></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                       <div ><label > Project :<sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <select onchange="Getalltech()"  class="form-control input-sm" name="project" id="proj" >
                                            <option value="0">-select-</option>
                                            <% for(var i=0;i<project.length;i++) { %>
                   <option value="<%=project[i].id %>" <%if(bugSetting[0]==project[i].id){%>selected<%}%> >
                                                    <%=project[i].projectTitle%>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <div ><label >Status :<sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <select  class="form-control input-sm" name="status" id="status">
                                            <option>New</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div ><label >Assinged To :<sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <select  class="form-control input-sm" name="assingedto" id="assingedto">
                                          <!--    <option value="0">-Select-</option> -->  
                                             <% for(var i=0;i<assingedto.length;i++) {   %>
                                                     <option value="<%=assingedto[i].id%>" <%if(assingedto[i].id==bugSetting[1]){%>selected <%}%> >
                                                    <%=assingedto[i].firstName %>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <div ><label >Priority :<sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <select  class="form-control input-sm" name="priority" id="priority">
                                            <% for(var i=0;i<priority.length;i++) { %>
                                                <option value="<%=priority[i].id %>" <%if(bugSetting[2]==priority[i].id){%>selected<%} else { if(priority[i].description1=="Medium" ){%>selected <%}}%>  >
                                                        <%=priority[i].description1%>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <div ><label >Severity :<sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <select  class="form-control input-sm" name="severity" id="severity">
                                            <% for(var i=0;i<severity.length;i++) { %>
                                                <option value="<%=severity[i].id %>"  <%if(bugSetting[3]==severity[i].id){%>  selected<%} else { if(severity[i].description1=="Medium" ){%>selected <%}}%>  >      <%=severity[i].description1%>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <div ><label >Technology : <sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <select  class="form-control input-sm" name="technology" id="technology"> 
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <div ><label >Type : <sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <select  class="form-control input-sm" name="type" id="type">
                                            <% for(var i=0;i<type.length;i++) { %>
                                                <option value="<%=type[i].id %>" <%if(bugSetting[5]==type[i].id){%>selected<%}%>>
                                                    <%=type[i].description1%>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div> 
                                 <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <div ><label >Est. Effort :</label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <input type="text" class="form-control input-sm"name="estimatedEffort" placeholder="# Effort" maxlength="3">
                                    </div>
                                </div>

                                 <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <div ><label >Actual Effort :  </label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <input type="text" class="form-control input-sm" name="actualEffort" placeholder="# Effort" maxlength="3">
                                    </div>
                                </div>

                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <div ><label >Detected By :</label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <select  class="form-control input-sm" name="detectedBy" id="detectedBy">
                                           <option value="0">select</option> 
                                        </select>
                                    </div>
                                </div>


                                          <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <div ><label >Cycle :</label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <select  class="form-control input-sm" name="cycle" id="cycle">
                                          <option value="0">-select-</option>

                                            <% for(var i=0;i<cycle.length;i++) { %>
                                                <option value="<%=cycle[i].id %>" <%if(bugSetting[7]==cycle[i].id){%>selected<%}%>>
                                                    <%=cycle[i].description1%>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div>



                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div><label >Tentative Closure : </label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <input type="text" name="tentativeclouser" id="tentativeclouser" class="form-control input-sm"  placeholder="Select date ">
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div class="col-md-9"  >
                        <div>
                        <table style="width:100%">
                            <tr>
                                <td style="width:100px"><label  style="padding-top: 8%;">Title :<sup class="astrick">*</sup></label></td>
                                <td><input class="form-control input-sm" type="text" maxlength="75" name="titlebox" id="titlebox" style="width:100%" placeholder="Enter title/summary for new bug ... * "></td>
                            </tr>
                            <tr id="link-task">
                                <td><label  style="padding-top: 30%;">Linked Task :</label></td>
                                <td><select style="width:100%;margin-top:3%" class="form-control input-sm" name="linkTo" id="linkTo">
                             <option value="0">select</option>
                             </select></td>
                            </tr>
                        </table> 
                        </div>

                        <div class="border-boxs" style="width:100%;padding-top:3%">

                            <div style="width:100%">
                                <textarea name="description" id="description"  rows="10"></textarea>
                                 
                            </div>
                            <div class="col-md-12 height25"></div>
                          
                            <div class="row " style="padding-top:20px;" >
                           
                                <div>
                                    <div id="content">
                                    <input type="file" id="addBugUp1" name="addBugUpload1[]" class="upload" multiple/>
                                    <div class="jFiler-items jFiler-row" aa><ul class="jFiler-items-list jFiler-items-grid bb"></ul></div>
                                    </div>

                                  <input type = "text" id = "fileNameId" name = "fileNames"  class = "hide"></input>
                                  <!--  <input type = "text"  id = "fileContentId" name = "fileUrls" class = "hide"></input> -->
                                   <textarea id = "fileContentId" name = "fileUrls" class = "hide"></textarea>
                                </div> 
                            </div>

          
                             
                        </div>
                    </div>
                </div>
            <div>
                <label><input type="checkbox" name="setting" id="setting" value="1"<%if(bugSetting[8]=='1'){%>checked="true"<%}%> />Remember Setting </label>
                <input type="submit" class="btn" name="submit" id="raise" value="Raise Bug"> 
            </div>
            </form>
        </center>
    </div>

<% include ../partials/footer%>


    

        <script>

        function validateForm() {
            var titlebox = document.forms["rbug"]["titlebox"].value;
            var editorContent = tinyMCE.get('description').getContent();
            var tech = document.forms["rbug"]["technology"].value;
            var re = /^\d{1,2}\/\d{1,2}\/\d{4}$/;

            if (titlebox == null || titlebox == ""|| titlebox.trim().length<1) {
                alert("Please provide valid title!");
                return false;
            }
            
            if (editorContent == '')
            {
                alert("Please provide valid description!");
                return false;
            }

            if (!$( "#proj" ).val()) {
                alert("No project exists! Please create a project first!");
                return false;
            }
              if ($( "#proj" ).val()=="0") {
                alert("Please select a project first!");
                return false;
            }
            
            if ($("#assingedto").val() == "0") {
                alert("Select a user in Assigned to");
                return false;
            }    
            

            if ($("#technology").val() == "0") {
                alert("Select a Technology");
                return false;
            }      
            if($('.jFiler-item-thumb-image1').length){
               
                var fileUrls = $('.jFiler-item-thumb-image1 img').map( function(){return $(this).prop('src'); }).get().join("amit");
               
                $('#fileContentId').val(fileUrls);
            }    
            
           


            if(editorContent.length >12000){
                alert('Description length should not be more than 12000 characters');
                return false;
            }
    
        
          return true;
        }
    function deleteImg(elem){
        if(confirm("Are you sure you want to remove this file")){
            $(elem).closest('.jFiler-item').remove();
        }
    }; 

        $( document ).ready(function() {
            $("#addBugUp1").filer({
        limit: null,
        maxSize: 1,
        extensions: ['jpg','jpeg','png','gif','pnm'],
        changeInput: '<div class="jFiler-input-dragDrop" style="width:100%;padding:10px"><div class="jFiler-input-inner"><div class="jFiler-input-icon"><i class="icon-jfi-cloud-up-o glyphicon glyphicon-open-file"></i></div><div class="jFiler-input-text"><h3>Drag&Drop files here</h3> <span style="display:inline-block">or</span></div><a class="jFiler-input-choose-btn blue">Browse Files</a></div></div>',
        showThumbs: true,
        theme: "dragdropbox",
        templates: {
            box: '<ul class="jFiler-items-list jFiler-items-grid"></ul>',
            item: '<li class="jFiler-item">\
                        <div class="jFiler-item-container">\
                            <div class="jFiler-item-inner">\
                                <div class="jFiler-item-thumb" style="width:150px;height:114px">\
                                    <div class="jFiler-item-status"></div>\
                                    <div class="jFiler-item-thumb-overlay">\
                                        <div class="jFiler-item-info">\
                                            <div style="display:table-cell;vertical-align: middle;">\
                                                <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name}}</b></span>\
                                                <span class="jFiler-item-others">{{fi-size2}}</span>\
                                            </div>\
                                        </div>\
                                    </div>\
                                    {{fi-image}}\
                                </div>\
                                <div class="jFiler-item-assets jFiler-row">\
                                    <ul class="list-inline pull-left">\
                                        <li>{{fi-progressBar}}</li>\
                                    </ul>\
                                    <ul class="list-inline pull-right">\
                                        <li><a class="icon-jfi-trash jFiler-item-trash-action glyphicon glyphicon-trash"></a></li>\
                                    </ul>\
                                </div>\
                            </div>\
                        </div>\
                    </li>',
            itemAppend: '<li class="jFiler-item">\
                            <div class="jFiler-item-container">\
                                <div class="jFiler-item-inner">\
                                    <div class="jFiler-item-thumb" style="width:150px;height:114px">\
                                        <div class="jFiler-item-status"></div>\
                                        <div class="jFiler-item-thumb-overlay">\
                                            <div class="jFiler-item-info">\
                                                <div style="display:table-cell;vertical-align: middle;">\
                                                    <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name}}</b></span>\
                                                    <span class="jFiler-item-others">{{fi-size2}}</span>\
                                                </div>\
                                            </div>\
                                        </div>\
                                        {{fi-image}}\
                                    </div>\
                                    <div class="jFiler-item-assets jFiler-row">\
                                        <ul class="list-inline pull-left">\
                                            <li><span class="jFiler-item-others">{{fi-icon}}</span></li>\
                                        </ul>\
                                        <ul class="list-inline pull-right">\
                                            <li><a class="icon-jfi-trash jFiler-item-trash-action glyphicon glyphicon-trash"></a></li>\
                                        </ul>\
                                    </div>\
                                </div>\
                            </div>\
                        </li>',
            progressBar: '<div class="bar"></div>',
            itemAppendToEnd: false,
            canvasImage: true,
            removeConfirmation: true,
            _selectors: {
                list: '.jFiler-items-list',
                item: '.jFiler-item',
                progressBar: '.bar',
                remove: '.jFiler-item-trash-action'
            }
        },
        dragDrop: {
            dragEnter: null,
            dragLeave: null,
            drop: null,
            dragContainer: null,
        },
        files: null,
        addMore: true,
        allowDuplicates: true,
        clipBoardPaste: true,
        excludeName: null,
        beforeRender: null,
        afterRender: null,
        beforeShow: null,
        beforeSelect: null,
        onSelect: null,
        afterShow: null,
        onEmpty: null,
        options: null,
        dialogs: {
            alert: function(text) {
                return alert(text);
            },
            confirm: function (text, callback) {
                confirm(text) ? callback() : null;
            }
        },
        captions: {
            button: "Choose Files",
            feedback: "Choose files To Upload",
            feedback2: "files were chosen",
            drop: "Drop file here to Upload",
            removeConfirmation: "Are you sure you want to remove this file?",
            errors: {
                filesLimit: "Only {{fi-limit}} files are allowed to be uploaded.",
                filesType: "Only Images are allowed to be uploaded.",
                filesSize: "{{fi-name}} is too large! Please upload file up to {{fi-maxSize}} MB.",
                filesSizeAll: "Files you've choosed are too large! Please upload files up to {{fi-maxSize}} MB."
            }
        }
    });
    document.addEventListener('paste', function(e){
        if (e.clipboardData) {
            var items = e.clipboardData.items;
            if (items) {
                for (var i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf("image") !== -1) {
                        var file = items[i].getAsFile();
                        reader = new FileReader();
                        reader.onload = function(evt) {

                            $('.jFiler-items-list.bb').append('<li class="jFiler-item">\
                        <div class="jFiler-item-container">\
                            <div class="jFiler-item-inner">\
                                <div class="jFiler-item-thumb" style="width:150px;height:114px">\
                                    <div class="jFiler-item-status"></div>\
                                    <div class="jFiler-item-thumb-overlay">\
                                        <div class="jFiler-item-info">\
                                            <div style="display:table-cell;vertical-align: middle;">\
                                            </div>\
                                        </div>\
                                    </div>\
                                    <div class="jFiler-item-thumb-image jFiler-item-thumb-image1"><img src="'+evt.target.result+'" draggable="false"></div>\
                                </div>\
                                <div class="jFiler-item-assets jFiler-row">\
                                    <ul class="list-inline pull-left">\
                                        <li>{{fi-progressBar}}</li>\
                                    </ul>\
                                    <ul class="list-inline pull-right">\
                                        <li><a class="icon-jfi-trash jFiler-item-trash-action glyphicon glyphicon-trash" onclick="deleteImg(this)"></a></li>\
                                    </ul>\
                                </div>\
                            </div>\
                        </div>\
                    </li>');
                        };
                        reader.readAsDataURL(file);
                    }
                }
                e.preventDefault();
            }
        }
    });
            $('.se-pre-con').fadeOut('slow');

             $('.raisebug-img').addClass('active');
             var todate=new Date();
            $("#tentativeclouser").datetimepicker({
                 timepicker: false,
                format: 'm/d/y',
                 minDate:todate
            });
            Getalltech();
            });
          
        tinymce.init({ menubar:false,
            selector: '#description',
        });

        function Getalltech(){
            var projId=$('#proj').val();
            $.ajax({
                url:'/getAlltech',
                data:{'projectId':projId},
                method: 'POST',
                success: function(data) {
                    if(data.length != 0){  


                        //data=data[0];
                        $('#pStartDate').val(data[2].plannedStartDate);
                        $('#pEndDate').val(data[2].plannedEndDate);
                        $('#pEndDate').val();
                        $('#technology').html('<option value=0>-Select-</option>');
                        $('#assingedto').html('<option value=0>-Select-</option>');
                        $('#detectedBy').html('<option value=0>-Select-</option>');
                        var techs=false; 
                        for(var i =0;i<data[0].length;i++){   
                            if(data[0][i].id=='<%=bugSetting[4]%>'){
                                    techs=true; 
                                }
                                else{
                                    techs=false;
                                }
                            $('#technology')
                            .append($("<option></option>")
                            .attr("value",data[0][i].id).attr("selected",techs)             
                            .text(data[0][i].description1));
                                     
                        }
                        var asto=false; 
                        for(var i =0;i<data[1].length;i++){   
                             if(data[1][i].userId=='<%=bugSetting[1]%>'){
                                    asto=true; 
                                }
                                else{
                                    asto=false;
                                }                         
                            $('#assingedto')
                            .append($("<option></option>")
                            .attr("value",data[1][i].userId).attr("selected",asto)             
                            .text(data[1][i].firstName));   
                        }
                         var dets=false; 
                        for(var i =0;i<data[1].length;i++){   
                            if(data[1][i].userId=='<%=bugSetting[6]%>'){
                                    dets=true; 
                                } 
                                else{
                                    dets=false;
                                }
                            $('#detectedBy')
                            .append($("<option></option>")
                            .attr("value",data[1][i].userId).attr("selected",dets)             
                            .text(data[1][i].firstName));   
                        } 
                        if(data[4][0].role ==3)
                        {
                            $("#link-task").addClass('hide');
                            return;
                        }
                        $("#linkTo").html('');

$('#linkTo').append($("<option></option>").attr("value",0)     
                            .text('Select task'));   

                        for(var i =0;i<data[3].length;i++){    
                            $('#linkTo')
                            .append($("<option></option>")
                            .attr("value",data[3][i].id)        
                            .text(data[3][i].name));   
                        }
                    }
                },
                dataType: 'JSON'
            });
        }





        </script>
<script src="/js/jquery.filer.min.js"></script>
        </body>
        </html>

