
<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<% include header.ejs %>
 <% include ../partials/adminheader %>
    <title>Raise Bug</title>
<!-- <link rel="stylesheet" type="text/css" href="/css/dropzone.css"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<link href="/css/jquery.filer.css" type="text/css" rel="stylesheet" />
<link href="/css/jquery.filer-dragdropbox-theme.css" type="text/css" rel="stylesheet" />
 
        <style> 
          /*  #titleg {
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }*/
            #raise {
                border-radius: 10px;
            }

            /*.{
                padding-top:5px;
                padding-bottom: 5px;

            }*/
            .glyphicon:hover {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
                cursor: default;
            }
            .list-inline.pull-left{
                display: none;
            }
            label{
                font-size: 12px;
            }
            .main-box-raisebug>div{
                margin: 5px 0;
            }
            .main-box-raisebug .form-control{
                height: 30px;
                padding: 4px 12px;
            }
            .main-box-raisebug hr{
                max-width: 100%;
                border-width: 2px;
                border-color: #EDEDED;
            }
        </style>

    <div class="se-pre-con"></div>
 
    <div class="secondry-color" style=" padding-top:1%;padding-bottom:2%"> 
        <center>
            <form onsubmit="return validateForm()" action="/addBug" method="post"  enctype="multipart/form-data" name="rbug" >

                 <input type="text" name="flagNotification" class="hide" id="flagNotification" value=2 />
            <input type="text" name="editNotification" class="hide" id="editNotification" value=0 />
            <input type="text" name="moduleType" class="hide" id="moduleType" value='bug' />

            
                <div class="row" style="width:95%;">
                    <div class="col-md-3" style="margin-bottom:20px;">
                        <center>
                            <div class="main-box-raisebug box-size">
                                <div class="row " >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div><b>Reported By</b></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <span class="label label-info"><b><%=user%></b></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                       <div ><label > Project :<sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <select onchange="Getalltech()"  class="form-control" name="project" id="proj" >
                                            <option value="0">-select-</option>
                                            <% for(var i=0;i<project.length;i++) { %>
                   <option value="<%=project[i].id %>" <%if(bugSetting[0]==project[i].id){%>selected<%}%> >
                                                    <%=project[i].projectTitle%>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <div ><label >Status :<sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <select  class="form-control" name="status" id="status">
                                            <option>New</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div ><label >Assinged To :<sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <select  class="form-control" name="assingedto" id="assingedto">
                                          <!--    <option value="0">-Select-</option> -->  
                                             <% for(var i=0;i<assingedto.length;i++) {  console.log(assingedto[i].id,"---------",bugSetting[1])  %>
                                                     <option value="<%=assingedto[i].id%>" <%if(assingedto[i].id==bugSetting[1]){%>selected <%}%> >
                                                    <%=assingedto[i].firstName %>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <div ><label >Priority :<sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <select  class="form-control" name="priority" id="priority">
                                            <% for(var i=0;i<priority.length;i++) { %>
                                                <option value="<%=priority[i].id %>" <%if(bugSetting[2]==priority[i].id){%>selected<%} else { if(priority[i].description1=="Medium" ){%>selected <%}}%>  >
                                                        <%=priority[i].description1%>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <div ><label >Severity :<sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <select  class="form-control" name="severity" id="severity">
                                            <% for(var i=0;i<severity.length;i++) { %>
                                                <option value="<%=severity[i].id %>"  <%if(bugSetting[3]==severity[i].id){%>  selected<%} else { if(severity[i].description1=="Medium" ){%>selected <%}}%>  >      <%=severity[i].description1%>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <div ><label >Technology : <sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <select  class="form-control" name="technology" id="technology"> 
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <div ><label >Type : <sup class="astrick">*</sup></label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <select  class="form-control" name="type" id="type">
                                            <% for(var i=0;i<type.length;i++) { %>
                                                <option value="<%=type[i].id %>" <%if(bugSetting[5]==type[i].id){%>selected<%}%>>
                                                    <%=type[i].description1%>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div> 
                                 <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <div ><label >Est. Effort :</label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <input type="text" class="form-control"name="estimatedEffort" placeholder="# Effort" maxlength="3">
                                    </div>
                                </div>

                                 <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <div ><label >Actual Effort :  </label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <input type="text" class="form-control" name="actualEffort" placeholder="# Effort" maxlength="3">
                                    </div>
                                </div>

                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <div ><label >Detected By :</label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <select  class="form-control" name="detectedBy" id="detectedBy">
                                           <option value="0">select</option> 
                                        </select>
                                    </div>
                                </div>


                                          <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <div ><label >Cycle :</label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  >
                                        <select  class="form-control" name="cycle" id="cycle">
                                          <option value="0">-select-</option>

                                            <% for(var i=0;i<cycle.length;i++) { %>
                                                <option value="<%=cycle[i].id %>" <%if(bugSetting[7]==cycle[i].id){%>selected<%}%>>
                                                    <%=cycle[i].description1%>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div>



                                <hr>
                                <div class="row "  >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div><label >Tentative Closure : </label></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" name="tentativeclouser" id="tentativeclouser" class="form-control"  placeholder="Select date ">
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div class="col-md-9"  >
                        <div>
                        <table style="width:100%">
                            <tr>
                                <td style="width:100px"><label  style="padding-top: 8%;">Title :<sup class="astrick">*</sup></label></td>
                                <td><input class="form-control" type="text" maxlength="75" name="titlebox" id="titlebox" style="width:100%" placeholder="Enter title/summary for new bug ... * "></td>
                            </tr>
                            <tr id="link-task">
                                <td><label  style="padding-top: 30%;">Linked Task :</label></td>
                                <td><select style="width:100%;margin-top:3%" class="form-control" name="linkTo" id="linkTo">
                             <option value="0">select</option>
                             </select></td>
                            </tr>
                        </table> 
                        </div>

                        <div class="border-boxs" style="width:100%;padding-top:3%">

                            <div style="width:100%">
                                <textarea name="description" id="description"  rows="10"></textarea>
                                 
                            </div>
                            <div class="col-md-12 height25"></div>
                            <!-- <div id="amit" style="height: 40px">
                                <form action="/file-upload" class="dropzone" id="my-awesome-dropzone"></form>
                            </div> -->

                            <div class="row " style="padding-top:20px;" >
                            <!-- <div class="col-md-2">
                                <i class="fa fa-file-image-o" aria-hidden="true" style="float: left"></i>
                                Attach Files <b>(limit :10 mb)</b>
                            </div> -->
                                <div>
                                    <div id="content">
                                    <input type="file" id="addBugUp1" name="addBugUpload1[]" class="upload" multiple/>
                                    <div class="jFiler-items jFiler-row" aa><ul class="jFiler-items-list jFiler-items-grid bb"></ul></div>
                                    </div>

                                  <input type = "text" id = "fileNameId" name = "fileNames"  class = "hide"></input>
                                   <input type = "text"  id = "fileContentId" name = "fileUrls" class = "hide"></input>
                                </div> 
                            </div>

            <!-- <canvas style="border:1px solid grey;margin-left: 645px;margin-top: -85px;background-color: white" name = "canvas_name" id="my_canvas2" width="200" height="100" ></canvas> 
            <canvas style="border:1px solid grey;margin-left: 645px;margin-top: -41px" name = "canvas_name2" id="my_canvas" width="200" height="100" class = "hide"></canvas> -->
                             
                        </div>
                    </div>
                </div>
            <div>
                <label><input type="checkbox" name="setting" id="setting" value="1"<%if(bugSetting[8]=='1'){%>checked="true"<%}%> />Remember Setting </label>
                <input type="submit" class="btn" name="submit" id="raise" value="Raise Bug"> 
            </div>
            </form>
        </center>
    </div>

<% include ../partials/footer%>


    

        <script>
/*$(function() {
    $( "#tentativeclouser" ).datepicker({ minDate: 0});
  });
  */


// var c = document.getElementById("my_canvas2");
// var ctx = c.getContext("2d");

// ctx.font = "15px Georgia";
// ctx.fillText("Press print screen", 40, 30);

// ctx.font = "20px Verdana";
// // Create gradient
// var gradient = ctx.createLinearGradient(0, 0, c.width, 0);
// gradient.addColorStop("0", "magenta");
// gradient.addColorStop("0.5", "blue");
// gradient.addColorStop("1.0", "red");
// // Fill with gradient
// ctx.fillStyle = gradient;
// ctx.fillText("Paste here-ctrl+v", 20, 60);

        function validateForm() {
            var titlebox = document.forms["rbug"]["titlebox"].value;
            var editorContent = tinyMCE.get('description').getContent();
          /*  var tentativeclouser = document.forms["rbug"]["tentativeclouser"].value;*/
            var tech = document.forms["rbug"]["technology"].value;
            var re = /^\d{1,2}\/\d{1,2}\/\d{4}$/;
           // console.log("dsssssssf" + tech);

            if (titlebox == null || titlebox == ""|| titlebox.trim().length<1) {
                alert("Please provide valid title!");
                return false;
            }
            
            if (editorContent == '')
            {
                alert("Please provide valid description!");
                return false;
            }

            if (!$( "#proj" ).val()) {
                alert("No project exists! Please create a project first!");
                return false;
            }
              if ($( "#proj" ).val()=="0") {
                alert("Please select a project first!");
                return false;
            }
            
            if ($("#assingedto").val() == "0") {
                alert("Select a user in Assigned to");
                return false;
            }    
            

            if ($("#technology").val() == "0") {
                alert("Select a Technology");
                return false;
            }      
            if($('.jFiler-item-title b').length){
                // var fileNames = $('.jFiler-item-title b').map( function(){return $(this).html(); }).get().join("amit");
                var fileUrls = $('.jFiler-item-thumb-image1 img').map( function(){return $(this).prop('src'); }).get().join("amit");
                console.log(fileUrls.length,'hh');
                // var tempArr = [];
                // fileNames.forEach(function(item,index){
                //     tempArr.push({name:item,url:fileUrls[index]});
                // });
                // $('#fileNameId').val(fileNames);
                $('#fileContentId').val(fileUrls);
            }    
            
            // var input, file;
            // input = document.getElementById('addBugUp');
            // if(input){
            // file = input.files[0];
            // var filename=$("#addBugUp").val();
            // var fileType=filename.split('.');
            // var fileType1=fileType[fileType.length-1];

            //  if(file.size>10485760){
            //      alert("Error:File limit is 10 mb");
            //      return false ;
            // }
            //         }
                    


            if(editorContent.length >12000){
                alert('Description length should not be more than 12000 characters');
                return false;
            }
                    

          
            // if(fileType1=='exe'||fileType1=='html'||fileType1=='ejs'){
            //     alert("Error:exe , html , ejs file cannot be uploaded!");
            //     return false;
            // }
                    

           
                  

  // appendImage();
        
          return true;
        }
     //   function appendImage(){
     //    if(!$("#my_canvas").length){
     //        return;
     //    }
     // var fileName = 'screenshot'+'_'+Date.now();
     // var dataURL = document.getElementById('my_canvas').toDataURL();
     //  $('#fileNameId').val(fileName);
     //  $('#fileContentId').val(dataURL);

     //  if(dataURL.length<2000){
     //      dataURL = null;
     //    $('#fileContentId').val(dataURL);
     //  }
     //  $("#my_canvas2").remove();
 

     //  }

    function deleteImg(elem){
        if(confirm("Are you sure you want to remove this file")){
            $(elem).closest('.jFiler-item').remove();
        }
    }; 


        $( document ).ready(function() {
            // console.log($('.main-box-raisebug'));
            $("#addBugUp1").filer({
        limit: null,
        maxSize: 1,
        extensions: ['jpg','jpeg','png','gif','pnm'],
        changeInput: '<div class="jFiler-input-dragDrop" style="width:100%;padding:10px"><div class="jFiler-input-inner"><div class="jFiler-input-icon"><i class="icon-jfi-cloud-up-o glyphicon glyphicon-open-file"></i></div><div class="jFiler-input-text"><h3>Drag&Drop files here</h3> <span style="display:inline-block">or</span></div><a class="jFiler-input-choose-btn blue">Browse Files</a></div></div>',
        showThumbs: true,
        theme: "dragdropbox",
        templates: {
            box: '<ul class="jFiler-items-list jFiler-items-grid"></ul>',
            item: '<li class="jFiler-item">\
                        <div class="jFiler-item-container">\
                            <div class="jFiler-item-inner">\
                                <div class="jFiler-item-thumb" style="width:150px;height:114px">\
                                    <div class="jFiler-item-status"></div>\
                                    <div class="jFiler-item-thumb-overlay">\
                                        <div class="jFiler-item-info">\
                                            <div style="display:table-cell;vertical-align: middle;">\
                                                <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name}}</b></span>\
                                                <span class="jFiler-item-others">{{fi-size2}}</span>\
                                            </div>\
                                        </div>\
                                    </div>\
                                    {{fi-image}}\
                                </div>\
                                <div class="jFiler-item-assets jFiler-row">\
                                    <ul class="list-inline pull-left">\
                                        <li>{{fi-progressBar}}</li>\
                                    </ul>\
                                    <ul class="list-inline pull-right">\
                                        <li><a class="icon-jfi-trash jFiler-item-trash-action glyphicon glyphicon-trash"></a></li>\
                                    </ul>\
                                </div>\
                            </div>\
                        </div>\
                    </li>',
            itemAppend: '<li class="jFiler-item">\
                            <div class="jFiler-item-container">\
                                <div class="jFiler-item-inner">\
                                    <div class="jFiler-item-thumb" style="width:150px;height:114px">\
                                        <div class="jFiler-item-status"></div>\
                                        <div class="jFiler-item-thumb-overlay">\
                                            <div class="jFiler-item-info">\
                                                <div style="display:table-cell;vertical-align: middle;">\
                                                    <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name}}</b></span>\
                                                    <span class="jFiler-item-others">{{fi-size2}}</span>\
                                                </div>\
                                            </div>\
                                        </div>\
                                        {{fi-image}}\
                                    </div>\
                                    <div class="jFiler-item-assets jFiler-row">\
                                        <ul class="list-inline pull-left">\
                                            <li><span class="jFiler-item-others">{{fi-icon}}</span></li>\
                                        </ul>\
                                        <ul class="list-inline pull-right">\
                                            <li><a class="icon-jfi-trash jFiler-item-trash-action glyphicon glyphicon-trash"></a></li>\
                                        </ul>\
                                    </div>\
                                </div>\
                            </div>\
                        </li>',
            progressBar: '<div class="bar"></div>',
            itemAppendToEnd: false,
            canvasImage: true,
            removeConfirmation: true,
            _selectors: {
                list: '.jFiler-items-list',
                item: '.jFiler-item',
                progressBar: '.bar',
                remove: '.jFiler-item-trash-action'
            }
        },
        dragDrop: {
            dragEnter: null,
            dragLeave: null,
            drop: null,
            dragContainer: null,
        },
        // uploadFile: {
        //     url: "/amit",
        //     // data: null,
        //     // type: 'POST',
        //     // enctype: 'multipart/form-data',
        //     // synchron: true,
        //     beforeSend: function(){ return false}
        //     // success: function(data, itemEl, listEl, boxEl, newInputEl, inputEl, id){
        //     //     var parent = itemEl.find(".jFiler-jProgressBar").parent(),
        //     //         new_file_name = JSON.parse(data),
        //     //         filerKit = inputEl.prop("jFiler");

        //     //     filerKit.files_list[id].name = new_file_name;

        //     //     itemEl.find(".jFiler-jProgressBar").fadeOut("slow", function(){
        //     //         $("<div class=\"jFiler-item-others text-success\"><i class=\"icon-jfi-check-circle\"></i> Success</div>").hide().appendTo(parent).fadeIn("slow");
        //     //     });
        //     // },
        //     // error: function(el){
        //     //     var parent = el.find(".jFiler-jProgressBar").parent();
        //     //     el.find(".jFiler-jProgressBar").fadeOut("slow", function(){
        //     //         $("<div class=\"jFiler-item-others text-error\"><i class=\"icon-jfi-minus-circle\"></i> Error</div>").hide().appendTo(parent).fadeIn("slow");
        //     //     });
        //     // },
        //     // statusCode: null,
        //     // onProgress: null,
        //     // onComplete: null
        // },
        files: null,
        addMore: true,
        allowDuplicates: true,
        clipBoardPaste: true,
        excludeName: null,
        beforeRender: null,
        afterRender: null,
        beforeShow: null,
        beforeSelect: null,
        onSelect: null,
        afterShow: null,
        // onRemove: function(itemEl, file, id, listEl, boxEl, newInputEl, inputEl){
        //     console.log('amit');
        //     var filerKit = inputEl.prop("jFiler")
        //         file_name = filerKit.files_list[id].name;

        //     $.post('./php/ajax_remove_file.php', {file: file_name});
        // },
        onEmpty: null,
        options: null,
        dialogs: {
            alert: function(text) {
                return alert(text);
            },
            confirm: function (text, callback) {
                confirm(text) ? callback() : null;
            }
        },
        captions: {
            button: "Choose Files",
            feedback: "Choose files To Upload",
            feedback2: "files were chosen",
            drop: "Drop file here to Upload",
            removeConfirmation: "Are you sure you want to remove this file?",
            errors: {
                filesLimit: "Only {{fi-limit}} files are allowed to be uploaded.",
                filesType: "Only Images are allowed to be uploaded.",
                filesSize: "{{fi-name}} is too large! Please upload file up to {{fi-maxSize}} MB.",
                filesSizeAll: "Files you've choosed are too large! Please upload files up to {{fi-maxSize}} MB."
            }
        }
    });
    document.addEventListener('paste', function(e){
        if (e.clipboardData) {
            var items = e.clipboardData.items;
            if (items) {
                for (var i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf("image") !== -1) {
                        var file = items[i].getAsFile();
                        reader = new FileReader();
                        reader.onload = function(evt) {

                            $('.jFiler-items-list.bb').append('<li class="jFiler-item">\
                        <div class="jFiler-item-container">\
                            <div class="jFiler-item-inner">\
                                <div class="jFiler-item-thumb" style="width:150px;height:114px">\
                                    <div class="jFiler-item-status"></div>\
                                    <div class="jFiler-item-thumb-overlay">\
                                        <div class="jFiler-item-info">\
                                            <div style="display:table-cell;vertical-align: middle;">\
                                            </div>\
                                        </div>\
                                    </div>\
                                    <div class="jFiler-item-thumb-image jFiler-item-thumb-image1"><img src="'+evt.target.result+'" draggable="false"></div>\
                                </div>\
                                <div class="jFiler-item-assets jFiler-row">\
                                    <ul class="list-inline pull-left">\
                                        <li>{{fi-progressBar}}</li>\
                                    </ul>\
                                    <ul class="list-inline pull-right">\
                                        <li><a class="icon-jfi-trash jFiler-item-trash-action glyphicon glyphicon-trash" onclick="deleteImg(this)"></a></li>\
                                    </ul>\
                                </div>\
                            </div>\
                        </div>\
                    </li>');
                          // $("#qqq").attr("src",evt.target.result);
                        };
                        reader.readAsDataURL(file);
                    }
                }
                e.preventDefault();
            }
        }
    });
            $('.se-pre-con').fadeOut('slow');

             $('.raisebug-img').addClass('active');
             var todate=new Date();
            $("#tentativeclouser").datetimepicker({
                 timepicker: false,
                format: 'm/d/y',
                 minDate:todate
            });
            Getalltech();

// $("#addBugUp").change(function(){
//         $("#my_canvas").remove();
//         $("#my_canvas2").remove();
//     });

        });


  /*      $(function() {
        //    $("#startdate").datepicker();
            $("#tentativeclouser").datetimepicker();
        });*/
             
        tinymce.init({ menubar:false,
            selector: '#description',
        });

        function Getalltech(){
            var projId=$('#proj').val();
            $.ajax({
                url:'/getAlltech',
                data:{'projectId':projId},
                method: 'POST',
                success: function(data) {
                    if(data.length != 0){  


                        //data=data[0];
                        console.log(data)  ;
                        $('#pStartDate').val(data[2].plannedStartDate);
                        $('#pEndDate').val(data[2].plannedEndDate);
                        $('#pEndDate').val();
                        $('#technology').html('<option value=0>-Select-</option>');
                        $('#assingedto').html('<option value=0>-Select-</option>');
                        $('#detectedBy').html('<option value=0>-Select-</option>');

                       //  $('#technology').append($("<option value=0>-Select-</option>");
                      //  $('#assingedto').append($("<option value=0>-Select-</option>"); 
                        var techs=false; 
                        for(var i =0;i<data[0].length;i++){   
                            if(data[0][i].id=='<%=bugSetting[4]%>'){
                                    techs=true; 
                                }
                                else{
                                    techs=false;
                                }
                            $('#technology')
                            .append($("<option></option>")
                            .attr("value",data[0][i].id).attr("selected",techs)             
                            .text(data[0][i].description1));
                                     
                        }
                        var asto=false; 
                        for(var i =0;i<data[1].length;i++){   
                             if(data[1][i].userId=='<%=bugSetting[1]%>'){
                                    asto=true; 
                                }
                                else{
                                    asto=false;
                                }                         
                            $('#assingedto')
                            .append($("<option></option>")
                            .attr("value",data[1][i].userId).attr("selected",asto)             
                            .text(data[1][i].firstName));   
                        }
                         var dets=false; 
                        for(var i =0;i<data[1].length;i++){   
                            if(data[1][i].userId=='<%=bugSetting[6]%>'){
                                    dets=true; 
                                } 
                                else{
                                    dets=false;
                                }
                            $('#detectedBy')
                            .append($("<option></option>")
                            .attr("value",data[1][i].userId).attr("selected",dets)             
                            .text(data[1][i].firstName));   
                        } 
                        if(data[4][0].role ==3)
                        {
                            $("#link-task").addClass('hide');
                            return;
                        }
                        $("#linkTo").html('');

                       // <option value="0">select</option>';
$('#linkTo').append($("<option></option>").attr("value",0)//.attr("selected",dets)       
                            .text('Select task'));   

                        for(var i =0;i<data[3].length;i++){    
                            $('#linkTo')
                            .append($("<option></option>")
                            .attr("value",data[3][i].id)//.attr("selected",dets)             
                            .text(data[3][i].name));   
                        }
                    }
                },
                dataType: 'JSON'
            });
        }



//   var CLIPBOARD = new CLIPBOARD_CLASS("my_canvas", true);
//      var CLIPBOARD2  = new CLIPBOARD_CLASS("my_canvas2", true);
// function CLIPBOARD_CLASS(canvas_id, autoresize) {
// var _self = this;
// var canvas = document.getElementById(canvas_id);
// var ctx = document.getElementById(canvas_id).getContext("2d");
// var ctrl_pressed = false;
// var command_pressed = false;
// var reading_dom = false;
// var text_top = 15;
// var pasteCatcher;
// var paste_mode;

// //handlers
// document.addEventListener('keydown', function (e) {
//     _self.on_keyboard_action(e);
// }, false); //firefox fix
// document.addEventListener('keyup', function (e) {
//     _self.on_keyboardup_action(e);
// }, false); //firefox fix
// document.addEventListener('paste', function (e) {
//     _self.paste_auto(e);
//     $("#addBugUp").remove();
// }, false); //official paste handler

// //constructor - prepare
// this.init = function () {
//     //if using auto
//     if (window.Clipboard)
//         return true;

//     pasteCatcher = document.createElement("div");
//     pasteCatcher.setAttribute("id", "paste_ff");
//     pasteCatcher.setAttribute("contenteditable", "");
//     pasteCatcher.style.cssText = 'opacity:0;position:fixed;top:0px;left:0px;';
//     pasteCatcher.style.marginLeft = "-20px";
//     pasteCatcher.style.width = "10px";
//     document.body.appendChild(pasteCatcher);
    
//     // create an observer instance
//     var observer = new MutationObserver(function(mutations) {
//         mutations.forEach(function(mutation) {
//             if (paste_mode == 'auto' || ctrl_pressed == false || mutation.type != 'childList')
//                 return true;

//             //if paste handle failed - capture pasted object manually
//             if(mutation.addedNodes.length == 1) {
//                 if (mutation.addedNodes[0].src != undefined) {
//                     //image
//                     _self.paste_createImage(mutation.addedNodes[0].src);
//                 }
//                 //register cleanup after some time.
//                 setTimeout(function () {
//                     pasteCatcher.innerHTML = '';
//                 }, 20);
//             }
//         });
//     });
//     var target = document.getElementById('paste_ff');
//     var config = { attributes: true, childList: true, characterData: true };
//     observer.observe(target, config);
// }();
// //default paste action
// this.paste_auto = function (e) {
//     paste_mode = '';
//     pasteCatcher.innerHTML = '';
//     var plain_text_used = false;
//     if (e.clipboardData) {
//         var items = e.clipboardData.items;
//         if (items) {
//             paste_mode = 'auto';
//             //access data directly
//             for (var i = 0; i < items.length; i++) {
//                 if (items[i].type.indexOf("image") !== -1) {
//                     //image
//                     var blob = items[i].getAsFile();
//                     var URLObj = window.URL || window.webkitURL;
//                     var source = URLObj.createObjectURL(blob);
//                     this.paste_createImage(source);
//                 }
//             }
//             e.preventDefault();
//         }
//         else {
//             //wait for DOMSubtreeModified event
//             //https://bugzilla.mozilla.org/show_bug.cgi?id=891247
//         }
//     }
// };
// //on keyboard press
// this.on_keyboard_action = function (event) {
//     k = event.keyCode;
//     //ctrl
//     if (k == 17 || event.metaKey || event.ctrlKey) {
//         if (ctrl_pressed == false)
//             ctrl_pressed = true;
//     }
//     //v
//     if (k == 86) {
//         if (document.activeElement != undefined && document.activeElement.type == 'text') {
//             //let user paste into some input
//             return false;
//         }
        
//         if (ctrl_pressed == true && !window.Clipboard)
//             pasteCatcher.focus();
//     }
// };
// //on kaybord release
// this.on_keyboardup_action = function (event) {
//     //ctrl
//     if (event.ctrlKey == false && ctrl_pressed == true) {
//         ctrl_pressed = false;
//     }
//     //command
//     else if(event.metaKey == false && command_pressed == true){
//         command_pressed = false;
//         ctrl_pressed = false;
//     }
// };
// //draw image
// this.paste_createImage = function (source) {
//     var pastedImage = new Image();
//     pastedImage.onload = function () {
//         var idCanvas =   ctx.canvas.id ;
//          var canvas   = ctx.canvas;
//         if(autoresize == true && idCanvas=='my_canvas'){
//             //resize
//             canvas.width = pastedImage.width;
//             canvas.height = pastedImage.height;
//              ctx.drawImage(pastedImage, 0, 0);
           
//         }
//         else if(autoresize == true && idCanvas=='my_canvas2')
//         {
           
//              var canvas = ctx.canvas ;
//             var hRatio = canvas.width / pastedImage.width;
//             var vRatio = canvas.height / pastedImage.height;
//             var ratio  = Math.min ( hRatio, vRatio );
//             var centerShift_x = ( canvas.width - pastedImage.width*ratio ) / 2;
//             var centerShift_y = ( canvas.height - pastedImage.height*ratio ) / 2;
//             ctx.drawImage(pastedImage, 0,0, pastedImage.width, pastedImage.height,centerShift_x,centerShift_y,pastedImage.width*ratio, pastedImage.height*ratio);  
           
//         }
//         else{
//             //clear canvas
//             ctx.clearRect(0, 0, canvas.width, canvas.height);
//         }
//         //ctx.drawImage(pastedImage, 0, 0);
//     };
//     pastedImage.src = source;
// };
// }



        </script>
<!-- <script src="/js/dropzone.js"></script> -->
<script src="/js/jquery.filer.min.js"></script>
        </body>
        </html>

