   <!DOCTYPE html>
<html lang="en">
<head>

   
    <link href="https://cdn.datatables.net/colreorder/1.3.2/css/colReorder.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>

  <title>All Bug</title>
    <% include ../partials/head %>

  <% include header %>
       <% include ../partials/adminheader %>
       
       

  <style>
  .selectedBug{
    border: 2px solid green;

  } 
#grp-btn{
  padding: 2px 5px;
  background:#f05f40 !important;
}
#grp-btn:hover{
  background:#f05f40 !important;
}
.modified-date-hidden{
  display: none;
}

td.child{
  display: table-cell;
}
.submit-with-icon {
  background: transparent;
    border: 0px;
    padding: 0;
    outline: 0;
}
#bugDetails td{
  text-align: center;
}



  #headMenu{
    float: right
  }

    #resizable 
    {
      min-width:100%;max-width:100% ;
      }
 
      .slidingpanel span
      {
      font-size: 10px;
      font-weight: 100;
      }

      #commentd {
          border-radius: 3px;
      }
      #commentd:hover {
          color: white;
      }
      .ms-drop ul
      {
        max-height: 120px !important;
      }
     
      .ms-drop{
        margin-left: -14px;
        width: 121%;
      }
    
      .ms-choice{
        margin-left: -14px;
            width: 88px;
            margin-top: 2px;
            height: 21px;

  

      }
      .ms-choice > div{
          margin-top: 1px;
    right: 0px;
      }
      .ms-choice > span {
    position: relative;}
    sup{
      color: white;
       width: 40px;
       height: 40px;
       background: #2A9228; 
       -moz-border-radius: 20px; 
       -webkit-border-radius: 20px; 
       border-radius: 20px;
       margin-left: 5px;
        padding: 3px;
    } 

    .btn btn-danger, .multiselect dropdown-toggle btn btn-link >button-group {
      margin-left-10px;
 padding: 16px;
    font-size: 14px;
    border: none;
}

.button-group{
  width:20px;
  float :left;
    margin-right:90px;
    margin-top:0.5px;
    border-radius:none;
  
}

.dt-button-collection a.buttons-columnVisibility:before,
.dt-button-collection a.buttons-columnVisibility.active span:before {
    display:block;
    position:absolute;
    top:1.2em;
    left:0;
    width:12px;
    height:12px;
    box-sizing:border-box;
}

.dt-button-collection a.buttons-columnVisibility:before {
    content:' ';
    margin-top:-6px;
    margin-left:10px;
    border:1px solid black;
    border-radius:3px;
}

.dt-button-collection a.buttons-columnVisibility.active span:before {
    content:'\2714';
    margin-top:-11px;
    margin-left:12px;
    text-align:center;
    text-shadow:1px 1px #DDD, -1px -1px #DDD, 1px -1px #DDD, -1px 1px #DDD;
}

.dt-button-collection a.buttons-columnVisibility span {
    margin-left:20px;    
}
.Editor-container .btn.btn-default{
    border-radius: 0px !important
}
.Editor-container .btn.btn-default:hover{
    background: #f53f1a;
}
.Editor-container .open>.dropdown-toggle.btn-default {
    background-color: #f53f1a;
    color: white;
}
.Editor-editor {
    height: 150px;
    background: white;
}
.tab-content .active{
  background-color: transparent;
}
  </style>

</head>


<br/>


<div class="container" style="margin:0">

</div>

<script>

$('ul.dropdown-menu li a').on('click', function (event) {
    $('.button-group').addClass('open');
});

 $('a.toggle-vis').on( 'click', function (e) {
      
 
       
        var column = otable.column( $(this).attr('data-column') );
 
       
        column.visible( ! column.visible() );
    } );
window.onload = function() {
  setTimeout(function(){
    $('input[value="in"]').attr("checked","checked")
  
  },500);
    $("#advanceSearch select,#advanceSearch input[type='radio'],#advanceSearch input[name='createdate'],#advanceSearch input[name='closedate']").change(function(){
       otable.ajax.reload();
     });

    $('#advanceSearch input[type="text"]').on('input',function(){
      otable.ajax.reload();
    });
};

 function filteron(){
    otable.ajax.reload();
  }
</script>




 <div class="row" style="padding:2%;padding-top:5px;padding-bottom:0px">
  
  
<div style="overflow-x:auto; width:100%">
<form action="/filterBug" onsubmit="return checkedBox()" method="post" class="checkl" id="myfilterform" >

<div align="center">





</div>
<div class="row"> 

 
      <div class="col-lg-12" align="center">
      <div style="display:inline;position:relative">
     
 <a href="javascript:showhide('advanceSearch')" > Advanced Search 
</a>

</div> 
</div>
</div>

        
   
      <input class="hide" id="allSelected" name="showSelect">
            <table id="data_table" class=" responsive nowrap table-striped table-bordered"   cellspacing="0" width="100%" style="ALIGN-CONTENT: CENTER;">
                <thead>
                <tr>

                    <th>S.No. </th>
                    
                   <th>Bug ID</th>
                    <th id='column-header-1' >Title<div id='column-header-1-sizer'></div></th>
                    <th id='column-header-2' >Project<div id='column-header-2-sizer'></div></th>
                    <th id='column-header-3' >Status<div id='column-header-3-sizer'></div></th>
                    <th id='column-header-4' >Priority<div id='column-header-4-sizer'></div></th>
                    <th id='column-header-5' >Severity<div id='column-header-5-sizer'></div></th>
                    <th id='column-header-6' >Technology<div id='column-header-6-sizer'></div></th>
                    <th id='column-header-7' >Esti. Effort<div id='column-header-7-sizer'></div></th>
                    <th id='column-header-8' >Actual Effort<div id='column-header-8-sizer'></div></th>
                    <th id='column-header-9' >Assinged To<div id='column-header-9-sizer'></div></th>
                    <th id='column-header-10' >Created Date<div id='column-header-10-sizer'></div></th>
                    <th id='column-header-11' >Closure Date<div id='column-header-11-sizer'></div></th>
              </tr>
                 
                  
                  <tr id="advanceSearch" class = "hide">
                 
                   <td> </td>
                  
                    <td>
                     
            
                    <input type="text" name="bugId" style="border:none;width: 77px;color: black;margin-left: -11px;height: 18px;margin-top: 23px;"></td>
                    <td>
                    
                    <input type="text" name="title" style="border:none;width: 77px;color: black;margin-left: -11px;height: 18px;margin-top: 23px;"></td>
                    <td>
                    <div  id="project" style="margin-left: -3px;" >
              <input type="radio" name="projectis" checked="true" value="in" id="prois">Is <input type="radio" name="projectis" value="not in" id="proisnot">Is Not
            </div>
                    <select style="color: black" id="projects1" multiple="multiple" name="project"><% for(var i=0;i<project.length;i++) { %>
                    <option value="<%=project[i].id%>"><%=project[i].projectTitle%></option>
                    <%}%></select>
                      
                    </td>
                    <td>
                      <div id="status" style="margin-left: -3px;"> 
              <input type="radio" name="statusis" checked="true" value="in" id="statusis">Is
              <input type="radio" name="statusis" value="not in" id="statusisnot">Is Not
            </div>
                    <select style="color: black" id="status1" multiple="multiple" name="status">
                      <% for(var i=0;i<status.length;i++) { %>
                      <option value="<%=status[i].id%>"><%=status[i].description1%></option>
                      <%}%>
                        </select>
                       
                    </td>
                    <td>
                    <div id="priority" style="margin-left: -3px;">
              <input type="radio" name="priorityis" checked="true" value="in" id="priois">Is<input type="radio" name="priorityis" value="not in" id="proisnot">Is Not
            </div>
                    <select style="color: black" id="priority1" multiple="multiple" name="priority"><% for(var i=0;i<priority.length;i++) { %>
                    <option value="<%=priority[i].id %>"><%=priority[i].description1%></option>
                     <%}%>
                    </select>
                    
                    </td>
                    <td>
                    <div id="severity" style="margin-left: -3px;">
              <input type="radio" name="severityis" checked="true" value="in" id="sevis">Is<input type="radio" name="severityis" value="not in" id="sevisnot">Is Not
            </div>
                    <select style="color: black" id="severity1" multiple="multiple" name="severity"><% for(var i=0;i<severity.length;i++) { %>
                     <option value="<%=severity[i].id %>" ><%=severity[i].description1%></option>
                    <%}%>
                    </select>
                    
                    </td>
                    <td>
                    <div id="technology" style="margin-left: -3px;">
              <input type="radio" name="technologyis" checked="true" value="in" id="techis">Is <input type="radio" name="technologyis" value="not in" id="techisnot">Is Not
            </div>
                    <select style="color: black" id="technology1" multiple="multiple" name="technology"><% for(var i=0;i<technology.length;i++) { %>
                    <option value="<%=technology[i].id %>" ><%=technology[i].description1%></option>
                    <%}%>
                    </select>
                    
                    </td>
                     
                    <td>
                     
                    <input type="text" style="border:none;width: 77px;color: black;height: 18px;margin-top: 23px"  name="esteffort"></td>
                    <td>
                     
                    <input type="text" style="border:none;width: 77px;color: black;height: 18px;margin-top: 23px" name="acteffort"></td>
                    <td>
                     <div id="assingedto" style="margin-left: -3px;">
              <input type="radio" name="assingedtois" checked="true" value="in" id="assis">Is<input type="radio" name="assingedtois" value="not in" id="assisnot">Is Not
           </div>
                    <select style="border:none;width: 77px;color: black" id="assigned1" multiple="multiple" name="assingedto">
                       <%for(var i=0;i<allusers.length;i++) {%>
                    <option  value="<%=allusers[i].userId%>" ><%=allusers[i].Name%></option>
                    <%}%>
                    </select>
                   
                    </td>
                    <td>
                    <input type="text" style="border:none;width: 77px;color: black;margin-top: 23px;" id="createdDate" name="createdate"></td>
                    <td>
                    <input type="text" style="border:none;width: 77px;color: black;margin-top: 23px;" id="closureDate" name="closedate"></td>

                </tr>
                  
                </thead>  
                <tbody id="bugDetails">
              
                </tbody>
            </table>
            </form>
            </div>
        </div>
    

    <div class="row secondry-color" style="width:98%;margin-left:1%;padding-top:5px;padding-bottom:1%;">
      <div class="col-md-12" style=" height:auto;width:100%;padding-right:0px;padding-left:0px" >
        <ul class="nav nav-tabs" style="background-color:none;font-size:13px">
          <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
          <li><a data-toggle="tab" href="#menu1">Overview</a></li>
          <li><a data-toggle="tab" href="#menu2">Comment<sup id="commCount"></sup></a></li>
          <li><a data-toggle="tab" href="#menu3">Attachment<sup id="attCount"></sup></a></li> 
        </ul>
        <div class="tab-content">
          
          <input type="hidden" name="bugidhidden" id="bugidhidden" value=""/>
          <div id="home" class="tab-pane fade in active">  
          <div class="row" style="padding: 10px 5px">
            <div class="col-lg-3 col-md-3 col-sm-3" style="padding-top: 7px;">
                <span style ="color:#f05f40;">Title: </span>
                <span id="title"></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3" style="padding-top: 7px;">
              <span style ="color:#f05f40;"> Raised By: </span>
              <span id="Raised_name"><span id="asdf"></span></span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" id="tr-linkto">
              <div class="col-lg-3 col-md-3 col-sm-3" style="color:#f05f40;padding-top: 7px;">Linked Task :</div>
              <div class="col-lg-9 col-md-9 col-sm-9">
                <select class="form-control" id="linkedTo" name="linkedTo">
                    <option value="0">Select task</option>>
            <% for(var i=0;i<linkTo.length;i++) { %>
                    <option value="<%=linkTo[i].id %>"><%=linkTo[i].name%></option>
                <%}%>
                </select>
              </div>
            </div>
         

        <input type="text" name="bugDescription" id="bugDescription" class="hide">
        <textarea maxlength="12000" id='description' class='form-control'></textarea>
        <div class="col-sm-12 text-center"><span class="error" id="errorBugDesc"></span><span class="success" id="successBugDesc"></span></div>
          <div style="text-align: center;">
            <button type="button" class="btn btn-primary " onclick="return updatebugdescription()">Update</button>
          </div>
          </div>
      
          <div id="menu1" class="tab-pane fade">
            <div id="overview" class="row" style="padding: 10px 5px"></div>
          </div>
          <div id="menu2" class="tab-pane fade">
          <div>
            <textarea maxlength="200" name='commenttext' style="margin-top:10px;resize:none" id='commenttext' class='form-control' rows=4 placeholder='Write your comment here ...'></textarea>
            <input type='button' class="btn" value='Add Comment' id="commentd" style='margin: 10px 0;' onclick='addcomment()'>
            <div id="comment" style="overflow-y:auto;max-height:145px !important"></div>
          </div>
          <div class="col-sm-12 text-center"><span class="error" id="errorCommenttext"></span><span class="success" id="successCommenttext"></span></div>
          </div>
          <div id="menu3" class="tab-pane fade">
            <div class="" style="margin-top:20px;margin-bottom:50px">
              <label class="" style="font-size:14px;color:#f05f40;margin-left:1.5%;">Upload File </label>
                <form  id="form123" method="post" style="margin-left:1%;" enctype="multipart/form-data" name="comment">
                  <input type="file" id="fupUploadSheet" name="addBugAttachment" class="upload" onchange="UploadSheet()"/>
                  (Max. Size:2Mb)
                  
              </form> 

            </div>
              <div id="attachment"><p></p></div>          
          </div>
 
        </div>
      </div>
    </div>
    </div>    

  <%include ../partials/footer.ejs%>

 <script src="https://cdn.datatables.net/colreorder/1.3.2/js/dataTables.colReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script> 
 <script> 


        $('body').on('focus',".select-vbug11", function(){
 
 
 $(this).datetimepicker({
                 timepicker: false,
                format: 'm/d/y',
               
            });});

      function BugFilter()
      {

      }
          
function checkedBox(){
var array = [];
var radio=[];
    $('.checkl  option:selected').each(function() {
        array.push($(this).attr("id"));
    });
    $('.checkl  :radio:checked').each(function() {
       radio.push($(this).attr("id")); 
    });
    array.push.apply(array,radio); 
      $("#allSelected").val(array); 
  return true;

}

  $(document).ready(function(){ 
// $("#fusiontxtEditor").Editor();
$('#hideColumnsId').tagger({
        "fieldWidth":"20em", 
        displayHierarchy: false
      , indentMultiplier: 2, baseURL: './img/'
       , placeholder: 'Select Columns to Hide',

      });


   $('#projects1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                }); 

   $('#status1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                }); 
   $('#priority1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                }); 
   
    
    $('#severity1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                }); 
   
    $('#technology1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                }); 
                  
    $('#assigned1').change(function() { 
                 }).multipleSelect({
                     width: '100%'
                }); 
             jQuery('#createdDate').datetimepicker({
                            timepicker: false,
                            format: 'd/m/Y'
                        });
               jQuery('#closureDate').datetimepicker({
                            timepicker: false,
                            format: 'd/m/Y'
                        });
                      $(function() {
  var thHeight = $("table#data_table th:first").height();
  $("table#data_table th").resizable({
      handles: "e",
      minHeight: thHeight,
      maxHeight: thHeight,
      minWidth: 40,
      resize: function (event, ui) {
        var sizerID = "#" + $(event.target).attr("id") + "-sizer";
        $(sizerID).width(ui.size.width);
      }
  });
});
   otable = $("#data_table").DataTable({
                "ajax": {
                    url: '/filterBug',
                    type: "POST",
                    "data": function ( d ) {
                          d.bugId = $("input[name='bugId']").val();
                          d.priority = $("select[name='priority']").val() ? $("select[name='priority']").val().toString() :'';
                          d.severity = $("select[name='severity']").val() ? $("select[name='severity']").val().toString() :'';
                          d.assingedto = $("select[name='assingedto']").val() ? $("select[name='assingedto']").val().toString() :'';
                          d.technology = $("select[name='technology']").val() ? $("select[name='technology']").val().toString() :'';
                          d.project = $("select[name='project']").val() ? $("select[name='project']").val().toString() :'';
                          d.title = $("input[name='title']").val();
                          d.esteffort = $("input[name='esteffort']").val();
                          d.acteffort = $("input[name='acteffort']").val();
                          d.createdate = $("input[name='createdate']").val();
                          d.closedate = $("input[name='closedate']").val();
                          d.status = $("select[name='status']").val() ? $("select[name='status']").val().toString() :'';
                          d.statusis = $("input[name='statusis']:checked").val();
                          d.priorityis = $("input[name='priorityis']:checked").val();
                          d.severityis = $("input[name='severityis']:checked").val();
                          d.assingedtois = $("input[name='assingedtois']:checked").val();
                          d.technologyis = $("input[name='technologyis']:checked").val();
                          d.projectis = $("input[name='projectis']:checked").val();
                      }
                },
                "columns": [
                { "data": "Sno" },
                { "data": "id" },
                { "data": "bugTitle" },
                { "data": "projectTitle"},
                { "data": "status" },
                { "data": "priority" },
                { "data": "severity" },
                { "data": "technology"},
                { "data": "estimatedEffort" },
                { "data": "actualEffort" },
                { "data": "assingedToUserId" },
                { "data": "startdate"},
                { "data": "enddate" },
                ],
             
                "info":false,
                "aaSorting":[],
                "autoWidth": true,
                "bSortCellsTop":true,
                responsive: true,
                dom: 'Bfrtip',
                colReorder: true,
                buttons: [
                    'colvis'
                ],
                "lengthMenu":[[5,10,20,-1],[5,10,20,"All"]],
                "processing": true,
                "serverSide": true,
              
                "fnDrawCallback": function (oSettings) {
                    $("#bugDetails tr").click(function() {
                        $('#bugDetails tr').css({"background-color":"white"});
                        $(this).css({"background-color":"#c5c5c5"});
                        var serial_number = $(this).children("td").first().text();
                        var bug_id = $(this).find("td").eq(1).text();
                      
                        showdetails(bug_id,serial_number -1);
                    });
                    $('.next').removeClass("disabled");
                    $(".next").click(function() {
                      $('.paginate_button.current').next().click();
                    });
                    $('tbody tr:first-child').click();
                    
                },
                "columnDefs": [  
                    {
                        "orderable": false,
                        "targets": 0
                    },
                    {
                      "targets": 2,
                      "width": "50px",
                      "render": function(data,type,row){
                          var current_index = row.Sno - 1;
                          return '<input type="hidden" id="hiddentitle'+current_index+'" onchange="updatebugdetails('+row.id+',this,'+"'bugTitle'"+')" value="'+data+'">'+
                                '<input type="text" id="bugtitle'+current_index+'" style="width:100%;background-color:none;border:none" maxlength="75" onchange=" updatebugdetails('+row.id+',this,'+"'bugTitle',"+current_index+')" value="'+data+'">';
                      }
                    },
                    {
                      "targets": 4,
                      "render": function(data,type,row){
                       
                        if((<%-JSON.stringify(roleid)%> || '')==3)
                        {
                          $("#tr-linkto").addClass('hide');
                        }

                          var current_index = row.Sno - 1;
                          var tempStatus = <%-JSON.stringify(status)%>;
                        
                          var tempOptions='';
                          for(var i=0;i<tempStatus.length;i++) {
                            if(tempStatus[i].description1 != 'Close'){
                              if(data== tempStatus[i].id){
                                tempOptions = tempOptions +'<option value="'+tempStatus[i].id+'" selected>'+tempStatus[i].description1+'</option>';
                              }
                              else{
                                tempOptions = tempOptions +'<option value="'+tempStatus[i].id+'">'+tempStatus[i].description1+'</option>';
                              }
                                
                            }
                            else{

                              var tempUserid = <%-JSON.stringify(userid)%> || '' ;
                              var tempRoleid = <%-JSON.stringify(roleid)%> || '' ;
                            
                              if(tempStatus[i].description1 == 'Close' && (  row.createdBy ==tempUserid || tempRoleid==1)){

                              
                                if(data == tempStatus[i].id){
                                  tempOptions = tempOptions +'<option value="'+tempStatus[i].id+'" selected>'+tempStatus[i].description1+'</option>';
                                }
                                else
                                {
                                 tempOptions = tempOptions +'<option value="'+tempStatus[i].id+'" >'+tempStatus[i].description1+'</option>'; 
                                }
                              }
                              else{
                                if(tempStatus[i].description1 == 'Close'){
                                  if(data == tempStatus[i].id){
                                    tempOptions = tempOptions +'<option disabled value="'+tempStatus[i].id+'" selected>'+tempStatus[i].description1+'</option>';
                                  }
                                  else{
                                    tempOptions = tempOptions +'<option disabled value="'+tempStatus[i].id+'">'+tempStatus[i].description1+'</option>';
                                  }
                                }
                              }
                              
                            }
                          }

                          return '<select class="select-vbug" onchange="updatebugdetails('+row.id+',this,'+"'status'"+')">'+tempOptions+
                          
                        '</select>';
                      }
                    },
                    {
                      "targets": 5,
                      "render": function(data,type,row){
                          var current_index = row.Sno - 1;
                          var tempPriorities = <%-JSON.stringify(priority)%>;
                          var tempOptions='';
                          for(var i=0;i<tempPriorities.length;i++) {
                            if(data == tempPriorities[i].id){
                                tempOptions = tempOptions +'<option value="'+tempPriorities[i].id+'" selected>'+tempPriorities[i].description1+'</option>';
                            }
                            else{
                                tempOptions = tempOptions +'<option value="'+tempPriorities[i].id+'">'+tempPriorities[i].description1+'</option>';                        
                            }
                          }

                          return '<select class="select-vbug" onchange="updatebugdetails('+row.id+',this,'+"'priority'"+')">'+tempOptions+
                          
                        '</select>';
                      }
                    },
                    {
                      "targets": 6,
                      "render": function(data,type,row){
                          var current_index = row.Sno - 1;
                          var tempSeverities = <%-JSON.stringify(severity)%>;
                          var tempOptions='';
                          for(var i=0;i<tempSeverities.length;i++) {
                            if(data == tempSeverities[i].id){
                                tempOptions = tempOptions +'<option value="'+tempSeverities[i].id+'" selected>'+tempSeverities[i].description1+'</option>';
                            }
                            else{
                                tempOptions = tempOptions +'<option value="'+tempSeverities[i].id+'">'+tempSeverities[i].description1+'</option>';                        
                            }
                          }

                          return '<select class="select-vbug" onchange="updatebugdetails('+row.id+',this,'+"'severity'"+')">'+tempOptions+
                          
                        '</select>';
                      }
                    },
                    {
                      "targets": 7,
                      "render": function(data,type,row){
                          var current_index = row.Sno - 1;
                          var tempTechnologies = <%-JSON.stringify(technology)%>;
                          var tempOptions='';
                          for(var i=0;i<tempTechnologies.length;i++) {
                            if(data == tempTechnologies[i].id){
                                tempOptions = tempOptions +'<option value="'+tempTechnologies[i].id+'" selected>'+tempTechnologies[i].description1+'</option>';
                            }
                            else{
                                tempOptions = tempOptions +'<option value="'+tempTechnologies[i].id+'">'+tempTechnologies[i].description1+'</option>';                        
                            }
                          }

                          return '<select class="select-vbug" onchange="updatebugdetails('+row.id+',this,'+"'technology'"+')">'+tempOptions+
                          
                        '</select>';
                      }
                    },
                    {
                      "targets": 8,
                      "render": function(data,type,row){
                          var current_index = row.Sno - 1;

                          return '<input class=""  id="estimatedEffort'+current_index+'" onblur="updatebugdetails('+row.id+',this,'+"'estimatedEffort'"+',this.id,'+"'"+row.enddate+"'"+')" value="'+data+'" style="border:none;max-width: 70px;"  >';
                      }
                    },
                    {
                      "targets": 9,
                      "render": function(data,type,row){
                          var current_index = row.Sno - 1;

                          return '<input class=""  id="actualEffort'+current_index+'" onblur="updatebugdetails('+row.id+',this,'+"'actualEffort'"+',this.id,'+row.enddate+')" value="'+data+'" style="border:none;max-width: 70px;"  >';
                      }
                    },
                    {
                      "targets": 10,
                      "render": function(data,type,row){
                          var current_index = row.Sno - 1;
                          var tempAssingedto = <%-JSON.stringify(assingedto)%>;
                          var tempOptions='';
                          for(var i=0;i<tempAssingedto.length;i++) {
                            if(tempAssingedto[i].projectId==row.projectId){
                              if(data==tempAssingedto[i].userId){
                                tempOptions = tempOptions +'<option value="'+tempAssingedto[i].userId+'" selected>'+tempAssingedto[i].name+'</option>';
                              }
                              else{
                                tempOptions = tempOptions +'<option value="'+tempAssingedto[i].userId+'">'+tempAssingedto[i].name+'</option>';
                              }
                                
                            }
                          }

                          return '<select style="width:70%" class="select-vbug" onchange="updatebugdetails('+row.id+',this,'+"'assingedToUserId'"+')">'+tempOptions+'</select>';
                        }
                    },
                    {
                      "targets": 12,
                      "render": function(data,type,row){
                          var current_index = row.Sno - 1;
                          var tempEnddate;
                          if(data !='00/00/00'){
                            tempEnddate = data;
                          }
                          else{
                            tempEnddate = '';
                          }

                          return '<input class="datepicker select-vbug11"  id="end'+current_index+'" onchange="updatebugdetails('+row.id+',this,'+"'effectiveEndDate'"+',this.id,'+"'"+data+"'"+')" style="border:none;width: 100%;" value="'+tempEnddate+'"">';
                      }
                    },
                    {"targets": [8,9,10,11],"width": "25px"},
                    {"targets": [3,4,5,6,7],"width": "30px"}
                   ]         
            });

$("input:checkbox:not(:checked)").each(function() {
    var column = otable.column( $(this).attr("name") );
    $(column).hide();
});

$("input:checkbox").click(function(){
    var column =  otable.column( $(this).attr("name") );
    $(column).toggle();
});
 

           
    $("#searchbox").keyup(function() {
        otable.search(this.value).draw();

      }); 

     otable.$('tr:first').click();
     setTimeout(function(){
      otable.ajax.reload();
     },300);
    
    $('.se-pre-con').fadeOut('slow'); 
    $('#download').removeClass("hide");
    $('#downloadL').removeClass("hide");

    var newArr="<%=showSelect%>".split(",");
    
    $("input:radio").each(function () {
      var currid=$(this).attr("id");
      if(newArr.indexOf(currid)!=-1){
        $(this).attr("checked",true);
      }
    });

 
    document.getElementById("myfilterform").reset();  
    $("#pro_93").addClass('selected');
     $('.viewbug-img').addClass('active');
     
    $('.select-vbug').css('cursor', 'pointer');
 

  
      

    //....................Side filter...................

    $('.slider-arrow').click(function() {
      if ($(this).hasClass('show')) {
            $(".slider-arrow, .slidingpanel").animate({
                left: "+=20%"
            },
            700, function () {
         
              });
              $(this).html('Filter &laquo;').removeClass('show').addClass('hide1');
          } else 
          {
            $(".slider-arrow, .slidingpanel").animate({
              left: "-=20%"
            },700, function () {
           
                });
              $(this).html('&laquo; Filter').removeClass('hide1').addClass('show');
          }
      });
      var todate=new Date();
     
       $(".datepicker").datetimepicker({
                 timepicker: false,
                format: 'm/d/y',
                minDate:todate
            });
   
  });

  tinymce.init({ menubar:false,
        selector: '#description',
        width: "100%",
     
    });  
  
    //.........................Re Show  comment on comment button click................................
    function showcomment(data) {
    $('#comment').html(''); 
    $('#commCount').html(data[0].length);
    var com='';
    for(var i=(data[0].length)-1;i>=0;i--) {
      data[0][i].createdDate=new Date(data[0][i].createdDate);
      var str=data[0][i].createdDate.toString();

      com=com+'<div class="comment-divs" style="border: solid thin #aaa;padding: 8px;border-radius: 5px;margin-bottom: 10px;"><i class="fa fa-user" style="color:#f05f40"></i> '+data[0][i].firstName+'<br><i class="fa fa-clock-o" style="color:#f05f40"></i> '+str.slice(0,-8)+'<div>'+data[0][i].comments+'</div></div>';

     
    }
      $('#comment').html(com);
    }
    
  function showattachment(data) { 
      var att='';
      $('#attCount').html(data.length); 
    for(var i=(data.length)-1;i>=0;i--){ 
      var deleteBtn=''
        if(data[i].userId=='<%=userid%>' || '<%=roleid%>'==1)
        {
          deleteBtn="<span class='glyphicon glyphicon-trash' style='position:absolute;top:5px;right:5px;color:#f05f40' title='Delete' onclick='deleteAttach("+data[i].id+")'></span>";
        }
        var dat=(new Date(data[i].createdDate).toString());
        dat=dat.slice(0,24);

        att=att+'<div class="comment-divs" id="'+data[i].id+'" style="border: solid thin #aaa;padding: 8px;border-radius: 5px;margin-bottom: 10px;width: 250px;float:left;margin-right: 10px;position:relative"><i class="fa fa-user" style="color:#f05f40"></i> '+data[i].firstName+'<br><i class="fa fa-clock-o" style="color:#f05f40"></i> '+dat+'<div><a href="'+data[i].orignalFilePath.replace("/root/fusion/public/"," ")+'" download ><img src="'+data[i].orignalFilePath.replace('/root/fusion/public/',' ')+'" style="width:100px;height:100px"></a></div>'+deleteBtn+'</div>';

 
     
    }
    $('#attachment').html(att);
  }
  function deleteAttach(attid){  
    if(confirm("You Want to delete this attachment?")){
    $.ajax({
      data: {"aatachId":attid},
      url: '/deleteBugAttach',
      method: 'post',
      success: function(data) {
      
        $("#"+attid).html('');
        $("#"+attid).attr("class",'');
        $("#"+attid).attr("style",'');
        alert("Attachment deleted Successfuly!");
        var count=$('#attCount').text();
        $('#attCount').html(count-1);
      }
    });
  }
  }

//.............save/add comment to database......................     
    function addcomment() {      
    resetError();  
    var successCommenttext = $('#successCommenttext');
    var errorCommenttext = $('#errorCommenttext');
    if (!$.trim($("#commenttext").val())){
      errorCommenttext.text("please enter valid comment");
      return false;
    } else
    { var comm={
        data: {comment:$('#commenttext').val(),bugid:$("#bugidhidden").val()},
        url: '/addComment',
        method: 'POST',
        dataType: 'JSON',
        success:function(data){
          if(data.length>0)
          { 
            showcomment(data);
          }
        },
      }
      $.ajax(comm);
    }
    $('#commenttext').val('');
  }


//....................adding values to the respective DIV................
  
  function showdetails(bid,divId){
    if(bid){
    
      $(".rows").css({"background-color":"white"});
    $("#vbug-sbox_"+divId).css({"background-color":"#c5c5c5"});
    
    $("#bugidhidden").val(bid);
   
    $.ajax({
      data: {"bugid":bid},
      url: '/bugDetails',
      method: 'post',
      success: function(data) {
      
        $('#title').html($("<label>"+data[0][0].bugTitle+"</label>"));
        $('#linkedTo').val(data[0][0].linkedTask);
        $('#asdf').text(data[0][0].createdByName);
       

        tinyMCE.activeEditor.setContent(data[0][0].bugDescription);
       

var over='';
    over=over+"<div class='col-lg-3 col-md-3 col-sm-3'><label style='color:#f05f40'>Project Title: </label> "+data[0][0].projectTitle+"</div>";
    over=over+"<div class='col-lg-3 col-md-3 col-sm-3'><label style='color:#f05f40'>Assinged To   : </label> "+data[0][0].firstName+"</div>";
    over=over+"<div class='col-lg-3 col-md-3 col-sm-3'><label style='color:#f05f40'>Technology   : </label> "+data[0][0].technology+"</div>";
    over=over+"<div class='col-lg-3 col-md-3 col-sm-3'><label style='color:#f05f40'>Bug Status   : </label> "+data[0][0].statusName+"</div>";
    if(data[0][0].CycleNo){
    over=over+"<div class='col-lg-3 col-md-3 col-sm-3'><label style='color:#f05f40'>Cycle  : </label> "+data[0][0].CycleNo+"</div>";
    }if(data[0][0].bugType){
      over=over+"<div class='col-lg-3 col-md-3 col-sm-3'><label style='color:#f05f40'>Bug Type   : </label> "+data[0][0].bugType+"</div>";
    }if(data[0][0].detectedByName){
      over=over+"<div class='col-lg-3 col-md-3 col-sm-3'><label style='color:#f05f40'>Detected By   : </label> "+data[0][0].detectedByName+"</div>";
    } if(data[0][0].enddate){
      over=over+"<div class='col-lg-3 col-md-3 col-sm-3'><label style='color:#f05f40'>Tentative Clouser    : </label> "+data[0][0].enddate+"</div>"
    }
    $("#overview").html(over);
 
        $('#comment').html('');
        $('#commCount').html(data[1].length);
        var com='';

        for(var i=(data[1].length)-1;i>=0;i--) { 
          data[1][i].createdDate=new Date(data[1][i].createdDate);
          var str=data[1][i].createdDate.toString();
          

           com=com+'<div class="comment-divs" style="border: solid thin #aaa;padding: 8px;border-radius: 5px;margin-bottom: 10px;"><i class="fa fa-user" style="color:#f05f40"></i> '+data[1][i].firstName+'<br><i class="fa fa-clock-o" style="color:#f05f40"></i> '+str.slice(0,-8)+'<div>'+data[1][i].comments+'</div></div>';
        }  
        $('#comment').html(com); 
        $('#attachment').html('');
        $('#attCount').html(data[2].length);
        var att='';
       
            
        for(var i=(data[2].length)-1;i>=0;i--)
        {  
           var deleteBtn=''
        if(data[0][0].createdBy=='<%=userid%>' || '<%=roleid%>'==1)
        {
          deleteBtn="<span class='glyphicon glyphicon-trash' style='position:absolute;top:5px;right:5px;color:#f05f40' title='Delete' onclick='deleteAttach("+data[2][i].id+")'></span>";
        }
        var dat=(new Date(data[2][i].createdDate).toString());
        dat=dat.slice(0,24);

          att=att+'<div class="comment-divs" id="'+data[2][i].id+'" style="border: solid thin #aaa;padding: 8px;border-radius: 5px;margin-bottom: 10px;width: 250px;float:left;margin-right: 10px;position:relative"><i class="fa fa-user" style="color:#f05f40"></i> '+data[2][i].firstName+'<br><i class="fa fa-clock-o" style="color:#f05f40"></i> '+dat+'<div><a href="'+data[2][i].filePath.replace("/root/fusion/public/"," ")+'" download ><img src="'+data[2][i].filePath.replace('/root/fusion/public/',' ')+'" style="width:100px;height:100px"></a></div>'+deleteBtn+'</div>';
          
        }
        $('#attachment').html(att);


      if(data[0][0].createdBy=='<%=userid%>' || '<%=roleid%>'==1)
      {
$(".btndesc").removeClass('hide');
          tinyMCE.get('description').getBody().setAttribute('contenteditable', true);

      }
      else{
        $(".btndesc").addClass('hide');
          tinyMCE.get('description').getBody().setAttribute('contenteditable', false);
      }

      },
      dataType: 'JSON',
    });
 }
  } 


  // ............attechment start........................
  function UploadSheet(){
    
    var input, file;
            input = document.getElementById('fupUploadSheet');
            file = input.files[0];
             if(file.size>2097152){
                 alert("Error:File limit is 2 mb");
                 return false ;
            } 


    var data1 = new FormData($('#form123')[0]);
    var files = $("#fupUploadSheet").val();
      var id1=$("#bugidhidden").val();
    data1.append('id',id1);
  
    $.ajax({
        url:'/bugAttachment',
        method: 'POST',
        data:data1,
        contentType: false, 
        processData: false,
      success: function(data) {
        alert("File uploaded successfully!");
        showattachment(data);
      },
      dataType: 'JSON',
    });
  }
  //....................Save bug details......................
 
  function updatebugdetails(bugid,e,type,id,endate){

         if(isNaN(e.value)){
          e.value = "";
          }
        else{
          e.value;
          }
      
if(type=='effectiveEndDate')
   {
    var tempdate = $(e).parent().prev().text();
    var open_date = new Date(tempdate.replace( /(\d{2})\/(\d{2})\/(\d{2})/, "$2/$1/$3"));
    var close_date = new Date(e.value);
    
    var timeDiff = Math.floor(close_date.getTime() - open_date.getTime());
    var diffDays = Math.floor(timeDiff / (1000 * 3600 * 24)); 
    if(diffDays <0){
      alert('Invalid Closure Date');
      $(e).val('');
    }
    else{
        var up ={
        data: {"bugid":bugid,"value":e.value,"colname":type},
          url: '/updatebugdetails',
          method: 'POST',
          success: function(data) {
            showdetails(bugid);
           },
          dataType: 'JSON',
          };
          $.ajax(up);
    }

      return;
}

      if (type=='bugTitle' && (e.value == null || e.value == ""|| e.value.trim().length < 1)) {
        
        toastr.options={
          "closeButton": true,
          "timeOut": "3000",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut",
          "opacity": 1
        };
        toastr.error('Please enter a valid title for bug!'); 
        $('#bugtitle'+id).val($('#hiddentitle'+id).val());
      } else 
      { 
      if(type=='assingedToUserId'){
        if(confirm("Are you sure you want to change the assinged to ?")){
          var up ={data: {"bugid":bugid,"value":e.value,"colname":type},
          url: '/updatebugdetails',
          method: 'POST',
          success: function(data) {
            showdetails(bugid);
           },
          dataType: 'JSON',
          };
          $.ajax(up);
        }
        else{
        }
        
    }
    else{
        var up ={data: {"bugid":bugid,"value":e.value,"colname":type},
      url: '/updatebugdetails',
      method: 'POST',
      success: function(data) {
        showdetails(bugid);
       },
      dataType: 'JSON',
      };
      $.ajax(up);
    }
    }
  }

  function updatebugdescription() {
      resetError();
      var errorBugDesc = $('#errorBugDesc');
      var successBugDesc = $('#successBugDesc');
      var ds=tinyMCE.activeEditor.getContent();
      if(ds.trim().length<=0){
        errorBugDesc.text("Please enter description");
        return false;
      }
      if(ds.trim().length>12000){
        errorBugDesc.text("Description length should't be more than 12000 characters");
        return false;
      }  
      $.ajax(
      {
        data: {
          "bugid":$("#bugidhidden").val(),
          "description": ds,
          "linkedTo":$("#linkedTo").val()
        },
        url: '/updatebugdescription',
        method: 'POST',
        success: function() { 
        successBugDesc.text("Bug description updated succesfully!");    
        commonTimeOut(successBugDesc);
        },       
        dataType: 'JSON',
      });
  } 

function exportBug()
{
   $(".se-pre-con").fadeIn("slow");
var header=['S.No.', 'Title', 'Project', 'Status', 'Priority', 'Severity', 'Technology', 'Assinged To', 'Start Date', 'End Date'];

var url = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin + '/getAllBugtoexport';
$.ajax({
url: url,
method: 'POST',
data : {},
success: function(bugData) { 
bugData.unshift(header);
alasql("SELECT * INTO CSV('bug_Report.csv') FROM ?",[bugData]);

},
dataType: 'JSON',
});   

$(".se-pre-con").fadeOut("slow");
}

 
function showhide(id) {
    var e = document.getElementById(id);
$(e).toggleClass("hide");     
 }

 function hidecol(){
  var a=[];
   a= $('#hideColumnsId').val();
   var table = $('#data_table').DataTable();

  for(var i=0;i<13;i++)
  {
    table.column(i).visible( true );  
 }

  for(var i=0;i<a.length;i++)
  {
    table.column(a[i]).visible( false );  
 }  
}
 function colHideOnChange(id) {
    var e = document.getElementById(id);
$(e).toggleClass("hide"); 

 }

  </script>


</body>
</html>


