<head> 
<!--     $('.se-pre-con').fadeIn('slow');  -->
    <% include ../partials/head %>
  
    <% include ../partials/adminheader %>

    <% include header %>

</head>
<title>task manaagement</title>
<style>
 /***********************************Mayur CSS starts here********************************************/
.selectRS{
    padding-left: 2px;
    padding-right: 2px;

}
.textboxEffEditAdd{
	 width: 34%!important;
    margin-left: 2%;
    margin-right: 4%;
    text-align::center;
    font-size:12px;
    border :0px;
}
.selectEffEditAdd{
	 width: 53%;
   font-size: 12px;
}
.paddingtd{
	border-width: 1px; 
  padding-top: 3px;
  padding-bottom: 3px;	
}
#projTable{
border: 3px #d9d9d9;
}

#projTable td{
 border-width: 1px; 
  padding-top: 3px;
  padding-bottom: 3px;	
}

.phase{
	font-size: 12px;
    padding-left: 43px;
    font-weight:bold;
 }

 .task{
	font-size: 12px;
    padding-left: 62px;
      }

 .subtask{
font-size: 11px;
padding-left: 81px;

 }
 .images1{
 	text-align:center;
 }
 .dateCSS{
   text-align:center;
   font-size:12px;
 }
 .bold1{
 	font-weight:bold;
 }
.deleteCSS{
       display:none!important;
       }
.dateTempCss{
     padding-left: 4px!important;
    padding-right: 4px!important;
            width: 0%!important;

   }
   .textBoxesCss{
      width:100%!important;;
      text-align:'center'; 
      font-size: 12px;
      border: 0px;
      }



 /***********************************Mayur CSS ends here********************************************/

th {
    text-align: center;
     font-size: 12px!important;
  }
	.row{
		margin-right:0px;
		margin-left:0px;
	}
	.newTask{
		cursor: pointer;
		border-bottom:1px solid #e4e4e4;
		background-color:#f5f5f5;
		height: 30px;

	}
	.newTask:hover{
		background-color: #F0FFFF;
	}
	.addTask{
		padding: 2%;
		
		background-color: white;
	}
	.title{
		font-size: 13px;
	}
  .ddResources{
     font-size: 10px;
    height: 25px;
    padding: 0px;
    background-color: white;

  }
  input[type='text']{border: 0px!important;}

input[type="number"] {
    position: relative;
    margin: 0 0 1rem;
    border: 0px solid #BBB;
    border-color: #BBB #ECECEC #ECECEC #BBB;
    padding: .2rem;
}


input[type="number"].mod::-webkit-outer-spin-button, 
input[type="number"].mod::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    border-left: 1px solid #BBB;
    opacity: .5;  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
input[type="number"].mod::-webkit-inner-spin-button:hover,
input[type="number"].mod::-webkit-inner-spin-button:active{
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
}


input:-webkit-autofill {
    background: black;
    color: red;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position:absolute;
    right: 0;
    font-family:monospace;
    line-height:
}

input[type=number]::-webkit-inner-spin-button:before {
    top:0px;
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom:0px;
    -webkit-transform: rotate(180deg);
}
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button{  

   opacity: 1!important;
   margin:1px;

}

 input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: scrollbarbutton-up!important; 
  margin: 2px; 
}



</style>
<% 


/******************Mayur pls remove**********************
var ultimateEndId  = 1000;
var prId = 1;
var projectDetails = [{
                'id' :1,
      'projectTitle' :'Time1' }];
/******************Mayur pls remove**********************/


var marginleftarr = [];
    marginleftarr[1] = 43;
    marginleftarr[2] = marginleftarr[1] + 19;
    marginleftarr[3] = marginleftarr[2] + 19;
    var treeStructure = [];
    var Tree = '';
    var startCounterTreeComponent;
    console.log('ultimateEndId is ',ultimateEndId);
    console.log('tc',treeComponent);
  for(var i = 0 ;(i<=ultimateEndId)&&(ultimateEndId!=0);i++){   //here i is table id 
   treeStructure.push([]);

for(var  k = 0 ; k < treeComponent.length; k++){  //here k is index number from array
  if(treeComponent[k].parentId == i){
   treeStructure[i].push(treeComponent[k].id);
      startCounterTreeComponent = k ;
  }
}


}

var newvar = treeStructure;
var submitted  = 0;
var effortArr = ['','Hrs','Days','Weeks','Months','Years'];
var Foldernames = [];
if(!treeComponent.length){
  submitted  = 0;
}

else{
         submitted = treeComponent[0].isSubmit;
   }
for(var i = 0 ;i<treeComponent.length;i++){
var resourceName = '';
for(var j = 0;j<Resources.length;j++){
if(Resources[j].id == treeComponent[i].resources){
resourceName = Resources[j].firstName+' '+Resources[j].lastName;
}

}

	var newobj =  { 'name' :  treeComponent[i].name,
		           'sdate':  treeComponent[i].startDate,
		           'edate': treeComponent[i].endDate,
              'effort':treeComponent[i].effort,
          'effortType':effortArr[treeComponent[i].effortType],
          'perc'      : treeComponent[i].percCompleted + ' %',
                 'resc'      : resourceName
	              };
   Foldernames[treeComponent[i].id] = newobj;
}

var optionStr = '<select class = " ddResources"><option value = "0"> --Select </option>';
for(var i = 0;i<Resources.length;i++){

optionStr = optionStr +'<option value ="'+Resources[i].id+'" >'+Resources[i].firstName+' '+Resources[i].lastName+'</option>';
}
optionStr = optionStr + '</select>';
//console.log(optionStr);


createTree(treeStructure,0,-1);

var hideAddButtonClass = '';

function createTree(idarr,num,level){
      //console.log('loop',num,level);
      var level1 = level + 1;
       
for(var i=0;i<idarr[num].length;i++){
    //console.log('size',idarr[num].length,'inc',i);
    if(level==-1){
      if(!treeStructure[idarr[num][i]].length){
         hideAddButtonClass = ' deleteCSS ';
       
      }

    else {
            hideAddButtonClass = '';
            
         }
                      
         Tree = Tree + '<tr id = '+idarr[num][i]+'_rowid_'+num+' ><td></td><td class="phase bold1"><img src="../img/project/minus.png" id = '+idarr[num][i]+'_sign_'+num+' onclick = "collapseExpand(this.id,1)" class="minus '+hideAddButtonClass+'" height="18px" title="Add Phase" width="18px" style="margin-right:5px;">'+Foldernames[idarr[num][i]].name+'</td><td class="images1 bold1"><img src="../img/bug/addbug.png" id = '+idarr[num][i]+'_add_'+num+'  class="shadow phaseImg  " onclick = "addRow(this.id)" height="18px" title="Add Phase" width="18px"></td><td class="images1 bold1"><img src="../img/write.png" onclick = "editRow(this.id,0)" id = '+idarr[num][i]+'_edit_'+num+'    height="22px" class="shadow editRowClass" title="Add Phase" width="22px"></td><td class="dateCSS bold1">'+Foldernames[idarr[num][i]].sdate+'</td><td class="dateCSS bold1">'+Foldernames[idarr[num][i]].edate+'</td><td class="effCSS bold1">'+Foldernames[idarr[num][i]].effort+' '+Foldernames[idarr[num][i]].effortType+'</td><td class = "bold1">'+Foldernames[idarr[num][i]].perc+'</td><td></td><td>'+Foldernames[idarr[num][i]].resc+'</td></tr>';
    	 }

 else if(level==0){

    if(!treeStructure[idarr[num][i]].length){
         hideAddButtonClass = ' deleteCSS ';
      
       
      }

    else {
            hideAddButtonClass = '';
            
         }
         
 Tree = Tree + '<tr id = '+idarr[num][i]+'_rowid_'+num+' ><td></td><td class="task"><img src="../img/project/plus.png" class="plus'+hideAddButtonClass+'" onclick = "collapseExpand(this.id,1)"  id = '+idarr[num][i]+'_sign_'+num+' height="18px" title="Add Phase" width="18px" style="margin-right:5px;">'+Foldernames[idarr[num][i]].name+'</td><td class="images1 bold1"><img src="../img/bug/addbug.png" class="shadow " height="18px" onclick = "addRow(this.id)"  id = '+idarr[num][i]+'_add_'+num+' title="Add Phase" width="18px"></td><td class="images1 bold1"><img src="../img/write.png" onclick = "editRow(this.id,0)" id = '+idarr[num][i]+'_edit_'+num+' height="22px" class="shadow editRowClass" title="Add Phase" width="22px"></td><td class="dateCSS ">'+Foldernames[idarr[num][i]].sdate+'</td><td class="dateCSS">'+Foldernames[idarr[num][i]].edate+'</td><td class="effCSS">'+Foldernames[idarr[num][i]].effort+' '+Foldernames[idarr[num][i]].effortType+'</td><td>'+Foldernames[idarr[num][i]].perc+'</td><td></td><td>'+Foldernames[idarr[num][i]].resc+'</td></tr>';
     

      } 




      else if(level==1){
      	console.log('in level 1');
	Tree = Tree + '<tr id = '+idarr[num][i]+'_rowid_'+num+' class = "hide"><td></td><td class="subtask"><img src="../img/project/button.png" class="shadow donthide" height="18px" title="Add Phase" width="18px" style="margin-right:5px;">'+Foldernames[idarr[num][i]].name+'</td><td class="images1 bold1 "></td><td class="images1 bold1"><img src="../img/write.png" onclick = "editRow(this.id,0)" id = '+idarr[num][i]+'_edit_'+num+'  height="22px" class="shadow editRowClass" title="Add Phase" width="22px"></td><td class="dateCSS ">'+Foldernames[idarr[num][i]].sdate+'</td><td class="dateCSS ">'+Foldernames[idarr[num][i]].edate+'</td><td class="effCSS ">'+Foldernames[idarr[num][i]].effort+' '+Foldernames[idarr[num][i]].effortType+'</td><td>'+Foldernames[idarr[num][i]].perc+'</td><td></td><td>'+Foldernames[idarr[num][i]].resc+'</td></tr>';
      }

else{
  	console.log('Error!!!!',i,num,idarr[num]);
      }


  if(level<1){
  createTree(idarr,idarr[num][i],level1);
   }

}
//console.log('return',num);
return ;


}






%>
<script type="text/javascript">

var optionStr         = '<%=optionStr%>';
var startDateOriginal = '<%=prStartDate%>';
var endDateOriginal   = '<%=prEndDate%>';
var startDate         = startDateOriginal;
var endDate           = endDateOriginal;
var endDateInDatePicker ,startDateInDatePicker ;
var edateTime = '' ,sdateTime = '';
var saturdayOffFlag = 1;/*Take Diff from this Date and Satdurday found diff must be multiple of 14.
*/
var holidayArr = ['21/07/2016','27/07/2016','10/08/2016','18/08/2016'];
var workingHoursInADay = 9;
var holidayArrGetTime = [];

for(var i = 0;i<holidayArr.length;i++){
  var holidayArrDateTime = holidayArr[i].split('/');
holidayArrDateTime[0]    = parseInt(holidayArrDateTime[0]);
holidayArrDateTime[1]    = parseInt(holidayArrDateTime[1]) -1;
holidayArrDateTime[2]    = parseInt(holidayArrDateTime[2]);
 holidayArrDateTime = new Date(holidayArrDateTime[2], holidayArrDateTime[1], holidayArrDateTime[0]); 
 holidayArrDateTime = holidayArrDateTime.getTime();
holidayArrGetTime.push(holidayArrDateTime);

}




var effortArr = ['','Hrs','Days','Weeks','Months','Years'];
var ultimateEndId = parseInt('<%=ultimateEndId%>');
ultimateEndId++;
var presentIdsArr = [];
var projectId = parseInt('<%=prId%>') ; 
var treeStructure = [];
var counterForAjax = 0, ajaxFailureFlag = true;
var counterForRecursionAjax = 0 ;

<%for(var i = 0 ;i<=ultimateEndId;i++){%>
treeStructure.push([<%=treeStructure[i]%>]);
<%}%>

var insertArr = [];
var updateArr = []; 
var curentDropdownValueForEffort = 0;
var  currentNodeNameForUpdateArrAll =   '';
var currenteffType                  =    0;

function updateAllArr(idUsed,isActiveFl){
var value = idUsed.split('_');
var individualId = value[0];
var parentId = value[2];
idUsed = individualId + '_rowid_' + parentId
var stringForId = '#' + idUsed + ' td '+ ' input ';
var stringForSelect = '#' + idUsed + ' td '+ ' select ';
/*//var stringForNodeName = stringForId + ' td:first';
//var $td= $(stringForId).children('td'); 
//console.log($td[0].);
for(var  i =0;i<9;i++ ){
alldataTable[i] = $td.eq(i).text();  
} 
*/


/*if(insertFlag==1){
var newArr = [];
newArr[0] = $(stringForNodeName).text();//Name 
newArr[1] = $(stringForId).children('td')[4].innerHTML;console.log(newArr);//Start
newArr[2] = $(stringForId).children('td')[5].innerHTML;console.log(newArr);//End
newArr[3] = $(stringForId).children('td')[6].innerHTML.match(/^\d{1,}+(\.\d{1,4})?$/i)[0];console.log(newArr);//Effort
newArr[4] =curentDropdownValueForEffort;console.log(newArr);//Effort Type
newArr[5] = parentId;console.log(newArr);
newArr[6] = projectId;console.log(newArr);
console.log(newArr);
insertArr.push(newArr)
}*/

if(isActiveFl==0){
var newArr = [];
for(var i = 0;i<10;i++){
  newArr.push(0);
}

newArr[0] = individualId;
newArr[6] = parentId ;



}



if(isActiveFl==1){
var newArr = [];
newArr[0] = individualId;
newArr[1] = $(stringForId)[0].value;//Name 
newArr[2] = $(stringForId)[1].value;//Start
newArr[3] = $(stringForId)[2].value;//End
if( $(stringForId)[3].value!=''){
newArr[4] = $(stringForId)[3].value;//Effort
}
else newArr[4] = 0;
newArr[5] =  $(stringForSelect)[0].value;//Effort Type
newArr[6] = parentId ;
newArr[7] = isActiveFl;
newArr[8] =  $(stringForId)[4].value; 
newArr[9] = $(stringForSelect)[1].value;//Effort Type




$('#'+individualId+'_del_'+parentId).attr("onclick" , "deleteRow(this.id,1)");

}
var iValue = -1;
	for(var i = 0;i<updateArr.length;i++){
         if(updateArr[i][0]==individualId){
                   iValue = i;
                   break;
         }
    }

if(iValue == -1){
	updateArr.push(newArr);
}
else{

	updateArr[iValue] = newArr; 
}

console.log(newArr);




curentDropdownValueForEffort = 0;
currentNodeNameForUpdateArrAll ='';
currenteffType                 = 0;



}

<%for(var i = 0 ;i<treeComponent.length;i++){%>
presentIdsArr.push(<%=treeComponent[i].id%>);
<%}%>



$(document).ready(function(){
 
initializeJquery();

  $('.task-img').addClass('active');
	$('.se-pre-con').fadeOut('slow');
    var decode =  $('#tbody123').html('<%=Tree%>').text();
     $('#tbody123').html(decode);

     if(parseInt('<%=submitted%>')){  hideAllOnSubmit()}
     var index;
     $('select option').each(function(i){
      if($(this).val()==projectId){
        index = i;
      }
     });



     var selectJq1 = $('select option');
     var selectJq2=  selectJq1[index] ;
     //console.log('here is ',selectJq2);
     $(selectJq2).attr('selected',true);


     $('#proSel').change(function(){
         var val = $('#proSel').val();
           var str = '/task?flag='+val;
           window.location.href = str;
   });

     $('.datePicker').click(function(){
             console.log('yessdsdsdsdsdsdsdsd sds dsdsd sdsd');
             alert('sdsdsdsd');


     });


	 
});
 function collapseExpand(id,flag){

      //console.log('ts here',treeStructure[4]);
      //alert('clickeed yo!');
     
         var value = id.split('_');
          var individualId = parseInt(value[0]);
          var parentId  = parseInt(value[2]);
           var idStr = '#' + id;

    
        //alert(idStr);
        if($(idStr).hasClass( "minus" )){
          
            for(var i = 0 ;i<treeStructure[individualId].length;i++){

          var str =  '#' + treeStructure[individualId][i] +'_rowid_'+individualId;
          var str2 = '#' + treeStructure[individualId][i] +'_sign_'+individualId;
         
                 
                 $(str).addClass('hide1');
                 $(str).hide('fast');       
                 if($(str2).hasClass('minus')){
                 	console.log(str2);
                 $(str2).addClass('keepOpen');
                 }
                 str2 = str2.slice(1);
                 console.log('str2 is',str2);
                 collapseExpand(str2,0);
               
                               
          }
          $(idStr).removeClass('minus');
          $(idStr).addClass('plus');
          $(idStr).attr('src','../img/project/plus.png');



      }


        else if($( idStr).hasClass( "plus" )&&flag==1){
          
            for(var i = 0 ;i<treeStructure[individualId].length;i++){
                 var str = '#'+ treeStructure[individualId][i] +'_rowid_'+individualId;
                var str2 = '#' + treeStructure[individualId][i] +'_sign_'+individualId;

                 //console.log(str);
                  $(str).hide();
                  $(str).removeClass('hide');
                 $(str).removeClass('hide1');
                  $(str).show('slow'); 
                  if($(str2).hasClass('keepOpen')){
                  	$(str2).removeClass('keepOpen');
                     str2 = str2.slice(1);
                  	collapseExpand(str2,1);
                  }
     
  
        
          }


         
            $(idStr).removeClass('plus');
              $(idStr).addClass('minus');
         $(idStr).attr('src','../img/project/minus.png');


        }

 else return;



    }

 

    function addRow(currentId){
        /*********addRRow**************/
    var value = currentId.split('_');
  var individualId = value[0];
  var parentId = value[2];
    var lastChildId = individualId ;
  var lastParentId = parentId ;
  var depth = 0 ;
var idStr = '#'+currentId;
var signStr = '#'+ individualId + '_sign_'+parentId;
if($(signStr).hasClass('plus')){
  $(signStr).click();
}
if(individualId==0){
	depth = 0
}

else if($(idStr).hasClass('phaseImg')){
  depth = 1;
 }
  else depth = 2; 
  var len = treeStructure[lastChildId].length; 
console.log(treeStructure,len);
  if(len){
   lastChildId = treeStructure[individualId][treeStructure[individualId].length-1];
    lastParentId = individualId;
    len = treeStructure[lastChildId].length;
  while(len){
    //margin = margin -6;
    lastParentId = lastChildId;
lastChildId = treeStructure[lastChildId][treeStructure[lastChildId].length-1];
 console.log(lastChildId);
  len = treeStructure[lastChildId].length;
 // depth++ ; 
}
     
}

var hideAddButtonClass = '';


 var newcurrentId = '#'+lastChildId +'_rowid_'+ lastParentId;

if(depth ==0){
	var str =  '<tr id = '+ultimateEndId+'_rowid_'+individualId+' ><td></td><td class="phase paddingtd"><img src="../img/project/plus.png" id = '+ultimateEndId+'_sign_'+individualId+' onclick = "collapseExpand(this.id,1)" class="plus '+hideAddButtonClass+'" height="18px" title="Add Phase" width="18px" style="margin-right:5px;"><input type = "text" ></td><td class="images1 bold1"><img src="../img/bug/addbug.png" id = '+ultimateEndId+'_add_'+individualId+'  class="shadow phaseImg" onclick = "addRow(this.id)" height="18px" title="Add Child" width="18px"></td><td class="images1 bold1"><img src="../img/project/blackdustbin.jpg" height="15px" class="shadow" onclick = "deleteRow(this.id,0)" id = '+ultimateEndId+'_del_'+individualId+'  title="Delete" width="15px"><img id = '+ultimateEndId+'_OK_'+individualId+'  src="../img/project/greentick.jpg" onclick = "convertTonormalTr(1,this.id,'+depth+')" height="18px" class="shadow hide" title="Green Tick" class = "hide"  width="18px"></td><td class = "dateTempCss bold1"><input type = "text" class = "datePicker textBoxesCss" id = '+ultimateEndId+'_sdate_'+individualId+' ></td><td class="dateTempCss bold1"><input type = "text " id = '+ultimateEndId+'_edate_'+individualId+' class = "datePicker textBoxesCss"></td><td class="effCSS bold1"><input type = "number"  class = " textboxEffEditAdd textboxEffEditAddJq"  id = '+ultimateEndId+'_eff_'+individualId+' ><select id = '+ultimateEndId+'_effType_'+individualId+' class = "selectEffEditAdd"><option value = "1">Hrs</option><option value = "2">Days</option><option value = "3">Weeks</option><option value = "4">Months</option><option value = "5">Years</option></select></td><td><input type = "number" class = "textBoxesCss bold1"></td><td></td><td class = "selectRS" id = "'+ultimateEndId+'_selectRS_'+individualId+'"></td></tr>';
		}

else if (depth==1){

/*if(!treeStructure[ultimateEndId].length){
         hideAddButtonClass = ' deleteCSS ';
       
      }

    else {
            hideAddButtonClass = '';
            
         }*/
var str =  '<tr id = '+ultimateEndId+'_rowid_'+individualId+' ><td></td><td class="task paddingtd"><img src="../img/project/plus.png" id = '+ultimateEndId+'_sign_'+individualId+' onclick = "collapseExpand(this.id,1)" class="plus '+hideAddButtonClass+'" height="18px" title="Add Phase" width="18px" style="margin-right:5px;"><input type = "text"></td><td class="images1  paddingtd "><img src="../img/bug/addbug.png" id = '+ultimateEndId+'_add_'+individualId+'  class="shadow phaseImg" onclick = "addRow(this.id)" height="18px" title="Add Phase" width="18px"></td><td class="images1 paddingtd "><img src="../img/project/blackdustbin.jpg"  id = '+ultimateEndId+'_del_'+individualId+' onclick = "deleteRow(this.id,0)"     height="15px" class="shadow" title="Delete" width="15px"><img id = '+ultimateEndId+'_OK_'+individualId+'  src="../img/project/greentick.jpg" onclick = "convertTonormalTr(1,this.id,'+depth+')" height="18px" class="shadow hide" title="Green Tick" width="18px"></td><td class="dateCSS  paddingtd dateTempCss"><input type = "text" class = "datePicker textBoxesCss"></td><td class="dateCSS  dateTempCss"><input type = "text" class = "datePicker textBoxesCss"></td><td class="effCSS "><input type = "number" class = " textboxEffEditAdd textboxEffEditAddJq "><select class = "selectEffEditAdd"><option value = "1">Hrs</option><option value = "2">Days</option><option value = "3">Weeks</option><option value = "4">Months</option><option value = "5">Years</option></select></td><td><input type = "number" class = "textBoxesCss"></td><td></td><td class = "selectRS" id = "'+ultimateEndId+'_selectRS_'+individualId+'"></td></tr>';

     }

     else if (depth==2){
  var str =  '<tr id = '+ultimateEndId+'_rowid_'+individualId+' ><td></td><td class="subtask "><img src="../img/project/button.png" id = '+ultimateEndId+'_sign_'+individualId+' onclick = "collapseExpand(this.id,1)" class="shadow donthide" height="18px" title="Add Phase" width="18px" style="margin-right:5px;"><input type = "text"></td><td class="images1 "></td><td class="images1 bold1"><img src="../img/project/blackdustbin.jpg"   id = '+ultimateEndId+'_del_'+individualId+' onclick = "deleteRow(this.id,0)"  height="15px" class="shadow" title="Delete" width="15px"><img id = '+ultimateEndId+'_OK_'+individualId+'  src="../img/project/greentick.jpg" height = "18px" onclick = "convertTonormalTr(1,this.id,'+depth+')" class = "hide" title="Save" width="18px"></td><td class = "dateTempCss"><input type = "text" class = "datePicker textBoxesCss"></td><td class="dateCSS dateTempCss "><input type = "text" class = "datePicker textBoxesCss"></td><td class="effCSS "><input type = "text" class = "textboxEffEditAdd textboxEffEditAddJq"><select class = " selectEffEditAdd"><option value = "1">Hrs</option><option value = "2">Days</option><option value = "3">Weeks</option><option value = "4">Months</option><option value = "5">Years</option></select></td><td><input type = "number" class = "textBoxesCss"></td><td></td><td class = "selectRS" id = "'+ultimateEndId+'_selectRS_'+individualId+'"></td></tr>';

     }
       makeEmptyAjaxCall();
       if(newcurrentId=='#0_rowid_-1') newcurrentId = '#tbody123'
     $(newcurrentId).after(str);
   initializeJquery();


     var tdIdForSelect = '#'+ ultimateEndId+'_selectRS_'+individualId;
     var decode = $(tdIdForSelect).html(optionStr).text();
      decode = decode.replace(/"/g,'').replace(/'/g,'');
      $(tdIdForSelect).html(decode);







 treeStructure[individualId].push(ultimateEndId);
      treeStructure.push([]);
      ultimateEndId++;



$(".datePicker").attr('readonly',true);
$(".datePicker").datepicker({
    dateFormat: 'dd/mm/yy',
    beforeShowDay: DisableSpecificDates,
    duration: "slow",
    beforeShow: findParentDate,
    onSelect: function(selected, evnt) {
       // console.log('selected is', selected, 'this.id is ', $(this).attr('id'), ' evnt is ', evnt);
        var endDateFlag = checkNature($(this).attr('id'));
         startDateEndDateValidation(endDateFlag,$(this));
         }

});
    

  }



    function test(){
    $('.minus').attr('src','../img/project/plus.png');
     $('.plus').attr('src','../img/project/minus.png');
     $('.minus').addClass('minus1');
     $('.plus').addClass('plus1');	
     $('.minus').addClass('plus');
     $('.plus1').addClass('minus');
    $('.minus1').removeClass('minus');
    $('.plus1').removeClass('plus');
    $('.plus').removeClass('minus1');
    $('.minus').removeClass('plus1');



    }


    function convertTonormalTr(addNewFlag,rowId,depth){
        console.log(rowId);
    	rowId = rowId.trim();  console.log(rowId);
        




    	var value = rowId.split('_');
    	var individualId = value[0];
    	var parentId     = value[2];
    	 rowId = individualId+'_rowid_'+parentId;
    	var nodeName     = $('#'+rowId+' td input')[0].value;
    	var sDateName    =$('#'+rowId+' td input')[1].value;
        var eDateName    = $('#'+rowId+' td input')[2].value;
        var effortQuant  = $('#'+rowId+' td input')[3].value;
        var effortType   = $('#'+rowId+' td select')[0].value;
        var effortArrName = effortArr[effortType];
        var percCompleted = $('#'+rowId+' td input')[4].value +' %';

        if(addNewFlag!=-1){   //

var binaryForAllData = (nodeName.trim()==''||sDateName.trim()==''||eDateName.trim()==''||effortQuant.trim()==''||percCompleted.trim()=='%');
if(binaryForAllData){
alert('Please fill all text boxes')
return;
}
 }
if(depth==0){

    	var newStringForHtml = '<td></td><td class="phase bold1"><img src="../img/project/plus.png" id = '+individualId+'_sign_'+parentId+' onclick = "collapseExpand(this.id,1)" class="minus" height="18px" title="Add Phase" width="18px" style="margin-right:5px;">'+nodeName+'</td><td class="images1 bold1"><img src="../img/bug/addbug.png" id = '+individualId+'_add_'+parentId+'  class="shadow phaseImg" onclick = "addRow(this.id)" height="18px" title="Add Phase" width="18px"></td><td class="images1 bold1"><img src="../img/write.png"  onclick = "editRow(this.id,0)"  id = '+individualId+'_edit_'+parentId+'  height="22px" class="shadow editRowClass" title="Add Phase" width="22px"></td><td class="dateCSS bold1">'+sDateName+'</td><td class="dateCSS bold1">'+eDateName+'</td><td class="effCSS bold1" style = "font-size:11px;">'+effortQuant+' '+effortArrName+'</td><td style = "font-size:12px;" class = "bold1">'+percCompleted+'</td><td></td>';
    	 }

 else if(depth==1){

	 var newStringForHtml = '<td></td><td class="task"><img src="../img/project/plus.png" class="plus" onclick = "collapseExpand(this.id,1)"  id = '+individualId+'_sign_'+parentId+' height="18px" title="Add Phase" width="18px" style="margin-right:5px;">'+nodeName+'</td><td class="images1 "><img src="../img/bug/addbug.png" class="shadow" height="18px" onclick = "addRow(this.id)"  id = '+individualId+'_add_'+parentId+' title="Add Phase" width="18px"></td><td class="images1 "><img src="../img/write.png" height="22px" class="shadow editRowClass"  onclick = "editRow(this.id,0)" id = '+individualId+'_edit_'+parentId+'  title="Add Phase" width="22px"></td><td class="dateCSS ">'+sDateName+'</td><td class="dateCSS">'+eDateName+'</td><td class="effCSS" style = "font-size:11px;">'+effortQuant+' '+effortArrName+'</td><td style = "font-size:12px;">'+percCompleted+'</td><td></td>';
      }
      else if(depth==2){

	var newStringForHtml = '<td></td><td class="subtask"><img src="../img/project/button.png" class="shadow      donthide" height="18px" title="Add Phase" width="18px" style="margin-right:5px;">'+nodeName+'</td><td class="images1 "></td><td class="images1 "><img src="../img/write.png" onclick = "editRow(this.id,0)" id = '+individualId+'_edit_'+parentId+'    height="22px" class="shadow editRowClass" title="Add Phase" width="22px"></td><td class="dateCSS ">'+sDateName+'</td><td class="dateCSS ">'+eDateName+'</td><td style = "font-size:11px;" class="effCSS ">'+effortQuant+' '+effortArrName+'</td><td style = "font-size:12px;">'+percCompleted+'</td><td></td>';
      }





$('#'+rowId).html(newStringForHtml);
/*var rowIdVarForTreeIndex = rowId;
var countForPosition =nextClass(depth,rowId);
var idArr = [];

var nextId = $('#'+rowId).next().attr('id'); 
 while(findDepth(rowIdVarForTreeIndex)==findDepth(nextId)){
    rowId = nextId;
    nextId = $('#'+rowId).next().attr('id'); 
   countForPosition++;

 }

var positionTreeStructure = treeStructure[parentId].length -countForPosition;
  treeStructure[parentId].splice(positionTreeStructure,0,individualId);
 while(treeStructure.length!=ultimateEndId){
treeStructure.push([]);	
  }*/
  
curentDropdownValueForEffort = effortType;
currentNodeNameForUpdateArrAll = nodeName;
currentEffType                 = effortType 
//makeEmptyAjCall();
if(addNewFlag!=-1){
updateAllArr(rowId,1);
 }
    
  
   }

   function makeEmptyAjaxCall(){

 counterForAjax++;
       
               $.ajax({
                    url: '/emptyProj',
                    type: 'post',
                    data :{
                      'projectid':projectId
                        },
                    success: function(data) {
                    	console.log('sucess');

                    	counterForAjax--;/*    Important code to be inserted here Mayur */
                    },

                     error:function(){
                     alert('Server Failure:Reloading Page for Refreshing info')
                           // window.location.href = '/task';
                                counterForAjax--;
                                ajaxFailureFlag = false;

                           
                                   }                       
                  });
     


}





  function nextClass(depth,rowId){
 var count = 0;
  nextId = $('#'+rowId).next().attr('id');
if(depth==2){
while(nextId!=undefined&&($('#'+nextId).hasClass('subtask')||$('#'+nextId).hasClass('subtaskTemp'))){

if($('#'+nextId).hasClass('subtask')){
count++;	
}
nextId = $('#'+nextId).next().attr('id');

}

} 

if(depth==1){
while(nextId!=undefined&&(!$('#'+nextId).hasClass('phase'))){

if($('#'+nextId).hasClass('task')){
count++;	
}
nextId = $('#'+nextId).next().attr('id');
}

}

if(depth==0){
while(nextId!=undefined){

if(nextId!=undefined){
count++;	
}
nextId = $('#'+nextId).next().attr('id');
}

}

return count;

    }


    function savethis(submitFlag,joinFlag){

      if(submitFlag&&joinFlag){
         if(!confirm('Once saved,Changes cannot be done.Are you sure?')){
          return;
         }

      }
   if(joinFlag){
for(var i = 0;i<updateArr.length;i++){
	updateArr[i] = updateArr[i].join('$@$');
  }
  updateArr = updateArr.join('||');

  	$('.se-pre-con').fadeIn('slow');
     }

     counterForRecursionAjax++;
     if(counterForRecursionAjax==20){
         alert('Server error,Reloading page');
     	return;
     }

  if(counterForAjax!=0){
setTimeout(function(){ 
savethis(submitFlag,0);
return;
},3000);
  	 return;
  	     }
  	   




    $.ajax({
                     url: '/saveTask',
                    type: 'post',
                    data :{
                      'updateQ':updateArr,
                   'submitFlag':submitFlag,
                   'projectId' :projectId
                        },
                    success: function(data) {
                    	console.log('sucess');
                  $('.se-pre-con').fadeOut('slow');
                  counterForRecursionAjax = 0;
                  updateArr = [];
                  if(submitFlag){
                    hideAllOnSubmit();
                  }


                    },
                    error:function(data){
                 $('.se-pre-con').fadeOut('slow');
                    updateArr = [];
                     }
               });






      }



function editRow(rowId,AddFlag){
/********editRRow*******/
var value = rowId.split('_');
var individualId = value[0];
var parentId = value[2];
rowId = individualId +'_rowid_'+parentId;
var depth;
var stringForId = '#'+rowId;

var tempStrForNodeName = $(stringForId).children('td')[1].innerHTML;
 var nodeName          =  tempStrForNodeName.slice(tempStrForNodeName.indexOf('>')+1);
var sDateName          = $(stringForId).children('td')[4].innerHTML;//Start
var eDateName          = $(stringForId).children('td')[5].innerHTML;//End
var effortQuant        = $(stringForId).children('td')[6].innerHTML.match(/\d{1,9}/i)[0];
var strForpercComplete  = $(stringForId).children('td')[7].innerHTML;
console.log('strForpercComplete',strForpercComplete);
if(strForpercComplete!=''){
var percCompleted      = strForpercComplete.slice(0, strForpercComplete.length-2);
}
else { var percCompleted = '';}
var effortArrStr       =  $(stringForId).children('td')[6].innerHTML;
var effortType         = 0 
var impResource        = $(stringForId).children('td')[9].innerHTML
for(var i = 1;i<effortArr.length;i++){
if(effortArrStr.indexOf(effortArr[i])!=-1){
  effortType = i;
  break;
}  

}



var objForSecondTd = $('#' +rowId +' td')[1] ;


if(parentId=='0'){
depth =0;
}

else if($(objForSecondTd).hasClass('task')){
  depth =1;
}

else depth = 2;

var hideAddButtonClass = '';
if(impResource!=''){
var posForResource = optionStr.indexOf(impResource);
console.log('Yo123',posForResource,impResource);
    posForResource = posForResource - 4;
    var selectedString = ' selected = "true" ';
var optionStr2 = [optionStr.slice(0, posForResource), selectedString, optionStr.slice(posForResource)].join('');
}
else {
  var optionStr2 = optionStr;
}

if(depth ==0){

/*if(!treeStructure[individualId].length){
         hideAddButtonClass = ' deleteCSS ';
       
      }

    else {
            hideAddButtonClass = '';
            
         }*/


  var strForHtml =  '<td></td><td class="phase paddingtd"><img src="../img/project/minus.png" id = '+individualId+'_sign_'+parentId+' onclick = "collapseExpand(this.id,1)" class="minus'+hideAddButtonClass+'" height="18px" title="Add Phase" width="18px" style="margin-right:5px;"><input type = "text" ></td><td class="images1 bold1"><img src="../img/bug/addbug.png" id = '+individualId+'_add_'+parentId+'  class="shadow phaseImg" onclick = "addRow(this.id)" height="18px" title="Add Child" width="18px"></td><td class="images1 bold1"><img src="../img/project/blackdustbin.jpg" height="15px" class="shadow" onclick = "deleteRow(this.id,1)" id = '+individualId+'_del_'+parentId+'  title="Delete" width="15px"><img id = '+individualId+'_OK_'+parentId+'  src="../img/project/greentick.jpg" onclick = "convertTonormalTr(1,this.id,'+depth+')" height="18px" class="shadow hide" title="Green Tick" class = "hide"  width="18px"></td><td class = "dateTempCss bold1"><input type = "text" class = "datePicker textBoxesCss" id = '+individualId+'_sdate_'+parentId+' ></td><td class="dateTempCss bold1"><input type = "text " id = '+individualId+'_edate_'+parentId+' class = "datePicker textBoxesCss"></td><td class="effCSS bold1"><input type = "number"  class = " textboxEffEditAdd textboxEffEditAddJq"  id = '+individualId+'_eff_'+parentId+' ><select id = '+individualId+'_effType_'+parentId+' class = "selectEffEditAdd"><option value = "1">Hrs</option><option value = "2">Days</option><option value = "3">Weeks</option><option value = "4">Months</option><option value = "5">Years</option></select></td><td><input type = "number" class = "textBoxesCss bold1"></td><td></td><td class = "selectRS" id = "'+individualId+'_selectRS_'+parentId+'" ></td>';
    }


else if (depth==1){

/*if(!treeStructure[individualId].length){
         hideAddButtonClass = ' deleteCSS ';
       
      }

    else {
            hideAddButtonClass = '';
            
         }*/


var strForHtml =  '<td></td><td class="task paddingtd"><img src="../img/project/plus.png" id = '+individualId+'_sign_'+parentId+' onclick = "collapseExpand(this.id,1)" class="plus'+hideAddButtonClass+'" height="18px" title="Add Phase" width="18px" style="margin-right:5px;"><input type = "text"></td><td class="images1  paddingtd "><img src="../img/bug/addbug.png" id = '+individualId+'_add_'+parentId+'  class="shadow phaseImg" onclick = "addRow(this.id)" height="18px" title="Add Phase" width="18px"></td><td class="images1 paddingtd "><img src="../img/project/blackdustbin.jpg"  id = '+individualId+'_del_'+parentId+' onclick = "deleteRow(this.id,1)"     height="15px" class="shadow" title="Delete" width="15px"><img id = '+individualId+'_OK_'+parentId+'  src="../img/project/greentick.jpg" onclick = "convertTonormalTr(1,this.id,'+depth+')" height="18px" class="shadow hide" title="Green Tick" width="18px"></td><td class="dateCSS  paddingtd dateTempCss"><input type = "text" class = "datePicker textBoxesCss"></td><td class="dateCSS  dateTempCss"><input type = "text" class = "datePicker textBoxesCss"></td><td class="effCSS "><input type = "number" class = " textboxEffEditAdd textboxEffEditAddJq "><select class = "selectEffEditAdd"><option value = "1">Hrs</option><option value = "2">Days</option><option value = "3">Weeks</option><option value = "4">Months</option><option value = "5">Years</option></select></td><td><input type = "number" class = "textBoxesCss"></td><td></td><td id = "'+individualId+'_selectRS_'+parentId+'" class = "selectRS"></td>';

     }

     else if (depth==2){
  var strForHtml =  '<td></td><td class="subtask "><img src="../img/project/button.png" id = "'+individualId+'_sign_'+parentId+'" onclick = "collapseExpand(this.id,1)" class="shadow donthide" height="18px" title="Add Phase" width="18px" style="margin-right:5px;"><input type = "text"></td><td class="images1 "></td><td class="images1 bold1"><img src="../img/project/blackdustbin.jpg"   id = '+individualId+'_del_'+parentId+' onclick = "deleteRow(this.id,1)"  height="15px" class="shadow" title="Delete" width="15px"><img id = '+individualId+'_OK_'+parentId+'  src="../img/project/greentick.jpg" height = "18px" onclick = "convertTonormalTr(1,this.id,'+depth+')" class = "hide" title="Save" width="18px"></td><td class = "dateTempCss"><input type = "text" class = "datePicker textBoxesCss"></td><td class="dateCSS dateTempCss "><input type = "text" class = "datePicker textBoxesCss"></td><td class="effCSS "><input type = "text" class = "textboxEffEditAdd textboxEffEditAddJq"><select class = " selectEffEditAdd"><option value = "1">Hrs</option><option value = "2">Days</option><option value = "3">Weeks</option><option value = "4">Months</option><option value = "5">Years</option></select></td><td><input type = "number" class = "textBoxesCss"></td><td></td><td class = "selectRS" id = "'+individualId+'_selectRS_'+parentId+'"></td>';

     }

    
    /*$('.selectRS').each(function(){
            
    if($(this).html().trim()==''){  
        if(rowId=='274_rowid_271'){
              console.log('this html is',$(this).html(),$(this).html().length,$(this));
      var decode =  $(this).html(optionStr).text();
      decode = decode.replace(/"/g,'').replace(/'/g,'');
     $(this).html(decode);
                                }
      else{
     var decode =  $(this).html(optionStr).text();
      decode = decode.replace(/"/g,'').replace(/'/g,'');
     $(this).html(decode);
   }
    }

   });*/





/*     optionStr = optionStr.replace(/"/g,'').replace(/'/g,'');
     console.log(optionStr);
               $('.selectRS').html(optionStr.replace(/"/g,'').replace(/'/g,''));*/




     $('#'+rowId).html(strForHtml);
    var tdIdForSelect = '#'+ individualId+'_selectRS_'+parentId;
           var decode = $(tdIdForSelect).html(optionStr2).text();
          decode = decode.replace(/"/g,'').replace(/'/g,'');
        $(tdIdForSelect).html(decode);

        console.log(optionStr2);



            

       rowId = individualId+'_rowid_'+parentId;
    $('#'+rowId+' td input')[0].value = nodeName;
      $('#'+rowId+' td input')[1].value = sDateName;
       $('#'+rowId+' td input')[2].value = eDateName;
       $('#'+rowId+' td input')[3].value = effortQuant;
        var selectObjForJq   = $('#'+rowId+' td select option')[effortType-1];
  
/*    console.log(selectObjForJq,'hiiiii','#'+rowId+' td select option');
*/      $(selectObjForJq).attr('selected',true);
        
        $('#'+rowId+' td input')[4].value =  percCompleted;

        
  
$(".datePicker").attr('readonly',true);
$(".datePicker").datepicker({
    dateFormat: 'dd/mm/yy',
    beforeShowDay: DisableSpecificDates,
    duration: "slow",
    beforeShow: findParentDate,
    onSelect: function(selected, evnt) {
        //console.log('selected is', selected, 'this.id is ', $(this).attr('id'), ' evnt is ', evnt);
        var endDateFlag = checkNature($(this).attr('id'));
         startDateEndDateValidation(endDateFlag,$(this));
         var parentRowId =  $(this).parent('td')
            parentRowId  =  $(parentRowId).parent('tr');
            parentRowId  = $(parentRowId).attr('id');
            updateAllArr(parentRowId,1);

         }

});


       
  /*    $('.datepicker').prop('readonly', true);
       //document.getElementById('datepicker1').disabled = false;
       if(endDateInDatePicker != "" ){
         sdate = $(this).datepicker('getDate');
           diff = (((((edate - sdate)/3600000)/24)+1)*9);
         console.log(diff);
         if(diff<=0&&diff>-100000){
         $(function(){
            alert('Error:Start Date cannot be greater than End Date');
          $.datepicker._clearDate(this);
          console.log(diff);
       }
     else{
       if($("#peffort").val()!='')
         {
          $("#peffort").focusout();
         }
     }
   }
 }*/
    
    

}


function checkNature(inputTextBoxId) {
    inputTextBoxId = '#' + inputTextBoxId;

    var tdVar = $(inputTextBoxId).parent('td');

    if ($(tdVar).next().children('input').hasClass('datePicker')) {
        startDateInDatePicker = $(inputTextBoxId).val();
        endDateInDatePicker = $(tdVar).next().children('input').val();
        getStartDateEndDateTime(startDateInDatePicker, endDateInDatePicker);
        return false;
    } else {
        startDateInDatePicker = $(tdVar).prev().children('input').val();
        endDateInDatePicker = $(inputTextBoxId).val();
        getStartDateEndDateTime(startDateInDatePicker, endDateInDatePicker);
        return true;

    }
}


function startDateEndDateValidation(endDateFlag,datepickerthis) {

    if (endDateFlag) {
        if (sdateTime != '') {
            var diff = (((((edateTime - sdateTime) / 3600000) / 24) + 1) * 9);
            if (diff <= 0 && diff > -100000) {
                alert('Error:Start Date cannot be greater than End Date');
                datepickerthis.val('');
            }
        }
    } else {
        if (sdateTime != '') {
            var diff = (((((edateTime - sdateTime) / 3600000) / 24) + 1) * 9);
            if (diff <= 0 && diff > -100000) {
                alert('Error:Start Date cannot be greater than End Date');
                          datepickerthis.val('');
                        }
        }
    }
}




function getStartDateEndDateTime(sDateInDatePicker, eDateInDatePicker) {
    edateTime = '', sdateTime = ''

    var startDateTime = ''
    var endDateTime = ''

    //End date is dd/mm/yyyy
    startDateTime = sDateInDatePicker.split('/');

    if (eDateInDatePicker != '') {

        endDateTime = eDateInDatePicker.split('/');
        if (endDateTime[2].length == 2) {
            endDateTime[2] = '20' + endDateTime[2];
        }
        endDateTime[1] = parseInt(endDateTime[1]) - 1;
        endDateTime[0] = parseInt(endDateTime[0]);
        endDateTime[2] = parseInt(endDateTime[2]);
        endDateTime = new Date(endDateTime[2], endDateTime[1], endDateTime[0]);
        endDateTime = endDateTime.getTime();


    }
    if (sDateInDatePicker != '') {
        startDateTime = sDateInDatePicker.split('/');

        if (startDateTime[2].length == 2) {
            startDateTime[2] = '20' + startDateTime[2];
        }
        startDateTime[0] = parseInt(startDateTime[0]);
        startDateTime[2] = parseInt(startDateTime[2]);
        startDateTime[1] = parseInt(startDateTime[1]) - 1;
        startDateTime = new Date(startDateTime[2], startDateTime[1], startDateTime[0]);

        startDateTime = startDateTime.getTime();
    }

    edateTime = endDateTime
    sdateTime = startDateTime


    // console.log(endDateTime);
}



function findParentDate(inputTextBox, par2) {
    var rowId = $(inputTextBox).parent('td').parent('tr').attr('id');
   // console.log('rowId is', rowId);
    var value = rowId.split('_');
    var individualId = parseInt(value[0]);
    var parentId = parseInt(value[2]);
    var rowParentId;
    var depth = -1
    var objForSecondTd = $('#' + rowId + ' td')[1];


    if (parentId == '0') {
        depth = 0
    } else if ($(objForSecondTd).hasClass('task')) {
        depth = 1;
    } else depth = 2;

/*    console.log('depth is ', depth);
*/
    if (depth == 0) {
        startDate = startDateOriginal;
        endDate = endDateOriginal;
    } else if (depth == 1) {

        rowParentId = '#' + parentId + '_rowid_' + '0';
        if ($(rowParentId + ' td input').length) {
            startDate = $(rowParentId + ' td input')[1].value;
            endDate = $(rowParentId + ' td input')[2].value;
        } else {
            startDate = $(rowParentId + ' td')[4].innerHTML;
            endDate = $(rowParentId + ' td')[5].innerHTML;

        }

    } else if (depth == 2) {

        rowParentId = -1;

        for (var i = 0; i < ultimateEndId; i++) {
            if ($('#' + parentId + '_rowid_' + i).length) {
                rowParentId = '#' + parentId + '_rowid_' + i;
                break;
            }

        }
        if (rowParentId == -1) {
            alert('Js error in depth =2 findParentDate');
        } else {
            if ($(rowParentId + ' td input').length) {
                startDate = $(rowParentId + ' td input')[1].value;
                endDate = $(rowParentId + ' td input')[2].value;
            } else {
                startDate = $(rowParentId + ' td')[4].innerHTML;
                endDate = $(rowParentId + ' td')[5].innerHTML;

            }
        }

    } else {
        alert('JS error in depth = else  findParentDate');

    }

    //console.log('rowParentId is ', rowParentId, '  startDate is ', startDate, ' endDate is ', endDate);

    var tdVar = $(inputTextBox).parent('td');

    if ($(tdVar).next().children('input').hasClass('datePicker')) {
        startDateInDatePicker = $(inputTextBox).val();
        endDateInDatePicker = $(tdVar).next().children('input').val();

    } else {
        startDateInDatePicker = $(tdVar).prev().children('input').val();
        endDateInDatePicker = $(inputTextBox).val();
    }

//console.log('startDateInDatePicker is ', startDateInDatePicker, 'endDateInDatePicker is ', endDateInDatePicker);
}

function hideAllOnSubmit() {

    $('.shadow').each(function() {

        if (!$(this).hasClass('donthide')) {
            $(this).hide();
        }

    });

    $('#statusSub').html('Submitted');
    $('th div').css('font-size', '12px');
}

function deleteRow(rowId, editFlag) {
/*deleteRRow*/    

var value = rowId.split('_');
    var individualId = value[0];
    var parentId = value[2];
    rowId = individualId + '_rowid_' + parentId;

    var objForSecondTd = $('#' + rowId + ' td')[1];
    if (parentId == '0') {
        depth = 0;
    } else if ($(objForSecondTd).hasClass('task')) {
        depth = 1;
    } else depth = 2;
    
    if (treeStructure[individualId].length) {
        alert('Please delete all children first');
        return;
    }


    if (editFlag) {
        if (!confirm('Are you sure you want to delete this row?')) {
            return;
        }

    }
    individualId = parseInt(individualId);
    var arrForTreeStr = treeStructure[parentId]
    arrForTreeStr.splice(arrForTreeStr.indexOf(individualId), 0);
    treeStructure[parentId] = arrForTreeStr;


    convertTonormalTr(-1, rowId, depth);
    updateAllArr(rowId, 0);
    console.log('rowid ', rowId);
    $('#' + rowId).addClass('deleteCss');

}




function DisableSpecificDates(date) {
    if(endDate==null||startDate==null||endDate==''||startDate==''){
return [true];
    }

    //console.log(date);
    var m = date.getMonth();
    var d = date.getDate();
    var y = date.getFullYear();
    var day = date.getDay();
  if(saturdayOffFlag==1){
 var weekEnds = [0,6]

     }
     else if(saturdayOffFlag ==0){
      var weekEnds = [0];
     }
     else {
      var weekEnds = [0];
     }
    var endDateTime = endDate.split('/'); //End date is dd/mm/yyyy
    var startDateTime = startDate.split('/');

    if (endDateTime[2].length == 2) {
        endDateTime[2] = '20' + endDateTime[2];
    }
    if (startDateTime[2].length == 2) {
        startDateTime[2] = '20' + startDateTime[2];
    }
    endDateTime[1] = parseInt(endDateTime[1]) - 1;
    startDateTime[1] = parseInt(startDateTime[1]) - 1;
    endDateTime[0] = parseInt(endDateTime[0]);
    endDateTime[2] = parseInt(endDateTime[2]);
    startDateTime[0] = parseInt(startDateTime[0]);
    startDateTime[2] = parseInt(startDateTime[2]);


    endDateTime = new Date(endDateTime[2], endDateTime[1], endDateTime[0]); //(yyyy,mm,dd)
    // console.log(endDateTime);
    startDateTime = new Date(startDateTime[2], startDateTime[1], startDateTime[0]);
    startDateTime = startDateTime.getTime();
    endDateTime = endDateTime.getTime();

    // First convert the date in to the mm-dd-yyyy format 
    // Take note that we will increment the month count by 1 
    var currentDateTime = new Date(y, m, d);
    currentDateTime = currentDateTime.getTime();






    if (startDateTime > currentDateTime) {
        return [false];

    } else if (currentDateTime > endDateTime) {
        return [false];

    } 

    else if(holidayArrGetTime.indexOf(currentDateTime)!=-1){

        return [false];
    }
    else if(weekEnds.indexOf(day)!=-1){
              return [false];
    }

  else {
        return [true];
    }


}


function initializeJquery(){
/*inittialize*/
setTimeout(function(){
  $('.editRowClass').click();
$('input[type="text"]').css('border',0);
$('input[type="text"],.textBoxesCss,input[type="number"]').addClass('allTextAndNumberBoxes');
$('.datepicker').addClass('allTextAndNumberBoxes');
$('.selectEffEditAdd').addClass('selectClassForJq');
$('.ddResources').addClass('ddResourcesForJq');

$('.allTextAndNumberBoxes').focusout(function(){


var tdEle = $(this).parent('td');
     tdEle = $(tdEle).parent('tr');
     tdEle = $(tdEle).attr('id'); 

updateAllArr(tdEle,1);

});

$('.selectClassForJq').change(function(){


var tdEle = $(this).parent('td');
     tdEle = $(tdEle).parent('tr');
     tdEle = $(tdEle).attr('id'); 

updateAllArr(tdEle,1);


});

$('.ddResourcesForJq').change(function(){
  var tdEle = $(this).parent('td');
     tdEle = $(tdEle).parent('tr');
     tdEle = $(tdEle).attr('id'); 

updateAllArr(tdEle,1);


});

//$('.textboxEffEditAddJq').spinner();


},100);



}


function initializeJqueryUnderConstruction(){
var dropDownSelectValue,effortQuant,endDateTimeForEffort = [];;
$('.textBoxEffEditAddJq').focusout(function(){
       if(startDateInDatePicker=='') return;
    var startDateTimeForEffort = startDateInDatePicker.split('/');
             
             startDateTimeForEffort[0] = parseInt(startDateTimeForEffort[0]);
             startDateTimeForEffort[1] = parseInt(startDateTimeForEffort[1])-1;
             if(startDateTimeForEffort[2].length==2){
             startDateTimeForEffort[2] = '20'+ startDateTimeForEffort[2];
              }
              startDateTimeForEffort[2] = parseInt(startDateTimeForEffort[2]);




    dropDownSelectValue = $(this).next().val();
    effortQuant         =  $(this).val();
    if(dropDownSelectValue==1){
      
               effortQuant = ((effortQuant/workingHoursInADay)+'').split('.')

               if(effortQuant.length>1){
                  effortQuant = effortQuant[0] + 1;
                }
                else{
                       effortQuant = effortQuant;
                    }

         }
       if(dropDownSelectValue==3){
              effortQuant = effortQuant*7;
 
         }
         if(dropDownSelectValue==4){

             
              startDateTimeForEffort[2] = parseInt(startDateTimeForEffort[2]);
            
            endDateTimeForEffort[0]   =  startDateTimeForEffort[0];
            endDateTimeForEffort[1]   =   startDateTimeForEffort[1] + effortQuant;
            endDateTimeForEffort[2]    =   startDateTimeForEffort[2];
      startDateTimeForEffort = new Date(startDateTimeForEffort[2],startDateTimeForEffort[1],startDateTimeForEffort[0]);
startDateTimeForEffort = startDateTimeForEffort.getTime();
endDateTimeForEffort = new Date(endDateTimeForEffort[2],endDateTimeForEffort[1],endDateTimeForEffort[0]);
   endDateTimeForEffort = endDateTimeForEffort.getTime();
             effortQuant = (((((endDateTimeForEffort - startDateTimeForEffort) / 3600000) / 24) + 1) * 1);

            }
            if(dropDownSelectValue==5){

            
             
           
            endDateTimeForEffort[0]   =  startDateTimeForEffort[0];
            endDateTimeForEffort[1]   =   startDateTimeForEffort[1];
            endDateTimeForEffort[2]    =   startDateTimeForEffort[2] + effortQuant;
      startDateTimeForEffort = new Date(startDateTimeForEffort[2],startDateTimeForEffort[1],startDateTimeForEffort[0]);
startDateTimeForEffort = startDateTimeForEffort.getTime();
endDateTimeForEffort = new Date(endDateTimeForEffort[2],endDateTimeForEffort[1],endDateTimeForEffort[0]);
    endDateTimeForEffort = endDateTimeForEffort.getTime();

             effortQuant = (((((endDateTimeForEffort - startDateTimeForEffort) / 3600000) / 24) + 1) * 1);


}






if(endDateTimeForEffort==[]){
endDateTimeForEffort = new Date(startDateTimeForEffort[2],startDateTimeForEffort[1],startDateTimeForEffort[0]+effortQuant);
endDateTimeForEffort = endDateTimeForEffort.getTime();
startDateTimeForEffort = new Date(startDateTimeForEffort[2],startDateTimeForEffort[1],startDateTimeForEffort[0]);
}

for(var i = startDateTimeForEffort ; i<=endDateTimeForEffort; i = i + (3600000*24)){
if(holidayArrGetTime.indexOf(i)!=-1){
  effortQuant++;

}

}






    var m = endDateTimeForEffort.getMonth() + 1;
    var d = endDateTimeForEffort.getDate();
    var y = endDateTimeForEffort.getFullYear();
if(m.length==1){
  m = '0' + m;
}
if(d.length ==1){
  d = '0' + d;
}

     



 
  
   
});




}





 
</script>
<html>
<body style="overflow-x:none ">
<div class="se-pre-con"></div>

<div class="row secondry-color" style=" margin-left: 0px; margin-right: 0px;padding-bottom: 2%;overflow:none ">
	<div  style="padding-top: 17px;padding-bottom: 4px;
" class = 'col-md-12'>
	<!-- 	<label>Select Project</label> -->
	<div class = 'col-md-2'>
			Status : <b id = 'statusSub'>Draft</b>       
		</div>
		<div class = 'col-md-1'>
    <span>Project :</span>
  </div>
      <div class = 'col-md-4'>

		<select class="form-control" style="width: 300px;margin-top: -1%;" id ='proSel'>
      <%for(var i = 0;i<projectDetails.length;i++){%>
			<option value = '<%=projectDetails[i].id%>'><%=projectDetails[i].projectTitle%></option>
      <%}%>
		</select>
		</div>

    <div class = 'col-md-2'><b>Start Date :</b> <%=prStartDate%></div>
    <div class = 'col-md-2'><b>End Date :</b> <%=prEndDate%></div>

	</div>
	<div class="col-md-12" id="taskBox" style="/*height: 440px;max-height:440px;*/margin-top: 5px;margin-right: 1%;border: #f05f40 solid;background-color: white;padding-bottom: 2%;">
		
		<div class="addTask">
	
			 	<table border = '3' style = "width:100%" id = "projTable">
			 		   <col width="40">
                       <col width="10">
                       <col width="10">
                       <col width="15">
                       <col width="15">
                       <col width="5">
                       <col width="5">
			 		<thead>
			 			<tr id = '0_rowid_-1'>
			 			<th style = "width:4%">#</th>
			 			<th style = "width:35%">Name</th><th style = "width:5%"><img src="../img/bug/addbug.png" class="shadow" id = '0_add_-1' onclick="addRow(this.id)" height="18px" title="Add Phase" width="18px"><div style = 'font-size:8px;'>Add Phase</div></th><th style = "width:5%">Delete</th><th style = "width:9%">Start</th><th style = "width:9%">End</th><th style = "width:9%">Effort</th>
			 			<th style = "width:3%"> % Completed</th>
			 			<th style = "width:9%">Dependencies</th>
            <th style = "width:9%">Resources</th>
			 		</tr>
			 		</thead>
			 		<tbody id = 'tbody123'>

			 		
		<!-- 	<tr>
    <td class="phase bold1"><img src="../img/project/minus.png" class="shadow" height="18px" title="Add Phase" width="18px" style="margin-right:5px;">Fusion</td>
    <td class="images1 bold1"><img src="../img/bug/addbug.png" class="shadow" height="18px" title="Add Phase" width="18px"> </td>
    <td class="images1 bold1"><img src="../img/write.png" height="22px" class="shadow" title="Add Phase" width="22px"></td>
    <td class="dateCSS bold1">12/08/15</td>
    <td class="dateCSS bold1">12/09/15</td>
    <td class="effCSS bold1">asdasd</td>

</tr>
<tr>

    <td class="task"><img src="../img/project/plus.png" class="shadow" height="18px" title="Add Phase" width="18px" style="margin-right:5px;">Bug</td>
    <td class="images1 bold1"><img src="../img/bug/addbug.png" class="shadow" height="18px" title="Add Phase" width="18px"> </td>
    <td class="images1 bold1"><img src="../img/write.png" height="22px" class="shadow" title="Add Phase" width="22px"></td>
    <td class="dateCSS ">12/08/15</td>
    <td class="dateCSS ">12/09/15</td>
    <td class="effCSS ">asdasd</td>
</tr>
<tr>
    <td class="task"><img src="../img/project/plus.png" class="shadow" height="18px" title="Add Phase" width="18px" style="margin-right:5px;">Timesheet</td>
    <td class="images1 "><img src="../img/bug/addbug.png" class="shadow" height="18px" title="Add Phase" width="18px"> </td>
    <td class="images1 "><img src="../img/write.png" height="22px" class="shadow" title="Add Phase" width="22px"></td>
    <td class="dateCSS ">12/08/15</td>
    <td class="dateCSS ">12/09/15</td>
    <td class="effCSS ">23<span><select><option value = 'Hrs'></option></span></td>
</tr>
<tr>
    <td class="task "><img src="../img/project/plus.png" class="shadow" height="18px" title="Add Phase" width="18px" style="margin-right:5px;">Asset</td>
    <td class="images1 "><img src="../img/bug/addbug.png" class="shadow" height="18px" title="Add Phase" width="18px"> </td>
    <td class="images1 "><img src="../img/write.png" height="22px" class="shadow" title="Add Phase" width="22px"></td>
    <td class="dateCSS ">12/08/15</td>
    <td class="dateCSS ">12/09/15</td>
    <td class="effCSS ">asdasd</td>

</tr>
<tr>
    <td class="task "><img src="../img/project/minus.png" class="shadow" height="18px" title="Add Phase" width="18px" style="margin-right:5px;">Hr</td>
    <td class="images1 "><img src="../img/bug/addbug.png" class="shadow" height="18px" title="Add Phase" width="18px"> </td>
    <td class="images1 "><img src="../img/write.png" height="22px" class="shadow" title="Add Phase" width="22px"></td>
    <td class="dateCSS ">12/08/15</td>
    <td class="dateCSS ">12/09/15</td>
    <td class="effCSS ">asdasd</td>

</tr>
<tr>
    <td class="subtask"><img src="../img/project/button.png" class="shadow" height="18px" title="Add Phase" width="18px" style="margin-right:5px;">Raise Requisition </td>
    <td class="images1 "></td>
    <td class="images1 ">
    <img src="../img/write.png" height="22px" class="shadow" title="Add Phase" width="22px">
    </td>
    <td class="dateCSS ">12/08/15</td>
    <td class="dateCSS ">12/09/15</td>
    <td class="effCSS ">asdasd</td>

</tr>
<tr>
    <td class="subtask "><img src="../img/project/button.png" class="shadow" height="18px" title="Add Phase" width="18px" style="margin-right:5px;"><input type = "text" class = ""></td>
    <td class="images1 "> </td>
    <td class="images1 "><img src="../img/project/greentick.jpg" height="18px" class="shadow" title="Add Phase" width="18px">
    <img src="../img/project/blackDustbin.jpg" height="18px" class="shadow" title="Add Phase" width="18px"></td>
    <td class="dateCSS "><input type = "text" class = ""></td>
    <td class="dateCSS "><input type = "text" class = ""></td>
    <td class="effCSS "><input type = "text" class = ""></td>

</tr>
<tr>
    <td class="subtask "><img src="../img/project/button.png" class="shadow" height="18px" title="Add Phase" width="18px" style="margin-right:5px;">Interviewer Page</td>
    <td class="images1 "> </td>
    <td class="images1 "><img src="../img/write.png" height="22px" class="shadow" title="Add Phase" width="22px"></td>
    <td class="dateCSS ">12/08/15</td>
    <td class="dateCSS ">12/09/15</td>
    <td class="effCSS ">asdasd</td>

</tr>	
<tr>
    <td class="task "><img src="../img/project/plus.png" class="shadow" height="18px" title="Add Phase" width="18px" style="margin-right:5px;">Expense</td>
    <td class="images1 "><img src="../img/bug/addbug.png" class="shadow" height="18px" title="Add Phase" width="18px"> </td>
    <td class="images1 "><img src="../img/write.png" height="22px" class="shadow" title="Add Phase" width="22px"></td>
    <td class="dateCSS ">12/08/15</td>
    <td class="dateCSS ">12/09/15</td>
    <td class="effCSS ">asdasd</td>

</tr>	 -->	 		
			 		</tbody>			 		
			 	</table>
			 
			</div>
		<div>
		</div>	 
	</div>
	<!--  <div style = ''> -->
	 <button type="button" class="btn btn-success" style=" margin-bottom: -6%;height: 30px;background-color: #f05f40;border-color: #f05f40;margin-top:1%;margin-left:85%;" onclick="savethis(0,1)">Save</button>
    <button type="button" class="btn btn-success" style=" margin-bottom: -1%;height: 30px;background-color: #f05f40;border-color: #f05f40;margin-top:1%;margin-left:91%;" onclick="savethis(1,1)">Submit</button>
<!--     <div>
 --></body>
</div>

</html>
		
 <% include ../partials/footer %>	
 

   <!------------------------------editTask/addSubTask---------------------------->
        <div class="modal fade" id="taskModal" style="height:auto">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" id="express2">
                    <div class="modal-header" style="background-color:#f05f40;height:40px">
                       <center>
                             <h4 id="taskModalHeading" class="modal-title" style="color:white;font-size:14pt;margin-top: -8px"></h4>
                              <project/button type="project/button" class="close" data-dismiss="modal" style="float:right;margin-top: -28px">&times;</project/button>
                             </center>
                    </div>
                    <div class="modal-body" id="iremarkdiv" style="margin:10px;height: 300px">
                    	<input type="text" style="margin-bottom: 5px" id="eTitle" class="form-control" placeholder="+ add title for your task">
			 	<textarea style="float:left;width:100%;" id="eDiscription"  maxlength="10000" class='form-control description'></textarea>
			 	<table style="width: 100%;margin-top: 5px">
			 		<tr>
			 			<td>
			 				<input type="text" id="eStartDate" class="form-control date" placeholder="start date"  >
			 			</td>
			 			<td>
			 				<input type="text" id="eEndDate" class="form-control date" placeholder="end date" >
			 			</td>
			 			<td>
			 				<!-- <label>Phases</label> -->
							 	<select id="ePhase" class="form-control">
							 		<option>Phase</option>
							 		<option>Designing</option>
							 		<option>Development</option>
							 	</select>
			 			</td>
			 			<td>
			 				<!-- <label>Resources</label> -->
						 	<select id="eResources" class="form-control">
						 		<option>Resources</option>
						 	</select>
			 			</td>
			 			<td>
			 				<input type="number" id="eEffort" class="form-control" max="400" placeholder="+ effort">
			 			</td>
			 		</tr>
			 	</table>
			 	<input type="text" class="hide" id="flag" value="">
			 	<input type="text" class="hide" id="parentRowId" value="">
			 	<input type="text" class="hide" id="jValue" value="">
			 	<span class="glyphicon glyphicon-floppy-disk" id="esave" title="save" data-dismiss="modal"   style="color: black;float: right;font-size: 18px;margin: 18px"></span>
                    </div>
                </div>
            </div>
        </div>