<% include ../partials/head %>  
    <% include ../partials/adminheader %>
<%include menu1.ejs%>

    <title>Requisitions</title>
  
    <body> 
        <style> 

    .dataTables_filter {
     display: none;
    }
 
    </style>

   
      <div class="secondry-color" style=" overflow: hidden;padding: 2%;padding-top:3%">
        <span class="fusion-page-title">All Requisition</span>
        <div class="row fusion-table-container">
            <div class="row fusion-table-top-section" align="center">
                <div></div>
                <div class="fusion-table-search-container">
                    <label>Search: </label><input type="search" class="form-control input-sm fusion-table-search" id="searchbox">
                </div>
            </div>
            <div class="table-responsive">
            <table id="openreqstate1" class="table  cell-border responsive" style="font-size:13px;width:100%;margin-top:1%">
                <thead>
                    <tr>
                        <th style="text-align:center">Title</th>
                        <th style="text-align:center">Skills</th>
                        <th style="text-align:center"># Positions</th>
                        <th style="text-align:center">Experience</th>
                        <th style="text-align:center">Raised By</th>
                        <th style="text-align:center">Assigned To</th>
                        <th style="text-align:center">Status</th>
                        <th style="text-align:center; width:200px">Action</th>
                        <th class="hide">xcx</th>
                    </tr>
                </thead>
                <tbody style="margin-top:7%;padding-top:7%">
                    <%for(var i=0;i<pdetails.length;i++){%>
                        <tr id="row_<%=i%>">
                            <td style="width:40%;text-align:center">
                                <a onclick="reqData(<%=pdetails[i].id%>,'show',7)" data-toggle="modal" data-target="#jdDetailModal" style="color:black;cursor:pointer">
                                    <%=pdetails[i].title%>
                                </a>
                            </td>
                            <td style="text-align:center">
                                <%=pdetails[i].skills%>
                            </td>
                            <td style="width:10%;text-align:center">
                                <%=pdetails[i].positions%>
                            </td>
                            <td style="width:10%;text-align:center">
                                <%=pdetails[i].experience%>
                            </td>
                             <td style="width:10%;text-align:center">
                                <%=pdetails[i].createdByName%>
                            </td>
                             <td id="assign_<%=pdetails[i].id%>">
                                <%if(pdetails[i].assignedTofirstName!=null){%>
                                    <%=pdetails[i].assignedTofirstName%>
                                        <%}else{%><i class="fa fa-ellipsis-h" style="font-size:130%;color:grey" title="Pending for your approval"></i>
                                            <%}%>
                            </td>
                          
                             <%if(pdetails[i].isConfirmed==2){%> 
                                <td><i class="fa fa-check" style="font-size:130%;color:green" title="Approved"></i></td>
                                <%}else if(pdetails[i].isConfirmed==-2){%>
                                    <td><i class="fa fa-times" style="font-size:130%;color:red" title="Rejected"></i></td> 
                                <%}else if(pdetails[i].isConfirmed==1&&myRmsRole.indexOf(6)>=0) {%>
                                <td><i class="fa fa-ellipsis-h" style="font-size:130%;color:grey" title="Pending for your approval"></i></td>
                                   <%}else if(pdetails[i].isConfirmed==1&&myRmsRole.indexOf(5)>=0){%>
                                    <td><i class="fa fa-ellipsis-h" style="font-size:130%;color:black" title="Pending for 2nd level approval"></i></td>
                                <%}else{%> 
                                <td><i class="fa fa-ellipsis-h" style="font-size:130%;color:grey" title="Pending for first level approval"></i></td>
                                <%}%>
                            <td>
                                <span>
                                <%if(myRmsRole.indexOf(3)>=0||myRmsRole.indexOf(5)>=0){%>
                                <i class="glyphicon glyphicon-book" id="clone_<%=i%>" data-toggle='modal' data-target='#mymodal' style = "color:gray;margin:1%;" title = "Copy Requisition" onclick = "reqData(<%=pdetails[i].id%>,'copy',<%=pdetails[i].isConfirmed%>)"></i>
                                </span>
                                <span style="padding-right:5px;padding-left:5px">
                                <i class="glyphicon glyphicon-pencil" data-toggle='modal' data-target='#mymodal' id="pencil_<%=i%>" style="color:gray;margin:1%;" onclick="reqData(<%=pdetails[i].id%>,'edit',<%=pdetails[i].isConfirmed%>)" title="Edit Requisition"></i>
                                </span>
                                <span>
                                 <%if(pdetails[i].isConfirmed!=-2&&pdetails[i].isConfirmed!=2&&pdetails[i].createdBy==userId){%>
                                <i class="glyphicon glyphicon-trash" id = "trash_<%=i%>" style = "color:gray;margin:1%;" title = "Delete Requisition" onclick = "delteRequisition(this.id)"></i>
                                <%}%>
                                </span>
                               
                                <%}%>
                                <%if(myRmsRole.indexOf(6)>=0){%> 
                                 <%if(pdetails[i].isConfirmed ==1){ %>
                               <span> <i class="glyphicon glyphicon-ok" style="font-size:130%;cursor:pointer;color:#10980E" title="Click to Approve" id="toApprove"  onclick="updateStatusReq(1,<%=pdetails[i].id%>)"></i></span>
                                    <span><i class="glyphicon glyphicon-remove" style="font-size:130%;cursor:pointer;color:#DC2F2F;margin-left:10px" title="Click to Reject" onclick="updateStatusReq(0,<%=pdetails[i].id%>)"></i></span>
                                <%}}else if(myRmsRole.indexOf(5)>=0){%>
                                    <%if(pdetails[i].createdBy!=userId&&(pdetails[i].isConfirmed == 0)){ %>
                                    <span> <i class="glyphicon glyphicon-ok" style="font-size:130%;cursor:pointer;color:#10980E" title="Click to Approve" id="toApprove"  onclick="updateStatusReq(1,<%=pdetails[i].id%>)"></i></span>
                                   <span> <i class="glyphicon glyphicon-remove" style="font-size:130%;cursor:pointer;color:#DC2F2F;margin-left:10px" title="Click to Reject" onclick="updateStatusReq(0,<%=pdetails[i].id%>)"></i></span>
                                    <%}}%>
                            </td>

                            <td id="hid_<%=i%>" class="hide">
                                <%=pdetails[i].id%>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
        </div>
            </div>
        </div>
</div>

<% include ../partials/footer %> 

</body> 


      <div class="modal fade" id="jdDetailModal" role="dialog">
            <div class="modal-dialog modal-lg" style="">
                <div class="modal-content" style=" ">
                    <div class="modal-header"  >
                        <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px">&times;</button>
                        <center>
                            <h4 id="dModalHeading" class="modal-title"  style="color:white">Requisition Details</h4></center>
                    </div>
                    <div class="modal-body table-responsive" style="">

                    <table style="" class="table">
                        <tr>
                            <td>
                                <td><label class="form-Label">Job Title :</label></td>
                                <td><label class="detailLabelContent" style=" " id="djobTitle"></label></td>
                            </td>
                            <td>
                                <td><label class="form-Label">Designation :</label></td>
                                <td><label class="detailLabelContent" style=" " id="ddesig"></label></td>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <td>    <label class="form-Label">Location :</label> </td>
                                <td>
                                    <label class="detailLabelContent" style=" " id="dlocation"></label> </td>
                            </td>
                            <td>
                                <td><label class="form-Label">Skills :</label> </td>
                                <td> 
                                    <span class="detailLabelContent"  id="dskillsId"></span></td>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <td><label class="form-Label">Minimum Salary :</label></td>
                                <td>
                                    <label class="detailLabelContent" style=" " id="dminsal"></label></td>
                            </td>
                            <td>
                                <td> <label class="form-Label">Maximum Salary :</label></td>
                                <td> <label class="detailLabelContent" style=" " id="dmaxsal"></label> </td>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <td><label class="form-Label"># positions :</label>
                                   </td>
                                <td> <label class="detailLabelContent" style=" " id="dnoOfPositions"></label>  </td>
                            </td>
                            <td>
                                <td><label class="form-Label">Years Of Experience  :</label>
                                    </td>
                                <td> <label class="detailLabelContent" style=" " id="dyox"></label></td>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <td><label class="form-Label">Suggested Interviewer :</label>
                                    </td>
                                <td><label class="detailLabelContent" style=" " id="drec"></label>  </td>
                            </td>
                            <td>
                                <td> <label class="form-Label">Assigned HR  :</label>
                                    </td>
                                <td> <label class="detailLabelContent" style=" " id="dadminhr"></label></td>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <td>
                                    <label class="form-Label">Expiry Date :</label> 
                                </td>
                                <td>
                                     <label class="detailLabelContent" style=" " id="dexpiresOn"></label>
                                </td>
                            </td>
                            <td>
                                <td>  <label class="form-Label">Priority  :</label> </td>
                                <td> <label class="detailLabelContent" style=" " id="dpriority"></label></td>
                            </td>
                             
                        </tr>
                    </table>


                        <div id="" class="row" style="margin-top:10px;background-color:white;">
                            
                                <ul class="nav nav-tabs" style="background-color:none;font-size:13px">
                                    <li class="active"><a data-toggle="tab" style="color:grey" href="#ddiscription">Job Description</a></li>
                                    <li><a data-toggle="tab" style="color:grey" href="#dhistory">History</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="ddiscription" class="tab-pane fade in active" style="margin-top:2%;">
                                    </div>
                                    <div id="dhistory" class="tab-pane fade table-responsive" style="height:100px;overflow-y:scroll;margin-top:2%;">

                                            <table id="dhistoryTable" style="font-size:12px;">
                                            </table>

                                            <p></p>
                                    </div>
                                </div>
                            
                        </div>

                    </div>

                </div>
            </div>
        </div>
        </div>
 
<div class="modal fade" id="mymodal" role="dialog" >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form onsubmit='return validateForm()' id="raise-requisition" name="myform" class="max-width" method="post" action="/raiseRequisition">
          <div class="modal-header">
              <button type="button" onClick="window.location.href='/allrequisitions'" class="close">&times;</button>
              <h4 id="ModalHeading" class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <div class="row fusion-form-elements">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label>Job Title:<sup class="astrick">*</sup></label>
                <input name="JobTitle" type="text" id="jobTitle" class="form-control input-sm addUsed addDisable"  maxlength="250" required>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label>Designation:<sup class="astrick">*</sup></label>
                <select id="browsers"  class="form-control input-sm addUsed addDisable" name="designation" required>
                            
                    <%for(var i = 0 ;i<designation.length;i++){%>
                        <option id="skillsm_<%=designation[i].desigId%>" value="<%=designation[i].desigId%>">
                            <%=designation[i].desigName%>
                        </option>
                        <%}%>
                </select>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label>Skills:<sup class="astrick">*</sup></label>
                <select max-size="1" multiple class="form-control input-sm " id='skillsId' name="skills">
                            
                    <%for(var i = 0 ;i<skills.length;i++){%>
                        <option id="skills_<%=skills[i].id%>" value="<%=skills[i].id%>"><%=skills[i].skills%></option>
                        <%}%>
                </select>
                <label id="skillLabel" class="hide"></label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label>Location:<sup class="astrick">*</sup></label>
                <select name="Location" id="location" class="form-control input-sm addUsed addDisable"  required>
                             
                    <%for(var i = 0 ;i<cities.length;i++){%>
                        <option id="skills_<%=cities[i].id%>" value="<%=cities[i].id%>">
                            <%=cities[i].location%>
                        </option>
                        <%}%>
                </select>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label>positions:<sup class="astrick">*</sup></label>
                <input type = 'text'  style = 'display:none;' id = 'locationnameId' name = 'locationName'>
                <input name="NoOfPostions" placeholder="no. of positions" class="form-control input-sm" id="nop" type="number"  required max="9999999" min="1" required>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label>Experience:<sup class="astrick">*</sup></label>
                <input name="YearsOfExp"  class="form-control input-sm addUsed addDisable" id="yox" placeholder="Yrs" type="text" step="0.1"  maxlength="10"   required>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label>Expires On:<sup class="astrick">*</sup></label>
                <input class="form-control input-sm" placeholder="no. of positions" name="ExpiresOn" id="expiresOn" type="text" required>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label>Admin-HR:<sup class="astrick">*</sup></label>
                <select name="adminhr" id="adminhr" class="form-control input-sm addUsed addDisable"  required>
                         
                    <%for(var i = 0 ;i<adminhr.length;i++){%>
                        <option id="skills_<%=adminhr[i].id%>" value="<%=adminhr[i].id%>">
                            <%=adminhr[i].firstName%>
                        </option>
                        <%}%>
                </select>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label>Priority:<sup class="astrick">*</sup></label>
                <select name="mailPriority" class="form-control input-sm addUsed " id="priority"   >
                    <option id="0" selected>select</option>
                    <%for(var i = 0 ;i<priority.length;i++){%>
                        <option id="priority_<%=priority[i].id%>" value="<%=priority[i].id%>">
                            <%=priority[i].priority%>
                        </option>
                        <%}%>
                </select>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label>Minimum Salary:<sup class="astrick">*</sup></label>
                <input name="MinimumSalary" id="minsal" class="form-control input-sm addUsed addDisable" placeholder="min. salary" type="number"  min="1" max="1000000000">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label>Maximum Salary:<sup class="astrick">*</sup></label>
                <input name="MaximumSalary" id="maxsal" class="form-control input-sm addUsed addDisable" placeholder="max. salary" type="number"  min="1" max="10000000000"  >
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label>Suggested Interviewer:<sup class="astrick">*</sup></label>
                <input name="RecruiterName" class="form-control input-sm addUsed addDisable" id="rec" type="text"  maxlength="50" placeholder="name of Interviewer">
              </div>
            </div>
            <div class="row">
                <ul class="nav nav-tabs" style="background-color:none;font-size:13px">
                    <li class="active"><a data-toggle="tab" style="color:grey" href="#jd">Job Description</a></li>
                    <li><a data-toggle="tab" style="color:grey" href="#history">History</a></li>
                </ul>
                <div class="tab-content">
                    <div id="jd" class="tab-pane fade in active" style="margin-top:2%;">
                        <textarea class="ckeditor" name="Description" row="3" id="Description" maxlength="2000" placeholder="JobDescription"></textarea>
                        (max. 4000 characters.)
                    </div>
                    <div id="history" class="tab-pane fade table-responsive" style="height:100px;overflow-y:scroll;margin-top:2%"> 
                        <table id="historyTable" style="font-size:12px; ;">
                        </table>

                        <p></p>
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <input name="flag" id="flag1" type="text" style="width:100%" class="hide">
            <input name="ide" id="ide" type="text" style="width:100%" class="hide">   
            <button type="submit" class="btn"><i class="fa fa-save"></i> Submit</button>
          </div>
        </form>
      </div>
    </div>
</div>

       <!--  <div class="modal fade" id="mymodal" role="dialog" style="top:-23px; " data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="margin:0px;">
                    <div class="modal-header" style="background-color:#f05f40;height:40px">
                        <button type="button" onClick="window.location.href='/allrequisitions'" class="close"  style="margin-top:-10px">&times;</button></a>
                        <center>
                            <h4 id="ModalHeading" class="modal-title" style="color:white;font-size:14pt;margin-top:-5px"></h4></center>
                    </div>
                    <div class="modal-body" >
                        <form onsubmit='return validateForm()' id="raise-requisition" name="myform" class="max-width" method="post" action="/raiseRequisition" style="">


                            <div class="row" style="margin-top:1%;margin-bottom:1%">
                                <div class="col-md-1 col-md-offset-5" id="submitButton">
               
                                </div>
                            </div> 
          <div class="row ">
                <div class="col-md-4 ">
                    <div class="col-md-4">
                    <label class="form-Label">Job Title:<sup class="astrick">*</sup></label>
                    </div>
                    <div class="col-md-8">
                    <input name="JobTitle" type="text" id="jobTitle" class="form-text-box addUsed addDisable" style="width:100%" maxlength="250" required>
                    </div>        
                </div>
                 <div class="col-md-4">
                    <div class="col-md-4">
                    <label class="form-Label">Designation:<sup class="astrick">*</sup></label>
                    </div>
                    <div class="col-md-8">
                     <select id="browsers" style="width:100%;" class="form-text-box addUsed addDisable" name="designation" required>
                            
                            <%for(var i = 0 ;i<designation.length;i++){%>
                                <option id="skillsm_<%=designation[i].desigId%>" value="<%=designation[i].desigId%>">
                                    <%=designation[i].desigName%>
                                </option>
                                <%}%>
                        </select>
                    </div>        
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                    <label class="form-Label">Skills:<sup class="astrick">*</sup></label>
                    </div>
                    <div class="col-md-8"  >
                    <select max-size="1" multiple class="form-text-box " style="max-height:9%;overflow-y:auto;width:100%" id='skillsId' name="skills">
                            
                            <%for(var i = 0 ;i<skills.length;i++){%>
                                <option id="skills_<%=skills[i].id%>" value="<%=skills[i].id%>"><%=skills[i].skills%></option>
                                <%}%>
                        </select>
                        <label id="skillLabel" class="hide"></label>
                    </div>        
                </div>
            </div> 
             <div class="row" style="margin-top:5px" >
               <div class="col-md-4">
                    <div class="col-md-4">
                    <label class="form-Label">Location:<sup class="astrick">*</sup></label>
                    </div>
                    <div class="col-md-8">
                      <select name="Location" id="location" class="form-text-box addUsed addDisable" style="width:100%;" required>
                             
                            <%for(var i = 0 ;i<cities.length;i++){%>
                                <option id="skills_<%=cities[i].id%>" value="<%=cities[i].id%>">
                                    <%=cities[i].location%>
                                </option>
                                <%}%>
                        </select>
                    </div>        
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                    <label class="form-Label">#positions:<sup class="astrick">*</sup></label>
                    </div>
                    <div class="col-md-8">
                     <input type = 'text'  style = 'display:none;' id = 'locationnameId' name = 'locationName'>
                      <input name="NoOfPostions" placeholder="no. of positions" class="form-text-box" id="nop" type="number" style="width:100%" required max="9999999" min="1" required>
                    </div>        
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                    <label class="form-Label">Experience:<sup class="astrick">*</sup></label>
                    </div>
                    <div class="col-md-8">
                    <input name="YearsOfExp"  class="form-text-box addUsed addDisable" id="yox" placeholder="Yrs" type="text" step="0.1" style="width:100%" maxlength="10"   required>
                    </div>        
                </div>
            </div>
          <div class="row" style="margin-top:5px">
                <div class="col-md-4">
                    <div class="col-md-4">
                    <label class="form-Label">Expires On:<sup class="astrick">*</sup></label>
                    </div>
                    <div class="col-md-8">
                    <input style=" width:100%" class="form-text-box" placeholder="no. of positions" name="ExpiresOn" id="expiresOn" type="text" required>
                    </div>        
                </div>
                  <div class="col-md-4">
                    <div class="col-md-4">
                    <label class="form-Label">Admin-HR:<sup class="astrick">*</sup></label>
                    </div>
                    <div class="col-md-8">
                   <select name="adminhr" id="adminhr" class="form-text-box addUsed addDisable" style="width:100%;" required>
                         
                        <%for(var i = 0 ;i<adminhr.length;i++){%>
                            <option id="skills_<%=adminhr[i].id%>" value="<%=adminhr[i].id%>">
                                <%=adminhr[i].firstName%>
                            </option>
                            <%}%>
                    </select>
                    </div>        
                </div>
                 <div class="col-md-4">
                    <div class="col-md-4">
                    <label class="form-Label">Priority :</label>
                    </div>
                    <div class="col-md-8">
                     <select name="mailPriority" class="form-text-box addUsed " id="priority" style="width:100%;"  >
                            <option id="0" selected>select</option>
                            <%for(var i = 0 ;i<priority.length;i++){%>
                                <option id="priority_<%=priority[i].id%>" value="<%=priority[i].id%>">
                                    <%=priority[i].priority%>
                                </option>
                                <%}%>
                        </select>
                    </div>        
                </div>
            </div>
             <div class="row" style="margin-top:5px">
                 <div class="col-md-4">
                    <div class="col-md-4">
                    <label class="form-Label">Minimum Salary:</label>
                    </div>
                    <div class="col-md-8">
                    <input name="MinimumSalary" id="minsal" class="form-text-box addUsed addDisable" placeholder="min. salary" type="number" style="width:100%" min="1" max="1000000000">
                    </div>        
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                    <label class="form-Label">Maximum Salary: </label>
                    </div>
                    <div class="col-md-8">
                     <input name="MaximumSalary" id="maxsal" class="form-text-box addUsed addDisable" placeholder="max. salary" type="number" style="width:100%" min="1" max="10000000000"  >
                    </div>        
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                    <label class="form-Label">Suggested Interviewer:</label>
                    </div>
                    <div class="col-md-8">
                    <input name="RecruiterName" class="form-text-box addUsed addDisable" id="rec" type="text" style="width:100%" maxlength="50" placeholder="name of Interviewer">
                    </div>        
                </div>
            </div>          
            <div class="row" style="margin:1%">
                <ul class="nav nav-tabs" style="background-color:none;font-size:13px">
                    <li class="active"><a data-toggle="tab" style="color:grey" href="#jd">Job Description</a></li>
                    <li><a data-toggle="tab" style="color:grey" href="#history">History</a></li>
                </ul>
                <div class="tab-content">
                    <div id="jd" class="tab-pane fade in active" style="margin-top:2%;">
                        <textarea class="ckeditor" name="Description" row="3" id="Description" maxlength="2000" placeholder="JobDescription"></textarea>
                        (max. 4000 characters.)
                    </div>
                    <div id="history" class="tab-pane fade" style="height:100px;overflow-y:scroll;margin-top:2%"> 
                        <table id="historyTable" style="font-size:12px; ;">
                        </table>

                        <p></p>
                    </div>
                </div>
            </div>
         
                         <input name="flag" id="flag1" type="text" style="width:100%" class="hide">
                                            <input name="ide" id="ide" type="text" style="width:100%" class="hide">   

                            <div class="row" style="margin-top:2%; ">
                                <div class="col-md-1 col-md-offset-5" id="submitButton">
                                    <button type="submit" class="btn" style="width:200%"><i class="fa fa-save"></i> Submit</button>
                                </div>
                            </div>
                            </form>
                    </div>
                    
                </div>
            </div>
        </div> -->             
                <script>
                 var str1;var flage;
                    tinymce.init({
                        selector: '#Description',
                        menubar:false
                    }); 
                   
                   function validateForm() { 
                        if(!$('#jobTitle').val().trim().length){
                        alert("Please fill Job Title!");
                        return false;
                    }
                

                    if(!$('#yox').val().trim().length){
                        alert("Please fill Experience!");
                        return false;
                    }
                    if ($('#minsal').val()-$('#maxsal').val()>0) {
                        alert("Minimum Salary must be less than Maximum Salary!");
                        return false;
                    }
                    if ($('#skillsId').val() == null) {
                        alert('Please select a skill!');
                        return false;
                    }
                  
                        var decode = tinyMCE.activeEditor.getContent();
                        decode = decode.replace(/&nbsp;/g, '');
                        decode = decode.replace(/<p>/g, '');
                        var find = '</p>';
                        var re = new RegExp(find, 'g');
                        decode = decode.replace(re, '');
                        decode = decode.trim();
                        if (decode == '') {
                            alert('Please fill in some description!');
                            return false;
                        }
                        if (decode.length > 4000) {
                            alert('Description can not be more than 4000 characters!');
                            return false;
                        }  
                         
                        if (flage == 'copy') { 
                            var arstr2 = [];
                            arstr2[0] = $('#jobTitle').val();
                            arstr2[1] = $("#location").val();
                            arstr2[2] = $('#expiresOn').val();
                            arstr2[3] = $('#yox').val();
                            arstr2[4] = $('#nop').val();
                            var str2 = arstr2.toString();   
                         
                        }
                        $('.addDisable').attr('disabled', false);   
                         $(".chosen-select").prop('disabled', false).trigger('chosen:updated');
                        $('.addDisable').removeAttr('disabled');
                        $(".chosen-select").removeAttr('disabled');
                        $('input ,  select').removeAttr('disabled');
 
                    }
                    function reqData(id, flag, con) {

                        if (flag == 'copy') {
                            $('#ModalHeading').html("Raise Requisition");
                        }
                        if (flag == 'edit') {
                            $('#ModalHeading').html("Edit Requisition");
                        }
                        $('#flag1').val(flag);
                        $('#ide').val(id);
                        $.ajax({
                            url: 'reqData',
                            data: {
                                'id': id
                            },
                            method: 'post',
                            success: function(data) {
                                 flage = flag;
                                var ide = id;
                                var cities = JSON.parse(JSON.stringify(data.result[0]));
                                var skill = JSON.parse(JSON.stringify(data.result[1]));
                                var admin = JSON.parse(JSON.stringify(data.result[2]));
                                var desig = JSON.parse(JSON.stringify(data.result[3]));
                                var info = JSON.parse(JSON.stringify(data.result[5]));
                                var dviewinfo = JSON.parse(JSON.stringify(data.result[9]));
                                var prio = JSON.parse(JSON.stringify(data.result[4]));
                                var arstr = [];
                                test = info;
                               arstr[0]=info[0].title;
                               arstr[1]=info[0].location;
                               arstr[2]=info[0].expireDate;
                               arstr[3]=info[0].Experience;
                               arstr[4]=info[0].positions;
                               str1=arstr.toString();
                            

                                    $("#location").val(info[0].location);
                                    $("#adminhr").val(info[0].adminHr);
                                    $("#browsers").val(info[0].designation);
                                    $('#jobTitle').val(info[0].title);
                                    $('#nop').val(info[0].positions);
                                    $('#minsal').val(info[0].minimumSalary);
                                    $('#maxsal').val(info[0].maximumSalary);
                                    $("#priority").val(info[0].priority);
                                    $('#expiresOn').val(info[0].expireDate);
                                    tinyMCE.activeEditor.setContent(info[0].description);
                                    $('#yox').val(info[0].Experience);
                                    $('#rec').val(info[0].recruiter);
                                    $('#jobType').val(info[0].jobType);
                                    $('#history').val(info[0].jobType);
                                    var arr = [];
                                    for (var i = 0; i < JSON.parse(JSON.stringify(data.result[6])).length; i++) {
                                    
                                        arr[i] = JSON.parse(JSON.stringify(data.result[6]))[i].skill;
                                    
                                       
                                    }

                                        $('#skillsId').val(arr).tagger({
                                        fieldWidth:'12em'
                                        });
                                      $('#historyTable').html('');
                                    var counter = 1;
                                    var cname;
                                    var desc; 
                                    for (var i = 0; i < data.result[8].length; i++) {
                                         desc = data.result[8][i].description;
                                        $('#historyTable').append("<tr style=padding-top:2%;width:100%;float:left;font-size:14px;color:grey><td style='color:black'>" + counter++ + ".</td><td>\t" + data.result[8][i].name + " has edited <b style=color:black>" + data.result[8][i].columnName + "</b> to " + desc + " on <b>" + data.result[8][i].date.slice(0, 10) + "</b> </td></tr></br>");
                                    }

                               if (con == 7) {
                                    $('#ModalHeading').html("Requisition Details");
                                  
                                    $('#djobTitle').html(dviewinfo[0].title);
                                    $('#dnoOfPositions').html(dviewinfo[0].positions);
                                    $('#dminsal').html(dviewinfo[0].minimumSalary);
                                    $('#dmaxsal').html(dviewinfo[0].maximumSalary);
                                    $('#drec').html(dviewinfo[0].recruiter);
                                    $('#dexpiresOn').html(dviewinfo[0].expireDate);
                                    $('#dyox').html(dviewinfo[0].Experience)
                                    $("#ddesig").html(dviewinfo[0].designation);
                                    $('#dpriority').html(dviewinfo[0].priority);
                                    $("#dlocation").html(dviewinfo[0].location);
                                    $("#djobType").html(dviewinfo[0].type);
                                    $("#dadminhr").html(dviewinfo[0].adminHr);

                                    var arr = [];
                                    for (var i = 0; i < JSON.parse(JSON.stringify(data.result[6])).length; i++) {
                                        arr[i] = JSON.parse(JSON.stringify(data.result[6]))[i].skillName;
                                    }
                                    $('#dskillsId').html(arr.toString());
                                    $("#ddiscription").html(dviewinfo[0].description);
                                    $('#dhistoryTable').html('');
                                    var counter = 1;
                                    var cname;
                                    var desc;
                                    
                                    for (var i = 0; i < data.result[8].length; i++) {
                                        desc = data.result[8][i].description;
                                        $('#dhistoryTable').append("<tr style=padding-top:2%;width:100%;float:left;font-size:14px;color:grey><td style=color:black>" + counter++ + ".</td><td>\t" + data.result[8][i].name + " has edited <b style=color:black>" + data.result[8][i].columnName + "</b> to " + desc + " on <b>" + data.result[8][i].date.slice(0, 10) + "</b> </td></tr></br>");
                                    }
                                } 
                                if (flag == "copy") {
                                    $('.addUsed').addClass("used");
                                    $('.addDisable').attr('disabled', false); 
                                     $(".tagger").removeClass("disabled1");
                                    

                                }
                                if (flag == "edit") {
                                    
                                    if (con == 0) { 
                                        $('.addUsed').addClass("used");
                                        $('.addDisable').attr('disabled', false); 
                                        $('#skillsId').removeClass("hide"); 
                                         $(".tagger").removeClass("disabled1");
                                   
                                    }
                                    if (con == 2  ) {
                                        $('.addUsed').addClass("used");
                                        $('.addDisable').attr('disabled', true);
                                        $('#skillsId').removeClass("hide");
                                        $(".addDisable").css("color", "grey"); 
                                        var arr = [];
                                    for (var i = 0; i < JSON.parse(JSON.stringify(data.result[6])).length; i++) {
                                        arr[i] = JSON.parse(JSON.stringify(data.result[6]))[i].skillName;
                                    }
                                   $('#skillLabel').html(arr.toString());
                                    
                                     $('#skillsId').tagger({
                                       fielddisplay:"none"
                                        }).css("display","none"); 

                                        $(".tagger").addClass("disabled1");
                                        $(".tagger").css("display","none");
                                    $('#skillLabel').removeClass("hide");
                                    }
                                }
                            }
                        });
                    }
                    var newDataTable;
                    $('#openreqstate1').on('click', 'img.icon-delete', function() {
                        table
                            .row($(this).parents('tr'))
                            .remove()
                            .draw();
                    });
                    var descriptionarray = [];
                    var plength = <%=pdetails.length%>
                    function delteRequisition(Idn) {
                        var deletevalue = Idn.split('_');
                        var idnew = parseInt(deletevalue[1]);
                        var strn = '#' + 'hid_' + idnew;
                        var newId = parseInt($(strn).html());
                        if (!confirm('Are you sure you want to delete this Requisition')) {
                            return;
                        }
                        $.ajax({
                            url: 'deleteReq',
                            data: {
                                'id': newId
                            },
                            method: 'post',
                            success: function(data) {
                                if(data[0][0].flag){
                                    var newstr = '#row_' + idnew;
                                    var row = $(newstr);
                                    newDataTable.fnDeleteRow(row);
                                    alert('Requisition Deleted!');
                                 }
                                else{
                                    alert("Already Approved. You can not delete!");
                                    location.href="/allrequisitions";
                                }
                            }
                        });
                    }
function updateStatusReq(flag,jdid){

       if(flag==0){
                        if (!confirm('Are you sure you want to REJECT this Requisition')) {
                        return false;
                        }
                    }
                    if(flag==1){
                        if (!confirm('Are you sure you want to APPROVE this Requisition')) {
                        return false;
                        }
                    } 
     $.ajax({
            url: '/updateStatusReq',
            data: {
                'jdid': jdid,
                'flag':flag
            },
            method: 'post',
            success: function(data) {
                if(data[3][0].flag==0){
                                alert("This Requisition is already deleted!")
                            }  
                            else{
                               alert("Requisition Approved successfuly!") 
                                location.reload();
                            } 
            }
            });
}



        $(document).ready(function() {
                   
                       
                        $('.allReq-img').addClass("active");
                        var todate=new Date();
                        jQuery('#expiresOn').datetimepicker({
                            i18n: {
                                de: {
                                    months: [
                                        'Januar', 'Februar', 'März', 'April',
                                        'Mai', 'Juni', 'Juli', 'August',
                                        'September', 'Oktober', 'November', 'Dezember',
                                    ],
                                    dayOfWeek: [
                                        "So.", "Mo", "Di", "Mi",
                                        "Do", "Fr", "Sa.",
                                    ]
                                }
                            },
                            timepicker: false,
                            format: 'd.m.Y',
                            minDate:todate
                        });

                        for (var k = 0; k < plength; k++) {
                            var str = '#desc_' + k;
                            var decode = $(str).text();
                            $(str).html(decode);
                        }

                        for (var k = 0; k < plength; k++) {
                            var str = '#con_' + k;
                            var str2 = '#trash_' + k;
                            var str3 = '#clone_' + k;
                            var str4 = '#pencil_' + k;
                            if ($(str).html() == 0) {
                                $(str).html('<i class="fa fa-ellipsis-h" style="color:grey" title = "pending for 1st level approval"></i>');
                            }
                            if ($(str).html() == 1) {
                                $(str).html('<i class="fa fa-ellipsis-h" style="color:black" title = "pending for 2nd level approval"></i>');

                              
                                $(str2).addClass('hide');
                            }
                            if ($(str).html() == 2) {
                                $(str).html('<i class="fa fa-check" style="color:green" title = "Approved"></i>');

                                $(str2).addClass('hide');
                            }
                            if ($(str).html() == -1 || $(str).html() == -2) {
                                $(str).html('<i class="fa fa-times" style = "color:red" title = "Rejected"></i>');
                                $(str3).addClass('hide');
                                $(str4).addClass('hide');
                                $(str2).addClass('hide');
                            }
                        }
                        newDataTable = $("#openreqstate1").dataTable({
                            "showNEntries": false,
                            "bFilter": true,
                            "bLengthChange": false,
                            "bSort": true,
                            "aaSorting": [
                                [5, "desc"]
                            ],
                            "columnDefs": [{ 
                                "targets": [0],
                                width:"20%"
                            }],
                           
                        });
                        $("#searchbox").keyup(function() {
                            newDataTable.fnFilter(this.value);
                        });
                        if (<%=flag==1%>) {

                            alert('Requisition created!');
                        }
                        if (<%=flag==0%>) {
                            alert('Requisition edited!');
                        }
                    });
                </script>
              
 
