<% include ../partials/head %>  
    <% include ../partials/adminheader %>
<title>All Requisition</title>
 
 <style>

    .dataTables_filter {
     display: none;
    }

        thead th {
            text-align: center;
            background-color: #7FCEE6;
            color: #4D4E50;
        }
        
        td {
            text-align: center;
        }

          .detailLabelTitle {
            background-color: none;
            color: #f05f40;
            font-size: 14px;
            font-weight: 2px;
        }
        
        .detailLabelContent {
            background-color: none;
            color: black;
            font-size: 12px;
            text-align: center;
        }
    </style>
      <div class="modal fade" id="jdDetailModal" role="dialog">
            <div class="modal-dialog modal-lg" style="">
                <div class="modal-content" style=" ">
                    <div class="modal-header"  >
                        <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px">&times;</button>
                        <center>
                            <h4 id="dModalHeading" class="modal-title"  style="color:white">Requisition Details</h4></center>
                    </div>
                    <div class="modal-body table-responsive" style="">

                    <table style="" class="table">
                        <tr>
                            <td>
                                <td><label class="form-Label">Job Title :</label></td>
                                <td><label class="detailLabelContent" style=" " id="djobTitle"></label></td>
                            </td>
                            <td>
                                <td><label class="form-Label">Designation :</label></td>
                                <td><label class="detailLabelContent" style=" " id="ddesig"></label></td>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <td>    <label class="form-Label">Location :</label> </td>
                                <td>
                                    <label class="detailLabelContent" style=" " id="dlocation"></label> </td>
                            </td>
                            <td>
                                <td><label class="form-Label">Skills :</label> </td>
                                <td> 
                                    <span class="detailLabelContent"  id="dskillsId"></span></td>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <td><label class="form-Label">Minimum Salary :</label></td>
                                <td>
                                    <label class="detailLabelContent" style=" " id="dminsal"></label></td>
                            </td>
                            <td>
                                <td> <label class="form-Label">Maximum Salary :</label></td>
                                <td> <label class="detailLabelContent" style=" " id="dmaxsal"></label> </td>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <td><label class="form-Label"># positions :</label>
                                   </td>
                                <td> <label class="detailLabelContent" style=" " id="dnoOfPositions"></label>  </td>
                            </td>
                            <td>
                                <td><label class="form-Label">Years Of Experience  :</label>
                                    </td>
                                <td> <label class="detailLabelContent" style=" " id="dyox"></label></td>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <td><label class="form-Label">Suggested Interviewer :</label>
                                    </td>
                                <td><label class="detailLabelContent" style=" " id="drec"></label>  </td>
                            </td>
                            <td>
                                <td> <label class="form-Label">Assigned HR  :</label>
                                    </td>
                                <td> <label class="detailLabelContent" style=" " id="dadminhr"></label></td>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <td>
                                    <label class="form-Label">Expiry Date :</label> 
                                </td>
                                <td>
                                     <label class="detailLabelContent" style=" " id="dexpiresOn"></label>
                                </td>
                            </td>
                            <td>
                                <td>  <label class="form-Label">Priority  :</label> </td>
                                <td> <label class="detailLabelContent" style=" " id="dpriority"></label></td>
                            </td>
                             
                        </tr>
                    </table>


                        <div id="" class="row" style="margin-top:10px;background-color:white;">
                            
                                <ul class="nav nav-tabs" style="background-color:none;font-size:13px">
                                    <li class="active"><a data-toggle="tab" style="color:grey" href="#ddiscription">Job Description</a></li>
                                    <li><a data-toggle="tab" style="color:grey" href="#dhistory">History</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="ddiscription" class="tab-pane fade in active" style="margin-top:2%;">
                                    </div>
                                    <div id="dhistory" class="tab-pane fade table-responsive" style="height:100px;overflow-y:scroll;margin-top:2%;">

                                            <table id="dhistoryTable" style="font-size:12px;">
                                            </table>

                                            <p></p>
                                    </div>
                                </div>
                            
                        </div>

                    </div>

                </div>
            </div>
        </div>
        </div>
 
<%include menu1.ejs%>
<div class="secondry-color " style="padding:2%;padding-top:5%; overflow: hidden;">
 <label id="" class=" modal-title" style="padding-left:45%" > Requisitions </label> 
   
  <input type="text" id="searchbox" class="form-text-box" style="float:right;width:15%"> 
  <div class="table-responsive">
            <table id="allrequisition" class="table cell-border" style="margin-top:1%;font-size:13px;width:100%;">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Skills</th>
                        <th># Positions</th>
                        <th>Experience</th>
                        <th>Admin HR</th>
                        <th>Status</th>
                        <th>Action</th>
                       
                    </tr>
                </thead>
                <tbody style="margin-top:7%;padding-top:7%" id="tbodyReq">
                    <%for(var i=0;i<pdetails.length;i++){%>
                        <tr id="row_<%=pdetails[i].id%>">
                            <td style="">
                                <a onclick="reqData(<%=pdetails[i].id%>,'show',7)" data-toggle="modal" data-target="#jdDetailModal" style="color:black;cursor:pointer">
                                <%=pdetails[i].title%>
                                </a>
                            </td>
                            <td>
                                <%=pdetails[i].skills%> 
                            </td>
                            <td style="width:10%">
                                <%=pdetails[i].positions%>
                            </td>
                            <td style="width:10%">
                                <%=pdetails[i].experience%>
                            </td>
                                                     
                            <td id="assign_<%=pdetails[i].id%>">
                                <%if(pdetails[i].assignedTofirstName!=null){%>
                                    <%=pdetails[i].assignedTofirstName%>
                                        <%}else{%><i class="fa fa-ellipsis-h" style="font-size:130%;color:grey" title="Pending for your approval"></i>
                                            <%}%>
                            </td>                           
                             <%if(pdetails[i].isConfirmed==2){%> 
                                <td><i class="fa fa-check" style="font-size:130%;color:green" title="Approved"></i></td>
                                <td></td>
                                <%}else if(pdetails[i].isConfirmed==-2){%>
                                    <td><i class="fa fa-times" style="font-size:130%;color:red" title="Rejected"></i></td>
                                    <td></td>
                                <%}else {%>
                                <td><i class="fa fa-ellipsis-h" style="font-size:130%;color:grey" title="Pending for your approval"></i></td>
                                <td>
                                    <i class="glyphicon glyphicon-ok" style="font-size:130%;cursor:pointer;color:#10980E" title="Click to Approve" id="toApprove"  onclick="updateStatusReq(1,<%=pdetails[i].id%>)"></i>
                                    <i class="glyphicon glyphicon-remove" style="font-size:130%;cursor:pointer;color:#DC2F2F;margin-left:10px" title="Click to Reject" onclick="updateStatusReq(0,<%=pdetails[i].id%>)"></i>
                                </td>
                            <%}%>                         
                        </tr>
                        <%}%>
                </tbody>
            </table>
        </div>
        </div> 
 


<% include ../partials/footer %> 


  <script type="text/javascript">

  $(document).ready(function() {
                    $('.reqApprover-img').addClass("active");
                                    
                });


 function reqData(id, flag, con) {   
                        $.ajax({
                            url: '/reqData',
                            data: {
                                'id': id
                            },
                            method: 'post',
                            success: function(data) {
                              
                                var flage = flag;
                                var ide = id;
                                var cities = JSON.parse(JSON.stringify(data.result[0]));
                                var skill = JSON.parse(JSON.stringify(data.result[1]));
                                var admin = JSON.parse(JSON.stringify(data.result[2]));
                                var desig = JSON.parse(JSON.stringify(data.result[3]));
                                var info = JSON.parse(JSON.stringify(data.result[8]));
                                var prio = JSON.parse(JSON.stringify(data.result[4]));
                                var dviewinfo=JSON.parse(JSON.stringify(data.result[9]));
                                var arstr = [];
                                test = info;
                                 if (con == 7) { 
                                  
                                        $('#ModalHeading').html("Requisition Details");
                                        $('#submitButton').html('<button type="button " class="button bt-small"  data-dismiss="modal"><i class="fa fa-save"></i>Cancel</button>');
                                        $('#djobTitle').html(dviewinfo[0].title);                                       
                                        $('#dnoOfPositions').html(dviewinfo[0].positions);
                                        $('#dminsal').html(dviewinfo[0].minimumSalary);
                                        $('#dmaxsal').html(dviewinfo[0].maximumSalary);
                                        $('#drec').html(dviewinfo[0].recruiter);
                                        $('#dexpiresOn').html(dviewinfo[0].expireDate);
                                        $('#dyox').html(dviewinfo[0].Experience)
                                        $("#ddesig").html(dviewinfo[0].designation);
                                        $('#dpriority').html(dviewinfo[0].priority);
                                        $("#dlocation").html(dviewinfo[0].location);
                                        $("#djobType").html(dviewinfo[0].type);                                       
                                        $("#dadminhr").html(dviewinfo[0].adminHr);

                                        var arr = [];
                                        for (var i = 0; i < JSON.parse(JSON.stringify(data.result[6])).length; i++) {
                                            arr[i] = JSON.parse(JSON.stringify(data.result[6]))[i].skillName;
                                        }
                                        $('#dskillsId').html(arr.toString());
                                        $("#ddiscription").html(dviewinfo[0].description);
                                        $('#dhistoryTable').html('');
                                        var counter=1,cname , desc;
                                        desc=data.result[7][i].description;
                                        for(var i=0;i<data.result[7].length;i++){
                                          $('#dhistoryTable').append("<tr style=padding-top:2%;width:100%;float:left;font-size:14px;color:grey><td style=color:black>"+counter++ +".</td><td>\t"+data.result[7][i].name+" has edited <b style=color:black>"+data.result[7][i].columnName+"</b> to "+desc+" on <b>"+data.result[7][i].date.slice(0,10)+"</b> </td></tr></br>");
                                        }
                                 }
                                 
                             }
                         });
                    }



function updateStatusReq(flag,jdid){

       if(flag==0){
                        if (!confirm('Are you sure you want to REJECT this Requisition')) {
                        return false;
                        }
                    }
                    if(flag==1){
                        if (!confirm('Are you sure you want to APPROVE this Requisition')) {
                        return false;
                        }
                    } 
     $.ajax({
            url: '/updateStatusReq',
            data: {
                'jdid': jdid,
                'approve':"approver",
                'flag':flag
            },
            method: 'post',
            success: function(data) {
                if(data[2][0].flag==0){
                                alert("This Requisition is already deleted!")
                            }  
                            else{
                               alert("Requisition Approved successfuly!") 
                                location.reload();
                            } 
            }
            });
}

        
               var dataTable= $("#allrequisition").dataTable({ 
                            "bLengthChange": false , 
                        });    
                 
                    $("#searchbox").keyup(function() {
                        dataTable.fnFilter(this.value);
                    });                

</script>
<style>
 .dataTables_filter {
     display: none;
}
 thead th {
                        text-align: center;
                        background-color: #7FCEE6;
                        color: #4D4E50;
                    }
                    
                    td {
                        text-align: center;
                    }
                     #main-menu {
                        margin-top: 5.6% !important;
                        height: 81.4% !important;
                    }
                      .disabledInput {
                        color: #999!important;
                        background-color: #eeeeee!important;
                    }
                    .button {
                        background-color: #66caec !important;
                        border-bottom: 2px solid #2B6173 !important;
                    }
                    
                    .bt-small {
                        padding: 5px 8px;
                    }

</style>
 <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
                <script>
                    tinymce.init({
                        selector: '#Description'
                    });
                </script>
