<% include ../partials/head %>
    <% include ../partials/adminheader %>

        <title>Candidates</title>

     
        <style>
   #currentjd_length{
    display: none;
   }
 .tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #00B9F5;
}
.tip-right {
  top: -3px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}
.dialogbox .body {
  position: relative;
  
  height: auto;
  margin: 20px 10px;
  
  background-color: #00B9F5;
  border-radius: 3px;
  border: 5px solid #00B9F5;
}

.body .message {
   
  border-radius: 3px;
  font-family: Arial;
  font-size: 10px;
  line-height: 1.5;
  color: #fff;
}
.verticalLine0 {
    border-left: thick solid #F3B293;
}
.verticalLine1 {
    border-left: thick solid #95CCF1;
}
.verticalLine2 {
    border-left: thick solid #B1F3BC;
}
.verticalLine3 {
    border-left: thick solid #EAA4AE;
}
.verticalLine4 {
    border-left: thick solid #F3EC96;
}
.verticalLine5 {
    border-left: thick solid #F3B293;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
} 
        </style>
        <div id="page-content" class="secondry-color" style="padding:5% 1% 1% 1%; ;overflow: hidden;">
            <div style="width:100%;font-size:12px">
                <div style="width:100%;height:70px">
                    <table style="width:100%;height:70px">
                        <tr style='font-size:12px'>
                            <td style="border:2px solid #f05f40;width:75%">

                                <div style="width:95%;height:100%">
                                    <div style="width:90%;float:left" id="searchdiv">
                                        <input type="text" class="form-text-box" name="gsearch" id="gsearch" style='width:95%;margin-top:13px;margin-left:10px' placeholder="Search candidate based on there Skills ">
                                        <img src="../images/candidate_search.png" id="gsearchimg" onclick="GetData();" height="33px" style="cursor:pointer;margin-top:-30px; float:right;">
                                    </div>
                                    <div style=width:10%;float:right>
                                        <label id="toglesearch" style="float:right;margin-top:20px;margin-right:5px;cursor:pointer"><a onclick="a2qsearch()" style="color:black">Advance Search</a></label>
                                    </div>
                                    <div style="width:90%;float:left;" class="hide" id="aSearchdiv">
                                        <table style='width:100%;margin-top:13px;margin-left:10px'>
                                            <tr style='font-size:14px'>
                                                <td>
                                                    <div class='md-input-container'>
                                                        <input id='sname' placeholder="@candidate name" class="form-text-box" name='sname' style="float:left">
                                                        <label>Candidate Name<sup></sup></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class='md-input-container'>
                                                        <input id='semail' placeholder="@email" class="form-text-box" name='semail' style="float:left">
                                                        <label>Email<sup></sup></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class='md-input-container'>
                                                        <input id='slocation' placeholder="@location" class="form-text-box" name='slocation' style="float:left">
                                                        <label>Location<sup></sup></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class='md-input-container'>
                                                        <input id='jdtitle' placeholder="@jd title" class="form-text-box" name='jdtitle' style="float:left">
                                                        <label>JD Title<sup></sup></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <img id="asearchimg" onclick='aSearch()' src='./images/candidate_search.png' height='33px' style="margin-top:-13px;margin-left:18px;float:right;cursor:pointer">
                                                     </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <div>
                <table style="height:50px;width:92%;float:left;margin-top:5px">
                    <tr>
                        <td><a id="quick" style="font-size:12px;cursor:pointer;color:#f05f40;float:left;margin-top:11px; width:120px">Quick Actions</a></td>
                        <td class="hide" id="qmgrdiv" style="">
                           
                                <div class=" ">
                                <label>Manager's :<sup class='astrick'>*</sup></label>
                                    <select style="color:black;width:200px;" class="form-text-box" onchange="qreleventTag()" id="qmgrdropdown" name="mgrdropdown">
                      </select>
                                    
                                </div>
                            
                        </td>
                        <td id="qjddiv" style="" class="hide">
                            
                                <div class=" ">
                                <label>JD's :<sup class='astrick'>*</sup></label>
                                    <select id="qselecttag" style="color:black;width:200px" class="form-text-box" name="selecttag">
               
                      </select>
                                    
                                </div>
                           
                        </td>

                        <td style="padding-left:5px" id="qsdiv" class="hide">
                            <button type="submit" value="Save" id="qsave" class=" btn waves-effect waves-light" onclick="return savequicktag()" style="background-color:#00B9F5;color:white;margin-top:15px" value="Save"><i class="fa fa-save"></i> <b>Tag Selected</b></button>

                                 

                        </td>
                        <td class="hide" id="qsdiv2">
                         <button type="button" value="Delete Selected" id="qdelete" class=" btn waves-effect waves-light" onclick="return deletequick()" style="background-color:#00B9F5;color:white;margin-top:15px;margin-left:10px" value="Save"><i class="fa fa-save"></i> <b>Delete Selected</b></button>


                        


                         </td>
                         <td id="qsdiv3" class="hide">

                         <span style="width:100%"> check all/none:</span> <input style="margin-top:10px" type = "checkbox" id = "check_all_none"></input>
                          </td>
                    </tr>
                </table>
            </div>



            <div style="width:100%;margin-bottom:5%;">
                <table id="openreqstate" class="cell-border" style="font-size:10px; width:100%;margin-top:-15px"></table>
            </div>
        </div>


        <div class="modal fade" id="edit" data-backdrop="static" data-keyboard="false" style="padding-right:20%">
            <div class="modal-dialog" style="width:72%">
                <div class="modal-content" id="express2" style="width:1100px margin-left:-80px;margin-top: 100px; ">
                    <div class="modal-header" style="background-color:#f05f40;height:40px">
                        <center>
                            <h4 id="head4" class="modal-title" style="color:white;font-size:14pt;width:auto;margin-top:-5px"><b>Edit Information </b>
                        </center>
                     <span id="closeedit"  class='close closeedit' data-dismiss="modal" style='float:right;margin-top:-26px'title ='Close' > &times;  </span>
                    </div>
                    <form action="/editCandidate" method="post" onsubmit='return validateedit()'>
                        <div class="modal-body table" style=''>
                            <input type="hidden" name="hcid" id="hcid">
                            <div class="row" style="margin-top: 10px">
                              <div class="col-md-2"><label class="form-Label">Name :</label ><sup class='astrick'>*</sup></div>
                              <div class="col-md-2"><input name="name" placeholder="@name" class="form-text-box" id="name" maxlength="100" style="width:100%;"></div>
                              <div class="col-md-2"><label class="form-Label">Phone No.:</label><sup class='astrick'>*</sup></div>
                              <div class="col-md-2"><input name="phone" placeholder="@phone" id="phone" class="form-text-box" maxlength="10" minlength="10" style="width:100%"></div>
                              <div class="col-md-2"><label class="form-Label">Experience </label> </div>
                              <div class="col-md-2"> 
                                    <input name="years" class="used form-text-box" type="number" id="years" maxlength="100" style="width:50%;float:right" placeholder="Yrs">
                                    <input name="months" type="number" class="form-text-box" id="months" maxlength="100" style="width:50%;float:right" placeholder="Months">
                             </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                              <div class="col-md-2"><label class="form-Label">Email id :</label><sup class='astrick'>*</sup></div>
                              <div class="col-md-2"> <input name="email" placeholder="@email" class="form-text-box" id="email" maxlength="100" style="width:100%"></div>
                              <div class="col-md-2"><label class="form-Label">Location </label><sup class='astrick'>*</sup> </div>
                              <div class="col-md-2">
                               <select id='locationId' class="form-text-box" name="locationId" >
                              <option value = '-1'>-select-</option>
                                    <%for(var i = 0 ;i<location.length;i++){%>
                                        <option id="location_<%=location[i].id%>" value="<%=location[i].id%>">
                                            <%=location[i].location%>
                                        </option>
                                        <%}%>
                            </select></div>
                              <div class="col-md-2"><label class="form-Label">Address :</label> </div>
                              <div class="col-md-2"> 
                                    <input name="clocation" placeholder="@address" class="form-text-box" id="clocation" maxlength="300" style="width:100%">
                             </div>
                            </div>
                              <div class="row" style="margin-top: 20px">
                                <div class="col-md-2"><label class="form-Label">Skills :</label> <sup class='astrick'>*</sup></div>
                                <div class="col-md-2"><select size="1" multiple class="form-text-box  "  id='skillsId' name="skills">
                              <option value = 'null'>-select-</option>
                              <%for(var i = 0 ;i<skills.length;i++){%>
                                  <option id="skills_<%=skills[i].id%>" value="<%=skills[i].id%>">
                                      <%=skills[i].skills%>
                                  </option>
                                  <%}%>
                          </select></div>
                                <div class="col-md-2"><label class="form-Label">Qualification :</label> </div>
                                <div class="col-md-2"><input name="qualification" placeholder="@qualification" id="qualification" class="form-text-box" maxlength="100" style="width:100%"></div>
                                <div class="col-md-2"><label class="form-Label">Institute :</label> </div>
                                <div class="col-md-2"> 
                                      <input name="institute" placeholder="@institute" id="institute" class="form-text-box" maxlength="100" style="width:100%">
                               </div>
                            </div>
                           
                            </div>
                             <center style=''>
                                            <button type="button" value="Cancel"   class="closeedit btn  "style="background-color: #f05f40 ;color:white"> Cancel </button>
                                            
                                            <button type="submit" class="btn "   style="background-color: #f05f40;color:white;width:80px" value="Save"> Save </button>
                            </center>
                    </form>
                </div>
            </div>
        </div>
 
        <div class="modal fade" id="tag" style="height:auto">
            <div class="modal-dialog">
                <div class="modal-content" id="express2">
               
                     <div class="modal-header" style="background-color:#f05f40;height:40px">
                        <center>
                            <h4 id="head4" class="modal-title" style="color:white;font-size:14pt;width:auto;margin-top:-5px"><b>Tag Candidate</b>
                        </center>
                     <span id="closeedit"  class='close closeedit' onclick='window.location.href="/viewCandidate"' data-dismiss="modal" style='float:right;margin-top:-26px'title ='Close' > &times;  </span>
                    </div>

                    <center id="cdtname" style="text-transform:capitalize;color:black;padding-bottom:5px">                        
                    </center>

                    
                    <div class="modal-body" style="margin-top:-5px;padding-top:0px;padding-right:17px;padding-left:17px">
                      <p style="margin:0px;background-color:white;color:white" id="tagstatus"></p>
                        <table class="cell-border" style="border:2px solid #f05f40;font-size:10px;width:100%;text-align:center;padding-top:5px" class="cell-border" id="currentjd">
                        </table>

                        <div style="border:2px solid #f05f40;">
                            <p id="tagmoreheading" style="margin:0px;background-color:#f05f40;color:white">Tag More</p>
                            <div id="tagmorediv"> 
                                <input type="hidden" name="tcid" id="tcid">
                                <table style="margin-bottom:20px">
                                    <tr>
                                        <td style="width:45%;padding-left:10px">
                                         <label>Manager's<sup>*</sup></label>
                                            <select style="color:black;width:200px;float:left" class="form-text-box" onchange="releventTag()" id="mgrdropdown" name="mgrdropdown">
                                        </select>
                                        </td>
                                        <td style="width:40%">
                                                <label>JD's<sup>*</sup></label>
                                                    <select class="form-text-box" id="selecttag" style="color:black;width:200px" name="selecttag">
                                        </td>
                                        <td>
                                            <button type="submit" value="Save" class="btn" onclick="return validatetag()" style="background-color:#f05f40;color:white;margin-top:20px" > Save </button> 
                                        </td>
                                    </tr>
                                </table>                               
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
 
        <div class="modal fade" id="schedule">
            <div class="modal-dialog" style="width:100%">
                <center>
                    <div class="modal-content" id="express2" style="width:1000px;min-height:100px">
                        <div class="modal-header" style="background-color:#f05f40;height:40px">
                            <center>
                             <h4 id="dModalHeading" class="modal-title" style="color:white;font-size:14pt;margin-top:-5px">Schedule Interview</h4>
                              <button type="button" class="close" data-dismiss="modal" style="margin-top:-28px;float:right">&times;</button>
                             </center>
                           
                  
                        </div>
                        <center>
                            <h2 id="cdtnameint" style="text-transform:capitalize;color:#f05f40;margin:5px;float:left"></h2>
                        </center>
                            <a style="color:#f05f40;float:right;padding-right:30px;width: 100px" id="history">History<span  class='glyphicon glyphicon-plus' style="padding-left:4%" ></span></a>
                            <div id='taggedInMulJd'></div>
                        
                        
                        <div id="showhistorydiv" style="border:solid 2px #f05f40;margin:30px 22px -2px;overflow-x:scroll;overflow-y:scroll;max-width:100%;max-height:300px;min-height:70px">
                            <table style="margin:10px;float:left">
                                <tbody id="historytable">
                                </tbody>
                            </table>
                        </div>

                        <div style="margin:10px">
                            <div id="schedulediv">
                                <form action="/scheduleInterview" method="post" >
                                    <table style="width:100%;margin-top:4%">
                                        <tr>
                                            <td>
                                            <label>Tagged Jd's<sup class="astrick">*</sup></label>
                                               <select id="schtaggedJd"  class="form-text-box" style="width:97%" name="schtaggedJd" onchange="getreleventState()">
                                </select>
                                          </td>
                                            <td>
                                                 <label>State<sup class="astrick">*</sup></label>
                                                    <select id="schstate" class="form-text-box schstate" style="width:95%" name="schstate"></select>
                                            </td>
                                            <td id="statusTd" class="hide">
                                              <label>Status<sup class="astrick">*</sup></label>
                                              <select id="allStatus" name="allStatus" class="form-text-box" style="width:95%"></select>
                                            </td>
                                            <td>
                                              <label id="dateLable">Date & Time<sup class="astrick">*</sup></label>
                                              <input id="defaultDate" class="hide" name="">
                                                 <input size="16" type="text" class="form-text-box" value="" style="width:95%" readonly name="intdatetime" id="intdatetime">
                                                    
                                            </td>

                                            <td id="intTD">
                                               <label>Interviewer<sup class="astrick">*</sup></label>
                                               <select name="interviewer" class="form-text-box" id="interviewer" style="width:97%">
                                    </select>
                                                     
                                            </td>
                                            <td id="modeTD">
                                                <label>Mode<sup class="astrick">*</sup></label>
                                                        <select name="mode" id="mode" class="form-text-box" style="width:97%">
                                    </select>
                                                      
                                                  
                                            </td>
                                        </tr>
                                        <input class="hide" type="text"  id="cdtidint" name="cdtidint">
                                    </table>
                                    
                                        <div class=" " style="padding-top: 10px">
                                           <label style="margin-left:5px">Remarks</label>
                                            <textarea name="intremark" class="form-text-box" id="intremark" style="width:100%;max-width:100%"></textarea>
                                         
                                        </div>
                                  
                                    <center>
                                        <button type="submit" class="btn waves-effect waves-light" onclick="return validateschedule()" style="background-color:#f05f40;color:white;margin-bottom:10px;margin-top: 20px">
                              <i class="fa fa-save"></i> <b>Save</b></button>
                                    </center>
                                </form>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </div>

                <div class="modal fade" id="iremarkmodal" style="height:auto">
            <div class="modal-dialog">
                <div class="modal-content" id="express2">
                    <div class="modal-header" style="background-color:#f05f40;height:40px">
                       <center>
                             <h4 id="dModalHeading" class="modal-title" style="color:white;font-size:14pt;margin-top:-5px">Interviewer's Remark</h4>
                              <button type="button" class="close" data-dismiss="modal" style="margin-top:-28px;float:right">&times;</button>
                             </center>

                    </div>


                    <div class="modal-body" id="iremarkdiv" style="margin:20px">

                    </div>
                </div>
            </div>
        </div>

        <%include menu1.ejs%>
            <% include ../partials/footer %>



                <script type="text/javascript">
                    var flagTrashCan = 'Waiting';

                    function deleteHistory(id, elementId) {
                        elementId = '#' + elementId;
                        if (!confirm('Are you sure you want to delete this pending schedule')) return;
                        $(elementId).closest('td').hide();


                        $.ajax({
                            url: '/deletehistory',
                            type: 'post',
                            data: {
                                "id": id
                            },
                            success: function(data) {} 
                        });
                    }




                    var countTag = [];
                    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

                    function getreleventState() {
                        
                        $.ajax({
                            url: '/getreleventState',
                            type: 'post',
                            data: {
                                "jdid": $('#schtaggedJd').val(),
                                "cid": $('#cdtidint').val()
                            },
                            success: function(data) {
                                $('#schstate').html('<option  value="0">-select-</option>');
                                for (var i = 0; i < data[0].length; i++) {
                                  if(data[0][i].id!=1){
                                    $('#schstate').append("<option value='" + data[0][i].id + "'>" + data[0][i].stateName + "</option>");
                                  }
                                }
                                $('#allStatus').html('<option  value="0">-select-</option>');
                                for (var i = 0; i < data[1].length; i++) {
                                    $('#allStatus').append("<option value='" + data[1][i].id + "'>" + data[1][i].statusName + "</option>");
                                }
                            }
                        });
                    }

                    $(document).ready(function() {
                   
                        $('.viewCand-img').addClass("active");

                        $('#file').change(function() {
                            $('#form').submit();
                        });

                        $('#schstate').change(function(){
                          if($('#schstate').val()>4){
                            $('#dateLable').html("Date<sup class='astrick'>*</sup>");
                            $('#intTD').addClass("hide");
                            $('#modeTD').addClass("hide");
                            $('#statusTd').removeClass("hide");

                        }
                        else{
                           $('#intTD').removeClass("hide");
                            $('#modeTD').removeClass("hide");
                            $('#statusTd').addClass("hide");
                            $('#statusTd').addClass("hide");
                        }

                        });
                        $('#quick').click(function() {
                        $('qmgrdropdown').html('');
                        $('qselecttag').html('');
                        getallmanager();
                        $('#qmgrdiv').toggleClass("hide");
                        $('#qjddiv').toggleClass("hide");
                        $('#qsdiv').toggleClass("hide");
                        $('#qsdiv2').toggleClass("hide");
                         $('#qsdiv3').toggleClass("hide");
                        if ($('#qmgrdiv').hasClass("hide")){
                         
                                 table.column(11).visible(false);      
                        } else {
                         
                                table.column(11).visible(true);
                             
                        }
                    });
                        $('#history').click(function() {
                            $(this).find('span').toggleClass('glyphicon-plus').toggleClass('glyphicon-minus');
                        });

                    

                        $('#history').click(function() {
                            $('#showhistorydiv').toggle();
                        })

                        $("#intremark").click(function() {
                            $('#intremark').addClass("used");
                        }); 
                        $(".closeedit").click(function() {
                            $('#edit').modal("hide");
                        });
                        $(".closetag").click(function() {
                            $('#tag').modal("hide");
                        });
                        $(".closeschedule").click(function() {
                            $('#schedule').modal("hide");
                        });
                        $(".closeirem").click(function() {
                            $('#iremarkmodal').modal("hide");
                        });

                        if ($('name1').val.length > 0) {
                            $('name1').addClass('used');
                        }


                        $('#gsearch').keypress(function(e) {
                            if (e.which == 13) { 
                                $('#gsearchimg').click(); 
                            }
                        });
                        $('#aSearchdiv').keypress(function(e) {
                            if (e.which == 13) { 
                                $('#asearchimg').click(); 
                            }
                        });


                        $.ajax({
                            url: '/viewCandidate',
                            type: 'post',
                            success: function(data) {
                                var info = [];
                                var c = 1;
                                var cddid;
                                for (var i = 0; i < data.length; i++) {
                                    countTag[data[i].id] = data[i].countTag;
                                    
                                    var sicon = "<a data-toggle='modal' data-target='#schedule' onclick='scheduleInfo(" + data[i].id + ")'> <span  class='glyphicon glyphicon-dashboard' style='color:#06394A;height:10px;cursor:pointer' title ='Schedule Interview/View History' > </a>";

                                    var skl = data[i].skills;
                                    if (data[i].stateName == null || data[i].stateName == 0) {
                                        data[i].stateName = "Not Yet Tagged";
                                        sicon = '';
                                    }
                                    if (data[i].statusName == null || data[i].statusName == 0) {
                                        data[i].statusName = 'Not Yet Tagged';
                                        
                                    }
                                    if (data[i].location == null) {
                                        data[i].location = "--";
                                    }
                                    if (data[i].skills == null) {
                                        data[i].skills = 'No Skills';
                                    }
                                    var resume = data[i].resumeTitle;
                                    if (resume == null) {
                                        data[i].resumeTitle = '--';
                                    } else {
                                        data[i].resumeTitle = data[i].resumeTitle.replace("/public", "");
                                    }

                                    cddid = data[i].id;
                                    if (resume == null) {
                                        data[i].Action = "<a onclick='editcdt(" + cddid + ");' data-toggle='modal' data-target='#edit'><span  class='glyphicon glyphicon-pencil' style='color:#f05f40;height:10px;cursor:pointer' title ='Edit' ></span></a> <a data-toggle='modal' data-target='#tag' onclick='getAllTag(" + cddid + ")'> <span  class='glyphicon glyphicon-pushpin' style='color:#06394A;height:10px;cursor:pointer'title ='Tags' ></span></a> <span  class='glyphicon glyphicon-save' style='color:#f05f40;height:10px;cursor:pointer'title ='Download' onclick='noresume()' ></span>" + sicon;
                                    } else {
                                        data[i].resumeTitle = data[i].resumeTitle.replace("/public", "");
                                        data[i].Action = "<a onclick='editcdt(" + cddid + ");' data-toggle='modal' data-target='#edit'><span  class='glyphicon glyphicon-pencil' style='color:#f05f40;height:10px;cursor:pointer'title ='Edit' ></span></a> <a data-toggle='modal' data-target='#tag' onclick='getAllTag(" + cddid + ")'> <span  class='glyphicon glyphicon-pushpin' style='color:#06394A;height:10px;cursor:pointer'title ='Tags' ></span> </a><a href='" + data[i].resumeTitle + "' Download> <span  class='glyphicon glyphicon-save' style='color:#f05f40;height:10px;cursor:pointer'title ='Download' ></span>" + sicon;
                                    }
                                    data[i].check = "<input type='checkbox' class='chkAll' name='qcktagcheck' value='" + data[i].id + "' />";
                                    data[i].id = c++;
                                   
                                    info.push($.map(data[i], function(k, v) {
                                        return k;
                                    }));
                                }

                                table = $('#openreqstate').DataTable({
                                    data: info,
                                    columns: [

                                        {
                                            title: "#"
                                        }, {
                                            title: "Candidate Name"
                                        }, {
                                            title: "Phone Number"
                                        }, {
                                            title: "Email Id"
                                        }, {
                                            title: "Location"
                                        }, {
                                            title: "Skills"
                                        }, {
                                            title: "State"
                                        }, {
                                            title: "Status"
                                        }, {
                                            title: "Resume"
                                        }, {
                                            title: "countTag"
                                        }, {
                                            title: "Action"
                                        }, {
                                            title: "Select"
                                        }
                                    ],
                                    "columnDefs": [{
                                        className: "dt-body-left",
                                        "targets": [10]
                                    }],
                                     destroy: true, 
                                    "bLengthChange": true,
                                    "searching": false,
                                    "lengthMenu":[[5,10,20,-1],[5,10,20,"All"]]
                                });
                                 if ($('#qmgrdiv').hasClass("hide")){
                                       table.column(8).visible(false);
                                       table.column(9).visible(false);
                                       table.column(11).visible(false);   
                                  } else {
                                          table.column(11).visible(true);
                                  }                   
                            }
                        });
                    });

                     
             
                    var abc;

                
                    function savequicktag() {
                        var qcdid = $('input[name="qcktagcheck"]:checked').map(function() {
                            return this.value;
                        }).get().join(",");


                        if ($("#qmgrdropdown").val() == 0) {
                            alert("Select a Manager");
                            return false;
                        } else if ($("#qselecttag").val() == 0) {
                            alert("Select a JD");
                            return false;
                        } else if (qcdid.length == 0) {
                            alert("Choose at least one candidate");
                            return false;
                        }

                        $.ajax({
                            url: '/addQuickTag',
                            type: 'post',
                            data: {
                                "allcdid": qcdid,
                                "jdid": $('#qselecttag').val()
                            },
                            success: function(data) {
                                alert("All Candidates Tagged Successfuly!");
                                window.location.reload();
                            }

                        });

                    }



                      function deletequick() {
                        var qcdid = $('input[name="qcktagcheck"]:checked').map(function() {
                            return this.value;
                        }).get().join(",");


               if (qcdid.length == 0) {
                            alert("Choose at least one candidate");
                            return false;
                        }

                     $.ajax({
                            url: '/quickdeletecandidate',
                            type: 'post',
                            data: {
                                "allcdid": qcdid
                                
                            },
                            success: function(data) {
                                alert("Selected Candidates Deleted Successfuly!");
                                window.location.reload();
                            }

                        });

                    }



                    function getallmanager() {
               
                        $.ajax({
                            url: '/getallmanager',
                            type: 'post',
                            success: function(data) {
                                $('#qmgrdropdown').html('');
                                $('#qmgrdropdown').append('<option  value="0">-select-</option>');
                                for (var i = 0; i < data.length; i++) {

                                    $('#qmgrdropdown').append("<option value='" + data[i].id + "''>" + data[i].firstName + "</option>");
                                }
                            }
                        });

                    }


                    function validateschedule() {
                        if ($('#schtaggedJd').val() == 0) {
                            alert("Select a JD");
                            return false;
                        }
                        if ($('#schstate').val() == 0) {
                            alert("Select a State");
                            return false;
                        }
                        if ($('#schstate').val() >4) {
                          if($('#allStatus').val()==0){
                            alert("Select a Satus");
                            return false;
                          }
                        }
                        var d1=new Date($('#intdatetime').val());
                        var d2=new Date($("#defaultDate").val());
                        if ($('#intdatetime').val() == '') {
                            alert("Choose a Date and time for interview");
                            return false;
                        }
                        if ($('#interviewer').val() == 0&&$('#schstate').val()<=4) {
                            alert("Select a Interviewer");
                            return false;
                        }
                        if ($('#mode').val() == 0&&$('#schstate').val()<=4) {
                            alert("Choose a mode of Interview");
                            return false;
                        }

                        if ($("#intremark").val() == "" && !confirm("Do you want to submit without remark?")) {
                            return false;
                        } else {
                          if($('#schstate').val() == 5){
                            alert("State Update Successfuly!");
                          }
                          else if($('#schstate').val() == 6){
                            alert("State Updated Successfuly!");
                          }
                          else{
                            alert("Interview Scheduled");
                            return true;
                        }
                      }
                        $('#schedule').modal("hide");

                    }
              
                    function scheduleInfo(id) {
                      getreleventState();
                      
                   

                        $("#showhistorydiv").hide();
                        $.ajax({
                            url: '/getscheduleInfo',
                            type: 'post',
                            data: {
                                "cid": id
                            },
                            success: function(data) {
                                var strName = ''
                                if (countTag[id] > 1) {
                                    strName = "\n Tagged in multiple JD's";
                                }
                                $('#cdtnameint').html(data[0][0].name);
                                $('#taggedInMulJd').html(strName);
                                $('#cdtidint').val(data[0][0].candidateID);
                                $('#schtaggedJd').html('<option  value="0">-select-</option>');
                                for (var i = 0; i < data[6].length; i++) {
                                    $('#schtaggedJd').append("<option value='" + data[6][i].jdID + "''>" + data[6][i].title + "</option>");
                                }

                                $('#interviewer').html('<option  value="0">-select-</option>');
                                for (var i = 0; i < data[2].length; i++) {
                                    $('#interviewer').append("<option value='" + data[2][i].id + "''>" + data[2][i].firstName + "</option>");
                                }
                                $('#mode').html('<option  value="0">-select-</option>');
                                for (var i = 0; i < data[3].length; i++) {
                                    $('#mode').append("<option value='" + data[3][i].id + "''>" + data[3][i].mode + "</option>");
                                }
                               
                                $('#historytable').html('');
                                var t = 0;
                                var clr = 0;
                                var jdtemp = [];
                                var jdcount = [];
                                var temparr = [];
                                var lastDate;
                              
                                for (var i = 0; i < data[5].length; i++) {
                                  
                                    jdtemp.push(data[5][i].title);
                                } 
                                for (var i = 0; i < jdtemp.length; i++) {
                                    temparr[jdtemp[i]] = (temparr[jdtemp[i]] || 0) + 1;       
                                }
                                for (var i in temparr) {
                                    jdcount.push(temparr[i]);
                                } 
                                for (var i = 0; i < jdcount.length; i++) {
                                    $('#historytable').append("<tr>");
                                    var temp = 0;
                                    for (var j = 0; j < jdcount[i]; j++) {
                                        if (temp == 0) {
                                            $('#historytable').append('<td><span class=""></span><div class="dialogbox"><div class="body"><div class="message"><span>' + data[5][t].title + '</span></div></div></div></td>');
                                            temp++;
                                        }
                                        var irem = '';
                                        if(data[5][t].firstName===null){
                                          data[5][t].firstName="HR";
                                        }
                                        var date = data[5][t].date;
                                        lastDate=date;
                                        date = date.slice(0, 10);
                                        if (data[5][t].interviewerRemarks != null) {
                                            data[5][t].interviewerRemarks = JSON.stringify(data[5][t].interviewerRemarks);
                                            data[5][t].interviewerRemarks = data[5][t].interviewerRemarks.replace(/"/g, '"');
                                            irem = "<span class='glyphicon glyphicon-info-sign' onclick='interviewerRemarks(" + data[5][t].interviewerRemarks + ")' data-toggle='modal' data-target='#iremarkmodal' style='color:#06394A;height:20px;float:right' title =" + data[5][t].interviewerRemarks + " ></span>";
                                        }
                                        var deleteString = '';
                                        if (data[5][t].statusName == 'Pending') {
                                            deleteString = '<i class="glyphicon glyphicon-trash" id = "trash_' + i + '_' + j + '" title = "delete schedule" style="color:#06394A;float:right" onclick = "deleteHistory(' + data[5][t].id + ',this.id)" ></i>';
                                        } 
                                        if(data[5][t].stateId==6&&data[5][t].statusID==5){ 
                                          $("#dModalHeading").html("Candidate Joined");
                                          $("#schedulediv").addClass("hide");
                                           $('#history').click();
                                        } 
                                        else{
                                          $("#dModalHeading").html("Schedule Interview");
                                          $("#schedulediv").removeClass("hide");
                                        }
                                        
                                      
                                        $('#historytable').append('<td class="verticalLine' + clr + '"><div style="margin:2px"><div style="font-size:11px"><u>' + data[5][t].stateName + "-" + data[5][t].rounds + '</u>' + irem + '</div><div style="font-size:10px">' + data[5][t].statusName + deleteString + '</div><div style="font-size:10px">By- ' + data[5][t].firstName + '</div><div style="font-size:10px">On -' + date + '</div></div></td>'); 
                                        t++;
                                        clr++;
                                        if (clr == 5)
                                            clr = 0; 
                                    }
                                    $('#historytable').append("</tr><tr style='height:3px'><td></td><td></td><td></td>)<td></td>;<td></td><td></td> <td></td> <td></td> <td></td><td></td> <td></td> </tr>"); 
                                } 
                                var todate=new Date();
                                lastDate=new Date(lastDate);
                                if(data[5].length){
                                  todate=lastDate;
                                }
                                $("#defaultDate").val(todate);
                                $('#intdatetime').datetimepicker({
                                   minDate:todate
                                }); 
                               
                                $('#schtaggedJd').addClass('used'); 
                            }
                        });
                    }

                    function interviewerRemarks(msg) {
                    
                        $('#iremarkdiv').html("<label>" + msg + "</label>");
                    }
                    function validatetag() {

                        if ($("#mgrdropdown").val() == 0) {
                            alert("Select a Manager");
                            return false;
                        } else if ($("#selecttag").val() == 0) {
                            alert("Select a JD");
                            return false;
                        }
                        $.ajax({
                            url: '/addTag',
                            type: 'post',
                            data: {
                                "tcid": $('#tcid').val(),
                                "selecttag": $('#selecttag').val()
                            },
                            success: function(data) {
                                getAllTag($('#tcid').val());
                                if (data[0][0].count == 1) {
                                    alert("You can not Tag same JD again! ");
                                } else {
                                    alert("Successfuly Tagged! ");
                                }
                                $('#selecttag').html('select');
                            }
                        });
                    }



                    function validateedit() {
 
                        if ($("#name").val().length < 1) {
                            alert("Name Field can not be left blank!");
                            return false;
                        }
                        if (isNaN($("#phone").val()) || $("#phone").val().length < 10) {
                            alert("Enter Valid Phone Number");
                            return false;
                        }
                        if ($("#email").val().length < 1 || !regex.test($("#email").val())) {
                            alert("Enter Valid Email ID!");
                            return false;
                        }
                        if ($("#locationId").val() == -1) {
                            alert("Select a Location!");
                            return false;
                        }
                        if ($("#skillsId").val() == null || $("#skills").val() == 0) {
                            alert("Choose atleast one Skill");
                            return false;
                        }
                        alert("Candidate Information Updated Successfuly!");
                        return true;
                    }

                    function a2qsearch() {
                        $('#toglesearch').html("<a onclick='q2asearch()' style='color:black;cursor:pointer'>Quick Search</a>");
                        $('#searchdiv').addClass("hide");
                        $('#aSearchdiv').removeClass("hide");

                    }

                    function q2asearch() {
                        $('#toglesearch').html("<a onclick='a2qsearch()' style='color:black'>Advanced Search</a>");
                        $('#searchdiv').removeClass("hide");
                        $('#aSearchdiv').addClass("hide");
                  
                    }
                    table1 = '';

                    function getAllTag(id) { 
                       
                        $.ajax({
                            url: '/getAllTag',
                            type: 'post',
                            data: {
                                "id": id
                            },
                            success: function(data) {
                          
                                $('#tcid').val(data[2][0].id);

                                $('#cdtname').html(data[2][0].name);
                                if (data[0].length < 1) {
                                    $('#tagstatus').html(" No Tagged JD's Yet  ");
                                } else {
                                    $('#tagstatus').html(" Currently Tagged JD's ");
                                }


                                var c = 1;
                               
                                var info = [];
                                for (var i = 0; i < data[0].length; i++) {

                                 
                                    var obj = {};
                                    obj.sno = c++;
                                    deletebtn='';
                                     if((data[0][i].assignedTo==<%=uid%>)||(data[0][i].adminHr==<%=uid%>)){
                                      
                                    deletebtn="<span onclick='removetag(" + data[2][0].id + "," + data[0][i].tagId + ")'  class='glyphicon glyphicon-trash' style='color:#06394A;float:right; height:10px'title ='Remove Tag' >";
                                  } 
                                    obj.title = data[0][i].title + deletebtn;
                                    obj.state = data[3][i].stateName;
                                    obj.status = data[3][i].statusName;

                                    info.push($.map(obj, function(k, v) {
                                        return k;
                                    }));
                                }
                                if (table1 != '') {
                                    table1.destroy();
                                }
                                table1 = $('#currentjd').DataTable({
                                    data: info,
                                    columns: [{
                                        title: "#"
                                    }, {
                                        title: "JD Title"
                                    }, {
                                        title: "State"
                                    }, {
                                        title: "Status"
                                    }],
                                    "bLengthChange": true,
                                    "searching": false,
                                    "info":     false,
                                    "lengthMenu":[[5,10,20,-1],[5,10,20,"All"]]
                                });
                                $('#currentjd').append('</tbody>');
                                $('#mgrdropdown').html('');
                                $('#mgrdropdown').append('<option  value="0">-select-</option>');
                                for (var i = 0; i < data[1].length; i++) {
                                    $('#mgrdropdown').append("<option value='" + data[1][i].id + "''>" + data[1][i].firstName + "</option>");
                                }

                                $('#statedropdown').html('<option  value="0">-select-</option>');
                                for (var i = 0; i < data[4].length; i++) {
                                    $('#statedropdown').append("<option value='" + data[4][i].id + "''>" + data[4][i].stateName + "</option>");
                                }



                            }
                        });

                    }

                    function removetag(cdid, tagid) {
                        if (!confirm("Remove this tag ?"))
                            return false;

                        $.ajax({
                            url: '/removeTag',
                            type: 'post',
                            data: {
                                "cid": cdid,
                                "tagid": tagid
                            },
                            success: function(data) {
              
                                getAllTag(cdid);
                                if (data[0] == 1)
                                    alert("Tagging removed Successfuly!");
                                if (data[0][0][0] == 0)
                                    alert("You cannot delete this Tag because it has been scheduled for Interview");
                            }
                        });
                    }

                    function releventTag() {

                        var id = $("#mgrdropdown").val();
                       
                        $.ajax({
                            url: '/getReleventTag',
                            type: 'post',
                            data: {
                                "id": id
                            },
                            success: function(data) {
                                $('#selecttag').html('');
                                $('#selecttag').append('<option  value="0">-select-</option>');
                                for (var i = 0; i < data.length; i++) {
                                    $('#selecttag').append("<option value='" + data[i].id + "'>" + data[i].title + "</option>");
                                }
                            }
                        });
                    }
                    function qreleventTag() {
                        var id = $("#qmgrdropdown").val();

                        $.ajax({
                            url: '/getReleventTag',
                            type: 'post',
                            data: {
                                "id": id
                            },
                            success: function(data) {
                                $('#qselecttag').html('');
                                $('#qselecttag').append('<option  value="0">-select-</option>');
                                for (var i = 0; i < data.length; i++) {
                                    $('#qselecttag').append("<option value='" + data[i].id + "'>" + data[i].title + "</option>");
                                }
                            }
                        });
                    }

                    function editcdt(id) {
                        $.ajax({
                            url: '/getCandidate',
                            type: 'post',
                            data: {
                                "id": id
                            },
                            success: function(data) {
                               
 
                                $('#hcid').val(data[0][0].id);
                                $('#name').val(data[0][0].name);
                                $('#name').addClass('used');
                                $('#phone').val(data[0][0].phone);
                                $('#phone').addClass('used');
                                $('#email').val(data[0][0].emailID);
                                $('#email').addClass('used');
                                $('#years').val(data[0][0].years);
                                $('#months').val(data[0][0].months);
                                $('#location').val(data[0][0].location);
                                $('#location').addClass("used");
                                $('#clocation').val(data[0][0].clocation);
                                $('#clocation').addClass("used");
                                $('#institute').val(data[0][0].ugInstitute);
                                $('#institute').addClass("used");
                                $('#qualification').val(data[0][0].qualification);
                                $('#qualification').addClass("used");
                                var arr = [];
                                var arrt=[];

                                 if(data[3].length)
                                  arr = JSON.parse(JSON.stringify(data[3][0].skillid)).split(',');
                                 
                                for (var i = 0; i <arr.length; i++) {
                                
                                 arrt.push(arr[i]);                                    
                                }
                              
                               if(arrt.length){
                                
                                 $('#skillsId').tagger({
                                        preselectedTags: arrt,
                                        fieldWidth:'9em'
                                        }); 
                               }
                               if(data[3].length==0){
                            
                                $('#skillsId').tagger({ 
                                        fieldWidth:'9em'
                                        }); 
                               }
              

                                $('#status').val(data[0][0].status);
                                $('#status').addClass('used');

                                $('#locationId').val(data[0][0].location);
                                $('#locationId').addClass("used");

                            }
                        });
                    }

                    function showsalert() {
                        var str = "Enter Valid String\nSyntax for valid Search String are: \n          1.(str)\n          2.(str1)|/&(str2)\n          3.(str1)|/&(str2)|/&(str1)|/&(str2)";
                        alert(str);
                    }

                    function GetData() {
                        var str = $('#gsearch').val();
                        var req11 = ")&(";
                        var req12 = ")|(";
                        var req21 = "&",
                            req22 = "|";
                        var req31 = "(",
                            req32 = ")";

                        var res11 = ') AND (',
                            res12 = ') OR (';
                        var res21 = '%" AND @col like "%',
                            res22 = '%" OR @col like "%';
                        var res31 = '( @col like "%',
                            res32 = '%")';


                        var count = 0;
  
                        if (str.trim().length != 0) {
                            if (str.match("^[a-zA-Z0-9]+$")) {
                                str = "(" + str + ")";
                            }

                            if (str == null || /^[!@#$%]*$/.test(str)) {
                                alert("Enter Valid reg String");
                                return false;
                            }
                            if (str.search(/\(((\()*\w+[\w\+#]*( {1}[\w\+#])*\)((&|\|)\(\w+[\w\+#]*( {1}[\w\+#])*\))*(\)*(&|\|)(\()*\w+[\w\+#]*( {1}[\w\+#])*\)((&|\|)\(\w+[\w\+#]*( {1}[\w\+#])*\))*)*)/) != '0') {
                                showsalert();
                                return false;
                            }
                            if (str.split(req11).length > 0) {
                                count++;
                            }
                            str = str.split(req11).join(res11);
                            if (str.split(req11).length > 0) {
                                count++;
                            }
                            str = str.split(req12).join(res12);
                            if (str.split(req11).length > 0) {
                                count++;
                            }
                            str = str.split(req21).join(res21);
                            if (str.split(req11).length > 0) {
                                count++;
                            }
                            str = str.split(req22).join(res22);
                            if (str.split(req11).length > 0) {
                                count++;
                            }
                            str = str.split(req31).join(res31);
                            if (str.split(req11).length > 0) {
                                count++;
                            }
                            str = str.split(req32).join(res32);
                            if (count < 1) {
                                showsalert();
                                return false;
                            }
                        } else {
                            count++;
                        }
                        var up = {
                            url: '/search',
                            type: 'post',
                            data: {
                                "search": str
                            },
                            success: function(data) {
                                var info = [];
                                var c = 1;
                                var cddid;
                                for (var i = 0; i < data.length; i++) {

                                    var sicon = "<a data-toggle='modal' data-target='#schedule' onclick='scheduleInfo(" + data[i].id + ")'> <span  class='glyphicon glyphicon-dashboard' style='color:#06394A;height:10px'title ='Schedule Interview' > </a>";

                                    var skl = data[i].skills;
                                    if (data[i].stateName == null || data[i].stateName == 0) {
                                        data[i].stateName = "Not Yet Tagged";
                                    }
                                    if (data[i].statusName == null || data[i].statusName == 0) {
                                        data[i].statusName = 'Not Yet Tagged';
                                        sicon = '';
                                    }
                                    if (data[i].location == null) {
                                        data[i].location = "--";
                                    }
                                    if (data[i].skills == null) {
                                        data[i].skills = 'No Skills';
                                    }
                                    var resume = data[i].resumeTitle;
                                    if (resume == null) {
                                        data[i].resumeTitle = '--';
                                    } else {
                                        data[i].resumeTitle = data[i].resumeTitle.replace("/public", "");
                                    }
                                    cddid = data[i].id;
                                    if (resume == null) {
                                        data[i].Action = "<a onclick='editcdt(" + cddid + ");' data-toggle='modal' data-target='#edit'><span  class='glyphicon glyphicon-pencil' style='color:#f05f40;height:10px;cursor:pointer' title ='Edit' ></span></a> <a data-toggle='modal' data-target='#tag' onclick='getAllTag(" + cddid + ")'> <span  class='glyphicon glyphicon-pushpin' style='color:#06394A;height:10px;cursor:pointer'title ='Tags' ></span></a> <span  class='glyphicon glyphicon-save' style='color:#f05f40;height:10px;cursor:pointer'title ='Download' onclick='noresume()' ></span>" + sicon;
                                    } else {
                                        data[i].resumeTitle = data[i].resumeTitle.replace("/public", "");
                                        data[i].Action = "<a onclick='editcdt(" + cddid + ");' data-toggle='modal' data-target='#edit'><span  class='glyphicon glyphicon-pencil' style='color:#f05f40;height:10px;cursor:pointer'title ='Edit' ></span></a> <a data-toggle='modal' data-target='#tag' onclick='getAllTag(" + cddid + ")'> <span  class='glyphicon glyphicon-pushpin' style='color:#06394A;height:10px;cursor:pointer'title ='Tags' ></span> </a><a href='" + data[i].resumeTitle + "' Download> <span  class='glyphicon glyphicon-save' style='color:#f05f40;height:10px;cursor:pointer'title ='Download' ></span>" + sicon;
                                    }
                                    data[i].check = "<input type='checkbox' class='chkAll' name='qcktagcheck' value='" + data[i].id + "' />";
                                    data[i].id = c++;

                                    info.push($.map(data[i], function(k, v) {
                                        return k;
                                    }));
                                }
                              $("#openreqstate").dataTable().fnDestroy();
                                 $("#openreqstate").html('');
                                
                          
                                table = $('#openreqstate').DataTable({
                                    data: info,
                                    columns: [

                                        {
                                            title: "#"
                                        }, {
                                            title: "Candidate Name"
                                        }, {
                                            title: "Phone Number"
                                        }, {
                                            title: "Email Id"
                                        }, {
                                            title: "Location"
                                        }, {
                                            title: "Skills"
                                        }, {
                                            title: "State"
                                        }, {
                                            title: "Status"
                                        }, {
                                            title: "Resume"
                                        }, {
                                            title: "countTag"
                                        }, {
                                            title: "Action"
                                        }, {
                                            title: "Select"
                                        }
                                    ],
                                    "columnDefs": [{
                                        className: "dt-body-left",
                                        "targets": [10]
                                    }],
                                     destroy: true,
                                    "bLengthChange": true,
                                    "searching": false,
                                    "lengthMenu":[[5,10,20,-1],[5,10,20,"All"]]
                                });
                                   table.column(8).visible(false);
                                   table.column(9).visible(false);
                                 if ($('#qmgrdiv').hasClass("hide")){
                                       table.column(11).visible(false);   
                                  } else {
                                          table.column(11).visible(true);
                                  }  
                            }
                        };
                        $.ajax(up);

                    }

                    function aSearch() {
                        $.ajax({
                            url: '/aSearch',
                            type: 'post',
                            data: {
                                "name1": $('#sname').val(),
                                "jdtitle": $('#jdtitle').val(),
                                "location1": $('#slocation').val(),
                                "email1": $('#semail').val()
                            },
                            success: function(data) {
                                var info = [];
                                var c = 1;
                                var cddid;
                                for (var i = 0; i < data.length; i++) {

                                    var sicon = "<a data-toggle='modal' data-target='#schedule' onclick='scheduleInfo(" + data[i].id + ")'> <span  class='glyphicon glyphicon-dashboard' style='color:#06394A;height:10px;cursor:pointer' title ='Schedule Interview' > </a>";

                                    var skl = data[i].skills;
                                    if (data[i].stateName == null || data[i].stateName == 0) {
                                        data[i].stateName = "Not Yet Tagged";
                                    }
                                    if (data[i].statusName == null || data[i].statusName == 0) {
                                        data[i].statusName = 'Not Yet Tagged';
                                        sicon = '';
                                    }
                                    if (data[i].location == null) {
                                        data[i].location = "--";
                                    }
                                    if (data[i].skills == null) {
                                        data[i].skills = 'No Skills';
                                    }
                                    var resume = data[i].resumeTitle;
                                    if (resume == null) {
                                        data[i].resumeTitle = '--';
                                    } else {
                                        data[i].resumeTitle = data[i].resumeTitle.replace("/public", "");
                                    }
                                    cddid = data[i].id;
                                    if (resume == null) {
                                        data[i].Action = "<a onclick='editcdt(" + cddid + ");' data-toggle='modal' data-target='#edit'><span  class='glyphicon glyphicon-pencil' style='color:#f05f40;height:10px;cursor:pointer' title ='Edit' ></span></a> <a data-toggle='modal' data-target='#tag' onclick='getAllTag(" + cddid + ")'> <span  class='glyphicon glyphicon-pushpin' style='color:#06394A;height:10px;cursor:pointer'title ='Tags' ></span></a> <span  class='glyphicon glyphicon-save' style='color:#f05f40;height:10px;cursor:pointer'title ='Download' onclick='noresume()' ></span>" + sicon;
                                    } else {
                                        data[i].resumeTitle = data[i].resumeTitle.replace("/public", "");
                                        data[i].Action = "<a onclick='editcdt(" + cddid + ");' data-toggle='modal' data-target='#edit'><span  class='glyphicon glyphicon-pencil' style='color:#f05f40;height:10px;cursor:pointer'title ='Edit' ></span></a> <a data-toggle='modal' data-target='#tag' onclick='getAllTag(" + cddid + ")'> <span  class='glyphicon glyphicon-pushpin' style='color:#06394A;height:10px;cursor:pointer'title ='Tags' ></span> </a><a href='" + data[i].resumeTitle + "' Download> <span  class='glyphicon glyphicon-save' style='color:#f05f40;height:10px;cursor:pointer'title ='Download' ></span>" + sicon;
                                    }
                                    data[i].check = "<input type='checkbox' class='chkAll' name='qcktagcheck' value='" + data[i].id + "' />";
                                    data[i].id = c++;

                                    info.push($.map(data[i], function(k, v) {
                                        return k;
                                    }));


                                }
                                 $("#openreqstate").dataTable().fnDestroy();
                                 $("#openreqstate").html('');
                                table = $('#openreqstate').DataTable({
                                    data: info,
                                    columns: [{
                                        title: "#"
                                    }, {
                                        title: "Candidate Name"
                                    }, {
                                        title: "Phone Number"
                                    }, {
                                        title: "Email Id"
                                    }, {
                                        title: "Location"
                                    }, {
                                        title: "Skills"
                                    }, {
                                        title: "State"
                                    }, {
                                        title: "Status"
                                    }, {
                                        title: "Resume"
                                    }, {
                                        title: "Action"
                                    }, {
                                        title: "Select"
                                    }],
                                    "columnDefs": [{
                                        className: "dt-body-left",
                                        "targets": [10]
                                    }],

                                    "bLengthChange": true,
                                    "searching": false,
                                    "lengthMenu":[[5,10,20,-1],[5,10,20,"All"]]
                                });
                                table.column(8).visible(false);
                                table.column(10).visible(false);
                            }
                        });
                    }

                    function noresume() {
                        alert("Candidate resume is not available");
                    }



                    $('#check_all_none').click(function () {
if ( $(this).is(':checked') ){
    $('.chkAll').prop("checked", true);
}
else{
    $('.chkAll').removeAttr("checked");
 }

});
                </script>
                <style>
                    input[type=search] {
                        height: 29px !important;
                        border-radius: 5px !important;
                        border: 1px solid #669ECC !important;
                    }
                    
                    input[type=checkbox] {
                        display: inline;
                    }
                </style>
         
                </body>
