<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
    <style>
        .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 19px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    }
    .bodyClass{
        background-color:antiquewhite;margin-top:2% 
    }
    .addClass{
            margin-right: 2%;
             float: right;: 
    }
    .rowClass{
        background-color:#884A4F;
    }

</style>
</head>

<body>
    <div>
        <% include ./partials/adminheader %>
    </div>

    <div class="container-fluid bodyClass" style="">
    <div class="row rowClass">
    Show  
    <select id="clientStatus" class="" onChange="getClientsByStatus()">
            <option value="1">Active</option>
            <option value="2">Inactive</option>
            <option value="3">All</option>
            

    </select>client
    <i class="fa fa-plus addClass" onclick="addEditClient(0)" style=""></i>
    </div>
  
         
         <div class="col-md-12" style="margin-top:2%">
 <table id="client-table" class="table table-hover table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" >  
                 <thead>
                    <tr>
                        <th>Client Code</th>
                        <th>Client Name</th>
                        <th>Client Abb Name</th>
                        <th>Category</th>
                        <th>Client_Account_Lead</th>
                        <th>Location</th>
                        <th>Address</th>
                        <th>Client Contact Person</th>
                        <th>Client Contact Person Email</th>
                        <th>Client Contact Phone</th>
                        <th>Action</th>

                    </tr>
                </thead> 
                <tbody id="clientBody">
               <%for(var i=0;i<clients.length;i++){ %>
                 <tr>       
                 <td><%=clients[i].clientCode%></td>
                 <td><%=clients[i].clientName%></td>
                 <td><%=clients[i].clientAbbName%></td>
                 <td><%=clients[i].category%></td>
                 <td><%=clients[i].leadName%></td>
                 <td><%=clients[i].locName%></td>
                 <td><%=clients[i].address%></td>
                 <td><%=clients[i].clientContactPerson%></td>
                 <td><%=clients[i].clientContactPersonEmail%></td>
                 <td><%=clients[i].clientContactPhone%></td>
                 <td>
                 <span <%if(clients[i].isActive==1){%> onclick="addEditClient(1,<%=clients[i].id%>)" class="glyphicon glyphicon-pencil" style="color:red;height:10px"  title="Edit Assignment" <%}%>></span>
                 
                    <a <%if(clients[i].isActive==1){%> onclick="actinact(<%=clients[i].id%>,1)" <%} else{%> onclick="actinact(<%=clients[i].id%>,0)"<%}%> ><span <%if(clients[i].isActive==1){%>class="glyphicon  glyphicon-ok-sign" style="color:green;height:10px; width:10px;margin-left: 10px;" title="InActive Client" <%} else{%>class="glyphicon  glyphicon-ok-sign" style="color:red;height:10px; width:10px;margin-left: 10px;" title="Active Client"<%}%>  ></span></a>
                 </td>

                 </tr>
              <%}%>
                </tbody>
            </table>
        </div> 
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>
        <script>
        function getClientsByStatus(){
            if($("#clientStatus").val()==1){
               
                window.location.href="/clients?inactive=false";
            }
            else if($("#clientStatus").val()==2){
               
                window.location.href="/clients?inactive=true";
            }
           else  if($("#clientStatus").val()==3){
                window.location.href="/clients?inactive=all";
            }
        }
        $(document).ready(function() {
            
           
           <%if(flagActive=="false"){%>
            $('#clientStatus').val('1');
            <%}%>

             <%if(flagActive=="true"){%>
            $('#clientStatus').val('2');
            <%}%>

             <%if(flagActive=="all"){%>
            $('#clientStatus').val('3');
            <%}%>

               $('#client-table').dataTable({
                "order": []
            });
            $(window).bind('resize', function () {
                oTable.fnAdjustColumnSizing();
              } );
            $('.client-img').addClass('active');
        });

        function addEditClient(flag,cid) {
            var form = document.createElement("form");
            form.action = '/createEditClient';
            form.method = "POST";
            form.style = "display: none";
            var hdnId = document.createElement("input");
            var clientId=document.createElement("input");
            hdnId.type = "hidden";
            hdnId.name = "flag";
            hdnId.value = flag;
            clientId.type = "hidden";
            clientId.name = "cid";
            clientId.value = cid;
            form.appendChild(hdnId);
            form.appendChild(clientId);
            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        }

        function actinact(cid,flag){
  if(confirm("This client will be inactivated ?")==true)$.ajax({
                url: '/changeClientStatus',
                type: 'post',
                data: { "cid": cid, "flag": flag },
                success: function(data) {

                    clientStatus(flag);
                }

            });
}

function clientStatus(st){

    $('#client-table').dataTable().fnDestroy();

    $.ajax({
                url: '/clientStatus',
                type: 'post',
                data: { "status": st },
                success: function(data) {


                    console.log('ddddddddddddddddd');


                    console.log('sssssssssssssssssssss', data);
                    var log = '';
                    
                    for (var i = data.length-1; i >=0 ; i--) {

                        if(st==1){
                        
                        log=log+ '<tr style=height:20px;color:grey;font-size:12px; ><td>'+data[i].clientCode+'</td><td>'+data[i].clientName+'</td><td>'+data[i].clientAbbName+'</td><td>'+data[i].category+'</td><td>'+data[i].clientAccountLead+'</td><td>'+data[i].location+'</td><td>'+data[i].address+'</td><td>'+data[i].clientContactPerson+'</td><td>'+data[i].clientContactPersonEmail+'</td><td>'+data[i].clientContactPhone+'</td><td>   <a  onclick="addEditClient(1,'+data[i].id+')"> <span class="glyphicon glyphicon-pencil" style="color:red;height:10px" title="Edit Project"></span></a>  <a  onclick=" actinact('+data[i].id+',1)"><span class="glyphicon glyphicon-ok-circle" style="color:green;height:10px; width:10px;margin-left: 10px;" title="InActive Client"></span></a></td>  </tr>';
                    }
                    else{
                        log=log+ '<tr style=height:20px;color:grey;font-size:12px; ><td>'+data[i].clientCode+'</td><td>'+data[i].clientName+'</td><td>'+data[i].clientAbbName+'</td><td>'+data[i].category+'</td><td>'+data[i].clientAccountLead+'</td><td>'+data[i].location+'</td><td>'+data[i].address+'</td><td>'+data[i].clientContactPerson+'</td><td>'+data[i].clientContactPersonEmail+'</td><td>'+data[i].clientContactPhone+'</td><td>   <a  onclick=" actinact('+data[i].id+',0)"><span class="glyphicon glyphicon-ok-sign" style="color:red;height:10px;margin-left: 10px;" width:10px" title="InActive Client"></span></a></td>  </tr>';
                    }

                        
                    }$('#client-table').dataTable().fnDestroy();

                    $('#clientBody').html(log);
                    
                    $('#client-table').dataTable({ "order": []  });
                }

            });

 }


        </script>
</body>

</html>