<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <div>
        <% include ./partials/assetheader %>
    </div>
    <div style="background-color:antiquewhite">
             <div class="row">
            
             <div class="col-md-4"></div>
             <div class="col-md-4">
              	 <strong><h3><select class="single" id="assetType" onchange="getComponent()">
              		<%for(var i=0;i<assetType.length;i++){%>
              		<option value='<%=assetType[i].id%>'><%=assetType[i].type%></option>
              		<%}%>
              	</select>
              	<select class="single" id="assetComponent" onchange="ajaxcall(this.value)">
              	<%for(var i=0;i<assetComponent.length;i++){%>
              		<option value='<%=assetComponent[i].id%>'><%=assetComponent[i].componentName%></option>
              		<%}%>	
              	</select>
              <button type="submit" class="btn btn-primary" onclick="save()">Save</button></h3></strong></div>
              <div class="col-md-4"></div>
             </div>
             <div class="row">
             <div class="col-md-2"></div>
             <div class="col-md-4">
              <div class="row">Primary Attributes</div>
      <div class="row">
    
      	<div class="col-md-5">
      	<div class="row">
      	<div class="form-control" id="p1">Attribute1
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="p2">
      	Attribute2
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="p3">
      	Attribute3
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="p4">
      	Attribute4
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="p5">
      	Attribute5
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="p6">
      	Attribute6
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="p7">
      	Attribute7
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="p8">
      	Attribute8
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="p9">
      	Attribute9
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="p10">
      	Attribute10
      	</div>
      	</div>
      	</div>
        
      	<div class="col-md-5">
      		<div class="row">

           <select id="ps1" type="dropdown" name="type" class="form-control attr" >
        <option value="None">None</option>
    
        </select>
        </div>
        <div class="row"> <select id="ps2" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ps3" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ps4" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ps5" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ps6" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ps7" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ps8" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ps9" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ps10" type="dropdown" name="type" class="form-control attr"  >
        <option value="None">None</option>
    
        </select></div>
      <div class="col-md-2"></div>
      	</div>
      
      </div>

      
    

<<<<<<< HEAD
            <!--  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a data-toggle="pill" href="#desk">Desktop</a></li>
    <li><a data-toggle="pill" href="#lap">Laptop</a></li>
    <li><a data-toggle="pill" href="#acc">Accessories</a></li>
    
  </ul> -->
  </div>
  <div class="col-md-1"></div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-4">
 <!--  <div class="tab-content">
    <div id="desk" class="tab-pane fade in active"> -->
=======
            
  </div>
  <div class="col-md-1"></div>
  
  <div class="col-md-4">
 
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
     <div class="row">Secondary Attributes</div>
      <div class="row">
    
      	<div class="col-md-5">
      	<div class="row">
      	<div class="form-control" id="s1">Attribute1
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="s2">
      	Attribute2
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="s3">
      	Attribute3
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="s4">
      	Attribute4
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="s5">
      	Attribute5
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="s6">
      	Attribute6
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="s7">
      	Attribute7
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="s8">
      	Attribute8
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="s9">
      	Attribute9
      	</div>
      	</div>
      	<div class="row">
      	<div class="form-control" id="s10">
      	Attribute10
      	</div>
      	</div>
      	</div>
        
      	<div class="col-md-5">
      		<div class="row"> <select id="ss1" type="dropdown" name="type" class="form-control attr"  >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ss2" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ss3" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ss4" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ss5" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ss6" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ss7" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div> 
        <div class="row"> <select id="ss8" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ss9" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
        <div class="row"> <select id="ss10" type="dropdown" name="type" class="form-control attr" value="" >
        <option value="None">None</option>
    
        </select></div>
      <div class="col-md-2"></div>
      	</div>
      <div class="col-md-1"></div>
      </div>

      
    </div>
<<<<<<< HEAD
   <!--  <div id="lap" class="tab-pane fade">
      <center><h3>Laptop</h3></center>
      <div class="row">
      	<div class="col-md-6"></div>
      	<div class="col-md-6"></div>
      </div>
    </div>
    <div id="acc" class="tab-pane fade">
      <center><h3>Accessories</h3></center>
      <div class="row">
      	<div class="col-md-6"></div>
      	<div class="col-md-6"></div>
      </div>
    </div>
    </div>
    </div> -->
=======
   
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
  </div>
 <input id="ips1" class="hide"></input>
 <input id="ips2" class="hide"></input>
 <input id="ips3" class="hide"></input>
 <input id="ips4" class="hide"></input>
<input id="ips5" class="hide"></input>
 <input id="ips6" class="hide"></input>
 <input id="ips7" class="hide"></input>
 <input id="ips8" class="hide"></input>
 <input id="ips9" class="hide"></input>
 <input id="ips10" class="hide"></input>
 <input id="iss1" class="hide"></input>
 <input id="iss2" class="hide"></input>
 <input id="iss3" class="hide"></input>
 <input id="iss4" class="hide"></input>
 <input id="iss5" class="hide"></input>
 <input id="iss6" class="hide"></input>
 <input id="iss7" class="hide"></input>
 <input id="iss8" class="hide"></input>
 <input id="iss9" class="hide"></input>
 <input id="iss10" class="hide"></input>
 
             </div>
             <footer>
        <% include ./partials/footer %>
    </footer>
                <script type="text/javascript">
            $(document).ready(function(){
              $('#assetComponent').val('1').trigger('change');
            });
            $('.single').selectpicker({
              size:'auto',
              width:150
            });
<<<<<<< HEAD
           /* $('.single').addClass('col-xs-3').selectpicker('setStyle');*/
            function ajaxcall(acid){
              $('.attr').val('None');
              $('input').val('');
              console.log("UD");
              $('.attr option').prop('disabled',false);
              console.log(acid);
=======
            function ajaxcall(acid){
              $('.attr').val('None');
              $('input').val('');
              $('.attr option').prop('disabled',false);
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
              $.ajax({
                url:'/getMapping',
                method:'post',
                data:{acid:acid},
                dataType:'json',
                success:function(result){
                  abc=result[0]
                 for(var i=0;i<abc.length;i++){
                    if(abc[i].flag=='0'){
<<<<<<< HEAD
                      console.log("yesssss");
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                      $('#ips'+abc[i].attNo).val(abc[i].AID);
                      $('#ps'+abc[i].attNo).val(abc[i].AID);
                     $('.'+abc[i].AID).prop('disabled',true);
                    }
                    if(abc[i].flag=='1'){
<<<<<<< HEAD
                      console.log("no");
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                      $('#iss'+abc[i].attNo).val(abc[i].AID);
                      $('#ss'+abc[i].attNo).val(abc[i].AID);
                     $('.'+abc[i].AID).prop('disabled',true);
                    }
                  }

                }
              });

            }
            function save(){
              var pri='',sec='',priAtt='',secAtt='';
              for(var i=1;i<11;i++){
                if($('#ips'+i).val()!='' ||$('#ips'+i).val()=='None'){
                  if($('#ips'+i).val()=='None'){
                    $('#ips'+i).val('0');
                  }
                  if(priAtt!=''){
                  priAtt=priAtt+','+i;
                }
                else{
                  priAtt=i;
                }
                if(pri!=''){
                  pri=pri+','+$('#ips'+i).val();
                }
                else{
                  pri=$('#ips'+i).val();
                }
                }
                
                if($('#iss'+i).val()!='' ||$('#iss'+i).val()=='None'){
                  if($('#iss'+i).val()=='None'){
                    $('#iss'+i).val('0');
                  }
                  if(secAtt!=''){
                  secAtt=secAtt+','+i;
                }
                else{
                  secAtt=i;
                }
                if(sec!=''){
                  sec=sec+','+$('#iss'+i).val();
                }
                else{
                  sec=$('#iss'+i).val();
                }
                }
              }
<<<<<<< HEAD
              console.log(pri);
              console.log(sec);
              console.log(priAtt);
              console.log(secAtt);
=======
             
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
              $.ajax({
                url:"/saveMaster",
                method:'post',
                data:{ACID:$("#assetComponent").val(),pri:pri,priAtt:priAtt,sec:sec,secAtt:secAtt},
                 dataType:'json',
                success:function(result){

                  alert('Changes have been saved succesfully!');
                }
              });
            }
           
          function getComponent(){
          	
          	 $.ajax({
                url: "/assetComponent",
                method:'post',
                
                 data: {
                   type: $('#assetType').val()},
               dataType: 'json',
                success: function(result){
            var data=JSON.stringify(result);
<<<<<<< HEAD
            console.log(JSON.parse(data));
            var options = $("#assetComponent");
            options.empty();
$.each(JSON.parse(data), function() {
	console.log(data);
=======
            var options = $("#assetComponent");
            options.empty();
$.each(JSON.parse(data), function() {
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
	
    options.append($("<option />").val(this['id']).text(this['componentName']));
    
});
options.selectpicker('refresh');
       $('#assetComponent').val(JSON.parse(data)[0].id).trigger('change');         
                
            }});
             
          }
          var val;
          $(".attr").on('focus click keydown', function () {
<<<<<<< HEAD
                console.log(this);
                  val=this.value;
                
    }).change(function() {
      console.log(this);if(val!='None'&& val!=this.value){
      console.log("IF");
         $('.'+val).prop('disabled',false);
         
          }
          console.log('as'+this.id);
        $('#i'+this.id).val(this.value);
       $('.'+this.value).prop('disabled',true);
         /*console.log($('.'+this.value));*/
       /*this.('selected','selected');*/
       
          });
         /* $('select').bind('focus click keydown',function(){
            $(this).data('prev',$(this).val());
            console.log($(this).val());
          }).bind('change',function(){
            console.log($(this).data('prev'));
            if($(this).data('prev')!='None'&& $(this).data('prev')!=$(this).val()){
            $('.'+$(this).data('prev')).prop('enabled',false);    
            }
         
        
         $('.'+$(this).val()).prop('disabled',true);
          });*/
var attribute=<%-JSON.stringify(attr)%>
console.log(attribute);
=======
                  val=this.value;
                
    }).change(function() {
      
         $('.'+val).prop('disabled',false);
         
          }
         
        $('#i'+this.id).val(this.value);
       $('.'+this.value).prop('disabled',true);
        });
        
var attribute=<%-JSON.stringify(attr)%>
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
var options = $(".attr");
$.each(attribute, function() {
    options.append($("<option />").val(this.id).text(this.attribute).addClass(function() {
    return this.value;
}));
});
            </script>