<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <% include ../partials/adminheader %>
            <% include assetheader %>

</head>
<style type="text/css">
    .dataTables_filter,
    .dataTables_length {
        display: none;
    }
    .marginLeftRight{
         margin-left: -31%;
    width: 123%;   
    }
     .marginLeftRight{      
         margin-left: -31%;     
    width: 123%;        
    } 
    textarea { resize: none }

      

</style>

<body >
     <div class="container-fluid   secondry-color">
       <div id="" style="margin-top: 20px;margin-left: 10px;margin-right: 10px;">
         <div class="col-md-8">
           <span class="modal-title" style="color:red;margin-left: 600px">Assigned Asset</span>
         </div>
         <div class="col-md-2">
           <a data-toggle='modal' data-target='#problem'>
           <span class='glyphicon glyphicon-export' onclick='selectadmin()' style='color:green;float: right' title='Edit'></span>
           </a>
         </div>
        
          <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%">
            <table class=" table-striped  table-hover " id="aTable" style="padding-top: 10px">
                <thead id="headi">
                    <th>#</th>
                    <th>Name</th>
                    <th>Asset</th>
                    <th>Service Tag</th>
                    <th>Assign Date</th>
                    <th>Status</th>
                </thead>
                 <tbody id="bodyi">
                 <% var k=0;
                 for(var i=0;i<assignedast.length;i++){%>
                    <%for(var j=0;j<assignedast[i].length;j++){++k;%>

                        <tr>
                            <td>
                                <%= k %>
                            </td>
                            <td>
                                <%=assignedast[i][j].firstName%>
                            </td>
                            <td>
                                <%=assignedast[i][j].componentName%>
                            </td>
                            <td>
                            <%if(assignedast[i][j].tagNo!=1){%>
                                <%=assignedast[i][j].tagNo%>
                                <%}else{%>
                               -----------
                                <%}%>
                            </td>
                            <td>
                                <%=assignedast[i][j].assignDate%>
                            </td>
                            <td>
                                <span>Assigned</span>
                            </td>
                        </tr>
                        <%}}%>
                </tbody>
            </table> 
       </div>
        </div>
  
</body>
<footer>
    <% include ../partials/footer %>
</footer>


 <div class="modal fade" id="problem" role="dialog">
 
    <div class="modal-dialog modal-lg">
        <!--- Modal content-->
        <div class="modal-content" id="express23" style="width: 1100px;margin-left: -11%">
            <div class="modal-header" style="background-color:#f05f40;">
                <center><label id="head4" class="modal-title" style="color:white;font-size:10pt;"><b>Write Us Your Issue</b></label>
                    <span id="closeedit" class='close closeedit' data-dismiss="modal" style='float:right;' title='Close'> &times;  </span>
                </center>
            </div>
            <div id="err" class="col-lg-6 col-sm-offset-3"></div>
            <div class="modal-body">
                <div class="row" style="max-width: 100% overflow-y:auto" >
                    <table class="table"  >
                        <tr>
                            <td>
                                <td>
                                    <label class="form-Label">Subject: *</label>
                                </td>
                                <td>
                                      <input type='text' maxlength="500" name="name" class="form-text-box" id="issue" />
                                </td>
                            </td>
                            <td>
                                <td>
                                    <label class="form-Label">Problem With Asset: *</label>
                                </td>
                                <td>
                                     <select id="aset" type="dropdown" name="asettype" class="form-text-box">
                                       <option value="0"selected="">Select Asset</option>
                                         <% for(var i=0;i<assignedast.length;i++){%>
                                          <%for(var j=0;j<assignedast[i].length;j++){
                                                       console.log('************here is',assignedast[i][j].componentName);
                                        %>

                                 <option value="<%=assignedast[i][j].componentName%>"><%=assignedast[i][j].componentName%></option>
                                         <%}}%> 
                                      </select>
                                </td>
                            </td>
                              <td>
                                    <label class="form-Label">select your admin: *</label>
                                </td>
                                <td>
                                    <select id="admin" type="dropdown" name="adminame" class="form-text-box" >
                                    <option disabled value="0"selected="">Select admin</option>
                                    </select>
                                </td>

                            
                        </tr>
                        
                      
                    </table>


                    <div class="row">
                        <div class="col-md-2" style="padding-left: 25px"><label class="form-Label" style="padding-left: 5px">Message: *</label></div>
                      <div class="col-md-10"><textarea id="message" maxlength="500" name="name" class="form-text-box" style="width: 924px;height: 120px;margin-left: -69px" ></textarea></div>
                    </div>


                  </div>
                </div>
              <div class="modal-footer" style="border-top:0px;">
                <center>
                    <button id="cancel" type="reset" data-dismiss="modal" class="btn btn-default"  >Cancel</button>
                    <a onclick="sendemail()" class="btn btn-default"  >Submit</a>
                </center>
            </div>
        </div>
    </div>
 
</div>


<script type="text/javascript">
    $('#test5').click(function() {
      alert("test in click");
        if ($(this).is(':checked')) {
            $('#lic').removeClass('hide');
        } else {
            $('#lic').addClass('hide');
        }
    });
    
     function selectadmin()
      {
        $('#admin').html('');
        $('#aset').val(0);
        $('#issue').val('');
        $('#message').val('');

        $.ajax({
            url: '/selectAdminData',
            method: 'POST',
             
            success: function(data) {
               var row='';
                for(var i=0;i<data.length;i++)
                {
               row=row+"<option value="+data[i].userEmail+"> "+data[i].name+"</option>";
                }
                $('#admin').append("<option value='0'>select</option>");

            $('#admin').append(row);  
            
            dataType: 'JSON'
                }
        });
    }
      
 function sendemail()
 {    
        if ($('#issue').val().length < 1 || $.trim($('#issue').val()) == '')
       {
        alert('Please write subject');
        return false;
       }
      if($('#aset').val()=='0')
       {
        alert('Please select Asset');
        return false;
       }
      if ($('#admin').val()=='0')
       {
        alert('Please select Admin');
        return false;
       }
       if ($('#message').val().length < 1 || $.trim($('#message').val()) == '')
       {
        alert('Please write your message');
        return false;
       }
      
      
     
     $.ajax({
            url: '/sendemail',
            method: 'POST',
            data: {
                "Subject": $('#issue').val(),
                "assetname": $('#aset').val(),
                "adminemailid": $('#admin').val(),
                "msg": $('#message').val()
            },
            success: function(data) {
                        alert("we have received your request.your issue will be solved shortly...Thank you");
                window.location.href = "/assignasset";
            },
            dataType: 'JSON'
        }); 
 }



    $(document).ready(function() {

        $('.assign-img').addClass("active");

        var oTable = $("#aTable").dataTable({
            "bLengthChange": false,
            "binfo": false
        });
          $("#searchbox").keyup(function() {
        oTable.fnFilter(this.value);
    });
    });
  

</script>
