<!DOCTYPE html>
<html lang="en">
<style type="text/css">
.dataTables_filter, .dataTables_length {
     display: none;
    }
.glyphicon-ok-circle{
  color:green!important;
 }
</style>
	<head>

	     <% include ../partials/head %>
	       <% include assetheader %>
	       <% include ../partials/adminheader %>
	</head>

	<body>
		 <!--  <div class="se-pre-con"></div>assetType.length and al.typeId=tpId --> 
		<div class="secondry-color">
			<div style="padding:2%;padding-top:1%">
			<span class="modal-title" style="padding-left:37%">Inventory Details</span>
               <select style="float:left;width:auto; margin-bottom:1%;margin-left:10px;margin-top: 3px"class="form-text-box" id='active' name="active" onchange="viewInventType()">
               <option value="-1">All</option> 
                <% for(var i=0;i<2;i++){ %>
                  <option value="<%=assetType[i].id%>"><%=assetType[i].type%></option>
                  <%}%>       
              </select>   
               <span id="download" class="glyphicon glyphicon-download" onclick="exportInventory('inventory')" style="margin-left:354px;cursor: pointer;font-size:19px" title="Download Inventory Details" > </span> 
               <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%">
				<table  class="table stripe cell-border hover"  id="inventTable">
					<thead>
						<th>S.No.</th>
						<th>Type Name</th>
						<th>Quantity</th>
						<th># Assigned</th>
						<th># UnAssigned</th>
						<th># Faulty</th>
					</thead>
					<tbody id="inventTableData">
					<%var sno=0;console.log("td ->",tableData);for(i=0;i<tableData.length;i++){%>
					<%if(tableData[i].compcount!=0){%>
						<tr>
						<td><%=++sno%></td>
						<td><%=tableData[i].componentName%></td>
						<td><%=tableData[i].compcount%></td>
						<td><span><%=tableData[i].assigned%></span><%if(tableData[i].assigned!=0){%><span title="View Assigned Component" style="margin-left: 70px;color:green" class="glyphicon glyphicon-list-alt" onclick="showinventory(1,<%=tableData[i].id%>,<%=tableData[i].TypeId%>)"></span><%}%></td>
						<td><span><%=(tableData[i].compcount)-(tableData[i].assigned)-(tableData[i].faulty)%></span><%if(((tableData[i].compcount)-(tableData[i].assigned)-(tableData[i].faulty)!=0)){%><span title="View Unassigned Component" class="glyphicon glyphicon-list-alt" style="margin-left: 70px;color:green" onclick="showinventory(0,<%=tableData[i].id%>,<%=tableData[i].TypeId%>)"></span><%}%></td>
						<td><span style="width:100px"><%=tableData[i].faulty%></span><%if(tableData[i].faulty!=0){%><span style="margin-left: 70px;color:green" title="View Faulty Component" class="glyphicon glyphicon-list-alt" onclick="showinventory(2,<%=tableData[i].id%>,<%=tableData[i].TypeId%>)"></span><%}%></td>
					
						</tr>
						<%}}%>
					</tbody> 
				</table>
			</div>
		<div  id="accordions" class="hide">
        <div style="margin-left: 25px;margin-right: 25px;margin-top: 10px"> 
 
        <table class="table table-hover table-striped table-bordered rceDataTable" cellpadding="0" cellspacing="0" border="0" id="userTable" style="width:100%">
               <thead><tr style='font-size:10px;height:10px' ><th style="height:10px">S.No.</th><th style="height:10px">Component Name</th><th style="height:10px">Tag No.</th><th style="height:10px">Brand</th><th style="height:10px">Warranty Start Date</th><th style="height:10px">Warranty End Date</th><th style="height:10px">Action</th></tr></thead>
         </table>
        </div>
    </div>
		</div>

	
	</body>
	<footer>
	        <% include ../partials/footer %>
	</footer>
</html>
    <script src="http://alasql.org/console/alasql.min.js"></script>
<script>
var otable='';
  $(document).ready(function() {   
            $('.inv-img').addClass('active');

         otable= $('#inventTable').dataTable({ 'iDisplayLength': 10,
            "order":[],
            "bDestroy": true, 
            "info":false});
        
        $("#searchbox").keyup(function() {
        otable.fnFilter(this.value);
      });
        
        $("#searchbox").keyup(function() {
        otable.fnFilter(this.value);
      });
        });


     function myFunction1(str1) {
    var str = str1
    var n = str.length;
    var lic=str;
    var first=lic.substring(0,1);
    var secont=lic.substring(11,n);
    var finals=first.concat(secont);
    return finals;
}

     function exportInventory()
		{
			  var status=$("#active").val(); 
			  $(".se-pre-con").fadeIn("slow");
			var header=['Type Name','Quantity','Assigned','UnAssigned','Faulty'];

			var url ='/exportToCsv';
			$.ajax({
			url: url,
			method: 'POST',
			data : {"type":'inventory','status':status},
			success: function(data) {
			    
			data.unshift(header);
			//alert(data);
			alasql("SELECT * INTO CSV('inventory.csv') FROM ?",[data]);
			 $(".se-pre-con").fadeOut("slow");
			/*$("#btnDownloadbug").prop('disabled', false);----/*/
			},
			dataType: 'JSON',
			});   

			$(".se-pre-con").fadeOut("slow");
		} 
	function viewInventType(){
    $('#accordions').addClass('hide');
         $.ajax({
                url: '/inventory',
                type: 'post',
                data: { "type": $('#active').val() },
                success: function(data) { 
                    var log='';
                    for(var i=0;i<data.length;i++){ 
                    	var line=i+1
                      var UnAssigneddata=parseInt(data[i].compcount)-(parseInt(data[i].assigned)+parseInt(data[i].faulty));
                    log=log+"<tr><td>"+line+"</td>"+"<td>"+data[i].componentName+"</td>";
                    log=log+"<td>"+data[i].compcount ;
                      if(data[i].compcount>0){
                        log=log+"</td>";
                    }
                  else{
                    log=log+"</td>";
                    }
                    log=log +"<td>"+data[i].assigned
                       if(data[i].assigned>0){
                        log=log+"<span title='View Assigned Component' onclick='showinventory(1,"+data[i].id+","+data[i].TypeId+");' class='glyphicon glyphicon-list-alt' style='margin-left: 70px;color:green'></td>";
                    }
                  else{
                    log=log+"</td>";
                    }
                    log=log +"<td>"+UnAssigneddata
                       if(UnAssigneddata>0){
                        log=log+"<span title='View Unassigned Component' onclick='showinventory(0,"+data[i].id+","+data[i].TypeId+");' class='glyphicon glyphicon-list-alt' style='margin-left: 70px;color:green'></td>";
                    }
                  else{
                    log=log+"</td>";
                    }
                    log=log+"<td>"+data[i].faulty
                       if(data[i].faulty>0){
                        log=log+"<span title='View Faulty Component' onclick='showinventory(2,"+data[i].id+","+data[i].TypeId+");' class='glyphicon glyphicon-list-alt' style='margin-left: 70px;color:green'></td>";
                    }
                  else{
                    log=log+"</td>";
                    }
                    log=log +"</tr>";
                        	console.log('jai mata di',parseInt(data[i].compcount)-(parseInt(data[i].assigned)+parseInt(data[i].faulty)));
                  }
                 otable.fnDestroy();
                $('#inventTableData').html(log);
                otable=$('#inventTable').dataTable({
                	"order":[],
		            "bDestroy": true, 
		            "info":false
                } ); 
                }
          
            });
}

  function showinventory(assinflag,componentid,coId){
           $('#accordions').removeClass('hide');
            var url1 = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin +'/showinfo';
            $.ajax({
                url: url1,
                method: 'POST',
                  data: { flag:assinflag,
                         astId:componentid,
                         coid:coId
               },
                dataType: 'json',
                success: function(users1) {
                      
                            
                        if (users1.length > 0) { //<input type='hidden' value='" + users1[i].id + "' id='l" + users1[i].id + "'>" +
                           if(coId==1){
                               var log = "<thead><tr style='font-size:10px' >"+ "<th style='height:10px'>S. No.</th>" + "<th style='height:10px'>Component Name</th>" + "<th style='height:10px'>Tag No.</th>" + "<th style='height:10px'>Brand</th>" +"<th style='height:10px'>Warranty start Date</th>"+"<th style='height:10px'>Warranty End Date</th>"+ "</tr></thead><tbody id='tablebody'>";
                         }else{

                          var log = "<thead><tr style='font-size:10px' >"+ "<th style='height:10px'>S. No.</th>" + "<th style='height:10px'>Component Name</th>" + "<th style='height:10px'>license Key.</th>" + "<th style='height:10px'>Software Name</th>" +"<th style='height:10px'>Warranty start Date</th>"+"<th style='height:10px'>Warranty End Date</th>"+ "</tr></thead><tbody id='tablebody'>";
                         }
                            for (var i = 0; i < users1.length; i++) {
                               var sro=i+1;
                         
                     log = log + "<tr style='height:10px;color:grey;font-size:10px;'  id='" + users1[i].id + "'><td>"+sro+"</td><td >" + users1[i].componentName+  "</td>";
                     if(users1[i].typeId==2){
                     log=log+ "<td >"+ myFunction1(users1[i].tagNo)+  "</td>";
                     }
                      else{
                      log=log+"<td >" +users1[i].tagNo+  "</td>";
                     }
                      log=log+"<td >" + users1[i].name+  "</td>"+"<td >" + users1[i].warrantyStart+  "</td>"+"<td >" + users1[i].warrantyEnd+  "</td>";
                   
                       }
                            log=log+"</tbody>";
                           console.log(log);


                            $("#userTable").dataTable().fnDestroy();
                                     $("#userTable").html(log);
     
                          var data =   $("#userTable").dataTable(/*{
                                "bLengthChange": true,
                "paging": true,
                "binfo" : false , 
                 "bDestroy": true ,  

                "aoColumnDefs": [{
                    "bSortable": false,
                    "aTargets": [-1]
                }],
                "autoWidth": false,
                "columns": [{
                    "width": "10%"
                }, {
                    "width": "10%"
                }, {
                    "width": "10%"
                }]
                       }*/);  
                                     /*   $("#searchbox1").keyup(function() {    
        $("#bugtable1").dataTable().fnFilter(this.value);
      });     */
           
                        }
                    
                }
            });
        
        }
 

 </script>

