<head>
    <% include ../partials/head %>

        <% include ../partials/adminheader %>

            <% include assetheader %>
<<<<<<< HEAD
            <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>-->
                    <link href="js/dist/css/select2.min.css" rel="stylesheet" />
                    <script src="js/dist/js/select2.min.js"></script>
                    <script type="text/javascript">

                    $(document).ready(function() {
                        jQuery('#assigndate').datetimepicker({
                            timepicker: false,
                            format: 'd/m/Y'
=======
                <script type="text/javascript">
                    $(document).ready(function() {
                        jQuery('#assigndate').datetimepicker({
                            timepicker: false,
                            format: 'd/m/Y',
                            scrollMonth : false,
        scrollInput : false
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                        });
                        var otable = $("#adTable").dataTable();
                        $("#searchbox").keyup(function() {
                            otable.fnFilter(this.value);
                        });
<<<<<<< HEAD
                          var otable1 = $("#assTable").dataTable({
                    "order":[],
                    "bDestroy": true, 
                    "info":false
                } );
=======
                          otable1 = $("#assTable").dataTable({
                            // "order":[],
                            // // "scrollX": true,
                            // "bDestroy": true, 
                            // "info":false
                        });
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                        $("#searchbox1").keyup(function() {
                            otable1.fnFilter(this.value);
                        });

                        $('.trans-img').addClass('active');
                        $(".a").click(function() {
                            $(this).fadeTo("fast", .5).removeAttr("href");
                        });

<<<<<<< HEAD
    /*$('#usersId').tagger({
                          baseURL: '../img/'
                         , tabindexOffset: 400
                          , fieldWidth: "13em"

                        });*/
        
        $("#usersId").select2();

=======
    // $('#usersId').tagger({
    //                       baseURL: '../img/'
    //                      , tabindexOffset: 400
    //                       , fieldWidth: "13em"

    //                     });

        $('#usersId').chosen();
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd

 

   $('#usersId1').tagger({
                          baseURL: '../img/'
                          , tabindexOffset: 400
                          , fieldWidth: "13em"

                        });
                    });
                </script>

                <style>
<<<<<<< HEAD
                    .dataTables_filter,
                    .dataTables_length {
                        display: none;
                    }
=======
                   /* .dataTables_filter,
                    .dataTables_length {
                        display: none;
                    }*/
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                </style>
</head>
<html lang="en">

<body>

<<<<<<< HEAD
<!--model-->

<div class="modal " id="commentModal"  role="dialog">
<center>
  <div class="modal-dialog" style="display:table;">
    <!-- Modal content-->
=======
<div class="modal fade" id="commentModal" role="dialog" >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" id="cut">×</button>
            <h4 class="modal-title">Reason</h4>
        </div>
        <div class="modal-body">
            <select id='faultyreason' class="form-control input-sm"><option value='0' selected="">--select--</option><option value="1">Full Damage</option><option value="2">partially damage</option><option value="3">User Problem</option></select>
        </div>
        <div class="modal-footer">
          <button class="btn" onclick="unasigned(numbercount)">OK</button>
          <button class="btn" onclick="cancel()">CANCEL</button>
        </div>
      </div>
    </div>
</div>

<!-- <div class="modal " id="commentModal"  role="dialog">
<center>
  <div class="modal-dialog" style="display:table;">
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
    <div class="modal-content" id="express2" style="height:150px;width:250px">
      <div class="modal-header" style="background-color:#f05f40;">
        <center><label id="head4" class="modal-title" style="color:white; ">Reason </label>
        <span  data-dismiss="modal" id="cut"  class="glyphicon glyphicon-remove" style='font-size:14pt;float:right;color:black;margin-bottom: 25px'></span>
        </center>
      </div>
      <div id="err" class="col-lg-6 col-sm-offset-3"></div>
      <div class="modal-body">
        <div class="form-group">
          <div class=" col-md-12 table-responsive">
<<<<<<< HEAD
           <select id='faultyreason'class="form-text-box" style="width: 100%"><option value='0' selected=>--select--</option><option value="1">Full Damage</option><option value="2">partially damage</option><option value="3">User Problem</option></select>
=======
           <select id='faultyreason'class="form-control input-sm" style="width: 100%"><option value='0' selected="">--select--</option><option value="1">Full Damage</option><option value="2">partially damage</option><option value="3">User Problem</option></select>
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
            <div class="row" style="padding-top: 17px">
            <div class="col-md-6">
             <input   type="button"class="btn btn-primary btn-ms" onclick="cancel();" value="CANCEL" style="width: 100%">
             </div>
             <div class="col-md-6">
              <input   type="button"class="btn btn-primary btn-ms" onclick="unasigned(numbercount)" value="OK" style="width: 100%">
             </div>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </center>
<<<<<<< HEAD
</div>

<!--model end-->

=======
</div> -->
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
    <div class="container-fluid   secondry-color" style=" ">


        <div class="container-fluid secondry-color" style="margin-top:0%;min-height: 400px">

            <div class="row" >

<<<<<<< HEAD
                <div class="col-md-2" style="width: 13em;">

                    <label class="form-Label">Select User :</label>
                    <select id="usersId" class="form-text-box" onchange="getData(1,1)">
=======
                <div class="col-md-2">

                    <label class="form-Label">Select User :</label>
                    <select id="usersId" class="form-control input-sm" onchange="getData(1,1)">
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
            <option value="0"selected="">select</option>
              <%for(var i=0;i<users.length;i++){if(users[i].isActive ==1){%><option value='<%=users[i].id%>'><%=users[i].Name%></option>
              <%}}%>
          </select>
                </div>
<<<<<<< HEAD
                <div class="col-md-2" style="width: 13em;">
                    <label class="form-Label">Type:</label>

                    <select id="chooseType" class="form-text-box" onchange="chooseType()">
=======
                <div class="col-md-2">
                    <label class="form-Label">Type:</label>

                    <select id="chooseType" class="form-control input-sm" onchange="chooseType()">
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
              <option value=''>Select</option>
              <option value="0">Hardware</option>
              <option value="1">Software</option>
            </select>
                </div>
<<<<<<< HEAD
                <div id="hardwareList" class="hide col-md-2" style="width: 13em;">
                    <label class="form-Label">Hardware List:</label>
                    <select id="hw" type="dropdown" class="form-text-box" onchange="getList('1',this.value)"> 
                </select>
                </div>
                <div id="softwareList" class="hide col-md-2" style="width: 13em;">
                    <label class="form-Label">Software List:</label>
                    <select id="ac" type="dropdown" class="form-text-box" onchange="getAcc()"></select>
=======
                <div id="hardwareList" class="hide col-md-2">
                    <label class="form-Label">Hardware List:</label>
                    <select id="hw" type="dropdown" class="form-control input-sm" onchange="getList('1',this.value)"> 
                </select>
                </div>
                <div id="softwareList" class="hide col-md-2">
                    <label class="form-Label">Software List:</label>
                    <select id="ac" type="dropdown" class="form-control input-sm" onchange="getAcc()"></select>
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                </div>

                <div id="assignedtohardware" class="hide col-md-2" style="width: 14em;">
                    <label class="form-Label">Assigned Desktop/Laptop:</label>
<<<<<<< HEAD
                    <select id="as" type="dropdown" class="form-text-box"></select>

                </div>

                <div id="hardwareTag" class="hide col-md-2" style="width: 13em;">
                    <label class="form-Label">Hardware Tag:</label>
                    <select id="hdwTagOption" class="form-text-box " onchange="showdate()">
            <option value=''>Select</option>
            </select>
                </div>
                <div id="softwareLic" class="hide col-md-2" style="width: 13em;">
                    <label class="form-Label">Software Licence:</label>
                    <select id="acccc" class="form-text-box ">
                </select>
                </div>
                <div id="date123" class=" col-md-2" style="width: 13em;">
                    <label class="form-Label">Assign Date:</label>
                    <input id="assigndate" class="form-text-box date">
                </div>
             
                <input type="submit" class="btn btn-primary btn-xs" value="Assign" style="margin-top:2.2%" onclick="save2db();">
=======
                    <select id="as" type="dropdown" class="form-control input-sm"></select>

                </div>

                <div id="hardwareTag" class="hide col-md-2">
                    <label class="form-Label">Hardware Tag:</label>
                    <select id="hdwTagOption" class="form-control input-sm " onchange="showdate()">
            <option value=''>Select</option>
            </select>
                </div>
                <div id="softwareLic" class="hide col-md-2">
                    <label class="form-Label">Software Licence:</label>
                    <select id="acccc" class="form-control input-sm ">
                </select>
                </div>
                <div id="date123" class=" col-md-2">
                    <label class="form-Label">Assign Date:</label>
                    <input id="assigndate" class="form-control input-sm date">
                </div>
                <div class=" col-md-2">
                    <input type="submit" class="btn btn-primary btn-sm" value="Assign" style="margin-top:31px" onclick="save2db();">
                </div>
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                
            </div>

          <div id="main">
<<<<<<< HEAD
            <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%">
            <table class=" table-striped  table-hover " id="adTable" style="padding-top: 10px">
=======
            <!-- <input class="form-control input-sm" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%"> -->
            <table class=" table-striped  table-hover responsive" id="adTable" style="padding-top: 10px">
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                <thead id="headi">

                    <th>#</th>
                    <th>Name</th>
                    <th>Asset</th>
                    <th>Service Tag/ License key</th>
                    <th>Assign Date</th>
                    <th>Action</th>
                    <th>Status</th>

                </thead>
                <tbody id="bodyi">
                    <%for(var i=0;i<assignedHome[0].length;i++){j=i+1;%>

                        <tr>
                            <td>
                                <%= j %>
                            </td>
                            <td>
                                <%=assignedHome[0][i].firstName%>
                            </td>
                            <td>
                                <%=assignedHome[0][i].componentName%>
                            </td>
                            <td>
                                <%=assignedHome[0][i].tagNo%>
                            </td>
                            <td>
                                <%=assignedHome[0][i].assignDate%>
                            </td>
                            <td>
                                 <span style="color:green" title="View Assigned Asset" class="glyphicon glyphicon-list-alt" onclick="showInfo(<%=assignedHome[0][i].userid%>)"></span>
                            </td>
                            <td>
                                <span>Assign</span>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>

       </div>
<<<<<<< HEAD
       <div id="main1" class="hide">
       <span title="Go To Assigned User List" onclick="showInfo1();" style="float:left;width: 25px;height: 30px;font-size: 20px;color:green;padding-top: 10px"  class="glyphicon glyphicon-arrow-left"></span>
          <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox1" style="float:right;width: 13%">
            <table class=" table-striped  table-hover " id="assTable" style="padding-top: 10px">
=======
       <span title="Go To Assigned User List" onclick="showInfo1();" style="float:left;width: 25px;height: 30px;font-size: 20px;color:green;padding-top: 10px"  class="glyphicon glyphicon-arrow-left"></span>
       <div id="main1" class="hide table-responsive">
         <!--  <input class="form-control input-sm" type="text" placeholder="search in this table" id="searchbox1" style="float:right;width: 13%"> -->
            <table class=" table-striped  table-hover" id="assTable" width="100%">
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                <thead id="headi1">

                    <th>#</th>
                    <th>Name</th>
                    <th>Asset</th>
                    <th>Service Tag/ License key</th>
                    <th>Assign Date</th>
                    <th>Unassign Date</th>
                    <th>Action</th>
                    <th>Status</th>

                </thead>
                <tbody id="bodyi1"> 
                    </tbody>
            </table> 
       </div>
        </div>

    </div>




</body>

</html>
<<<<<<< HEAD
<!---->
<div class="modal " id="myModalcomp" role="dialog">
    <div class="modal-dialog" style="display:table;height:95%;">
        <!-- Modal content-->
=======
<div class="modal " id="myModalcomp" role="dialog">
    <div class="modal-dialog" style="display:table;height:95%;">
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
        <div class="modal-content" id="express2" style="height:200px;width:400px">
            <div class="modal-header" style="background-color:#f05f40;">
                <center><label id="head4" class="modal-title" style="color:white;font-size:8pt;"><b>Select Component</b></label>
                    <span data-dismiss="modal" class="glyphicon glyphicon-remove" style='float: right; color:black; '></span>
                </center>
            </div>
            <div id="err" class="col-lg-6 col-sm-offset-3"></div>
            <div class="modal-body">
                <div class="form-group">
                    <div id='componentiddiv'>
<<<<<<< HEAD
                        <table id='addComptable1' class="table table-striped table-bordered table-hover table-condensed" style="overflow-y:auto;">
=======
                        <table id='addComptable1' class="table table-striped table-bordered table-hover table-condensed responsive" style="overflow-y:auto;">
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                            <col width="10">
                            <col width="10">
                            <col width="20">

                            <thead id="modalHead">
                                <tr>
                                    <th style="width:35%;">Component Name</th>
                                    <th style="width:35%">TagNo</th>
                                    <th style="width:30%;">Action</th>
                                </tr>
                            </thead>
                            <tbody id="addcompobody1">
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<footer>
    <% include ../partials/footer %>
</footer>
<script>
    function cancel() {
        $("#cut").click();

    }

  function showInfo(ides) {
        $("#usersId").val(ides);
        getData(1,1);
        $('#main').addClass('hide');
        $('#main1').removeClass('hide');

    }

     function showInfo1() {
        window.location.reload();

    }

    function chooseType() {
          $('#assigndate').val('');
<<<<<<< HEAD
        //$('#hw').val(0);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
        
        var at = $("#chooseType").val();

        if (at == "0") {
<<<<<<< HEAD
            //alert(at);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
            $("#hardwareList").removeClass("hide");
            $("#softwareList").addClass("hide");
            $("#softwareLic").addClass("hide");
            $("#assignedtohardware").addClass("hide");
        } else if (at == "1") {
<<<<<<< HEAD
            //alert(at);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
            $("#hardwareList").addClass("hide");
            $("#softwareList").removeClass("hide");
            $("#hardwareTag").addClass("hide");
            $("#assignedtohardware").removeClass("hide");
        } else {
<<<<<<< HEAD
            // alert(at);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
            $("#hardwareList").addClass("hide");
            $("#softwareList").addClass("hide");
        }
    }

    $("#acc").editableSelect({
        onSelect: function(elem) {
            var count = 0;
            var check = false;
            $("#bodyi1 tr").each(function(i, row) {
                count++;
                $(this).find('td').each(function(k, val) {
                    var flag = false;
                    if (k == '1') {
                        if ($("#ac option:selected").text() == val.text()) {
                            flag = true;
                            check = true;
                        }
                    }
                    if (flag == true) {
                        if (k == '2') {
                            val.text(elem[0].value);
                        }
                    }
                });
            });
            if (check == false) {
<<<<<<< HEAD
                var row = '<tr><td>' + ++count + '</td><td>' + $("#ac option:selected").text() + '</td><td>' + elem[0].value + '</td><td><input class="form-text-box datetimepicker"></input>' +
                    '<td><button>Unassign</button></td>';
                $('#bodyi1').append(row);
=======
                var row = '<tr><td>' + ++count + '</td><td>' + $("#ac option:selected").text() + '</td><td>' + elem[0].value + '</td><td><input class="form-control input-sm datetimepicker"></input>' +
                    '<td><button>Unassign</button></td>';
                $('#bodyi1').append(row);
                otable1.destroy();
                otable1 = $('#assTable').DataTable();
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
            }
        }
    });

     function myFunction1(str1) {
    var str = str1
    var n = str.length;
    var lic=str;
    var first=lic.substring(0,1);
    var secont=lic.substring(11,n);
    var finals=first.concat(secont);
    return finals;
}


    function showdate() {

        $('date123').removeClass('hide');
    }



    var count = 0;

    function addSubline(copId, copName, lineId, tagNo) {

<<<<<<< HEAD
        console.log(copId, copName, lineId, tagNo);
        var row = '<tr><td>' + ++count + '</td><td>' + copName + '<input type="hidden" id="compId' + count + '" value=' + copId + '></td><td>' + tagNo + '<input type="hidden" id="line' + count + '" value=' + lineId + '></td><td><input id="date' + count + '" class="form-text-box date"></input><input  type="hidden" id="tsId' + count + '" value="0"></input>' + '<td><span id="assignreg' + count + '" style="margin-left:70px;color:green; " class="glyphicon glyphicon-ok-circle" onclick="save2db(' + count + ')"><span  style="margin-left:70px;color:green; " class=" glyphicon glyphicon-tasks" onclick="getsubComponent(' + lineId + ')"></span></td><td class="hide">0</td>' + '<td id="assign' + count + '" class="">Draft</td>';
        $('#bodyi1').append(row);
        jQuery('.date').datetimepicker({
            timepicker: false,
            format: 'd/m/Y'
=======
        var row = '<tr><td>' + ++count + '</td><td>' + copName + '<input type="hidden" id="compId' + count + '" value=' + copId + '></td><td>' + tagNo + '<input type="hidden" id="line' + count + '" value=' + lineId + '></td><td><input id="date' + count + '" class="form-control input-sm date"></input><input  type="hidden" id="tsId' + count + '" value="0"></input>' + '<td><span id="assignreg' + count + '" style="margin-left:70px;color:green; " class="glyphicon glyphicon-ok-circle" onclick="save2db(' + count + ')"><span  style="margin-left:70px;color:green; " class=" glyphicon glyphicon-tasks" onclick="getsubComponent(' + lineId + ')"></span></td><td class="hide">0</td>' + '<td id="assign' + count + '" class="">Draft</td>';
        $('#bodyi1').append(row);
        otable1.destroy();
        otable1 = $('#assTable').DataTable();
        jQuery('.date').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            scrollMonth : false,
        scrollInput : false
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
        });

    }

    var componentid=[];
    var compname;
    function getData(tid, flag1) {
        $('#main').addClass('hide');
        $('#main1').removeClass('hide');
        if (flag1 == 1) {
            var uid = $("#usersId").val();
            userid = uid;
            $('#saveb').removeClass('hide');
            $('#bodyi1').html('');
            count = 0;

            $.ajax({
                url: "/getTransDetails",
                method: 'post',
                data: {
                    atid: tid,
                    uid: uid,
                    flag: 1
                },
                dataType: 'json',
                success: function(result) {

<<<<<<< HEAD
                    console.log("-- -- -  -- dd --- - - ", result);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                    var name;
                    compname='';
                    var log='';
                    for (var i = 0; i < result[0].length; i++) {
                        compname=compname+result[0][i].componentName+',';
                        name = result[0][i].firstName;
                       var row = '<tr><td>' + ++count + '</td><td>' + result[0][i].firstName + '</td><td>' + result[0][i].componentName + '<input type="hidden" id="compId' + count + '" value=' + result[0][i].ACID + '><input type="hidden" id="flag' + count + '" value=' + result[0][i].assign + '></td><td>' +
                            result[0][i].tagNo + '<input type="hidden" id="line' + count + '" value=' + result[0][i].Id + '><input type="hidden" id="tsId' + count + '" value=' + result[0][i].tsId + '></td><td> ' + ((result[0][i].assignDate).toString()).slice(0, 10) + '</td>';
                            if(result[0][i].unassignDate!=undefined){
                                row=row+'<td> ' + ((result[0][i].unassignDate).toString()).slice(0, 10) + '</td><td>';
                            }else{
                               row=row+'<td>-----</td><td>'; 
                            }

                        if (result[0][i].assign == 1) {


                            row = row + '';

                            $('#assignreg' + count).removeClass('hide');
                            $("#assignapp" + count).addClass('hide');
                            row = row + '<span id="assignapp' + count + '" style="margin-left:0px; color:red; " class="glyphicon glyphicon-remove-circle" title="Deactivate" onclick="unasignedtheAsset(' + count + ')"></span></td><td id="assign' + count + '">assigned</td>';
                        } else {
<<<<<<< HEAD
                            //row=row+'<span id="assignreg'+count+'" style="margin-left:70px;color:green; " class=" glyphicon glyphicon-ok-circle" onclick="save2db('+count+')"></span></td>';
=======
                           
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                            row = row + '';
                            $('#assignapp' + count).removeClass('hide');
                            $('#assignreg' + count).addClass('hide');
                            row = row + '</td><td class="hide">0' + '</td><td id="assign' + count + '">unassigned</td>';
                        }
<<<<<<< HEAD
                       // $('#bodyi1').append(row);
                         //$('#assTable').html(row);
=======
                      
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                         log=log+row;
                    }
                    for (var i = 0; i < result[1].length; i++) {
                       var row = '<tr><td>' + ++count + '</td><td>' + name + '</td><td>' + result[1][i].componentName + '<input type="hidden" id="compId' + count + '" value=' + result[1][i].ACID + '></td><td>' + myFunction1(result[1][i].tagNo) + '<input type="hidden" id="line' + count + '" value=' + result[1][i].Id + '><input type="hidden" id="tsId' + count + '" value=' + result[1][i].tsId + '></td><td>' + ((result[1][i].assignDate).toString()).slice(0, 10) + '</td>';
                        if(result[1][i].unassignDate!=undefined){
                                row=row+'<td> ' + ((result[1][i].unassignDate).toString()).slice(0, 10) + '</td><td>';
                            }else{
                               row=row+'<td>-----</td><td>'; 
                            }
                        if (result[1][i].assign == 1) {
                            row = row + '<span id="assignapp' + count + '" style="margin-left:0px; color:red; " class=" glyphicon glyphicon-remove-circle" title="Deactivate" onclick="unasignedsoftware()"></span></td>';


                            $('#assignreg' + count).removeClass('hide');
                            $("#assignapp" + count).addClass('hide');
                            row = row + '<td id="assign' + count + '">assigned</td>';
                        } else {
<<<<<<< HEAD
                            //row=row+'<span id="assignreg'+count+'" style="margin-left:70px;color:green; " class=" glyphicon glyphicon-ok-circle" onclick="save2db('+count+')"></span></td>';
=======
                          
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                            row = row + '';
                            $('#assignapp' + count).removeClass('hide');
                            $('#assignreg' + count).addClass('hide');
                            row = row + '</td><td class="hide">0' + '</td><td id="assign' + count + '">unassigned</td>';
                        }
<<<<<<< HEAD
                       // $('#bodyi1').append(row);
                      // $('#assTable').html(row);
=======
                     
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                      log=log+row;

                    }
                    $('#bodyi1').html(log);
<<<<<<< HEAD
=======
                    otable1.destroy();
                    otable1 = $('#assTable').DataTable();
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                }
            });
            if (tid == '1') {

                $.ajax({
                    url: "/getTransComp",
                    method: 'post',
                    data: {
                        atid: tid
                    },
                    dataType: 'json',
                    success: function(result) {
<<<<<<< HEAD
                        console.log("show hrd", result);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                        var qwer = JSON.stringify(result[1]);
                        var data = JSON.stringify(result[0]);
                        var options = $("#hw");
                        options.empty();
                        options.append('<option value="0">select</option>');
                        $.each(JSON.parse(data), function() {
                            options.append($("<option />").val(this['id']).text(this['componentName']));
                        });
                        var option = $("#ac");
                        option.empty();
                        option.append($("<option />").val('0').text('select'));
                        $.each(JSON.parse(qwer), function() {
                            option.append($("<option />").val(this['id']).text(this['componentName']));
                        });
                    }
                });
            } else {
                $.ajax({
                    url: "/getTransUnassigned",
                    method: 'post',
                    data: {
                        atid: tid,
                        acid: '0'
                    },
                    dataType: 'json',
                    success: function(result) {}
                });
            }
        } else {
            var uid = $("#usersId1").val();
            userid = uid;
            $('#saveb1').removeClass('hide');
            $('#bodyi1').html('');
            count = 0;
<<<<<<< HEAD
            //alert("tid--"+tid+"--uid--"+uid);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
            $.ajax({
                url: "/getTransDetails",
                method: 'post',
                data: {
                    atid: tid,
                    uid: uid,
                    flag: 0
                },
                dataType: 'json',
                success: function(result) {
<<<<<<< HEAD
                    console.log("-- -- -  -- dd --- - - ", result);
                    for (var i = 0; i < result[0].length; i++) {
                        var row = '<tr><td>' + ++count + '</td><td>' + result[0][i].componentName + '<input type="hidden" id="compId' + count + '" value=' + result[0][i].ACID + '></td><td>' +
                            result[0][i].tagNo + '<input type="hidden" id="line' + count + '" value=' + result[0][i].Id + '><input type="hidden" id="tsId' + count + '" value=' + result[0][i].tsId + '></td><td><input id="date' + count + '" class="form-text-box date" value="' + ((result[0][i].assignDate).toString()).slice(0, 10) + '"></input><td><span id="assignreg' + count + '" style="margin-left:70px;color:green; " class="hide glyphicon glyphicon-ok-circle" onclick="save2db(' + count + ')"></span><span  style="margin-left:70px; color:green; " class=" glyphicon glyphicon-tasks" onclick="getsubComponent(' + result[0][i].Id + ')"></span>';
=======
                    for (var i = 0; i < result[0].length; i++) {
                        var row = '<tr><td>' + ++count + '</td><td>' + result[0][i].componentName + '<input type="hidden" id="compId' + count + '" value=' + result[0][i].ACID + '></td><td>' +
                            result[0][i].tagNo + '<input type="hidden" id="line' + count + '" value=' + result[0][i].Id + '><input type="hidden" id="tsId' + count + '" value=' + result[0][i].tsId + '></td><td><input id="date' + count + '" class="form-control input-sm date" value="' + ((result[0][i].assignDate).toString()).slice(0, 10) + '"></input><td><span id="assignreg' + count + '" style="margin-left:70px;color:green; " class="hide glyphicon glyphicon-ok-circle" onclick="save2db(' + count + ')"></span><span  style="margin-left:70px; color:green; " class=" glyphicon glyphicon-tasks" onclick="getsubComponent(' + result[0][i].Id + ')"></span>';
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                        if (result[0][i].assign == 1) {

                            row = row + '<span id="assignreg' + count + '" style="margin-left:70px;color:green; " class="hide glyphicon glyphicon-ok-circle" onclick="save2db(' + count + ')"></span></td>'

                            $('#assignreg' + count).removeClass('hide');
                            $("#assignapp" + count).addClass('hide');
                            row = row + '<td id="assign' + count + '">assigned</td>';
                        } else {
                            row = row + '<span id="assignreg' + count + '" style="margin-left:70px;color:green; " class=" glyphicon glyphicon-ok-circle" onclick="save2db(' + count + ')"></span></td>';
                            $('#assignapp' + count).removeClass('hide');
                            $('#assignreg' + count).addClass('hide');
                            row = row + '<td class="hide">0' + '</td><td id="assign' + count + '">unassigned</td>';
                        }
                        $('#bodyi1').append(row);
<<<<<<< HEAD
                    }
                    for (var i = 0; i < result[1].length; i++) {
                        var row = '<tr><td>' + ++count + '</td><td>' + result[1][i].componentName + '<input type="hidden" id="compId' + count + '" value=' + result[1][i].ACID + '><input type="hidden" id="flag' + count + '" value=' + result[1][i].assign + '></td><td>' + result[1][i].tagNo + '<input type="hidden" id="line' + count + '" value=' + result[1][i].Id + '><input type="hidden" id="tsId' + count + '" value=' + result[1][i].tsId + '></td><td><input id="date' + count + '" class="form-text-box date" value="' + ((result[1][i].assignDate).toString()).slice(0, 10) + '"></input><td>';
                        if (result[1][i].assign == 1) {
                            //row=row+'<span id="assignapp'+count+'" style="margin-left:70px; color:red; " class=" glyphicon glyphicon-remove-circle" onclick="unasigned('+count+')"></span></td>';
                            row = row + '';
=======
                        otable1.destroy();
                        otable1 = $('#assTable').DataTable();
                    }
                    for (var i = 0; i < result[1].length; i++) {
                        var row = '<tr><td>' + ++count + '</td><td>' + result[1][i].componentName + '<input type="hidden" id="compId' + count + '" value=' + result[1][i].ACID + '><input type="hidden" id="flag' + count + '" value=' + result[1][i].assign + '></td><td>' + result[1][i].tagNo + '<input type="hidden" id="line' + count + '" value=' + result[1][i].Id + '><input type="hidden" id="tsId' + count + '" value=' + result[1][i].tsId + '></td><td><input id="date' + count + '" class="form-control input-sm date" value="' + ((result[1][i].assignDate).toString()).slice(0, 10) + '"></input><td>';
                        if (result[1][i].assign == 1) {
                           row = row + '';
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd


                            $('#assignreg' + count).removeClass('hide');
                            $("#assignapp" + count).addClass('hide');
                            row = row + '<td id="assign' + count + '">assigned</td>';
                        } else {
                            row = row + '<span id="assignreg' + count + '" style="margin-left:70px;color:green; " class=" glyphicon glyphicon-ok-circle" onclick="save2db(' + count + ')"></span></td>';
                            $('#assignapp' + count).removeClass('hide');
                            $('#assignreg' + count).addClass('hide');
                            row = row + '<td class="hide">0' + '</td><td id="assign' + count + '">unassigned</td>';
                        }
                        $('#bodyi1').append(row);
<<<<<<< HEAD
=======
                        otable1.destroy();
                        otable1 = $('#assTable').DataTable();
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                    }
                }
            });
            if (tid == '1') {

                $.ajax({
                    url: "/getTransComp",
                    method: 'post',
                    data: {
                        atid: tid
                    },
                    dataType: 'json',
                    success: function(result) {
<<<<<<< HEAD
                        console.log(result);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                        var qwer = JSON.stringify(result[1]);
                        var data = JSON.stringify(result[0]);
                        var options = $("#hw");
                        options.empty();
                        options.append('<option val="0">select</option>');
                        $.each(JSON.parse(data), function() {
                            options.append($("<option />").val(this['id']).text(this['componentName']));
                        });
                        var option = $("#ac");
                        option.empty();
                        option.append($("<option />").val('0').text('select'));
                        $.each(JSON.parse(qwer), function() {
                            option.append($("<option />").val(this['id']).text(this['componentName']));
                        });
                    }
                });
            } else {
                $.ajax({
                    url: "/getTransUnassigned",
                    method: 'post',
                    data: {
                        atid: tid,
                        acid: '0'
                    },
                    dataType: 'json',
                    success: function(result) {}
                });
            }
        }

    }

    function getList(tid, value) {
      
        $("#hdwTagOption").html('');
        $("#hdwTagOption").val('');
        var cpname=$('#hw').val();
        for (var i = 1; i <=count; i++)
        { 
            if(($('#compId'.concat(i)).val()==cpname)&&($('#flag'.concat(i)).val()==1)){
                alert('selected component is already assigned plz be sure');
                $('#hw').val(0);
                return false;
            }
        }
        $("#hardwareTag").removeClass("hide");
        $("#softwareLic").addClass("hide");

        $.ajax({
            url: "/getTransUnassigned",
            method: 'post',
            data: {
                atid: tid,
                acid: value
            },
            dataType: 'json',
            success: function(result) {
                if(result[0].length==0)
                    {
                        alert("Selected Hardware is not available");
                        $('#hw').val(0);
                     } 
                    else{
                for (var i = 0; i < result[0].length; i++) {
                    $("#hdwTagOption").append("<option value='" + result[0][i].id + "''>" + result[0][i].tagNo+ "</option>")
                }
               }
            }
        });
    }

    function getAcc() {
       
        $("#as").html('');
    
        var value = $('#ac').val();
        var uid = $('#usersId').val();
        $("#hardwareTag").addClass("hide");
        $("#softwareLic").removeClass("hide");
        $.ajax({
            url: "/getAccUnassigned",
            method: 'post',
            data: {
                cid: value,
                uid: uid
            },
            dataType: 'json',
            success: function(result) {
                if (result[0].length == 0) {
                    alert("Selected Software is not available");
                    $('#ac').val(0);
                    return false;
                }
                if (result[1].length == 0) {
                    alert("No hardware is assigned.plz assigned hardware first");
                    $('#ac').val(0);
                    return false;
                } 

<<<<<<< HEAD
                console.log("software licenced :", result);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd


                var data = JSON.stringify(result[0]);

                $("#acccc").empty();
                $.each(JSON.parse(data), function() {


                    if (this['tagNo'] != null) {

                        $("#acccc").append("<option value=" + this['id'] + ">" + (myFunction1(this['tagNo'])) + "</option>");
                    }
                });
                if (result[1].length != 0) {

                    for (var i = 0; i < result[1].length; i++) {

                        $("#as").append("<option value=" + result[1][i].id + ">" + result[1][i].componentName + "</option>");
                    }
                }



            }
        });

    }



    function save2db(num) {

        var uid, lid, cid, adate, tid,assignHdwrid;
        uid = $('#usersId').val();
        var type = $('#chooseType').val();
        
        
         var type = $('#chooseType').val();

        if (type == 0) {
            lid = $('#hdwTagOption').val();
            cid = $('#hw').val();
        }
        if (type == 1) {
            lid = $('#acccc').val();
            cid = $('#ac').val();
            assignHdwrid = $('#as').val();
        }
        
          adate = $('#assigndate').val();
          tid = 0;
          aflag = 1;

        if(($('#usersId').val()==0)||($('#usersId').val()==null))
          {
            alert('plz select a user first');
            return false;
           }

        if($('#chooseType').val()=='')
        {
            alert('plz select a asset type');
            return false;
        }

        if($('#chooseType').val()==0)
        { 
             if($('#hw').val()==0)
               {
                 alert('Hardware List is missing');
                 return false;
               }
            
             if($('#hdwTagOption').val()=='')
              {
                alert('Plz Select Hardware Tag');
                return false;
              }
             if($('#assigndate').val()=='')
             {
                alert('Assign Date is missing');
                return false;
             }
        } 
             
        if (type == 1)
        {
            
            if($('#ac').val()==0)
             {
               alert('Software List is missing');
               return false;
             }
             
              
             if($('#assigndate').val()=='')
             {
                alert('Assign Date is missing');
                return false;
             }
        } 
         
         
       
<<<<<<< HEAD
       // console.log(uid, lid, cid, adate, tid);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
    
        $.ajax({
            url: "/saveAssignment",
            method: 'post',
            data: {
                uid: uid,
                cid: cid,
                lid: lid,
                adate: adate,
                aflag: aflag,
                tid: tid,
                assignHdwrid:assignHdwrid
            },
            dataType: 'json',
            success: function(result) {

                alert('sucessfully asigned');
                getData(1,1);
               $('#hdwTagOption').val('');
               $('#hw').val('');
               $('#chooseType').val('');
               $('#assigndate').val('');
               $('#ac').val('');
               $('#as').val('');
               $('#acccc').val('');
                 sendmailtouser(1);
            }
        });
    
    }

 var numbercount=0;
    function unasignedtheAsset(num1){
     $('#commentModal').modal('show'); 
      numbercount=num1;
    }

    function unasigned(num) {
         $('#commentModal').modal('show');
        var uid, lid, cid, adate, tid;
        uid = userid;
        lid = $('#line'.concat(num)).val();
        cid = $('#compId'.concat(num)).val();
        adate = $('#date'.concat(num)).val();
        tid = $('#tsId'.concat(num)).val();
        aflag = 0;
        var assignHdwrid = $('#faultyreason').val();
        if($('#faultyreason').val()!=''){
        $.ajax({
            url: "/saveAssignment",
            method: 'post',
            data: {
                uid: uid, 
                cid: cid,
                lid: lid,
                adate: adate,
                aflag: aflag,
                tid: tid,
                assignHdwrid:assignHdwrid
            },
            dataType: 'json',
            success: function(result) {
                $('#assign'.concat(num)).html('');
                $('#assign'.concat(num)).append('unassigned');
                $('#assignreg'.concat(num)).removeClass('hide');
                $('#assignapp'.concat(num)).addClass('hide');
                 cancel();
                alert('sucessfully unasigned');
                getData(1,1);
               
                 sendmailtouser(0);
            }
        });
    }
    else{
        alert('Please Select Reason');
    }
    }

    function unasignedsoftware(){
    alert('please first deassign the Desktop/laptop');
    }

    function getsubComponent(lineId) {
        $("#myModalcomp").modal('show');
        $.ajax({
            url: "/getsubComponent",
            method: 'post',
            data: {
                lineId: lineId
            },
            dataType: 'json',
            success: function(result) {

<<<<<<< HEAD
                //alert(result[0].length);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                var coid = '';
                var coName = '';
                var lid = '';
                var tag = '';
                for (var i = 0; i < result[0].length; i++) {
                    var comp = ' ';
                    var coid = result[0][i].ACID;
                    var coName = result[0][i].componentName;
                    var lid = result[0][i].id;
                    var tag = result[0][i].tagNo;
                    comp = comp + '<tr><td>' + result[0][i].componentName + '</td><td class="hide">' + result[0][i].id + '</td><td>' + result[0][i].tagNo + '</td><td><span data-dismiss="modal" class=" glyphicon glyphicon-tasks" onclick=addSubline(' + coid + ',"' + coName + '",' + lid + ',"' + tag + '")></span></td></tr>';
                    $('#addcompobody1').append(comp);
                }


            }
        });
    }

<<<<<<< HEAD

    //jayyyyy
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
    function sendmailtouser(flagg)
    {
         $.ajax({
            url: '/sendmailtouser',
            method: 'POST',
            data: {
                 "flag":flagg,
                "userdetail": $('#usersId').val()
                 },
            success: function(data) {
                        alert("user is notified about transaction");
                 

            },
            dataType: 'JSON'
        }); 
    }
</script>

</body>

</html>
