<!DOCTYPE html>
<html lang="en">

 <head>
     <% include ../partials/head %>
       <% include assetheader %>
       <% include ../partials/adminheader %>
</head>
<style type="text/css">
   /*.dataTables_filter, .dataTables_length {
     display: none;
    }*/
</style>
<body>
  <div class="container-fluid secondry-color" style="padding-top:1%">
    <span class="fusion-page-title">List Of All Stationary</span>
    
      <a href="/addStationary"type="button" title="Add New Stationary"  value="Addstationary"><img src="/img/add.png"  class="addNewPlus" ></a>
        
<!--   <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%"> -->
  <table class="table table-hover table-striped table-bordered rceDataTable responsive"id="stationtable" cellpadding="0" cellspacing="0" border="0" style="width:100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Vendor</th>
        <th>Purchase Order</th>
        <th>Invoice Date</th>
        <th>Incoice Number</th>
        <th>Incoice Amount</th>
        <th>Delivery Date</th>
        <th>Edit/Delete</th>
      </tr>
      <tbody>
        <%for(var i=0;i<stype[0].length;i++){%>
        <tr>
          <td><%=stype[0][i].name%></td>
          <td><%=stype[0][i].quantity%></td>
          <td><%=stype[0][i].vendor%></td>
          <td><%=stype[0][i].purchaseOrder%></td>
          <td><%=stype[0][i].invoiceDate%></td>
          <td><%=stype[0][i].invoiceNo%></td>
          <td><%=stype[0][i].invoiceAmt%></td>
          <td><%=stype[0][i].deliveryDate%></td>
          <td>
            <a data-toggle='modal' data-target='#editstation' onclick="edit(<%=stype[0][i].id%>)">
              <span class='glyphicon glyphicon-pencil' style='color:green;height:10px;'  title ='Edit'></span>
            </a>
            <a onclick="return del(<%=stype[0][i].id%>)" type="button"><span class='glyphicon glyphicon-trash' style='color:red;height:10px;'title='Delete'></span>
            </a>
          </td>
        </tr>
        <%}%>
      </tbody>
         </table>
</div>
 </div>
   </body>
<footer>
  <% include ../partials/footer %>
</footer>
  
  <div class="modal fade" id="editstation" role="dialog" >
    <div class="modal-dialog" style="min-width: 60%">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close closeedit" data-dismiss="modal" id="closeedit">×</button>
            <h4 id="head10" class="modal-title">Edit Stationary</h4>
        </div>
        <div class="modal-body">
        <div id="err"></div>
        <div class="row fusion-form-elements">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <label>Name: <sup class="astrick">*</sup></label>
            <input type="text" maxlength="45" class="form-control input-sm" id="typel"  name="typel"/>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <label>Quantity: <sup class="astrick">*</sup></label>
            <input type="number"  class="form-control input-sm" id="qty" name="qty"/>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <label>Vendor: <sup class="astrick">*</sup></label>
            <select  class="form-control input-sm" style=""  name="vendor" id ="vendor" onchange=""> 
              <option value='0' disabled selected>Select</option>
                <% for(i=0;i<stype[1].length;i++){%>
                <option value="<%=stype[1][i].id%>"><%=stype[1][i].name%></option>
                <%}%>
              </select>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <label>Purchased Order: <sup class="astrick">*</sup></label>
            <input type="text" maxlength="50"  class="form-control input-sm" id="order" name="order" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <label>Invoice Date: <sup class="astrick">*</sup></label>
            <input type="text" class="form-control input-sm date"id="Invoicedate" name="Invoicedate" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <label>Invoice Number: <sup class="astrick">*</sup></label>
            <input type="text" maxlength="30"  class="form-control input-sm" id="invoiceNo" name="invoiceNo" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <label>Invoice Amount: <sup class="astrick">*</sup></label>
            <input type="number" maxLength="12"  name="invoiceAmt" class="form-control input-sm" id="invoiceAmt"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  id="qty" placeholder="Invoice Amount">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <label>Delivery Date: <sup class="astrick">*</sup></label>
            <input type="text" class="form-control input-sm date" id="Deliverydate"name="Deliverydate" />
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <input type="text" class="hide" value="" id="hdnId" name="hdnId">
          <button onclick="return validate()" class="btn btn-default">Submit</button>
          <button id="cancel"type="reset"data-dismiss="modal"class="btn btn-default">Cancel</button>
        </div>
      </div>
    </div>
</div>

<!--   <div class="modal fade" id="editstation" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" id="express2" style="width: 1100px;margin-left: -33%">
        <div class="modal-header" style="background-color:#f05f40;">
          <center><label id="head4" class="modal-title" style="color:white"><b>Edit Stationary</b></label>
          <span id="closeedit"  class='close closeedit' data-dismiss="modal" style='float:right;'title ='Close' > &times;  </span>
          </center>
        </div>
        <div id="err" class="col-lg-6 col-sm-offset-3"></div>
          <div class="modal-body">
           <table class="table" style="margin-bottom:-40px;"><tr><td><td>
                <label  class="form-Label" >Name: *</label></td>
              <td>
                <input type="text" maxlength="45" class="form-text-box" id="typel"  name="typel"/>
              </td>
            </td>
            <td><td>
                <label  class="form-Label" >Quantity: *</label></td>
              <td>
                <input type="number"  class="form-text-box" id="qty" name="qty"/>
              </td>
            </td>
           <td><td>
                <label  class="form-Label" >Vendor: *</label>
              </td><td>
               <select  class="form-text-box" style=""  name="vendor" id ="vendor" onchange=""> 
              <option value='0' disabled selected>Select</option>
                <% for(i=0;i<stype[1].length;i++){%>
                <option value="<%=stype[1][i].id%>"><%=stype[1][i].name%></option>
                <%}%>
              </select>
              </td>
            </td></tr><tr>
          <td><td>
                <label  class="form-Label" >Purchased Order: *</label>
              </td><td>
                <input type="text" maxlength="50"  class="form-text-box" id="order" name="order" />
             
            </td></td><td><td>
                <label  class="form-Label" >Invoice Date: *</label>
              </td>
              <td>
                <input type="text" class="form-text-box date"id="Invoicedate" name="Invoicedate" />
              </td></td>
            <td><td>
                <label  class="form-Label" >Invoice Number: *</label>
              </td><td>
                <input type="text" maxlength="30"  class="form-text-box" id="invoiceNo" name="invoiceNo" />
              </td>
              </td></tr><tr>
            <td><td>
                <label  class="form-Label" >Invoice Amount: *</label>
              </td>
             <td>
              
                <input type="number" maxLength="12"  name="invoiceAmt" class="form-text-box" id="invoiceAmt"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  id="qty" placeholder="Invoice Amount">
              </td>
            </td>
           <td><td>
                <label  class="form-Label" >Delivery Date: *</label>
              </td><td>
                <input type="text" class="form-text-box date" id="Deliverydate"name="Deliverydate" />
              </td>
            </td><td><td></td><td></td><td></td></td></tr>
         </table>
         </div>
            <div class="modal-footer"style="border-top:0px;">
              <center>
                <input type="text" class="hide" value="" id="hdnId" name="hdnId">
                <button id="cancel"type="reset"data-dismiss="modal"class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">Cancel</button>
                <a onclick="return validate()"class="btn btn-default"style="margin-top:10px;background-color:#f05f40;color:black;padding-top:4px; width:100px;height:30px;color:white">Submit</a>
              </center>
          </div>
        </div>
      </div>
    </div> -->


 
 
<script>

function edit(id){
$("#hdnId").val('');
  $.ajax({ 
    url: '/getEditStationary',
    method:'POST',
    data: {'id':id},
    success: function(data) { 
      $("#typel").val(data[0][0].name);
      $("#qty").val(data[0][0].quantity);
      $("#vendor").val(data[0][0].vendor);
      $("#order").val(data[0][0].purchaseOrder);
      $("#invoiceAmt").val(data[0][0].invoiceAmt);
      $("#Invoicedate").val(data[0][0].invoiceDate);
      $("#invoiceNo").val(data[0][0].invoiceNo);
      $("#Deliverydate").val(data[0][0].deliveryDate);
      $("#hdnId").val(data[0][0].id);
    }
  });
}

$(document).ready(function(){
     $('.asset-img').addClass('active');
  <%if(flag==1){%>
  alert("Stationary successfully added!");
  <%}%>

   var oTable= $("#stationtable").dataTable({
    "bLengthChange": false,
    "binfo":false
  });
    $("#searchbox").keyup(function() {
        oTable.fnFilter(this.value);
      });
});
  

function del(id){
  $.ajax({
    url:'/deleteHeader',
    method: 'POST',
    data:{'id':id},
    success: function(data) {
     window.location.href='/viewStationary';
    },
    dataType: 'JSON',
  });
}

jQuery('.date').datetimepicker({
  
  "timepicker":false,
  format:'d/m/Y'
});

function validate(){    
    var inamount=$('#invoiceAmt').val();
    if($('#typel').val().length<1||$.trim($("#typel").val()) =="") 
    {
      alert("Name is Missing!");    
      return false;
    }
    if($('#qty').val().length<1||$.trim($("#qty").val()) =="") 
    {
      alert("Quantity is Missing!");    
      return false;
    }
    if($('#vendor').val().length<1||$.trim($("#vendor").val()) =="") 
    {
      alert("Vendor is Missing!");    
      return false;
    }
    if($('#order').val().length<1||$.trim($("#order").val()) =="") 
    {
      alert("Purchased Order is Missing!");    
      return false;
    }
    if($('#Invoicedate').val().length<1||$.trim($("#Invoicedate").val()) =="") 
    {
      alert("Invoice date is Missing!");    
      return false;
    }
    if($('#invoiceNo').val().length<1||$.trim($("#invoiceNo").val()) =="") 
    {
      alert("Invoice number is Missing!");    
      return false;
    }

    if(inamount.length<2||isNaN(inamount)||inamount.trim().length<1) 
    {
      alert("Enter valid Invoice Amount!");    
      return false;
    }
    
    
    if($('#Deliverydate').val().length<1||$.trim($("#Deliverydate").val()) =="") 
    {
      alert("Delivery date is Missing!");    
      return false;
    }

    
              if(new Date($('#Invoicedate').val())>new Date($('#Deliverydate').val()))
              {
                alert("Invoicedate Date is greater than Deliverydate Date");
                return false;
            }
      
  $.ajax({
    url: '/updateStationary',
    method: 'POST',
    data: {
      "typel": $('#typel').val(),
      "quantity": $('#qty').val(),
      "vendor": $('#vendor').val(),
      "order": $('#order').val(),
      "Invoicedate": $('#Invoicedate').val(),
      "invoiceNo": $('#invoiceNo').val(),
      "invoiceAmt":  $('#invoiceAmt').val(),
      "Deliverydate":$('#Deliverydate').val(),
      "id":$("#hdnId").val()
    },
    success: function(data){
      alert("Stationary successfully updated");
       window.location.href='/viewStationary';
    },
    dataType: 'JSON'
    
  });
}
</script>
