<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
       <% include assetheader %>
       <% include ../partials/adminheader %>
</head>
<style type="text/css">
   .dataTables_filter, .dataTables_length {
     display: none;
    }
</style>
<body>
   
 <div class="container-fluid secondry-color" style="padding-top:1%">
  
  <a href="/addFurniture1" title="Add New Furniture" value="Addstationary" ><img   class="addNewPlus" ></a>
  <span class="modal-title" style="padding-left:41%;">List Of All Furniture</span>
  
  <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%"> 
 
  <table class="table table-hover table-striped table-bordered rceDataTable"id="furtable" cellpadding="0" cellspacing="0" border="0"style="width:100%">
    <thead>
      <tr>
        <th style='background-color:grey;color:white'>Name</th>
        <th style='background-color:grey;color:white'>Quantity</th>
        <th style='background-color:grey;color:white'>Vendor</th>
        <th style='background-color:grey;color:white'>Purchase Order</th>
        <th style='background-color:grey;color:white'>Unit Price</th>
        <th class="hide"style='background-color:grey;color:white'>Color</th>
        <th class="hide"style='background-color:grey;color:white'>Brand</th>
        <th style='background-color:grey;color:white'>Invoice Date</th>
        <th style='background-color:grey;color:white'>Incoice Number</th>
        <th style='background-color:grey;color:white'>Incoice Amount</th>
        <th style='background-color:grey;color:white'>Delivery Date</th>

        <th style='background-color:grey;color:white'>Edit</th>
      </tr>
    <tbody>
        <%for(var i=0;i<stype[0].length;i++){%>
        <tr>
          <td><%=stype[0][i].name%></td>
          <td><%=stype[0][i].quantity%></td>
          <td><%=stype[0][i].vendor%></td>
          <td><%=stype[0][i].purchaseOrder%></td>          
          <td><%=stype[0][i].uprice%></td>
          <td class="hide"><%=stype[0][i].color%></td>
          <td class="hide"><%=stype[0][i].brand%></td>
          <td><%=stype[0][i].invoiceDate%></td>
          <td><%=stype[0][i].invoiceNo%></td>
          <td><%=stype[0][i].invoiceAmt%></td>
          <td><%=stype[0][i].deliveryDate%></td>
          <td>
            <a data-toggle='modal' data-target='#editfurniture' onclick="edit(<%=stype[0][i].id%>)">
              <span class='glyphicon glyphicon-pencil' style='color:green;height:10px;'  title ='Edit Project'></span>
            </a>
            <a onclick="return del(<%=stype[0][i].id%>)" type="button"><span class='glyphicon glyphicon-trash' style='color:red;height:10px;'title='Delete'></span>
            </a>
          </td>
        </tr>
        <%}%>
      </tbody>
      <tfoot>
      </tfoot>
  </table>
</div>     
    <footer>
        <% include ../partials/footer %>
    </footer>
                 
                 <!--edit furniture modal-->
<div class="modal fade" id="editfurniture" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="express2" style="width:1000px;margin-left: -33%">
        <div class="modal-header" style="background-color:#f05f40;height: 20px">
          <center><label id="head4" class="modal-title"  style="color:white;">Edit Furniture</label>
          <span id="closeedit"  class='close closeedit' data-dismiss="modal" style='float:right;'title ='Close' > &times;  </span>
         </center> 
        </div>
       <div id="err" class="col-lg-6 col-sm-offset-3"></div>
          <div class="modal-body">
           <table class="table" style="margin-bottom: -39px" ><tr><td><td>
                <label class="form-Label" >Name:<sup class="astrick">*</label>
              </td><td>
                <input type="text" id="typel" class="form-text-box" maxlength="50" name="typel" placeholder="name">
              </td>
            </td>
            <td><td>
                <label class="form-Label" >Quantity:<sup class="astrick">*</label>
              </td><td>
                <!-- <input type="number" maxlength="2"  class="form-text-box" id="qty" name="qty"/> -->
                 <input name="qty" class="form-text-box" type="number" min="1" maxLength="6" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  id="qty" placeholder="Quantity">
              </td>
            </td>
            <td><td>
            <label class="form-Label" >Vendor:<sup class="astrick">*</label>
              </td>
              <td>
                <!-- <input type="text" maxlength="50"  class="form-text-box" id="vendor" name="vendor"/> -->
                <select  class="form-text-box" style=""  name="vendor" id ="vendor" onchange=""> 
              <option value='0' disabled selected>Select</option>
                <% for(i=0;i<stype[2].length;i++){%>
                <option value="<%=stype[2][i].id%>"><%=stype[2][i].name%></option>
                <%}%>
              </select>
              </td>
            </td></tr><tr>
             <td><td>
                <label class="form-Label" >Purchased Order: </label>
              </td>
              <td>
                <input type="text" maxlength="30"  class="form-text-box" id="order" name="order" />
              </td>
            </td>
            <td><td>
                <label class="form-Label" >Invoice Date:<sup class="astrick">*</label>
              </td><td>
             
                <input type="text" class="form-text-box date"id="Invoicedate" name="Invoicedate" />
              </td>
            </td>
            <td><td>
                <label class="form-Label" >Invoice Number:<sup class="astrick">*</label>
              </td>
              <td>
                <input type="text" maxlength="30"  class="form-text-box" id="invoiceNo" name="invoiceNo" />
              </td>
            </td></tr><tr>
           <td><td>
                <label class="form-Label" >Invoice Amount:<sup class="astrick">*</label>
              </td><td>
               
                <input type="number" maxLength="12"  name="invoiceAmt" class="form-text-box" id="invoiceAmt"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  id="qty" placeholder="Invoice Amount">
              </td>
            </td> <td><td>
                <label class="form-Label" >Delivery Date:<sup class="astrick">*</label>
             </td><td>
             
                <input type="text"class="form-text-box date" id="Deliverydate"name="Deliverydate" />
              </td>
            </td>
            <td><td>
                <label class="form-Label" >Unit Price:<sup class="astrick">*</label>
              </td>
              <td>
                
                <input name="uprice" maxLength="6" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  class="form-text-box" id="uprice"   placeholder="Unit Price">
              </td>
            </td></tr><tr>
             <td><td>
                <label class="form-Label" >Color:</label>
              </td>
              <td>
                <input type="text" maxlength="20"  class="form-text-box" id="color" name="color" />
              </td>
            </td>
           <td><td>
                <label class="form-Label" >Brand:</label>
              </td><td>
                
                <select  class="form-text-box" style=""  name="brand" id ="brand" onchange=""> 
              <option value='0' disabled selected>Select</option>
               <% for(i=0;i<stype[1].length;i++){%>
                <option value="<%=stype[1][i].id%>"><%=stype[1][i].name%></option>
                <%}%>
              </select>
              </td>
            </td>
            <td><td></td><td></td></td>
            </tr>
            </table>
            </div>
            <div class="modal-footer" style="border-top:0px;">
              <center>
              <input type="text" class="hide" value="" id="hdnId" name="hdnId">
                <button id="cancel"type="reset"data-dismiss="modal"class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">Cancel</button>
                <input type="submit" onclick="return validate()"class="btn btn-default"style="margin-top:10px;background-color:#f05f40;color:black;padding-top:4px; width:100px;height:30px;color:white" value="Submit">
              </center>
            </div>
          </div>
        </div>
      </div>
   

    <!--end of modal-->

<script>
$(document).ready(function(){

    
            $('.asset-img').addClass('active');
        
  <%if(flag==1){%>
      alert("Furniture successfully added!");
      window.location.href='/viewFurniture';
    <%}%>
  var oTable=$("#furtable").dataTable({
    "bLengthChange": false,
    "binfo":false
  });

  $("#searchbox").keyup(function() {
        oTable.fnFilter(this.value);
      });
  
});
       
jQuery('.date').datetimepicker({
   timepicker:false,
  format:'Y-m-d'
});

 function del(id){ //alert(id);
  $.ajax({
    url:'/deleteHeader',
    method: 'POST',
    data:{'id':id},
    success: function(data) {
      window.location.reload();
    },
    dataType: 'JSON',
  });
}

function edit(id){
  $("#hdnId").val('');
  //
  //alert(id);
  $.ajax({ 
    url: '/getEditStationary',
    method:'POST',
    data: {'id':id},
    success: function(data) { 
      console.log("edit info*****",data);
      $("#typel").val(data[0][0].name);
      $("#qty").val(data[0][0].quantity);
      $("#vendor").val(data[0][0].vendor);
      $("#order").val(data[0][0].purchaseOrder);
      $("#invoiceAmt").val(data[0][0].invoiceAmt);
      $("#Invoicedate").val(data[0][0].invoiceDate);
      $("#invoiceNo").val(data[0][0].invoiceNo);
      $("#Deliverydate").val(data[0][0].deliveryDate);
      $("#uprice").val(data[0][0].uprice);
      $("#color").val(data[0][0].color);
      $("#brand").val(data[0][0].brand);
      $("#hdnId").val(data[0][0].id);
    }
  });
}

function validate(){
var inamount=$('#invoiceAmt').val();
    var up=$('#uprice').val();

  if($('#typel').val().length<1||$.trim($("#typel").val()) =="") 
    {
      alert("Name is Missing!");    
      return false;
    }
    if($('#qty').val().length<1||$.trim($("#qty").val()) ==""||$.trim($("#qty").val()) > 20) 
    {
      alert("Enter valid Quantity!");    
      return false;
    }
    if($('#vendor').val().length<1||$.trim($("#vendor").val()) =="") 
    {
      alert("Vendor is Missing!");    
      return false;
    }
    if($('#order').val().length<1||$.trim($("#order").val()) =="") 
    {
      alert("Purchased Order is Missing!");    
      return false;
    }
    if($('#Invoicedate').val().length<1||$.trim($("#Invoicedate").val()) =="") 
    {
      alert("Invoice date is Missing!");    
      return false;
    }
    if($('#invoiceNo').val().length<1||$.trim($("#invoiceNo").val()) =="") 
    {
      alert("Invoice number is Missing!");    
      return false;
    }

    if(inamount.length<2||isNaN(inamount)||inamount.trim().length<1) 
    {
      alert("Enter valid Invoice Amount!");    
      return false;
    }
    
    if($('#Deliverydate').val().length<1||$.trim($("#Deliverydate").val()) =="") 
    {
      alert("Delivery date is Missing!");    
      return false;
    }
    if(up.length<2||isNaN(up)||up.trim().length<1) 
    {
      alert("Enter valid Unit Price!");    
      return false;
    }
    
              if(new Date($('#Invoicedate').val())>new Date($('#Deliverydate').val()))
              {
                alert("Invoicedate Date is greater than Deliverydate Date");
                return false;
            }
  $.ajax({
    url: '/updateFurniture',
    method: 'POST',
    data: {
      "typel": $('#typel').val(),
      "qty": $('#qty').val(),
      "vendor": $('#vendor').val(),
      "order": $('#order').val(),
      "Invoicedate": $('#Invoicedate').val(),
      "invoiceNo": $('#invoiceNo').val(),
      "invoiceAmt":  $('#invoiceAmt').val(),
      "Deliverydate":$('#Deliverydate').val(),
      "uprice": $('#uprice').val(),
      "color": $('#color').val(),
      "brand" : $('#brand').val(),
      "id":$("#hdnId").val()
    },
    success: function(data){
      alert("Furniture successfully updated");
     window.location.href='/viewFurniture';     
    },
    dataType: 'JSON'    
  });
}
</script>