<!DOCTYPE html>
<html lang="en">
 
<head>
  <% include ../partials/head %>
  <% include ../partials/adminheader %>
  <% include assetheader %>
  
</head>
<style type="text/css">
   .dataTables_filter, .dataTables_length {
     display: none;
    }
</style>
<body >
  <div class="container-fluid secondry-color" style="padding-top:1%;min-height: 350px">
    <a href="/addSoftware"type="button" title="Add New Stationary"  value="Addstationary">
    <img   class="addNewPlus" ></a>
    <span class="modal-title" style="padding-left:41%;">List Of All Softwares</span>
    
    <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%"> 
    <table class="table table-hover table-striped table-bordered rceDataTable"id="softtable" cellpadding="0" cellspacing="0" border="0"style="width:100%">
      <thead>
        <tr>
          <th style='background-color:grey;color:white'>Name</th>
          <th style='background-color:grey;color:white'>Software Type</th>
          <th style='background-color:grey;color:white'>Vendor</th>
          <th style='background-color:grey;color:white'>Invoice date</th>
          <th style='background-color:grey;color:white'>Description</th>
          <th style='background-color:grey;color:white'>Licence Key</th>
          <th style='background-color:grey;color:white'># of Users</th>
          <th style='background-color:grey;color:white'>Licence Expiry Date</th>
          <th style='background-color:grey;color:white'>Licence Purchase Date</th>
          <th style='background-color:grey;color:white'>Edit/Delete</th>
        </tr>
        <tbody>
          <%for(var i=0;i<stype[0].length;i++){%>
          <tr>
            <td><%=stype[0][i].name%></td>
            <td><%=stype[0][i].componentName%></td>
            <td><%=stype[0][i].vendor%></td>
            <td><%=stype[0][i].invoiceDate%></td>
            <td><%=stype[0][i].description%></td>
            <td><%=stype[0][i].licenceKey%></td>
            <td><%=stype[0][i].users%></td>
            <td><%=stype[0][i].licenceExpDate%></td>
            <td><%=stype[0][i].licencePurchaseDate%></td>
            <td>
              <a data-toggle='modal' data-target='#editstation' onclick="edit(<%=stype[0][i].id%>)">
                <span class='glyphicon glyphicon-pencil' style='color:green;margin: 3px;'  title ='Edit'></span>
              </a>
              <a onclick="return del(<%=stype[0][i].id%>)" type="button"><span class='glyphicon glyphicon-trash' style='color:red;margin: 3px;'title='Delete'></span></a>
            </td>
          </tr>
          <%}%>        
        </tbody>
      </table>
    </div>
  </div>
</body>
<footer>
  <% include ../partials/footer %>
</footer>
<!--edit      modal-->
<div class="modal fade" id="editstation" role="dialog">
  <div class="modal-dialog modal-lg">
    <!--- Modal content-->
    <div class="modal-content" id="express2" style="width: 1100px;margin-left: -11%">
      <div class="modal-header" style="background-color:#f05f40;">
        <center><label id="head4" class="modal-title" style="color:white;font-size:14pt;"><b>Edit Software</b></label>
        <span id="closeedit"  class='close closeedit' data-dismiss="modal" style='float:right;'title ='Close' > &times;  </span>
        </center>
      </div>
      <div id="err" class="col-lg-6 col-sm-offset-3"></div>
        <div class="modal-body">
        <div class="row">
          <table class="table"  style="margin-bottom:0px;">
          <tr><td><td>
                <label class="form-Label" >Software Type: *</label></td>
              <td>
                <select id="typel"name="htype"class="form-text-box" value="" disabled="disable">
                  <%for(var i=0;i<stype[0].length;i++){%>
                  <option value='<%=stype[0][i].softType%>'><%=stype[0][i].componentName%></option>
                  <%}%>
                  </select>
                  </td></td><td><td>
                  <label class="form-Label">Name: *</label></td>
                  <td>
                  <input type='text'maxlength="50" name="name"class="form-text-box" id="name"/>
                </td></td><td><td>
                <label class="form-Label" >Vendor: *</label>
              </td><td>
                <!-- <input type='text'maxlength="50" name="vendor"class="form-text-box" id="vendor"/> -->

                <select  class="form-text-box" style=""  name="vendor" id ="vendor" onchange=""> 
              <option value='0' disabled selected>Select</option>
               <% for(i=0;i<stype[1].length;i++){%>
                <option value="<%=stype[1][i].id%>"><%=stype[1][i].name%></option>
                <%}%>
              </select>


              </td></td></tr><tr><td><td>
                <label class="form-Label" >Invoice Date: *</label>
              </td><td>
                <input type="" class="form-text-box date"id="Invoicedate" name="Invoicedate" />
             </td></td><td><td>
                <label class="form-Label" >Licence Required:</label>
              </td><td>
                <input  name='test5'type="checkbox"  id="test5"/>
               </td></td><td><td>
                <label class="form-Label" >Description: *</label>
              </td><td>
                <textarea id='textarea'name="des" class="form-text-box"></textarea>
              </td></td></tr></table>
          </div>
            <div class="row hide" id="lic">
            <table class="table" style="margin-bottom:-39px;" ><tr><td><td>
                <label class="form-Label" >Licence Key: *</label>
              </td><td>
                <input type="text"  name="key" class="form-text-box" id="key" maxlength="11"  class="form-control" /></td>
              </td><td><td>
                <label class="form-Label" ># Users: *</label></td>
              <td>
                <input type="number" name="users" class="form-text-box" id="users"/></td></td><td><td>
             
                <label class="form-Label" >Purchase Date: *</label></td><td>
                <input class="form-text-box date"id="pdate" name="pdate" /></td></td></tr><tr><td><td>
                <label class="form-Label" >Expiry Date:</label></td><td>
                <input class="form-text-box date"id="edate" name="edate" /></td></td><td><td></td><td>
                </td></td><td><td></td><td>
                </td></td></tr></table>
          </div>
           </div>
          <div class="modal-footer"style="border-top:0px;">
            <center>
              <input type="text" class="hide" value="" id="hdnId" name="hdnId">
              <button id="cancel"type="reset"data-dismiss="modal"class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">Cancel</button>
              <a onclick="return validate()"class="btn btn-default"style="margin-top:10px;background-color:#f05f40;color:black;padding-top:4px; width:100px;height:30px;color:white">Submit</a>
            </center>
          </div> 
    </div>
  </div>
  </div>
<script type="text/javascript"> 

  $('#test5').click(function(){
  if($(this).is(':checked'))
  { 
    $('#lic').removeClass('hide');
  } else
  { 
    $('#lic').addClass('hide');
  }
});

  function edit(id){
//alert(id);

  $("#hdnId").val('');
  $.ajax({ 
    url: '/getEditStationary',
    method:'POST',
    data: {'id':id},
    success: function(data) { 
      abcde=data;
      console.log("edit info--------------",data[0][0].softType);
      $("#name").val(data[0][0].name);
      $("#typel").val(data[0][0].softType);
      $("#vendor").val(data[0][0].vendor);
      $("#Invoicedate").val(data[0][0].invoiceDate);
      $("#textarea").val(data[0][0].description);
      //alert(data[0][0].licenceKey);
      if(data[0][0].licenceKey !=null)
      {
        $("#test5").click();
      }
      else
      {
        $("#lic").addClass('hide');
      }
      $("#key").val(data[0][0].licenceKey);
      $("#users").val(data[0][0].users);
      $("#edate").val(data[0][0].licenceExpDate);
      $("#pdate").val(data[0][0].licencePurchaseDate);
      $("#hdnId").val(data[0][0].id);
    }
  });
}

  $(document).ready(function(){
    
       $('.asset-img').addClass('active');
    
   var oTable= $("#softtable").dataTable({
      "bLengthChange": false,
      "binfo":false
    });
  });
         $("#searchbox").keyup(function() {
        oTable.fnFilter(this.value);
      });

  jQuery('.date').datetimepicker({
  
    timepicker:false,
    format:'Y-m-d'
  });

  

  function validate(){ 
    var us=$('#users').val();

    if($('#name').val().length<1||$.trim($("#name").val()) =="") 
    {
      alert("Name is Missing!");    
      return false;
    }


    if($('#vendor').val().length<1||$.trim($("#vendor").val()) =="") 
    {
      alert("Vendor is Missing!");    
      return false;
    }
    
    if($('#Invoicedate').val().length<1||$.trim($("#Invoicedate").val()) =="") 
    {
      alert("Invoice date is Missing!");    
      return false;
    }
    
    if($('#textarea').val().length<1||$.trim($("#textarea").val()) =="") 
    {
      alert("Invoice number is Missing!");    
      return false;
    }
  
    if ($('#test5').prop('checked')) {
      //  alert("You have selected licence rqd."); //checked
      if($('#key').val().length<1||$.trim($("#key").val()) =="") 
        {
          alert("Licence key is Missing!");    
          return false;
        }

         if(us.length<1||isNaN(us)||us.trim().length<0) 
        { //alert(us);
          alert("Enter valid number of Users!");    
          return false;
        }


        if($('#pdate').val().length<1||$.trim($("#pdate").val()) =="") 
        {
          alert("Licence purchase date is Missing!");    
          return false;
        }

        if(new Date($('#pdate').val())<new Date($('#Invoicedate').val())){
            alert("purchase date cannot be less then invoice date!");
             return false;
          }
       
        if($('#edate').val().length<1||$.trim($("#edate").val()) =="") 
        {
          alert("Licence Expiry date is Missing!");    
          return false;
        }

         if($('#edate').val().length>0||$.trim($("#edate").val()) !=""){
          if(new Date($('#edate').val())<new Date($('#pdate').val())){
            alert("Expiry date cannot be less then purchase date!");
             return false;
          }
        }

        if(new Date($('#edate').val())<new Date($('#Invoicedate').val())){
            alert("Expiry date cannot be less then invoice date!");
             return false;
          }

          
      }
    //alert($('#Invoicedate').val());
      $.ajax({
        url: '/updateSoftware',
        method: 'POST',
        data: {
          "htype": $('#typel').val(),
          "vendor": $('#vendor').val(),
          "Invoicedate": $('#Invoicedate').val(),
          "name": $('#name').val(),
          "test5": $('#test5').val(),
          "des": $('#textarea').val(),
          "key":  $('#key').val(),
          "users":$('#users').val(),
          "pdate":$('#pdate').val(),
          "edate":$('#edate').val(),
          "id":$("#hdnId").val()
        },
        success: function(data){
          alert("Software successfully updated");
          window.location.href="/viewSoftware";
        },
        dataType: 'JSON'
      });
    }
    function del(id){
      if(confirm("This action once done cannot be undone! Do you want to delete this?")==true)
      { $.ajax({
          url:'/deleteHeader',
          method: 'POST',
          data:{'id':id},
          success: function(data) {
            window.location.reload();
          },
          dataType: 'JSON',
        });
      }
    }
</script>