<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <% include ../partials/adminheader %>
            <% include assetheader %>

</head>
<style type="text/css">
<<<<<<< HEAD
    .dataTables_filter,
    .dataTables_length {
        display: none;
    }
=======
    /*.dataTables_filter,
    .dataTables_length {
        display: none;
    }*/
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
    .marginLeftRight{
         margin-left: -31%;
    width: 123%;   
    }
     .marginLeftRight{      
         margin-left: -31%;     
    width: 123%;        
<<<<<<< HEAD
    }       
=======
    }     
    .paddings{
        padding-right: 0px;
        padding-left: 0px;
    }  
    .marginTOP10{
        margin-top: 10px;
    }
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd

</style>

<body>
<<<<<<< HEAD
    <div class="container-fluid secondry-color" style="padding-top:1%;min-height: 350px">
        <a href="/addSoftware" type="button" title="Add New Stationary" value="Addstationary">
            <img class="addNewPlus" style="    margin-top: 1%;"></a>
        <span class="modal-title" style="padding-left:41%;">List Of All Softwares</span>

       <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="margin-left: 86%;margin-bottom: 1%;width: 13%;">
         <div class="row" style="margin-left:1px;max-width: 100% ; overflow-y:auto" >
        <table class="table table-hover table-striped table-bordered rceDataTable" id="softtable" cellpadding="0" cellspacing="0" border="0" >
            <thead>
                <tr>
                    <th style='background-color:grey;color:white'>Name</th>
                    <th style='background-color:grey;color:white'>Software Type</th>
                    <th style='background-color:grey;color:white'>Vendor</th>
                    <th style='background-color:grey;color:white'>Invoice date</th>
                    <th style='background-color:grey;color:white'>Description</th>
                    <th style='background-color:grey;color:white; width:200px'>Licence Key</th>
                    <th style='background-color:grey;color:white'>No. of Users</th>
                    <th style='background-color:grey;color:white'>Licence Expiry Date</th>
                    <th style='background-color:grey;color:white'>Licence Purchase Date</th>
                    <th style='background-color:grey;color:white'>Edit/Delete</th>
=======
    <div class="container-fluid secondry-color" style="min-height: 350px">
    <span class="fusion-page-title">List Of All Softwares</span>
    <div class="clearfix">
        <a href="/addSoftware" type="button" title="Add New Stationary" value="Addstationary">
            <img src="/img/add.png" class="addNewPlus"></a>
        </div>
        <div class="clearfix">
       <!-- <input class="form-control input-sm" type="text" placeholder="search in this table" id="searchbox" style="margin-bottom: 10px;width: 200px;float:right"> -->
       </div>
         <div class="row">
        <table class="table table-hover table-striped table-bordered rceDataTable responsive" id="softtable" cellpadding="0" cellspacing="0" border="0" >
            <thead>
                <tr>
                    <th >Name</th>
                    <th >Software Type</th>
                    <th >Vendor</th>
                    <th >Invoice date</th>
                    <th >Description</th>
                    <th >Licence Key</th>
                    <th >No. of Users</th>
                    <th >Licence Expiry Date</th>
                    <th >Licence Purchase Date</th>
                    <th >Edit/Delete</th>
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                </tr>
              </thead>  
                <tbody id = "lineTableId">
                    <%for(var i=0;i<stype[0].length;i++){%>

                        <tr>
                            <td>
                                <%=stype[0][i].name%>
                            </td>
                            <td>
                                <%=stype[0][i].componentName%>
                            </td>
                            <td>
                                <%=stype[0][i].vendor%>
                            </td>
                            <td>
                                <%=stype[0][i].invoiceDate%>
                            </td>
                            <td>
                                <%=stype[0][i].description%>
                            </td>
                            <td>
                                <%=stype[0][i].licenceKey%>
                                <input type="hidden" id='licsoft<%=i%>' value="<%=stype[0][i].licenceKey%>">
                            </td>
                            <td>
                                <%=stype[0][i].users%>
                            </td>
                            <td>
                                <%=stype[0][i].licenceExpDate%>
                            </td>
                            <td>
                                <%=stype[0][i].licencePurchaseDate%>
                            </td>
                            <td>
                                <a data-toggle='modal' data-target='#editstation' onclick="edit(<%=stype[0][i].id%>)">
                                    <span class='glyphicon glyphicon-pencil' style='color:green;margin: 3px;' title='Edit'></span>
                                </a>
                                <a onclick="return del(<%=stype[0][i].id%>)" type="button"><span class='glyphicon glyphicon-trash' style='color:red;margin: 3px;'title='Delete'></span></a>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
        </table>
        </div>
    </div>
  
</body>
<footer>
    <% include ../partials/footer %>
</footer>
<<<<<<< HEAD
<!--edit      modal-->
<div class="modal fade" id="editstation" role="dialog">
    <div class="modal-dialog modal-lg">
        <!--- Modal content-->
        <div class="modal-content" id="exp2" style="width: 1100px;margin-left: -11%">
            <div class="modal-header" style="background-color:#f05f40;">
                <center><label id="head4" class="modal-title" style="color:white;font-size:14pt;"><b>Edit Software</b></label>
                    <span id="closeedit" class='close closeedit' data-dismiss="modal" style='float:right;' title='Close'> &times;  </span>
                </center>
            </div>
            <div id="err" class="col-lg-6 col-sm-offset-3"></div>
            <div class="modal-body">
                <div class="row" style="max-width: 100% overflow-y:auto" >
                    <table class="table" id="editlisence"  >
                        <tr>
                            <td>
                                <td>
                                    <label class="form-Label">Software Type: <sup class="astrick">*</sup></label>
                                </td>
                                <td>
                                    <select id="typel" name="htype" class="form-text-box" value="" disabled="disable">
                                      <%for(var i=0;i<stype[0].length;i++){%>
                                      <option value='<%=stype[0][i].softType%>'><%=stype[0][i].componentName%></option>
                                                        <%}%>
                                    </select>
                                </td>
                            </td>
                            <td>
                                <td>
                                    <label class="form-Label">Name: <sup class="astrick">*</sup></label>
                                </td>
                                <td>
                                    <input type='text' maxlength="50" name="name" class="form-text-box" id="name" />
                                </td>
                            </td>
                            <td>
                                <td>
                                    <label class="form-Label">Vendor: <sup class="astrick">*</sup></label>
                                </td>
                                <td>
                                    <!-- <input type='text'maxlength="50" name="vendor"class="form-text-box" id="vendor"/> -->

                                    <select class="form-text-box" style="" name="vendor" id="vendor" onchange=""> 
=======
<div class="modal fade" id="editstation" role="dialog">

     <div class="modal-dialog" style="min-width: 80%;">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color:#f05f40;">
          <center><label id="head10" class="modal-title" style="color:white !important;"> Edit Software </label>
          <span id="dismiss"  data-dismiss="modal"  class="glyphicon glyphicon-remove" style='font-size:14pt;float:right;color:white;margin-bottom: 15px'></span>
          </center>
        </div>
         <div id="err" class="col-lg-6 col-sm-offset-3"></div>
          <div class="modal-body">
            <div class="row fusion-form-elements view-edit-hardware" id="editlisence">
            <div class="col-lg-4 col-md-4 col-sm-6">
               <label class="form-Label">Software Type: <sup class="astrick">*</sup></label>
                <span id="ltype" class="hide labelans"></span>
                 <select id="typel" name="htype" class="form-control input-sm textBox" value="" disabled="disable">
                                      <%for(var i=0;i<stype[0].length;i++){%>
                                      <option value='<%=stype[0][i].softType%>'><%=stype[0][i].componentName%></option>
                                                        <%}%>
                 </select>
             </div>
             <div class="col-lg-4 col-md-4 col-sm-6">
                <label class="form-Label">Name: <sup class="astrick">*</sup></label>
                <span id="ltype" class="hide labelans"></span>
                <input type='text' maxlength="50" name="name" class="form-control input-sm textBox" id="name" />
              </div>
           
            <div class="col-lg-4 col-md-4 col-sm-6">
                <label class="form-Label">Vendor: <sup class="astrick">*</sup></label>
                <span id="ltype" class="hide labelans"></span>
                 <select class="form-control input-sm textBox" style="" name="vendor" id="vendor" onchange=""> 

>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                                    <option value='0' disabled selected>Select</option>
                                    <% for(i=0;i<stype[1].length;i++){%>
                                    <option value="<%=stype[1][i].id%>"><%=stype[1][i].name%></option>
                                                   <%}%>
<<<<<<< HEAD
                                    </select>


                                </td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <td>
                                    <label class="form-Label">Invoice Date: <sup class="astrick">*</sup></label>
                                </td>
                                <td>
                                    <input type="" class="form-text-box date" id="Invoicedate" name="Invoicedate" />
                                </td>
                            </td>
                            <td>
                                <td>
                                    <label class="form-Label">Licence Required:</label>
                                </td>
                                <td>
                                    <input name='test5' type="checkbox" id="test5" />
                                </td>
                            </td>
                            <td>
                                <td>
                                    <label class="form-Label">Description: <sup class="astrick">*</sup></label>
                                </td>
                                <td>
                                    <textarea id='textarea' name="des" class="form-text-box"></textarea>
                                </td>
                            </td>
                        </tr>
                
                        <tr id="trrr">
                            <td>
                                <td>
                                    <label class="form-Label"># Users: <sup class="astrick">*</sup></label>
                                </td>
                                <td>
                                    <input type="number" name="users" class="form-text-box" disabled="disable" id="users" />
                                </td>
                            </td>
                            <td>
                                <td>

                                    <label class="form-Label">Purchase Date: <sup class="astrick">*</sup></label>
                                </td>
                                <td>
                                    <input class="form-text-box date" id="pdate" name="pdate" />
                                </td>
                            </td>
                            <td>
                                <td>
                                    <label class="form-Label">Expiry Date: <sup class="astrick">*</sup></label>
                                </td>
                                <td>
                                    <input class="form-text-box date " id="edate" name="edate" />
                                </td>
                            </td>
                        </tr>
                   
                                     
                                              
                    </table>
=======
                </select>           
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                 <label class="form-Label">Invoice Date: <sup class="astrick">*</sup></label>
                 <span id="ltype" class="hide labelans"></span>
                 <input type="" class="form-control input-sm textBox date" id="Invoicedate" name="Invoicedate" />
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6">
                 <label class="form-Label">Licence Required:</label>
                 <span id="ltype" class="hide labelans"></span>
                 <input name='test5' type="checkbox" id="test5" />
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6">
                 <label class="form-Label">Description: <sup class="astrick">*</sup></label>
                 <span id="ltype" class="hide labelans"></span>
                 <textarea id='textarea' name="des" class="form-control input-sm textBox"></textarea>
            </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                 <label class="form-Label"># Users: <sup class="astrick">*</sup></label>
                 <span id="ltype" class="hide labelans"></span>
                 <input type="number" name="users" class="form-control input-sm textBox" disabled="disable" id="users" />    
            </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <label class="form-Label">Purchase Date: <sup class="astrick">*</sup></label>
                <span id="ltype" class="hide labelans"></span>
                <input class="form-control input-sm textBox date" id="pdate" name="pdate" />        
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6">
                 <label class="form-Label">Expiry Date: <sup class="astrick">*</sup></label>
                 <span id="ltype" class="hide labelans"></span>
                 <input class="form-control input-sm textBox date " id="edate" name="edate" />        
            </div>


>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                    </div>
                     <div class="row" id="licc" style="max-width: 100% overflow-y:auto" ></div>
                     <div><input type="text" class="hide" id="hid" name="alllicensekey"></input></div>
                </div>

            <div class="modal-footer" style="border-top:0px;">
                <center>
                    <input type="text" class="hide" value="" id="hdnId" name="hdnId">
<<<<<<< HEAD
                    <button id="cancel" type="reset" data-dismiss="modal" class="btn btn-default"  >Cancel</button>
                    <a onclick="return validate()" class="btn btn-default"  >Submit</a>
=======
                    <button id="cancel" type="reset" data-dismiss="modal" class="btn btn-primary"  >Cancel</button>
                    <a onclick="return validate()" class="btn btn-primary"  >Submit</a>
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                </center>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#test5').click(function() {
      alert("test in click");
        if ($(this).is(':checked')) {
            $('#lic').removeClass('hide');
        } else {
            $('#lic').addClass('hide');
        }
    });


  

    function edit(id) {
<<<<<<< HEAD
        //alert(id);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
         $(".jay").html('');
        $("#hdnId").val('');
        $.ajax({
            url: '/getEditStationary',
            method: 'POST',
            data: {
                'id': id
            },
            success: function(data) {
                abcde = data;
<<<<<<< HEAD
                console.log("edit info--------------", data[0][0].softType);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                $("#name").val(data[0][0].name);
                $("#typel").val(data[0][0].softType);
                $("#vendor").val(data[0][0].vendor);
                $("#Invoicedate").val(data[0][0].invoiceDate);
                $("#textarea").val(data[0][0].description);
<<<<<<< HEAD
                //alert(data[0][0].licenceKey);
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                if (data[0][0].licenceKey != null) {
                    $("#test5").prop("checked",true);
                    $("#lic").removeClass('hide');

                  
                } else {
                    $("#lic").addClass('hide');
                    $("#trrr").addClass('hide');
                    document.getElementById('test5').disabled = true;

                }
                $("#key").val(data[0][0].licenceKey);
                $("#users").val(data[0][0].users);
                $("#edate").val(data[0][0].licenceExpDate);
                $("#pdate").val(data[0][0].licencePurchaseDate);
                $("#hdnId").val(data[0][0].id);
                
                var typ=data[0][0].users;
                var ty=data[0][0].licenceKey;
                var tyt=ty.split(',');
                var logstr='';
<<<<<<< HEAD
                 //$('#licc').append('<table></table>');
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                  for(var i=0;i<typ;i++)
                  {
                    k=i+1;
                    if(i%3==0)
                    {
                      if(i!=0){
<<<<<<< HEAD
                        logstr=logstr+'</tr>';
                    }
                      var updattedlic=myFunction1(tyt[i]);
                    logstr=logstr+'<tr class="jay"><td><td><label for="key" class="form-Label">Licence Key:'+ k +' <sup class="astrick">*</sup> </label></td><td><input type="text" value="'+updattedlic+'" class="form-text-box" id="lic'+ i +'" ></td></td>'; 
=======
                        logstr=logstr+'';
                    }
                      var updattedlic=myFunction1(tyt[i]);

                      logstr += '<div class="col-lg-4 col-md-4 col-sm-6"><label>Licence Key'+ k +': <sup class="astrick">*</sup></label><input type="text" value="'+updattedlic+'" class="form-control input-sm" id="lic'+ i +'" ></div>';

                    // logstr=logstr+'<tr class="jay"><td><td><label for="key" class="form-Label">Licence Key:'+ k +' <sup class="astrick">*</sup> </label></td><td><input type="text" value="'+updattedlic+'" class="form-text-box" id="lic'+ i +'" ></td></td>'; 
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                   
                    }
                    else{
                           
                    var updattedlic=myFunction1(tyt[i]);
<<<<<<< HEAD
                    logstr=logstr+'<td><td><label for="key" class="form-Label">Licence Key:'+ k +' <sup class="astrick">*</sup> </label></td><td><input type="text" value="'+updattedlic+'" class="form-text-box" id="lic'+ i +'" ></td></td>';   
=======
                    logstr += '<div class="col-lg-4 col-md-4 col-sm-6"><label>Licence Key'+ k +': <sup class="astrick">*</sup></label><input type="text" value="'+updattedlic+'" class="form-control input-sm" id="lic'+ i +'" ></div>';

                    // logstr=logstr+'<td><td><label for="key" class="form-Label">Licence Key:'+ k +' <sup class="astrick">*</sup> </label></td><td><input type="text" value="'+updattedlic+'" class="form-text-box" id="lic'+ i +'" ></td></td>';   
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                  }
              }
             
                $('#editlisence').append(logstr);  
            }
        });
        
    }
<<<<<<< HEAD
 /*$('#licc').append('<div class="col-md-2" style="margin-bottom:10px"><label for="key" class="form-Label" style="padding-top:0px;">Licence Key:'+ k +' <sup class="astrick">*</sup> </label></div><div class="col-md-2" style="margin-bottom:10px"><input type="text" value="'+updattedlic+'" class="form-text-box marginLeftRight" id="lic'+ i +'" ></div>');*/
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd

    $(document).ready(function() {

        $('.asset-img').addClass('active');

     
var trArr = $("#lineTableId tr");

for(var i =0;i<trArr.length;i++){
    var td = $('#licsoft'.concat(i)).val();
    if(td!='')
<<<<<<< HEAD
    {                        //$(trArr[i]).children("td")[5].innerHTML;
=======
    {                      
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
var arrays=td.split(',');
var strlic='';
for(var j=0;j<arrays.length;j++)
{
    var lickey=myFunction1(arrays[j]);
    strlic=strlic+','+lickey;
<<<<<<< HEAD
    //alert(strlic);
}
//alert(strlic);
=======
  
}
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
$(trArr[i]).children("td")[5].innerHTML  = strlic;
}
}

  var oTable = $("#softtable").dataTable({
            "bLengthChange": false,
<<<<<<< HEAD
            "binfo": false
=======
            "binfo": false,
            responsive:true,
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
        });

 
          $("#searchbox").keyup(function() {
        oTable.fnFilter(this.value);
    });

    });
  

    jQuery('.date').datetimepicker({

        timepicker: false,
<<<<<<< HEAD
        format: 'd/m/Y'
=======
        format: 'd/m/Y',
        scrollMonth : false,
        scrollInput : false
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
    });



    function validate() {
                   var to = $('#pdate').val().split("/");
                   var purch = new Date(to[2], to[1] - 1, to[0]);
                   var inv= $('#Invoicedate').val().split("/");
                   var invoice = new Date(inv[2], inv[1] - 1, inv[0]);
                   var too = $('#edate').val().split("/");
                   var exdate = new Date(too[2], too[1] - 1, too[0]);


        var us = $('#users').val();

        if ($('#name').val().length < 1 || $.trim($("#name").val()) == "") {
            alert("Name is Missing!");
            return false;
        }


        if ($('#vendor').val().length < 1 || $.trim($("#vendor").val()) == "") {
            alert("Vendor is Missing!");
            return false;
        }

        if ($('#Invoicedate').val().length < 1 || $.trim($("#Invoicedate").val()) == "") {
            alert("Invoice date is Missing!");
            return false;
        }

        if ($('#textarea').val().length < 1 || $.trim($("#textarea").val()) == "") {
            alert("Invoice number is Missing!");
            return false;
        }

       if ($('#test5').prop('checked')) {
<<<<<<< HEAD
            //  alert("You have selected licence rqd."); //checked
           /* if ($('#key').val().length < 1 || $.trim($("#key").val()) == "") {
                alert("Licence key is Missing!");
                return false;
            }*/

            if (us.length < 1 || isNaN(us) || us.trim().length < 0) { //alert(us);
=======
                if (us.length < 1 || isNaN(us) || us.trim().length < 0) { 
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                alert("Enter valid number of Users!");
                return false;
            }


            if ($('#pdate').val().length < 1 || $.trim($("#pdate").val()) == "") {
                alert("Licence purchase date is Missing!");
                return false;
            }

            if ( purch<invoice) 
            {
                alert("purchase date cannot be less then invoice date!");
                return false;
            }


            if ($('#edate').val().length < 1 || $.trim($("#edate").val()) == "") {
                alert("Licence Expiry date is Missing!");
                return false;
            }

            if (exdate<purch) 
            {
                alert("expiry date cannot be less then purchase date!");
                return false;
            }

            if (exdate<invoice) 
                      {
                        alert("expiry date cannot be less then purchase date!");
                        return false;
                       }
             var arr=[];
                    for( var i=0;i<us;i++)
                    {
                        var updattedlic=myFunction($("#lic"+ i ).val());
                      arr.push(updattedlic);

                    }
                    $('#hid').val(arr);
<<<<<<< HEAD
                    //alert($('#hid').val());

        }
        //alert($('#Invoicedate').val());
=======
                  

        }
    
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
        $.ajax({
            url: '/updateSoftware',
            method: 'POST',
            data: {
                "htype": $('#typel').val(),
                "vendor": $('#vendor').val(),
                "Invoicedate": $('#Invoicedate').val(),
                "name": $('#name').val(),
                "test5": $('#test5').val(),
                "des": $('#textarea').val(),
                "key": $('#hid').val(),
                "users": $('#users').val(),
                "pdate": $('#pdate').val(),
                "edate": $('#edate').val(),
                "id": $("#hdnId").val()
            },
            success: function(data) {
                alert("Software successfully updated");
                window.location.href = "/viewSoftware";
            },
            dataType: 'JSON'
        });
    }

    function del(id) {
        if (confirm("This action once done cannot be undone! Do you want to delete this?") == true) {
            $.ajax({
                url: '/deletesoftware',
                method: 'POST',
                data: {
                    'id': id
                },
                success: function(data) {
                    if(data==1){
                        alert("Software already assigned");
                    }
                    else{
                    window.location.reload();}
                },
                dataType: 'JSON',
            });
        }
    }

function myFunction(avalue) {
    var str = avalue;
    var len=avalue.length;
var lic=str;
var first=lic.substring(0,1);
var secont=lic.substring(1,len);
var sddmost=makeid();
var firstco=first.concat(sddmost);
var final=firstco.concat(secont);
return final;
<<<<<<< HEAD
   // document.getElementById("demo").innerHTML =final;
//myFunction1(final);
=======
  
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
}    

 function myFunction1(str1) {
    var str = str1
    var n = str.length;
var lic=str;
var first=lic.substring(0,1);
var secont=lic.substring(11,n);
var finals=first.concat(secont);
    return finals;
}
</script>