<!DOCTYPE html>
<html lang="en">
 
<head>

     <% include ../partials/head %>
       <% include assetheader %>
       <% include ../partials/adminheader %>
</head>

<body >
 
 <div style="background-color:antiquewhite; ">
 
  
  <a href="/hardware"type="button"style="font-size:12px; margin-left:2%;padding:0.5%;" title="Add New Stationary" class="button btn btn-info" value="Addstationary">Add Hardware</a>
    
     <span class="modal-title" style="padding-left:38%;">List Of All Hardware</span>
 
  <table class="table table-hover table-striped table-bordered rceDataTable"id="hardtable" cellpadding="0" cellspacing="0" border="0"style="width:100%">
    <thead>

      <tr>
        <th style='background-color:grey;color:white'>Hardware Type</th>
        <th style='background-color:grey;color:white'>Quantity</th>
        <th style='background-color:grey;color:white'>Vendor</th>
        <th style='background-color:grey;color:white'>Invoice Date</th>
        <th style='background-color:grey;color:white'>Invoice No.</th>
        <th style='background-color:grey;color:white'>Invoice Amount</th>
        <th style='background-color:grey;color:white'>Purchase Order</th>
        <th style='background-color:grey;color:white'>Delivery Date</th>
        <th style='background-color:grey;color:white'>Edit/Delete</th>
      </tr>
      <tbody>
        <%for(var i=0;i<htype.length;i++){%>
        <tr>
          <td><%=htype[i].componentName%></td>
          <td><%=htype[i].quantity%></td>
          <td><%=htype[i].vendor%></td>
          <td><%=htype[i].invoiceDate%></td>
          <td><%=htype[i].invoiceNo%></td>
          <td><%=htype[i].invoiceAmt%></td>   
          <td><%=htype[i].purchaseOrder%></td>
          <td><%=htype[i].deliveryDate%></td>
          <td>
            <a data-toggle='modal' data-target='#editHardware' onclick="edit(<%=htype[i].id%>)">
              <span class='glyphicon glyphicon-pencil' style='color:green;height:10px;'  title ='Edit'></span>
            </a>
             <a data-toggle='modal' data-target='#editHardware1' onclick="description(<%=htype[i].id%>)">
              <span class='glyphicon glyphicon-list' style='color:green;height:10px;'  title ='Description'></span>
            </a>
            <a onclick="del(<%=htype[i].id%>)" type="button"><span class='glyphicon glyphicon-trash' style='color:red;height:10px;'title='Delete'></span>
            </a>
          </td>
        </tr>
        <%}%>

      </tbody>
    </table>
</div>

</div>
</body>
<footer>
  <% include ../partials/footer %>

</footer>







<!-- Add Hardware starts-->
<div class="modal fade" id="editHardware" role="dialog" >
    <div class="modal-dialog"  style="margin-left: 150px">
      <!-- Modal content-->
      <div class="modal-content" id="express2" style ="width:1000px;height:auto;">
        <div class="modal-header" style="background-color:#f05f40;">
          <center><label id="head4" class="modal-title" style="color:white;font-size:14pt;"><b>Edit Hardware</b></label></center>
        </div>
        <div id="err" class="col-lg-6 col-sm-offset-3"></div>
          <div class="modal-body">
            <div class="col-md-12 a">
              <div class="col-md-2">
                <label style="line-height:42px !important; font-size: 12px">Hardware Type: *</label>
              </div>
              <div class="col-md-2">
                <input type="text" id="type1" style="font-size: 10px"  name="type1"  class="form-control" value="" disabled>
               <input type="hidden" id="type" style="font-size: 10px"  name="type"  class="form-control" value="" disabled>             
              </div>
            
              <div class="col-md-2">
                <label style="line-height:42px !important; font-size: 12px">Quantity: *</label>
              </div>
              <div class="col-md-2">
                <input type="number" maxlength="2" style="font-size: 10px" class="form-control" id="qty" name="qty" onchange="addline()" />
              </div>
            
              <div class="col-md-2">
                <label style="line-height:42px !important;font-size: 12px">Vendor: *</label>
              </div>
              <div class="col-md-2">
                <input type="text" maxlength="50" style="font-size: 10px" class="form-control" id="vendor" name="vendor"/>
              </div>
            </div>
            <div class="col-md-12 a">
              <div class="col-md-2">
                <label style="line-height:42px !important;font-size: 12px">Invoice Number: *</label>
              </div>
              <div class="col-md-2">
                <input type="text" maxlength="10" style="font-size: 10px" class="form-control" id="invoiceNo" name="invoiceNo" />
              </div>
            
              <div class="col-md-2">
                <label style="line-height:42px !important;font-size: 12px">Invoice Date: *</label>
              </div>
              <div class="col-md-2">
                <input type="" style="font-size: 10px"class="form-control date"id="Invoicedate" name="Invoicedate" />
              </div>
            
              <div class="col-md-2">
                <label style="line-height:42px !important;font-size: 12px">Invoice Amount: *</label>
              </div>
              <div class="col-md-2">
                <input type="text" maxlength="11" style="font-size: 10px" class="form-control" id="invoiceAmt" name="invoiceAmt" />
              </div>
            </div>
            <div class="col-md-12 a">
              <div class="col-md-2">
                <label style="line-height:42px !important;font-size: 12px">Purchased Order: *</label>
              </div>
              <div class="col-md-2">
                <input type="text" maxlength="50" style="font-size: 10px" class="form-control" id="order" name="order" />
              </div>
             <input type="hidden" maxlength="50"   id="headerId"  />
              <div class="col-md-2">
                <label style="line-height:42px !important;font-size: 12px">Delivery Date: *</label>
              </div>
              <div class="col-md-2">
                <input type=""style="font-size: 10px"class="form-control date" id="Deliverydate"name="Deliverydate" />
              </div>
            </div>
            <br/>
             <div class="form-group">
             <div class=" col-md-12 table-responsive">
<!-- <h3>Specifications</h3> -->
<!-- <input type="button" onclick="addRow()" value="ADD"> -->
             <table id='table1' class="table table-striped table-bordered table-hover table-condensed hide"style="overflow:scroll;width:100%;">
             <thead id="headi">
             </thead>
             <tbody id="bodyi">
             </tbody>
             </table>
             </div>
             </div>
            <div class="modal-footer"style="border-top:0px;">
              <center>
              <input type="text" class="hide" value="" id="hdnId" name="hdnId">
                <button id="cancel"type="reset"data-dismiss="modal"class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">Cancel</button>
                <input type="submit" onclick="return validate()"class="btn btn-default"style="margin-top:10px;background-color:#f05f40;color:black;padding-top:4px; width:100px;height:30px;color:white" value="Submit">
               <button id="viewMore454" data-toggle='modal' data-target='#viewMore' class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">
               View More</button>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Add Hardware ends-->



    <!---->
    <div class="modal fade" id="editHardware1" role="dialog" >
    <div class="modal-dialog"  style="margin-left: 150px">
      <!-- Modal content-->
      <div class="modal-content" id="express2" style ="width:1000px;height:auto;">
        <div class="modal-header" style="background-color:#f05f40;">
          <center><label id="head4" class="modal-title" style="color:white;font-size:14pt;"><b>Edit Hardware</b></label></center>
        </div>
        <div id="err" class="col-lg-6 col-sm-offset-3"></div>
          <div class="modal-body">
            <div class="col-md-12 a">
              <div class="col-md-2">
                <label style="line-height:42px !important;color:red; font-size: 12px">Hardware Type: </label>
              </div>
             <div class="col-md-2">
                <label id="t1" style="line-height:42px !important; font-size: 12px"></label>
              </div>
              <div class="col-md-2">
                <label style="line-height:42px !important;color:red; font-size: 12px">Quantity:</label>
              </div>
              <div class="col-md-2">
                <label id="t2" style="line-height:42px !important; font-size: 12px"></label>
              </div><div class="col-md-2">
                <label style="line-height:42px !important;color:red; font-size: 12px">Vendor:</label>
              </div><div class="col-md-2">
                <label id="t3" style="line-height:42px !important; font-size: 12px"></label>
              </div>
              <div class="col-md-12 a">
              <div class="col-md-2">
                <label style="line-height:42px !important; color:red;font-size: 12px">Invoice Amount:</label>
              </div>

              <div class="col-md-2">
                <label id="t4" style="line-height:42px !important; font-size: 12px"></label>
              </div>
          
             
             
              <div class="col-md-2">
                <label style="line-height:42px !important;color:red; font-size: 12px">Purchase Order: </label>
              </div>
             <div class="col-md-2">
                <label id="t5" style="line-height:42px !important; font-size: 12px"></label>
              </div>
              <div class="col-md-2">
                <label style="line-height:42px !important;color:red; font-size: 12px">Invoice Date:</label>
              </div>
              <div class="col-md-2">
                <label id="t6" style="line-height:42px !important; font-size: 12px"></label>
              </div>
              </div>
              <div class="col-md-12 a">
              <div class="col-md-2">
                <label style="line-height:42px !important;color:red; font-size: 12px">Invoice Number:</label>
              </div><div class="col-md-2">
                <label id="t7" style="line-height:42px !important; font-size: 12px"></label>
              </div><div class="col-md-2">
                <label style="line-height:42px !important; color:red;font-size: 12px">Delivery Date:</label>
              </div>
              <div class="col-md-2">
                <label id="t8" style="line-height:42px !important; font-size: 12px"></label>
              </div>
          
             </div>
             </div>
            <div class="modal-footer"style="border-top:0px;">
              <center>
                <button id="cancel"type="reset"data-dismiss="modal"class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">Cancel</button>
              </center>
            </div>
          </div>
        </div>
      </div>
   








    <!-- View More Details starts-->

<div class="modal fade" id="viewMore" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="express3">
        <div class="modal-header" style="background-color:#f05f40;">
          <center><label id="head4" class="modal-title" style="color:white;font-size:14pt;"><b>View More</b></label></center>
        </div>
        <div id="err" class="col-lg-6 col-sm-offset-3"></div>
          <div class="modal-body">
            <table class="table table-striped table-bordered table-hover table-condensed hide"style="overflow:scroll;width:100%;">
        <thead id="headi">
        </thead>
        <tbody id="bodyi">
        </tbody>
        </table>

            <div  class="modal-footer"style="border-top:0px;">
              <center>
              <input type="text" class="hide" value="" id="hdnId" name="hdnId">
                <button id="cancel"type="reset"data-dismiss="modal"class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">Cancel</button>
                <input type="submit" onclick="return validate()"class="btn btn-default"style="margin-top:10px;background-color:#f05f40;color:black;padding-top:4px; width:100px;height:30px;color:white" value="Submit">
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>




<div class="modal " id="addModal"  role="dialog">
  <div class="modal-dialog" style="display:table;height:95%;">
    <!-- Modal content-->
    <div class="modal-content" id="express2" style="height:356px;">
      <div class="modal-header" style="background-color:#f05f40;">
        <center><label id="head4" class="modal-title" style="color:white;font-size:14pt;"><b>Add Component</b></label></center>
      </div>
      <div id="err" class="col-lg-6 col-sm-offset-3"></div>
      <div class="modal-body">
        <div class="form-group">
          <div class=" col-md-12 table-responsive">
          <!-- <h3>Specifications</h3> -->
        <!-- <input type="button" onclick="addRow()" value="ADD"> -->
            <table id ='addComptable' class="table table-striped table-bordered table-hover table-condensed" style="overflow-y:auto;">
            <col width="10"><col width="10"><col width="20"><col width="10"><col width="10">

                <thead id="modalHead">
                  <tr>
                    <th>Component</th>
                    <th style="width:32%;">Serial No.</th>
                    <th style="width:18%;">Brand</th>
                    <th style="width:16%">Warranty</th>
                    <th>Size</th>
                  </tr>
                </thead>
                <tbody id="addcompobody">
                </tbody>
              </table>
              <input type="hidden" id="serids">
              <input type="button"class="btn btn-info" onclick="saveComp()" value="SUBMIT">
             <input type="button"class="btn btn-info" onclick="addCompModal()" value="ADD">

            </div>
          </div>
        </div>
    </div>
  </div>
</div>



    <!-- View More Details ends-->


















    <script>

   var col;
var comps=[];
var qty;
var attlength;
var allAttIds = [];
var allAttIds1 = [];
var arr=[];
var countAddCompModal=0;
    


    




    $(document).ready(function(){
      $("#hardtable").dataTable({
        "bLengthChange": false,
        "binfo":false
      });
      $("#addComptable").dataTable({
        "bLengthChange": false,
        "binfo":false
      });
      //getlinedtata();
    });

    jQuery('.date').datetimepicker({
      timepicker:false,
      format:'Y-m-d'
    });
    function validate(){
      var inamount=$('#invoiceAmt').val();
      var up=$('#uprice').val();
      if($('#vendor').val().length<1||$.trim($("#vendor").val()) =="") 
      {
      alert("Vendor is Missing!");    
      return false;
      }
    if($('#Invoicedate').val().length<1||$.trim($("#Invoicedate").val()) =="") 
    {
      alert("Invoice date is Missing!");    
      return false;
    }
     if($('#invoiceNo').val().length<1||$.trim($("#invoiceNo").val()) =="") 
    {
      alert("Invoice number is Missing!");    
      return false;
    }

    if(inamount.length<2||isNaN(inamount)||inamount.trim().length<1) 
    {
      alert("Enter valid Invoice Amount!");    
      return false;
    }
    if($('#qty').val().length<1||$.trim($("#qty").val()) ==""||$.trim($("#qty").val()) > 20) 
    {
      alert("Enter valid Quantity!");    
      return false;
    }
        
    if($('#Deliverydate').val().length<1||$.trim($("#Deliverydate").val()) =="") 
    {
      alert("Delivery date is Missing!");    
      return false;
    }

    parsealldata();
 /* $.ajax({
    url: '/updateHardware',
    method: 'POST',
    data: {
      "type": $('#type').val(),
      "qty": $('#qty').val(),
      "vendor": $('#vendor').val(),
      "Invoicedate": $('#Invoicedate').val(),
      "invoiceNo": $('#invoiceNo').val(),
      "invoiceAmt":  $('#invoiceAmt').val(),
      "Deliverydate":$('#Deliverydate').val(),
      "id":$("#hdnId").val()
    },
    success: function(data){
      alert("Furniture successfully updated");
      window.location.reload();      
    },
    dataType: 'JSON'    
  });*/
}

function saveId(id){
    addId(id);
    }

function addId(ids){
  $('#serids').val(ids);
 }

function del(id){ 
  //alert(id);
  if(confirm("This action once done cannot be undone! Do you want to delete this?")==true)
  {
  $.ajax({
    url:'/deleteHeader',
    method: 'POST',
    data:{'id':id},
    success: function(data) {
      window.location.reload();
    },
    dataType: 'JSON',
  });
}
}

function description(id){
  
 // $("#hdnId").val('');
   $("#t1").html('');
      $("#t2").html('');
      $("#t3").html('');
      $("#t4").html('');
      $("#t5").html('');
      $("#t6").html('');
      $("#t7").html('');
      $("#t8").html('');
  //alert(id);
  $.ajax({ 
    url: '/getEditHardware',
    method:'POST',
    data: {'id':id},
    success: function(data) { 
      console.log("edit info----------------",data[0][0].componentName);
      $("#type").val(data[0][0].ACID);
      $("#t1").append(data[0][0].componentName);
      $("#t2").append(data[0][0].quantity);
      $("#t3").append(data[0][0].vendor);
      $("#t4").append(data[0][0].invoiceAmt);
      $("#t5").append(data[0][0].purchaseOrder);
      $("#t6").append(data[0][0].invoiceDate).slice(10,2);
      $("#t7").append(data[0][0].invoiceNo);
      $("#t8").append(data[0][0].deliveryDate);
      //$("#hdnId").val(data[0][0].id);
      //getlinedtata();
      //getlineValue(id);
    }
  });
}

function edit(id){
  
  $("#hdnId").val('');
  //alert(id);
  $.ajax({ 
    url: '/getEditHardware',
    method:'POST',
    data: {'id':id},
    success: function(data) { 
      console.log("edit info----------------",data[0][0].componentName);
      $("#type").val(data[0][0].ACID);
      $("#type1").val(data[0][0].componentName);
      $("#qty").val(data[0][0].quantity);
      $("#vendor").val(data[0][0].vendor);
      $("#invoiceAmt").val(data[0][0].invoiceAmt);
      $("#order").val(data[0][0].purchaseOrder);
      $("#Invoicedate").val(data[0][0].invoiceDate);
      $("#invoiceNo").val(data[0][0].invoiceNo);
      $("#Deliverydate").val(data[0][0].deliveryDate);
      $("#hdnId").val(data[0][0].id);
      getlinedtata();
      getlineValue(id);
    }
  });
}

function addline(){
 var id=$("#hdnId").val();
  getlinedtata();
  getlineValue(id);
}

function getlinedtata(){
      var qty=$("#qty").val(); 
      $.ajax({
        url:'/getAttr',
        method:'post',
                data:{acid:1},
                dataType:'json',
                success:function(result){
                  
                  $('#headi').empty();
                  var head='<tr ><th>#</th><th >Serial No.</th>';
                  allAttIds = [];
                  for(var i=0;i<result[0].length;i++){
                    console.log('head'+i)
                    head=head+'<th>'+result[0][i].attribute+'</th>';
                  allAttIds.push(result[0][i].attId);
                  }
                  allAttIds1=allAttIds;
                 // alert(allAttIds1);
                  //allAttIds.push(0);
        /********************Important next line*************************/
            head=head+'<th >Brand</th><th style = "width:100px;" id ="underconsideration">Warranty</th><th class = "">Components</th></tr>';
            $('#headi').append(head);
            $('#bodyi').empty();
        arr.length=qty;
        col=result[0].length;
       attlength = col;
        for(var i=0;i<qty;i++){
          var k=i
          var row='<tr><td>'+ ++k +'</td><td><input class="serialClass"'+
          ' id="serial'+i+'"></td>';
          for(var o=0;o<result[0].length;o++){

           row=row+'<td><select class="single" id="'+i+o+'">';

           
          for(var dropdownValues=0;dropdownValues<result[1].length;dropdownValues++){
                 if(result[0][o].attId==result[1][dropdownValues].attId){
              row=row+'<option value="'+result[1][dropdownValues].dropDownValue+'">'+result[1][dropdownValues].value+'</option>';          
                 }

              }
              row = row + '</select></td>';
          
          }

    /*******************Code by Mayur for brandname and warranty***************************/
          var k = 0;while(result[1][k++].attId!=0);
          k--;


              row=row+'<td><select class="single" id="brand'+i+'">';
            
           for(var dropdownValues=k;dropdownValues<result[1].length;dropdownValues++){
             row=row+'<option value="'+result[1][dropdownValues].dropDownValue+'">'+result[1][dropdownValues].value+'</option>';  
           }
          row = row + '</select></td><td><input'+
        ' class="single  warrClass" id="warranty'+i+'" type = "text"></td>';
           row = row + '<td class="hide"><input'+
        ' class="single form-control warrClass" id="componentdata'+i+'" type = "hidden"></td>';
        row = row + '<td class="hide"><input'+
        ' class="single form-control warrClass" id="id'+i+'" type = "hidden" value="0"></td>';
      /******************************************************************************/



            row = row + '<td class = "">'+'<input class="btn btn-danger"type="button"data-toggle="modal"'+' value="EDIT"data-target="#addModal"'+'style="background-color:#f05f40;color:white;height:20px;font-size:12px" id="'+i+'"'+
            ' onclick="getsubline('+i+')">'+
            '</td></tr>';

         // addId(i);
          $('#bodyi').append(row);
                    }

          
          $('#table1').removeClass('hide');
          arr[i]={
                    specification:null,
                    brand:null,
                    serial:null,warranty:null,
                    component:{},
                    saved:false
                }
                
         }

      });
    }

    function getlineValue(id){
 
   $.ajax({
        url:'/getlineid',
        method:'post',
        async:true,
        data:{
            'id':id
             },
                dataType:'json',
                success:function(result){
                 var lineid=[];
                 lineid=result[0][0].ids.split(',');
                // alert(lineid);
               for(var i=0;i<lineid.length;i++){
              getattrline(lineid[i],i);
             }
                                      }

});
}

  function getattrline(id,nu)
  {
 
   $.ajax({
        url:'/getlinevalue',
        method:'post',
        async:true,
        data:{
            'id':id
             },
                dataType:'json',
                success:function(result)
                {
                  //alert(result[0][0]);
                 // getsubline(result[0][0].Id);
                  $('#id'.concat(nu)).val(result[0][0].id);
                  $('#serial'.concat(nu)).val(result[0][0].serialNo);
                  $('#brand'.concat(nu)).val(2);
                  $('#warranty'.concat(nu)).val(result[0][0].warranty);
                  for(var j=0;j<result[2].length;j++)
                  {
                      $('#'.concat(nu).concat(j)).val(result[2][j].dropDownValue);

                  }
               }

         });
  }

 function getsubline(k)
 {
  //
  $("#addComptable").dataTable().fnDestroy();
  $('#addcompobody').empty();
  countAddCompModal=0;
 var str1='';
  var id=$('#id'.concat(k)).val();
 //alert(id);
   $.ajax({
        url:'/getsublinevalue',
        method:'post',
        async:true,
        data:{
            'id':id
             },
                dataType:'json',
                success:function(result)
                { saveId(k); 
                   for(var i=0;i<result[0].length;i++)
                   {
                      addCompModal();
                      $('#compo'.concat(i)).val(result[0][i].ACID);
                      $('#srno'.concat(i)).val(result[0][i].serialNO);
                      $('#brand'.concat(i)).val(result[0][i].brand);
                      $('#war'.concat(i)).val(result[0][i].warranty);
                      $('#sublineid'.concat(i)).val(result[0][i].id);
                      str1=str1+result[0][i].ACID+','+result[0][i].serialNO+','+result[0][i].brand+','+result[0][i].warranty+','+result[0][i].id+'?';              
                   }
                   $('#componentdata'.concat(k)).val(str1);
                  
                      console.log('jai mata di',result[0]);
                }

          });
}



  function addCompModal()
  {
    var row = '<tr><td><select class = "single form-control" id="compo'+countAddCompModal+'"><%for(var i=0;i<ctype.length;i++){%><option value="<%=ctype[i].id%>"><%=ctype[i].componentName%></option><%}%></select></td><td><input type = "text" class = "single form-control" id="srno'+countAddCompModal+'"></td><td><select class="single form-control" id="brand'+countAddCompModal+'"><option selected value="2">b</option></select></td><td><input type = "text" class = "single form-control" id="war'+countAddCompModal+'"></td><td><input type = "text" class = "single form-control" id="size'+countAddCompModal+'"></td></tr><input type="hidden" id="sublineid'+countAddCompModal+'" value="0">';
     $('#addcompobody').append(row);
         countAddCompModal++;

  }


       function saveComp()
       {

           tempArr=[];
           var str='';
           for(var  i=0;i<countAddCompModal;i++)
           {
               str=str+$('#compo'.concat(i)).val()+','+$('#srno'.concat(i)).val()+','+$('#brand'.concat(i)).val()+','+$('#war'.concat(i)).val()+','+$('#size'.concat(i)).val()+','+$('#sublineid'.concat(i)).val();
               tempArr[i]=str;
               str='?';
           }
           $('#componentdata'.concat($('#serids').val())).val(tempArr);
           alert(tempArr);
       }


       function parsealldata(){
    var q=$('#qty').val();
    var str2='';
    var str1='';
    dataArray=[];
   
    for(var i=0;i<q;i++){
      for(var j=0;j<allAttIds1.length;j++){
   str2=str2+$('#'.concat(i).concat(j)).val()+',';}
   //+','+$('#warranty'.concat(i)).val()+'@'+$('#componentdata'.concat(i)).val();$('#serial'.concat(i)).val()+','+
   str1=str2+'$';
   str2='';
   dataArray[i]=str1;
   //str1='$';
    }
    alert(dataArray);
    addHardware(dataArray);
  }

/*******update hardware**********/
  function addlinedata(t1,t2,t3,t6,t7,headid,ctypeid,arr1,ide){
    alert('hello line data');
    alert(arr1);
   var arr3=[];
   arr3=arr1.split('?');
   alert(arr3.length);
    var arr2=[];

   $.ajax({
        url:'/addline',
        method:'post',
        async:true,
        data:{
            't1' : t1,
            't2': t2,
            't3' : t3,
             't6' : t6,
             't7' : t7,
             'hdId' : headid,
             'ctype':ctypeid,
             'ides':ide

             },
                dataType:'json',
                success:function(result){
                  alert(result);
                  //arr3=arr1.split('?');
                    for(var i=0;i<arr3.length;i++){
                       var increment=arr3.length;
                       var n=i;
                      arr2=arr3[i].split(',');
                     
               addsubline(arr2[0],arr2[1],arr2[2],arr2[3],arr2[4],headid,ctypeid,result,arr2[5],increment,n);
                     }
             
             }

});
}
function addsubline(st1,st2,st3,st4,st5,headerid,ctypeid,lineid,ides,lni1,n1){
 // allAttIds = allAttIds.join(',');
 alert('addcomponent');
  console.log("hfshgfshgdsh sshh",st1,st2,st3,st4,st5,headerid,ctypeid,lineid,ides);
   $.ajax({
        url:'/subaddline',
        method:'post',
        async:true,
        data:{
            'st1' : st1,
            'st2': st2,
            'st3' :st3,
            'st4' : st4,
            'st5'  : st5,
             'hdId' : headerid,
             'ctype':ctypeid,
             'lineid':lineid,
             'ides':ides
             },
                dataType:'json',
                success:function(result){
                  if((lni1-1)==n1){
                    addTag(lineid);
             alert('data add successfully ');}
                                      }

});
}

function addtag(ides){
var  tagNo='PSSL'+ides;
   $.ajax({
        url:'/updateTag',
        method:'post',
        async:true,
        data:{
            'tagNo' : tagNo,
             'ides':ides
             },
                dataType:'json',
                success:function(result){
                 
             alert('data add successfully ');
                                      }

});
}
function addHardware(newOuterArr){
 // allAttIds = allAttIds.join(',');
 var array=[];
 var newarray=[];
 var compdata=[];
 var linedata=[];
 var sublinedata=[];
  var len=$('#qty').val();

   $.ajax({
        url:'/addHardware',
        method:'post',
        async:true,
        data:{
            'attr':newOuterArr,
            'type' : $('#type').val(),
        'invoiceNo': $('#invoiceNo').val(),
  'purchasedOrder' : $('#order').val(),
        'Quantity' : $('#qty').val(),
    'invoiceDate'  : $('#Invoicedate').val(),
    'deliveryDate' : $('#Deliverydate').val(),
    'vendor'       : $('#vendor').val(),
    'invoiceAmt'   : $('#invoiceAmt').val(),
    'ides': $("#hdnId").val()
             },
                dataType:'json',
                success:function(result){
                 for(var i=0;i<len;i++){
 array=newOuterArr[i].split("$");
 alert(array[0]);
 alert($('#componentdata'.concat(i)).val());
 var attid= allAttIds1.toString();
 //alert(array[0]);allAttIds1
 /*alert(array[1]);
 newarray=array[1].split("@");
 linedata[i]=newarray[0];
 sublinedata[i]=newarray[1];
 alert(linedata[i]);
 compdata=newarray[0].split(",");
 alert(compdata[0]);*/
 //+','+$('#warranty'.concat(i)).val()+'@'+$('#componentdata'.concat(i)).val();$('#serial'.concat(i)).val()+','+
//console.log(compdata[0],compdata[1],compdata[2],compdata[3],compdata[4],compdata[5],compdata[6],result,$('#typel').val());
          addlinedata($('#serial'.concat(i)).val(),attid,array[0],$('#brand'.concat(i)).val(),$('#warranty'.concat(i)).val(),result,$('#type').val(),$('#componentdata'.concat(i)).val(),$('#id'.concat(i)).val());

             
                                      }
                                      }

});
}
/*********end***********/

</script>