<!DOCTYPE html>
<html lang="en">
 
<head>

     <% include ../partials/head %>
       <% include ../partials/adminheader %>
       <% include assetheader %>

</head>
<style type="text/css">
   /*.dataTables_filter, .dataTables_length {
     display: none;
    }*/
</style>
<body id="viewHardware">
 
 <div class="container-fluid secondry-color" style="min-height: 350px">
  <span class="fusion-page-title">List Of All Hardware</span>
  
  <a href="/hardware" type="button" title="Add New Stationary"  value="Addstationary"><img   class="addNewPlus" src="/img/add.png" ></a>
    
     
 <!-- <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%">  -->
  <table class="table table-hover table-striped table-bordered rceDataTable responsive"id="hardtable" cellpadding="0" cellspacing="0" border="0" style="width:100%">
    <thead>

      <tr>
        <th>Hardware Type</th>
        <th>Quantity</th>
        <th>Vendor</th>
        <th>Invoice Date</th>
        <th>Invoice No.</th>
        <th>Invoice Amount</th>
        <th>Purchase Order</th>
        <th>Delivery Date</th>
        <th>Edit/Delete</th>
      </tr>
      <tbody>
        <%for(var i=0;i<htype.length;i++){%>
        <tr>
          <td><%=htype[i].componentName%></td>
          <td><%=htype[i].quantity%></td>
          <td><%=htype[i].vendor%></td>
          <td><%=htype[i].invoiceDate%></td>
          <td><%=htype[i].invoiceNo%></td>
          <td><%=htype[i].invoiceAmt%></td>   
          <td><%=htype[i].purchaseOrder%></td>
          <td><%=htype[i].deliveryDate%></td>
          <td>
            <a data-toggle='modal' data-target='#editHardware' onclick="showInfo(<%=htype[i].id%>,0)">
              <span class='glyphicon glyphicon-pencil' style='color:green;margin: 3px'  title ='Edit'></span>
            </a>
             <a data-toggle='modal' data-target='#editHardware' onclick="showInfoforDescription(<%=htype[i].id%>,1)">
              <span class='glyphicon glyphicon-list' style='color:green;margin: 3px'  title ='Description'></span>
            </a>
            <a onclick="del(<%=htype[i].id%>)" type="button"><span class='glyphicon glyphicon-trash' style='color:red;margin: 3px'title='Delete'></span>
            </a>
          </td>
        </tr>
        <%}%>

      </tbody>
    </table>
</div>

</div>

<div class="modal fade" id="editHardware" role="dialog" >

    <div class="modal-dialog" style="min-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" id="dismiss">×</button>
            <h4 id="head10" class="modal-title">Edit Hardware</h4>
        </div>
        <div id="err" class="col-lg-6 col-sm-offset-3"></div>
          <div class="modal-body">
            <div class="row fusion-form-elements view-edit-hardware">
              <div class="col-lg-4 col-md-4 col-sm-6">
                <label>Hardware Type: <sup class="astrick">*</sup></label>
                <span id="ltype" class="hide labelans"></span>
                <input type="text" id="type1"   name="type1"  class="form-control input-sm textBox" value="" disabled>
                <input type="hidden" id="type"   name="type"  class="form-control input-sm" value="" disabled>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <label>Quantity: <sup class="astrick">*</sup></label>
                <span id="lqty" class="hide labelans"></span>
                <input type="number" maxlength="2"  class="form-control input-sm textBox" id="qty" name="qty" onchange="addline()" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <label>Vendor: <sup class="astrick">*</sup></label>
                <span id="lvendor" class="hide labelans"></span>
                <select  class="form-control input-sm textBox" style=""  name="vendor" id ="vendor" onchange=""> 
                  <option value='0' disabled selected>Select</option>
               <% for(i=0;i<vendor.length;i++){%>
                  <option value="<%=vendor[i].id%>"><%=vendor[i].name%></option>
                <%}%>
                </select>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <label>Invoice Number: <sup class="astrick">*</sup></label>
                <span id="linvoiceNo" class="hide labelans"></span>
                <input type="text" maxlength="10"  class="form-control input-sm textBox" id="invoiceNo" name="invoiceNo" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <label>Invoice Date: <sup class="astrick">*</sup></label>
                <span id="lInvoicedate" class="hide labelans"></span>
                <input type="text" class="form-control input-sm textBox date " id="Invoicedate" name="Invoicedate" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <label>Invoice Amount: <sup class="astrick">*</sup></label>
                <span id="linvoiceAmt" class="hide labelans"></span>
                <input type="text" maxlength="11"  class="form-control input-sm textBox" id="invoiceAmt" name="invoiceAmt" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <label>Purchased Order: <sup class="astrick">*</sup></label>
                <span id="lorder" class="hide labelans"></span>
                <input type="text" maxlength="50"  class="form-control input-sm textBox" id="order" name="order" />
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <label>Delivery Date: <sup class="astrick">*</sup></label>
                <span id="lDeliverydate" class="hide labelans"></span>
                <input type="text " class="form-control input-sm textBox date " id="Deliverydate"name="Deliverydate"/>
              </div>
            </div>
            <div class="table-responsive">
               <table id='table1' class="table table-striped table-bordered table-hover table-condensed hide view-hardware-table responsive">
                 <thead id="headi">
                 </thead>
                 <tbody id="bodyi">
                 </tbody>
               </table>
            </div>
           
             </div>
            <div class="modal-footer">
              <input type="text" class="hide" value="" id="hdnId" name="hdnId">
                <button id="cancel" type="reset"data-dismiss="modal" class="btn">Cancel</button>
                <input type="submit"    onclick="return validatehardvare()" class="btn hdwrbtn" value="Submit">
            </div>
          </div>
        </div>
      </div>
 
    <div class="modal fade" id="editHardware1" role="dialog" >
    <div class="modal-dialog"  style="margin-left: 150px">

      <div class="modal-content" id="express2" style ="width:1000px;height:auto;">
        <div class="modal-header" style="background-color:#f05f40;">
          <center><label id="head2" class="modal-title" style="color:white;font-size:14pt;"><b>View Hardware</b></label>
          <span  data-dismiss="modal"  class="glyphicon glyphicon-remove" style='font-size:14pt;float:right;color:black;margin-bottom: 15px'></span>
          </center>
        </div>
        <div id="err" class="col-lg-6 col-sm-offset-3"></div>
          <div class="modal-body">
            <div class="col-md-12 a">
              <div class="col-md-2">
                <label style="line-height:42px !important;color:red; font-size: 12px">Hardware Type: </label>
              </div>
             <div class="col-md-2">
                <label id="t1" style="line-height:42px !important; font-size: 12px"></label>
              </div>
              <div class="col-md-2">
                <label style="line-height:42px !important;color:red; font-size: 12px">Quantity:</label>
              </div>
              <div class="col-md-2">
                <label id="t2" style="line-height:42px !important; font-size: 12px"></label>
              </div><div class="col-md-2">
                <label style="line-height:42px !important;color:red; font-size: 12px">Vendor:</label>
              </div><div class="col-md-2">
                <label id="t3" style="line-height:42px !important; font-size: 12px"></label>
              </div>
              <div class="col-md-12 a">
              <div class="col-md-2">
                <label style="line-height:42px !important; color:red;font-size: 12px">Invoice Amount:</label>
              </div>

              <div class="col-md-2">
                <label id="t4" style="line-height:42px !important; font-size: 12px"></label>
              </div>
          
             
             
              <div class="col-md-2">
                <label style="line-height:42px !important;color:red; font-size: 12px">Purchase Order: </label>
              </div>
             <div class="col-md-2">
                <label id="t5" style="line-height:42px !important; font-size: 12px"></label>
              </div>
              <div class="col-md-2">
                <label style="line-height:42px !important;color:red; font-size: 12px">Invoice Date:</label>
              </div>
              <div class="col-md-2">
                <label id="t6" style="line-height:42px !important; font-size: 12px"></label>
              </div>
              </div>
              <div class="col-md-12 a">
              <div class="col-md-2">
                <label style="line-height:42px !important;color:red; font-size: 12px">Invoice Number:</label>
              </div><div class="col-md-2">
                <label id="t7" style="line-height:42px !important; font-size: 12px"></label>
              </div><div class="col-md-2">
                <label style="line-height:42px !important; color:red;font-size: 12px">Delivery Date:</label>
              </div>
              <div class="col-md-2">
                <label id="t8" style="line-height:42px !important; font-size: 12px"></label>
              </div>
          
             </div>
             <div id='componentid'>
                <table id ='addComptable1' class="table table-striped table-bordered table-hover table-condensed responsive" style="overflow-y:auto;">
            <col width="10"><col width="10"><col width="20"><col width="10"><col width="10">

                <thead id="modalHead">
                  <tr>
                    <th style="width:15%;">Component Name</th>
                    <th style="width:15%">Serial Number</th>
                    <th style="width:15%;">Brand</th>
                    <th style="width:15%">Warranty</th>
                    <th style="width:20%">Attribute</th>
                    <th style="width:20%">Attribute Value</th>
                  </tr>
                </thead>
                <tbody id="addcompobody1">
                </tbody>
              </table>
             </div>
             </div>
            <div class="modal-footer"style="border-top:0px;">
              <center>
                <button id="cancel"type="reset"data-dismiss="modal"class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">Cancel</button>
              </center>
            </div>
          </div>
        </div>
      </div>
      </div>
   
<div class="modal fade" id="viewMore" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content" id="express3">
        <div class="modal-header">
          <center><label id="head" class="modal-title" style="color:white;font-size:14pt;"><b>View More</b></label></center>
        </div>
        <div id="err" class="col-lg-6 col-sm-offset-3"></div>
          <div class="modal-body">
            <table id="viewtableforh" class="table table-striped table-bordered table-hover table-condensed hide responsive"style="overflow:scroll;width:100%;">
        <thead id="headi">
        </thead>
        <tbody id="bodyi">
        </tbody>
        </table>

            <div  class="modal-footer"style="border-top:0px;">
              <center>
              <input type="text" class="hide" value="" id="hdnId" name="hdnId">
                <button id="cancel"type="reset"data-dismiss="modal"class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">Cancel</button>
                <input type="submit" onclick="return validatehardvare()"class="btn btn-default"style="margin-top:10px;background-color:#f05f40;color:black;padding-top:4px; width:100px;height:30px;color:white" value="Submit">
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="modal " id="addModal"  role="dialog">

  <div class="modal-dialog" style="min-width: 70%">
    <div class="modal-content" style="overflow-y: auto;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="cut">×</button>
        <h4 id="head1" class="modal-title">Add Component</h4>
      </div>
      <div id="err" class="col-lg-6 col-sm-offset-3"></div>
      <div class="modal-body">
        <div class="form-group" style="padding:10px;">

          <div class="table-responsive" id="addcompobody" style="margin-bottom: 20px;">
            
             </div>
              <input type="hidden" id="serids"/>
              <div id="tablediv" class="table-responsive"></div>
          </div>
        </div>
        <div class="modal-footer">
          <input  id="submitid" type="button"class="btn btn-info" onclick="validatesubcomponent()" value="SUBMIT">
        </div>
    </div>
  </div>
</div>

</body>
<footer>
  <% include ../partials/footer %>

</footer> 

    <script>

   var col;
var comps=[];
var qty;
var attlength;
var allAttIds = [];
var allAttIds1 = [];
var arr=[];
var countAddCompModal=0;
  var fact=0;  
var idarray=[];

    




    $(document).ready(function(){
       $('.asset-img').addClass('active');
   var oTable=   $("#hardtable").dataTable({
        "bLengthChange": false,
        "binfo":false
      });
             $("#searchbox").keyup(function() {
        oTable.fnFilter(this.value);
      });
     var oTable1= $("#addComptable").dataTable({
        "bLengthChange": false,
        "binfo":false
      });
             $("#searchbox").keyup(function() {
        oTable1.fnFilter(this.value);
      });
    });

    jQuery('.date').datetimepicker({
      timepicker:false,
      format:'d/m/Y'
    });
    function validate(){
      var inamount=$('#invoiceAmt').val();
      var up=$('#uprice').val();
      if($('#vendor').val().length<1||$.trim($("#vendor").val()) =="") 
      {
      alert("Vendor is Missing!");    
      return false;
      }
    if($('#Invoicedate').val().length<1||$.trim($("#Invoicedate").val()) =="") 
    {
      alert("Invoice date is Missing!");    
      return false;
    }
     if($('#invoiceNo').val().length<1||$.trim($("#invoiceNo").val()) =="") 
    {
      alert("Invoice number is Missing!");    
      return false;
    }

    if(inamount.length<2||isNaN(inamount)||inamount.trim().length<1) 
    {
      alert("Enter valid Invoice Amount!");    
      return false;
    }
    if($('#qty').val().length<1||$.trim($("#qty").val()) ==""||$.trim($("#qty").val()) > 20) 
    {
      alert("Enter valid Quantity!");    
      return false;
    }
        
    if($('#Deliverydate').val().length<1||$.trim($("#Deliverydate").val()) =="") 
    {
      alert("Delivery date is Missing!");    
      return false;
    }

 
}

 i=0;
     function addCompModal(rowid){
      addId(rowid);
      kid=0;
      $('#addcompobody').html('');
      $('#tablediv').html('');
      
    var row = '<div class="row" id="trdiv"><div class="col-md-3" style="padding-left:1px">Subcomponent :</div><div class="col-md-3"><select class = "form-text-box form-control input-sm" id="compo"><%for(var i=0;i<ctype.length;i++){%>';
    if($("#type").val() != "<%=ctype[i].id%>"){
        row+='<option value="<%=ctype[i].id%>"><%=ctype[i].componentName%></option>';
      } 
    row+='<%}%></select></div><div class="col-md-2"><input type="button"class="btn btn-info addcompdata" onclick="addsubcomponent()" value="ADD"></div></div>';
   
         $('#addcompobody').append(row);
         
         countAddCompModal++;
         i++

         var date=new Date($('#Deliverydate').val());
          jQuery('.datetimepicker').datetimepicker({
  timepicker:false,
  format:'d/m/Y', minDate:date
  });
     }

function saveId(id){
    addId(id);
    }

  var kid=0;  
function addsubcomponent() {
  kid++;
  var intr='<table class="table" style="overflow:scroll;width:100%;"><thead id="headij'+kid+'"></thead><tbody id="bodyk'+kid+'"></tbody></table>';
   $('#tablediv').append(intr);
    $('#tableQuantity').removeClass('hide');
    var typ = document.getElementById('compo');
    var selectedValue =typ.options[typ.selectedIndex].value;
    if (selectedValue == "0") {
        alert("Please select a type");
        return false;
    }
    if ($('#qty').val().length < 1 || $.trim($("#qty").val()) < 1) {
        alert("Please enter valid Quantity!");
        return false;
    }
    qty = 1;
    if (qty > 20) {
        alert("Quantity cannot exceed 20!");
        document.getElementById('qty').value = '';
    } else {
        $.ajax({
            url: '/getAttr',
            method: 'post',
            data: {
                acid: selectedValue
            },
            dataType: 'json',
            success: function(result) {
                var head = '<tr style="height:12px"><th style="width:150px"># <span style="color:red" title="Remove Row" onclick="remove1('+kid+')" class="glyphicon glyphicon-remove-circle"></span></th><th >Component Name</th>';
                allAttIds = [];
                for (var i = 0; i < result[0].length; i++) {
                    head = head + '<th>' + result[0][i].attribute + '</th>';
                    allAttIds.push(result[0][i].attId);
                }
                allAttIds2 = allAttIds;
              
                head = head + '<th >Brand</th><th style = "width:100px;" id ="underconsideration">Warranty Start Date</th><th style = "width:100px;" id ="underconsideration">Warranty End Date</th></tr>';
                $('#headij'.concat(kid)).append(head);
                arr.length = qty;
                col = result[0].length;
                attlength = col;

                for (var i = 0; i < qty; i++) {
                    var k = i
                    var row = '<tr><td>' + ++k + '<input type="hidden" class="form-text-box" id="rowlineid'+kid+'" value="0"></td><td><input type="hidden" class="form-text-box" id="attrid'+kid+'" value='+allAttIds.toString()+'><input type="hidden" class="form-text-box" id="col'+kid+'" value='+col+'><input type="hidden" class="form-text-box" id="sublineid'+kid+'" value=""><input type="hidden" class="form-text-box" placeholder="Enter serial number"' +
                        ' id="serial12' + kid + '" value='+selectedValue+'>'+$("#compo option:selected").text()+'</td>';
                    for (var o = 0; o < result[0].length; o++) {

                        row = row + '<td><select style="width:100px" class="form-text-box" id="' + i + o +kid+ '"><option value="0">Select</option>';


                        for (var dropdownValues = 0; dropdownValues < result[1].length; dropdownValues++) {
                            if (result[0][o].attId == result[1][dropdownValues].attId) {
                                row = row + '<option value="' + result[1][dropdownValues].id + '">' + result[1][dropdownValues].value + '</option>';
                            }

                        }
                        row = row + '</select></td>';

                    }
                    row = row + '<td><select style="width:100px" class="form-text-box" id="brands' + kid + '"><option value="0">Select</option>';

                    for (var dropdownValues = 0; dropdownValues < result[2].length; dropdownValues++) {
                        row = row + '<option value="' + result[2][dropdownValues].id + '">' + result[2][dropdownValues].value + '</option>';
                    }
                    row = row + '</select></td><td><input' + ' class="form-text-box datetimepicker2" id="warrantyco1' + kid + '" type = "text"></td>';
                    row = row + '</select></td><td><input' + ' class="form-text-box datetimepicker2" id="warrantyco2' + kid + '" type = "text"></td>';
                    row = row + '<td class="hide"><input' + ' class="single form-control input-sm warrClass" id="componen' + i + '" type = "hidden"></td>';
                
                    $('#bodyk'.concat(kid)).append(row);
                }
                  jQuery('.datetimepicker2').datetimepicker({
                    timepicker: false,
                    format: 'd/m/Y'
                });
}

});
}
}

  function remove1(tabid){
    var ids= $('#sublineid'.concat(tabid)).val();
      $.ajax({
        url:'/deletesubline',
        method:'post',
        async:true,
        data:{
            'ids':ids
             },
                dataType:'json',
                success:function(result){
             
                $('#headij'.concat(tabid)).addClass('hide');
                $('#bodyk'.concat(tabid)).addClass('hide');
                $('#rowlineid'.concat(tabid)).val(1);            
             }

           });
}

function addId(ids){
  $('#serids').val(ids);
 }

function del(id){ 
  if(confirm("This action once done cannot be undone! Do you want to delete this?")==true)
  {
  $.ajax({
    url:'/deleteHeaderandline',
    method: 'POST',
    data:{'id':id},
    success: function(data) {
    if(data==0){
     window.location.href='/viewHardware'
    }
    else{
      alert("Hardware already assigned");
    }
    },
    dataType: 'JSON',
  });
}
}

function description(id){
      $("#t1").html('');
      $("#t2").html('');
      $("#t3").html('');
      $("#t4").html('');
      $("#t5").html('');
      $("#t6").html('');
      $("#t7").html('');
      $("#t8").html('');
  $.ajax({ 
    url: '/getEditHardware',
    method:'POST',
    data: {'id':id},
    success: function(data) { 
      $("#type").val(data[0][0].ACID);
      $("#t1").append(data[0][0].componentName);
      $("#t2").append(data[0][0].quantity);
      $("#t3").append(data[0][0].vendor);
      $("#t4").append(data[0][0].invoiceAmt);
      $("#t5").append(data[0][0].purchaseOrder);
      $("#t6").append(((data[0][0].invoiceDate).toString()).slice(0,11));
      $("#t7").append(data[0][0].invoiceNo);
      $("#t8").append(((data[0][0].deliveryDate).toString()).slice(0,11));
      
      getidfordescription(id);
    }
  });
}

function showInfo(id,flag){
  if(flag){                                                             
  $(".labelans").removeClass("hide");
  $(".view-edit-hardware .astrick").addClass("hide");
  $(".textBox").addClass("hide");
  $(".view-edit-hardware").removeClass("fusion-form-elements");
  $(".chnBtn").val("View");
  $("#head4").html("View Hardware");
  $(".hdwrbtn").addClass("hide");

  $(".lineText").attr('disabled',true); 
  $(".lineText").attr('disabled','disabled');
  document.getElementsByClassName("lineText").disabled = true;
}
else{ 
  $("#head10").html(" ");
  $("#head10").append("Edit Hardware");                                                             
  $(".labelans").addClass("hide");
  $(".view-edit-hardware .astrick").removeClass("hide");
  $(".textBox").removeClass("hide");
  $(".view-edit-hardware").addClass("fusion-form-elements");
  $(".chnBtn").val("Edit")
  $("#head4").html("Edit Hardware");
  $(".hdwrbtn").removeClass("hide");

  $(".lineText").attr('disabled',false); 
  $(".lineText").removeAttr("disabled");
  document.getElementsByClassName("lineText").disabled = false; 
}

  $("#hdnId").val('');

  $.ajax({ 
    url: '/getEditHardware',
    method:'POST',
    data: {'id':id},
    success: function(data) { 
      $("#type").val(data[0][0].ACID);
      $("#type1").val(data[0][0].componentName);
      $("#qty").val(data[0][0].quantity);
      $("#vendor").val(data[0][0].vendor);
      $("#invoiceAmt").val(data[0][0].invoiceAmt);
      $("#order").val(data[0][0].purchaseOrder);
      $("#Invoicedate").val(data[0][0].invoiceDate);
      $("#invoiceNo").val(data[0][0].invoiceNo);
      $("#Deliverydate").val(data[0][0].deliveryDate);
      $("#hdnId").val(data[0][0].id);

    
      $("#ltype").html(data[0][0].componentName);
      $("#lqty").html(data[0][0].quantity);
      $("#lvendor").html(data[0][0].vendor);
      $("#linvoiceAmt").html(data[0][0].invoiceAmt);
      $("#lorder").html(data[0][0].purchaseOrder);
      $("#lInvoicedate").html(data[0][0].invoiceDate);
      $("#linvoiceNo").html(data[0][0].invoiceNo);
      $("#lDeliverydate").html(data[0][0].deliveryDate);

      getlinedtata();
      getlineValue(id);
    }
  });
}

function addline(){
 var id=$("#hdnId").val();
  getlinedtata();
  getlineValue(id);
}

function getlinedtata(){
      $('#tableQuantity').removeClass('hide');
    var selectedValue = Math.floor($("#type").val());
    if (selectedValue == "0") {
        alert("Please select a type");
        return false;
    }
    if ($('#qty').val().length < 1 || $.trim($("#qty").val()) < 1) {
        alert("Please enter valid Quantity!");
        return false;
    }
   
    qty = document.getElementById('qty').value;

    if (qty > 20) {
        alert("Quantity cannot exceed 20!");
        document.getElementById('qty').value = '';
    } else {
        $.ajax({
            url: '/getAttr',
            method: 'post',
            data: {
                acid: selectedValue
            },
            dataType: 'json',
            success: function(result) {

                $('#headi').empty();
                var head = '<tr ><th>#</th><th >Serial No.</th>';
                allAttIds = [];
                for (var i = 0; i < result[0].length; i++) {
                    head = head + '<th>' + result[0][i].attribute + '</th>';
                    allAttIds.push(result[0][i].attId);
                }
                allAttIds1 = allAttIds;
              
              
                head = head + '<th >Brand</th><th style = "width:100px;" id ="underconsideration">Warranty Start Date</th><th style = "width:100px;" id ="underconsideration">Warranty End Date</th><th "width:100px;"  class = "">Components</th></tr>';
                $('#headi').append(head);
                $('#bodyi').empty();
                arr.length = qty;
                col = result[0].length;
                attlength = col;
                for (var i = 0; i < qty; i++) {
                    var k = i
                    var row = '<tr><td>' + ++k + '</td><td><input class="form-text-box" placeholder="Enter serial number"' +
                        ' id="serial' + i + '"></td>';
                    for (var o = 0; o < result[0].length; o++) {

                        row = row + '<td><select class="form-text-box" id="' + i + o + '"><option value="0">Select</option>';


                        for (var dropdownValues = 0; dropdownValues < result[1].length; dropdownValues++) {
                            if (result[0][o].attId == result[1][dropdownValues].attId) {
                                row = row + '<option value="' + result[1][dropdownValues].id + '">' + result[1][dropdownValues].value + '</option>';
                            }

                        }
                        row = row + '</select></td>';

                    }

                   


                    row = row + '<td><select class="form-text-box" id="brand' + i + '"><option value="0">Select</option>';

                    for (var dropdownValues = 0; dropdownValues < result[2].length; dropdownValues++) {
                        row = row + '<option value="' + result[2][dropdownValues].id + '">' + result[2][dropdownValues].value + '</option>';
                    }
                    row = row + '</select></td><td><input' + ' class="form-text-box datetimepicker1" placeholder="Start Date" id="warranty' + i + '" type = "text"></td><td><input' + ' class="form-text-box datetimepicker1" placeholder="End Date" id="warranty1o' + i + '" type = "text"></td>';
                    row = row + '<td class="hide"><input' + ' class="single form-control input-sm warrClass" id="componentdata' + i + '" type = "hidden"></td>';
                     row = row + '<td class="hide"><input class="single form-text-box warrClass lineText" id="id'+i+'" type = "hidden" value="0"></td>';


                    row = row + '<td class = "">' + '<input onclick="getsubline('+i+',0)" class="btn btn-danger btn-sm"type="button"data-toggle="modal"' + ' value="Add"data-target="#addModal"' + 'style="background-color:#f05f40;color:white;" id="' + i + '"' + ' onclick="saveId(' + i + ')">' + '</td></tr>';
                  
                    $('#bodyi').append(row);
                }


                jQuery('.datetimepicker1').datetimepicker({
                    timepicker: false,
                    format: 'd/m/Y'
                });


                $('#table1').removeClass('hide');
                arr[i] = {
                    specification: null,
                    brand: null,
                    serial: null,
                    warranty: null,
                    component: {},
                    saved: false
                };

            }


        });
    }
  }

 function numericFilter(txb) {
         txb.value = txb.value.replace(/[^\0-9]/ig, "");
        }

function getlinedtatafordescription(){
      $('#tableQuantity').removeClass('hide');
    var selectedValue = $("#type").val();
    if (selectedValue == "0") {
        alert("Please select a type");
        return false;
    }
    if ($('#qty').val().length < 1 || $.trim($("#qty").val()) < 1) {
        alert("Please enter valid Quantity!");
        return false;
    }
   
    qty = document.getElementById('qty').value;

    if (qty > 20) {
        alert("Quantity cannot exceed 20!");
        document.getElementById('qty').value = '';
    } else {
        $.ajax({
            url: '/getAttr',
            method: 'post',
            data: {
                acid: selectedValue
            },
            dataType: 'json',
            success: function(result) {

                $('#headi').empty();
                var head = '<tr ><th>#</th><th >Serial No.</th>';
                allAttIds = [];
                for (var i = 0; i < result[0].length; i++) {
                    head = head + '<th>' + result[0][i].attribute + '</th>';
                    allAttIds.push(result[0][i].attId);
                }
                allAttIds1 = allAttIds;
              
              
                head = head + '<th >Brand</th><th style = "width:100px;" id ="underconsideration">Warranty Start Date</th><th style = "width:100px;" id ="underconsideration">Warranty End Date</th><th style="width:100px;" >Tag Number</th><th style="width:100px;" >Components</th></tr>';
                $('#headi').append(head);
                $('#bodyi').empty();
                arr.length = qty;
                col = result[0].length;
                attlength = col;
                for (var i = 0; i < qty; i++) {
                    var k = i
                    var row = '<tr><td>' + ++k + '</td><td><input readonly style="width:150px" class="form-text-box" placeholder="Enter serial number"' +
                        ' id="serial' + i + '"></td>';
                    for (var o = 0; o < result[0].length; o++) {

                        row = row + '<td><select disabled="disable" style="width:100px" class="form-text-box" id="' + i + o + '"><option value="0">Select</option>';


                        for (var dropdownValues = 0; dropdownValues < result[1].length; dropdownValues++) {
                            if (result[0][o].attId == result[1][dropdownValues].attId) {
                                row = row + '<option value="' + result[1][dropdownValues].id + '">' + result[1][dropdownValues].value + '</option>';
                            }

                        }
                        row = row + '</select></td>';

                    }

                   


                    row = row + '<td><select disabled="disable" style="width:100px" class="form-text-box" id="brand' + i + '"><option value="0">Select</option>';

                    for (var dropdownValues = 0; dropdownValues < result[2].length; dropdownValues++) {
                        row = row + '<option value="' + result[2][dropdownValues].id + '">' + result[2][dropdownValues].value + '</option>';
                    }
                    row = row + '</select></td><td><input' + ' disabled="disable" style="width:100px" class="form-text-box datetimepicker1" placeholder="Start Date" id="warranty' + i + '" type = "text"></td><td><input' + ' disabled="disable" class="form-text-box datetimepicker1" placeholder="End Date" id="warranty1o' + i + '" style="width:100px" type = "text"></td><td><input' + ' style="width:150px" class="form-text-box" readonly id="tagNo' + i + '" type = "text"></td>';
                    row = row + '<td class="hide"><input' + ' class="single form-control input-sm warrClass" id="componentdata' + i + '" type = "hidden"></td>';
                     row = row + '<td class="hide"><input class="single form-text-box warrClass lineText" id="id'+i+'" type = "hidden" value="0"></td>';


                    row = row + '<td class = "">' + '<input onclick="getsubline('+i+',1)" class="btn btn-danger"type="button"data-toggle="modal"' + ' value="VIEW"data-target="#addModal"' + 'style="background-color:#f05f40;color:white;" id="' + i + '"' + ' onclick="saveId(' + i + ')">' + '</td></tr>';
                  
                    $('#bodyi').append(row);
                }


                jQuery('.datetimepicker1').datetimepicker({
                    timepicker: false,
                    format: 'd/m/Y'
                });


                $('#table1').removeClass('hide');
                arr[i] = {
                    specification: null,
                    brand: null,
                    serial: null,
                    warranty: null,
                    component: {},
                    saved: false
                };

            }


        });
    }
  }

  function sleepFunctionForStoppingTime(miliseconds) {
   var currentTime = new Date().getTime();

   while (currentTime + miliseconds >= new Date().getTime()) {
   }
}

    function getlineValue(id){
   $.ajax({
        url:'/getlineid',
        method:'post',
        async:true,
        data:{
            'id':id
             },
                dataType:'json',
                success:function(result){

                 var lineid=[];
                 lineid=result[0][0].ids.split(',');
               
               for(var i=0;i<lineid.length;i++){
              
                (function(i){

                      window.setTimeout(function(){ 
                                       
                        getattrline(lineid[i],i);
                        }, i * 500);

                   }(i));
             }
          }

});
}


 function getidfordescription(id){
 $('#addcompobody1').html(' ');
   $.ajax({
        url:'/getlineid',
        method:'post',
        async:true,
        data:{
            'id':id
             },
                dataType:'json',
                success:function(result){
                 var lineid=[];
                 lineid=result[0][0].ids.split(',');
               for(var i=0;i<lineid.length;i++){
              getcomponentfordescription(lineid[i]);
             }
                                      }

});
}

function showInfoforDescription(id,flag){
  $('#trdiv').addClass('hide');
  if(flag){ 
  $("#head10").html(" "); 
  $("#head10").append("View Hardware");                                                            
  $(".labelans").removeClass("hide");
  $(".view-edit-hardware .astrick").addClass("hide");
  $(".textBox").addClass("hide");
  $(".view-edit-hardware").removeClass("fusion-form-elements");
  $(".chnBtn").val("View");
  $("#head4").html("View Hardware");
  $(".hdwrbtn").addClass("hide");

  $(".lineText").attr('disabled',true); 
  $(".lineText").attr('disabled','disabled');
  document.getElementsByClassName("lineText").disabled = true;
}
else{                                                                
  $(".labelans").addClass("hide");
  $(".view-edit-hardware .astrick").removeClass("hide");
  $(".textBox").removeClass("hide");
  $(".view-edit-hardware").addClass("fusion-form-elements");
  $(".chnBtn").val("Edit")
  $("#head4").html("Edit Hardware");
  $(".hdwrbtn").removeClass("hide");

  $(".lineText").attr('disabled',false); 
  $(".lineText").removeAttr("disabled");
  document.getElementsByClassName("lineText").disabled = false; 
}

  $("#hdnId").val('');
  $.ajax({ 
    url: '/getEditHardware',
    method:'POST',
    data: {'id':id},
    success: function(data) { 
      $("#type").val(data[0][0].ACID);
      $("#type1").val(data[0][0].componentName);
      $("#qty").val(data[0][0].quantity);
      $("#vendor").val(data[0][0].vendor);
      $("#invoiceAmt").val(data[0][0].invoiceAmt);
      $("#order").val(data[0][0].purchaseOrder);
      $("#Invoicedate").val(data[0][0].invoiceDate);
      $("#invoiceNo").val(data[0][0].invoiceNo);
      $("#Deliverydate").val(data[0][0].deliveryDate);
      $("#hdnId").val(data[0][0].id);

    
      $("#ltype").html(data[0][0].componentName);
      $("#lqty").html(data[0][0].quantity);
      $("#lvendor").html($("#vendor option:selected").text());
      $("#linvoiceAmt").html(data[0][0].invoiceAmt);
      $("#lorder").html(data[0][0].purchaseOrder);
      $("#lInvoicedate").html(data[0][0].invoiceDate);
      $("#linvoiceNo").html(data[0][0].invoiceNo);
      $("#lDeliverydate").html(data[0][0].deliveryDate);

      getlinedtatafordescription();
      getlineValuefordesc(id);
    }
  });
}

  function getlineValuefordesc(id){
   $.ajax({
        url:'/getlineid',
        method:'post',
        async:true,
        data:{
            'id':id
             },
                dataType:'json',
                success:function(result){

                 var lineid=[];
                 lineid=result[0][0].ids.split(',');
               
               for(var i=0;i<lineid.length;i++){
               
                (function(i){

                      window.setTimeout(function(){ 
                                       
                        getattrlinefordescription(lineid[i],i);
                        }, i * 500);

                   }(i));
             }
          }

});
}


 function getattrlinefordescription(id,nu)
  {

   $.ajax({
        url:'/getlinevalue',
        method:'post',
        async:true,
        data:{
            'id':id
             },
                dataType:'json',
                success:function(result)
                {
                  $('#id'.concat(nu)).val(id);
                  $('#serial'.concat(nu)).val(result[0][0].serialNo);
                  $('#brand'.concat(nu)).val(result[0][0].id);
                  $('#warranty'.concat(nu)).val(result[0][0].warrantyStart);
                   $('#warranty1o'.concat(nu)).val(result[0][0].warrantyEnd);
                    $('#tagNo'.concat(nu)).val(result[0][0].tagNo);
                  for(var j=0;j<result[2].length;j++)
                  {
                      $('#'.concat(nu).concat(j)).val(result[2][j].id);
                  
                  }
               }

         });
  }
function getsublineview(value){
  getsubline(value);
}

  function getattrline(id,nu)
  {

   $.ajax({
        url:'/getlinevalue',
        method:'post',
        async:true,
        data:{
            'id':id
             },
                dataType:'json',
                success:function(result)
                {
                  $('#id'.concat(nu)).val(id);
                  $('#serial'.concat(nu)).val(result[0][0].serialNo);
                  $('#brand'.concat(nu)).val(result[0][0].id);
                  $('#warranty'.concat(nu)).val(result[0][0].warrantyStart);
                   $('#warranty1o'.concat(nu)).val(result[0][0].warrantyEnd);
                  for(var j=0;j<result[2].length;j++)
                  {
                      $('#'.concat(nu).concat(j)).val(result[2][j].id);
                  
                  }
               }

         });
  }

function fordescription(ks){
  if(ks==1){
 $('#trdiv').addClass('hide');
 $('#submitid').addClass('hide');
}
else{
  $('#trdiv').removeClass('hide');
 $('#submitid').removeClass('hide');
}
}

 function getsubline(k,kt)
 {
 
  addCompModal(k);
  
 var str1='';
  var id=$('#id'.concat(k)).val();
  if(kt==1){
  $('#head1').html(' ');
  $('#head1').append('View SubComponent');
  }
  else{
  $('#head1').html(' ');
  $('#head1').append('Edit SubComponent');}
 fordescription(kt)
   $.ajax({
        url:'/getsublinevalue',
        method:'post',
        async:true,
        data:{
            'id':id
             },
                dataType:'json',
                success:function(result)
                { saveId(k);
                 for(var i=0; i<result[0].length;i++)
                   { 
                    var l=i+1;
                    (function(i){

                      window.setTimeout(function(){ 
                      $('#compo').val(result[0][i].ACID);
                       $('.addcompdata').click();                     
                        getsublinevalue(k,l);
                        }, i * 500);

                   }(i));
                    
                   }
                   setTimeout(function(){ 
                   getsublinevalue(k,l);  }, 3000);
                   $('#componentdata'.concat(k)).val(str1);
                    
                    
                }

          });
      
}


function getsublinevalue(k,l)
 {
 var str1='';
  var id=$('#id'.concat(k)).val();

   $.ajax({
        url:'/getsublinevalue',
        method:'post',
        async:true,
        data:{
            'id':id
             },
                dataType:'json',
                success:function(result)
                {
                 for(var i=0; i<result[0].length;i++)
                   { 

                  var zid=i+1;
                 
                      $('#brands'.concat(zid)).val(result[0][i].brand);
                      $('#warrantyco1'.concat(zid)).val(result[0][i].warrantyStart);
                      $('#warrantyco2'.concat(zid)).val(result[0][i].warrantyEnd);
                      $('#sublineid'.concat(zid)).val(result[0][i].id);
                       for(var j=1;j<result.length;j++)
                      {
                       for(var k=0;k<result[j].length;k++){
                        
                      $('#0'.concat(k).concat(j)).val(result[j][k].id);
                    
                    }
                  
                  }
                   }
                  
                }

          });
}


 function getcomponentfordescription(id)
 {
 
 
   $.ajax({
        url:'/getcomponentfordescription',
        method:'post',
        async:true,
        data:{
            'id':id
             },
                dataType:'json',
                success:function(result)
                {  
                   var di='';
                    var  atter='';
                     var value='';
                   for(var j=0;j<result[2].length;j++){
                    
                    atter=atter+result[2][j].attribute+',';
                    value=value+result[3][j].value+',';
                    }
                   di=di+'<tr><td>'+result[0][0].componentName+'</td><td>'+result[0][0].serialNo+'</td><td>'+result[0][0].name+'</td><td>'+result[0][0].warranty+'</td><td>'+atter+'</td><td>'+value+'</td></tr>';
                   $('#addcompobody1').append(di);   
                }

          });
}


function validatehardvare(){
   var from = $('#Invoicedate').val().split("/");
   var f = new Date(from[2], from[1] - 1, from[0]);
   var to = $('#Deliverydate').val().split("/");
   var t = new Date(to[2], to[1] - 1, to[0]);
  if($('#vendor').val()<1||$.trim($("#vendor").val()) =="") 
  {
    alert("Vendor is Missing!");    
    return false;
  }

  else if($('#invoiceNo').val()<1||$.trim($("#invoiceNo").val()) =="") 
  {
    alert("Invoice No Missing!");    
    return false;
  }

  else if($('#Invoicedate').val()<1||$.trim($("#Invoicedate").val()) =="") 
  {
    alert("Invoice date Missing!");    
    return false;
  }

  else if($('#invoiceAmt').val()<1||$.trim($("#invoiceAmt").val()) =="") 
  {
    alert("Invoice Amount Missing!");    
    return false;
  }
  else if($('#invoiceAmt').val()<0){
    alert("Invoice Amount not valid!");    
    return false; 
  }
  else if($('#order').val()<1||$.trim($("#order").val()) =="") 
  {
    alert("Placed order Missing!");    
    return false;
  }
  
  else if($('#Deliverydate').val()<1||$.trim($("#Deliverydate").val()) =="") 
  {
    alert("Delivery date Missing!");    
    return false;
  }
  else if(new Date(t)<new Date(f)){
    alert("Delivery date cannot be less then invoice date!");
     return false;
  }
  else
     
    for(var i=0;i<document.getElementById('qty').value;i++){
       for(var j=0;j<attlength;j++){
        if($(('#'.concat(i)).concat(j)).val() == 0){
          alert('Please Fill required field');
          $(('#'.concat(i)).concat(j)).click();
          return false;
        }
     
    }
     var warranty1 = $('#warranty'.concat(i)).val().split("/");
     var warrantydate1 = new Date(warranty1[2], warranty1[1] - 1, warranty1[0]);
     var warranty2 = $('#warranty1o'.concat(i)).val().split("/");
     var warrantydate2 = new Date(warranty2[2], warranty2[1] - 1, warranty2[0]);
    if($('#serial'.concat(i)).val()==''){
      alert('Serial Number Missing!');
      return false;
    }
    else if($('#warranty'.concat(i)).val()==''){
      j=i+1;
      alert("Warranty Start Date Missing at row "+j+"!");
      return false;
    }

     else if($('#warranty1o'.concat(i)).val()==''){
      j=i+1;
      alert("Warranty End Date Missing at row "+j+"!");
      return false;
    }

     else if($('#brand'.concat(i)).val()==0){
      j=i+1;
      alert("Brand Missing at row "+j+"!");
      return false;
    }
    else if(new Date(warrantydate1)<new Date(t)){
     j=i+1;
      alert("Warranty date at row "+j+" cannot be less then Delivery date!");
      return false;
    }
     else if(new Date(warrantydate2)<new Date(warrantydate1)){
      j=i+1;
      alert("Warranty Start date at row "+j+" cannot be less then warranty end date!");
      return false;
    }
    var abc=0;
    for(var j=0;j<document.getElementById('qty').value;j++){
      if(i != j){
        if($('#serial'.concat(i)).val() == $('#serial'.concat(j)).val()){ abc++; }
      }
    }

    if(abc!=0){
      alert('Serial number of two components cannot be same.');
      return false;
    }

    else if(i==((document.getElementById('qty').value)-1)){
     parsealldata(); 
    }
  }
  
}


  function validatesubcomponent(){
     var to = $('#Deliverydate').val().split("/");
   var t = new Date(to[2], to[1] - 1, to[0]);
   
         for(var  i=1;i<=kid;i++){
           var war1 = $('#warrantyco1'.concat(i)).val().split("/");
   var warranty1 = new Date(war1[2], war1[1] - 1, war1[0]);
    var war2 = $('#warrantyco2'.concat(i)).val().split("/");
   var warranty2 = new Date(war2[2], war2[1] - 1, war2[0]);
  if($('#rowlineid'.concat(i)).val()==0){
    if($('#brands'.concat(i)).val()==0){
        alert('please select Brand');
        return false;
       }
      else if($('#warrantyco1'.concat(i)).val()==0){
             alert('please select Warranty start date');
             return false;
        }
        else if(warranty1<t){
             alert("Warranty  Start Date cannot be less then Delivery date!");
             return false;
        }

         else if($('#warrantyco2'.concat(i)).val()==0){
                alert('please select warranty end date');
                return false;
           }

            else if(warranty1>warranty2){
             alert("Warranty  End Date cannot be less then Warranty  Start Date !");
             return false;
               }

            else {
                   var stratt='';
                   var len1=$('#col'.concat(i)).val();
                   if(len1==0){
                    saveComp();
                   }
                   for(var j=0;j<len1;j++){
                   if($(('#0'.concat(j)).concat(i)).val()==0){
                    alert('please select attribute value');
                    return false;
                  }
                  else{
                    if(i==kid){
                    saveComp();
                  }
                  }
     }
    } 
} 
}
}


function saveComp(){
     tempArr='';
     var str='';
   
  for(var  i=1;i<=kid;i++){
    if($('#rowlineid'.concat(i)).val()==0){
    var stratt='';
    var len1=$('#col'.concat(i)).val();
    for(var j=0;j<len1;j++){
     stratt=stratt+$(('#0'.concat(j)).concat(i)).val();
    }
  
   str= str+$('#serial12'.concat(i)).val()+'#'+$('#brands'.concat(i)).val()+'#'+$('#warrantyco1'.concat(i)).val()+'#'+$('#warrantyco2'.concat(i)).val()+'#'+stratt+'#'+$('#attrid'.concat(i)).val()+'#'+$('#sublineid'.concat(i)).val();
   tempArr=tempArr+str;
   str='?'; 
   } 
   }
  
   $('#componentdata'.concat($('#serids').val())).val(tempArr);
   $("#cut").click();

  }


       function parsealldata(){
    var q=$('#qty').val();
    var str2='';
    var str1='';
    dataArray=[];
   
    for(var i=0;i<q;i++){
      for(var j=0;j<allAttIds1.length;j++){
   str2=str2+$('#'.concat(i).concat(j)).val()+',';}
   str1=str2+'$';
   str2='';
   dataArray[i]=str1;
   
    }
  
    addHardware(dataArray);
  }


  function addtag(ides){
var  tagNo='PSSL'+ides;
   $.ajax({
        url:'/updateTag',
        method:'post',
        async:true,
        data:{
            'tagNo' : tagNo,
             'ides':ides
             },
                dataType:'json',
                success:function(result){
                 
             alert('data add successfully ');
            $('#editHardware').modal('hide');
                                      }

});
}

  function addlinedata(t1,t2,t3,t6,t7,headid,ctypeid,arr1,t8,ide){
   var arr3=[];
   arr3=arr1.split('?');
    var arr2=[];

   $.ajax({
        url:'/addline',
        method:'post',
        data:{
            't1' : t1,
            't2': t2,
            't3' : t3,
             't6' : t6,
             't7' : t7,
             'hdId' : headid,
             'ctype':ctypeid,
             'ides' :ide,
             't8' : t8

             },
                dataType:'json',
                success:function(result){
                    for(var i=0;i<arr3.length;i++){
                       var   increment= arr3.length-1;
                       var  inc=i;
                      arr2=arr3[i].split('#');
                      if(arr2[0]!=''){

               addsubline(arr2[0],arr2[1],arr2[2],arr2[3],arr2[4],arr2[5],arr2[6],headid,ctypeid,result,increment,inc);
                   }
                   else{
                    fact++;
                    if(fact==($('#qty').val())){
                    alert('Hardware update successfully.');    window.location.href='/viewHardware';}
                   }
                     }
                   }
             
             

});
}
var tlid=0;
 var t=0;
function addsubline(st1,st2,st3,st4,st5,st6,ides,headerid,ctypeid,lineid,incr,inc1){
   $.ajax({
        url:'/subaddline',
        method:'post',
        data:{
            'st1' : st1,
            'st2': st2,
            'st3' :st3,
            'st4' : st4,
            'st5'  : st5,
            'st6':st6,
             'hdId' : headerid,
             'ctype':ctypeid,
             'lineid':lineid,
             'ides':ides
             },
                dataType:'json',
                success:function(result){
                  
                  if((fact==$('#qty').val())&&(incr==inc1)){
                   t++;
                if(t==fact){
               alert('Update data successfully');
               window.location.href='/viewHardware';
                  }
                }
                
                   if(fact==0){
                  
                    tlid++;
                     if(tlid==kid){
               alert('Update data successfully');
               window.location.href='/viewHardware';
             }
                  }
                  
                
             
              }

});
}
function addHardware(newOuterArr){
 var array=[];
 var newarray=[];
 var compdata=[];
 var linedata=[];
 var sublinedata=[];
  var len=$('#qty').val();

   $.ajax({
        url:'/addHardware',
        method:'post',
       
        data:{
            'attr':newOuterArr,
            'type' : $('#type').val(),
        'invoiceNo': $('#invoiceNo').val(),
  'purchasedOrder' : $('#order').val(),
        'Quantity' : $('#qty').val(),
    'invoiceDate'  : $('#Invoicedate').val(),
    'deliveryDate' : $('#Deliverydate').val(),
    'vendor'       : $('#vendor').val(),
    'invoiceAmt'   : $('#invoiceAmt').val(),
          'ides'   : $("#hdnId").val()
             },
                dataType:'json',
                success:function(result){
                 for(var i=0;i<len;i++){
                
                array=newOuterArr[i].split("$");
                 var attid= allAttIds1.toString();
          addlinedata($('#serial'.concat(i)).val(),attid,array[0],$('#brand'.concat(i)).val(),$('#warranty'.concat(i)).val(),result,$('#type').val(),$('#componentdata'.concat(i)).val(),$('#warranty1o'.concat(i)).val(),$('#id'.concat(i)).val());        
     }
  }

});
}

</script>