<html>
<head>
   <% include ../partials/head %>
</head>
    <style type="text/css">
  
   
.modal
{
    overflow: hidden;
}
.modal-dialog{
    margin-right: 0;
    margin-left: 0;
}
.modal-backdrop {
   
    background-color: white;
}
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin-left: 62%;
    width: 100%;
    margin-top: 28%;
}
    </style>

<div>
        <% include ../partials/adminheader %>
        <% include headerDoc.ejs %>
</div>

<body >    
 

    <div class="secondry-color">
           <!--  <div class="col-sm-1">
            </div> -->
            <div class=" " style="padding:1%;padding-top:1%">
            <span class="modal-title" style="  padding-left:37%"> Files Pending for Approval </span>
                    <table id="data_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead style= "background-color: #808080">
                                <th>File Name</th>
                                <th>File Title</th>
                                <th>Author</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Permission</th>
                         </thead>
                        <tbody id="orderbody">
                            <%for(var i=files[0].length-1;i>=0;i--) {%>
                                <tr class="" id = 'row_<%=files[0][i].id%>'>
                                    <td><a download href="./attach/<%=files[0][i].fpath%>"> <%=files[0][i].name%></a></td>
                                    <td><%=files[0][i].title%></td><td><%=files[0][i].author%></td><td><%=files[0][i].uploadDate%>
                                    </td><td><%=files[0][i].description%></td>
                                    <td><a><span class="glyphicon glyphicon-ok" style="color:green" title="Approve"onclick="assingid(<%=files[0][i].id%>,1)"></span></a><a><span title="Reject" class="glyphicon glyphicon-remove" style="color:red;padding-left:10px" onclick="assingid(<%=files[0][i].id%>,2)" ></span></a>
                                    </td>

                                </tr>
                            <%}%>
                        </tbody>
                    </table>
               </div>
        </div>
        
</body>
     <div class="modal fade" id="tag" style="height:auto">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="express2">
                <div class="modal-header" style="background-color:#f05f40;">
                    <center>
                        <h4 id="head4" class="modal-title" style="color: white;font-size:14pt;margin-top:-5px;"><b>Please provide a reason !</b> 
                    <span  class='glyphicon glyphicon-remove ' onclick="fun()" style='color:#06394A;height:20px;float:right'title ='Close' > 
                    </h4>
                    </center>
                </div>
                <h4 style="margin-left:17px" id="tagstatus"></h4>
                <div class="modal-body" style="height:30%; text-align:center ;margin-top:-10px;padding-top:0px;padding-right:17px;padding-left:17px">
                    <textarea id="abcd"style="height:75% ;"maxlength="1000"class="form-control" rows="5"placeholder="@Reason ,  word limit :200"></textarea>
                    <input type="hidden" id="hid" name="abcd1" value=" " class="form-control" </input>
                    <input type="submit" onclick=" deleteRow()" style="width:15% ;    margin-top: 2%;" class="btn btn-primary active"></input>
                </div>
            </div>
        </div>
    </div>
<script>
    var rowid;
    var temp_id ;
    var temp_id1 ; 

    function deleteRow() {
        
            var row_temp1=rowid.split("_");
            var row_temp11=row_temp1[1];
           if($('#abcd').val().trim()=="")
                alert("please provide some input !");
            else
            $.ajax({
                    url: '/rejectFileById',
                    type: 'post',
                    data: {
                        "status": row_temp11,
                        "status1": $('#abcd').val()
                    },
                    success: function(data) {
                        console.log("sucessssss");
                        $('#tag').modal('hide');
                        otable.fnDeleteRow(rowid);
                        $("#abcd").val('');
                    }
            });
    }
    function fun()
    {
      /*$("#hid").val(id);*/
      $('#abcd').val('');
       $('#tag1').modal('hide');
            $('#tag').modal('hide');
    }

    function assingid(id,b){
            rowid = '#row_'+ id;
            if(b==2)
            {    
                    $('#tag').modal('show');
                     $('.modal-backdrop.fade').css({
            'background-color':'rgba(0,0,0,0)'       
         });
           $("#tag").draggable({
                handle: ".modal-header"
            });
       
                    $("#hid").val(id);
            }
            else if(confirm("   Do you want to approve this Document  ?")==true)
            {    
                    $.ajax({
                            url: '/confirmedFilePermission',
                            type: 'post',
                            data: {
                                    "status":id
                                  },
                            success: function(data) {
                                    console.log("sucessssss",rowid );
                                    console.log("fsgsg");
                                    otable.fnDeleteRow(rowid);
                                                                

                            }
                    });
            }
    }
  
     var otable;
     $(document).ready(function(){
         $('#searchbox_demo').hide();
        var files=<%-JSON.stringify(files)%>;
        console.log('files name',files);
         $('#docTab2').addClass('active');
         $('#docTabName2').addClass('active');              

         otable = $("#data_table").dataTable({
            "aLengthMenu": [[10,20,50,100,-1],["10", "20","50","100","all"]],
            "bDestroy": true,
            "iDisplayLength": 10,            "showNEntries": true, 
            "bFilter": true,        
            "bLengthChange": true,"aoColumnDefs": [{  }],
            "order": []         
            
         });
     });
    </script>
<footer>
        <% include ../partials/footer %>
    </footer>


</html>

