<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
        <title>Polestar Timesheet</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <style>
         .text-hover:hover{
            background-color: #ffb3b3;
        } 
         
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0; 
            }
                       input[type=number] {
    -moz-appearance:textfield;
}
            
            #hr {
                margin-top: -0.5%;
            }
             .scrollit{
              overflow:scroll; 
              height:auto; 
              width:977px;
            }
            .marginR10 {
                margin-right: 10px;
            }
        </style>
        <script>

               var ApprovedBtn='<input id="Approved" type="button" class="btn btn-primary marginR10" value="Approve" onClick="return ApporReject(3)" style="margin-top: 0;">';

                var RejectedBtn='<input id="Rejected" type="button"  class="btn btn-primary marginR10" value="Reject" data-toggle="modal" data-target="#tag" style="margin-top: 0;">';

            var new1;
            var t = '';
            var no_of_asgmnt = 0;
            var curr_wbsnm = [];
            var curr_asgnmnt_id = [];
            var curr_wbs_id = [];
            
            var my_manager='<%=timeinfo[5][0].managerId%>';
           var my_manager_isRetailer='<%=isRetailer%>';
            var workschedule='<%=timeinfo[8][0].workinghours%>';
            var user_login='<%=userid%>';

             if('<%=timeinfo[8][0].timesheetSpan%>'==0)
            {var ftdy =0;
            var weekdy = 1;
            var monthly=0;
             }
            else
            if('<%=timeinfo[8][0].timesheetSpan%>'==1)
            {
            var ftdy =1;
            var weekdy = 0;
            var monthly=0;
            }
            else
            {
            var ftdy =0;
            var weekdy = 0;
            var monthly=1;
            }

            var st1, ed1;
            var initial = 0;
            var for_status = ["Draft", "Active", " Pending for Approval", "Approved", "Rejected"];
            var weekdays = ["Sun", "Mon", "Tue", "Wed", "Thur", "Fri", "Sat"];
            var temp; 
            var userId;
            var curntdte_for_UsrUndrSuprvsr;
            var user_for_approved_id = <%=id%>;
            var alldays = ["Day1", "Day2", "Day3", "Day4", "Day5", "Day6", "Day7", "Day8", "Day9", "Day10", "Day11", "Day12", "Day13", "Day14", "Day15", "Day16", "Day17", "Day18", "Day19", "Day20", "Day21", "Day22", "Day23", "Day24", "Day25", "Day26", "Day27", "Day28", "Day29", "Day30", "Day31", "total"];

            var flag = 0;
            var dy = "";
            var year = "";
            var mon = "";
            var a, b, c;
            var curr = '';
            var sdate;
            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];


            $(document).ready(function() {

                

                $('.modulemenu').removeClass('active');
                $('.portal-menu').addClass('hide');
                $('.timesheet-tab').addClass("active");

               $(".ui-datepicker-trigger img").css("width", "25px");
               var retDate=new Date('<%=timeinfo[10][0].createdDate%>');
                $('#submitdate').datepicker({
                    minDate:retDate,
                    onSelect: function(dateText, inst) {
                          $(".fadeLeftIcon").addClass("hide");
       $(".leftIcon").removeClass("hide");
                        adjustdays();
                    }
                });

                $('#StartDate').on('click', function() {
                    document.getElementById("submitdate").disabled=false;
                    $('#submitdate').focus();
                    document.getElementById("submitdate").disabled=true;
                });
              
              
                 var ff = '<%=check_date%>';
                 var strff = ff;
                 var resff = strff.split("-");
                
                    
                 curr = new Date(resff[0],resff[1]-1,resff[2]);
                
                var s = curr.toString();
                a = curr.getDate();
                b = curr.getMonth();
                c = curr.getFullYear();
                var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

                abc(c, b + 1, a);
                 

                function adjustdays() {
                    var d = $('#submitdate').val().toString();
                    year = d[6] + d[7] + d[8] + d[9];
                    dy = d[3] + d[4];
                    mon = d[0] + d[1];
                    abc(year, mon, dy);
                }

            });


            userId = <%=timeinfo[7][0].usid%>;
            var retailerId = <%=retailerId%>;
        
            function checkUserTimesheet(userId, tdate) {
           
                $.ajax({
                    url: 'checkUserTimesheet',
                    type: 'post',
                    data: {
                        "userId": userId,
                        "tdate": tdate
                    },
                    success: function(data) {


                        for (var i = 0; i < curr_wbsnm.length + 3; i++) { 
                            for (var l = 0; l < data.length; l++) {
var z=0;
                         for (var j = 0; j <= temp+1 ; j++) {

                                        if(i == curr_wbsnm.length + 1)
                                        {
                                             $('#id' + j+'_'+ i).val(0);
                                            var w1='';
                                                    try{
                                                 w1=new Date(data[3][z].date);

                                                  }
                                                  catch(e)
                                                  {

                                                      w1='';
                                                  }

                                                  var w2=new Date($('#t_h' + j).val());

var day1=new Date(w1);
var day2= new Date(w2);
                                            if(day1.getDate()==day2.getDate()){
                                                 
                                        $('#id' + j+'_'+ i).val(data[3][z].Thumbhours);
                                         z++; 
                                    }
                                    else
                                       $('#id' + j+'_'+ i).val(0);

}
                                 if(j==temp+1 && i == curr_wbsnm.length + 1){
                                     try{
 $('#id' + j+'_'+ i).val(data[4][0].totalThumbhours ||0);

                                  }
                                  catch(e)
                                  {
 $('#id' + j+'_'+ i).val(0);
                                  }
                                 }

                                   
                                }
                            }
                        }
                        for (var i = 0; i < curr_wbsnm.length + 3; i++) { 
                            for (var l = 0; l < data[0].length; l++) {

                                if (data[0][l].timeAssignmentId == $('#id_asmt' + i).val()) {
                                   
                                    for (var j = 0; j <= temp + 1; j++) {

                                        var days = alldays[j];

                                        if (data[0][l][days] != 0) {
                                            $('#id' + j+'_'+ i).val(data[0][l][days]);
                                        } else {
                                            $('#id' + j+'_'+ i).val();
                                        }
                                        if (j == temp + 1)
                                            $('#id' + j+'_'+ i).val(data[0][l].total);
                                    }

                                }
                            }
                        }
                        document.getElementById('UsName').innerHTML = data[2][0].firstName;
                    
                        $('#myrep_dropuserdata').val(data[2][0].id);

                        $('#myrep_dropuserdata').trigger("chosen:updated");
                       
                        if (data[1].length == 0) { 
                            document.getElementById('timestatus').innerHTML = "Draft";
                        } else {
                            document.getElementById('timestatus').innerHTML = for_status[data[1][0].status];
                        }
                        if (data[1].length == 0 || data[1][0].status == 0) {
                             
      
                        }
                        if ((data[1][0].status == 3) && (<%=roleid%> == 1)) {
                           
                                   $('#ApproveDiv').html('');
                        
                        $('#ApproveDiv').append(RejectedBtn);
                        }

                        if (data[1][0].status == 3 && (<%=roleid%> != 1)) {
                            
                                   $('#ApproveDiv').html('');
                      
                        }


                        if (data[1][0].status == 4) {
                                $('#ApproveDiv').html('');
                     
                        }
                        if (data[1][0].status == 1) {
                          
                                  $('#ApproveDiv').html('');
                       
                        }
                        if (data[1][0].status == 2) {
                      
                                  $('#ApproveDiv').html('');
                        $('#ApproveDiv').html(ApprovedBtn);
                        $('#ApproveDiv').append(RejectedBtn);
                        }


                    }

                });

            }


function parseDate(input) {
  var parts = input.match(/(\d+)/g);
  return new Date(parts[0], parts[1]-1, parts[2]);
}


            function abc(year1, mon1, dy1)

            {

                curr_wbsnm = [];
                curr_asgnmnt_id = [];
                no_of_asgmnt = 0;
                mon1 = parseInt(mon1);
                var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

                if (ftdy) {
                    var no_of_days;
                    if (dy1 < 15 || dy1 == 15) {
                        no_of_days = 15;
                        var stdate = monthNames[mon1 - 1] + " 1 " + year1;
                        var eddate = monthNames[mon1 - 1] + " 15 " + year1;
                        var mname = monthNames[mon1 - 1];
                        $('#startingdate').text(stdate);
                        $('#enddate').text(eddate);
                        eddate1 = " 15 " + "-" + monthNames[mon1 - 1] + "-" + year1;
                        eddate2 = parseDate(year1 + " " + mon1 + " " + 15);
                        $('#submitdate').val(eddate1);
                        var datefortimes = parseDate(year1 + " " + mon1 + " " + 15);
                        checkdate = datefortimes.getFullYear() + '-' + (datefortimes.getMonth() + 1) + '-' + datefortimes.getDate();


                        stdate = stdate.toString();
                        eddate = eddate.toString();
                        var a = stdate.length;
                        var b = eddate.length;
                        st1 = stdate[a - 7] + stdate[a - 6];
                        ed1 = eddate[b - 7] + eddate[b - 6];
                        temp = 14;

                        new1 = parseDate(year1 + " " + mon1 + " " + 1);
                        EligibleAssignment(new1, datefortimes);

                        Drawtimesheet(year1, mon1, dy1);
                        $('#bdy').html(t);
                        $('#am').html(t1);
                        checkUserTimesheet(userId, checkdate);
                        getUserUnderSupervisor();
                        disableHoliday();
                       
                    } else {
                        var stdate = monthNames[mon1 - 1] + " 16 " + year1;
                        var eddate = monthNames[mon1 - 1] + " " + new Date(year1, mon1, 0).getDate() + " " +
                            year1;
                        stdate = stdate.toString();
                        eddate = eddate.toString();
                        var a = stdate.length;
                        var b = eddate.length;
                        st1 = stdate[a - 7] + stdate[a - 6];
                        ed1 = eddate[b - 7] + eddate[b - 6];
                        temp = ed1 - st1;
                        new1 = parseDate(year1 + " " + mon1 + " " + 16);
                        if (temp == 15) {
                            eddate1 = "31" + "-" + monthNames[mon1 - 1] + "-" + year1;
                            eddate2 = parseDate(year1 + " " + mon1 + " " + 31);
                            var datefortimes = parseDate(year1 + " " + mon1 + " " + 31);
                            checkdate = datefortimes.getFullYear() + '-' + (datefortimes.getMonth() + 1) + '-' +
                                datefortimes.getDate();
                      
                        } else

                        if (temp == 14) {
                            eddate1 = "30" + "-" + monthNames[mon1 - 1] + "-" + year1;
                            eddate2 = parseDate(year1 + " " + mon1 + " " + 30);
                            var datefortimes = parseDate(year1 + " " + mon1 + " " + 30);
                            checkdate = datefortimes.getFullYear() + '-' + (datefortimes.getMonth() + 1) + '-' +
                                datefortimes.getDate();
                          
                        } else

                        if (temp == 13) {
                            eddate1 = "29" + "-" + monthNames[mon1 - 1] + "-" + year1;
                            eddate2 = parseDate(year1 + " " + mon1 + " " + 29);
                            var datefortimes = parseDate(year1 + " " + mon1 + " " + 29);
                            checkdate = datefortimes.getFullYear() + '-' + (datefortimes.getMonth() + 1) + '-' +
                                datefortimes.getDate();
                        
                        } else

                        if (temp == 12) {
                            eddate1 = "28" + "-" + monthNames[mon1 - 1] + "-" + year1;
                            eddate2 = parseDate(year1 + " " + mon1 + " " + 28);
                            var datefortimes = parseDate(year1 + " " + mon1 + " " + 28);
                            checkdate = datefortimes.getFullYear() + '-' + (datefortimes.getMonth() + 1) + '-' +
                                datefortimes.getDate();
                            checkUserTimesheet(userId, checkdate);
                            var datefortimes = parseDate(year1 + " " + mon1 + " " + 28);
                           
                        }


                        EligibleAssignment(new1, datefortimes);

                        $('#submitdate').val(eddate1);
                        
                        getUserUnderSupervisor();
                        Drawtimesheet(year1, mon1, dy1);
                        $('#bdy').html(t);
                        $('#am').html(t1);
                
                        checkUserTimesheet(userId, checkdate);
                        disableHoliday();
                    }

                }
                if (weekdy) {
                    var wkdate = mon1 + "/" + dy1 + "/" + year1;
                    var wkdate = new Date(wkdate);

                    var first = wkdate.getDate() - wkdate.getDay(); 
                    var last = first + 6; 
                    var firstday = new Date(wkdate.setDate(first)).toUTCString();

                    var lastday = new Date(wkdate.setDate(wkdate.getDate() + 6)).toUTCString();
                    firstday = new Date(firstday);
                    firstday.setDate(firstday.getDate() + 1);
                    lastday = new Date(lastday);
                    lastday.setDate(lastday.getDate() + 1);
                    EligibleAssignment(firstday, lastday);
                    ed = lastday.getDate();
                    st1 = firstday;
                    ed1 = lastday;
                    eddate1 = ed + "-" + monthNames[lastday.getMonth()] + "-" + year1;
                    eddate2 = ed1;
                    $('#submitdate').val(eddate1);
                    checkdate = lastday.getFullYear() + '-' + (lastday.getMonth() + 1) + '-' +
                        lastday.getDate();
                    temp = 6;
                    getUserUnderSupervisor();
                    Drawtimesheet(year1, mon1, dy1);
                    $('#bdy').html(t);
                    $('#am').html(t1);
                    checkUserTimesheet(userId, checkdate);
                    disableHoliday();

                }


/*----------------------------------------logic for monthly timesheet  date adjust-------------------------*/


                if(monthly)
                {    
                      var mndate = mon1 + "/" + dy1 + "/" + year1;
                      var mndate = new Date(mndate);
                  
                      var firstDay = new Date(mndate.getFullYear(), mndate.getMonth(), 1);
                      var lastDay = new Date(mndate.getFullYear(), mndate.getMonth() + 1, 0);
                      EligibleAssignment(firstDay,lastDay);
                      ed = lastDay.getDate();
                      st1 = firstDay;
                      ed1 = lastDay;
                      eddate1 = ed + "-" + monthNames[firstDay.getMonth()] + "-" + year1;
                      eddate2 = ed1;
                      $('#submitdate').val(eddate1);
                      checkdate = lastDay.getFullYear() + '-' + (lastDay.getMonth() + 1) + '-' +
                        lastDay.getDate();
                      temp = lastDay.getDate()-1;
                      getUserUnderSupervisor();
                      Drawtimesheet(year1, mon1, dy1);
                       $('#scroll').addClass('scrollit');
                      $('#bdy').html(t);
                      $('#am').html(t1);

                      checkUserTimesheet(userId, checkdate);
                      disableHoliday();
                }


            }

            function EligibleAssignment(new1, datefortimes) {
                <% for(var i=0;i<timeinfo[2].length;i++)
                                    { %>

                var ty = new Date('<%=timeinfo[2][i].AssignmentDate%>');
                var tn = new Date('<%=timeinfo[2][i].deActivationDate%>');
              
                 if(ty<=tn){
                if ((new1 <= ty && ty <= datefortimes) || (new1 <= tn && tn <= datefortimes) || (datefortimes <= tn && ty <= new1)) {
                    
                    curr_wbsnm[no_of_asgmnt] = '<%=timeinfo[2][i].WBSName%>';
                    curr_asgnmnt_id[no_of_asgmnt] = '<%=timeinfo[2][i].id%>';
                    curr_wbs_id[no_of_asgmnt] = '<%=timeinfo[2][i].WBSID%>';
                    no_of_asgmnt++;
                }
                 }
                <%}%>
                for (var i = 0; i < no_of_asgmnt; i++) {
                }
            }

            function Drawtimesheet(year1, mon1, dy1) {
               
                t = '';
                t1= '';
                $('#bdy').html('');
                $('#am').html('');
                var a1 = '';
                var a2 = '';
                var a3 = '';
                var a = '';
                var b = '';
                for (var j = 0; j <= no_of_asgmnt + 2; j++) {

                    if (j == 0) {
                        a1 = a1 + '<tr style="color:#10104E;font-size: 13px;font-weight:700;"><td style="max-width:200px"><input type="text"  style="width:200px;height:49px; text-align: center;" value="Assignment" disabled></td>';
                        a3 = a3 + '<td><input type="text" style="width:60px; height:49px" value="Total" disabled></td></tr>';
                        if (ftdy) {
                            for (var k = st1; k <= ed1; k++) {
                                startdd = new Date(year1, mon1 - 1, k);
                                var current_date = startdd;
                                var weekday_value = current_date.getDay();
                                a2 = a2 + '<td><input type="hidden" ';
                                if (dy1 <= 15) {
                                    a2 = a2 + 'id=t_h' + (k - 1);
                                } else {
                                    a2 = a2 + 'id=t_h' + (k - 16);
                                }

                                a2 = a2 + ' value="' + startdd + '" ><input id="wkd' + (k - 1) + '" type="text" style="width:60px; height:49px; text-align:center;"; value=' + k + "-" + weekdays[weekday_value] + ' disabled></td>';

                               var dateString1='<%=timeinfo[10][0].createdDate%>';
                                dateString1=new Date(dateString1).toUTCString();
                                dateString1=dateString1.split(' ').slice(0, 4).join(' ');
                                dateString2=new Date(startdd).toUTCString();
                                dateString2=dateString2.split(' ').slice(0, 4).join(' ');
                                  
                                  if(dateString1==dateString2)
                                  {
                                    $(".fadeLeftIcon").removeClass("hide");
                                    $(".leftIcon").addClass("hide");
                                  }




                            }
                        }
                    if (weekdy || monthly) {

                            for (var p = 0; st1 <= ed1; p++) {

                                k = st1.getDate();

                                var weekday_value = st1.getDay();


                                a2 = a2 + '<td><input type="hidden" ';

                                a2 = a2 + 'id=t_h' + p;


                                a2 = a2 + ' value="' + st1 + '" ><input id="wkd' + p + '" type="text" style="width:60px; height:49px; text-align:center "; value=' + k + "-" + weekdays[weekday_value] + ' disabled></td>';

                                st1.setDate(st1.getDate() + 1);

                            }
                        }
                         a=a2+a3;
                         b='<tr>'+a1+'<tr>';
                    }

                    for (var i = 0; i <= temp + 1; i++) {                      
                        a = a + '';
                     
                        if (i == 0 && j < no_of_asgmnt ) {
                            b = b + '<td style="max-width:200px;"><input type="hidden" id="id_asmt' + j + '" value="' + curr_asgnmnt_id[j] + '" ><input  type="text"  style="width:200px; color: #000000;text-align: center;height:20px" value="' + curr_wbsnm[j] + '" disabled></input></td>';
                        }
                        if (i == 0 && j == no_of_asgmnt) {
                            b = b + '<td style="max-width:200px;font-weight:700;"><input type="hidden" id="id_asmt' + j + '" value="#" ><input  type="text"  style="width:200px; color: #000000;text-align: center;" value="Total Hours" disabled></input></td>';
                        }
                        if (i == 0 && j == no_of_asgmnt + 1) {
                            b = b + '<td style="max-width:200px;font-weight:700"><input  type="text"  style="width:200px; color: #000000;text-align: center;" value="Thumb Hours" disabled></input></td>'
                        }
                        if (i == 0 && j == no_of_asgmnt + 2) {
                            b = b + '<td style="max-width:200px;font-weight:700"><input  type="text"  style="width:200px; color: #000000;text-align: center;" value="Work Schedules" disabled></input></td>'
                        }
                        if (i < temp+1 && j == no_of_asgmnt + 2) {
                            a = a + '<td style="color:#560F03;font-weight:bolder"><input id="id' + i + '_' + j + '"  disabled value='+workschedule+'  type="text" style="width:60px; text-align:center;" </input></td>'
                        } else
                        if (i < temp+1 && j == no_of_asgmnt ) {
                            a = a + ' <td><input disabled id="id' + i + '_' + j + '" value="0" class="abc numeric clearAllfield" type="text" style="width:60px; text-align:center; " onkeypress="return isNumber(event)"></input> </td>'
                        }
                        else
                        if (i < temp+1 && j == no_of_asgmnt+1 ) {
                            a = a + ' <td><input disabled id="id' + i + '_' + j + '" value="" class="abc numeric clearAllfield" type="text" style="width:60px; text-align:center; " onkeypress="return isNumber(event)"></input> </td>'
                        } else
                        if (i == temp + 1) {
                            a = a + '<td><input id="id' + i + '_' + j + '" disabled  type="text" style="width:60px; text-align:center; " value="0" font-weight:700" ></input> </td> '
                        } else 
                       
                        {
                            a = a + '<td><input  id="id' + i + '_' + j + '" type="number"  class="abc text-hover numeric clearAllfield "  style="width:60px; text-align:center; " value="" onblur="sum(' + i + ',' + j + ')" onkeypress="return isNumber(event)"></input> </td> '
                        }

                    }
                    t = t + '<tr>' + a + '</tr>';
                    t1= t1+ '<tr  style="">' + b + '</tr>';
                    a = '';
                    b = '';

                }

            }

            <!--------------------------------- WORKING AREA  END----------------------------------- -->
        </script>
        <style>

        </style>
        <% include ../partials/adminheader %>



    <div class="secondry-color" style="padding-top: 0px !important">

        <div class="row sub-header" id="headerTime" style="min-height: 0px">

           
            <div class="col-lg-1 col-md-1 col-sm-1">
              <a href="/timesheet?flag=1"><span class="glyphicon glyphicon-arrow-left" style="    color: #f05f40;font-size: 25px;"></span></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <label>Status: </label>
              <span id="timestatus">Draft</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" align="center">
              <div style="text-align-last: center; height:29px;width:264px; background-color:white; border-radius: 25px;display: inline-block;">
                 <img type="button" id="prevdate" src="../img/bug/left.jpg" class="shadow glyphicon leftIcon" title="Previous" height="15px" title="" width="15px" onClick="getdateprev()" style="top: -1px;">

                 <img type="button" id="prevdate1" src="../img/bug/leftFade.png" class="  fadeLeftIcon hide" style=" " title="Previous" height="15px" title="" width="15px" >
                <input disabled type="text" id="submitdate" style="margin-top:3px;text-align: center;font-size:12px" value="">

                <img type="button" src="../img/bug/Right.jpg" class="shadow glyphicon" height="15px" title="Next" width="15px" onClick="getdateuser()" style="top: -1px;">



                <span id="StartDate" name="StartDate" class="glyphicon glyphicon-calendar" style="top:3px height=28px; margin-right:-5px;" width="22px" title=" Select Calender"></span>

              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" id="ApproveDiv"></div>


            
        </div>
        <div id="MainTime" class="container-fluid" style="padding-bottom:2%;padding-top:2%">
            <div class="row tab-content" style="margin-left:3%; width:94%">
              <div class="row" id="OtherEmp" style="margin-bottom: 20px;">
                <div class="col-lg-6-col-md-6 col-sm-8">
                  <div class="col-lg-6-col-md-6 col-sm-6">
                    <label class="col-lg-3-col-md-3 col-sm-3" style="margin-top:7px">Name : </label>
                    <div id="myrep_drop" class="col-lg-9-col-md-9 col-sm-9">                     

                      <select style="" class="form-text-box" id="dropuserdata" onchange="DropdownUsers()">
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6-col-md-6 col-sm-6">
                    <div id="drop" class="col-lg-9-col-md-9 col-sm-9"></div>
                  </div>
                </div>
              </div>
              <div><label id="UsName" class="hide"></label></div>
                  <div class="row" style=""> 
                    
                  <div class="col-md-2" >               
                     <table>
                      <tbody id="am"> 
                      </tbody>
                      </table>
                    </div>
                   <div class="col-md-10 ">
                            <table id="eday" class="" style=" margin-left: -6px;">
                                <tbody id="bdy0" >
                                  <tr>
                                          <td colspan="2">
                                           <div  id="scroll" > 
                                             <table>
                                              <tbody id="bdy">
                                              </tbody>
                                            </table>
                                          </div>
                                        </td>
                                 </tbody>
                            </table> 
                    </div>
                  </div> 
                    <div class="hide" style="margin-left: 86%;margin-top: 2%;">
                        <button type="button" id="resettimesheet" class="btn" onClick="ClearAll()"></button>
                        <button type="button" class="btn" id="savetimesheet" onClick="Totalsum()"></button>
                    </div>
                    <br>
                    <br>
                
            </div>
        </div>

 

        <div class="modal fade" id="tag" style="height:550px">
            <div class="modal-dialog">
              
                <div class="modal-content" id="express2">
                    <div class="modal-header" style="background-color:#f05f40;">
                        <center>
                            <h4 id="head4" class="modal-title" style="color:white;font-size:14pt;margin-top:-5px"><b>Please provide a reason for rejection!</b>  </h4>
                             </center>
                     <span   class='close closeedit' data-dismiss="modal" style='float:right;margin-top:-26px' title ='Close' > &times;  </span>
                   
                       
                    </div>
                    <h4 style="margin-left:17px" id="tagstatus"></h4>
                    <div class="modal-body" style="height:30%; text-align:center ;margin-top:-10px;padding-top:0px;padding-right:17px;padding-left:17px">
                        <textarea placeholder="Limit:500 words" id="RejectReason" maxlength=500; style="margin-top:3%;height:75%;resize:none" class="form-control" rows="5"></textarea>
                       
                        <input type="hidden" id="hid" name="abcd1" value=" " class="form-control" >
                        <input type="submit" onclick="ApporReject(4)" style="width:15% ;margin-top: 2%;" class="btn btn-primary active">
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    function getdateprev() {
        document.getElementById("savetimesheet").disabled = false;
        document.getElementById("resettimesheet").disabled = false;

        var tt = eddate2;
        var date = new Date(tt);
        var newdate = new Date(date);
        if (ftdy) {

            if (newdate.getDate() == 15)
                newdate.setDate(newdate.getDate() - 15);
            else
            if (newdate.getDate() == 31)
                newdate.setDate(newdate.getDate() - 16);
            else
            if (newdate.getDate() == 30)
                newdate.setDate(newdate.getDate() - 15);
            else
            if (newdate.getDate() == 29)
                newdate.setDate(newdate.getDate() - 14);
            else
            if (newdate.getDate() == 28)
                newdate.setDate(newdate.getDate() - 13);
        }
        if (weekdy) {
            newdate.setDate(newdate.getDate() - 8);
        }
 if (monthly) {
            newdate.setDate(newdate.getDate() - 32);
        }
        var dd = ("0" + newdate.getDate()).slice(-2);
        var mm = ("0" + (newdate.getMonth() + 1)).slice(-2);
        var y = newdate.getFullYear();
        eddate2 = parseDate(y + " " + mm + " " + dd);
        var someFormattedDate = dd + '-' + monthNames[mm - 1] + '-' + y;
        document.getElementById('submitdate').value = someFormattedDate.toString();
        var datefortimes = parseDate(y + " " + mm + " " + dd);
        checkdate = datefortimes.getFullYear() + '-' + (datefortimes.getMonth() + 1) + '-' + datefortimes.getDate();
        checkUserTimesheet(userId, checkdate);
        abc(y, mm, dd);
        getUserUnderSupervisor();
    }

    function getdateuser() {

          $(".fadeLeftIcon").addClass("hide");
       $(".leftIcon").removeClass("hide");

        document.getElementById("savetimesheet").disabled = false;
        document.getElementById("resettimesheet").disabled = false;

        var tt = eddate2;
        var date = new Date(tt);
        var newdate = new Date(date);
        a = newdate.getMonth();
        var y = newdate.getFullYear();
        var b = new Date(y, a + 1, 0).getDate();
        if (ftdy) {
            if (newdate.getDate() == 15) {
                if (a == 0 || a == 2 || a == 4 || a == 6 || a == 7 || a == 9 || a == 11)
                    newdate.setDate(newdate.getDate() + 16);
                else
                if (a == 3 || a == 5 || a == 8 || a == 10)
                    newdate.setDate(newdate.getDate() + 15);
                else
                if (a == 1 && b == 28) { 
                    newdate.setDate(newdate.getDate() + 13);
                } else
                if (a == 1 && b == 29)
                    newdate.setDate(newdate.getDate() + 14);
            } else { 
                newdate.setDate(newdate.getDate() + 15);
            }
        }
        if (weekdy) {
            newdate.setDate(newdate.getDate() + 6);
        }
      
         if (monthly) {
            newdate.setDate(newdate.getDate() + 1);
        }
        var dd = ("0" + newdate.getDate()).slice(-2);
        var mm = ("0" + (newdate.getMonth() + 1)).slice(-2);
        var y = newdate.getFullYear();
        eddate2 = y + " " + mm + " " + dd;
        var someFormattedDate = dd + '-' + monthNames[mm - 1] + '-' + y;
        document.getElementById('submitdate').value = someFormattedDate.toString();
        var datefortimes = new Date(eddate2);
        checkdate = datefortimes.getFullYear() + '-' + (datefortimes.getMonth() + 1) + '-' + datefortimes.getDate();
        checkUserTimesheet(userId, checkdate);
        abc(y, mm, dd);
        getUserUnderSupervisor();
    }

    function disableHoliday() {
        var k = curr_wbsnm.length + 2;
        for (var i = 0; i < temp + 1; i++) {
            var ddy = $('#t_h' + i).val();
            ddy = new Date(ddy);
            var weekday = ddy.getDay();
            var date_other_format = ddy.getFullYear() + '-' + (ddy.getMonth() + 1) + '-' + ddy.getDate();
            if ('<%=timeinfo[8][0].schedule%>' == '') {
                if (weekday == 6) {
                    satsun(i, k,ddy);
                } else disholi(i, k, date_other_format);
            } else
            if ('<%=timeinfo[8][0].schedule%>' == 4) {


                if (weekday == 0 || weekday == 6) {

                    satsun(i, k,ddy);

                } else
                    disholi(i, k, date_other_format);
            }
            if ('<%=timeinfo[8][0].schedule%>' == 1) {


                if (weekday == 6) {

                    satsun(i, k,ddy);

                } else
                    disholi(i, k, date_other_format);
            }
            if ('<%=timeinfo[8][0].schedule%>' == 2) {


                if (weekday == 0) {
                    satsun(i, k,ddy);

                } else
                    disholi(i, k, date_other_format);
            }
            if ('<%=timeinfo[8][0].schedule%>' == 3) {


                if (weekday == 0 || weekday == 6) {

                    satsun(i, k,ddy);

                } else
                    disholi(i, k, date_other_format);
            }


        }
        var s = 0;
        for (var i = 0; i < temp + 1; i++) {
            s = s + parseFloat($('#id' + i+'_'+ k).val());
        };
        $('#id' + i+'_'+ k).val(s);
    }

    function satsun(i, k,ddy) {
        for (var j = 0; j < curr_wbsnm.length; j++) {
          
            var abc = curr_wbsnm[j];
           
            if (abc=='Holiday' ||1==1) { 
                document.getElementById("id" + i+"_"+ k).value = 0;
                document.getElementById("id" + i+"_"+ curr_wbsnm.length).style.color = "rgb(10, 199, 80)";
                document.getElementById("id" + i+"_"+ (curr_wbsnm.length+1)).style.color = "rgb(10, 199, 80)";
           

                 if(ftdy==1){
               if(ddy.getDate()<=15){
                 document.getElementById("wkd" + i).style.color = "rgb(10, 199, 80)";
                 }
             else{
                  document.getElementById("wkd" + (i+15)).style.color = "rgb(10, 199, 80)";
                }
            }

            if(weekdy==1 || monthly==1){
                document.getElementById("wkd" + i).style.color = "rgb(10, 199, 80)";
            }


            }
            
        }
    }
    function disholi(i, k, date_other_format) {
        <% for (var k1 = 0; k1 < timeinfo[4].length; k1++) {%>
        var holidy = '';
        if ('<%=typeof(timeinfo[4][k1].holidaydate)%>');
        var holidy = new Date('<%=timeinfo[4][k1].holidaydate%>');
        var date_other_format_2 = holidy.getFullYear() + '-' + (holidy.getMonth() + 1) + '-' + holidy.getDate();
        if (date_other_format == date_other_format_2) {
            
            for (var j = 0; j < no_of_asgmnt; j++) {
                var abc = curr_wbsnm[j];
      
                if (abc=='Holiday') {
                    var p = k - 2;
                    document.getElementById("id" + i+"_"+ j).disabled = true;
                    document.getElementById("id" + i+"_"+ j).value = workschedule;
                    document.getElementById("id" + i+"_"+ (k - 2)).value = workschedule;
                    document.getElementById("id" + i+"_"+ k).value = workschedule;
                     $("#id" + i+"_"+ j).attr("title","<%=timeinfo[4][k1].holidayname%>");
                }
            }
        }
        <% }  %>
    }

    function ClearAll() {
        $(".clearAllfield").val('');
    }

    function showDiv() {


    }

    function DropdownUsers(flag) {
                 if(flag==0)
        {
         var dpusdata = $('#myrep_dropuserdata').val();
        }else
        {
         var dpusdata = $('#dropuserdata').val();
        }
        
         if(dpusdata==null){
           
            return false;
            }
        if (dpusdata!= 0){
             $.ajax({
                    url: '/otherTimeSheet_setPage',
                    type: 'post',
                    data: {
                        "id": dpusdata,
                        "time_date":checkdate
                        
                    },
                    success:function(data){
                          
                          window.location.href = "/otherTimeSheet";
                    }
                });
        }
         
    }


    function ApporReject(ARstatus) {
        if (ARstatus == 3) {
            $.ajax({
                url: 'ApprovedOrReject',
                type: 'post',
                data: {
                    "status": ARstatus,
                    "id": user_for_approved_id,
                    "ardate": checkdate,
                    "appOrRejBy":user_login,
                    "appOrRejReason": '',
                    "userEmail": '<%=timeinfo[9][0].userEmail%>',
                    "moduleType":'timesheet',
                    "editNotification":0,
                    'notificationForApproveReject':1
                },
                success: function(data) {
                    alert("TimeSheet have been Approved Successfuly");

                    document.getElementById('timestatus').innerHTML = for_status[data[0][0].status];
                    if ((data[0][0].status == 3) && (<%=roleid%> == 1)) {
                   
                              $('#ApproveDiv').html('');
                        $('#Approved').addClass('hide');
                        $('#ApproveDiv').html(RejectedBtn);
                    }

                    if (data[0][0].status == 3 && (<%=roleid%> != 1)) {
                              $('#ApproveDiv').html('');
                        $('#ApproveDiv').html(ApprovedBtn);
                        $('#ApproveDiv').html(RejectedBtn);
                       
                    }
                    if (data[0][0].status == 4) {
                        $('#ApproveDiv').html('');
                        $('#ApproveDiv').html(ApprovedBtn);
                        $('#ApproveDiv').append(RejectedBtn);
                       
                    }
                    getUserUnderSupervisor();
                    setTimeout(function(argument) {
                      $('#myrep_dropuserdata').val(user_for_approved_id);
                    $('#myrep_dropuserdata').trigger("chosen:updated");
                    },500)
                    
                }



            });

        }
        if (ARstatus == '4') {

            if ($('#RejectReason').val().trim().length <= 0 ) {
                alert("Please enter a reason");
                return false;
            }

            $('#tag').modal('toggle');
            $.ajax({
                url: 'ApprovedOrReject',
                type: 'post',
                data: {
                    "status": ARstatus,
                    "id": user_for_approved_id,
                    "ardate": checkdate,
                    "appOrRejBy": user_login,
                    "appOrRejReason": $('#RejectReason').val(),
                    "userEmail": '<%=timeinfo[9][0].userEmail%>',
                    "moduleType":'timesheet',
                    "editNotification":0,
                    'notificationForApproveReject':1
                },
                success: function(data) {
                    alert("TimeSheet has been Rejected");
                    document.getElementById('timestatus').innerHTML = for_status[data[0][0].status];
                    if (data[0][0].status == 3) {
                        $('#ApproveDiv').html('');
                        $('#ApproveDiv').html(ApprovedBtn);
                      
                    }
                    if (data[0][0].status == 4) {
                        $('#ApproveDiv').html('');
                    
                    }
                    getUserUnderSupervisor();
                }

            });

        }


    }

    function getUserUnderSupervisor() {
        $.ajax({
            url: 'getUserUnderSupervisor',
            type: 'post',
            data: {
                "cdate": checkdate
            },
            success: function(data) {
               
             $('#drop').html('');
             
            var string1='<select  class="chosen-select" data-placeholder="All Employee" id="dropuserdata" onchange="DropdownUsers(1)"><option  value=0>All Employee</option>';
            var string2='<select  class="chosen-select" data-placeholder="My Reportee" id="myrep_dropuserdata" onchange="DropdownUsers(0)"><option  value=0>My Reportee</option>';
                 
                for (var i = 0; i < data.length; i++) {
              if (for_status[data[i].status] != null) {
               
                  if(my_manager_isRetailer==1){
                    
                  var string1=string1 + '<option value="'+data[i].id+'">'+data[i].firstName+'-'+for_status[data[i].status]+ '</option>';}
                    if(data[i].managerId=='<%=userid%>'){
                    var string2=string2 + '<option value="'+data[i].id+'">'+data[i].firstName+'-'+for_status[data[i].status]                     + '</option>';
                }

                    } else {

             if(my_manager_isRetailer==1){
                        var string1=string1+'<option value="' + data[i].id + '">' + data[i].firstName + '-Draft</option>';}
                        if(data[i].managerId=='<%=userid%>'){
                        var string2=string2+'<option value="' + data[i].id + '">' + data[i].firstName + '-Draft</option>';
                              }
                    }

                }
               if(my_manager_isRetailer==1){ string1=string1+'</select>';}
                 string2=string2+'</select>';
               if(my_manager_isRetailer==1){ $('#drop').html(string1);}
               $('#myrep_drop').html(string2);
                  chosenSelectDropdown();

            }
             


        });

 
    }

    function fun() {
        $('#RejectReason').val('');
        $('#tag1').modal('hide');
        $('#tag').modal('hide');
    }

         function chosenSelectDropdown() {
         $('.chosen-select').chosen();
            $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
      }

</script>

<% include ../partials/footer %>

</body>
</html>


