<html lang="en">

<head>
    <% include ../partials/head %>


<style type="text/css">

.dataTables_filter, .dataTables_length {
     display: none;
    }
.color3{
    padding-left: 1%;
    padding-top: 2%;
    margin-left: 19.7%;
    width: 61%;
    padding-bottom: 61%;
    padding-right: 1%;
}
.sol-current-selection {
     padding: 0px 0; 
}
    #my-select5 {
        width: 100%;
        height: 29px;
    }
    
    .glyphicon-folder-open {
        color: black;
    }
    
    .glyphicon-plus {
        color: black;
    }
    
    .glyphicon-minus {
        color: black;
    }
    
    .a {
        color: #2b2b2b;
    }
    
    input[type=search] {
        height: 29px !important;
        border-radius: 5px !important;
        border: 1px solid #669ECC !important;
    }
    
    thead {
        background-color: #808080;
        color: white;
        font-size: 12px;
    }
    
    tbody {
        color: #808080;
        font-size: 12px;
    }
    
  
    }
    body {
            overflow-y: scroll;
        }
    .labelclass{
        position:relative;top:10%;margin-top:-10px;margin-left:0%
    }    
    .sol-inner-container {
        height: 25px;
        width: 100%;
    }
    .col-md-3 {
    width: 20%;
}
.col-md-6 {
    width: 60%;
}
</style>




<title>Document Management</title>



</head>


  <% include ../partials/adminheader %>
  <% include headerDoc.ejs %>
      
<div class="se-pre-con"></div>        
<body style="overflow-x:hidden"> 
<div class="container-fluid">    
<div class="row secondry-color" style="padding:2%">
<div class="col-md-3" style="border-radius:15px;background: rgba(133,148,119,0.29);
    height:auto;padding:10px;min-height:689px;">
<div class="" style="padding-left: 7%;margin-top:-1%"><b> Search By :</b></div>
                <div id="new111">
                    <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                        <div class="row labelclass form-Label" style=""><b>Industry:</b>
                        </div>
                        <div class="form-Label">
                            <select id="select1" multiple="multiple" required name="industry1">
                              <%if(industry[0].length>0){for(var i=0;i<industry[0].length;i++){if(industry[0][i].Active==1){%>
                            <option value="<%=industry[0][i].values_id%>"><%=industry[0][i].values%></option>
                            <%}}}%>
                                       
                            </select>
                        </div>
                    </div>


                    <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                        <div class="row labelclass form-Label" style=""><b>Business:</b></div>
                        <div class="form-Label">
                            <select id="select2" multiple="multiple" required name="business1">
                                  <%if(business[0].length>0){for(var i=0;i<business[0].length;i++){if(business[0][i].Active==1){%>
                            <option value="<%=business[0][i].values_id%>"><%=business[0][i].values%></option>
                            <%}}}%>
                            
                            </select>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                        <div class="row labelclass form-Label" style=""><b>Document type:</b></div>

                        <div class="form-Label">
                            <select id="select3" multiple="multiple" required name="doctype">
                                            <%if(document[0].length>0){for(var i=0;i<document[0].length;i++){if(document[0][0].Active==1){%>
                            <option value="<%=document[0][i].values_id%>"><%=document[0][i].values%></option>
                            <%}}}%>
                                          
 
                                        </select>
                        </div>
                    </div>

                    <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                        <div class="row labelclass form-Label" style=""><b>Technology :</b></div>
                        <div class="form-Label">
                            <select id="select4" multiple="multiple" required name="newTec1">
                                             <%if(technology[0].length>0){for(var i=0;i<technology[0].length;i++){if(technology[0][0].Active==1){%>
                            <option value="<%=technology[0][i].values_id%>"><%=technology[0][i].values%></option>
                            <%}}}%>
                                                
                                        </select>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                        <div class="row labelclass form-Label" style=""><b>Restriction Level:</b>
                        </div>
                        <div class="form-Label">
                            <select id="select5" multiple="true" required name="rLevel1">
                                         <%for(var i=0;i<restriction[0].length;i++){%>
                                        <option value="<%=restriction[0][i].values_id%>"><%=restriction[0][i].values%></option>
                                        <%}%>
                                     

                                    </select>
                        </div>
                    </div>
                     <div class="col-md-10 col-md-offset-1" style="margin-top:11%">
                      <button type="submit" class="btn btn-success" id="searchBoxId1" onclick="filterdata()" style="
                              background-color: #f05f40;border-color: #f05f40;margin-left:18%;">Search</button>
                              </div>                                   
                    
                </div>
</div>
<div class="col-md-6" >
        <div class="">
            <table id="data_table" class="table" cellspacing="0"  style="">
                <thead>
                    <th>File Name</th>
                    <th>File Title</th>
                    <th>Author</th>
                     <th>Uploaded By</th>
                    <th>Upload Date</th>
                    <th>Action</th>

                </thead>
                <tbody id="orderbody">
                    <%for(var i=files[0].length-1;i>=0;i--) {%>
                        <tr class="" id='row_<%=files[0][i].id%>'>
                            <td>
                                <a download href="./attach/<%=files[0][i].fpath%>">
                                    <%=files[0][i].name%>
                                </a>
                            </td>
                            <td>
                                <%=files[0][i].title%>
                            </td>
                            <td>
                                <%=files[0][i].author%>
                            </td>
                            <td>
                                <%=files[0][i].userName%>
                            </td>
                            <td>
                                <%=files[0][i].uploadDate%>
                            </td>
                            <td><a title="view details"><i  onclick="editModel(<%=files[0][i].id%>)" style="max-width: 25px;margin-right:5px" class="glyphicon glyphicon-search"></i></a>
                                <a title="delete file" class ='glyphicon glyphicon-trash delete' onclick="deleteFile(<%=files[0][i].id%>)" style="max-width: 15px" ></a>
                            </td>
                        </tr>

                        <%}%>
                </tbody>
            </table>
        </div>
</div>
<div class="col-md-3" style="border-radius:15px;background: rgba(133,148,119,0.29);
    height:auto;">
            <div class="" style=""><b>File Upload (size limit :2mb)</b></div>
            <form name="formName" action="/attachDocFile" id="formID" method="post" enctype="multipart/form-data" style="margin-left:-12%">
                <div class="col-md-10 col-md-offset-1 " id="lastfiveuploads7" style="margin-top:4%;">
                    <input type="file" id="fileAttach" class="fileStyle form-control " name='attach' style="font-size:11px;height:30px" required>
                    <input type="number" name='currfolder' value='0' class="hide" id="currfolderId">
                </div>

                <div class="col-md-10 col-md-offset-1 form-Label" id="lastfiveuploads6" style="margin-top:4%;">
                    <input type="text" id="ftitle" maxlength="50" required name="title" placeholder=" File Title(Required)" style="width:100%;">
                </div>
                <div class="col-md-10 col-md-offset-1 form-Label" id="lastfiveuploads6" style="margin-top:4%;">
                    <input type="text" id="fauthor" maxlength="30" equired name="authname" placeholder=" Author Name(Required)" style="width:100%">
                </div>
                <div class="col-md-10 col-md-offset-1 form-Label" id="lastfiveuploads6" style="margin-top:5%;">
                    <textarea rows="6" cols="12" maxlength="500" id="des" name="descbox" placeholder=" Description(Required) Limit:100 words" style="width:100%;resize: none;"></textarea>
                </div>

                <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                    <div class="row labelclass form-Label" ><b>Industry:<sup style="color:red;">*</sup></b></div>
                    <div class="form-Label">
                     <%if(industry[0].length>0){%><input type="hidden" id="<%=industry[0][0].id%>" required name="industryhide" value="<%=industry[0][0].id%>"></input><%}%>
                        <select id="my-select1"  multiple="multiple" required name="industry">
                           <%if(industry[0].length>0){for(var i=0;i<industry[0].length;i++){if(industry[0][i].Active==1){%>
                            <option value="<%=industry[0][i].values_id%>"><%=industry[0][i].values%></option>
                            <%}}}%>
                        </select>
                    </div>
                </div>


                <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                    <div class="row labelclass form-Label" style=""><b>Business:<sup style="color:red;">*</sup></b></div>
                    <div class="form-Label">
                        <%if(business[0].length>0){%> <input type="hidden" id="<%=business[0][0].id%>" required name="businesshide" value="<%=business[0][0].id%>"></input>  <%}%>
                        <select id="my-select2"  multiple="multiple" required name="business">
                            <%if(business[0].length>0){for(var i=0;i<business[0].length;i++){if(business[0][i].Active==1){%>
                            <option value="<%=business[0][i].values_id%>"><%=business[0][i].values%></option>
                            <%}}}%>
                        </select>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                    <div class="row labelclass form-Label" style=""><b>Document type:<sup style="color:red;">*</sup></b></div>

                    <div class="form-Label">  <%if(document[0].length>0){%>
                        <input type="hidden" id="<%=document[0][0].id%>" required name="doctypehide" value="<%=document[0][0].id%>"></input>   <%}%>
                        <select id="my-select3"  multiple="multiple" required name="doctype">
                                         <%if(document[0].length>0){for(var i=0;i<document[0].length;i++){if(document[0][i].Active==1){%>
                            <option value="<%=document[0][i].values_id%>"><%=document[0][i].values%></option>
                            <%}}}%>

                                        </select>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                    <div class="row labelclass form-Label" style=""><b>Technology :<sup style="color:red;">*</sup></b></div>
                    <div class="form-Label"><%if(technology[0].length>0){%>
                        <input type="hidden" id="<%=technology[0][0].id%>" required name="newTechide" value="<%=technology[0][0].id%>"></input><%}%>
                        <select id="my-select4"  multiple="multiple" required name="newTec">
                                             <%if(technology[0].length>0){for(var i=0;i<technology[0].length;i++){if(technology[0][i].Active==1){%>
                            <option value="<%=technology[0][i].values_id%>"><%=technology[0][i].values%></option>
                            <%}}}%>
                        </select>    
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1" style="margin-top:7%" id="">
                    <div class="row labelclass form-Label" style="">
                        <b>Restriction Level:<sup style="color:red;">*</sup></b>
                    </div>
                    <div class="form-Label">
                        <input type="hidden" id="<%=restriction[0][0].id%>" required name="rLevelhide" value="<%=restriction[0][0].id%>"></input>
                        <select id="my-select5"required name="rLevel" class="form-control form-Label" style="width: 100%;padding: 3px;">
                             <%for(var i=0;i<restriction[0].length;i++){%>
                            <option value="<%=restriction[0][i].values_id%>"><%=restriction[0][i].values%></option>
                            <%}%>

                        </select>
                    </div>
                </div>



                <div class="col-md-6 col-md-offset-4 " id="lastfiveuploads6" style="margin-top:5%;">
                    <button type="submit" class="btn btn-success" style=" margin-bottom: 19%;height: 30px;background-color: #f05f40;border-color: #f05f40;margin-top: 13%;" onclick="return validation()">Submit</button>
                </div>
      </form>
  
</div>
</div>

   <div class="modal fade" id="tag1">
        <div class="modal-dialog">

            <div class="modal-content" id="express2" style="">
                <div class="modal-header" style="background-color:#f05f40; ">
                    <center><label id="head4" class="modal-title" style="color:white;"><b>View Details</b></label></center>
                     <button type="button" class="close" id='cancel' style="margin-top: -31px"aria-label="Close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="width:auto">
                    <div class="row ">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;"> File Title:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="label" maxlength="45" class="form-control" id="title1" style="width:" name="fname" readonly/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;"> Author Name:</label>
                        </div>
                        <div class="col-md-8">
                       <input type="label" maxlength="45" class="form-control" id="authname" style="width:" name="fname" readonly />
                        </div>
                    </div>


                    <div class="row ">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Description :</label>
                        </div>
                        <div class="col-md-8">
                            <textarea name="descbox" id="desc" value=" " placeholder="Description" style="width:100%;resize: none;margin-bottom:3%" readonly></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Industry :</label>
                        </div>
                        <div class="col-md-8">
                             <textarea name="descbox" id="industry" value=" " placeholder="Description" style="width:100%;resize: none;margin-bottom:3%" readonly></textarea>
                            <!-- <input type="label" maxlength="45" class="form-control" id="industry" value="" style="width:" name="fname" readonly /> -->

                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Business:</label>
                        </div>
                        <div class="col-md-8">
                             <textarea name="descbox" id="business" value=" " placeholder="Description" style="width:100%;resize: none;margin-bottom:3%" readonly></textarea>
                           <!--  <input type="textarea" maxlength="45" class="form-control" id="business" value="" style="width:" name="fname" readonly/> -->

                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Document Type:</label>
                        </div>
                        <div class="col-md-8">
                             <textarea name="descbox" id="docType" value=" " placeholder="Description" style="width:100%;resize: none;margin-bottom:3%" readonly></textarea>
                           <!--  <input type="text" maxlength="45" class="form-control" id="docType" value="" style="width:" name="fname" readonly /> -->

                        </div>
                    </div>


                    <div class="row ">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Technology:</label>
                        </div>
                        <div class="col-md-8">
                             <textarea name="descbox" id="tech1" value=" " placeholder="Description" style="width:100%;resize: none;margin-bottom:3%" readonly></textarea>
                            <!-- <input type="text" maxlength="45" class="form-control" id="tech1" value="" style="width:" name="fname" readonly/> -->


                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Restriction Lavel:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" maxlength="45" class="form-control" id="rest" value="" style="width:" name="fname" readonly/>

                        </div>
                    </div>
                    <div class="row">
                        <center>
                            <button id="cancel" type="reset" data-dismiss="modal" class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">Close</button>

                        </center>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
 
    <script>
   var  validType=['exe','html','ejs'];
        function validation() {
            var input, file;
            input = document.getElementById('fileAttach');
            file = input.files[0];
            var fname = $('#ftitle').val();
            var fauthor = $('#fauthor').val();
            var des = $('#des').val();
            var indus = $('#my-select1').val();
            var bus = $('#my-select2').val();
            var doc = $('#my-select3').val();
            var tec = $('#my-select4').val();
            var res = $('#my-select5').val();
            var filename=$("#fileAttach").val();
            var fileType=filename.split('.');
            var fileType1=fileType[fileType.length-1];
            if (filename.trim() == "") {
                alert("Please Select a File First!");
                return false;
            }
            if(fileType1=='exe'||fileType1=='html'||fileType1=='ejs'){
                alert("Error:exe , html , ejs file cannot be uploaded!");
                return false;
            }
            if(file.size>2097152){
                 alert("Error:File limit is 2 mb");
                 return false ;
            }    
            if (fname == "") {
                alert("Please Enter valid File Name!");
                return false;
            }
            if (fauthor == "") {
                alert("Please Enter valid Author Name!");
                return false;
            }
            if (des == "") {
                alert("Please Enter valid Description!");
                return false;
            }

            if (indus == null) {
                alert("Please select any Industry name! ");
                return false;
            }
            if (bus == null) {
                alert("Please select any Business name!");
                return false;
            }

            if (doc == null) {
                alert("Please select any Document Type!");
                return false;
            }
            if (tec == null) {
                alert("Please select any Technology Type!");
                return false;
            }
            if (res == null) {
                alert("Please select any Restriction Type!");
                return false;
            } else return true;
        }

      
        var otable;
        $(document).ready(function() {

            $('.se-pre-con').fadeOut('slow');
            $(".portal-menu").hide();


            $('#select1').searchableOptionList();
            $('#select2').searchableOptionList();
            $('#select3').searchableOptionList();
            $('#select4').searchableOptionList();
            $('#select5').searchableOptionList();
           $('#my-select').searchableOptionList();
            $('#my-select1').searchableOptionList();
            $('#my-select2').searchableOptionList();
            $('#my-select3').searchableOptionList();
             $('#my-select4').searchableOptionList();
            
        
            if (<%=roleid%> == 1) {
               /* $('#docTabName2').addClass('show');
                $('#docTabNameR').addClass('show');
                $('#docTab2').addClass('show');
                $('#docTabR').addClass('show');*/

            } else {
                $('.delete').addClass('hide');
                $('#docTabName2').addClass('hide');
                $('#docTab2').addClass('hide');
            }



            otable = $("#data_table").dataTable({

                destroy: true,

                "iDisplayLength": 10,
                "showNEntries": true,
                "bFilter": false,
                "bLengthChange": true,
                "aoColumnDefs": [{}],
                "order": []
            });
          
            if (<%=alert%> == 1) {
                setTimeout(function(){
                    alert("File has been uploaded");
                    $.ajax({
                            url: '/setdocalert',
                            type: 'get',
                            dataType: 'json',
                            success: function(tabledata) {
                               // alert('sdds')
                               window.location.href="/document";
                            },
                            error: function() {
                                alert("error");
                            }
                    });
                }, 500);

            }

            $('#docTab').addClass('active');
            $('#docTabName').addClass('active');


        });

        function closeModel() {
            $('#tag1').modal('hide');
        }

       
        //delete file
        function deleteFile(temp) {
          //  console.log(temp);
            var rowid = '#row_' + temp;
            if (confirm(" Are you sure ? , this file will be deleted permanently !") == true)
                $.ajax({
                    url: 'deleteFileByIdPermanentely',
                    method: 'post',
                    data: {
                        "status": temp,
                        "status1": '',

                    },
                    dataType: 'json',
                    success: function(tabledata) {
                       
                        otable.fnDeleteRow(rowid);
                    },
                    error: function() {
                        location.reload();
                    }
                });
        }

        function filterdata() {
            $('.se-pre-con').fadeIn('slow');
            var emptyArr = [];
          
            if ($('#select1').val() == null)
                a = ' ';
            else
                a = $('#select1').val().toString();
            if ($('#select2').val() == null)
                b = ' ';
            else
                b = $('#select2').val().toString();
            if ($('#select3').val() == null)
                c = ' ';
            else
                c = $('#select3').val().toString();
            if ($('#select4').val() == null)
                d = ' ';
            else
                d = $('#select4').val().toString();
            if ($('#select5').val() == null)
                e = ' ';
            else
                e = $('#select5').val().toString();
            


            $.ajax({
                url: '/filterFiledata',
                method: 'post',
                data: {
                    'ni': a,
                    'nb': b,
                    'nd': c,
                    'nt': d,
                    'nr': e,
                    'searchbox': $("#searchBoxId").val()
                        
                },
                dataType: 'json',
                success: function(tabledata) {
                    var charstr = "";
                    charstr += '<thead><th>File Name</th><th>File Title</th><th>Author</th><th>Uploaded By</th> <th>Upload Date</th><th>Action</th></thead><tbody>';
                    for (var i = tabledata.length - 1; i >= 0; i--) {
                        var bgstr = '';
                        if (tabledata[i].color == 'yellow') {

                            bgstr = 'style = "background-color:#ffffb3"';

                        }
                        charstr = charstr + '<tr id="row_' + tabledata[i].id + '"' + bgstr + '><td><a download= "" href= "./attach/' + tabledata[i].fpath + '">' + tabledata[i].name + '</a></td><td>' + tabledata[i].title + '</td><td>' + tabledata[i].author + '</td><td>'+ tabledata[i].userName + '</td><td>' + tabledata[i].uploadDate + '</td><td><a title="view details"><i  onclick="editModel(' + tabledata[i].id + ')" style="max-width: 25px;margin-right:5px" class="glyphicon glyphicon-search"></i></a>';
                        if (<%=roleid%> == 1) {
                                charstr = charstr + '<a title="delete file" class="glyphicon glyphicon-trash delete" onclick="deleteFile(' + tabledata[i].id + ')" style="max-width: 15px"></a></td></tr>';
                        } 
                    }

                    charstr += '</tbody>';
                    otable.dataTable().fnDestroy();

                    $('#data_table').html(charstr);
                    otable = $("#data_table").dataTable({
                     
                        destroy: true,
                        "iDisplayLength": 10,
                        /*used to display no of element  on page load or relaod*/
                        "showNEntries": true,
                        /* for displaying showing 10 out of 50 entries at left bottom corner*/
                        "bFilter": false,
                        /*dispalying search box at top right corner*/
                        "bLengthChange": true,
                        /*dispalying  show 10 out of 50 entries at top left corner*/
                        "aoColumnDefs": [{ //   "bSortable": false,
                            //  "aTargets": [0]
                        }],
                        "order": emptyArr /*we can provide order to every column "order": [[0,'asc'],[1,'des']] */

                    });
                    $('.se-pre-con').fadeOut('slow');

                },

                error: function() {
                   
                }



            });

        }

        $(document).on("keypress", '#searchBoxId', function(e) {
            if (e.which == 13) {
                filterdata();
                return false;
                //do some stuff
            }
        });

        function editModel(id1) {
            console.log(id1);
            $.ajax({
                url: '/viewFileDetails',
                type: 'post',
                data: {
                    "id": id1
                },
                success: function(data) {

                    console.log("sucessssss", data);
                    document.getElementById("title1").value = data[0][0].title;
                    document.getElementById("authname").value = data[0][0].author;
                    document.getElementById("desc").value = data[0][0].description;
                    document.getElementById("rest").value = data[0][0].restriction;
                    var temp = "";
                    for (var i = 0; i < data[1].length; i++) {
                        temp += data[1][i].doctype + ' , ';
                    }
                    document.getElementById("docType").value = temp.slice(0, -2);
                    temp = "";
                    for (var i = 0; i < data[2].length; i++) {
                        temp += data[2][i].industry + ' , ';
                    }
                    document.getElementById("industry").value = temp.slice(0, -2);
                    temp = "";
                    for (var i = 0; i < data[3].length; i++) {
                        temp += data[3][i].business + ' , ';
                    }
                    document.getElementById("business").value = temp.slice(0, -2);
                    temp = "";
                    for (var i = 0; i < data[4].length; i++) {
                        temp += data[4][i].technology + ' , ';
                    }
                    document.getElementById("tech1").value = temp.slice(0, -2);

                    temp = "";
                    for (var i = 0; i < data[5].length; i++) {
                        temp += data[5][i].restriction + ' , ';
                    }
                    document.getElementById("rest").value = temp.slice(0, -2);

                    /* alert($('tech1').val());*/

                }
            });
            $('#tag1').modal('show');
            /*$('.modal-backdrop.fade').css({
               'background-color':'rgba(0,0,0,0)'       
            });
              $("#tag1").draggable({
                   handle: ".modal-header"
               });*/


        }

        function maketablesearchbox() {

            var searchbox = $('#searchBoxId').val();
            /*  console.log(   " brfore search :",   searchbox.length);*/
            searchbox = searchbox.trim();
            /*console.log(   " search :",   searchbox.length);*/
            searchbox = searchbox
                //  alert(searchbox);
            $.ajax({
                url: '/tableSearchBox',
                method: 'post',
                data: {
                    'searchbox': searchbox
                },  
                success: function(tabledata) {

                    var charstr = "";
                    charstr += '<thead><th>File Name</th><th>File Title</th><th>Author</th> <th>Upload Date</th><th>Actio</th></thead><tbody>';
                    for (var i = tabledata.length - 1; i >= 0; i--) {
                        var bgstr = '';
                        if (tabledata[i].color == 'yellow') {

                            bgstr = 'style = "background-color:#ffffb3"';

                        }
                        charstr = charstr + '<tr id="row_' + tabledata[i].id + '"' + bgstr + '><td><a download= "" href= "./attach/' + tabledata[i].fpath + '">' + tabledata[i].name + '</a></td><td>' + tabledata[i].title + '</td><td>' + tabledata[i].author + '</td><td>' + tabledata[i].uploadDate + '</td><td><a title="view details"><i  onclick="editModel(' + tabledata[i].id + ')" style="max-width: 25px;margin-right:5px" class="glyphicon glyphicon-search"></i></a><a title="delete file" class="glyphicon glyphicon-trash delete" onclick="deleteFile(' + tabledata[i].id + ')" style="max-width: 15px"></a></td></tr>';
                    }
                    charstr += '</tbody>';
                    otable.dataTable().fnDestroy();

                    $('#data_table').html(charstr);
                    otable = $("#data_table").dataTable({
                        "aLengthMenu": [
                            [10, 20, 50, 100, -1],
                            ["10", "20", "50", "100", "all"]
                        ],
                        destroy: true,
                        "iDisplayLength": 10,
                        /*used to display no of element  on page load or relaod*/
                        "showNEntries": true,
                        /* for displaying showing 10 out of 50 entries at left bottom corner*/
                        "bFilter": false,
                        /*dispalying search box at top right corner*/
                        "bLengthChange": true,
                        /*dispalying  show 10 out of 50 entries at top left corner*/
                        "aoColumnDefs": [{ //   "bSortable": false,
                            //  "aTargets": [0]
                        }],
                        "order": [] /*we can provide order to every column "order": [[0,'asc'],[1,'des']] */

                    });
                },
                error: function() {
                 
                }
            });
        }
    </script>

<% include ../partials/footer %>