<head>
    <% include ../partials/head %>


<style type="text/css">

    #my-select5 {
        width: 100%;
        height: 29px;
    }
    
    .modal {
        overflow: hidden;
        z-index: 1100;
    }
    
    .modal-dialog {
        margin-right: 0;
        margin-left: 0;
    }
    
  /*  .col-lg-8 {
        color: black;
        margin-top: 600px;
    }*/
    
    .glyphicon-folder-open {
        color: black;
    }
    
    .glyphicon-plus {
        color: black;
    }
    
    .glyphicon-minus {
        color: black;
    }
    
    .a {
        color: #2b2b2b;
    }
    
    input[type=search] {
        height: 29px !important;
        border-radius: 5px !important;
        border: 1px solid #669ECC !important;
    }
    
    thead {
        background-color: #808080;
        color: white;
        font-size: 12px;
    }
    
    tbody {
        color: #808080;
        font-size: 12px;
    }
    
    #sidebar-wrapper2 {
        height: auto;
        min-height: 650px;
    }
    
    #sidebar-wrapper3 {
        height: auto;
    }
    body {
            overflow-y: scroll;
        }
</style>

 

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Document Management</title>



</head>


<body class="color3" style="">

<div>
    <% include ../partials/adminheader %>
        <% include headerDoc.ejs %>
</div>
<div class="se-pre-con"></div>


    <div style=" ">
        <div id="wrapper">
            <div id="sidebar-wrapper2" class="one">
                <div class="one1 row" style="padding-left: 7%;margin-top:-1%"><b> Search By :</b></div>
              <!--   <ul class="sidebar-nav" id="treeid" style='margin-top:2%'></ul> -->
                <div id="new111">
                    <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                        <div class="col-md-12" style="position:relative;top:10%;margin-top:-10px;margin-left:-8%"><b>Industry:</b>
                        </div>
                        <div class="">
                            <select id="select1" multiple="multiple" required name="industry1">
                                         <%for(var i=0;i<industry[0].length;i++){%>
                                            <option value="<%=industry[0][i].values_id%>"><%=industry[0][i].values%></option>
                                            <%}%>
                                       
                                    </select>
                        </div>
                    </div>


                    <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                        <div class="col-md-12" style="position:relative;top:10%;margin-top:-10px;margin-left:-8%"><b>Business:</b></div>
                        <div class="">
                            <select id="select2" multiple="multiple" required name="business1">
                                 <%for(var i=0;i<business[0].length;i++){%>
                            <option value="<%=business[0][i].values_id%>"><%=business[0][i].values%></option>
                            <%}%>
                            
                            </select>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                        <div class="col-md-12" style="position:relative;top:10%;margin-top:-10px;margin-left:-8%"><b>Document type:</b></div>

                        <div class="">
                            <select id="select3" multiple="multiple" required name="doctype">
                                            <%for(var i=0;i<document[0].length;i++){%>
                                        <option value="<%=document[0][i].values_id%>"><%=document[0][i].values%></option>
                                        <%}%>
                                          
 
                                        </select>
                        </div>
                    </div>

                    <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                        <div class="col-md-12" style="position:relative;top:10%;margin-top:-10px;margin-left:-8%"><b>Technology :</b></div>
                        <div class="">
                            <select id="select4" multiple="multiple" required name="newTec1">
                                             <%for(var i=0;i<technology[0].length;i++){%>
                                            <option value="<%=technology[0][i].values_id%>"><%=technology[0][i].values%></option>
                                            <%}%>
                                                
                                        </select>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                        <div class="col-md-12" style="position:relative;top:10%;margin-top:-10px;margin-left:-8%"><b>Restriction Level:</b>
                        </div>
                        <div class="">
                            <select id="select5" multiple="true" required name="rLevel1">
                                         <%for(var i=0;i<restriction[0].length;i++){%>
                                        <option value="<%=restriction[0][i].values_id%>"><%=restriction[0][i].values%></option>
                                        <%}%>
                                     

                                    </select>
                        </div>
                    </div>


                    <div class="col-md-6 col-md-offset-4 " id="lastfiveuploads6" style="margin-top:5%;">
                        <button type="submit" class="btn btn-success" id="searchBoxId1" onclick="filterdata()" style="
                              background-color: #f05f40;border-color: #f05f40;margin-left: -16px;height: 30px;">Search</button>
                    </div>
                </div>
            </div>
        </div>
</div>

        <div class="container-fluid col-md-12 color3" style="margin-left:19%;width:62%;margin-top:4%">
            <table id="data_table" class="table table-striped table-bordered" cellspacing="0" width="100%" style="ALIGN-CONTENT: CENTER;">
                <thead>
                    <th>File Name</th>
                    <th>File Title</th>
                    <th>Author</th>
                    <th>Upload Date</th>
                    <th>Action</th>

                </thead>
                <tbody id="orderbody">
                    <%for(var i=files[0].length-1;i>=0;i--) {%>
                        <tr class="" id='row_<%=files[0][i].id%>'>
                            <td>
                                <a download href="./attach/<%=files[0][i].fpath%>">
                                    <%=files[0][i].name%>
                                </a>
                            </td>
                            <td>
                                <%=files[0][i].title%>
                            </td>
                            <td>
                                <%=files[0][i].author%>
                            </td>
                            <td>
                                <%=files[0][i].uploadDate%>
                            </td>
                            <td><a title="view details"><i  onclick="editModel(<%=files[0][i].id%>)" style="max-width: 25px" class="fa fa-search"></i></a>
                                <a title="delete file"><img src="./img/DeleteRed.png" class =' delete' onclick="deleteFile(<%=files[0][i].id%>)" style="max-width: 15px" ></a>
                            </td>
                        </tr>

                        <%}%>
                </tbody>
            </table>
        </div>


       <div id="sidebar-wrapper3" class="one ">
            <div class="one1 row" style="padding-left: 7%;margin-top:-1%;margin-left: -5px;width: 103%;"><b>File Upload</b></div>
            <form name="formName" action="/attachDocFile" id="formID" method="post" enctype="multipart/form-data" style="margin-left:-12%">
                <div class="col-md-10 col-md-offset-1 " id="lastfiveuploads7" style="margin-top:7%;">
                    <input type="file" id="fileAttach" class="fileStyle form-control" name='attach' style="font-size:11px;height:30px" required>
                    <input type="number" name='currfolder' value='0' class="hide" id="currfolderId">
                </div>

                <div class="col-md-10 col-md-offset-1" id="lastfiveuploads6" style="margin-top:7%;">
                    <input type="text" id="ftitle" required name="title" placeholder=" File Title(Required)" style="width:100%">
                </div>
                <div class="col-md-10 col-md-offset-1 " id="lastfiveuploads6" style="margin-top:7%;">
                    <input type="text" id="fauthor" equired name="authname" placeholder=" Author Name(Required)" style="width:100%">
                </div>
                <div class="col-md-10 col-md-offset-1 " id="lastfiveuploads6" style="margin-top:5%;">
                    <textarea rows="6" cols="12" id="des" name="descbox" placeholder=" Description(Required)" style="width:193px;"></textarea>
                </div>

                <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                    <div class="col-md-12" style="position:relative;top:10%;margin-top:-10px;margin-left:-8%"><b>Industry:<sup style="color:red;">*</sup></b></div>
                    <div class="">
                        <input type="hidden" id="<%=industry[0][0].id%>" required name="industryhide" value="<%=industry[0][0].id%>"></input>
                        <select id="my-select1" multiple="multiple" required name="industry">
                            <%for(var i=0;i<industry[0].length;i++){%>
                                <option value="<%=industry[0][i].values_id%>"><%=industry[0][i].values%></option>
                            <%}%>
                        </select>
                    </div>
                </div>


                <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                    <div class="col-md-12" style="position:relative;top:10%;margin-top:-10px;margin-left:-8%"><b>Business:<sup style="color:red;">*</sup></b></div>
                    <div>
                        <input type="hidden" id="<%=business[0][0].id%>" required name="businesshide" value="<%=business[0][0].id%>"></input>
                        <select id="my-select2" multiple="multiple" required name="business">
                              <%for(var i=0;i<business[0].length;i++){%>
                            <option value="<%=business[0][i].values_id%>"><%=business[0][i].values%></option>
                            <%}%>
                        </select>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                    <div class="col-md-12" style="position:relative;top:10%;margin-top:-10px;margin-left:-8%"><b>Document type:<sup style="color:red;">*</sup></b></div>

                    <div class="">
                        <input type="hidden" id="<%=document[0][0].id%>" required name="doctypehide" value="<%=document[0][0].id%>"></input>
                        <select id="my-select3" multiple="multiple" required name="doctype">
                                          <%for(var i=0;i<document[0].length;i++){%>
                                        <option value="<%=document[0][i].values_id%>"><%=document[0][i].values%></option>
                                        <%}%>

                                        </select>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1" style="margin-top:7%">
                    <div class="col-md-12" style="position:relative;top:10%;margin-top:-10px;margin-left:-8%"><b>Technology :<sup style="color:red;">*</sup></b></div>
                    <div class="">
                        <input type="hidden" id="<%=technology[0][0].id%>" required name="newTechide" value="<%=technology[0][0].id%>"></input>
                        <select id="my-select4" multiple="multiple" required name="newTec">
                                             <%for(var i=0;i<technology[0].length;i++){%>
                                       <option value="<%=technology[0][i].values_id%>"><%=technology[0][i].values%></option>
                                            <%}%>
                                        </select>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1" style="margin-top:7%" id="hide11">
                    <div class="col-md-12" style="position:relative;top:10%;margin-top:-5%;margin-left:-8%"><b>Restriction Level:<sup style="color:red;">*</sup></b>
                    </div>
                    <div class="">
                        <input type="hidden" id="<%=restriction[0][0].id%>" required name="rLevelhide" value="<%=restriction[0][0].id%>"></input>
                        <select id="my-select5" required name="rLevel" class="form-control">
                             <%for(var i=0;i<restriction[0].length;i++){%>
                            <option value="<%=restriction[0][i].values_id%>"><%=restriction[0][i].values%></option>
                            <%}%>

                        </select>
                    </div>
                </div>



                <div class="col-md-6 col-md-offset-4 " id="lastfiveuploads6" style="margin-top:5%;">
                    <button type="submit" class="btn btn-success" style="height: 30px;                                background-color: #f05f40;border-color: #f05f40;" onclick="return validation()">Submit</button>
                </div>

               


           </form>



        </div>


    

    <div class="modal fade" id="tag1">
        <div class="modal-dialog">

            <div class="modal-content" id="express2" style="position: inherit;width:110%;margin-left: 50%;">
                <div class="modal-header" style="background-color:#f05f40; height:7%; ">
                    <center><label id="head4" class="modal-title" style="color:white;font-size:14pt;"><b>View Details</b></label></center>

                </div>
                <div class="modal-body" style="height:500px">
                    <div class="col-md-12 a">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;"> File Title:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="label" maxlength="45" class="form-control" id="title1" style="width:" name="fname" readonly/>
                        </div>
                    </div>

                    <div class="col-md-12 a">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;"> Auther Name:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="label" maxlength="45" class="form-control" id="authname" style="width:" name="fname" readonly />
                        </div>
                    </div>


                    <div class="col-md-12 a">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Description :</label>
                        </div>
                        <div class="col-md-8">
                            <textarea rows="4" cols="10" name="descbox" id="desc" value=" " placeholder="Description" style="width:100%;margin-bottom:3%" readonly></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 a">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Industry :</label>
                        </div>
                        <div class="col-md-8">
                            <input type="label" maxlength="45" class="form-control" id="industry" value="" style="width:" name="fname" readonly />

                        </div>
                    </div>
                    <div class="col-md-12 a">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Business:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" maxlength="45" class="form-control" id="business" value="" style="width:" name="fname" readonly/>

                        </div>
                    </div>

                    <div class="col-md-12 a">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Document Type:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" maxlength="45" class="form-control" id="docType" value="" style="width:" name="fname" readonly />

                        </div>
                    </div>


                    <div class="col-md-12 a">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Technology:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" maxlength="45" class="form-control" id="tech1" value="" style="width:" name="fname" readonly/>


                        </div>
                    </div>

                    <div class="col-md-12 a">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Restriction Lavel:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" maxlength="45" class="form-control" id="rest" value="" style="width:" name="fname" readonly/>

                        </div>
                    </div>
                    <div class="col-md-12 a">
                        <center>
                            <button id="cancel" type="reset" data-dismiss="modal" class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">Close</button>

                        </center>
                    </div>

                </div>
            </div>
        </div>
    </div>
      </body>
<div style="margin-top:72%">
    <% include ../partials/footer %>
</div>
  

        
    

    <script>
        function validation() {
            var file = $('#fileAttach').val();
            var fname = $('#ftitle').val();
            var fauthor = $('#fauthor').val();
            var des = $('#des').val();
            var indus = $('#my-select1').val();
            var bus = $('#my-select2').val();
            var doc = $('#my-select3').val();
            var tec = $('#my-select4').val();
            var res = $('#my-select5').val();

            if (file == "") {
                alert("Please Select a File First!");
                return false;
            }
            if (fname == "") {
                alert("Please Enter valid File Name!");
                return false;
            }
            if (fauthor == "") {
                alert("Please Enter valid Author Name!");
                return false;
            }
            if (des == "") {
                alert("Please Enter valid Description!");
                return false;
            }

            if (indus == null) {
                alert("Please select any Industry name! ");
                return false;
            }
            if (bus == null) {
                alert("Please select any Business name!");
                return false;
            }

            if (doc == null) {
                alert("Please select any Document Type!");
                return false;
            }
            if (tec == null) {
                alert("Please select any Technology Type!");
                return false;
            }
            if (res == null) {
                alert("Please select any Restriction Type!");
                return false;
            } else return true;
        }

       /* function deleteFile(id) {

            $.ajax({
                url: '/deleteFile',
                type: 'post',
                data: {
                    "id": id,
                },
                success: function(data) {
                    console.log("sucessssss");
                    $('#tag').modal('hide');
                    otable.fnDeleteRow(rowid);
                    $("#abcd").val('');
                    $('#row_' + id).addClass('hide');
                    $('#row__' + id).addClass('hide');

                    
                }
            });
        }*/

       /* function hideAdvSearch() {
            $('#advpanel').toggleClass('hide');



        }

        function meow() {
            alert('meow called');
            return false;
        }
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });*/
        var otable;
        $(document).ready(function() {

            $('.se-pre-con').fadeOut('slow');
            $(".portal-menu").hide();


            $('#select1').searchableOptionList();
            $('#select2').searchableOptionList();
            $('#select3').searchableOptionList();
            $('#select4').searchableOptionList();
            $('#select5').searchableOptionList();



            $('#my-select').searchableOptionList();
            $('#my-select1').searchableOptionList();
            $('#my-select2').searchableOptionList();
            $('#my-select3').searchableOptionList();
            $('#my-select4').searchableOptionList();
            // $('#my-select5').searchableOptionList();

            if (<%=roleid%> == 1) {
                $('#docTabName2').addClass('show');
                $('#docTabNameR').addClass('show');
                $('#docTab2').addClass('show');
                $('#docTabR').addClass('show');

            } else {
                $('.delete').addClass('hide');
                $('#docTabName2').addClass('hide');
                $('#docTab2').addClass('hide');
            }



            otable = $("#data_table").dataTable({
                "aLengthMenu": [
                    [10, 20, 50, 100, -1],
                    ["10", "20", "50", "100", "all"]
                ],
                destroy: true,

                "iDisplayLength": 10,
                "showNEntries": true,
                "bFilter": true,
                "bLengthChange": true,
                "aoColumnDefs": [{}],
                "order": []
            });
            if (<%=flag%> == 1) {
                setTimeout(function() {
                    alert("File has been uploaded");
                }, 500);

            }

            $('#docTab').addClass('active');
            $('#docTabName').addClass('active');


        });

        function closeModel() {
            $('#tag1').modal('hide');
        }

        /*function deleteFolder() {
            console.log('tS is', treeStructure);
            var value = currentId.split('_');
            var individualId = value[0];
            var parentId = value[2];
            if (individualId == 1) {

                alert('You cannot delete root folder');
                return;
            }
            if (treeStructure[individualId].length != 0) {
                alert('First Delete all children Folders');
                return;
            }
            if (fileStructure[individualId].length != 0) {
                alert('First delete all containing files');
                return;
            }
            if (confirm('Are you sure you want to delete this item?')) {
                $.ajax({
                    url: 'deleteFolder',
                    method: 'post',
                    data: {
                        'id': individualId
                    },
                    dataType: 'json',
                    success: function() {

                        window.location.href = '/document';

                    },
                    error: function() {

                        alert('SQL error !!\n Please reload page');
                    }



                });
            }



        }
*/

/*
        function collapseExpand(id, flag) {

            //console.log('ts here',treeStructure[4]);
            //alert('clickeed yo!');
            var value = id.split('_');
            var individualId = parseInt(value[0]);
            var parentId = parseInt(value[2]);
            var idStr = '#' + id;


            //alert(idStr);
            if ($(idStr).hasClass("glyphicon-minus")) {
                console.log('ts is here', treeStructure[individualId]);

                for (var i = 0; i < treeStructure[individualId].length; i++) {

                    var str = '#' + treeStructure[individualId][i] + '_liid_' + individualId;
                    var str2 = treeStructure[individualId][i] + '_sign_' + individualId;

                    $(str).addClass('hide');
                    console.log(str2);
                    collapseExpand(str2, 0);
                    //$(str).css('display','none');

                }

                for (var k = 0; k < fileStructure[individualId].length; k++) {

                    var str = '#' + fileStructure[individualId][k] + '_fileid_' + individualId;

                    $(str).addClass('hide');

                }

                $(idStr).removeClass('glyphicon-minus');
                $(idStr).addClass('glyphicon-plus');

            } else if ($(idStr).hasClass("glyphicon-plus") && flag == 1) {

                for (var i = 0; i < treeStructure[individualId].length; i++) {
                    var str = '#' + treeStructure[individualId][i] + '_liid_' + individualId;
                    $(str).removeClass('hide');
                    //$(str).css('display','');              
                }

                for (var k = 0; k < fileStructure[individualId].length; k++) {

                    var str = '#' + fileStructure[individualId][k] + '_fileid_' + individualId;


                    $(str).removeClass('hide');
                    //console.log(str2);
                    //collapseExpand(str2,0);
                    //$(str).css('display','none');
                }



                $(idStr).removeClass('glyphicon-plus');
                $(idStr).addClass('glyphicon-minus');

            } else return;



        }

        function updownkeystoggle() {
            $('#up1').toggleClass('hide');
            $('#down1').toggleClass('hide');
            $('#recentuploadsid').toggleClass('hide');

        }

        var newarr = [];

        function getallChildren(parent) {
            console.log("get all children : ", parent);
            for (var i = 0; i < treeStructure[parent].length; i++) {

                /*var str = '#' + treeStructure[parent][i] + '_liid_' + individualId;
                    var str2 = treeStructure[parent][i] + '_sign_' + individualId;*/
              //  newarr.push(treeStructure[parent][i]);
                // $(str).addClass('hide');
                //console.log(str2);
              //  getallChildren(treeStructure[parent][i]);
                //$(str).css('display','none');

          /*  }



        }*/
        /*console.log("-----------------------", newarr);

        function bringFileDataDb(id) {
            console.log("bring data folder : ", id);
            $('#data_table').html('');
            var value = id.split('_');
            var individualId = value[0];
            var parentId = value[2];
            $('#currfolderId').val(individualId);
            newarr = [];
            getallChildren(individualId);
            var allId = individualId + ',' + newarr.toString();
            console.log("allid is : ", allId);
            for (var i = 0; i < idArr.length; i++) {
                var str = '#' + idArr[i];
                //console.log(str);
                $(str).removeClass('greycolor');

            }
            $('#' + individualId + '_liid_' + parentId).addClass('greycolor');
            var charstr = '';
            $.ajax({
                url: 'alldatatable',
                method: 'post',
                data: {
                    'id': allId
                },
                dataType: 'json',
                success: function(tabledata) {
                    console.log('bcmc bc mc1234');
                    console.log('qqqqq', tabledata);
                    charstr += '<thead><th>File Name</th><th>File Title</th><th>Author</th> <th>Upload Date</th><th>Action</th></thead><tbody>';
                    for (var i = tabledata.length - 1; i >= 0; i--) {
                        var bgstr = '';
                        if (tabledata[i].color == 'yellow') {

                            bgstr = 'style = "background-color:#ffffb3"';

                        }
                        charstr = charstr + '<tr id="row_' + tabledata[i].id + '"' + bgstr + '><td><a download= "" href= "./attach/' + tabledata[i].fpath + '">' + tabledata[i].name + '</a></td><td>' + tabledata[i].title + '</td><td>' + tabledata[i].author + '</td><td>' + tabledata[i].uploadDate + '</td><td><a title="view details"><i  onclick="editModel(' + tabledata[i].id + ')" style="max-width: 25px" class="fa fa-search"></i></a><a title="delete file" ><img src="./img/DeleteRed.png" onclick="deleteFile(' + tabledata[i].id + ')" style="max-width: 15px"></a></td></tr>';
                    }
                    charstr += '</tbody>';
                    otable.dataTable().fnDestroy();

                    $('#data_table').html(charstr);
                    otable = $("#data_table").dataTable({
                        "aLengthMenu": [
                            [10, 20, 50, 100, -1],
                            ["10", "20", "50", "100", "all"]
                        ],
                        destroy: true,
                        "iDisplayLength": 10,
                        /*used to display no of element  on page load or relaod*/
                        //"showNEntries": true,
                        /* for displaying showing 10 out of 50 entries at left bottom corner*/
                       // "bFilter": true,
                        /*dispalying search box at top right corner*/
                      //  "bLengthChange": true,
                        /*dispalying  show 10 out of 50 entries at top left corner*/
                    //    "aoColumnDefs": [{ //   "bSortable": false,
                            //  "aTargets": [0]
                      //  }],
                     //   "order": [] /*we can provide order to every column "order": [[0,'asc'],[1,'des']] */

                  /*  });
                },
                error: function() {
                    alert('ajax failure');
                }



            });



        }
*/



        /*function addFolder() {
            //console.log('tS is', treeStructure);
            var value = currentId.split('_');
            var individualId = value[0];
            var parentId = value[2];
            var margin = 0;
            var len = treeStructure[individualId].length;
            var lastChildId = individualId;
            var lastParentId = parentId;
            var depth = 0;
            if (len) {
                lastChildId = treeStructure[individualId][treeStructure[individualId].length - 1];
                lastParentId = individualId;
                len = treeStructure[lastChildId].length;
                depth++;
                while (len) {
                    margin = margin - 6;
                    lastParentId = lastChildId;
                    lastChildId = treeStructure[lastChildId][treeStructure[lastChildId].length - 1];
                    console.log(lastChildId);
                    len = treeStructure[lastChildId].length;
                    depth++;
                }

            } else margin = 6;
            var newcurrentId = '#' + lastChildId + '_liid_' + lastParentId;;



            /*if(fileStructure[lastChildId].length){
                 margin = -9 - (depth*6) ;
              var newcurrentId = '#'+fileStructure[lastChildId][fileStructure[lastChildId].length-1]+'_fileid_'+ lastChildId ;
            }*/



/*
            var str = '<div  class = "hoverandclick" style = "position:relative;padding-top:-14%;padding-bottom:2%;left:' + margin + '%;margin-top:-13%;height:350px!important;margin-bottom:6%!important;top: 14%;" id ="liidnew" ><span id = "folderidbew"   onclick ="bringFileDataDb(this.id)" class = "glyphicon glyphicon-folder-open" style = "position:relative;left:-9%"></span><span id = "nameidnew" onclick ="bringFileDataDb(this.id)" style = "position:relative;left:-18%"><input type = "text" class = "" id ="inpval2" value = "New Folder" style = "width:37%"> </span></div>';*/

            /*lastChildId = treeStructure[individualId][treeStructure[individualId].length-1];
             */

/*
            $(newcurrentId).append(str);

            $('#inpval2').select();

            $('#inpval2').focusout(function() {
                var textBoxValue = $('#inpval2').val();
                $.ajax({
                    url: 'addFolder',
                    method: 'post',
                    data: {
                        'value': textBoxValue,
                        'parentId': individualId
                    },
                    dataType: 'json',
                    success: function() {

                        window.location.href = '/document';

                    },
                    error: function() {

                        alert('SQL error !!\n Please reload page');
                    }



                });


            });



        }*/


       /* function rename() {
            var value = currentId.split('_');
            var individualId = value[0];
            var parentId = value[2];
            var strId = '#' + individualId + '_name_' + parentId;
            var nameValue = $(strId).html();
            $('#select1').val()
            var charStr = '<input type = "text" class = "" id ="inpval1" value =' + nameValue + ' style = "width:37%">';
            $(strId).html(charStr);
            $('#inpval1').select();

            $('#inpval1').focusout(function() {
                var textBoxValue = $('#inpval1').val();
                $.ajax({
                    url: 'changeName',
                    method: 'post',
                    data: {
                        'value': $('#inpval1').val(),
                        'id': individualId
                    },
                    dataType: 'json',
                    success: function() {

                        $(strId).html(textBoxValue);

                    },
                    error: function() {

                        alert('dataBase not found\n Please reload page');
                    }



                });


            });

        }
*/

        //delete file
        function deleteFile(temp) {
          //  console.log(temp);
            var rowid = '#row_' + temp;
            if (confirm(" Are you sure ? , this file will be deleted permanently !") == true)
                $.ajax({
                    url: 'deleteFileByIdPermanentely',
                    method: 'post',
                    data: {
                        "status": temp,
                        "status1": '',

                    },
                    dataType: 'json',
                    success: function(tabledata) {
                        console.log(rowid);
                        console.log("otable :", otable);
                        console.log(otable.fnDeleteRow(rowid));
                        otable.fnDeleteRow(rowid);
                    },
                    error: function() {
                        location.reload();
                    }
                });
        }

        function filterdata() {
            $('.se-pre-con').fadeIn('slow');
            var emptyArr = [];
           /* console.log("ddddddddddddddddddddddddddd");
            console.log("aaaaaaaaaaaaaaaaaaa", $('#select1').val(), $('#select2').val(), $('#select3').val(), $('#select4').val(), $('#select5').val());*/
            if ($('#select1').val() == null)
                a = ' ';
            else
                a = $('#select1').val().toString();
            if ($('#select2').val() == null)
                b = ' ';
            else
                b = $('#select2').val().toString();
            if ($('#select3').val() == null)
                c = ' ';
            else
                c = $('#select3').val().toString();
            if ($('#select4').val() == null)
                d = ' ';
            else
                d = $('#select4').val().toString();
            if ($('#select5').val() == null)
                e = ' ';
            else
                e = $('#select5').val().toString();
            // console.log($('#select1').val().toString());
            // console.log("aaaaaaaaaaaaaaaaaaa",$('#select1').val().join(','),$('#select2').val().join(','), $('#select3').val().join(','),$('#select4').val().join(','));
           /* console.log("a=", a);
            console.log("b=", b);

            console.log("c=", c);

            console.log("d=", d);
            console.log("e=", e);
*/


            $.ajax({
                url: '/filterFiledata',
                method: 'post',
                data: {
                    'ni': a,
                    'nb': b,
                    'nd': c,
                    'nt': d,
                    'nr': e,
                    'searchbox': $("#searchBoxId").val()
                        
                },
                dataType: 'json',
                success: function(tabledata) {
                    console.log(tabledata);
                    var charstr = "";
                    charstr += '<thead><th>File Name</th><th>File Title</th><th>Author</th> <th>Upload Date</th><th>Action</th></thead><tbody>';
                    for (var i = tabledata.length - 1; i >= 0; i--) {
                        var bgstr = '';
                        if (tabledata[i].color == 'yellow') {

                            bgstr = 'style = "background-color:#ffffb3"';

                        }
                        charstr = charstr + '<tr id="row_' + tabledata[i].id + '"' + bgstr + '><td><a download= "" href= "./attach/' + tabledata[i].fpath + '">' + tabledata[i].name + '</a></td><td>' + tabledata[i].title + '</td><td>' + tabledata[i].author + '</td><td>' + tabledata[i].uploadDate + '</td><td><a title="view details"><i  onclick="editModel(' + tabledata[i].id + ')" style="max-width: 25px" class="fa fa-search"></i></a><a title="delete file" ><img src="./img/DeleteRed.png" onclick="deleteFile(' + tabledata[i].id + ')" style="max-width: 15px"></a></td></tr>';
                    }
                    charstr += '</tbody>';
                    otable.dataTable().fnDestroy();

                    $('#data_table').html(charstr);
                    otable = $("#data_table").dataTable({
                        "aLengthMenu": [
                            [10, 20, 50, 100, -1],
                            ["10", "20", "50", "100", "all"]
                        ],
                        destroy: true,
                        "iDisplayLength": 10,
                        /*used to display no of element  on page load or relaod*/
                        "showNEntries": true,
                        /* for displaying showing 10 out of 50 entries at left bottom corner*/
                        "bFilter": true,
                        /*dispalying search box at top right corner*/
                        "bLengthChange": true,
                        /*dispalying  show 10 out of 50 entries at top left corner*/
                        "aoColumnDefs": [{ //   "bSortable": false,
                            //  "aTargets": [0]
                        }],
                        "order": emptyArr /*we can provide order to every column "order": [[0,'asc'],[1,'des']] */

                    });
                    $('.se-pre-con').fadeOut('slow');

                },

                error: function() {
                   
                }



            });

        }

        $(document).on("keypress", '#searchBoxId', function(e) {
            if (e.which == 13) {
                filterdata();
                return false;
                //do some stuff
            }
        });

        function editModel(id1) {
            console.log(id1);
            $.ajax({
                url: '/viewFileDetails',
                type: 'post',
                data: {
                    "id": id1
                },
                success: function(data) {

                    console.log("sucessssss", data);
                    document.getElementById("title1").value = data[0][0].title;
                    document.getElementById("authname").value = data[0][0].author;
                    document.getElementById("desc").value = data[0][0].description;
                    document.getElementById("rest").value = data[0][0].restriction;
                    var temp = "";
                    for (var i = 0; i < data[1].length; i++) {
                        temp += data[1][i].doctype + ' , ';
                    }
                    document.getElementById("docType").value = temp.slice(0, -2);
                    temp = "";
                    for (var i = 0; i < data[2].length; i++) {
                        temp += data[2][i].industry + ' , ';
                    }
                    document.getElementById("industry").value = temp.slice(0, -2);
                    temp = "";
                    for (var i = 0; i < data[3].length; i++) {
                        temp += data[3][i].business + ' , ';
                    }
                    document.getElementById("business").value = temp.slice(0, -2);
                    temp = "";
                    for (var i = 0; i < data[4].length; i++) {
                        temp += data[4][i].technology + ' , ';
                    }
                    document.getElementById("tech1").value = temp.slice(0, -2);

                    temp = "";
                    for (var i = 0; i < data[5].length; i++) {
                        temp += data[5][i].restriction + ' , ';
                    }
                    document.getElementById("rest").value = temp.slice(0, -2);

                    /* alert($('tech1').val());*/

                }
            });
            $('#tag1').modal('show');
            /*$('.modal-backdrop.fade').css({
               'background-color':'rgba(0,0,0,0)'       
            });
              $("#tag1").draggable({
                   handle: ".modal-header"
               });*/


        }

        function maketablesearchbox() {

            var searchbox = $('#searchBoxId').val();
            /*  console.log(   " brfore search :",   searchbox.length);*/
            searchbox = searchbox.trim();
            /*console.log(   " search :",   searchbox.length);*/
            searchbox = searchbox
                //  alert(searchbox);
            $.ajax({
                url: '/tableSearchBox',
                method: 'post',
                data: {
                    'searchbox': searchbox
                },  
                success: function(tabledata) {
                    console.log(tabledata);

                    var charstr = "";
                    charstr += '<thead><th>File Name</th><th>File Title</th><th>Author</th> <th>Upload Date</th><th>Actio</th></thead><tbody>';
                    for (var i = tabledata.length - 1; i >= 0; i--) {
                        var bgstr = '';
                        if (tabledata[i].color == 'yellow') {

                            bgstr = 'style = "background-color:#ffffb3"';

                        }
                        charstr = charstr + '<tr id="row_' + tabledata[i].id + '"' + bgstr + '><td><a download= "" href= "./attach/' + tabledata[i].fpath + '">' + tabledata[i].name + '</a></td><td>' + tabledata[i].title + '</td><td>' + tabledata[i].author + '</td><td>' + tabledata[i].uploadDate + '</td><td><a title="view details"><i  onclick="editModel(' + tabledata[i].id + ')" style="max-width: 25px" class="fa fa-search"></i></a><a title="delete file"><img src="./img/DeleteRed.png" onclick="deleteFile(' + tabledata[i].id + ')" style="max-width: 15px"></a></td></tr>';
                    }
                    charstr += '</tbody>';
                    otable.dataTable().fnDestroy();

                    $('#data_table').html(charstr);
                    otable = $("#data_table").dataTable({
                        "aLengthMenu": [
                            [10, 20, 50, 100, -1],
                            ["10", "20", "50", "100", "all"]
                        ],
                        destroy: true,
                        "iDisplayLength": 10,
                        /*used to display no of element  on page load or relaod*/
                        "showNEntries": true,
                        /* for displaying showing 10 out of 50 entries at left bottom corner*/
                        "bFilter": true,
                        /*dispalying search box at top right corner*/
                        "bLengthChange": true,
                        /*dispalying  show 10 out of 50 entries at top left corner*/
                        "aoColumnDefs": [{ //   "bSortable": false,
                            //  "aTargets": [0]
                        }],
                        "order": [] /*we can provide order to every column "order": [[0,'asc'],[1,'des']] */

                    });
                },
                error: function() {
                 
                }
            });
        }
    </script>