<!DOCTYPE html>
<html lang="en">

   <% include ../partials/head %>
     <% include ../partials/adminheader %>
        <% include headerDoc.ejs %>
    <style type="text/css">
.dataTables_filter, .dataTables_length {
     display: none;
    }  
    </style>
    <body style="overflow-x:hidden">
     <div class="row  secondry-color">
            
            <div class="row table-responsive" style="padding:3%;padding-top:1%">
             <span class="modal-title" style=" padding-left:45%"> My Uploads </span>
               <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%"> 
               <div style="width:100%;overflow-x:auto">
                    <table id="myFiles" class="table table-striped table-bordered" cellspacing="0" width="100%" style="font-size:82%;ALIGN-CONTENT: CENTER;margin-top:1%">
                        <thead style=" background-color: #808080">
                        <tr>
                                <th>File Name</th>
                                <th>File Title</th>
                                <th>Author</th>
                                <th>Upload Date</th>
                                <th>Description</th>
                                <th>Total Downloads</th>
                                <th>File Rating</th>
                                 <th>Status</th>
                                 </tr>
                         </thead>
                        <tbody id="orderbody">
                            <%for(var i=myUploads[0].length-1;i>=0;i--) {%>
                                <tr class="" id = 'row_<%=myUploads[0][i].id%>'>
                                    <td><a download href="./attach/<%=myUploads[0][i].fpath%>"> <%=myUploads[0][i].name%></a></td>
                                    <td><%=myUploads[0][i].title%></td>
                                    <td><%=myUploads[0][i].author%></td>
                                    <td><%=myUploads[0][i].uploadDate%></td>
                                    <td><%=myUploads[0][i].description%></td>
                                   <td><%=myUploads[0][i].no_of_downloads%></td> 
                                   <td><%if(myUploads[0][i].Rating==null || myUploads[0][i].Rating==0){%>
                                        not yet rated.
                                        <%}else{%>
                                        <%for(var k=0;k<myUploads[0][i].Rating;k++){%>
                                        <i class="fa fa-star" style="color: #000000;" aria-hidden="true"></i>
                                         <%}%>
                                    <%}%>
                                    </td>
                                    <td style="text-align:center;font-size:12px">
                                    <%if(myUploads[0][i].isConfirmed==-1){%>
                                     <i title="pending" class="fa fa-ellipsis-h">
                                     <%}else if(myUploads[0][i].isConfirmed==0){%>
                                     <i title="Rejected" style="color:red" class="fa fa-times">
                                     <%}else{%>
                                     <i title="Approved" style="color:green" class="fa fa-check">
                                     <%}%>
                                    </td>
                                   
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                    </div>

              </div>
        </div>


 
      
 

<footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>

<script>
     var otable;
     $(document).ready(function(){
        $('.img-upl').addClass('active');

        otable = $("#myFiles").dataTable({
           "iDisplayLength": 10, 
            "showNEntries": true, 
            "bFilter": true,       
            "bLengthChange": true, 
            "aoColumnDefs": [{ 
                            }],
            "order": []       
      });
   $("#searchbox").keyup(function() {
        otable.fnFilter(this.value);
      });

     });
     </script>
